<div id="title_box">
  <div id="csr_main_img_position">
    <h1>External Assessments</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section Table-Dot">
<div class="Table-Wrapper">
  <table><caption class="Hidden"></caption><colgroup> <col style="width: 20%;" /> <col style="width: 55%;" /> <col style="width: 25%;" /> </colgroup>
  <tbody>
  <tr><th scope="row" class=" typesquare_option typesquare_option">July 2021</th>
  <td><p>"Post Office Kids Site" operated by Japan Post for the purpose of having children learn about letters and post offices while having fun has received the 2021 "JAPAN CHILD CARE ADVOCATE GRAND PRIZE" sponsored by Japan Child＆Family-Support Association.</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link Popup" href="https://www.post.japanpost.jp/kids/"><span>Post Office Kids Site</span></a> (Japanese)</li>
      <li><a class="Link Popup" href="http://www.jcfs-ac.jp/grandprize/"><span>About the JAPAN CHILD CARE ADVOCATE GRAND PRIZE</span></a> (Japanese)</li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td class="Text-Center">&nbsp;</td>
  </tr>
  
  <tr><th scope="row" class=" typesquare_option typesquare_option">April 2021</th>
  <td><p>Tokyo Teishin Hospital was selected for the "World's Best Hospitals 2021" ranking of medical institutions with excellent global standards by the U.S. weekly magazine, "Newsweek".</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link Popup" href="https://www.hospital.japanpost.jp/tokyo/about/besthospitals/index.html"><span>Tokyo Teishin Hospital was selected World's Best Hospitals 2021</span></a> (Japanese)</li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td class="Text-Center"><img src="/en/csr/images/evaluation_img_08.png" alt="World's Best Hospitals 2021" style="width: 107px;"></td>
  </tr>
  
  <tr><th scope="row" class=" typesquare_option typesquare_option">November 2020</th>
  <td><p>Japan Post Group has received the highest "Gold" status from the PRIDE Index in 2020. The PRIDE Index assesses companies' committment to improving the working environment for the LGBTQ employees in Japan.</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link Popup" href="https://workwithpride.jp/pride-i/"><span>About the PRIDE Index</span></a> (Japanese)</li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td><img src="/en/csr/images/evaluation_img_06.png" width="200" alt="" /></a></td>
  </tr>
  <tr><th scope="row" class=" typesquare_option typesquare_option">April 2020</th>
  <td><p>JP Children's Tree-Planting Campaign Tohoku Regeneration Green Wave by the Children's Tree-Planting Promotion Network (Specified Nonprofit Corporation), cosponsored by Japan Post Group, won the Outstanding Activity Award at the 2019 (15th) Association for Children's Environment Awards.</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link Popup" href="https://www.children-env.org/English/"><span>Association for Children's Environment</span></a></li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td>&nbsp;</td>
  </tr>
  <tr><th scope="row" class=" typesquare_option typesquare_option">March 2020</th>
  <td><p>Tokyo Teishin Hospital was selected for the "World's Best Hospitals 2020" ranking of medical institutions with excellent global standards by the U.S. weekly magazine, "Newsweek".</p>
  </td>
  <td class="Text-Center">&nbsp;</td>
  </tr>
  <tr><th scope="row" class=" typesquare_option typesquare_option">December 2019</th>
  <td><p>Four companies - Japan Post Co., Ltd., Seino Transportation Co., Ltd., Nippon Express Co., Ltd., and Yamato Transport Co., Ltd. - were granted for the special award at the 18th Green Partnership Conference for the use of their joint trunk transportation, "Super-Full Trailer SF25", across Kanto and Kansai regions.</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link Popup" href="https://www.post.japanpost.jp/notification/pressrelease/2019/00_honsha/1213_02.html"><span>Our joint trunk transportation, which uses the Super-Full Trailer SF25, won the special award for the excellent business operator at the 18th Green Partnership Conference</span></a> (Japanese)</li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td>&nbsp;</td>
  </tr>
  <tr><th scope="row">May 2019</th>
  <td><p>The four Japan Post Group companies (Japan Post Holdings, Japan Post, Japan Post Bank and Japan Post Insurance) were ranked first in the "Finance/Insurance" industry division of "Randstad Award: Employer Brand Research 2019" for the second year in a row.</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link" href="/csr/topics/2019_002.html">The four Japan Post Group companies were ranked first in the "Finance/Insurance" industry division of "Randstad Award: Employer Brand Research 2019" for the second year in a row.</a> (Japanese)</li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td><img src="/csr/images/evaluation_img_04.jpg" width="200" alt="" /></a></td>
  </tr>
  
  <tr><th scope="row">February 2019</th>
  <td><p>During the relocation of the head office to Otemachi, Chiyoda-ku, Tokyo, Japan Post Holdings worked to introduce office space with world-class environmental performance. Based on this project, it earned the LEED (Leadership in Energy and Efficient Design) CI (Commercial Interiors) Gold Certification from the U.S. Green Building Council (USGBC).</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link" href="/csr/topics/2019_003.html">The head office of Japan Post Holdings earned the LEED-CI 2009 Gold Certification.</a> (Japanese)</li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td class="Text-Center"><img src="/csr/images/evaluation_img_05.jpg" width="160" alt="" /></a></td>
  </tr>
  
  <tr><th scope="row">December 2018</th>
  <td><p>Japan Post Bank has been positively evaluated for its initiatives in ESG thus far, and has been included in the following Socially Responsible Investment (SRI) indices. The MSCI Japan Empowering Women Index (WIN) is an index composed of companies that are leading in promoting and maintaining gender diversity, created by MSCI.</p>
  <div class="Section List-General">
    <ul>
      <li>For details, please visit MSCI's web pages.</li>
      <li><a href="https://www.msci.com/msci-japan-empowering-women-index" class="Link Popup"><span>MSCI Japan Empowering Women Index (WIN)</span></a></li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td><img src="/csr/images/evaluation_img_03.png" width="200" alt="" /></a></td>
  </tr>
  
  <tr><th scope="row">February 2018</th>
  <td><p>The four Japan Post Group companies (Japan Post Holdings, Japan Post, Japan Post Bank and Japan Post Insurance) were ranked first in the "Finance/Insurance" industry division of "Randstad Award: Employer Brand Research 2018."</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link" href="/csr/topics/2017_004.html">The four Japan Post Group companies were ranked first in the "Finance/Insurance" industry division of "Randstad Award: Employer Brand Research 2018."</a> (Japanese)</li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td><img src="/csr/images/evaluation_img_02.jpg" width="200" alt="" /></td>
  </tr>
  
  <tr><th scope="row">September 2017</th>
  <td><p>JP Children's Tree Planting Campaign "Tohoku Regeneration Green Wave" was recognized as an initiative contributing to the Green Wave activities by the Japan Committee for the United Nations Decade on Biodiversity (UNDB-J).</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link" href="/csr/kids/report11.html">JP Children's Tree Planting Campaign "Tohoku Regeneration Green Wave" was granted a certificate for an initiative contributing to the Green Wave activities by the Japan Committee for the United Nations Decade on Biodiversity (UNDB-J).</a> (Japanese)</li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td><img src="/csr/images/evaluation_img_01.jpg" width="200" alt="" /></td>
  </tr>
  
  </tbody>
  </table>
</div>
<!-- end .Section.Table-Dot --></div>

<h2 class="Header">Related information</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/en/csr/">Japan Post Group Sustainability</a></li>
    <li><a class="Link" href="/en/csr/index02.html">Japan Post Group CSR Basic Policy</a></li>
    <li><a class="Link" href="/en/csr/materiality.html">CSR Priority Issues (Materiality) of Japan Post Group</a></li>
 </ul>
<!-- end .Section.List-General --></div>
