<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>ゆうちょアイデア貯金箱コンクール</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="" src="/sustainability/society/images/index05_img_07.jpg" style="width: 240px" />
<p class="Caption Text-Right">入賞作品展示会（2019年12月～2020年3月）</p>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text" style="overflow:visible;">
<div class="Box">
<p>ゆうちょ銀行は、小学生が貯金箱の作製を通じて造形的な創造力を伸ばすとともに、貯蓄に対する関心を高めることを目的として、「ゆうちょアイデア貯金箱コンクール」を開催しています。このコンクールは、郵便貯金事業の創業100周年を記念して1975年に始めたもので、2019年度で第44回を迎えました。</p>
<p>2019年度の第44回には、日本全国の10,704校の小学校から718,593作品の参加がありました。各小学校での審査を通過した応募作品の中から、一次審査（写真審査）を経て、特に優秀と認められた240作品が最終審査（現品審査）に進出し、厳正な審査の結果、「文部科学大臣賞」「ゆうちょ銀行賞」「ゆうびんきょく賞」「審査員特別賞」「すてきなデザイン・アイデア賞」を決定しました。<br>
  これらの受賞作品は、2019年12月から2020年3月にかけて、全国7会場（東北・関東・東京・中部・関西・中国・九州）で展示し、多くの方にご覧いただくとともに、各展示会場では、「貯金箱作製ワークショップ」等のイベントも開催しました。</p>
<p class="Text-Center"><img class="sp_w90" src="/sustainability/society/images/piggy_bank_01.jpg" alt="受賞作品"></p>
<p>2019年度は、ご参加いただいた作品1点につき10円（総額7,185,930円）を、ゆうちょ銀行から公益財団法人日本ユニセフ協会、独立行政法人国際協力機構（JICA）および公益財団法人ジョイセフに寄附しました。<br>
  寄附金は、開発途上国で貧困や病気に苦しむ子どもたちのよりよい生活のために役立てられます。あわせて、ジョイセフには、ノート等の文房具約40,000点を寄贈し、アフガニスタンの子どもたちに届けられました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.jp-bank.japanpost.jp/aboutus/csr/action/community/abt_csr_act_cmt_concours.html" class="Link Popup"><span>ゆうちょアイデア貯金箱コンクール</span></a>-ゆうちょ銀行</li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/society/"><span>地域社会と共に</span></a></li>
  </ul>
<!-- end .Section --></div>