<div id="title_box">
  <div id="csr_main_img_disaster">
      <h1>災害への対応</h1>
  </div>
</div>
<!-- /#title_box-->


<div class="Section">
  <p>大規模災害発生時には災害復旧支援を迅速に行っています。地方公共団体、NPO、他企業と連携しながら、災害に強く安心して暮らせる地域づくりを進めています。</p>
  <!-- end .Section -->
</div>

<h2 class="Header">被災者に対する支援</h2>

<div class="Section">
<p>天災、その他非常災害発生時に、被害に遭われたお客さまに対する非常取り扱いなどの支援を実施しています。</p>
<div class="Section Table-Border">
  <table>
    <colgroup>
      <col width="8%">
      <col width="92%">
    </colgroup>
    <tbody>
      <tr>
        <th class="BG-Gray" scope="row">郵便</th>
        <td>
          <ul class="Normal">
            <li>被災者などの救助を行う団体に宛てた災害義援金を内容とする現金書留郵便物の料金免除</li>
            <li>被災者への郵便はがきなどの無償交付</li>
            <li>被災者が差し出す郵便物の料金免除</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th class="BG-Gray" scope="row">貯金</th>
        <td>
          <ul class="Normal">
            <li>被災地支援のための日本赤十字社、共同募金会、地方公共団体などにあてた災害義援金の無料送金</li>
            <li>貯金通帳紛失時の通常貯金などの払い戻し</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th class="BG-Gray" scope="row">保険</th>
        <td>
          <ul class="Normal">
            <li>保険料の払込猶予期間の延伸、必要書類を一部省略するなどの非常取扱い</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- end .Section.Table-Border -->
</div>
</div>

<h3 class="Header">災害発生時の取り組み</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img style="width: 374px; max-width: 100%;" src="/sustainability/society/images/west_japan_disaster_img_05.jpg" alt="災害発生時の取り組み"></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>大規模な自然災害発生時には、災害義援金を内容とする現金書留郵便物の料金免除や貯金通帳紛失時の通常貯金等払い戻し、保険金などの非常即時払いなどの非常取り扱いを実施しているほか、車両型郵便局を現地に派遣して被災者の皆さまを支援しています。</p>
      <p class="Link"><a href="https://www.post.japanpost.jp/about/csr/society/index.html#05_01" class="Link Popup"><span>被災者に対する支援</span></a>-日本郵便</p>
    </div>
  </div>
</div>

<div class="Section Table-Border">
  <table class="bordernone">
    <colgroup>
      <col width="20%">
      <col width="30%">
      <col width="20%">
      <col width="30%">
    </colgroup>
    <thead>
      <tr>
        <th class="BG-Gray" scope="col">&nbsp;</th>
        <th class="BG-Gray" scope="col">派遣場所</th>
        <th class="BG-Gray" scope="col">&nbsp;</th>
        <th class="BG-Gray" scope="col">派遣場所</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="BG-Gray" scope="row">令和元年台風15号</th>
        <td>布良郵便局（千葉県）</td>
        <th class="BG-Gray" scope="row" rowspan="2">令和2年7月豪雨災害</th>
        <td>人吉郵便局（熊本県）</td>
      </tr>
      <tr>
        <th rowspan="2" class="BG-Gray" scope="row">令和元年台風19号</th>
        <td>長沼郵便局（長野県）</td>
        <td>坂本郵便局（熊本県）</td>
      </tr>
      <tr>
        <td>梁川郵便局（福島県）</td>
        <th class="BG-Gray" scope="row">&nbsp;</th>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <!-- end .Section.Table-Border -->
</div>

<h3 class="Header">避難所への配達</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img src="/sustainability/society/images/society_21.jpg" alt="避難所への配達"></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>大規模災害が発生し被害の大きい地域では、長期間、お客さまが体育館や公民館などの避難所での生活を余儀なくされる場合があります。郵便局では、被災地の地方公共団体と連携して、避難所に避難されているお客さまに郵便物やゆうパックの配達を行っています。</p>
    </div>
  </div>
</div>

<h3 class="Header">窓口の臨時営業・避難所への出張サービス</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Text">
    <div class="Box">
      <p>郵便局では、大規模災害発生時において、お客さまのご不便を少しでも解消するため、土日休日における窓口の臨時営業や避難所への訪問により、貯金の非常取扱いなどのサービス提供を行っています。</p>
    </div>
  </div>
</div>

<h3 class="Header">その他の取り組み</h3>
  <h4 class="Header ml10"><strong>被災地域への物資の支援、ボランティア活動</strong></h4>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img src="/sustainability/society/images/society_22.jpg" alt="その他の取り組み">
      <p class="Caption">宮城県丸森郵便局社員によるボランティア活動</p>
    </div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>令和元年台風第19号の被災地支援として、日本郵便本社や支社、郵便局に非常用として備蓄している飲料水（2L×6本入り）やタオルを被災地域へ送りました。<br />
        またボランティア休暇を取得した社員109名を含め、多くの社員が自発的にボランティア活動に参加し、清掃や片付け等、復旧のサポートを行いました。
      </p>
    </div>
  </div>
</div>

<h4 class="Header ml10"><strong>かんぽの宿 阿蘇　星空観賞会の開催</strong></h4>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img style="width: 374px; max-width: 100%;" src="/sustainability/society/images/corona_03.jpg" alt="かんぽの宿 阿蘇 星空観賞会"></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>2021年3月には、かんぽの宿 阿蘇にて、天体望遠鏡や双眼鏡を使った星空観賞会を開催。2020年7月の熊本水害で被災した中学生25名ほどを招待し、旅の思い出づくりを応援しました。</p>
    </div>
  </div>
</div>

<h2 class="Header">防災・減災の取り組み</h2>
<h3 class="Header">地方公共団体との連携</h3>
<div class="Section ">
  <div class="Grid-Column Text">
    <div class="Box">
      <p>郵便局ネットワークを活用した災害時の迅速な対応と地域の課題解決を目指し、地方公共団体の皆さまと包括連携協定を締結しています。配達等の業務中に発見した各地域の被害・道路の損害状況等の情報提供や、災害時における避難所への支援などに取り組み、地方公共団体の皆さまと連携して災害に強いまちづくりを進めます。</p>
    </div>
  </div>
  <div class="Grid-Column Image">
    <p>（連携協定事例）</p>
    <div class="society_prevension_local--pics">
      <div class="Image Text-Center">
        <figure>
          <img src="/sustainability/society/images/society_23.jpg" alt="岩手県大船渡市　包括的連携締結日：2021年6月4日">
          <p class="Caption">岩手県大船渡市<br />包括的連携締結日：2021年6月4日</p>
        </figure>
      </div>
      <div class="Image Text-Center">
        <figure>
          <img src="/sustainability/society/images/society_24.jpg" alt="宮城県東松島市　包括的連携締結日：2020年10月1日">
          <p class="Caption">宮城県東松島市<br />包括的連携締結日：2020年10月1日</p>
        </figure>
      </div>
    </div>
  </div>
</div>

<h3 class="Header">NPOとの連携</h3>
<div class="Section List-General">
  <p>日本郵政グループは、2008年から、NPO法人子どもの森づくり推進ネットワークが取り組む、森づくり体験プログラムに賛同し、「JP子どもの森づくり運動」の名称のもと、全国の保育園・幼稚園・こども園の園児の森づくり体験活動を支援しています。<br />
  同運動では、東北の緑の復興への願いを込めて被災地にどんぐりの苗を植える「JP子どもの森づくり運動 東北復興グリーンウェイブ」 のほか、専門家による「保育防災アクションマイスター認定講座」を開催し、保育防災の取り組みを推進しております。
  </p>
  <ul>
    <li><a class="Link" href="/sustainability/environment/kodomono_mori/"><span>JP子どもの森づくり運動</span></a></li>
  </ul>
</div>

<h3 class="Header">他企業との連携</h3>
<div class="Section List-General">
  <p>NHK、NTT、ローソンといった企業との連携を進め、災害時の迅速な対応や地域の発展に向け取り組んでいます。</p>
  <h4><strong>NHKとの「防災・減災に関する連携協定」の締結</strong></h4>
  <p>災害時の迅速な対応に向け、日本郵政および日本郵便は2021年3月、日本放送協会（NHK）と「防災・減災に関する連携協定」を締結しました。平常時から定期的な協議の開催、防災情報の周知に取り組み、災害発生時には、被災地域の被害状況や周辺情報の提供を行います。</p>
  <!-- end .Section -->
</div>
<div class="Section Table-Border">
  <table>
    <colgroup>
      <col style="width: 50%;">
      <col style="width: 50%;">
    </colgroup>
    <thead>
      <tr>
        <th class="BG-Gray Text-Center" scope="col">災害発生時</th>
        <th class="BG-Gray Text-Center" scope="col">平常時</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><strong>被災地域の被害状況や周辺情報の提供</strong></p>
          <ul class="List-Disc">
            <li>災害時、業務に支障のない範囲で、被災地域の被害状況などの情報をNHKに提供し、NHKは放送などを通じて地域住民に伝達</li>
            <li>日本郵便の支社や郵便局が被害状況を把握するために撮影した動画・静止画のうち提供可能なものについて、NHKに提供</li>
            <li>被災地域に近い郵便局長などがNHKからの取材に応じる</li>
            <li>被災地域の郵便物の配達などをはじめとする郵便局のサービス状況を提供</li>
          </ul>
        </td>
        <td>
          <p><strong>定期的な協議の開催</strong></p>
          <ul class="List-Disc">
            <li>日本郵政および日本郵便とNHKの本部レベルで、災害時および平常時における連携の具体化について定期的に協議</li>
          </ul>
          <p><strong>防災情報の周知</strong></p>
          <ul class="List-Disc">
            <li>NHKの防災情報についてのポスター・チラシを郵便局に設置し周知</li>
            <li>災害情報の把握方法について、NHKが日本郵便の支社や郵便局を対象に講習会などを開催</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="Header">その他の取り組み</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <figure>
        <img src="/sustainability/society/images/society_26.jpg" alt="JPタワー「KITTE」（東京都　千代田区）">
        <figcaption>ＪＰタワー「ＫＩＴＴＥ」（東京都　千代田区）</figcaption>
      </figure>
    </div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p><strong>不動産事業における防災機能の確保</strong><br />不動産事業ではＪＰタワー等の大型ビルや今後の新規開発物件において、地域防災として帰宅困難者支援のための一時受入れ場所の設置等、利用者・地域に配慮した防災機能の確保に努めています。</p>
    </div>
  </div>
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
