<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>障がい者アーティストの支援</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="" src="/sustainability/society/images/index13_img_01.jpg" style="width: 200px" />
<p class="Caption Text-Center">オリジナルクリアファイル<br>第五弾（2019年度作製）<br>作品名：Enjoy<br>作者：Kei（けい）氏<br>（Able Art Company所属）</p>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>ゆうちょ銀行は、障がい者の自立支援の一助とするため、素晴らしい才能を持つ障がい者アーティストに、作品発表の機会を提供しています。</p>
<p>障がい者アーティストの描いた作品を使用したオリジナルクリアファイルを作製し、ゆうちょ銀行の窓口などで配布しています。<br>
また、複数のアーティストに作品発表の場を提供することを目的に、2019年12月29日～30日、ＫＩＴＴＥ（東京）において4名の障がい者アーティストの作品（全16作品）を紹介しました。</p>
<p>展示会の模様などは、ゆうちょ銀行のWebサイトで詳しく紹介しています。</p>
<p><a class="Link Popup" title="別ウィンドウで表示します" href="https://www.jp-bank.japanpost.jp/aboutus/csr/action/community/abt_csr_act_cmt_cldart.html"><span>障がい者アーティストの支援</span></a>-ゆうちょ銀行</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/society/"><span>地域社会と共に</span></a></li>
  </ul>
<!-- end .Section --></div>