<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>ＪＰタワー商業施設「ＫＩＴＴＥ」館内と東京駅地下通路における高精度音声ナビゲーション実証実験の実施</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="" src="/sustainability/society/images/estate_img_06.jpg" style="width: 240px" />
<p class="Caption Text-Right">実証実験を行ったエリア</p>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text" style="overflow:visible;">
<div class="Box">
<p>日本郵政不動産は、2019年4月から6月にかけて、ＪＰタワー商業施設「ＫＩＴＴＥ（キッテ）」館内及び東京駅地下通路（東京メトロ丸ノ内線東京駅改札からＫＩＴＴＥまで）を対象に、スマートフォン・アプリを活用した高精度音声ナビゲーション<a href="#Annotation_01">（注1）</a>の実証実験<a href="#Annotation_02">（注2）</a>を行いました。<br>
今後は、実証実験に参加された方を対象としたアンケート等の実験結果について、来訪される方の利便性や不動産の付加価値の向上に有効であるかについて検証を行い、以後開発を予定する施設への導入を検討します。</p>
<p id="Annotation_01">（注1）高精度音声ナビゲーションの概要
<ol class="List"><li>
<div class="MkrItem__Body">高精度音声ナビゲーションは、あらゆる方々に対して外国語を含めた音声対応により、それぞれに適した誘導方法で、屋内1.5m程度という高精度な位置情報で屋内外をシームレスに案内します。また、テナント店舗、トイレ、授乳室などで「いま、空いているか」が分かった上で、ルート案内をすることも可能です。</div></li></ol></p>
<p id="Annotation_02">（注2）実証実験の目的
<ol class="List"><li>
<div class="MkrItem__Body">今回の実証実験を通して、高精度音声ナビゲーション等の先進テクノロジー活用が、来訪されるお客さまの利便性向上などによる不動産の価値向上に有効であるかを検証するものです。<br>
また、国及び東京都が推進する「バリアフリー・ユニバーサルデザイン」普及の一環として、障がい者・高齢者・妊婦・子ども連れや外国人観光客など、誰もがスムーズに目的地に移動できる利用しやすい施設・環境整備にも貢献するものです。</div></li></ol>
</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<h2 class="Header"><span>高精度音声ナビゲーションアプリの利用シーン</span></h2>
<div class="Section">
<p>高精度音声ナビゲーションアプリは、音声対話により目的地候補の提案を行ったり、ご利用される方の特性に応じた最適なルートのご案内をします。また、ＫＩＴＴＥおすすめのビュースポットへのご案内もします。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="750" alt="" src="/sustainability/society/images/estate_img_01.jpg"></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>
<h2 class="Header"><span>ご利用される方の特性に応じたナビゲーション</span></h2>
<div class="Section">
<p>ご利用される方の特性（視覚障がい者、車いす利用者、ベビーカー利用者、一般歩行者）に配慮した最適ルートを提示し、ご利用の方の使用言語に合わせて、日本語・英語・中国語・韓国語の4か国語にて目的地まで音声ナビゲーションをします。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="700" alt="" src="/sustainability/society/images/estate_img_02.jpg"></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<h2 class="Header">高精度ナビゲーションを体験された方の様子</h2>
<div class="Section">
<p>実証実験では、車いす利用者や視覚障がいのある方など、さまざまな方に高精度音声ナビゲーションアプリをご体験いただきました。車いすの方には段差を避けた最短のルートをご案内し、視覚障がいのある方には点字ブロックやエレベータを優先したルートをご案内しました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/society/images/estate_img_04.jpg" alt="" />
<p class="Caption">車いす利用者の方がアプリを利用している様子</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/society/images/estate_img_05.jpg" alt="" />
<p class="Caption">視覚障がいのある方がアプリを利用している様子</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header">体験していただいた初瀬勇輔選手（視覚障害者柔道）の感想</h3>
<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="" src="/sustainability/society/images/estate_img_03.jpg" style="width: 240px" />
<p class="Caption Text-Right">ナビゲーションを体験された初瀬勇輔選手</p>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>視覚障がいのある自分がITを使用することで、大きな施設の中でも独力でちゃんとお店に辿り着くことができることを体感しました。自分で探して、自分で選択して、自分でお店まで歩くというのはとても気持ちのいいものでした。<br>
そして精度の高さに驚きました。ほとんどの実験でお店のドア付近にたどり着くことができました。実はこれが一番すごいことで素晴らしいことです。</p>
<p>ITと人の融合が本当の意味でのユニバーサルな社会を作っていくのだと考えていますが、高精度音声ナビゲーションはまさにその大きな力になると思いました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<div class="Section List-General">
  <ul>
    <li>関連プレスリリース<br><a href="https://www.jp-re.japanpost.jp/news/pdf/190415.pdf" class="Link PDF"><span>ＪＰタワー商業施設「ＫＩＴＴＥ」館内＆東京駅地下通路における高精度音声ナビゲーション実証実験の実施</span></a>-日本郵政不動産</li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのCSR</span></a></li>
    <li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
    <li><a class="Link" href="/csr/society/"><span>地域社会と共に</span></a></li>
  </ul>
<!-- end .Section --></div>