<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>金融教育</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="" src="/sustainability/society/images/index04_img_01.jpg" style="width: 300px" />
<p class="Caption Text-Center">学年別オリジナル教材</p>
</div>
<div class="Image Text-Center">
<img alt="" src="/sustainability/society/images/edc_img_02.png" style="width: 300px" />
<p class="Caption Text-Center">2020年度に作成した補助教材</p>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>ゆうちょ銀行は、小・中学生を対象に、学校への出前授業などの金融教室を開催しています。</p>
<p>オリジナルの教材を使用して、お金の大切さ、お金との付き合い方を伝えることで、子どもたちが正しい金銭感覚を身に付けられるよう育成をお手伝いしています。</p>
<p>電子マネーの普及など、お金に関して子どもを取り巻く環境が大きく変わっている中、青少年がお金のトラブルに巻き込まれるケースが増えていることから、社会の各方面から金融教育を求める声が高まっています。<br>
地域の中で伸び伸びと育つ子どもたちにお金の大切さを伝え、お金との付き合い方をしっかりと学んでもらうこと、それこそが地域に根ざした金融機関であるゆうちょ銀行が果たすべき社会的責任であると考えます。</p>
<p>2014年～2020年までの7年間の間に、全国の小・中学校などでのべ500回実施をしました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header"><span>出前授業の様子</span></h3>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/society/images/index04_img_02.jpg" />
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/society/images/index04_img_03.jpg" />
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.jp-bank.japanpost.jp/csr/esg/social/community/csr_esg_scl_cmt_finance.html" class="Link Popup" target="_blank"><span>金融教育</span></a>-ゆうちょ銀行</li>
  </ul>
<!-- end .Section --></div>

<div class="Section Col-Border">
<div class="Grid-Column BG-Gray">
<div class="Section List-General">
<p>「金融教育」の取り組みは、動画でもご紹介しています。</p>
  <ul>
    <li><a class="Link" href="/csr/movie/2017_004.html"><span>ゆうちょ銀行「金融教育」【CSRムービー】</span></a></li>
  </ul>
<!-- end .Section.List-General --></div>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/society/"><span>地域社会と共に</span></a></li>
  </ul>
<!-- end .Section --></div>