<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>外国人のお客さまに対するご案内の充実</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="" src="/sustainability/society/images/index33_img_01.jpg" style="width: 300px" />
<p class="Caption Text-Center">外国人のお客さまへの案内の様子</p>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵便では、外国人のお客さまに安心して郵便局をご利用いただけるよう、2018年4月から、全国約2万か所の郵便局で、タブレット端末を用いた多言語翻訳アプリの使用を開始しました。</p>
<p>日本国内で購入した土産物などの送付や、ゆうちょ銀行の口座開設および送金サービスの利用のために郵便局を訪れる外国人のお客さまに対して、このアプリを使用し、サービスの向上を目指しています。</p>
<p>また、お客さまからの質問が多い事項を、定型文として新たに追加し、円滑なコミュニケーションを行えるよう取り組んでいます。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section Col-Border">
<div class="Grid-Column BG-Gray">
<h3 class="Header"><span>音声認識11言語</span></h3>
<p>日本語、英語、中国語（普通話）、韓国語、インドネシア語、タイ語、ベトナム語、ミャンマー語、ポルトガル語（ブラジル）、フランス語、スペイン語</p>
<h3 class="Header"><span>テキスト入力30言語</span></h3>
<p>＜上記音声認識対応言語のほか、以下19言語＞<br>
アラビア語、イタリア語、オランダ語、台湾華語（繁体字）、デンマーク語、ドイツ語、ヒンディ語、ポルトガル語、マレー語、ロシア語、フィリピン語、ウルドゥ語、クメール語、シンハラ語、トルコ語、ネパール語、ハンガリー語、モンゴル語、ラーオ語</p>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border --></div>

<h3 class="Header">お客さまの声</h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="" src="/sustainability/society/images/index33_img_02.jpg" style="width: 200px" />
<p class="Caption Text-Center">左：カンチャン・スーニールさま<br>右：セレスト・スーニールさま</p>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>郵便局のスタッフはとてもフレンドリーで、困っているとすぐ声をかけてくれるので、行きやすいし大切な場所です。</p>
<p>タブレット端末を使った多言語アプリにより、郵便局の専門的な用語などがわからなくてもスタッフと円滑なコミュニケーションをとることができます。日本に住んでいる私たち外国人にとって、とても便利で頼もしいツールです。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.post.japanpost.jp/about/csr/society/#07_02" class="Link Popup" target="_blank"><span>外国人のお客さまに対するご案内の充実</span></a>-日本郵便</li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/society/"><span>地域社会と共に</span></a></li>
  </ul>
<!-- end .Section --></div>