<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>健康応援アプリ「すこやかんぽ」</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/csr/society/images/healthapp_img_01.jpg" class="sp_w80"/>
<p class="Caption Text-Center">スタンダードメニュー（左）とプレミアムメニュー（右）</p>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text" style="overflow:visible;">
<div class="Box">
<p>生命保険事業に求められる役割は、病気・ケガになった際の保障を提供するという従来型サービスの提供から、病気・ケガの予防又は健康を維持・増進させるサービスの提供へと変化しています。かんぽ生命保険としても、こうした役割を担うため、健やかで豊かな人生づくりの支援に積極的に取り組んでいく方針です。</p>
<p>その支援策の一つとして、手軽に健康づくりに取り組める健康応援アプリ「すこやかんぽ」を対象の方に無料で提供しています。「すこやかんぽ」アプリは、誰でもご利用いただける「スタンダードメニュー」と、保険契約者さま等を対象とした「プレミアムメニュー」の2メニューで展開しています。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section List-General">
  <ul>
     <li><a href="https://www.jp-life.japanpost.jp/health/exercise/health-app/kna_index.html" class="Link Popup" target="_blank"><span>かんぽ生命の健康応援アプリ「すこやかんぽ」</span></a>-かんぽ生命</li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/society/"><span>地域社会と共に</span></a></li>
  </ul>
<!-- end .Section --></div>