<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>逓信病院の取り組み</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政が運営している逓信病院（ていしんびょういん）では、地域の皆さまの健康を守るため、安全で良質な医療サービスを提供しています。また、地域社会に貢献するため、様々な取り組みを行っています。</p>
<!-- end .Section --></div>

<h2 class="Header">広島逓信病院旧外来棟被爆資料室の寄付</h2>
<div class="Section">
<p>日本郵政では、被爆の記憶を伝える貴重な建物として広島逓信病院旧外来棟の一部を改修し、資料室として公開してきました。広島逓信病院旧外来棟資料室を被爆の記憶として継承し、より多くの方にこの資料室を見学していただくため、広島市で管理していただくことが相応しいと考え、2018年7月1日付で、広島市に寄付いたしました。</p>
<p>2018年6月29日、当社の福本常務執行役が広島市役所を訪れ、広島市の松井市長に目録を手渡しました。松井市長からは感謝状をいただきました。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="600" alt="" src="/sustainability/society/images/index14_img_15.jpg">
<p class="Caption">広島市の松井市長から感謝状をいただきました</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<h3 class="Header">広島逓信病院旧外来棟被爆資料室について</h3>
<div class="Section">
<p>1935年（昭和10年）に建築家山田守氏の設計で立てられた鉄筋コンクリート造りの旧広島逓信局関係の附属病院の建物で、窓を大きく開けた開放的なデザインが特徴です。</p>
<p>1945年（昭和20年）8月6日原爆投下時に、爆風はこれらの窓を吹き飛ばしましたが倒壊は免れました。医師や看護婦にも死者や負傷者が出る中、すぐさま被爆者の応急処置を行なった様子などが写真で紹介されており、爆風で曲がってしまった窓枠など、当時のつめ後をとどめた建物は、平和のあり方を考える物的な記憶として大切に保存されています。</p>
<p>広島逓信病院旧外来棟被爆資料室は、1995年（平成7年）8月に、被爆50周年記念施策の一環として、当時の中国郵政局が旧外来棟の一室を被爆資料室として改修し、資料室として公開しました。被爆資料室では被爆当時のタイルが残る旧手術室と旧消毒室や被爆に関する資料を公開しています。今後も広島市において、見学をご希望の方には無料で公開します。</p>
<!-- end .Section --></div>

<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/corporate/museum/index05.html"><span>広島逓信病院旧外来棟被爆資料室</span></a></li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">東京都災害拠点連携病院としての取り組み（東京消防庁総合震災消防訓練への参加）</h2>
<div class="Section">
<p>2017年11月28日、東京消防庁による大規模総合震災消防訓練が行われ、東京逓信病院も災害拠点連携病院として訓練に参加しました。震度5強以上の地震が発生したのを皮切りに地震が続発して被害が拡大していく想定で、傷病者を受け入れる訓練を行いました。<br>今回の訓練は、東京逓信病院を含む6会場で実施され、消防ヘリや船舶を用いた訓練が行われるなど、非常に大規模なものでした。</p>
<p>訓練当日には、東京消防庁や千代田区保健所など多くの方にお越しいただき、駐車場での緊急医療救護所用テント設営、無線での報告訓練、傷病者の受け入れ及びトリアージ（治療や搬送の優先順位を付ける）訓練などを行いました。<br>
特にトリアージ訓練では、けがのメイクを施した重症者など200名ほどの傷病者役の方が、救急車やバスで搬送されてきました。本番さながらの緊迫した雰囲気の中、医師や看護師だけでなく、様々な職種のスタッフが協力して訓練を行いました。また、1階ロビーにおいて、医師、看護師による傷病者への簡易処置訓練も実施し、大きな混乱もなく無事に終了しました。</p>
<p>これほど大規模な訓練への参加は初めてでしたが、日ごろ定期的に実施している防災訓練の成果を発揮し、スタッフ全員が協力してスムーズに対応することができました。</p>
<p>また、今回の協力に際して、東京消防庁消防総監から感謝状をいただきました。</p>
<!-- end .Section --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image Text-Center"><img src="/sustainability/society/images/index14_img_01.jpg" alt="" />
<p class="Caption">トリアージ訓練の様子</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image Text-Center"><img src="/sustainability/society/images/index14_img_02.jpg" alt="" />
<p class="Caption">患者搬送訓練の様子</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image Text-Center"><img src="/sustainability/society/images/index14_img_03.jpg" alt="" />
<p class="Caption">ロビーでの簡易処置訓練の様子1</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image Text-Center"><img src="/sustainability/society/images/index14_img_04.jpg" alt="" />
<p class="Caption">ロビーでの簡易処置訓練の様子2</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="600" alt="" src="/sustainability/society/images/index14_img_05.jpg">
<p class="Caption">消防総監から感謝状をいただきました</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<hr class="demarcation">
<div class="associated_info">
  <dl>
    <dt>逓信病院の取り組みは、各逓信病院のWebサイトでもご紹介しています。</dt>
    <dd><a href="http://www.hospital.japanpost.jp/" class="Link Popup" target="_blank"><span>逓信病院</span></a>-逓信病院のWebサイトが開きます</dd>
  </dl>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/society/"><span>地域社会と共に</span></a></li>
  </ul>
<!-- end .Section --></div>