<div id="title_box">
  <div id="csr_main_img_social">
      <h1>地域社会と共に</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/society/images/title_box_sdgs_03.png" alt="3：すべての人に健康と福祉を">
    <img src="/sustainability/society/images/title_box_sdgs_04.png" alt="4：質の高い教育をみんなに">
    <img src="/sustainability/society/images/title_box_sdgs_09.png" alt="9：産業と技術革新の基盤をつくろう">
    <img src="/sustainability/society/images/title_box_sdgs_11.png" alt="11：住み続けられるまちづくりを">
  </p>

</div>
<!-- /#title_box-->

<div class="Section">
  <h4><strong>地域社会と共に歩み、地域社会と共に発展するために。</strong></h4>
  <p>私たちは、全国の郵便局ネットワークを通じ、皆さまの生活の基盤を支える社会インフラとしての役割を着実に果たし、地域から愛され、お客さまから選ばれる日本郵政グループを目指します。</p>
</div>

<div class="Section Col">
  <div class="Grid-Column">
    <div class="Image Text-Center"><img src="/sustainability/society/images/society_01.png" alt="2025年に目指す姿"></div>
  </div>
</div>

<div class="BoxArea Col2-Border1">
  <div class="box_left post1 Grid-Column sus_post" id="soc01">
    <div class="Box">
      <dl>
        <dt>
          <a href="/sustainability/society/local_communities/">
            <span>地域社会の発展・活性化</span>
            <div class="priority">CSR重点課題</div>
          </a>
        </dt>
        <dd>
          <span>誰もが安心して暮らせる、持続可能な社会のために</span>
          <ul>
            <li><a class="Link" href="/sustainability/society/local_communities/#drone"><span>次世代モビリティを活用した物流効率化の取り組み</span></a></li>
            <li><a class="Link" href="/sustainability/society/local_communities/#fund"><span>地域活性化ファンド</span></a></li>
            <li><a class="Link" href="/sustainability/society/local_communities/#real_estate"><span>社会ニーズに対応した不動産開発事業</span></a></li>
            <li><a class="Link" href="/sustainability/society/local_communities/others.html"><span>その他の取り組み</span></a></li>
          </ul>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_left-->
  <div class="box_right post1 Grid-Column sus_post" id="soc02">
    <div class="Box">
      <dl>
        <dt>
          <a href="/sustainability/society/next_generation/">
            <span>次世代育成</span>
            <div class="priority">CSR重点課題</div>
          </a>
        </dt>
        <dd>
          <span>未来を担う子どもたちのために</span>
          <ul>
            <li><a class="Link" href="/sustainability/society/next_generation/#kids"><span>ゆうびんきょくキッズサイト</span></a></li>
            <li><a class="Link" href="/sustainability/society/next_generation/#class"><span>ゆうちょ金融教室</span></a></li>
            <li><a class="Link" href="/sustainability/society/next_generation/#concours"><span>「第75回全日本学生音楽コンクール」への協賛</span></a></li>
            <li><a class="Link" href="/sustainability/society/next_generation/others.html"><span>その他の取り組み</span></a></li>
          </ul>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_right-->
</div>

<div class="BoxArea Col2-Border1">
  <div class="box_left post1 Grid-Column sus_post" id="soc03">
    <div class="Box">
      <dl>
        <dt>
          <a href="/sustainability/society/healthy_living/">
            <span>健康的な暮らしの促進</span>
            <div class="priority">CSR重点課題</div>
          </a>
        </dt>
        <dd>
          <span>あらゆる年齢の人々が健康的でいきいきと暮らすために</span>
          <ul>
            <li><a class="Link" href="/sustainability/society/healthy_living/#drug_store"><span>薬局との連携</span></a></li>
            <li><a class="Link" href="/sustainability/society/healthy_living/#sukoyakanpo"><span>健康応援アプリ「すこやかんぽ」</span></a></li>
            <li><a class="Link" href="/sustainability/society/healthy_living/#excercise"><span>ラジオ体操の普及促進</span></a></li>
            <li><a class="Link" href="/sustainability/society/healthy_living/#hospital"><span>逓信病院の取り組み</span></a></li>
            <li><a class="Link" href="/sustainability/society/healthy_living/others.html"><span>その他の取り組み</span></a></li>
          </ul>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_left-->
  <div class="box_right sus_post1 Grid-Column" id="soc04">
    <div class="Box2">
      <dl>
        <dt><a href="/sustainability/society/disaster_response.html"><span>災害への対応</span></a></dt>
        <dd>
          <span>日本郵政グループの災害発生時に対する取り組みを掲載しています。</span>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_right-->
  <div class="box_right sus_post1 Grid-Column" id="soc05">
    <div class="Box2">
      <dl>
        <dt><a href="/sustainability/society/infection.html"><span>新型コロナウイルスへの対応</span></a></dt>
        <dd>
          <span>日本郵政グループの新型コロナウイルスに対する取り組みを掲載しています。</span>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_right-->
  <div class="box_right sus_post1 Grid-Column" id="soc06">
    <div class="Box2">
      <dl>
        <dt><a href="/sustainability/society/sports.html"><span>スポーツを通じた社会貢献</span></a></dt>
        <dd>
          <span>日本郵政グループのスポーツ普及・発展の支援と健康への貢献に対する取り組みを掲載しています。</span>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_right-->
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
