<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>子育て支援および高齢社会に配慮した不動産事業</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="" src="/sustainability/society/images/index27_img_01.jpg" style="width: 400px" />
<p class="Caption Text-Center">社宅跡地を活用した保育施設（ベネッセ 板橋三丁目保育園）</p>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵便は、社会背景や事業性を勘案し、子育て支援および高齢社会に配慮した不動産事業を推進しています。</p>
<p>これまでに、待機児童の解消が求められている昨今の状況を踏まえ、東京都板橋区の社宅跡地に保育所を建設し、保育事業者に賃貸しました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのCSR</span></a></li>
    <li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
    <li><a class="Link" href="/csr/society/"><span>地域社会と共に</span></a></li>
  </ul>
<!-- end .Section --></div>