<div id="title_box">
	<div id="csr_main_img_disaster">
		<h1>新型コロナウイルスへの対応</h1>
	</div>
</div>
<!-- /#title_box3-->

<div class="Section">
	<p>新型コロナウイルスが拡大する状況の中、お客さまと社員の安全を確保しながら、地域に必要不可欠な社会インフラとして社会からの要請、地域とお客さまの信頼に応えることで、国民の皆さまのセーフティネットとしての役割を果たしてまいります。</p>
</div>

<h2 class="Header">国民の皆さまへの支援</h2>
<div class="Section">
	<p>日本郵政グループは、お客さまと社員の安全を確保するための感染防止策を講ずるとともに、国民の皆さまへの支援を行っています。また責任ある機関投資家として、国際機関が発行した新型コロナウイルス対策を目的とした債券の購入などを実施しています。</p>
</div>
<div class="Section Table-Border">
	<table>
		<tbody>
			<tr>
				<td class="BG-Gray">お客さまと社員の安全を確保する取り組み<br>（感染拡大防止策）</td>
				<td>
					<ul class="List-Disc mb00">
						<li>一部の郵便局・ゆうちょ銀行の営業時間の短縮<sup>※1</sup>、窓口へのビニールシートの設置</li>
						<li>郵便局窓口ロビー、ATM等への消毒液の設置、社員のマスク着用の励行</li>
						<li>「置き配」などの対面によらない配達、再配達・集荷の前日予約制の実施</li>
						<li>郵便・物流業務に従事する郵便局社員を中心に、グループ各社社員出勤体制の見直し</li>
						<li>お客さまにご理解・ご協力をいただくため、Webサイト、新聞広告、店頭ポスターの展開</li>
						<li>特定警戒都道府県内の宿泊施設（かんぽの宿等）の全面休館</li>
						<li>新型コロナワクチン職域接種の実施</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
	<table>
		<colgroup>
			<col>
			<col style="width: 17%;">
			<col>
		</colgroup>
		<tbody>
			<tr>
				<td class="society_corona_citizon--th BG-Gray Text-Middle" rowspan="4"><span>国民の皆さまへの支援</span></td>
				<td>日本郵政グループ</td>
				<td>
					<ul class="List-Disc mb00">
						<li>新型コロナウイルス拡大防止等に関する寄附を実施（1億円）</li>
						<li>郵便局・ゆうちょ銀行店舗・ATMの、原則すべての営業継続</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>日本郵便</td>
				<td>
					<ul class="List-Disc mb00">
						<li>政府からの要請を受けたマスクの配布<sup>※2</sup></li>
						<li>特別定額給付金の申請書類等の配達</li>
						<li>都道府県社会福祉協議会が実施している「緊急小口資金の特例貸付」申請書類の郵便局窓口での受付業務の代行<sup>※3</sup></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>ゆうちょ銀行</td>
				<td>
					<ul class="List-Disc mb00">
						<li>お客さまの日々の生活に必要な現金の入出金や決済などの重要業務の継続</li>
						<li>特別定額給付金の円滑な入金実施</li>
						<li>新型コロナウイルスの影響を受ける全国の企業への資本面での支援を検討</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>かんぽ生命保険</td>
				<td>
					<ul class="List-Disc mb00">
						<li>お客さまを支える取り組み</li>
						<ul class="List-Disc mb00">
							<li>保険料の払込猶予期間の延伸、必要書類を一部省略するなどの非常取扱い</li>
							<li>新型コロナウイルスにより亡くなられた場合に、死亡保険金に加えて「保険金の倍額支払」の対象として保険金をお支払い<sup>※4</sup></li>
							<li>新型コロナウイルスのため保健所等の指示により、宿泊施設または自宅で療養された期間や、新型コロナウイルスの影響での医療機関等の事情により、早い退院を余儀なくされた場合等の本来入院が必要であった期間も入院保険金をお支払い</li>
						</ul>
						<li>国際機関が発行した新型コロナウイルス対策を目的とした債券を購入</li>
						<li>新型コロナウイルスの影響で巡回ラジオ体操会が中止となったことから、「デジタル巡回ラジオ体操会」（ラジオ体操動画配信）を実施</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
	<ul>
		<li class="Caption ind25em">※1　2020年7月6日以降、一部を除き短縮営業を終了し、通常通りの営業時間で営業しております。</li>
		<li class="Caption ind25em">※2　マスクの配付期間は2020年4月17日（金）～6月20日（土）です。</li>
		<li class="Caption ind25em">※3　社会福祉協議会・緊急小口資金の特例貸付申請書類に係る郵便局窓口での受付は2020年9月末で終了しています。</li>
		<li class="Caption ind25em">※4　ご契約いただいている保険種類によっては、「保険金の倍額支払」の対象とならない場合がございます。また、ご加入（契約日）から1年6か月を経過前にお亡くなりになった場合も「保険金の倍額支払」のお支払い対象とはなりません。</li>
	</ul>
</div>

<h2 class="Header">お客さまと社員の安全を確保する取り組み（感染拡大防止策）</h2>
<div class="Section">
	<p>感染拡大防止策として、一部の郵便局・ゆうちょ銀行の営業時間の短縮<sup>※</sup>や、窓口へのビニールシートの設置、郵便局窓口ロビー、ATM等への消毒液の設置、社員のマスク着用の励行、「置き配」などの対面によらない配達などを実施しています。社会の安定維持のため、お客さまと社員の安全を確保しながら、お客さまが必要とするサービスを継続できるよう業務体制を整備しています。</p>
	<p class="Caption ind1em">※2020年7月6日以降、一部を除き短縮営業を終了し、通常通りの営業時間で営業しております。</p>
</div>
<div class="Section society_corona_customer--wrap">
	<div class="Grid-Column">
		<div class="Image Text-Center">
			<img src="/sustainability/society/images/corona_01.jpg" alt="郵便局窓口でのビニールカーテンを設置">
			<p class="Text Text-Center Caption">窓口へのビニールシートの設置</p>
		</div>
	</div>
	<div class="Grid-Column">
		<div class="Image Text-Center">
			<img src="/sustainability/society/images/corona_02.jpg" alt="郵便局内の待合席の間隔調整を実施">
			<p class="Text Text-Center Caption">郵便局内待合席の座席間隔の確保</p>
		</div>
	</div>
</div>

<h2 class="Header">オンライン相談の開始</h2>
<div class="Section">
	<p>ゆうちょ銀行では2021年5月より、スマートフォンやパソコンを使って、ご自宅等にいながらゆうちょ銀行社員にご相談いただけるサービス「オンライン相談」を開始しました。事前にご利用希望のゆうちょ銀行の店舗にご連絡いただくことで、移動時間や待ち時間なく、「いつでも」「どこでも」お客さまのご都合にあわせたご相談が可能です。</p>
</div>

<h2 class="Header">除菌作業マニュアルを公開</h2>
<div class="Section Col2 TextImageBlock Image-Right">
	<div class="Grid-Column Image">
		<div class="Image Text-Center">
			<figure><img style="width: 300px; max-width: 100%;" src="/sustainability/society/images/society_27.png" alt="かんぽの宿　除菌作業マニュアル">
			<figcaption>かんぽの宿　除菌作業マニュアル</figcaption></figure>
		</div>
	</div>
	<div class="Grid-Column Text">
		<div class="Box">
			<p>かんぽの宿では、ご家庭や職場における除菌に役立てていただこうと、新型コロナウイルスの感染からお客さまを守るために使用している除菌作業の基本動作、手順などをまとめた「かんぽの宿 除菌作業マニュアル」を公開しています。<br />
			このほか、新型コロナウイルスの感染拡大防止を図りながら、安心して旅を楽しんでいただけるよう、2020年6月より、ホテルの駐車場を利用した車中泊サービス「くるまパーク」を実施しています（全国19施設：2021年5月時点）。
			</p>
		</div>
	</div>
	<ul>
		<li><a href="https://www.kanponoyado.japanpost.jp/corona_taisaku/index.html#manual" class="Link Popup"><span>かんぽの宿除菌作業マニュアル</span></a> - かんぽの宿</li>
	</ul>
</div>

<h2 class="Header">新型コロナウイルスワクチン職域摂取の実施</h2>
<div class="Section Col2 TextImageBlock Image-Right">
	<div class="Grid-Column Image">
		<div class="Image Text-Center">
			<figure><img style="width: 300px;" src="/sustainability/society/images/society_33.jpg" alt="大手町会場">
			</figure>
			<p class="Caption Text-Center">大手町会場</p>
		</div>
	</div>
	<div class="Grid-Column Text">
		<div class="Box">
			<p>日本郵政グループは、ワクチン接種に関する自治体の負担を軽減し、接種の加速化を図るという政府方針に協力するとともに、当グループ社員の健康安全を確保し、当グループが担う各種サービスの安定的提供を図るため、2021年6月21日から新型コロナワクチンの職域接種を開始しました。<br />
				日本郵政グループ関連企業に勤務するすべての社員とその家族を対象に、全国129会場において、42,722人（1回目接種：9月19日時点）に接種しました。
			</p>
		</div>
	</div>
</div>

<h2 class="Header">逓信病院における新型コロナウイルス対応</h2>
<div class="Section Col TextImageBlock">
	<div class="Grid-Column Text">
		<div class="Box">
			<p>逓信病院は地域の中核病院として、帰国者・接触者外来の早期開設、自治体と連携したワクチン接種、地域（集団接種会場）への医師の派遣、医療ひっ迫地域への看護師の派遣、感染者の治療、PCR・抗体検査、オンライン診療（電話再診）など、新型コロナウイルスへの対応を進めています。<br />東京逓信病院は、このような新型コロナウイルスへの対応や地域医療への貢献等が評価され、米国週刊誌『Newsweek』が毎年発表している、世界基準の優良な医療機関を評価したランキング「World's Best Hospitals 2021」に3年連続でランクインしました。</p>
		</div>
	</div>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
