<div id="society_mobility">

<div id="title_box">
  <div id="csr_main_img_report">
      <h1>次世代モビリティを活用した物流効率化の取り組み</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section Col-Border">
<p>日本郵便では、労働人口の減少や地方の過疎化などの社会課題、荷物需要の増加といった事業環境の変化に対応し、今後も安定的で持続可能な郵便・物流サービスの提供を実現するため、ドローン、配送ロボット、自動運転、配達業務へのAI活用などの新技術を活用した取り組みを行っています。<br>
今後も、事業を取り巻く環境の変化やテクノロジーの動向等に応じた検討を、引き続き推進します。</p>
<!-- end .Section --></div>

<h2 class="Header" id="drone">ドローン</h2>

<div class="Section">
<p>2018年度には福島県南相馬市および双葉郡浪江町間で、2019年度には東京都奥多摩町で配送試行を実施。郵便物等を抱えたドローンを目的地まで飛行させ、その安全性や課題などを検証しました。</p>
</div>

<h3 class="Header">郵便局間のドローン配送（2018年度）</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
      <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_01.jpg" alt="ドローン配送"></div>
  </div>
  <div class="Grid-Column Text">
      <div class="Box">
          <p>福島県南相馬市にある「小高郵便局」から双葉郡浪江町の「浪江郵便局」までの約9kmの区間で、日本で初めてとなる「目視外・補助者なし」（※）の飛行許可承認を国土交通省から受け、自律で飛行するドローンによる郵便局間での配送を行いました。</p>
          <ul class="note">
              <li>所定の安全対策を行うことで、操縦者の視野外でも監視者を置かずに飛行させる運行方法。2018年の国土交通省の審査基準改定後、日本郵便が第一号として許可承認を取得。</li>
          </ul>
      </div>
  </div>
</div>

<h3 class="Header">ドローンによるラストワンマイル配送（2019年度）</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
      <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_02.jpg" alt="ドローン"></div>
  </div>
  <div class="Grid-Column Text">
      <div class="Box">
          <p>3月17日～19日にかけて、東京都西多摩郡奥多摩町にある「奥多摩郵便局」において、ドローンによる個人宅宛てのラストワンマイル配送の試行を行いました。<br>ドローンは郵便局の屋上から出発し、法律上（航空法）で定められた高度に沿って、山の斜面に沿うように昇り降りしながら飛行し、陸路では20分近くかかる山間部の受取人さまのお宅上空まで、半分の約10分で到着。<br>ドローンに搭載されたカメラで受取人さま宅に設置したQRコードを捉えながら着陸した後、荷物を切り離し、再び郵便局を目指して飛び立ちました。</p>
      </div>
  </div>
</div>

<div class="Section Col-Border">
  <div class="Grid-Column BG-Gray pb15">
      <h3>配送実験に参加いただいた受取人さまからのひとこと</h3>
      <div class="withimg-right">
          <img alt="配送実験に参加いただいた受取人さま" src="/sustainability/society/images/mobility_img_03.jpg">
          <p>今回の試行に協力して、ドローンによる配達が実用化に向けて着実に前進していることを実感しました。</p>
          <p>近い将来、モノを届けることを事業とされている日本郵便さんが、こういったドローンなどを活用して、山間部や災害地など、人の立ち入りが難しい場所にも必要な物資を届けてくれるようになってくれれば、と思います。</p>
      </div>
   <!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border --></div>

<h2 class="Header" id="robot">配送ロボット</h2>

<div class="Section">
  <p>2018年度には福島県南相馬市および双葉郡浪江町において、2019年度には東京都の日本郵便本社オフィス内において、配送ロボットの実証を実施。<br>周辺状況を認識し、自律的に目的地に移動する配送ロボットによるラストワンマイルの配送実証を行うことで、その可能性を検証しました。</p>
</div>

<h3 class="Header">実際の道路、配送環境に合わせた配送実験（2018年度）</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
      <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_04.jpg" alt="実際の道路、配送環境に合わせた配送実験"></div>
  </div>
  <div class="Grid-Column Text">
      <div class="Box">
          <p>福島県南相馬市および双葉郡浪江町において、実際の道路環境や配送環境に近い自動車学校および災害公営住宅での配送ロボットによる無人配送の可能性に関する実証実験を行いました。</p>
      </div>
  </div>
</div>

<h3 class="Header">ビル内での社内便配送試行（2019年度）</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
      <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_05.jpg" alt="ビル内での社内便配送試行"></div>
  </div>
  <div class="Grid-Column Text">
      <div class="Box">
          <p>日本郵便本社オフィス（東京都）内において、配送ロボットがエレベーターと連動してフロア間を移動することによる社内便の配送の試行を行いました。</p>
      </div>
  </div>
</div>

<h3 class="Header">日本国内初、公道での実証実験（2020年度）</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
      <div class="Image Text-Center"><img src="/sustainability/society/images/society_02.jpg" alt="配送ロボット" style="width: 300px;"></div>
  </div>
  <div class="Grid-Column Text">
      <div class="Box">
          <p>東京都千代田区内の東京逓信病院から麹町郵便局間を走行する、公道での実証実験を日本国内で初めて実施しました。</p>
      </div>
  </div>
</div>

<h3 class="Header">オートロックシステム付きマンション内での配送試行（2020年度）</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
      <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_10.jpg" alt="配送ロボット" style="width: 300px;"></div>
  </div>
  <div class="Grid-Column Text">
      <div class="Box">
          <p>オートロックシステム付きマンション（千葉県）内にて、複数台の配送ロボットがエレベーターおよび運行管理システムと連携して荷物を配送する実証実験を行いました。</p>
      </div>
  </div>
</div>

<h2 class="Header">AIによる配達業務の効率化</h2>
<div class="Section">
  <p>2020年6月から、AIによる配達ルート自動生成などを活用した配達業務支援システムの試行を、全国200の郵便局で開始しました。</p>
  <p>物流のラストワンマイルである配達を担う「人」をAIなどの新しい技術で支援し、業務負荷の軽減、業務経験の浅い人でも簡単に配達できる仕組みづくりを行うことで、誰もが活躍できる配達業務の実現と、持続可能な郵便・物流サービスの確立を目指します。</p>
</div>
  <div class="Section Col-Border">
    <div class="Grid-Column BG-Gray">
      <h2 id="support">配達業務支援システム</h2>
      <p>以下の2つのシステムを連携させ、業務経験の浅い社員等の配達業務を支援します。</p>
      <div class="SubSection Col2 TextImageBlock Image-Right">
        <div class="Grid-Column Image">
            <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_06.jpg" alt=""></div>
        </div>
        <div class="Grid-Column Text">
            <h3 class="Header">1． SmaRyuPOST</h3>
            <div class="Box">
                <p>スマートフォンで稼働し、車両への荷物積込や配達登録、配達ルート自動作成（2と連携）、ナビゲーション、受取時の電子サインなどの機能を一気通貫で提供。</p>
            </div>
        </div>
      </div>

      <div class="SubSection Col2 TextImageBlock Image-Right">
        <div class="Grid-Column Image">
            <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_07.jpg" alt=""></div>
        </div>
        <div class="Grid-Column Text">
            <h3 class="Header">2． Loogia</h3>
            <div class="Box">
                <p>最適な配達順序やルートをAIで自動計算し、SmaRyuPOSTを通じて提示。</p>
            </div>
        </div>
      </div>

      
      <p>このほかにも、EC市場拡大を踏まえて小型荷物を多く積載できるキャリーボックスを備えた新型車両「ジャイロキャノピー」の試行開始。</p>
      <p>普通免許／原付免許で運転可能で、三輪のため転倒リスクも少なく、二輪に不慣れな社員等でも乗務しやすいため、人手不足対策としても期待されます。</p>
      <div class="ai_col2 SubSection">
        <div class="Grid-Column">
          <div class="Image"><img src="/sustainability/society/images/mobility_img_08.jpg" alt=""></div>
        </div>
        <div class="Grid-Column">
          <div class="Image"><img src="/sustainability/society/images/mobility_img_09.jpg" alt=""></div>
        </div>
      </div>
    </div>
  </div>

<div class="Section Col-Border">
  <div class="Grid-Column BG-Gray">
      <dl>
          <dt>（注）ラストワンマイル</dt>
          <dd>物流分野における配送拠点からお客さまの手元に荷物が届くまでの区間。</dd>
      </dl>
   <!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/csr/index02.html"><span>日本郵政グループのCSR基本方針</span></a></li>
<li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
<li><a class="Link" href="/csr/society/"><span>地域社会と共に</span></a></li>
</ul>
<!-- end .Section.List-General --></div>

<!-- /#society_mobility --></div>