<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>新技術を活用した取り組み（ドローンや自動運転技術等）</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵便は、労働力が不足する中で、今後も安定的で持続可能な郵便・物流サービスの提供を実現するため、ドローン、配送ロボット、自動運転などの新技術を活用した取り組みを行っています。</p>
<p>技術的な問題や法制度の整備など、今後対処すべきさまざまな課題はありますが、実用化に向けて引き続き、取り組みを推進します。</p>
<!-- end .Section --></div>

<h3 class="Header"><span>これまでの取り組み</span></h3>
<div class="Section Table-Dot">
<table><caption class="Hidden">これまでの取り組み</caption><colgroup> <col style="width: 20%;" /> <col style="width: 80%;" /> </colgroup>
<tbody>
<tr>
<th scope="row">2017年2月</th>
<td>福島県南相馬市で配送ロボットの実証実験を実施</td>
</tr>
<tr>
<th scope="row">2018年3月</th>
<td>東京都千代田区で自動運転の実証実験を実施</td>
</tr>
<tr>
<tr>
<th scope="row">2018年11月から<br>2019年3月</th>
<td>福島県南相馬市の小高郵便局から同県双葉郡浪江町の浪江郵便局までの間でドローンを使用した荷物輸送を実施</td>
</tr>
<tr>
<th scope="row">2019年1月</th>
<td>福島県南相馬市および同県双葉郡浪江町で配送ロボットの実証実験を実施</td>
</tr>
<tr>
<th scope="row">2019年3月</th>
<td>東京都江東区の東京国際郵便局から新東京郵便局までの間および新東京郵便局構内で自動運転の実証実験を実施</td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/society/images/index21_img_01.jpg" />
<p class="Caption">ドローン</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/society/images/index21_img_02.jpg" />
<p class="Caption">配送ロボット</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.post.japanpost.jp/about/csr/society/index.html#technology" class="Link Popup" target="_blank"><span>新技術を活用した取り組み（ドローンや自動運転技術等）</span></a>-日本郵便</li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
    <li><a class="Link" href="/csr/society/"><span>地域社会と共に</span></a></li>
  </ul>
<!-- end .Section --></div>