<h2 class="Header">日本型郵便インフラの海外輸出</h2>
<div class="Section">
<div class="Grid-Column">
  <p>世界において高品質<sup>※</sup>を誇る郵便サービスのノウハウや関連技術を、ミャンマー連邦共和国やベトナム社会主義共和国に提供し、現在、両国において日本型郵便インフラが活用されています。</p>
  <div class="Text-Indent">
    <p class="Caption">※2020年、万国郵便連合（UPU）が発表した「郵便業務発展総合指数」で世界5位の評価。</p>
</div>
</div>
<!-- end .Section --></div>

<!-- <h3 class="Header"><span>ミャンマー連邦共和国での取り組み</span></h3>
<div class="Section">
<p>日本郵便は、2014年4月に日本とミャンマーの両政府間で締結された「郵便分野における協力に関する覚書」に基づき、総務省や独立行政法人国際協力機構（JICA）の支援を受けながら、ミャンマーにおける郵便サービスの実態調査や日本郵便のオペレーション・ノウハウの提供を通じ、郵便の送達速度や送達率の向上を実現しました。</p>
<p>それらの成果に基づいて、2016年6月、JICAから政府開発援助（ODA）事業「ミャンマー国郵便サービス能力向上プロジェクト」を受託し、2019年5月までの3か年計画の中で、郵便の送達速度のさらなる向上や顧客満足度の向上を実現しました。また、中・長期的な事業計画の策定なども実施しました。</p>
</div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/society/images/index12_img_01.jpg" alt="" />
<p class="Caption">現地でのミャンマー郵便との話し合いの様子</p>
</div>
</div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/society/images/index12_img_02.jpg" alt="" />
<p class="Caption">ミャンマー郵便の職員を日本に招へいしての研修の様子</p>
</div>
</div>
</div> -->

<h3 class="Header"><span>ベトナム社会主義共和国での取り組み</span></h3>
<div class="Section">
<p>2015年1月に日本とベトナム社会主義共和国の両政府間で締結された「郵便分野における協力に関する覚書」に基づき、ベトナム郵便との間で郵便業務に関するコンサルティング契約を締結したことをきっかけに、ハノイ、ホーチミンにおける郵便オペレーションの改善プロジェクトを開始しました。その結果、これまでに郵便の送達速度の向上や破損率の低減を実現しました。また、郵便区分センターの新設に際しての計画策定および立ち上げ支援、ベトナム国内の郵便ネットワーク再編成や人材育成なども実施しました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/society/images/index12_img_04.jpg" alt="" />
<p class="Caption">現地でのアドバイスの様子</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/society/images/index12_img_05.jpg" alt="" />
<p class="Caption">日本郵便モデルの郵便業務用備品が活躍</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header">カンボジア王国のUPU開発協力プロジェクトへ参加</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img src="/sustainability/society/images/society_32.jpg" alt="カンボジア王国のUPＵ開発協力プロジェクトへ参加"></div>
  </div>
  <div class="Grid-Column Text">
    <p>ミャンマー連邦共和国やベトナム社会主義共和国への国際協力への貢献がUPU等から評価され、カンボジア郵便のEコマース対応に向けた郵便業務の改善などを目的としたUPU開発協力プロジェクトに2021年から参加しています。本プロジェクトへの参加を通じて、カンボジア王国国民が利用しやすく、Eコマース需要にも対応することができる、安心・安定的な郵便サービスとなるよう、同サービスの改善に向けて協力していきます。</p>
  </div>
</div>

<h3 class="Header">アジア諸国に対する取り組み</h3>
<div class="Section">
  <p>インドネシア共和国、インド、タイ王国等と日本国政府間の協力施策やアジア諸国の郵便業務改善の要望を踏まえ、現地調査やヒアリングを実施し、日本型郵便インフラの輸出に取り組んでいます。</p>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
