<div id="society_partnership">

  <div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>他社とのパートナーシップにより地域社会のインフラを支える</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政グループでは、他の企業の皆さまとのパートナーシップにより、郵便局ネットワークを活用し、どこに住んでいても誰もが安心して暮らせるよう、地域社会のインフラを支える取り組みを行っています。</p>
<!-- end .Section --></div>

<h2 class="Header" id="jr">JR東日本との連携</h2>
<div class="Section">
<p>日本郵便は、地域・社会の活性化に向けた取り組みを強化するため、東日本旅客鉄道株式会社（JR東日本）と連携協定を締結しています。地域・社会に根差した活動を行う両社が、それぞれの持つネットワークを連携して活かしていくことで、地域内外の活発な交流の促進による地域・社会の活性化を目指しています。</p>
<p>2019年5月には、JR立川駅構内の商業施設「エキュート立川」3階に、お客さまの将来の人生設計やお金に関する情報提供などを専門的に行う「JP金融ラボ」をオープンしました。<br />また、2021年2月には、JR仙台駅ビル「JR仙台イーストゲートビル」の開業に併せて同ビル1階に「JR仙台イーストゲートビル郵便局」をオープンしました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">

  <div class="Grid-Column400">
  <div class="Image Text-Center"><img alt="" src="/csr/society/images/activate_commu_01.png" style="max-width: 400px;" />
  <p class="Caption">JP金融ラボ（東京都立川市）</p>
  </div>
  <!-- end .Grid-Column --></div>
  
  <div class="Grid-Column400">
  <div class="Image Text-Center"><img alt="" src="/sustainability/society/images/activate_commu_09.jpg" style="width: 221px;" />
  <p class="Caption">JR仙台イーストゲートビル郵便局(宮城県仙台市)</p>
  </div>
  <!-- end .Grid-Column --></div>
  
<!-- end .Section.Col2 --></div>

<div class="Section">
  <p>また、無人となっていたJR内房線江見駅（千葉県鴨川市）の敷地内に新たに郵便局舎を建設し、同局に市内の旧江見郵便局を移転。2020年8月から「江見駅郵便局」として、全国初となる郵便局と駅の窓口業務の一体運営を開始しました。<br>
    郵便・貯金・保険などの通常の郵便局窓口業務に加えて、普通乗車券・定期券やSuicaの取り扱い、列車の発車時刻および運賃のご案内など、駅窓口業務を一体で行っています。</p>
</div>
  
<div class="Section Topics-Col">
  <ul>
    <li style="flex-basis: 30%;" class="Image Text-Center"><img style="width: 100%;" alt="駅舎" src="/csr/society/images/activate_commu_03.jpg"><br>江見駅郵便局　外観</li>
    <li style="flex-basis: 30%;" class="Image Text-Center"><img style="width: 100%;" alt="駅舎内（全体）" src="/csr/society/images/activate_commu_04.jpg"><br>列車到着時の郵便局ロビー</li>
    <li style="flex-basis: 30%;" class="Image Text-Center"><img style="width: 100%;" alt="駅舎内（窓口）" src="/csr/society/images/activate_commu_05.jpg"><br>JR窓口の様子</li>
  <!-- end .Grid-Column --></ul>
<!-- end .Section.flex --></div>

<div class="Section Col-Border">
  <div class="Grid-Column BG-Gray">
    <h3 class="Header">江見駅郵便局 局長からのひとこと</h3>
    <div class="SubSection Col2 TextImageBlock Image-Left">
      
      <div class="Grid-Column Image mb15 Text-Center"><img style="width: 150px;" src="/csr/society/images/activate_commu_06.jpg" alt="局長さん"></div>
      <div class="Grid-Column Text">
        <div class="Box">
          <p>お客さまからは、「江見駅が無人だった間は、切符の購入やSuicaのチャージなどができなかったので、それらができるようになってありがたい」とのお言葉をいただいています。<br>
            郵便局と駅の一体運営は全国初ということで、多くのお客さまが県外からもお見えになるなど、その関心度・注目度の高さに驚いています。<br>
            JRの業務を受託するにあたり、駅の案内業務で使用する端末の操作や、JRの営業および安全に関する業務研修を受けました。JRの社員としての立場で覚えるべきことも多く、大変さもありますが、お客さまに信頼され、愛される江見駅郵便局を目指して、社員一人ひとり真摯に、やりがいをもって業務に取り組みたいと思っています。</p>
        </div>
      </div>
    
    </div>
  </div>
</div>

<div class="Section Col-Border">
  <div class="Grid-Column BG-Gray">
    <h3 class="Header">お客さまからのひとこと</h3>
    <div class="SubSection Col2 TextImageBlock Image-Left">
      
      <div class="Grid-Column Image mb15 Text-Center"><img style="width: 150px;" src="/csr/society/images/activate_commu_07.jpg" alt="お客様"></div>
      <div class="Grid-Column Text">
        <div class="Box">
          <p>無人駅となっていた江見駅が郵便局と一体化したことによって、新しく立派な建物が建ち、そこにコミュニケーションのとれる局員が常駐してくれるようになった。それがうれしいですね。<br>
            地方の過疎化が避けられない中、この江見駅を先駆けとして、今後、このような形態が全国に広がっていくんじゃないでしょうか。<br>
            郵便局には今後も、地域の住民とのコミュニケーションを図りながら、地域の共有財産として発展していってほしいと思います。</p>
        </div>
      </div>
    
    </div>
  </div>
</div>

<div class="Section">
  <p>このほかにも、日本郵便の運送ネットワークとJR東日本の新幹線を活用した農産物・地産品の物流トライアルや、物産展の開催なども実施しています。<br>今後とも両社が互いに連携・協力しながら、一層の地域社会の活性化に貢献してまいります。</p>
</div>

<h2 class="Header">NHKとの連携</h2>
<div class="Section">
  <p>日本郵政および日本郵便は、日本放送協会（以下、NHK）と「防災・減災に関する連携協定」を2021年3月4日に締結し、防災・減災に取り組んでいます。</p>
</div>

<div class="Section Table-Border">
  <table>
    <colgroup>
      <col style="width: 50%;">
      <col style="width: 50%;">
    </colgroup>
    <thead>
      <tr>
        <th class="BG-Gray Text-Center" scope="col">災害発生時</th>
        <th class="BG-Gray Text-Center" scope="col">平常時</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><strong>被災地域の被害状況や周辺情報の提供</strong></p>
          <ul class="List-Disc">
            <li>災害時、業務に支障のない範囲で、被災地域の被害状況などの情報をNHKに提供し、NHKは放送などを通じて地域住民に伝達。</li>
            <li>日本郵便の支社や郵便局が被害状況を把握するために撮影した動画・静止画のうち提供可能なものについて、NHKに提供。</li>
            <li>被災地域に近い郵便局長などがNHKからの取材に応じる。</li>
            <li>被災地域の郵便物の配達などをはじめとする郵便局のサービス状況を提供。</li>
          </ul>
        </td>
        <td>
          <p><strong>定期的な協議の開催</strong></p>
          <ul class="List-Disc">
            <li>日本郵政および日本郵便とNHKの本部レベルで、災害時および平常時における連携の具体化について定期的に協議。</li>
          </ul>
          <p><strong>防災情報の周知</strong></p>
          <ul class="List-Disc">
            <li>NHKの防災情報についてのポスター・チラシを郵便局に設置し周知。</li>
            <li>災害情報の把握方法について、NHKが日本郵便の支社や郵便局を対象に講習会などを開催。</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2 class="Header">薬局との連携</h2>
<div class="Section">
  <p>新型コロナウイルス感染症の影響により、医療提供体制が急速に変化する中、日本郵便は各薬局と連携し、処方箋医薬品のご自宅への配送等に取り組んでいます。安全かつ迅速な医薬品流通ネットワークの構築を目指し、地域医療を支えてまいります。</p>
</div>

<div class="Section Table-Border">
  <table>
    <colgroup>
      <col style="width: 25%;">
      <col style="width: 75%;">
    </colgroup>
    <thead>
      <tr>
        <th class="BG-Gray Text-Center" scope="col">提携企業</th>
        <th class="BG-Gray Text-Center" scope="col">取り組み</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>株式会社アインホールディングス</td>
        <td>
          <p>下記の実証実験を実施（実施期間：2021年3月16日～同年5月17日）</p>
          <ul class="List-Disc">
            <li>東京都葛飾区内にお住まいの患者さまに対して、対象の薬局（葛飾区内5店舗）において処方箋で受け付けた医薬品を「ゆうパック」で当日中に配送。</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>株式会社スギ薬局</td>
        <td>
          <p>下記の実証実験を実施（実施期間：2021年4月1日～同年9月30日）</p>
          <ul class="List-Disc">
            <li>店舗で処方箋を受け付けた医薬品を「ゆうパック」「ゆうパケット」でご自宅まで配送。</li>
            <li>残薬管理を支援するため、スギ薬局の専用回収キットを用いて、自宅にある残薬をスギ薬局店舗に配送。</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>株式会社トモズ</td>
        <td>
          <ul class="List-Disc">
            <li>日本郵便の通販サイト「郵便局のネットショップ上」に、ドラッグストア専用ページを開設。</li>
          </ul>
          <ul>
            <li><a href="https://www.shop.post.japanpost.jp/shop/pages/drugstore.aspx" class="Link Popup"><span>ドラッグストア｜郵便局のネットショップ</span></a>-日本郵便</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<h2 class="Header" id="finance">各金融機関との連携</h2>
<div class="Section">
<p>日本郵便は、地域のお客さまの利便性向上に向けて、他の金融機関のサービスの一部を郵便局でもご利用いただけるよう、各金融機関との連携を進めています。今後も、地域の皆さまの生活を総合的にサポートできるよう取り組んでまいります。</p>
<!-- end .Section --></div>

<div class="Section Table-Border">
  <div class="Grid-Column">
    <div class="Text-Right">2021年9月1日現在</div>
    <table>
      <colgroup>
        <col style="width: 30%;">
        <col style="width: 13%;">
        <col style="width: 48%;">
      </colgroup>
      <thead>
        <tr>
          <th class="BG-Gray Text-Center" scope="col">郵便局名　※実施順</th>
          <th class="BG-Gray Text-Center" scope="col">金融機関等</th>
          <th class="BG-Gray Text-Center" scope="col">連携概要</th>
        </tr>
      </thead>
      <tbody class="Text-Indent">
        <tr>
          <td>上椎葉郵便局<span class="spnone">　</span>（宮崎県東臼杵郡）</td>
          <td>宮崎銀行</td>
          <td><p>・郵便局内に宮崎銀行ATMコーナーを設置。</p></td>
        </tr>
        <tr>
          <td>高岡郵便局<span class="spnone">　　</span>（富山県高岡市）</td>
          <td>富山銀行</td>
          <td><p>・郵便局内に富山銀行ATMコーナーを設置。</p></td>
        </tr>
        <tr>
          <td>黒滝郵便局<span class="spnone">　　</span>（奈良県吉野郡）<br>
            奈良青山郵便局（奈良県奈良市）<br>
            耳成郵便局<span class="spnone">　　</span>（奈良県橿原市）<br>
            粉河郵便局<span class="spnone">　　</span>（和歌山県紀の川市）<br />
            下北山郵便局<span class="spnone">　</span>（奈良県吉野郡）<br />
            折立郵便局<span class="spnone">　　</span>（奈良県吉野郡）</td>
          <td>南都銀行<br>日本ATM</td>
          <td>
            <p>・郵便局内に南都銀行ATMコーナーを設置。</p>
            <p>・郵便局窓口において南都銀行口座の住所変更などの手続事務の受付・取次を行うサービスを実施（黒滝郵便局、下北山郵便局、折立郵便局）。</p>
          </td>
        </tr>
        <tr>
          <td>大根島郵便局<span class="spnone">　</span>（島根県松江市）<br>
            日原郵便局<span class="spnone">　　</span>（島根県鹿足郡）<br>
            雲城郵便局<span class="spnone">　　</span>（島根県浜田市）<br>
            丹比郵便局<span class="spnone">　　</span>（鳥取県八頭郡）<br>
            口羽郵便局<span class="spnone">　　</span>（島根県邑智郡）<br>
            佐田郵便局<span class="spnone">　　</span>（島根県出雲市）</td>
          <td>山陰合同銀行<br>日本ATM</td>
          <td><p>・郵便局窓口において山陰合同銀行口座の住所変更などの手続事務の受付・取次を行うサービスを実施。</p></td>
        </tr>
        <tr>
          <td>
            一橋学園前郵便局（東京都小平市）<br>
            調布金子郵便局<span class="spnone">　</span>（東京都調布市）<br>
          </td>
          <td>きらぼし銀行</td>
          <td><p>・郵便局内にきらぼし銀行ATMコーナーを設置。</p></td>
        </tr>
        <tr>
          <td>
            串本郵便局<span class="spnone">　　</span>（和歌山県東牟婁郡）<br>
            金屋郵便局<span class="spnone">　　</span>（和歌山県有田郡）<br>
          </td>
          <td>紀陽銀行</td>
          <td><p>・郵便局内に紀陽銀行ATMコーナーを設置。</p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.post.japanpost.jp/about/csr/society/index.html#01_05" class="Link Popup"><span>地域・社会の活性化に資する他企業との連携</span></a>-日本郵便</li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/society/"><span>地域社会と共に</span></a></li>
  </ul>
<!-- end .Section --></div>

</div>