<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>ラジオ体操の普及推進</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>ラジオ体操は90年以上の歴史があり、「いつでも、どこでも、だれでも」気軽にできる体操として、多くの方に親しまれています。</p>
<p>みんなの体操は、「ユニバーサルデザイン」という考え方を取り入れて、年齢・性別・障がいの有無を問わず、幅広い人々を対象として楽しく安心してできる体操として考案されました。</p>
<p>かんぽ生命保険は、地域の皆さまの健康づくりにお役立ていただけるよう、NHK（日本放送協会）およびNPO法人全国ラジオ体操連盟と共同でラジオ体操・みんなの体操の普及推進に努めています。</p>
<!-- end .Section --></div>

<h2 class="Header">全国各地でラジオ体操に関連したイベントを行っています</h2>
<h3 class="Header">1000万人ラジオ体操・みんなの体操祭</h3>
<div class="Section">
<p>ラジオ体操最大のイベントとして、テレビやラジオを通じて1000万人にもおよぶ人々に一斉にラジオ体操を行ってもらうという趣旨で、「1000万人ラジオ体操・みんなの体操祭」を毎年1会場で開催しています。</p>
<p>2019年度は、7月28日に東京都世田谷区で開催し、このイベントの模様は、NHKラジオ第1放送で、全国に生放送されました。</p>
<p>※ 2020年度は、新型コロナウイルス感染症の感染拡大防止の観点から中止しました。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="" src="/sustainability/society/images/index06_img_01.jpg"></div>
<p class="Caption Text-Center">第58回　1000万人ラジオ体操・みんなの体操祭（2019年7月28日・東京都世田谷区）</p>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<h3 class="Header">夏期巡回ラジオ体操・みんなの体操会／特別巡回ラジオ体操・みんなの体操会</h3>
<div class="Section">
  <p>毎年7月20日から8月31日までの43日間、全国の会場で「夏期巡回ラジオ体操・みんなの体操会」を開催しています（「1000万人ラジオ体操・みんなの体操祭」の開催日を含みます）。夏休み期間中にラジオ体操をする風景は、日本の夏の風物詩として浸透しています。</p>
  <p>また、毎年4月から10月末の日曜日や祝日を中心に、「特別巡回ラジオ体操・みんなの体操会」を全国の会場で開催しています。</p>
  <p>2021年度は、新型コロナウイルス感染症の影響で中止となった「2020年度巡回ラジオ体操・みんなの体操会」の開催予定地であった自治体さまにご協力いただき、「デジタル巡回ラジオ体操会」として、各地域におけるラジオ体操動画を制作し、かんぽ生命のラジオ体操チャンネル（YouTube）にて配信しています。</p>
  <p>なお、医療従事者および感染拡大防止に関する活動の支援として、本施策で配信したYouTube動画の再生回数1回につき10円を日本赤十字社に寄付しました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">

<div class="Grid-Column400">
<div class="Image Text-Center"><img alt="" src="/sustainability/society/images/index06_img_04.jpg" style="width: 300px" />
<p class="Caption">デジタル巡回ラジオ体操会（愛知県小牧市）</p>
</div>
<!-- end .Grid-Column --></div>

<div class="Grid-Column400">
<div class="Image Text-Center"><img alt="" src="/sustainability/society/images/index06_img_05.jpg" style="width: 300px" />
<p class="Caption">デジタル巡回ラジオ体操会（青森県八戸市）</p>
</div>
<!-- end .Grid-Column --></div>

<!-- end .Section.Col2 --></div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.jp-life.japanpost.jp/radio/" class="Link Popup" target="_blank"><span>ラジオ体操・みんなの体操の普及推進</span></a>-かんぽ生命</li>
    <li><a href="https://www.youtube.com/c/radiotaisou" class="Link Popup" target="_blank"><span>ラジオ体操チャンネル【かんぽ生命公式】</span></a>-かんぽ生命</li>
  </ul>
<!-- end .Section --></div>

<div class="Section Col-Border">
<div class="Grid-Column BG-Gray">
<div class="Section List-General">
<p>ラジオ体操の取り組みは、動画でもご紹介しています。</p>
  <ul>
    <li><a class="Link" href="/csr/movie/2018_004.html"><span>ラジオ体操による健康づくり支援【CSRムービー】</span></a></li>
  </ul>
<!-- end .Section.List-General --></div>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/society/"><span>地域社会と共に</span></a></li>
  </ul>
<!-- end .Section --></div>