<div id="society_real_estate">

  <div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>社会ニーズに対応した不動産開発事業</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政グループは、これまで築いてきた地域社会との信頼関係を大切にしながら、待機児童や高齢社会という社会課題に配慮した保育所および高齢者施設の建設や、都市部における商業施設・オフィス・住宅等の大型複合施設による地域開発など、地域の特性や社会背景、事業性などを踏まえて、地域の発展に貢献する不動産事業を行っています。</p>
<!-- end .Section --></div>

<div class="Section real-estate-lineup">
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img style="width: 100%;" src="/sustainability/society/images/real_estate_01.jpg" alt="">
      <p class="Caption Text-Center">にじいろ保育園 北砂<br>（東京 2020年4月開園）</p>
    </div>
  </div>
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img style="width: 100%;" src="/sustainability/society/images/real_estate_02.jpg" alt="">
      <p class="Caption Text-Center">ベネッセ練馬えこだ保育園<br>（東京 2020年4月開園）</p>
    </div>
  </div>
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img style="width: 100%;" src="/sustainability/society/images/real_estate_03.jpg" alt="">
      <p class="Caption Text-Center">グランダ常盤台弐番館<br>（高齢者施設：東京 2020年3月運営開始）</p>
    </div>
  </div>
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img style="width: 51%;" src="/sustainability/society/images/real_estate_06.jpg" alt="">
      <p class="Caption Text-Center">梅田 3丁目計画（仮称）<br>（大阪 2024年竣工予定）</p>
    </div>
  </div>
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img style="width: 100%;" src="/sustainability/society/images/real_estate_04.jpg" alt="">
      <p class="Caption Text-Center">広島駅南口計画<br>（広島 2022年竣工予定）</p>
    </div>
  </div>
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img style="width: 100%;" src="/sustainability/society/images/real_estate_05.jpg" alt="">
      <p class="Caption Text-Center">蔵前一丁目開発事業<br>（東京 2023年竣工予定）</p>
    </div>
  </div>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/society/"><span>地域社会と共に</span></a></li>
  </ul>
<!-- end .Section --></div>

</div>