<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>地域活性化ファンドへの参加</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section Col TextImageBlock">
<div class="Grid-Column Text">
<div class="Box">
<p>ゆうちょ銀行は、全国津々浦々のお客さまの大切な資金を地域に循環させ、地域金融機関との連携を一層深め、連携・協働して地域経済の発展に寄与することを目的とし、以下のファンドへの参加を決定しました。</p>
<p>このほか、新型コロナウイルス感染症拡大の影響を受ける全国の企業への資本面での支援を検討しつつ、引き続き地域の活性化と発展に貢献してまいります。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<div class="Grid-Column Image">
<figure class="Image">
<img alt="" src="/sustainability/society/images/index16_img_01.png">
<figcaption class="Caption Text-Left">※「地方創生に資する金融機関等の『特徴的な取組事例』｣で大臣表彰を受賞（2019年3月）<br><br>
  ゆうちょ銀行が参加している地域活性化ファンド（2020年3月現在）</figcaption>
</figure>
<!-- end .Grid-Column.Image --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section Col-Border">
<div class="Grid-Column BG-Gray">
<div class="Section List-General">
<p>ゆうちょ銀行の取り組みは、動画でもご紹介しています。</p>
  <ul>
    <li><a class="Link" href="/csr/movie/2018_003.html"><span>ゆうちょ銀行の地域コミュニケーション【CSRムービー】</span></a></li>
  </ul>
<!-- end .Section.List-General --></div>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/society/"><span>地域社会と共に</span></a></li>
  </ul>
<!-- end .Section --></div>