<div id="title_box">
  <div id="csr_main_img_sports">
      <h1>スポーツを通じた社会貢献</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
  <p>日本郵政グループは人生100年時代の「一生」を支える活動の一環として、女子陸上部の運営やかんぽ生命保険社員の車いすテニスプレイヤー大谷桃子選手の支援をはじめ、スポーツやパラスポーツへの協賛・支援を行っています。これからも、全国2万4,000の郵便局と40万人のグループ社員を抱える郵政ネットワークを活用して競技や地域に根差したチーム・アスリート等の盛り上げに取り組み、地域の活性化やダイバーシティ社会の実現に貢献してまいります。</p>
</div>

<div class="Section Col">
  <div class="Grid-Column">
    <div class="Image"><img src="/sustainability/society/images/sports_01.png" alt="スポーツに対する主な協賛活動"></div>
  </div>
</div>

<div class="Section Col">
  <div class="Grid-Column">
    <div class="Image"><img src="/sustainability/society/images/sports_02.png" alt="スポーツに対する主な協賛活動"></div>
  </div>
</div>

<div class="Section List-General">
  <ul>
    <li><a href="/sustainability/human/workstyle/others.html#handicapped" class="Link"><span>障がい者支援の取り組み</span></a></li>
  </ul>
</div>

<h3 class="Header">東京2020オリンピック・パラリンピックへの協賛</h3>
<div class="Section Col">
  <p>東京2020大会の熱気を伝え、日本全国での盛り上げに貢献しています。</p>

  <div class="Grid-Column">
    <div class="Image Text-Center"><img src="/sustainability/society/images/sports_03.png" alt="日本郵便は、東京2020オリンピック・パラリンピックのオフィシャルパートナー（郵便）です。" style="max-width: 400px;"></div>
  </div>
</div>

<div class="Section List-General">
  <ul>
    <li><a href="/tokyo2020/" class="Link"><span>東京2020への取組</span></a></li>
  </ul>
</div>

<h3 class="Header">東京2020オリンピック聖火リレーへの協賛</h3>
<div class="Section Col">
  <p>サポーティングパートナーとして郵便事業を通じて、日本全国に張り巡らされた郵便局ネットワークを活用し、聖火リレーの盛り上げに貢献しています。</p>

  <div class="Grid-Column">
    <div class="Image Text-Center"><img src="/sustainability/society/images/sports_04.jpg" alt="東京2020オリンピック聖火リレーへの協賛"></div>
  </div>
</div>

<div class="Section List-General">
  <ul>
    <li><a href="/tokyo2020/otr.html" class="Link"><span>日本郵便　東京2020オリンピック聖火リレー　特設ページ</span></a></li>
  </ul>
</div>

<h2 class="Header">女子陸上部の活動</h2>
<div class="Section">
  <p>「人から人へとタスキをつなぐ駅伝」と「人から人へと手紙を届ける郵便」は、親和性が高く、社員が一体感を持って応援できることなどから、2014年4月より女子陸上部を創設し、運営を行っております。<br />
    所属選手は日本郵政グループ各社に所属しており、実業団駅伝女子日本一を競う「全日本実業団対抗女子駅伝競走大会（クイーンズ駅伝in宮城）」に2015年より6年連続で出場し、2016年（第36回）に初優勝。2019年（第39回）にも3年ぶり2度目の優勝を、2020年（第40回）では大会新記録で優勝し二連覇を果たすなど、活躍しています。<br />
    個人においても、鈴木亜由子選手と廣中璃梨佳選手がそれぞれ東京2020オリンピックのマラソン（女子）日本代表、女子5000m、10000m日本代表となり、鈴木亜由子選手がマラソン（女子）で第19位、廣中璃梨佳選手は女子5000mにおいて第9位（日本新記録）、女子10000mにおいては第7位入賞（日本歴代4位記録、同種目日本人25年ぶりの入賞）と、優秀な成績を収めています。</p>
</div>

<div class="Section Col">
  <div class="Grid-Column">
    <figure class="Image Text-Center"><img src="/sustainability/society/images/sports_06.jpg" alt="女子陸上部の活動" style="max-width: 254px;"></figure>
  </div>
</div>

<div class="Section List-General">
  <ul>
    <li><a href="/athlete/result/" class="Link"><span>大会結果</span></a></li>
    <li><a href="/athlete/" class="Link"><span>日本郵政グループ女子陸上部</span></a></li>
  </ul>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
