<div id="society_west_japan_disaster">
	<div id="title_box3">
		<div id="csr_main_img_report_sub">
			<h1>災害、新型コロナウイルス感染症への取り組み</h1>
		</div>
	</div>
	<!-- /#title_box3-->
	<h2 class="Header">災害発生時の取り組み</h2>

	<div class="Section Col2 TextImageBlock Image-Right">
		<div class="Grid-Column Image">
			<div class="Image Text-Center"><img style="width: 374px; max-width: 100%;" src="/sustainability/society/images/west_japan_disaster_img_05.jpg" alt="災害発生時の取り組み"></div>
		</div>
		<div class="Grid-Column Text">
			<div class="Box">
				<p>大規模な自然災害発生時には、災害義援金を内容とする現金書留郵便物の料金免除や貯金通帳紛失時の通常貯金等払い戻し、保険金などの非常即時払いなどの非常取り扱いを実施しているほか、車両型郵便局を現地に派遣して被災者の皆さまを支援しています。</p>
				<p class="Link"><a href="https://www.post.japanpost.jp/about/csr/society/index.html#05_01" class="Link Popup"><span>被災者に対する支援</span></a>-日本郵便</p>
			</div>
		</div>
	</div>

	<h2 class="Header">新型コロナウイルス感染防止に関する取り組み</h2>
	<div class="Section">
		<p>新型コロナウイルス感染症が拡大する状況のなか、日本郵政グループは、お客さまと社員の安全を確保するための感染防止策を講ずるとともに、国民の皆さまへの支援として、社会福祉協議会・緊急小口資金の特例貸付申請書類の受付、死亡保険金の倍額支払などを行っています。</p>
		<p>また、社会の安定の維持のためお客さまが必要とするサービスを継続できるよう業務体制を整備するとともに、新型コロナウイルス感染症対策を支援するための投資を実施しました。</p>
		<p>引き続き、お客さまと社員の安全を確保しながら、地域に必要不可欠な社会インフラとして社会からの要請、地域とお客さまの信頼に応えることで、国民の皆さまのセーフティネットとしての役割を果たしてまいります。</p>
	</div>
	<div class="Section flex">
		<div class="Grid-Column">
			<div class="Image Text-Center">
				<img src="/sustainability/society/images/corona_01.jpg" alt="郵便局窓口でのビニールカーテンを設置">
			</div>
			<div class="Text Text-Center">郵便局窓口へのビニールカーテン設置</div>
		</div>
		<div class="Grid-Column">
			<div class="Image Text-Center">
				<img src="/sustainability/society/images/corona_02.jpg" alt="郵便局内の待合席の間隔調整を実施">
			</div>
			<div class="Text Text-Center">郵便局内待合席の座席間隔の確保</div>
		</div>
	</div>
	<div class="Section Table-Border">
		<table>
			<tbody>
				<tr>
					<td class="BG-Gray">お客さまと社員の安全を確保する取り組み<br>（感染拡大防止策）</td>
					<td>
						<ul>
							<li>一部の郵便局・ゆうちょ銀行の営業時間の短縮、ビニールカーテンの設置</li>
							<li>「置き配」などの対面によらない配達、再配達・集荷の前日予約制の実施</li>
							<li>郵便・物流業務に従事する郵便局社員を中心に、グループ各社社員出勤体制の見直し</li>
							<li>お客さまにご理解・ご協力をいただくため、Webサイト、新聞広告、店頭ポスターの展開</li>
							<li>特定警戒都道府県内の宿泊施設（かんぽの宿等）の全面休館</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
		<table>
			<tbody>
				<tr>
					<td class="BG-Gray Text-Middle" rowspan="4"><span>国民の皆さまへの支援</span></td>
					<td>日本郵政グループ</td>
					<td>
						<ul>
							<li>新型コロナウイルス感染症拡大防止等に関する寄付を実施（1億円）</li>
							<li>郵便局・ゆうちょ銀行店舗・ATMの、原則すべての営業継続</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>日本郵便</td>
					<td>
						<ul>
							<li>政府からの要請を受けたマスクの配布</li>
							<li>特別定額給付金の申請書類等の配達</li>
							<li>都道府県社会福祉協議会が実施している「緊急小口資金の特例貸付」申請書類の郵便局窓口での受付業務の代行</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>ゆうちょ銀行</td>
					<td>
						<ul>
							<li>お客さまの日々の生活に必要な現金の入出金や決済などの重要業務の継続</li>
							<li>特別定額給付金の円滑な入金実施</li>
							<li>新型コロナウイルス感染症の影響を受ける全国の企業への資本面での支援を検討</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>かんぽ生命</td>
					<td>
						<ul>
							<li>新型コロナウイルス感染症の影響を受けるお客さまを支える取り組みを実施</li>
							<ul>
								<li>保険料の払込猶予期間の延伸、普通貸付利率の減免（貸付期間中の適用利率0％）、必要書類を一部省略する等の非常取扱いを実施</li>
								<li>新型コロナウイルス感染症により亡くなられた場合に、死亡保険金に加えて「保険金の倍額支払」の対象として保険金をお支払い</li>
								<li>外出自粛のため、在宅を余儀なくされている方々に向け、手軽に運動不足解消、健康増進に取り組んでいただけるよう、YouTubeにて、ラジオ体操に関連する動画を配信</li>
							</ul>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
		<table>
			<tbody>
				<tr>
					<td class="BG-Gray">責任ある機関投資家としての取り組み</td>
					<td>かんぽ生命</td>
					<td>
						<ul>
							<li>国際機関が発行した新型コロナウイルス感染症対策を目的とした債券を購入</li>
							<ul>
								<li>米州開発銀行（IDB）が発行するサステナブル・ディベロップメント・ボンド</li>
								<li>欧州投資銀行（EIB）が発行する「Sustainability Awareness Bond（持続可能性への認知度を高める債券)」</li>
							</ul>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<h2 class="Header">Withコロナにおける新たな取り組み・被災者支援</h2>

	<div class="Section Col2 TextImageBlock Image-Right">
		<div class="Grid-Column Image">
			<div class="Image Text-Center"><img style="width: 374px; max-width: 100%;" src="/sustainability/society/images/corona_03.jpg" alt="かんぽの宿 阿蘇 星空観賞会"></div>
		</div>
		<div class="Grid-Column Text">
			<div class="Box">
				<p>「かんぽの宿」では、新型コロナウイルスの感染拡大防止を図りながら、安心して旅を楽しんでいただけるよう、2020年6月より、ホテルの駐車場を利用した車中泊サービス「くるまパーク」を実施しています（全国19施設：2021年5月時点）。</p>
				<p>また2021年3月には、かんぽの宿阿蘇にて、天体望遠鏡や双眼鏡を使った星空観賞会を開催。2020年7月の熊本水害で被災した中学生25名程を招待し、旅の思い出づくりを応援しました。</p>
			</div>
		</div>
	</div>

	<h2 class="Header">関連情報</h2>
	<div class="Section List-General">
		<ul>
			<li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
			<li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
			<li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
			<li><a class="Link" href="/csr/society/"><span>地域社会と共に</span></a></li>
		</ul>
	<!-- end .Section --></div>
</div>
