<div id="title_box">
  <div id="csr_main_img_report">
    <h1>日本郵政グループ 社会・環境レポート</h1>
  </div>
  <p class="explanation2">日本郵政グループが取り組んでいる社会貢献および環境に関する取り組みをご紹介します。</p>
</div>
<!-- /#title_box-->

<h2 class="Header"><span>2016年度（平成28年度）社会・環境レポート</span></h2>

<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image"><img src="/sustainability/images/index_img_report2016.jpg" alt="（画像）日本郵政グループ　社会・環境レポート2016" height="300" width="212" /></a></div>
<!-- end .Grid-Column.Image --></div>

<div class="Grid-Column Text">
<div class="Box">
<p><strong>編集方針</strong><br>社会・環境レポートは、ステークホルダーの皆さまに日本郵政グループの地域活動・社会貢献活動および環境に対する取り組みについて、より理解を深めていただくために作成しています。<br>
本レポートでは、取り組みに関わる企業、団体、個人およびグループ社員に取材を行って、生の声を積極的に掲載し、取り組み内容をより具体的に紹介しています。</p>
<p><strong>対象範囲</strong><br>原則、日本郵政株式会社および主要なグループ会社（日本郵便株式会社、株式会社ゆうちょ銀行および株式会社かんぽ生命保険）を対象としています。</p>
<p><strong>対象期間</strong><br>2015年10月から2016年9月までの取り組み内容を中心にご報告していますが、一部については、2016年10月以降の取り組み内容も含みます。</p>
<p><strong>発行時期</strong><br>2016年12月</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section">
<div class="Section Col-Border">
<div class="Grid-Column BG-Gray">
<dl>
<dt>表紙について</dt>
<dd>瀬戸内海に囲ませた日生（ひなせ）諸島の一つである、岡山県備前市の大多府（おおたぶ）島での配達の様子です。<br>
お客さまからお預かりした大切な郵便物などを確実にお届けすることは、日本郵政グループにおける社会的責任の一つです。</dd>
</dl>
<!-- end .Section --></div>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section Col-Border --></div>

<h3 class="Header"><span>PDF版ダウンロード</span></h3>
<div class="Section">
<dl>
<dt>一括ダウンロード</dt>
<dd>
<p><a href="/sustainability/case/2016/pdf/all.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ　社会・環境レポート2016</span></a>［PDF：17,649kバイト］</p>
</dd>
</dl>
<dl>
<dt>分割ダウンロード</dt>
<dd><a href="/sustainability/case/2016/pdf/01.pdf" title="PDFファイルを表示します" class="Link PDF"><span>1. 表紙、目次、トップメッセージ</span></a>［PDF：1,720kバイト］</dd>
<dd><a href="/sustainability/case/2016/pdf/02.pdf" title="PDFファイルを表示します" class="Link PDF"><span>2. 日本郵政グループの概要</span></a>［PDF：2,503kバイト］</dd>
<dd><a href="/sustainability/case/2016/pdf/03.pdf" title="PDFファイルを表示します" class="Link PDF"><span>3. 郵便局ネットワークの安心、信頼を礎に</span></a>［PDF：1,742kバイト］</dd>
<dd><a href="/sustainability/case/2016/pdf/04.pdf" title="PDFファイルを表示します" class="Link PDF"><span>4. 特集1 社会的課題の解決に向けて</span></a>［PDF：2,419kバイト］</dd>
<dd><a href="/sustainability/case/2016/pdf/05.pdf" title="PDFファイルを表示します" class="Link PDF"><span>5. 特集2 これからも復興のために</span></a>［PDF：2,648kバイト］</dd>
<dd><a href="/sustainability/case/2016/pdf/06.pdf" title="PDFファイルを表示します" class="Link PDF"><span>6. 特集3 グループを支える社員のチカラ</span></a>［PDF：2,354kバイト］</dd>
<dd><a href="/sustainability/case/2016/pdf/07.pdf" title="PDFファイルを表示します" class="Link PDF"><span>7. 日本郵政グループのCSRの位置付け</span></a>［PDF：1,426kバイト］</dd>
<dd><a href="/sustainability/case/2016/pdf/08.pdf" title="PDFファイルを表示します" class="Link PDF"><span>8. 社会、地域社会への貢献の推進</span></a>［PDF：5,394kバイト］</dd>
<dd><a href="/sustainability/case/2016/pdf/09.pdf" title="PDFファイルを表示します" class="Link PDF"><span>9. 環境保全活動の推進</span></a>［PDF：3,039kバイト］</dd>
<dd><a href="/sustainability/case/2016/pdf/10.pdf" title="PDFファイルを表示します" class="Link PDF"><span>10. 人に優しい事業環境の整備</span></a>［PDF：2,295kバイト］</dd>
<dd><a href="/sustainability/case/2016/pdf/11.pdf" title="PDFファイルを表示します" class="Link PDF"><span>11. 第三者意見、Webサイト紹介、裏表紙</span></a>［PDF：2,477kバイト］</dd>
</dl>
<!-- end .Section --></div>

<div class="Section Link-Plugin">
<p class="Banner"><a href="http://get.adobe.com/jp/reader/" title="別ウィンドウで表示します" target="_blank"><img src="https://www.japanpost.jp/cmn/images/plugin_acrobat.gif" alt="Adobe Readerのダウンロード" height="33" width="112" /></a></p>
<p class="Caution">※ 注意：このサービスをご利用になるにはAdobe Reader（無料）が必要です。お持ちでない方は左のボタンをクリックしてダウンロードしてください。</p>
<!-- end .Section.Link-Plugin --></div>

<h3 class="Header"><span>HTML版</span></h3>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/web_report/"><span>日本郵政グループ　社会・環境レポート2016（HTML版）</span></a></li>
</ul>
<!-- end .Section.List-General --></div>

<h2 class="Header">2015年度（平成27年度）以前の社会・環境レポート</span></h2>
<h3 class="Header"><span>2015年度（平成27年度）</span></h3>
<div class="Section List-General">
<ul>
<li><a href="/sustainability/case/2015/pdf/all.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ　社会・環境レポート2015</span></a>［PDF：17,670kバイト］</li>
</ul>
<!-- end .Section.List-General --></div>

<h3 class="Header"><span>2014年度（平成26年度）</span></h3>
<div class="Section List-General">
<ul>
<li><a href="/sustainability/case/2014/pdf/all.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ　社会・環境レポート2014</span></a>［PDF：13,807kバイト］</li>
</ul>
<!-- end .Section.List-General --></div>
<h3 class="Header"><span>2013年度（平成25年度）</span></h3>
<div class="Section List-General">
<ul>
<li><a href="/sustainability/case/2013/pdf/01.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ　社会・環境レポート2013</span></a>［PDF：4,370kバイト］</li>
</ul>
<!-- end .Section.List-General --></div>
<h3 class="Header"><span>2010年度（平成22年度）</span></h3>
<div class="Section List-General">
<ul>
<li><a href="/sustainability/case/2010/pdf/01.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ　社会・環境レポート2010</span></a>［PDF：3,051kバイト］</li>
</ul>
<!-- end .Section.List-General --></div>
<h3 class="Header"><span>2009年度（平成21年度）</span></h3>
<div class="Section List-General">
<ul>
<li><a href="/sustainability/case/2009/pdf/01.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ　社会・環境レポート2009</span></a>［PDF：9,764kバイト］</li>
</ul>
<!-- end .Section.List-General --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
    <li><a class="Link" href="/csr/web_report/"><span>日本郵政グループ 社会・環境レポート（HTML版）</span></a></li>
  </ul>
<!-- end .Section --></div>