<h2 class="Header"><span>社会・環境レポート</span></h2>
<div class="Section">
<p>日本郵政グループが取り組んでいる社会貢献および地球環境に関する活動内容について、紹介します。</p>
<!-- end .Section --></div>
<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="（画像）日本郵政グループ　社会・環境レポート2009" src="/sustainability/case/2009/images/index_img_01.jpg" width="90" height="127" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<dl>
<dt>PDFダウンロード</dt>
<dd>
<ul>
<li>
<p><a class="Link PDF" title="PDFファイルを表示します" href="/sustainability/case/2009/pdf/01.pdf"><span>日本郵政グループ　社会・環境レポート</span></a>［PDF：9,764kバイト］</p>
</li>
</ul>
</dd>
</dl>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>
<h2 class="Header"><span>日本郵政グループ・CSR活動トピックス</span></h2>
<div class="Section">
<p>社会・環境レポートにて紹介しているトピックスの内容をご覧いただけます。</p>
<p class="Text-Small">※注意：ページ内の会社名および店舗名は、2008年度時点のものです。</p>
<!-- end .Section --></div>
<h3 class="Header"><span>地域の清掃活動への参加</span></h3>
<div class="Section">
<p>日本郵政グループでは、全国各地で社員が、地域の清掃活動にボランティア参加し、活動を行っています。以下では、それらのうち、グループ本社に情報が寄せられ、全国のグループ組織に情報共有した2008年度の取り組みを紹介します。<br /> このほか、米子西地区および同東地区グループの各郵便局等社員約150人による中海（鳥取県および島根県）周辺での清掃活動（6月8日 日曜日）、郵便事業株式会社石見大田支店および大田第一・第二地区の各郵便局の社員約80人による石見銀山遺跡（島根県）周辺での清掃活動（7月6日 日曜日）を行いました。</p>
<!-- end .Section --></div>
<div class="Section">
<dl>
<dt>全道一斉クリーンアップ作戦</dt>
<dd>
<p>2008年6月29日 日曜日をメイン・デーとして、北海道内の社員とその家族約10,000人がゴミ拾いなどの清掃活動を行いました。</p>
</dd>
</dl>
<!-- end .Section --></div>
<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/case/2009/images/index_img_02.jpg" width="160" height="108" />
<p class="Caption">札幌中央西部地区グループは道庁赤れんが前広場からスタート。</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/case/2009/images/index_img_03.jpg" width="160" height="108" />
<p class="Caption">札幌中央局の創成川清掃。テレビのニュースでも取り上げられました。</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/case/2009/images/index_img_04.jpg" width="160" height="108" />
<p class="Caption">厚別地区グループのみなさん。札幌市厚別区の幹線道路を5kmにわたって清掃。</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>
<div class="Section Col2 TextImage205 Image-Right">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/case/2009/images/index_img_05.jpg" width="165" height="98" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<dl>
<dt>オフィス街ロードクリーン2008</dt>
<dd>
<p>8月5日 火曜日の早朝、日本郵政グループ本社の社員が各省庁の方と一緒に霞が関周辺で一斉にゴミ拾い活動を行いました。</p>
</dd>
</dl>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Right --></div>
<h3 class="Header"><span>四川大地震・ミャンマーサイクロン災害への援助</span></h3>
<div class="Section">
<p>2008年の中国四川省での大地震およびミャンマーでのサイクロン被害に対し、全国の日本郵政グループ社員からの義援金に日本郵政株式会社からの寄附を加え、中国あての寄附として中国大使館に1,000万円、ミャンマーあての寄附として日本赤十字社に800万円をそれぞれ寄贈しました。</p>
<!-- end .Section --></div>
<h3 class="Header"><span>「eco japan cup」への参加</span></h3>
<div class="Section">
<p>全国で地域に根ざした事業を展開する日本郵政グループとして、地域のエコ活動を応援するため、2008年度から「eco japan cup」のビジネス部門・環境ビジネスベンチャーオープンに「ＪＰ地域共存ビジネス賞」を提供しています。</p>
<!-- end .Section --></div>
<div class="Section Col2 TextImage205 Image-Right">
<div class="Grid-Column Image">
<div class="Image"><img alt="（画像）資源循環型マルチフィルム「イモ太郎」" src="/sustainability/case/2009/images/index_img_06.jpg" width="200" height="197" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<dl>
<dt>2008年度　ＪＰ地域共存ビジネス賞　株式会社ピースウェイブ</dt>
<dd>（受賞取り組み概要）</dd>
<dd>サツマイモの焼酎粕でできる樹脂ペレットから「土に還る」農業用マルチシート「イモ太郎」を開発、「イモ生産⇒焼酎生産⇒焼酎粕⇒樹脂ペレット⇒イモ太郎⇒畑で使用⇒イモ生産」という資源循環型ビジネスモデルを鹿児島で確立。</dd>
</dl>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Right --></div>
<div class="Section Col2 TextImage205 Image-Right">
<div class="Grid-Column Image">
<div class="Image"><img alt="（画像）野の花マット" src="/sustainability/case/2009/images/index_img_07.jpg" width="200" height="273" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<dl>
<dt>2009年度　ＪＰ地域共存ビジネス賞　有限会社仲田種苗園</dt>
<dd>（受賞取り組み概要）</dd>
<dd>40年間、植物在来種の保存と繁殖に努め、生態系の維持や再生を意識した植生マット「野の花マット」などを開発、都市部を中心とした屋上緑化等への導入で環境改善に寄与しているほか、地元福島県石川町の里山保全にも貢献。</dd>
</dl>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Right --></div>
<div class="Section Col-Border">
<div class="Grid-Column BG-Gray">
<dl>
<dt>ＪＰ 地域共存ビジネス賞について</dt>
<dd>
<p>「地域に根ざした環境保全事業」および「地域既存の生物との共存を意識した事業」の2つの要素を併せ持ち、"地域共存"を打ち出すことにより、商品・サービスに付加価値をつけて地域に貢献している企業・団体を対象としています。受賞事業に関しては、今後の事業拡大のためにＪＰグループのチャネルを活用することも視野に入れ支援します。</p>
</dd>
</dl>
<dl>
<dt>eco japan cupとは?</dt>
<dd>
<p>一般社団法人環境ビジネスウィメン、三井住友銀行、日本政策投資銀行、環境省および総務省の官民5者が主催で行う「エコビジネスの芽を見つけ、育てる。」コンテスト。</p>
</dd>
</dl>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border --></div>
<div class="Section Link-Plugin">
<p class="Banner"><a title="別ウィンドウで表示します" href="http://get.adobe.com/jp/reader/" target="_blank"><img alt="GET ADOBE® READER®" src="/cmn/images/plugin_acrobat.gif" width="112" height="33" /></a></p>
<p class="Caution">※ 注意：このサービスをご利用になるにはAdobe Reader（無料）が必要です。お持ちでない方は左のボタンをクリックしてダウンロードしてください。</p>
<!-- end .Section.Link-Plugin --></div>