<div id="title_box">
  <div id="csr_main_img_report">
    <h1>日本郵政グループ サステナビリティレポート</h1>
  </div>
  <p class="explanation2">日本郵政グループが取り組んでいるサステナビリティ活動に関する取り組みを<br>ご紹介します。</p>
</div>
<!-- /#title_box-->

<h2 id="sus_repo" class="Header"><span>2020年度 サステナビリティレポート</span></h2>

<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img src="/sustainability/images/index_img_report2020.jpg" alt="（画像）日本郵政グループ　サステナビリティレポート2020" style="width: 212px;" /></div>
<!-- end .Grid-Column.Image --></div>

<div class="Grid-Column Text">
<div class="Box">
<p><strong>編集方針</strong><br>サステナビリティレポートは、ステークホルダーの皆さまに日本郵政グループの地域活動・社会貢献活動および環境に対する取り組みについて、より理解を深めていただくために作成しています。<br>本レポートでは、取り組みにかかわる企業、団体および個人に取材を行って、生の声を積極的に掲載し、取り組み内容をより具体的にご紹介しています。</p>
<p><strong>報告対象範囲</strong><br>原則、日本郵政株式会社および主要なグループ会社（日本郵便株式会社、株式会社ゆうちょ銀行および株式会社かんぽ生命保険）を対象としています。</p>
<p><strong>対象期間</strong><br>2019年10月から2020年9月までの取り組み内容を中心にご報告していますが、一部については、2019年10月以前の取り組み内容も含みます。</p>
<p><strong>発行時期</strong><br>2020年10月</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header"><span>PDF版ダウンロード</span></h3>
<div class="Section">
<dl>
<dt>一括ダウンロード</dt>
<dd>
<p><a href="/sustainability/report/pdf/2020_all.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ サステナビリティレポート2020</span></a>［PDF：18,676kバイト］</p>
</dd>
</dl>
<!-- end .Section --></div>

<div class="Section Link-Plugin">
<p class="Banner"><a href="http://get.adobe.com/jp/reader/" title="別ウィンドウで表示します" target="_blank"><img src="https://www.japanpost.jp/cmn/images/plugin_acrobat.gif" alt="Adobe Readerのダウンロード" height="33" width="112" /></a></p>
<p class="Caution">※ 注意：このサービスをご利用になるにはAdobe Reader（無料）が必要です。お持ちでない方は左のボタンをクリックしてダウンロードしてください。</p>
<!-- end .Section.Link-Plugin --></div>

<h2 id="backnumber" class="Header">2019年度以前のCSRレポート / 社会・環境レポート</h2>
<h3 class="Header"><span>2019年度</span></h3>
<div class="Section List-General">
<ul>
<li><a class="Link PDF" href="/sustainability/report/pdf/2019_all.pdf"><span>日本郵政グループ CSRレポート2019（日本語版）</span></a>［PDF：18,681kバイト］</li>
</ul>
</div>

<h3 class="Header"><span>2018年度</span></h3>
<div class="Section List-General">
<ul>
<li><a class="Link PDF" href="/sustainability/report/pdf/2018_all.pdf"><span>日本郵政グループ CSRレポート2018（日本語版）</span></a>［PDF：10,539kバイト］</li>
</ul>
</div>

<h3 class="Header"><span>2017年度</span></h3>
<div class="Section List-General">
<ul>
<li><a class="Link PDF" href="/sustainability/report/pdf/2017_all.pdf"><span>日本郵政グループ CSRレポート2017（日本語版）</span></a>［PDF：15,598kバイト］</li>
<li><a class="Link" href="/en/csr/report/"><span>Japan Post Group CSR Report 2017（英語版）</span></a></li>
</ul>

<!-- end .Section.List-General --></div>

<h3 class="Header"><span>2016年度</span></h3>
<div class="Section List-General">
<ul>
<li><a href="/sustainability/report/pdf/2016_all.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ　社会・環境レポート2016</span></a>［PDF：17,649kバイト］</li>
</ul>
<!-- end .Section.List-General --></div>

<h3 class="Header"><span>2015年度</span></h3>
<div class="Section List-General">
<ul>
<li><a href="/sustainability/report/pdf/2015_all.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ　社会・環境レポート2015</span></a>［PDF：17,633kバイト］</li>
</ul>
<!-- end .Section.List-General --></div>

<h3 class="Header"><span>2014年度</span></h3>
<div class="Section List-General">
<ul>
<li><a href="/sustainability/report/pdf/2014_all.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ　社会・環境レポート2014</span></a>［PDF：13,807kバイト］</li>
</ul>
<!-- end .Section.List-General --></div>
<h3 class="Header"><span>2013年度</span></h3>
<div class="Section List-General">
<ul>
<li><a href="/sustainability/report/pdf/2013_all.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ　社会・環境レポート2013</span></a>［PDF：4,370kバイト］</li>
</ul>
<!-- end .Section.List-General --></div>
<h3 class="Header"><span>2010年度</span></h3>
<div class="Section List-General">
<ul>
<li><a href="/sustainability/report/pdf/2010_all.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ　社会・環境レポート2010</span></a>［PDF：3,051kバイト］</li>
</ul>
<!-- end .Section.List-General --></div>
<h3 class="Header"><span>2009年度</span></h3>
<div class="Section List-General">
<ul>
<li><a href="/sustainability/report/pdf/2009_all.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ　社会・環境レポート2009</span></a>［PDF：9,764kバイト］</li>
</ul>
<!-- end .Section.List-General --></div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
