<div id="title_box">
  <p class="explanation2 title_priority">CSR重点課題</p>
  <div id="csr_main_img_report">
      <h1>資源の有効利用と廃棄物の削減</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/environment/images/title_box_sdgs_12.png" alt="12：つくる責任つかう責任">
    <img src="/sustainability/environment/images/title_box_sdgs_13.png" alt="13：気候変動に具体的な対策を">
    <img src="/sustainability/environment/images/title_box_sdgs_15.png" alt="15：陸の豊かさも守ろう">
  </p>
</div>

<div class="Section">
  <h4><strong>限りある資源を次世代に引き継ぐために</strong></h4>
  <p>年々増加する世界人口、新興国・途上国の急速な経済成長などを背景に、自然資源の需要が急増しており、将来的な資源の枯渇が懸念されています。私たちの暮らしや企業活動は自然資源なしには成り立ちません。限りある資源を次世代に残し、持続可能な社会を実現するためには、資源の過剰利用を止め、長期的な視野に立った管理・利用が重要です。</p>
</div>


<h2 class="Header" id="care">トピックス：環境配慮型郵便局の推進</h2>
<div class="Section Col">
  <div class="Grid-Column">
    <p>日本郵便では、CLT<sup>※</sup>の利活用と環境負荷の小さい自家発電等を組み合わせた環境に配慮した郵便局（「＋（ぷらす）エコ 郵便局」）の建設を推進しています。<br />2022年3月に第一号店舗として丸山郵便局（千葉県南房総市）を旧店舗から移転の上、開局を予定しています。<br />今後2023年度末までの間に、10局程度の郵便局を「+エコ郵便局」として建設することにより、一層環境に配慮した郵便局の設置を推進してまいります。</p>
    <div class="Text-Indent">
      <p class="Caption">※CLT（クロス・ラミネイティッド・ティンバー）：長い板状の木材を縦横交互に張り合わせた厚型のパネルで、強度、耐熱性に優れており、コンクリートや鉄に比べてCO&#x2082;の発生を抑制。</p>
    </div>
  </div>
  
  <div class="Grid-Column">
    <div class="Image Text-Center">
      <figure><img src="/sustainability/environment/images/env_02.png" alt="環境配慮型郵便局の推進" style="max-width: 500px;"></figure>
    </div>
  </div>
</div>

<h2 class="Header" id="passbook">トピックス：無通帳型総合口座の取り扱いをはじめとした紙の削減</h2>
<div class="Section">
  <p>ゆうちょ銀行では、お客さまにより便利にご利用いただけるサービスを提供することで、事業における紙使用量削減に継続して取り組んでいます。</p>
</div>

<h3 class="Header">無通帳型総合口座「ゆうちょダイレクト＋（プラス）」</h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="ゆうちょダイレクトプラス ロゴ" src="/sustainability/environment/images/index07_img_01.jpg" style="max-width: 462px;">
</div>
<!-- end .Grid-Column.Image --></div>

<div class="Grid-Column Text" style="overflow:visible;">
<div class="Box">
<p>「ゆうちょダイレクト＋（プラス）」は、通帳を発行せず、現金の預け入れと払い出しはキャッシュカードで、入出金明細照会や現在高照会などはゆうちょダイレクト上でご利用いただけるサービスです。紙の通帳を発行しない代わりに、入出金明細を最大20年間<sup>※</sup>ご確認いただけます。<br />これまで通帳に使用していた紙や、お客さまへの各種お知らせの紙も不要となるため、紙使用量の削減にもつながります。</p>
<div class="Text-Indent">
  <p class="Caption">※ 2021年3月以降の入出金明細が対象。（2021年2月以前の入出金明細は最大15か月間）</p>
</div>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header">振替受払通知票Web照会サービス</h3>
<div class="Section">
  <p>振替受払通知票および払込取扱票などを口座更新日の翌朝9時以降に、オフィスやご自宅のパソコン・スマートフォンから確認できるサービスです。ご利用のお客さまからは、「インターネット上で振替受払通知票などが確認できて便利」「紙の振替受払通知票を保管する必要がなくなって、楽になった」などの声をいただいています。文書でお知らせする代わりにWebサイト画面でご確認いただくため、紙使用量の削減にもつながっています。</p>
  
  <p><a href="https://www.jp-bank.japanpost.jp/hojin/speedy/hj_spd_web.html" class="Link Popup"><span>振替受払通知票Web照会サービス</span></a>-ゆうちょ銀行</p>
</div>

<h3 class="Header" id="eco">環境保全団体への寄附「ゆうちょ エコ・コミュニケーション」</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img alt="日本地図" src="/sustainability/environment/images/env_11.png" style="width: 400px; max-width: 100%;">
    <!-- end .Section --></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>「ゆうちょダイレクト＋（プラス）」「振替受払通知票Web照会サービス」など、便利で紙使用量削減につながるサービスを多くのお客さまにご利用いただくことで、削減された紙使用量分のコストの一部を、地域住民と共に環境保全に取り組む全国の団体（認定NPO法人等）に「ゆうちょ エコ・コミュニケーション」として寄附しています(2017年度開始。全27団体、寄附累計額1,950万円)。<br />ゆうちょ銀行は、地域社会の持続的発展と環境保全を担う人材育成に貢献してまいります。
      </p>
    </div>
  </div>
<!-- end .Section --></div>
<div class="Section List-General">
  <ul>
    <li><a href="https://www.jp-bank.japanpost.jp/sustainability/environment/esg/communication/" class="Link Popup"><span>ゆうちょ　エコ・コミュニケーション（環境保全団体への寄附）</span></a>-ゆうちょ銀行</li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header" id="paperless">トピックス：紙使用量の削減（ペーパーレス化）の取り組み、環境保全活動の支援</h2>
<div class="Section">
  <p>かんぽ生命では、環境保護への貢献として、紙の使用量の削減に取り組んでいます。</p>
  <p class="ml20 mb00"><strong>紙使用量削減（ペーパーレス化）の主な取り組み</strong></p>
  <ul class="List-Disc ml20 mb15">
    <li>電子払込証明書の提供による郵送停止</li>
    <li>「ご契約のしおり・約款」の閲覧方法を冊子だけでなく、当社Webサイト上でPDF形式でご覧いただくWeb閲覧での提供</li>
    <li>コピー用紙削減の推奨や各種事務用帳票を電子化</li>
  </ul>
  <p>また、森を元気にし、緑を増やす取り組みにつなげていくため、森づくり活動への寄附などの支援活動を行っています。<br />2020年度は、公益社団法人国土緑化推進機構の実施する「緑の募金」に200万円を寄附し、市民団体などの実施する森づくり活動などの支援に活用されました。
  </p>
</div>

<h2 class="Header">その他の取り組み</h2>
<div class="Section">
  <p>日本郵政グループは、誰もが安心して暮らせる、持続可能な社会のためにさまざまな取り組みを行っています。</p>
</div>
<div class="Section List-General">
  <ul class="link_others_list">
    <li class="link_others_item"><a href="/sustainability/environment/resources/others.html#volunteer" class="Link"><span>ゆうちょボランティア貯金等による環境保全への貢献</span></a></li>
    <li class="link_others_item"><a href="/sustainability/environment/resources/others.html#recycle" class="Link"><span>郵便局を活用したリサイクルの推進</span></a></li>
    <li class="link_others_item"><a href="/sustainability/environment/resources/others.html#uniform" class="Link"><span>ユニフォームのリユース</span></a></li>
    <li class="link_others_item"><a href="/sustainability/environment/resources/others.html#plastic" class="Link"><span>郵便局でのプラスチック製レジ袋の販売</span></a></li>
    <li class="link_others_item"><a href="/sustainability/environment/resources/others.html#paper" class="Link"><span>日本郵政グループで使用した紙のリサイクル</span></a></li>
  </ul>
  <p><a href="/sustainability/environment/resources/others.html" class="btn--others-init"><span>その他の取り組み</span></a></p>
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
