<div id="title_box">
  <p class="explanation2 title_priority">CSR重点課題</p>
  <div id="csr_main_img_resources">
      <h1>資源の有効利用と廃棄物の削減：その他の取り組み</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/environment/images/title_box_sdgs_12.png" alt="12：つくる責任つかう責任">
    <img src="/sustainability/environment/images/title_box_sdgs_13.png" alt="13：気候変動に具体的な対策を">
    <img src="/sustainability/environment/images/title_box_sdgs_15.png" alt="15：陸の豊かさも守ろう">
  </p>
</div>

<h2 id=volunteer class="Header"><span>ゆうちょボランティア貯金等による環境保全への貢献</span></h2>
<div class="Section">
<div class="Grid-Column Text Text List-General">
<div class="Box">
<p>ゆうちょ銀行では、「ゆうちょボランティア貯金」「JP BANKカードポイント交換メニューからの寄附」を通じてお客さまからお預かりした寄附金を、独立行政法人国際協力機構（JICA）に寄附しています。寄附金は「世界の人びとのためのJICA基金」を通じて、開発途上国・地域の生活向上や環境保全等に活用されています。</p>
<ul>
<li><a href="https://www.jp-bank.japanpost.jp/aboutus/activity/fukusi/abt_act_fk_volunteer.html" class="Link Popup"><span>ゆうちょボランティア貯金</span></a> - ゆうちょ銀行</li>
</ul>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 id=recycle class="Header"><span>郵便局を活用したリサイクルの推進</span></h2>
<h3 id="ink" class="Header">使用済みインクカートリッジの回収</h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="使用済みインクカートリッジ回収箱" src="/sustainability/environment/images/index05_img_01.jpg" style="width: 300px">
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵便は、プリンターメーカー4社と協力し、使用済みインクカートリッジの共同回収（インクカートリッジ里帰りプロジェクト）を行っています。</p>
<p>2021年4月現在、回収箱は全国3,608か所の郵便局および一部の地方公共団体に設置されています。</p>
<p>郵便局などにお持ちいただいた使用済みインクカートリッジは、ゆうパックで仕分け作業所に送られ、メーカーごとに仕分けされた後は、各メーカーによって再資源化されます。</p>
<p>2020年度は約365万個の回収実績があり、145t（杉の木16,400本相当）のCO<sub style="font-size: 80%;">2</sub>削減効果がありました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="650" alt="CO2回収実績" src="/sustainability/environment/images/env_08.gif"></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>
<div class="mb10">
<ul>
    <li><a href="http://www.inksatogaeri.jp/" class="Link Popup"><span>インクカートリッジ里帰りプロジェクト</span></a></li>
</ul>
</div>
<div class="Section Col-Border">
<div class="Grid-Column BG-Gray">
<div class="Section List-General">
<p>「インクカートリッジ里帰りプロジェクト」は、動画でもご紹介しています。</p>
  <ul>
    <li><a class="Link" href="/sustainability/library/movie/back_number/2016_002.html"><span>インクカートリッジ里帰りプロジェクト【サステナブルムービー】</span></a></li>
  </ul>
<!-- end .Section.List-General --></div>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border --></div>

<h3 id="extinguisher" class="Header"><span>家庭用消火器の回収</span></h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img style="width: 400px; max-width: 100%;" src="/sustainability/society/images/syo_flow.gif" alt="消火器回収の流れ"></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>2005年に環境省による一般廃棄物の広域認定制度の対象品目に消火器が加えられたことにより、消火器メーカーによる廃消火器の広域的な回収・リサイクルが可能となりました。</p>
      <p>日本郵便では、2006年から、ゆうパックを活用した消火器の回収を行うことにより、消火器メーカー（HATSUTAエコサイクルセンター）が進める地球環境保全における循環型社会の形成に向けた取り組みに協力しています。</p>
      <p>2020年度は、約1千個のゆうパックにより消火器を回収しました。</p>
    </div>
  </div>
<!-- end .Section -->
</div>
<div class="Section List-General">
  <ul>
    <li><a href="http://www.post.japanpost.jp/about/recycle/syoukaki.html" class="Link Popup"><span>家庭系廃消火器の回収について</span></a>-日本郵便</li>
  </ul>
<!-- end .Section -->
</div>

<h3 id="pc" class="Header"><span>パソコンの回収</span></h3>
<div class="Section Col2 TextImageBlock Image-Right List-General">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img style="width: 400px; max-width: 100%;" src="/sustainability/environment/images/env_09.gif" alt="パソコンの回収"></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>2003年10月1日より「資源有効利用促進法」に基づいて、メーカーとお客様が協力しあって、家庭のパソコンを再資源化するPCリサイクルが始まりました。<br />日本郵便で、エコゆうパックを活用したパソコンの回収を行うことにより、部品や材料のより有効な再資源化に貢献しています。</p>
      <p>2020年度は、約35万個のゆうパックによりパソコンを回収しました。</p>
    </div>
    <ul>
      <li><a href="https://www.post.japanpost.jp/about/csr/nature/recycle_pc.html" class="Link Popup"><span>パソコン回収について</span></a>-日本郵便</li>
    </ul>
  </div>
<!-- end .Section -->
</div>

<h3 id="melt" class="Header"><span>「日本郵便の紙のリサイクル（機密文書溶解サービス）」の試行実施</span></h3>
<div class="Section List-General">
  <p>日本郵便では、不要になった請求書などの郵便物、使用済みはがきなどの個人情報に関わる書類の溶解サービスを、法人のお客さま向けに試行実施しています。溶解された書類は、トイレットペーパーなどにリサイクルされます。</p>
  <ul>
    <li><a href="https://www.post.japanpost.jp/business/yokai/index.html" class="Link Popup"><span>日本郵便の紙のリサイクル（機密文書溶解サービス）</span></a> -日本郵便</li>
  </ul>
</div>

<h2 id="uniform" class="Header">ユニフォームのリユース</h2>
<div class="Section">
<p>日本郵便は、使われなくなったユニフォームを回収し、クリーニングなどのメンテナンスを施したうえでリユースすることにより、コスト削減や地球環境保全に貢献しています。<br>2020年度はジャケット、ワイシャツなど合計約4万3千着のユニフォームをリユースしました。</p>
</div>

<h2 id="plastic" class="Header">郵便局でのプラスチック製レジ袋の販売</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img src="/sustainability/environment/images/biomas.png" alt="" style="max-width: 100%;"></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵便では、 2020年7月から、環境に配慮した新しいレジ袋を販売しています。一部の袋は、非食用の「資源米」などを原料とするバイオマスプラスチックを配合しており、石油資源の節約とCO<sub>2</と>排出量の削減に貢献しています。</p>
    </div>
  </div>
</div>

<h2 id="paper" class="Header">日本郵政グループで使用した紙のリサイクル</h2>
<div class="Section">
<p>日本郵政グループ各社で使用した文書を集中倉庫で保管する業務を行っています。文書の保管期限経過後、提携する溶解工場で溶解処理を行っており、溶解された文書はトイレットペーパーなどリサイクル製品となり、郵便局などで再利用しています。</p>
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
