<div id="title_box">
  <p class="explanation2 title_priority">CSR重点課題</p>
  <div id="csr_main_img_generation">
    <h1>次世代育成</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/society/images/title_box_sdgs_03.png" alt="3：すべての人に健康と福祉を">
    <img src="/sustainability/society/images/title_box_sdgs_04.png" alt="4：質の高い教育をみんなに">
    <img src="/sustainability/society/images/title_box_sdgs_09.png" alt="9：産業と技術革新の基盤をつくろう">
    <img src="/sustainability/society/images/title_box_sdgs_11.png" alt="11：住み続けられるまちづくりを">
  </p>

</div>
<!-- /#title_box-->

<div class="Section">
  <p><strong>未来を担う子どもたちのために</strong><br>
    今、日本の子どもの7人に1人が相対的貧困状態にあるといわれています。教育は人々の生活改善には欠かせないもの。家庭の経済状況に左右されることなく、誰もが質の高い教育を受けられることが大切です。同時に、持続可能な社会づくりに必要な、体系的な思考力やコミュニケーション力などの育成も必要とされています。</p>
  <!-- end .Section -->
</div>

<h2 class="Header" id="kids">トピックス：ゆうびんきょくキッズサイト</h2>
<div class="Section Col">
  <div class="Grid-Column">
    <div class="Image Text-Center"><img src="/sustainability/society/images/society_05.png" alt="ゆうびんきょくキッズサイト"></div>
  </div>
</div>
<div class="Section">
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵便は、手紙や郵便局のことを楽しく学んでいただくことを目的に、日本郵便Webサイト内に子ども向けコンテンツ「ゆうびんきょくキッズサイト」を開設・運営しています。<br>2021年7月には、一般社団法人日本子育て支援協会の主催する 2021年度「日本子育て支援大賞」を受賞しました。</p>
      <ul>
        <li><a href="https://www.post.japanpost.jp/kids/" rel="noopener noreferrer" class="Link Popup"><span>ゆうびんきょくキッズサイト</span></a>－日本郵便</li>
      </ul>
    </div>
  </div>
</div>

<h2 class="Header" id="class">トピックス：ゆうちょ金融教室</h2>
<div class="Section Col">
  <div class="Grid-Column">
    <div class="Image Text-Center"><img src="/sustainability/society/images/society_06.jpg" alt="ゆうちょ金融教室"></div>
  </div>
</div>
<div class="Section">
  <p>ゆうちょ銀行は、小・中学生を対象に、学校への出前授業などで金融教室を開催しています。</p>
  <p>オリジナルの教材を使用して、お金の大切さ、お金との付き合い方を伝えることで、子どもたちが正しい金銭感覚を身に付けられるよう育成をお手伝いしています。</p>
  <p>
    電子マネーの普及など、お金に関して子どもを取り巻く環境が大きく変わっている中、青少年がお金のトラブルに巻き込まれるケースが増えていることから、社会の各方面から金融教育を求める声が高まっています。<br />
    地域の中で伸び伸びと育つ子どもたちにお金の大切さを伝え、お金との付き合い方をしっかりと学んでもらうこと、それこそが地域に根ざした金融機関であるゆうちょ銀行が果たすべき社会的責任であると考えます。
  </p>
  <p>2014年～2020年までの7年間の間に、全国の小・中学校などでのべ500回実施をしました。</p>
</div>
<div class="Section">
  <div class="next_gene_financial_book Grid-Column Image">
    <div class="Image Text-Center">
    <img alt="" src="/sustainability/society/images/society_07.jpg" style="width: 300px">
    </div>
    <div class="Image Text-Center">
    <img alt="" src="/sustainability/society/images/edc_img_02.png" style="width: 300px">
    </div>
    <!-- end .Grid-Column.Image --></div>
</div>
<div class="Section List-General">
  <ul>
    <li><a href="https://www.jp-bank.japanpost.jp/csr/esg/social/community/csr_esg_scl_cmt_finance.html" class="Link Popup"><span>金融教育</span></a>-ゆうちょ銀行</li>
  </ul>
<!-- end .Section --></div>


<h2 class="Header" id="concours">トピックス：「第75回全日本学生音楽コンクール」への協賛</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img src="/sustainability/society/images/society_08.jpg" alt="全日本学生音楽コンクール">
    </div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>かんぽ生命保険は、音楽文化の発展と、夢に向かって挑戦する学生を応援したいという想いから、株式会社毎日新聞社が主催する「第75回全日本学生音楽コンクール」の趣旨に共感し、本コンクールに協賛しています。<br>本コンクールは、音楽を楽しむ心を培うとともに演奏技術の向上を促し、公正な審査によって世界を舞台に活躍する若い才能を発掘して音楽文化の発展に寄与するという趣旨のもと、実施されています。</p>
      <ul>
        <li><a href="https://gaccon.mainichi-classic.net/" rel="noopener noreferrer" class="Link Popup"><span>全日本学生音楽コンクールについて</span></a></li>
      </ul>
    </div>
  </div>
</div>


<h2 class="Header">その他の取り組み</h2>
<div class="Section">
  <p>日本郵政グループは、誰もが安心して暮らせる、持続可能な社会のためにさまざまな取り組みを行っています。</p>
</div>
<div class="Section List-General">
  <ul class="link_others_list">
    <li class="link_others_item"><a href="/sustainability/society/next_generation/others.html#workplace" class="Link"><span>職場体験・職場見学</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/next_generation/others.html#letter" class="Link"><span>手紙文化の振興</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/next_generation/others.html#piggy" class="Link"><span>ゆうちょアイデア貯金箱コンクール</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/next_generation/others.html#exercise" class="Link"><span>全国小学校ラジオ体操コンクール</span></a></li>
  </ul>
  <p><a href="/sustainability/society/next_generation/others.html" class="btn--others-init"><span>その他の取り組み</span></a></p>
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
