

<div id="title_box">
  <p class="explanation2 title_priority">CSR重点課題</p>
  <div id="csr_main_img_generation">
      <h1>次世代育成：その他の取り組み</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/society/images/title_box_sdgs_03.png" alt="3：すべての人に健康と福祉を">
    <img src="/sustainability/society/images/title_box_sdgs_04.png" alt="4：質の高い教育をみんなに">
    <img src="/sustainability/society/images/title_box_sdgs_09.png" alt="9：産業と技術革新の基盤をつくろう">
    <img src="/sustainability/society/images/title_box_sdgs_11.png" alt="11：住み続けられるまちづくりを">
  </p>
</div>
<!-- /#title_box-->

<h2 class="Header" id="letter">手紙文化の振興</h2>
<div class="Section TextImageBlock">
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵便は、学校の授業の場で「実際の手紙のやり取り」を通して、手紙を書く楽しみ、手紙を受け取ったときの喜びをしっかりと経験してほしいという願いから、小・中・高校生を対象に、「手紙の書き方体験授業」を行っています。<br>その他にも、学校や地域の皆さまと連携をとりながらさまざまなイベントを開催しています。</p>
    </div>
  </div>
  <p><a href="https://www.post.japanpost.jp/about/csr/society/index.html#02_01" class="Link Popup"><span>手紙振興</span></a> - 日本郵便</p>
  <!-- end .Section -->
</div>

<h2 class="Header" id="piggy">ゆうちょアイデア貯金箱コンクール</h2>
<div class="Section">
  <p>ゆうちょ銀行は、小学生が貯金箱の制作を通じて造形的な創造力を伸ばすとともに、貯蓄に対する関心を高めることを目的として、「ゆうちょアイデア貯金箱コンクール」を開催しています。</p>
  <ul>
      <li><a href="https://www.jp-bank.japanpost.jp/sustainability/social/community/nurturing/competition/index.html" class="Link Popup"><span>ゆうちょアイデア貯金箱コンクール</span></a> - ゆうちょ銀行</li>
  </ul>
  <!-- end .Section -->
</div>

<h2 class="Header" id="exercise">全国小学校ラジオ体操コンクール</h2>
<div class="Section">
  <p>かんぽ生命保険は、多くの小学生の皆さまに、元気にラジオ体操をしていただく機会を増やし、健康増進にお役立ていただくことを目的として「全国小学校ラジオ体操コンクール」を開催しています。</p>
  <!-- end .Section -->
</div>
<div class="Section List-General">
  <ul>
      <li><a href="https://radi-con.jp/?sv_itok=MtKRYJ-AbXM-CUeEk8TgmBzykKI9TjQkdtYM4E2vIRi7lBY3IC4VTTlnTp-n5k9nYsuOr0vwnXSelaZ7T7TuuZ8P-wCv5n7pjvvF6I9NZWqQjFRfvZ769REzmZFMBdPLXg-eWcSo6LeYCFWoxPVWNjSdOdDvchj4k27bTzGr8y7oaGn6fJrsLSz-pgXZ6W1WGt-z_NF-2jejnEqnCyaQ4kfUdFIveHUIkGP72TjKMdW7h4kqw9fqBFygvGp5HRK1G5qM8K_ifrg570wKULsnBf8me1QaF6YITc6e5_A1jZDEHXhO3QHY_zEPPLAjcNjb8JToO3bZDXJ7-t_xAxem22JA9LXWjdQdL1COKg-nt--YqSAbk2su0QDGbvOC2dwrhrxYMwdRs7DPTt1mEUo4USX7hZR_-aLMr-T6hv8MIAiryyiRdhbxBakd8HWp3Hjqkax6iXbV58YZzV8jk0yYbg==" class="Link Popup"><span>ラジオ体操ポータルサイト</span></a> - かんぽ生命保険</li>
  </ul>
  <!-- end .Section -->
</div>

<h2 class="Header" id="workplace">職場体験・職場見学</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
      <div class="Image Text-Center"><img alt="" src="/sustainability/society/images/index_img_05.jpg" style="width: 300px; max-width: 100%;" /></div>
      <div class="Image Text-Center"><img alt="" src="/sustainability/society/images/index_img_06.jpg" style="width: 300px; max-width: 100%;" /></div>
      <div class="Image Text-Center"><img alt="" src="/sustainability/society/images/index_img_09.jpg" style="width: 300px; max-width: 100%;" /></div>
      <!-- end .Grid-Column.Image -->
  </div>
  <div class="Grid-Column Text" style="overflow:visible;">
      <div class="Box">
          <p>日本郵便は、手紙やはがきなどがどのような仕組みで届けられるのか等について知っていただくことで、子どもたちに郵便局を身近に感じてもらうため、小学校等から依頼を受け、郵便局見学を実施しています。2020年度は、全国約2,500校の小学校等の皆さまに郵便局を見学していただきました。</p>
          <p>例えば、郵便番号を識別し自動的に郵便物を仕分ける機械などを見学しながら、郵便局の窓口や郵便ポストに差し出した郵便物があて先に届くまでの仕組みを紹介しています。<br />
          2019年度には新たに文部科学省、総務省、経済産業省が実施した「未来の学び　プログラミング教育推進月間（みらプロ2019）」に参加しました。日本郵便では自動的に郵便物を仕分ける機械を設置している郵便局で見学を受け入れ、小学生にその機械が郵便物を仕分ける仕組みや郵便物をお客さまにお届けするまでの仕組みなどを紹介しました。</p>
          <p>そのほか、ゆうちょ銀行・かんぽ生命保険・日本郵政（かんぽの宿）においても地域の学校などから職場体験・職場見学の受け入れを実施しており、実際の業務を体験・見学していただくことで、職業や社会を知るお手伝いをしています。</p>
          <!-- end .Box -->
      </div>
      <!-- end .Grid-Column.Text -->
  </div>
  <!-- end .Section.Col2.TextImageBlock.Image-Right -->
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
