<div id="title_box">
  <div id="csr_main_img_kids2">
    <h1>「JP子どもの森づくり運動」の取り組み</h1>
  </div>
  <p class="explanation2">日本郵政グループが特別協賛している「JP子どものも森づくり運動」に参加している全国の幼稚園・保育園をご紹介します。</p>
</div>
<!-- /#title_box-->

<div class="Section">
<p>「JP子どもの森づくり運動」は2008年に始まり、1年目の秋には全国15都道府県の参加園で種拾い・園庭のプランターへの種植え活動が行われました。沖縄県については、気候・地域特性を勘案して、2009年の夏に、マングローブ（ヤエヤマヒルギなど）の種植え活動が実施されました。また、2009年秋には新規で29都県の参加園が活動を実施するなど、取り組みは全国に広がりました。2010年7月には、全国47都道府県の参加園ネットワークが完成し、参加園は順次増えています。</p>
<p>2008年に開始した参加園では、活動3年目となる2010年から植樹活動が開始され、毎年順次、全国各地で植樹活動が行われています。</p>
<!-- end .Section --></div>

<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/index_img_04.jpg" width="165" height="114" />
<p class="Caption">北海道　三和新琴似保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/index_img_05.jpg" width="165" height="114" />
<p class="Caption">秋田県　湯沢保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/index_img_06.jpg" width="165" height="114" />
<p class="Caption">茨城県　聖徳保育園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>
<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/index_img_07.jpg" width="165" height="114" />
<p class="Caption">栃木県　高根沢第二幼稚園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/index_img_08.jpg" width="165" height="114" />
<p class="Caption">東京都　清心幼稚園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/index_img_09.jpg" width="165" height="114" />
<p class="Caption">神奈川県　渕野辺保育園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>
<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/index_img_10.jpg" width="165" height="114" />
<p class="Caption">福井県　大野幼稚園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/index_img_11.jpg" width="165" height="114" />
<p class="Caption">愛知県　柏井保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/index_img_12.jpg" width="165" height="114" />
<p class="Caption">京都府　ときわ幼稚園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>
<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/index_img_13.jpg" width="165" height="114" />
<p class="Caption">大阪府　木の実保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/index_img_14.jpg" width="165" height="114" />
<p class="Caption">広島県　みのり愛児園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/index_img_15.jpg" width="165" height="114" />
<p class="Caption">福岡県　青い鳥保育園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>
<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/index_img_16.jpg" width="165" height="114" />
<p class="Caption">長崎県　文華保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/index_img_17.jpg" width="165" height="114" />
<p class="Caption">熊本県　大矢野ひまわり保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/index_img_18.jpg" width="165" height="114" />
<p class="Caption">沖縄県　東幼稚園、久松幼稚園、下地幼稚園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>
<div class="Pagetoplink"><a href="#Page-Top">このページの先頭へ戻る</a></div>
<h2 id="Report" class="Header"><span>活動レポート</span></h2>
<div class="Section">
<p>「JP子どもの森づくり運動」の活動レポートがご覧いただけます。</p>
<p>2010年7月、全国の都道府県に各1園のネットワークが完成しました。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="「JP子どもの森づくり運動」活動実施場所" src="/sustainability/kids/images/map.gif" width="517" height="350" usemap="#Map" /> <map id="Map" name="Map"> 
<area href="/csr/kids/report01.html" shape="rect" alt="2008年5月12日神奈川県相模原市" coords="225,253,340,304" />
 </map> <!-- end .Image.Text-Center --></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>
<div class="Section List-Horizontal">
<ul>
<li><span style="color: #53ac34;">■</span>緑：2008年度開始</li>
<li><span style="color: #b5ff86;">■</span>薄緑：2009年度開始</li>
<li><span style="color: #debc34;">■</span>茶色：2010年度開始</li>
</ul>
<p class="Text-Small">※参考：沖縄県は実施園の交替があり、2010年度の参加開始としています。</p>
<!-- .Section.List-Horizontal --></div>
<div class="Section Table-Border">
<table><caption class="Hidden">「ＪＰ子どもの森づくり運動」活動レポート一覧</caption><colgroup> <col style="width: 25%;" /> <col style="width: 75%;" /> </colgroup>
<thead>
<tr><th class="BG-Gray" scope="col">実施日</th><th class="BG-Gray" scope="col">実施場所</th></tr>
</thead>
<tbody>
<tr><th scope="row">2008年5月12日</th>
<td>
<ul>
<li><a class="Link" href="/csr/kids/report01.html"><span>神奈川県相模原市</span></a></li>
</ul>
</td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Border --></div>

<h2 class="Header">関連情報</h2>
<div class="Section">
<p><a class="Link" href="/csr/">CSR</a></p>
<p><a class="Link" href="/csr/case/movie/">日本郵政グループCSRムービー</a></p>
<p><a class="Link" href="/csr/kids/">JP子どもの森づくり運動</a></p>
</div>