<div id="title_box">
  <div id="csr_main_img_kids">
    <h1>JP子どもの森づくり運動</h1>
  </div>
  <p class="explanation2">NPOと協力し、全国の保育園児・幼稚園児に森づくりを体験してもらう活動を支援しています。</p>
</div>
<!-- /#title_box-->

<p class="Category Lead">日本郵政グループは、2008年から、特定非営利活動法人「子どもの森づくり推進ネットワーク<a href="#Annotation_01">（注1）</a>」が取り組む森づくり体験プログラムに賛同し、「JP子どもの森づくり運動」の名称のもと、全国の幼稚園・保育園・こども園の園児の森づくり体験活動を支援しています。</p>

<article class="csr_activity">
  <h5>JP子どもの森づくり運動の仕組み</h5>
  <div class="csr_mediaBox">
    <h6><span class="white">1</span><span class="brown">年目</span>森で種を拾う活動</h6>
    <div class="inner_mediaBox">
      <dl>
        <dt>子どもたちが最寄りの森や公園でドングリを拾い、プランターに植えます。</dt>
        <dd><img src="/sustainability/images/img01.jpg" alt="ドングリを拾いプランターに植える"></dd>
      </dl>
      <p class="support_mediaBox">ドングリを拾う子どもたち</p>
    </div>
  </div>
  <p class="arrow_forest"></p>
  <div class="csr_mediaBox">
    <h6><span class="white">2</span><span class="brown">年目</span>園で苗木に育てる活動</h6>
    <div class="inner_mediaBox">
      <dl>
        <dt>プランターから出た芽が、大きな苗木になるよう、大切に育てます。</dt>
        <dd><img src="/sustainability/images/img03.jpg" alt="苗木を大切に育てる"></dd>
      </dl>
      <p class="support_mediaBox">苗木のお披露目会</p>
    </div>
  </div>
  <p class="arrow_forest"></p>
  <div class="csr_mediaBox">
    <h6><span class="white">3</span><span class="brown">年目</span>森に植える活動</h6>
    <div class="inner_mediaBox">
      <dl>
        <dt>みんなで一生懸命育てた苗木を、最寄りの森や公園に戻し、植えます。</dt>
        <dd><img src="/sustainability/images/img02.jpg" alt="苗木を森や公園へ戻し植える"></dd>
      </dl>
      <p class="support_mediaBox">植樹会の風景</p>
    </div>
  </div>
</article>

<div class="Section List-General">
<p>「JP子どもの森づくり運動」は、保育園・幼稚園において、園児が「森で種（ドングリなど）を拾い」、「園で苗木を育て」、「森に植える」という一貫した森づくり体験プログラムを通して、子どもたちが幼少期から植物や森林と触れ合いながら、自然や木々の大切さや命の尊さなど「健全な環境意識」と「たくましく生きる力」を育むことを目指す活動で、毎年約5,000人の子どもたちが参加しています。</p>
<ul>
<li><a class="Link" href="/csr/kids/activity/"><span>「JP子どもの森づくり運動」の参加園</span></a></li>
</ul>
<!-- end .Section.List-General --></div>

<div class="Section Col-Border List-General">
<div class="Grid-Column BG-Gray">
<p id="Annotation_01">（注1）特定非営利活動法人 子どもの森づくり推進ネットワーク</p>
<ul>
<li><a class="Link Popup" title="別ウィンドウで表示します" href="http://www.kodomono-mori.net"><span>http://www.kodomono-mori.net</span></a></li>
</ul>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border.List-General --></div>

<h2 class="Header"><span>活動レポート・活動トピックス</span></h2>
<div class="Section Table-Dot">
<table><caption class="Hidden">JP子どもの森づくり運動活動レポート・活動トピックス一覧</caption><colgroup> <col style="width: 25%;" /> <col style="width: 75%;" /> </colgroup>
<tbody>
<tr><th scope="row">2018年2月27日</th>
<td><a href="/csr/kids/report13.html">JP子ども森づくり運動10周年全国集会を開催しました</a></td>
</tr>
<tr><th scope="row">2017年9月13日</th>
<td><a href="/csr/kids/report10.html">「JP子どもの森づくり運動」ナツオワ（夏の終わり）キャンプ2017の模様を掲載しました</a></td>
</tr>
<tbody>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>

<h2 class="Header"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></h2>
<div class="Section List-General">
<p>2012年から東日本大震災の被災地で、園児たちが拾ったドングリを全国の園児たちが育て、再び被災地に戻して植える活動を応援しています。</p>
<ul>
<li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
</ul>
<!-- end .Section.List-General --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
    <li><a class="Link" href="/csr/case/movie/"><span>日本郵政グループCSRムービー</span></a></li>
    <li><a class="Link" href="/csr/sdgs.html"><span>日本郵政グループのSDGsへの取り組み</span></a></li>
  </ul>
<!-- end .Section --></div>