<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>東北復興グリーンウェイブの植樹会が開催されました</h1>
  </div>
</div>

<div class="Section">
<p>日本郵政グループが特別協賛している『JP子どもの森づくり運動「東北復興グリーンウェイブ」<a href="#Annotation_01">（注1）</a> <a href="#Annotation_02">（注2）</a>』（NPO法人子どもの森づくり推進ネットワーク（子森ネット）が運営）の植樹会が、2019年5月22日（水曜日）に岩手県の山田町と宮古市、福島県伊達市でそれぞれ開催されました。</p>
<!-- end .Section --></div>
<div class="Section">
<p id="Annotation_01">（注1）
<ol class="List"><li>
<div class="MkrItem__Body">この活動は、東日本大震災の被災地の園児が拾ったドングリを、全国の幼稚園・保育園・こども園に送り、園児が育て、3年目、大きくなったドングリの苗木を、郵便のネットワークを利用して被災地に戻し、5月22日のグリーンウェイブの日に、東北復興の願いを込め、被災地の園児が植えるものです。</div></li></ol></p>
<p id="Annotation_02">（注2）
<ol class="List"><li>
<div class="MkrItem__Body">グリーンウェイブとは、国連が定める「生物多様性の日（5月22日）」に世界各地の青少年がそれぞれの地域で植樹などを行い、地球上に緑の波（グリーンウェイブ）を作る活動です。</div></li></ol>
</p>
<!-- end .Section --></div>

<h2 class="Header"><span>岩手県山田町の新生やまだ商店街での記念植樹</span></h2>
<div class="Section">
<p>岩手県山田町の「新生やまだ商店街」で記念植樹が行われました。山田町では、2014年の活動開始から毎年、全国から届けられたドングリの苗木を数本、山田町の復興の拠点である「新生やまだ商店街」に植樹しています。今年の記念植樹には山田町の吉田副町長にもご参加いただき、山田町第一保育所の代表園児4人によってドングリの苗木2本が記念植樹されました。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="750" alt="" src="/sustainability/kids/images/report19_img_01.jpg">
<p class="Caption">新生やまだ商店街での記念植樹に参加された皆さん</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_02.jpg" alt="" />
<p class="Caption">記念植樹には山田町第一保育所の4人が参加してくれました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_03.jpg" alt="" />
<p class="Caption">河内森林インストラクターから苗木の植え方の説明を受けました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_04.jpg" alt="" />
<p class="Caption">苗木を植えて周りに土をかけました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_05.jpg" alt="" />
<p class="Caption">大きく育つように願いを込めて苗木の周りをしっかり固めました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h2 class="Header"><span>岩手県宮古市のあかまえこども園での植樹会</span></h2>
<div class="Section">
<p>岩手県宮古市のあかまえこども園（旧赤前保育園）で行われた植樹会は、あかまえこども園と津軽石保育所の園児30人が参加して、あかまえこども園の園庭に作られた苗畑に、ドングリの苗木15本を植えました。あかまえこども園での植樹は今年で2回目となり、みんなで「おおきくなぁれ！」と声をかけながら園庭に苗を植えました。</p>
<!-- end .Section --></div>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="750" alt="" src="/sustainability/kids/images/report19_img_11.jpg">
<p class="Caption">あかまえこども園での植樹会に参加した皆さん</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<h3 class="Header">あかまえこども園での植樹会の様子</h3>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_12.jpg" alt="" />
<p class="Caption">あかまえこども園と津軽石保育所の子どもたちが参加しました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_13.jpg" alt="" />
<p class="Caption">あかまえこども園の小関園長からお話がありました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_14.jpg" alt="" />
<p class="Caption">津軽石郵便局の青山局長があいさつしました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_15.jpg" alt="" />
<p class="Caption">3人ずつのチームで苗木を植えました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_16.jpg" alt="" />
<p class="Caption">苗木を植える場所の土をみんなで掘り起こしました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_17.jpg" alt="" />
<p class="Caption">植木鉢から苗木を取り出して植えていきました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h2 class="Header"><span>福島県伊達市の伊達こども園での植樹会</span></h2>
<div class="Section">
<p>福島県伊達市で行われた植樹会は、伊達こども園の年長児58人が参加し、福島県や伊達市などの関係者のほか、グリーンウェイブ大使「ミス日本みどりの女神」の藤本さん、東北復興グリーンウェイブアンバサダー「どんぐり～ず」も参加して、ドングリの苗木6本を園庭に植えました。日本郵政グループからも、伊達市の伏黒郵便局のほか、ゆうちょ銀行福島店とかんぽ生命福島支店も参加しました。<br>
植樹のあとには、どんぐり～ずと一緒にみんなで東北復興グリーンウェイブのテーマソング「♪どんぐりえがお」のダンスを踊りました。</p>
<p>今回植えた苗木は、「東北復興グリーンウェイブ」の活動で、岩手県山田町の「牡蠣の森」で育てられた5年目の苗木です。伊達こども園では、園庭にドングリの森を作るという構想があり、来年も植樹が行われる予定です。</p>
<!-- end .Section --></div>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="750" alt="" src="/sustainability/kids/images/report19_img_21.jpg">
<p class="Caption">伊達こども園での植樹会に参加した皆さん</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<h3 class="Header">伊達こども園での植樹会の様子</h3>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_22.jpg" alt="" />
<p class="Caption">伏黒郵便局の坂下局長があいさつしました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_23.jpg" alt="" />
<p class="Caption">小沼森林インストラクターから植樹の説明を受けました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_24.jpg" alt="" />
<p class="Caption">園庭への植樹の様子①</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_25.jpg" alt="" />
<p class="Caption">園庭への植樹の様子②</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_26.jpg" alt="" />
<p class="Caption">苗木を植え終って記念撮影</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report19_img_27.jpg" alt="" />
<p class="Caption">植樹のあとはみんなで「♪どんぐりえがお」を踊りました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
<li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
</ul>
<!-- end .Section.List-General --></div>