<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>JP子どもの森づくり運動「東北復興グリーンウェイブ」ドングリの苗木植え替え活動を行いました</h1>
  </div>
</div>

<div class="Section">
<p>2017年4月23日（日曜日）、日本郵政グループが特別協賛している『JP子どもの森づくり運動「東北復興グリーンウェイブ」<a href="#Annotation_01">（注1）</a> <a href="#Annotation_02">（注2）</a>』で育てている苗木の植え替え活動を行いました。</p>
<p>『JP子どもの森づくり運動「東北復興グリーンウェイブ」』では、2014年から毎年5月22日の「グリーンウェイブ」の日に、岩手県山田町の保育園（所）の園児たちが、全国の子どもたちから届けられる東北のドングリの苗木を、山田町豊間根地区の苗畑に植樹する活動をしています。<br>
今回は、次回の植樹のために、2015年に植樹して大きく育ってきた苗木を、苗畑から「しいたけの森」に植え替える作業をしました。</p>

<!-- end .Section --></div>
<h2 class="Header"><span>苗畑からの掘り起こし作業の様子</span></h2>
<div class="Section">
<p>午前中には苗畑から苗木を掘り起こす作業を行いました。山田町内の保育園の園児代表の皆さんと、2015年に苗木を植えてくれた卒園児の皆さんも集まって植え替えを行う苗木を掘り起こし、一本ずつ袋に入れて、植え替え先まで運ぶトラックに積み込みました。<br>
園児のお父さんお母さんたちも手伝ってくれて、予定よりも早く掘り起こし作業は終わりました。来月にはこの場所に新たな苗木を植樹する予定です。</p>
<!-- end .Section --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report07_img_01.jpg" alt="" />
<p class="Caption">子どもたちによる苗木の掘り起こしの様子</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report07_img_02.jpg" alt="" />
<p class="Caption">掘り起こした苗木を袋に入れます</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report07_img_03.jpg" alt="" />
<p class="Caption">「しいたけの森」へ運ぶため苗木をトラックに積み込みました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report07_img_04.jpg" alt=""" />
<p class="Caption">苗畑での作業を終えた皆さん</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h2 class="Header"><span>しいたけの森への植樹会の様子</span></h2>
<div class="Section">
<p>午後からはしいたけの森に移動して、苗木の植え替え活動を行いました。今回苗木を植え替えた「しいたけの森」は、山田町の特産品である「乾しいたけ」づくりの名人として「内閣総理大臣賞」や「農林水産大臣賞」を受賞した芳賀榮三さんの森です。<br>
植え替え作業には園児4人が参加してくれました。しいたけの森に植え替えられた苗木は大きくなって、将来しいたけの「ほだ木」として活用されます。</p>
<!-- end .Section --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report07_img_05.jpg" alt="" />
<p class="Caption">しいたけの森を提供してくださった芳賀さん</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report07_img_06.jpg" alt="" />
<p class="Caption">一定の間隔を空けて苗木を植え替える準備をします</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report07_img_07.jpg" alt="" />
<p class="Caption">ドングリの苗に土をかぶせて森に帰します</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report07_img_08.jpg" alt="" />
<p class="Caption">しいたけの森での植え替え作業を終えた皆さん</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section">
<p id="Annotation_01">（注1）
<ol class="List"><li>
<div class="MkrItem__Body">この活動は、東日本大震災の被災地の園児が拾ったドングリを、全国の幼稚園・保育園・こども園に送り、園児が育て、3年目、大きくなったドングリの苗木を、郵便のネットワークを利用して被災地に戻し、5月22日のグリーンウェイブの日に、東北復興の願いを込め、被災地の園児が植えるものです。</div></li></ol></p>

<p id="Annotation_02">（注2）
<ol class="List"><li>
<div class="MkrItem__Body">グリーンウェイブとは、国連が定める「生物多様性の日（5月22日）」に世界各地の青少年がそれぞれの地域で植樹などを行い、地球上に緑の波（グリーンウェイブ）を作る活動です。</div></li></ol>
</p>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
<li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
</ul>
<!-- end .Section.List-General --></div>