<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>JP子どもの森づくり運動「東北復興グリーンウェイブ」苗木を見送る会を各地で開催しました</h1>
  </div>
</div>

<div class="Section">
<p>『JP子どもの森づくり運動「東北復興グリーンウェイブ」<a href="#Annotation_01">（注1）</a> <a href="#Annotation_02">（注2）</a>』に参加している全国各地の保育園、幼稚園、子ども園では、5月22日に行なわれる岩手県山田町での植樹会に向けて、自分たちで育てた苗木を山田町に送るための見送る会を開催しました。</p>
<!-- end .Section --></div>
<h2 class="Header"><span>新宿せいが子ども園の苗木を見送る会の様子</span></h2>
<div class="Section">
<p>2017年5月10日（水曜日）、東京都内の新宿せいが子ども園で行われた見送る会では、園児たちが集まって、ドングリの格好をした先生から、この日の見送る会のお話を聞いたあと、大切に育ててきた苗木を専用の箱に詰めました。<br>
苗木を入れたゆうパックは、園児の代表から見送る会に参加した地元の郵便局長に手渡されました。</p>
<!-- end .Section --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report08_img_01.jpg" alt="" />
<p class="Caption">先生のお話を聞く子どもたち</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report08_img_02.jpg" alt="" />
<p class="Caption">園児の代表が苗木を箱に入れます</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report08_img_03.jpg" alt="" />
<p class="Caption">苗木を入れたゆうパックを落合郵便局の局長が受け取りました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section">
<p id="Annotation_01">（注1）
<ol class="List"><li>
<div class="MkrItem__Body">この活動は、東日本大震災の被災地の園児が拾ったドングリの種を、全国の幼稚園･保育園に送り、園児が育て3年目、大きくなったドングリの苗木を、郵便のネットワークを利用して被災地に戻し、5月22日のグリーンウェイブの日に、東北復興の願いを込め、被災地の園児が植えるものです。</div></li></ol></p>

<p id="Annotation_02">（注2）
<ol class="List"><li>
<div class="MkrItem__Body">グリーンウェイブとは、国連が定める「生物多様性の日（5月22日）」に世界各地の青少年がそれぞれの地域で植樹などを行い、地球上に緑の波（グリーンウェイブ）を作る活動です。</div></li></ol>
</p>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/topics/"><span>グループCSRのトピックス</span></a></li>
<li><a class="Link" href="/sustainability/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
</ul>
<!-- end .Section.List-General --></div>