<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>JP子どもの森づくり運動「東北復興グリーンウェイブ」を運営しているNPO法人がUNDB-Jのオフィシャル・パートナーに任命されました</h1>
  </div>
</div>

<div class="Section">
<p>日本郵政グループが特別協賛している『JP子どもの森づくり運動「東北復興グリーンウェイブ」』は、国連生物多様性の10年日本委員会（UNDB-J）が推奨する事業として認定を受けています。今回、『JP子どもの森づくり運動「東北復興グリーンウェイブ」』を運営しているNPO法人子どもの森づくり推進ネットワーク（子森ネット）が、国連生物多様性の10年日本委員会（UNDB-J）から「グリーンウェイブ」オフィシャル・パートナーとして任命されました。</p>
<!-- end .Section --></div>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="600" alt="" src="/sustainability/kids/images/report14_img_01.jpg">
<p class="Caption">任命式の様子</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image"><img src="/sustainability/kids/images/report14_img_02.jpg" alt="（画像）オフィシャルパートナー任命書" width="240" /></a></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>2018年3月14日（水曜日）、「国連生物多様性の10年日本委員会（UNDB-J）地域フォーラムin東京」が開催され、UNDB-Jの取り組みや「グリーンウェイブ」の活動等が紹介された後、「グリーンウェイブ」オフィシャル・パートナーの任命式が行われました。<br>
任命式には、JP子どもの森づくり運動「東北復興グリーンウェイブ」の運営団体であるNPO法人子どもの森づくり推進ネットワークの清水英二代表理事と、日本郵政株式会社執行役の木下範子が出席し、UNDB-Jの涌井史郎委員長代理から任命書を受け取りました。</p>
<div class="Section List-General">
<ul>
<li><a class="Link Popup" href="http://kodomono-mori.net/" target="_blank"><span>NPO法人子どもの森づくり推進ネットワーク（子森ネット）</span></a></li>
<li><a class="Link Popup" href="https://undb.jp/" target="_blank"><span>国連生物多様性の10年日本委員会（UNDB-J）</span></a></li>
<li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
</ul>
<!-- end .Section.List-General --></div>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section">
<p>「国連生物多様性の10年日本委員会（UNDB-J）地域フォーラムin東京」では、JP子どもの森づくり運動「東北復興グリーンウェイブ」の他、合計8団体の活動がオフィシャル・パートナーとして任命されました。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="600" alt="" src="/sustainability/kids/images/report14_img_03.jpg">
<p class="Caption">オフィシャル・パートナーに選ばれた団体の皆さん</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
<li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
</ul>
<!-- end .Section.List-General --></div>