<div class="Section">
<p class="Text-Right">2013年11月</p>
<p>東京都新宿区の新宿せいが保育園では、2012年の秋に、岩手県下閉伊郡山田町の園児たちが拾ったドングリの一部を受け取り、園児たちがポットに植えて、水やりなどのお世話を続けました。<br /> 春に小さな芽を出した苗木が生長してきたので、苗木のお披露目会が2013年11月に開催されました。</p>
<p>園児たちは、まず、子森ネットの清水代表理事や近くの落合郵便局の社員の話を聞き、その後、保育士さんが扮するドングリくんたちのパネルシアターを見て、クイズに答えました。これらを通じて、苗木を育てるのに太陽の光や水や空気が大切なものであること、小さな苗木たちも大きく育って森になること、様々な生き物にとって森が大切なものであること、などを感じる時間を持ちました。</p>
<!-- end .Section --></div>
<h2 class="Header"><span>お披露目会の様子</span></h2>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/report02_img_01.jpg" width="320" height="240" />
<p class="Caption">ドングリくんのパネルシアター</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/images/report02_img_02.jpg" width="320" height="240" />
<p class="Caption">成長した苗木</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>