<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>岩手県宮古市と山田町で植樹会が開催されました</h1>
  </div>
</div>

<div class="Section">
<p>日本郵政グループが特別協賛している『JP子どもの森づくり運動「東北復興グリーンウェイブ」<a href="#Annotation_01">（注1）</a> <a href="#Annotation_02">（注2）</a>』（NPO法人子どもの森づくり推進ネットワーク（子森ネット）が運営）の植樹会が、岩手県の宮古市と山田町で開催されました。</p>
<!-- end .Section --></div>

<h2 class="Header"><span>宮古市の赤前保育園ではじめての植樹会を開催しました</span></h2>
<div class="Section">
<p>2018年5月21日（月曜日）、岩手県宮古市で行われた植樹会は、宮古市の赤前保育園と津軽石保育所の園児26人が参加して、赤前保育園の園庭に作られた苗畑に、ドングリの苗木を13本植えました。この苗木はJP子どもの森づくり運動「東北復興グリーンウェイブ」の活動で、全国の幼稚園、保育園、こども園の園児たちが育て、送られてきたものです。みんなで「おおきくなぁれ！」と声をかけながら作業を行いました。</p>
<p>今回の活動によって、JP子どもの森づくり運動「東北復興グリーンウェイブ」の活動が、宮古市にも広がりました。</p>
<!-- end .Section --></div>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="650" alt="" src="/sustainability/kids/images/report16_img_01.jpg">
<p class="Caption">宮古市での植樹会に参加した皆さん</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<h3 class="Header">赤前保育園での植樹会の様子</h3>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report16_img_02.jpg" alt="" />
<p class="Caption">どんぐり博士から植え方の説明を受けました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report16_img_03.jpg" alt="" />
<p class="Caption">植える場所の土を掘って、ポットから苗木を取り出しました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report16_img_04.jpg" alt="" />
<p class="Caption">二人一組で作業をしました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report16_img_05.jpg" alt="" />
<p class="Caption">一列に植えられていった苗木</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report16_img_06.jpg" alt="" />
<p class="Caption">苗を植えたあと水を撒きました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report16_img_07.jpg" alt="" />
<p class="Caption">これからの生長が楽しみです</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header">ひとこと</h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="" src="/sustainability/kids/images/report16_img_31.jpg" style="width:260px" />
<p class="Caption Text-Center">赤前保育園　園長　小関 憲一さま</p>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>赤前保育園の園庭の裏には、久保田山があります。どんぐりを沢山拾うことができるため「どんぐり山」と呼んでいるのですが、この山は災害の際に、保育園だけでなく地域の人たちの避難場所でもあり、心の拠り所となっています。自然豊かなこの山を活用して何かしたいと思っていた時に、この活動に出会いました。<br>
今回、このような素晴らしい活動に参加したことをきっかけに、今後は保護者の方や他の保育園や幼稚園、行政などと一緒にこの活動を通じて地域がひとつになっていけるよう願っています。また、夢のあるような子どもの森も多くの人と一緒に作っていきたいと思っています。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 class="Header"><span>山田町の苗畑では第5回の植樹会が行われました</span></h2>
<div class="Section">
<p>2018年5月22日（火曜日）、岩手県山田町の豊間根（とよまね）地区にある苗畑では、第5回目となる植樹会が開催されました。植樹会には地元の保育園・保育所（山田町第一保育所、豊間根保育園、織笠保育園、船越保育園）の子どもたち約50人が参加し、全国各地の「東北復興グリーンウェイブ」参加園から届いたドングリの苗木約150本を苗畑に植えました。<br>
植樹会には、子どもたちや保育園の先生方などのほか、山田町役場の方にもお手伝いしていただきました。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="650" alt="" src="/sustainability/kids/images/report16_img_11.jpg">
<p class="Caption">山田町での植樹会に参加した皆さん</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<h3 class="Header">山田町の苗畑での植樹会の様子</h3>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report16_img_12.jpg" alt="" />
<p class="Caption">全国の参加園から届いた苗木の段ボール</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report16_img_13.jpg" alt="" />
<p class="Caption">どんぐり博士から説明を受けました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report16_img_14.jpg" alt="" />
<p class="Caption">ポットや植木鉢に入れらてた苗木が植樹場所に並べられました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report16_img_15.jpg" alt="" />
<p class="Caption">しっかりと水分補給してから作業に取りかかります</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report16_img_16.jpg" alt="" />
<p class="Caption">並んで一斉に植える作業します</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report16_img_17.jpg" alt="" />
<p class="Caption">植えた苗木に土をかけて固めます</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section">
<p>苗畑への植樹を終えた子どもたちは、新生やまだ商店街に移動し、ここでは代表園児によってドングリの苗木4本の記念植樹が行われました。</p>
<!-- end .Section --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report16_img_18.jpg" alt="" />
<p class="Caption">新生やまだ商店街に集まった園児たち</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report16_img_19.jpg" alt="" />
<p class="Caption">代表の園児による記念植樹の様子</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header">ひとこと</h3>
<div class="Section">
<p>山田町での植樹会には、全国の「東北復興グリーンウェイブ」参加園のうち、千葉県の第二勝田保育園、滋賀県の崇徳保育園、福井県の大野幼稚園、福岡県の若久青い鳥保育園、それぞれの園長先生にもご参加いただきました。ご参加いただいた中から、子森ネット理事でもある福岡県の若久青い鳥保育園 岡村園長にお話を伺いました。</p>
<!-- end .Section --></div>
<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="" src="/sustainability/kids/images/report16_img_32.jpg" style="width:260px" />
<p class="Caption Text-Center">若久青い鳥保育園　園長　岡村 斉さま</p>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>子どもたちは自然の中で色々な経験を積みながら育っていくのですが、そのような森が震災で失われてしまったこともあり、もう一度、子どもたちが体験できるような環境を整えたいという想いからこの活動はスタートしました。森づくり運動は単純に木を植えるのではなく、命の大切さや自然の大切さを学び、子どもたちの心を育んでいくものであります。<br>
被災地の子どもたちと、全国の子どもたちが、活動を通じて互いに想い合うことで大きな絆が生まれます。もっと子どもたちに目を向けて、子どもたちの心が豊かに育っていくような地域社会を作っていきたいと考えています。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section">
<p id="Annotation_01">（注1）
<ol class="List"><li>
<div class="MkrItem__Body">この活動は、東日本大震災の被災地の園児が拾ったドングリを、全国の幼稚園・保育園・こども園に送り、園児が育て、3年目、大きくなったドングリの苗木を、郵便のネットワークを利用して被災地に戻し、5月22日のグリーンウェイブの日に、東北復興の願いを込め、被災地の園児が植えるものです。</div></li></ol></p>

<p id="Annotation_02">（注2）
<ol class="List"><li>
<div class="MkrItem__Body">グリーンウェイブとは、国連が定める「生物多様性の日（5月22日）」に世界各地の青少年がそれぞれの地域で植樹などを行い、地球上に緑の波（グリーンウェイブ）を作る活動です。</div></li></ol>
</p>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
<li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
</ul>
<!-- end .Section.List-General --></div>