<div id="title_box3">
<div id="csr_main_img_report_sub">
<h1>JP子どもの森づくり運動10周年全国集会を開催しました</h1>
</div>
</div>

<div class="Section">
<p>JP子どもの森づくり運動は、2008年に取り組みを開始し、10周年を迎えました。JP子どもの森づくり運動は、『木を植えて、こども心を育む』をテーマに、森づくりの活動を通して子どもたちに自然と環境の体験を提供しています。今回、全国各地の参加園が集まって、日頃の取り組みなどを共有する全国集会を開催しました。</p>
<!-- end .Section --></div>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="650" alt="" src="/sustainability/kids/images/report13_img_01.jpg">
<p class="Caption">JP子どもの森づくり運動10周年全国集会に参加した皆さん（閉会式後）</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<div class="Section">
<p>2018年2月15日（木曜日）、16日（金曜日）の2日間にわたり、JP子どもの森づくり運動「全国集会＆研修会2018（福岡大会）」を福岡県北九州市で行いました。この活動に参加している全国各地の幼稚園、保育園、こども園の関係者が集まって、「JP子どもの森づくり運動」の意義を共有したり、それぞれが取り組んでいる活動内容の共有などを行いました。<br>
初日にはまず、アウトドアタレントの清水国明さんによる記念講演が行われたあと、長野県次世代サポート課の竹内さんから「自然保育認定制度」についての講演が行われました。その後、保育園、幼稚園、子ども園の園長先生によるパネルディスカッションが行われ、幼児期・幼少期の自然体験活動の意義や方法について考えました。</p>
<p>2日目には、防災をテーマに、熊本の「菊池さくら保育園」園長で熊本県保育協議会専務理事の本藤先生から「熊本地震の体験をへて」と題して、事例報告と問題提起をしていただきました。それを受けて、後半では消防庁のアドバイザーとして全国で実践的な防災講座を展開されている株式会社タフ・ジャパン代表の鎌田さんから「本当に子どもの命を守るため」の防災・危機管理講座をしていただきました。</p>
<!-- end .Section --></div>

<h2 class="Header"><span>JP子どもの森づくり運動「全国集会＆研修会」の様子</span></h2>
<h3 class="Header"><span>記念講演会「自然体験活動が子どもに育むこと」</span></h3>
<div class="Section">
<p>全国集会＆研修会に先立って、記念講演会が行われました。記念講演は、芸能界きってのアウトドアタレントで、河口自然楽校の楽校長も務めている清水国明さんから、子どもの自然体験活動の意義についての講演がありました。<br>
講演の中では、清水さん自身の子どもの頃の体験談を交えて、自然の中で早いうちに五感を目覚めさせることの大切さや、「知っていること」と実際に体験して「できること」の違いを語っていただき、「体験しないまま分かった気になってしまう」ことなどの問題提起がありました。</p>
<!-- end .Section --></div>
<div class="Section">
<p class="Caption">清水国明さんの講演会の様子</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report13_img_02.jpg" alt="" />
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report13_img_03.jpg" alt="" />
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>基調講演「自然保育が育む人生の根っこ」～信州型自然保育認定制度の理念と展望～</span></h3>
<div class="Section">
<p>幼児期（幼少期）の自然体験活動普及の新たな取り組みとして全国の自治体で進んでいる「自然保育認定制度」について、長野県県民文化部次世代サポート課の竹内延彦さんから「自然保育が育む人生の根っこ」～信州型自然保育認定制度の理念と展望～としてご講演いただきました。<br>
現在、子どもたちの「自己肯定感」<a href="#Annotation_01">（注1）</a>が年齢が上がるにつれて低下しており、「自己肯定感」が下がり続けると社会的な自立が困難となり、引きこもりが長期化するなどの問題意識から、自然体験活動の重要性を伝えていただきました。<br>
また、自然体験<a href="#Annotation_02">（注2）</a>や生活体験<a href="#Annotation_03">（注3）</a>が豊富な青少年ほど「自己肯定感」が高いという調査結果から、信州の恵まれた自然環境を保育や幼児教育に生かす取り組みとして、信州型自然保育認定制度についてご紹介いただきました。</p>
<p id="Annotation_01">（注1）自己肯定感とは<br>「友達が多い」「自分のことが好き」などの質問事項に対して「とても思う」と答えた割合のこと。</p>
<p id="Annotation_02">（注2）自然体験とは<br>キャンプやハイキング等の野外活動、動植物や星野観察等の自然・環境学習活動、自然物を使った工作、自然の中での音楽界といった文化・芸術活動、一次産業（農作業や漁業等）の体験など。</p>
<p id="Annotation_03">（注3）生活体験とは<br>世の中で暮らしていくための力を体験しようという考えに基づいた「生活力や生きる力の習得」のために行なう各種活動のことで、調理、掃除、修繕、裁縫、味噌や醤油づくり、地域交流活動など。</p>
<!-- end .Section --></div>
<div class="Section">
<p class="Caption">竹内延彦さんの講演会の様子</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report13_img_04.jpg" alt="" />
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report13_img_05.jpg" alt="" />
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>パネルディスカッション「幼児（少）期の自然体験活動を考える」</span></h3>
<div class="Section">
<p>竹内さんの講演のあと、竹内さんのお話しを受けて、「幼少期の自然体験活動を考える」というテーマで、パネルディスカッションが開催されました。パネラーには、福岡県の「若久青青い鳥保育園」岡村園長、大分県の「もぞのこども園」今井園長、福井県の「大野幼稚園」藤園長にご参加いただき、会場を巻き込んで熱のあるディスカッションが行われました。<br>
大人の役割は、ダメなことを禁止するのではなく、子どもたちの安全を確保した上で自由な発想をしてもらうことにあり、他社に肯定してもらうことによって自己肯定感も高まるという認識を共有しました。また、JP子どもの森づくり運動に関しては、ドングリを育てることが目的ではなく、子どもたちに自然体験をしてもらい自由な発想を生むことが大切であると再確認しました。現代では、大人である先生方も自然体験が少なくなっている中で、園長がどのように先生と向き合うのかなどについても話し合われました。</p>
<!-- end .Section --></div>
<div class="Section">
<p class="Caption">パネルディスカッションの様子</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report13_img_06.jpg" alt="" />
<p class="Caption">左から、子森ネット清水さん、竹内さん</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report13_img_07.jpg" alt="" />
<p class="Caption">左から岡村さん、今井さん、藤さん</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>災害時相互支援協力協定締結式</span></h3>
<div class="Section">
<p>大分県の「ももぞのこども園」（今井さん）、東京都の「新宿こだま保育園」（福島さん）、岩手県「豊間根保育園」（福士さん/代理出席）の3園で、JP子どもの森づくり運動が提唱している「災害時相互支援協力協定」の第3弾となる締結式を行いました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report13_img_12.jpg" alt="" />
<p class="Caption">左から、今井さん、福島さん、福士さん、清水さん</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>幼児期（幼少期）の自然体験講座「ネイチャーゲーム入門」</span></h3>
<div class="Section">
<p>1日目の研修の最後には、飯田女子短期大学幼児教育学科講師の田中住幸さんによる、「ネイチャーゲーム<a href="#Annotation_04">（注4）</a>入門」と題して、幼児の自然体験講座が開催されました。<br>
参加した皆さんで実際に様々な「ネイチャーゲーム」を体験しました。</p>
<p id="Annotation_04">（注4）ネイチャーゲームとは<br>人間の感覚を用いた様々な活動を通して、自然の不思議や仕組みを学び、自然と自分が一体であることに気づくことを目的とした自然体験活動のこと。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report13_img_08.jpg" alt="" />
<p class="Caption">飯田女子短期大学講師の田中さん</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report13_img_09.jpg" alt="" />
<p class="Caption">参加者がネイチャーゲームの説明を受けます</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report13_img_10.jpg" alt="" />
<p class="Caption">ネイチャーゲームの様子①</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report13_img_11.jpg" alt="" />
<p class="Caption">ネイチャーゲームの様子②</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>基調講演「熊本地震を教訓とした自然災害の備えについて～命を"守る"を考える～」</span></h3>
<div class="Section">
<p>2日目は防災をテーマに研修を行いました。まずは今年の「集会＆研修会」が九州での開催であることを踏まえて、熊本県の「菊池さくら保育園」園長で、熊本県保育協議会専務理事の本藤潔さんから「熊本地震を教訓とした自然災害の備えについて」と題して、事例報告と問題提起をしていただきました。<br>
震災を経験した本藤園長からは、連絡体制、園の再開をどの時点で行うかの判断、備蓄を含めて「地震は来ないであろう」という慢心の3つを反省と教訓としてお話しいただきました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report13_img_14.jpg" alt="" />
<p class="Caption">本藤さんによる講演会の様子</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>防災講座「本当に子どもの命を助けるために」</span></h3>
<div class="Section">
<p>研修会の最後には、消防庁のアドバイザーとして全国で実践的な防災講座を展開している株式会社タフ・ジャパン代表の鎌田修広氏に「本当に子どもの命を守るため」の防災、危機管理講座をしていただきました。<br>
「今すぐにでもできる小さな取り組みを一つやるだけで、生き残る確率が1％上がる」という意識を持って防災の取り組みを実践することが重要であると教えていただきました。また、子どもの命を守るため、防災グッズはいつでも使えるように常に子供たちの近くに置くという「防災対策の見える化」を実践している保育園の取り組みをご紹介いただきました。<br>
近年設置が増えているAEDに関しては、設置しているかどうかよりも「どこにあるのか」を把握して、見える位置に表示しておくことや、緊急時に優先的につながる公衆電話の場所なども把握しておく必要があると学びました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report13_img_16.jpg" alt="" />
<p class="Caption">鎌田修広さんの講演会の様子</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report13_img_17.jpg" alt="" />
<p class="Caption">防災講座の様子</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section List-General">
<ul>
<li><a class="Link Popup" href="http://kodomono-mori.net/" target="_blank"><span>NPO法人子どもの森づくり推進ネットワーク（子森ネット）</span></a></li>
</ul>
<!-- end .Section.List-General --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/movie/"><span>日本郵政グループCSRムービー</span></a></li>
    <li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
  </ul>
<!-- end .Section --></div>