<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>東北復興グリーンウェイブ植樹会に向けて「見送る会」を開催しました</h1>
  </div>
</div>

<div class="Section">
<p>JP子どもの森づくり運動「東北復興グリーンウェイブ」<a href="#Annotation_01">（注1）</a> <a href="#Annotation_02">（注2）</a>に参加している全国各地の保育園、幼稚園、子ども園では、2019年5月22日のグリーンウェイブの日に行なわれる植樹会に向けて、園児たちが育てた苗木を東北に届けるための見送る会が開催されました。各地で開催された「苗木を見送る会」の模様をご紹介します。</p>
<!-- end .Section --></div>
<div class="Section">
<p id="Annotation_01">（注1）
<ol class="List"><li>
<div class="MkrItem__Body">この活動は、東日本大震災の被災地の園児が拾ったドングリを、全国の幼稚園・保育園・こども園に送り、園児が育て、3年目、大きくなったドングリの苗木を、郵便のネットワークを利用して被災地に戻し、5月22日のグリーンウェイブの日に、東北復興の願いを込め、被災地の園児が植えるものです。</div></li></ol></p>
<p id="Annotation_02">（注2）
<ol class="List"><li>
<div class="MkrItem__Body">グリーンウェイブとは、国連が定める「生物多様性の日（5月22日）」に世界各地の青少年がそれぞれの地域で植樹などを行い、地球上に緑の波（グリーンウェイブ）を作る活動です。</div></li></ol>
</p>
<!-- end .Section --></div>

<h2 class="Header"><span>5月14日（火曜日）に開催された児玉保育園（埼玉県）での「苗木を見送る会」</span></h2>
<div class="Section">
<p>2019年5月14日（火曜日）、埼玉県本庄市の児玉保育園で「苗木を見送る会」が開かれました。</p>
<p>はじめに森林インストラクターの神座さんから、どのようにドングリから芽が出て育つのかをイラストを使って分かりやすく教わりました。その後、園児たちが育てた苗木について保育園の先生からお話があり、園児たちは東北復興グリーンウェイブの活動や、これから送り届けられた苗が東北で育てられていくことを真剣に聞いていました。<br>
保育園で大切に育ててきたドングリの苗木を、岩手県山田町にゆうパックで届けるため、園児たちの手で専用の段ボール箱にひとつひとつ詰めていきます。すべての苗木の箱詰めが終わると、園児の代表から、この日の見送る会に参加した児玉郵便局の局員に手渡されました。</p>
<!-- end .Section --></div>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="700" alt="" src="/sustainability/kids/images/report18_img_01.jpg">
<p class="Caption">児玉保育園での見送る会に参加した皆さん</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<h3 class="Header"><span>児玉保育園（埼玉県本庄市）での「苗木を見送る会」の様子</span></h3>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report18_img_02.jpg" alt="" />
<p class="Caption">ドングリの成長についてのお話を聞きました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report18_img_03.jpg" alt="" />
<p class="Caption">先生から東北に届けられる苗木のお話を聞きました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report18_img_04.jpg" alt="" />
<p class="Caption">順番にドングリの苗木を箱に詰めます</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report18_img_05.jpg" alt="" />
<p class="Caption">東北に送る苗木がきれいに箱に入りました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h2 class="Header"><span>5月15日（水曜日）に開催された東京ゆりかご幼稚園（東京都）での「苗木を見送る会」の様子</span></h2>
<div class="Section">
<p>2019年5月15日（水曜日）、東京都八王子市の東京ゆりかご幼稚園で「苗木を見送る会」が開かれました。</p>
<p>はじめに先生から、この日見送るドングリの苗木についてのお話を聞きました。見送る会には八王子南郵便局も参加し、「ドングリの苗木は郵便局が大切に東北に届けます」と挨拶しました。このあと、園児たちが大切に育ててきたドングリの苗木は、八王子南郵便局と一緒に、箱に詰めていきました。</p>
<p>最後には参加した園児たちみんなで郵便局の赤い車を見送ってくれました。</p>
<!-- end .Section --></div>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="700" alt="" src="/sustainability/kids/images/report18_img_11.jpg">
<p class="Caption">東京ゆりかご幼稚園での見送る会に参加した皆さん</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<h3 class="Header"><span>東京ゆりかご幼稚園（東京都八王子市）での「苗木を見送る会」の様子</span></h3>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report18_img_12.jpg" alt="" />
<p class="Caption">園長先生から「苗木を見送る会」のお話を聞きました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report18_img_13.jpg" alt="" />
<p class="Caption">八王子南郵便局も見送る会に参加しました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report18_img_14.jpg" alt="" />
<p class="Caption">八王子南郵便局の中川局長が挨拶しました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report18_img_15.jpg" alt="" />
<p class="Caption">苗木を一緒に箱に詰めました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report18_img_16.jpg" alt="" />
<p class="Caption">苗木を運んでいく郵便局の車を見送ってくれました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
<li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
</ul>
<!-- end .Section.List-General --></div>