<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>JP子どもの森づくり運動「東北復興グリーンウェイブ」が国連生物多様性の10年日本委員会（UNDB-J）から連携事業の認定証を授与されました</h1>
  </div>
</div>

<div class="Section">
<p>JP子どもの森づくり運動「東北復興グリーンウェイブ」は、2017年3月に、国連生物多様性の10年日本委員会（UNDB-J）の連携事業に選ばれています。</p>
<!-- end .Section --></div>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="600" alt="" src="/sustainability/kids/images/report11_img_01.jpg">
<p class="Caption">表彰式の様子</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<div class="Section">
<p>2017年9月16日（土曜日）、国連生物多様性の10年日本委員会（UNDB-J）主催の「第7回生物多様性全国ミーティング＆生物多様性自治体ネットワークフォーラム・神戸市生物多様性シンポジウム」が神戸国際会議場で行われ、国連生物多様性の10年日本委員会（UNDB-J）が認定する連携事業第10弾、第11弾の紹介と表彰式があり、JP子どもの森づくり運動「東北復興グリーンウェイブ」の運営団体であるNPO法人子どもの森づくり推進ネットワークの清水代表理事に認定証が授与されました。</p>
<!-- end .Section --></div>

<div class="Section List-General">
<ul>
<li><a class="Link Popup" href="http://kodomono-mori.net/" target="_blank"><span>NPO法人子どもの森づくり推進ネットワーク（子森ネット）</span></a></li>
<li><a class="Link Popup" href="https://undb.jp/" target="_blank"><span>国連生物多様性の10年日本委員会（UNDB-J）</span></a></li>
<li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
</ul>
<!-- end .Section.List-General --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
<li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
</ul>
<!-- end .Section.List-General --></div>