<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>岩手県山田町での植樹会に向けて「苗木を見送る会」を各地で開催</h1>
  </div>
</div>

<div class="Section">
<p>JP子どもの森づくり運動「東北復興グリーンウェイブ」<a href="#Annotation_01">（注1）</a> <a href="#Annotation_02">（注2）</a>に参加している全国各地の保育園、幼稚園、子ども園では、岩手県山田町で2018年5月22日に行なわれる植樹会に向けて、園児たちが育てた苗木を山田町に届けるための見送る会を開催しています。各地で開催されている見送る会のうち、千葉県の今井保育園で開催された「苗木を見送る会」の模様をご紹介します。</p>
<!-- end .Section --></div>
<h2 class="Header"><span>今井保育園（千葉県）での「苗木を見送る会」の様子</span></h2>
<div class="Section">
<p>2018年5月9日（水曜日）、千葉県千葉市の今井保育園で「苗木を見送る会」が開かれました。この日は、あいにくの雨模様だったので、園内のホールでの開催となりました</p>
<p>はじめに園長先生から、この日見送るドングリの苗木についてのお話を聞いたあと、集まった園児たちが手分けをして、プランターで大切に育ててきたドングリの苗木を、ポットに移し替える作業を行いました。苗木は、思った以上にプランターの中でしっかりと根を張っており、掘り起こすのが大変でしたが、育った苗木を傷つけないように優しく丁寧に作業しました。</p>
<p>ポットに移し替えられた苗木は、ゆうパックで山田町に届けるため、専用の段ボール箱にひとつひとつ詰めていきます。すべての苗木の箱詰めが終わると、園児の代表から、この日の見送る会に参加した千葉中央郵便局の局長はじめ、社員に手渡されました。</p>
<!-- end .Section --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report15_img_01.jpg" alt="" />
<p class="Caption">園長先生から「苗木を見送る会」のお話を聞きました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report15_img_02.jpg" alt="" />
<p class="Caption">千葉中央郵便局の社員が参加し、中里局長があいさつしました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report15_img_03.jpg" alt="" />
<p class="Caption">プランターで育てられたドングリの苗木</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report15_img_04.jpg" alt="" />
<p class="Caption">プランターから苗木を掘り起こす子どもたち</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report15_img_05.jpg" alt="" />
<p class="Caption">園児たちがとても真剣に作業しています</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report15_img_06.jpg" alt="" />
<p class="Caption">千葉中央郵便局の社員もお手伝いしました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report15_img_07.jpg" alt="" />
<p class="Caption">ポットへの移し替えが終った苗木が並びました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report15_img_08.jpg" alt="" />
<p class="Caption">苗木を一つずつ箱に入れていきます</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report15_img_09.jpg" alt="" />
<p class="Caption">苗木を箱に入れたあと元気にハイタッチ！</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report15_img_10.jpg" alt="" />
<p class="Caption">これからゆうパックで山田町に届けられるんですよ！と園長先生から説明がありました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report15_img_11.jpg" alt="" />
<p class="Caption">子どもたちから千葉中央郵便局の中里局長にドングリの箱が渡されました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report15_img_12.jpg" alt="" />
<p class="Caption">雨が降る中、郵便局の車をみんなで見送ってくれました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section">
<p id="Annotation_01">（注1）
<ol class="List"><li>
<div class="MkrItem__Body">この活動は、東日本大震災の被災地の園児が拾ったドングリを、全国の幼稚園・保育園・こども園に送り、園児が育て、3年目、大きくなったドングリの苗木を、郵便のネットワークを利用して被災地に戻し、5月22日のグリーンウェイブの日に、東北復興の願いを込め、被災地の園児が植えるものです。</div></li></ol></p>

<p id="Annotation_02">（注2）
<ol class="List"><li>
<div class="MkrItem__Body">グリーンウェイブとは、国連が定める「生物多様性の日（5月22日）」に世界各地の青少年がそれぞれの地域で植樹などを行い、地球上に緑の波（グリーンウェイブ）を作る活動です。</div></li></ol>
</p>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
<li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
</ul>
<!-- end .Section.List-General --></div>