<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>「JP子どもの森づくり運動」ナツオワ（夏の終わり）キャンプ2017</h1>
  </div>
</div>

<div class="Section">
<p>2017年8月26日（土曜日）、27日（日曜日）の2日間にわたって、日本郵政グループが特別協賛している「JP子どもの森づくり運動」の自然体験・環境学習活動として「ナツオワ（夏の終わり）キャンプ2017」が開催されました。</p>
<!-- end .Section --></div>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="600" alt="" src="/sustainability/kids/images/report10_img_01.jpg">
<p class="Caption">ナツオワキャンプ2017に参加した皆さん</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<div class="Section">
<p>「ナツオワ（夏の終わり）キャンプ2017」は、NPO法人子どもの森づくり推進ネットワーク（子森ネット）が主催し、地元の大野幼稚園が幹事園となり、福井県大野市の「前坂キャンプ場」で行われました。</p>
<p>DAYキャンプ（日帰り）も含めて、大野幼稚園の在園児や卒園児、その保護者の皆さんなど40人ほどが参加して、キャンプという非日常の自然環境の中で、自然と環境の学習体験をしました。</p>
<!-- end .Section --></div>

<div class="Section List-General">
<ul>
<li><a class="Link Popup" href="http://kodomono-mori.net/" target="_blank"><span>NPO法人子どもの森づくり推進ネットワーク（子森ネット）</span></a></li>
<li><a class="Link Popup" href="http://maesaka-camp.sakura.ne.jp/" target="_blank"><span>和泉前坂家族旅行村「前坂キャンプ場」</span></a></li>
</ul>
<!-- end .Section.List-General --></div>

<div class="Section Col-Border List-General">
<div class="Grid-Column BG-Gray">
<p>キャンプ中に実施したプログラム</p>
<ul class="Normal">
<li><span>プログラム1：「山の音・山のにおい」</span></li>
<li><span>プログラム2：「簡単ホットドックづくり」</span></li>
<li><span>プログラム3：ストーンペインティング「河原から好きな形の石を拾って、自分だけの石を作ろう」</span></li>
<li><span>プログラム4：夕食づくり「ピザづくり」</span></li>
<li><span>プログラム5：ナイトウォーキング「星空と虫の声」</span></li>
<li><span>プログラム6：早朝トレッキング</span></li>
<li><span>プログラム7：植えた苗木のお世話</span></li>
</ul>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border.List-General --></div>


<h2 class="Header"><span>キャンプの様子</span></h2>
<div class="Section">
<p class="Clear Text-Right">写真提供：大野幼稚園</p>
<!-- end .Section --></div>

<h3 class="Header"><span>プログラム1：「山の音・山のにおい」</span></h3>
<div class="Section">
<p>キャンプ場内をあらかじめ下見して撮影した20種類の植物の写真シートを参加者に渡して、同じものを見つけてもらいました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_02.jpg" alt="" />
<p class="Caption">あらかじめ用意した20種類の植物の写真を渡します</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_03.jpg" alt="" />
<p class="Caption">4つのグループに分け、グループごとに写真の植物を探します</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_04.jpg" alt="" />
<p class="Caption">見つけた植物と写真を比べて同じだったらシールを貼ります</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_05.jpg" alt="" />
<p class="Caption">植物に墨を塗って布に貼りグループの旗を作りました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>プログラム2：「簡単ホットドックづくり」</span></h3>
<div class="Section">
<p>昼食を兼ねて、牛乳パックを利用してホットドック作りました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_06.jpg" alt="" />
<p class="Caption">半分にカットしたロールパンに、チーズ、カレー味のキャベツ、ウインナーを挟んでアルミホイルで包み、牛乳パックに入れます</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_07.jpg" alt="" />
<p class="Caption">火床に並べて牛乳パックに火を付けます</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_08.jpg" alt="" />
<p class="Caption">美味しそうなホットドックが出来上がりました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_09.jpg" alt="" />
<p class="Caption">美味しくいただきました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>プログラム3：ストーンペインティング「河原から好きな形の石を拾って、自分だけの石を作ろう」</span></h3>
<div class="Section">
<p>会場の「前坂キャンプ場」は九頭竜川水系の清流「石徹白（いとしろ）川」沿いにあります。そんな立地を生かして、川原から好きな形の石を拾って絵を描き、自分だけのストーンアート作品を作りました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_10.jpg" alt="" />
<p class="Caption">石徹白（いとしろ）川の川原で石を拾います</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_11.jpg" alt="" />
<p class="Caption">拾った石にカブトムシを描きました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>プログラム4：夕食づくり「ピザづくり」</span></h3>
<div class="Section">
<p>「前坂キャンプ場」にはピザ窯があります。せっかくの機会なので、ピザづくりにも挑戦しました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_12.jpg" alt="" />
<p class="Caption">いろいろとトッピングを工夫しました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_13.jpg" alt="" />
<p class="Caption">ピザ窯に入れて焼きました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>プログラム5：ナイトウォーキング「星空と虫の声」</span></h3>
<div class="Section">
<p>夜には自然の中の暗闇を利用したナイトウォーキングを実施しました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_14.jpg" alt="" />
<p class="Caption">暗くなったあと、ナイトウォーキング開始です</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_15.jpg" alt="" />
<p class="Caption">暗闇の中に幕を張り、ライトで照らすと虫がいっぱい集まりました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>プログラム6：早朝トレッキング</span></h3>
<div class="Section">
<p>翌朝は早朝トレッキングを行いました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_16.jpg" alt="" />
<p class="Caption">まずは準備体操「ミミズの体操」をします</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_17.jpg" alt="" />
<p class="Caption">トレッキングの途中で大きな流木を見つけました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>プログラム7：植えた苗木のお世話</span></h3>
<div class="Section">
<p>キャンプ場内をあらかじめ下見して撮影した20種類の植物の写真シートを参加者に渡して、同じものを見つけてもらいました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_18.jpg" alt="" />
<p class="Caption">5月に苗木を植えたときの様子です</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report10_img_19.jpg" alt="" />
<p class="Caption">苗木を植えた場所の手入れをしました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/movie/"><span>日本郵政グループCSRムービー</span></a></li>
    <li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
  </ul>
<!-- end .Section --></div>