<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>東北のドングリの苗畑に食害防止のフェンスを作りました</h1>
  </div>
</div>

<div class="Section">
<p>JP子どもの森づくり運動「東北復興グリーンウェイブ」の活動で植えられているドングリの苗木が、鹿やうさぎの食害にあっていたことから、対策を施す作業を行いました。</p>
<!-- end .Section --></div>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="600" alt="" src="/sustainability/kids/images/report12_img_01.jpg">
<p class="Caption">フェンス作りに参加した皆さん</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<div class="Section">
<p>2018年1月20日（土曜日）、岩手県山田町の豊間根地区にある苗畑で、有志の方々にお集まりいただき、食害を防ぐためのフェンスづくりを行いました。昨年5月に子どもたちが植えたドングリの苗木（注1）が鹿やうさぎに食べられてしまっていたので、食害を防ぐために苗畑の周囲に支柱を立ててネットを張る作業を行いました。外気温がマイナスとなる寒さの中、地面の土も凍っていたので、携帯用ガスバーナーで氷を溶かしながらの作業となりました。</p>
<!-- end .Section --></div>

<div class="Section List-General">
<p>注1　2017年5月22日に行われた植樹会の様子</p>
<ul>
<li><a class="Link" href="/csr/kids/report09.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」第4回植樹会が開催されました</span></a></li>
</ul>
<!-- end .Section.List-General --></div>

<h3 class="Header"><span>フェンス作りの様子</span></h3>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report12_img_02.jpg" alt="" />
<p class="Caption">多くのドングリの苗木が食べられていました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report12_img_03.jpg" alt="" />
<p class="Caption">まずはフェンスの大きさを決めて、支柱を立てる位置を決めます</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report12_img_04.jpg" alt="" />
<p class="Caption">支柱を立てる穴を掘る前に、土が凍っているのでバーナーで温めます</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report12_img_05.jpg" alt="" />
<p class="Caption">掘った穴に支柱を立てていきます</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report12_img_06.jpg" alt="" />
<p class="Caption">支柱にネットを張っていきます</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report12_img_07.jpg" alt="" />
<p class="Caption">最後にネットの下を押さえて下から動物が入らないようにします</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2 Image400">

<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report12_img_08.jpg" alt="" />
<p class="Caption">苗畑を食害から守るフェンスの完成です</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section List-General">
<ul>
<li><a class="Link Popup" href="http://kodomono-mori.net/" target="_blank"><span>NPO法人子どもの森づくり推進ネットワーク（子森ネット）</span></a></li>
</ul>
<!-- end .Section.List-General --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/csr/"><span>CSRのトピックス</span></a></li>
<li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」の取り組み</span></a></li>
</ul>
<!-- end .Section.List-General --></div>