<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>福島県伊達市で植樹会が開催されました</h1>
  </div>
</div>

<div class="Section">
<p>日本郵政グループが特別協賛している『JP子どもの森づくり運動「東北復興グリーンウェイブ」<a href="#Annotation_01">（注1）</a> <a href="#Annotation_02">（注2）</a>』（NPO法人子どもの森づくり推進ネットワーク（子森ネット）が運営）の植樹会が、2018年6月23日（土曜日）、福島県伊達市の霊山三育（りょうぜんさんいく）認定こども園で開催されました。植樹会には日本郵政グループからも、地元の霊山郵便局長をはじめ、日本郵便東北支社、ゆうちょ銀行福島店、かんぽ生命保険福島支店の社員が参加し、植樹をお手伝いしました。</p>
<p>霊山三育認定こども園では、東日本大震災の後、長く園外の活動（自然活動）が制限され、子どもたちに親しまれていた園庭の樹木も除染活動で伐採されてしまいました。そこで、2016年に、子どもたちが自らドングリの苗木を育てて、園庭の緑の再生に取り組むこととなりました。今回植樹したドングリの苗木は「東北復興グリーンウェイブ」の参加園である福島県南会津町の田島保育園から提供されたもので、これまで霊山三育認定こども園の子どもたちによって大切に育てられてきました。</p>
<p>園児111人が参加した植樹会では、代表園児お二人による「みんなで"どんぐり"を育てていこう！」宣言が行われたあと、代表園児4人が園庭への植樹を行い、ドングリの苗木の成長を願いました。植樹会では、代表園児による植樹のほか、みんなで活動のテーマソング「どんぐりえがお」ダンスを踊りました。</p>
<p>今回の植樹活動によって、除染で失われた園庭の樹木の再生活動を開始することができました。</p>
<!-- end .Section --></div>

<h3 class="Header">霊山三育認定こども園での植樹会の様子</h3>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="650" alt="" src="/sustainability/kids/images/report17_img_11.jpg">
<p class="Caption">霊山三育認定こども園での植樹会に参加した皆さん</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>


<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report17_img_01.jpg" alt="" />
<p class="Caption">代表園児による宣言の様子</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report17_img_02.jpg" alt="" />
<p class="Caption">みんなで「どんぐりえがお」ダンスを踊りました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report17_img_03.jpg" alt="" />
<p class="Caption">代表園児による記念植樹の様子①</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/kids/images/report17_img_04.jpg" alt="" />
<p class="Caption">代表園児による記念植樹の様子②</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header">ひとこと</h3>
<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="" src="/sustainability/kids/images/report17_img_21.jpg" style="width:260px" />
<p class="Caption Text-Center">霊山三育認定こども園　園長　齋藤 厚子さま</p>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>子どもたちの感性は自然の中で育ちます。「自然の中でのびのびと」が私たちの理念です。しかし、子どもたちが木に登ったり、ぶら下がったりして親しんだ園庭の木は、震災によって姿を消してしまいました。そのような中、どんぐりの苗木を植えた今回の活動は、子どもたちにとって自然を身近に感じ取れる素晴らしい機会となったはずです。<br>
どんぐりの木はこれからどんどん大きくなっていきます。子どもたちは木に集まった虫に触れ、木陰で涼み、小枝やどんぐりの実を拾って遊ぶでしょう。<br>
やがて卒園した子どもたちが、どんぐりの木で遊んだ記憶と共に当園を思い出してくれるようになる日を楽しみにしています。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section Col-Border List-General">
<div class="Grid-Column BG-Gray">
<p>特定非営利活動法人 子どもの森づくり推進ネットワーク</p>
<ul>
<li><a class="Link Popup" title="別ウィンドウで表示します" href="http://www.kodomono-mori.net"><span>http://www.kodomono-mori.net</span></a></li>
</ul>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border.List-General --></div>

<div class="Section">
<p id="Annotation_01">（注1）
<ol class="List"><li>
<div class="MkrItem__Body">この活動は、東日本大震災の被災地の園児が拾ったドングリを、全国の幼稚園・保育園・こども園に送り、園児が育て、3年目、大きくなったドングリの苗木を、郵便のネットワークを利用して被災地に戻し、5月22日のグリーンウェイブの日に、東北復興の願いを込め、被災地の園児が植えるものです。</div></li></ol></p>

<p id="Annotation_02">（注2）
<ol class="List"><li>
<div class="MkrItem__Body">グリーンウェイブとは、国連が定める「生物多様性の日（5月22日）」に世界各地の青少年がそれぞれの地域で植樹などを行い、地球上に緑の波（グリーンウェイブ）を作る活動です。</div></li></ol>
</p>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
<li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
</ul>
<!-- end .Section.List-General --></div>