	<div id="title_box3">
		<div id="csr_main_img_report_sub">
			<h1>気候変動への対応</h1>
		</div>
  </div>
  
  <div class="Section">
    <p>
      地球温暖化は、気温を上昇させるだけでなく地球全体の気候を大きく変える気候変動を引き起こします。既に世界各地では自然環境や人々の暮らしにその影響や被害が現れ始めています。<br>
      日本郵政グループは気候変動を重要な課題と認識し、影響の緩和と適応に取り組んでまいります。
    </p>
  </div>
	
	<h2 class="Header">コミットメント</h2>
	<div class="Section">
		<p>
      近年、気候変動の影響により気温上昇や台風の大型化などの異常気象が現に観測されており、対策が施されなければこれらの影響は更に大きくなることが予想されています。<br>
      日本郵政グループは、全国2万4,000の郵便局ネットワークを通じて、地域の皆さまに寄り添った事業を展開していますが、気候変動は郵便局ネットワークの寸断や、これに伴うサービス提供の遮断にもつながる可能性があるなど、当グループの事業に重大な影響を及ぼす課題であると認識しています。<br>
      当グループでは、これまでも「日本郵政グループサステナビリティ基本方針」においてSDGsの達成に向けた取り組みの一環として温室効果ガス排出量の削減を掲げるとともに、グリーンボンドへの投資などを通じて、持続可能な社会の実現への貢献を進めてまいりました。これらに加え、2019年4月には金融安定理事会（FSB)により設置された気候関連財務情報開示タスクフォース（TCFD)の提言に賛同表明を行い、同提言を踏まえて気候変動が各社の事業に与える影響についての分析を深め、更なる情報開示に取り組んでいます。<br>
      私たち日本郵政グループは、今後も「日本郵政グループサステナビリティ基本方針」に基づき、気候変動による影響に適応した事業運営に努めるとともに、地球環境への負荷低減に配慮した事業活動及び環境保全活動を積極的に推進してまいります。<br>
		</p>
	<!-- end .Section --></div>
	
	<div class="Section Table-Border">
		<table>
			<colgroup style="width: 30%;"></colgroup>
			<colgroup style="width: 70%;"></colgroup>
			<thead>
				<tr>
					<th scope="col" class="Text-Center"><strong>TCFD提言の概要</strong></th>
					<th scope="col" class="Text-Center"><strong>日本郵政グループの対応状況</strong></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="2" class="BG-Gray"><strong>ガバナンス</strong></td>
				</tr>
				<tr>
					<th>
						<ul class="tcfd-list">
							<li class="tcfd-item">気候関連のリスクと機会に関する取締役会の監督について記述する</li>
							<li class="tcfd-item">気候関連のリスクと機会の評価とマネジメントにおける経営陣の役割を記述する</li>
						</ul>
					</th>
					<td>
						<p>日本郵政グループは、日本郵政グループサステナビリティ基本方針において、気候変動による影響に適応した事業運営に努めるとともに、地球環境への負荷低減に配慮した事業活動及び環境保全活動を積極的に推進することを掲げています。また、2021年5月に公表した「日本郵政グループ中期経営計画JPビジョン2025」において、温室効果ガス排出量の削減を主要目標の一つに掲げ、気候変動や地球温暖化に配慮した事業活動を推進しています。なお、日本郵政グループサステナビリティ基本方針及び「日本郵政グループ中期経営計画JPビジョン2025」は、当社の経営会議及び取締役会において決議したものです。</p>
						<p>日本郵政グループの代表執行役社長（CEO）は、業務執行の最高責任者として、気候変動に関する目標の設定とその達成に向けた施策への取り組み、リスクと機会の特定等について最終責任を負っています。</p>
						<p>代表執行役社長の経営判断の過程・内容に合理性・適切性を持たせるため、代表執行役社長の諮問機関として、代表執行役社長が指名する執行役によって経営会議が組織されています。経営会議が専門的な事項について審議・議決を行うための諮問機関として設置している専門委員会の一つとしてサステナビリティ委員会があり、気候変動を含めた当社のサステナビリティをめぐる対応方針について審議し、経営会議に報告することとなっています。</p>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="BG-Gray"><strong>戦略</strong></td>
				</tr>
				<tr>
					<th>
						<ul class="tcfd-list">
							<li class="tcfd-item">組織が特定した、短期・中期・長期の気候関連のリスクと機会を記述する</li>
							<li class="tcfd-item">気候関連のリスクと機会が組織の事業、戦略、財務計画に及ぼす影響を記述する</li>
						</ul>
					</th>
					<td>
						<p>日本郵政グループは、日本郵政グループサステナビリティ基本方針において、気候変動による影響に適応した事業運営に努めるとともに、地球環境への負荷低減に配慮した事業活動及び環境保全活動を積極的に推進することを掲げています。また、2021年5月に公表した「日本郵政グループ中期経営計画JPビジョン2025」において、温室効果ガス排出量の削減を主要目標の一つに掲げ、気候変動や地球温暖化に配慮した事業活動を推進しています。なお、日本郵政グループサステナビリティ基本方針及び「日本郵政グループ中期経営計画JPビジョン2025」は、当社の経営会議及び取締役会において決議したものです。</p>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="BG-Gray"><strong>リスク管理</strong></td>
				</tr>
				<tr>
					<th>
						<ul class="tcfd-list">
							<li class="tcfd-item">気候関連リスクを特定し、評価するための組織のプロセスを記述する</li>
							<li class="tcfd-item">気候関連リスクをマネジメントするための組織のプロセスを記述する</li>
							<li class="tcfd-item">気候関連リスクを特定・評価し、マネジメントするプロセスが、組織の全体的なリスクマネジメントにどのように統合されているかを記述する</li>
						</ul>
					</th>
					<td>
						<p>日本郵政グループでは、気候変動にかかるリスクについて、サステナビリティ委員会、経営会議及び取締役会に報告しております。この特定・評価にあたっては、気候変動による長期的なシナリオを参考にしながら、ESG担当部署を中心に、社内及びグループ企業と共同でリスクを洗い出しています。さらに、その重要度をシナリオに基づく財務影響によって評価することとしています。</p>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="BG-Gray"><strong>指標と目標</strong></td>
				</tr>
				<tr>
					<th>
						<ul class="tcfd-list">
							<li class="tcfd-item">組織が自らの戦略とリスクマネジメントに即して、気候関連のリスクと機会の評価に使用する測定基準（指標）を開示する</li>
							<li class="tcfd-item">スコープ1、スコープ2、該当する場合はスコープ3のGHG排出量、および関連するリスクを開示する</li>
							<li class="tcfd-item">気候関連のリスクと機会をマネジメントするために組織が使用するターゲット、およびそのターゲットに対するパフォーマンスを記述する</li>
						</ul>
					</th>
					<td>
						<p>日本郵政グループは、グループ中期経営計画「JPビジョン2025」におけるESG目標として、「2050年カーボンニュートラルの実現を目指す」という超長期の目標と、これを着実に推進するためのマイルストーンとして「2030年度46%削減（対2019年度比）」を掲げ、カーボンニュートラルの実現に向けた取組を推進しています。</p>
						<ul>
							<li><a href="/sustainability/environmental_management/#ghgchallenge" class="Link">日本郵政グループ温室効果ガス削減目標</a></li>
							<li><a href="/sustainability/library/data/" class="Link">ESGデータ集</a></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

  <h2 class="Header">気候変動が事業に及ぼす重要なリスクと機会及びシナリオ分析</h2>
  <div class="Section">
    <p>
      日本郵政グループでは、将来の気候変動が事業に及ぼす可能性のある重要なリスクと機会を特定し、それらの影響に関するシナリオ分析に着手しました。<br />
      シナリオ分析では、サプライチェーンを含むグループ全体を対象とする必要があると認識しており、今後分析対象を拡大していくとともに、リスクの低減及び機会の拡大を図るための事業戦略の策定に活用していきます。
    </p>
  </div>
  <div class="Section List-General">
    <ul>
      <li><a class="Link" href="/sustainability/environmental_management/post_scenario.html"><span>郵便・物流事業</span></a></li>
      <li><a class="Link Popup" href="https://www.jp-bank.japanpost.jp/sustainability/environment/tcfd/index.html" rel="noopener noreferrer"><span>銀行業</span></a></li>
      <li><a class="Link Popup" href="https://www.jp-life.japanpost.jp/aboutus/csr/enviroment.html#csrEnvBlock03" rel="noopener noreferrer"><span>生命保険業</span></a></li>
    </ul>
  </div>

	<h3 class="Header">TCFD提言への今後の対応</h3>
	<div class="Section">
		<p>日本郵政グループでは、TCFD提言に沿ってシナリオ分析に着手し、情報開示を開始しましたが、シナリオ分析の対象は限定的なものにとどまっています。今後、想定される影響に対する対応策の検討をさらに深めていくとともに、当グループの他の事業のシナリオ分析や、リスク・機会の定量化に関する分析も進めてまいります。</p>
	</div>

 
<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
