<div id="environmental_management_index">
	<div id="title_box">
		<div id="csr_main_img_report">
			<h1>環境マネジメントシステム</h1>
		</div>
		<p class="explanation2">私たちは、気候変動による影響に適応した事業運営に努めるとともに、地球環境への負荷低減に配慮した事業活動および環境保全活動を積極的に推進します。</p>
	</div>
	
	<h2 id="policy" class="Header">具体的な推進方針</h2>
	<div class="Section">
		<p>日本郵政グループは、「日本郵政グループサステナビリティ基本方針」に基づき、持続可能な社会を実現するために、気候変動や環境汚染に配慮した事業活動を推進するとともに、限りある資源の有効活用と廃棄物の削減に取り組んでまいります。
		</p>
		<div class="Section List-General">
			<ul>
				<li><a class="Link" href="/sustainability/sustainability_management/policy.html">方針・考え方・体制</a></li>
			</ul>
		</div>
	<!-- end .Section --></div>
	
	<h3 class="Header">温室効果ガスの削減</h3>
	<div class="Section Col">
		<div class="Grid-Column">
			<p>日本郵政グループは、グループ中期経営計画「JPビジョン2025」におけるESG目標として、「2050年カーボンニュートラルの実現を目指す」という超長期の目標と、これを着実に推進するためのマイルストーンとして「2030年度46%削減（対2019年度比）」を掲げ、カーボンニュートラルの実現に向けた取組を推進しています。</p>
			<div class="Section List-General">
				<ul>
					<li><a class="Link Inner" href="#ghgchallenge">日本郵政グループ温室効果ガス削減目標</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<h3 class="Header">エネルギー消費量の削減</h3>
	<div class="Section Col">
		<div class="Grid-Column">
			<p>事業活動を通じて排出される温室効果ガスの削減を着実に推進するにあたり、エネルギー消費量に関する具体的な削減計画を策定し、事業活動で消費するエネルギー消費量の削減に取り組みます。
			</p>
		</div>
	</div>
	
	<h3 class="Header">資源の有効活用・廃棄物の削減</h3>
	<div class="Section Col">
		<div class="Grid-Column">
			<p>限りある資源を大切に使い、循環型社会を実現するために、ペーパーレス化やリデュース・リユース・リサイクル等を推進します。
			</p>
		</div>
	</div>
	
	<h3 class="Header">法令などの遵守</h3>
	<div class="Section Col">
		<div class="Grid-Column">
			<p>法令その他の各種協定などを遵守し、事業遂行から生じる汚染その他の問題を未然に防ぐように努めます。
			</p>
		</div>
	</div>
	
	<h3 class="Header">外部との協働</h3>
	<div class="Section Col">
		<div class="Grid-Column">
			<p>日本郵政、ゆうちょ銀行およびかんぽ生命保険は、2019年4月にTCFD<sup style="font-size:80%; vertical-align:top;">※</sup>の提言に賛同表明いたしました。今後、TCFDの提言を踏まえ、気候変動がグループの事業に与える影響についての分析を深め、さらなる情報開示に取り組みます。</p>
			<p>※金融安定理事会により設置された気候関連財務情報開示タスクフォース</p>
			<div class="Section List-General">
				<ul>
					<li><a class="Link Inner" href="/sustainability/sustainability_management/initiative.html#tcfddisclosures">TCFD提言への賛同表明</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	
	<h2 id="system" class="Header">環境マネジメント体制</h2>
	<div class="Section Col">
		<div class="Grid-Column">
			<p>気候変動や地球温暖化に配慮した取り組みや資源の有効活用・廃棄物の削減の重要性を鑑み、経営会議の諮問機関として、サステナビリティ委員会を設置しています。サステナビリティ委員会において、当社グループのサステナビリティ経営に関する中長期戦略を審議し、取締役会及び経営会議に審議内容を報告しています。また、グループ各社で方向性を確認・共有するため、グループサステナビリティ連絡会を設置しています。</p>
			<div class="Image Text-Center"><img alt="グループサステナビリティ推進体制" src="/csr/environment/images/index_img_04.png"></div>
		</div>
	</div>
	
	
	
	<h2 id="ghgchallenge" class="Header break">日本郵政グループ温室効果ガス削減目標</h2>
	<div class="Section Col">
		<div class="Grid-Column">
			<p>日本郵政グループは、グループ中期経営計画「JPビジョン2025」におけるESG目標として、「2050年カーボンニュートラルの実現を目指す」という超長期の目標と、これを着実に推進するためのマイルストーンとして「2030年度46%削減（対2019年度比）」を掲げ、カーボンニュートラルの実現に向けた取組を推進しています。</p>
			<div class="Image Text-Center"><img alt="日本郵政グループ　環境Challenge" src="/csr/environment/images/challenge_img_02.png" width="750"></div>
		</div>
	</div>
	
	<h2 class="Header" id="cost">エネルギー使用量削減計画・気候変動に関するコスト</h2>
	<div class="Section">
		<p>日本郵政グループは、事業で使用するエネルギー資源の削減計画を策定し、これを推進してまいります。また、当該計画の推進に要するコストを試算し、経営への影響を分析した上で、限りあるエネルギー資源の効率的使用と気候変動の緩和に努めます。</p>
	</div>
	<div class="Section Table-Border">
		<p class="cap">＜2021～2025年度におけるエネルギー使用量削減計画・気候変動に関するコスト＞</p>
		<div class="Table-Wrapper">
			<table>
				<thead>
					<tr>
						<th class="BG-Gray Text-Middle">2021~2025までの取り組み内容</th>
						<th class="BG-Gray"><span>取組による</span><span>削減効果（GJ）</span></th>
						<th class="BG-Gray"><span>取組による</span><span>削減効果（tCO&#x2082;）</span></th>
						<th class="BG-Gray">主なエネルギー種別</th>
						<th class="BG-Gray"><span>気候変動に関する</span><span>コスト（百万円）</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							車両の切り替え
							<ul class="List-Disc mb00">
								<li>電気自動車の導入（四輪12,000台、二輪21,000台）</li>
								<li>低燃費車両への切り替え（四輪410台、二輪550台）</li>
							</ul>
						</td>
						<td class="Text-Right Text-Middle">▲447,600</td>
						<td class="Text-Right Text-Middle">▲30,000</td>
						<td class="Text-Center Text-Middle">ガソリン</td>
						<td class="Text-Right Text-Middle">49,000</td>
					</tr>
					<tr>
						<td>高効率空調やLED照明への切り替え、窓口機器等の更改</td>
						<td class="Text-Right Text-Middle">▲1,728,900</td>
						<td class="Text-Right Text-Middle">▲83,500</td>
						<td class="Text-Center Text-Middle">電気</td>
						<td class="Text-Right Text-Middle">87,400</td>
					</tr>
					<tr>
						<td>再生エネルギーの導入、電力調達方法の見直し</td>
						<td class="Text-Right Text-Middle">-</td>
						<td class="Text-Right Text-Middle">▲90,000</td>
						<td class="Text-Center Text-Middle">電気</td>
						<td class="Text-Right Text-Middle">800</td>
					</tr>
					<tr>
						<td>その他省エネへの取り組み、業務の効率化</td>
						<td class="Text-Right Text-Middle">▲151,200</td>
						<td class="Text-Right Text-Middle">▲9,600</td>
						<td class="Text-Center Text-Middle">電気</td>
						<td class="Text-Right Text-Middle">700</td>
					</tr>
					<tr>
						<td class="Text-Center"><strong>合計</strong></td>
						<td class="Text-Right"><strong>▲2,327,700</strong></td>
						<td class="Text-Right"><strong>▲213,100</strong></td>
						<td class="Text-Right"><strong>&nbsp;</strong></td>
						<td class="Text-Right"><strong>137,900</strong></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<h2 id="result" class="Header">実績データ</h2>
	<div class="Section List-General">
		<ul>
			<li><a class="Link" href="/sustainability/library/data/#emissions">温室効果ガス排出量・エネルギー消費量に関するデータ</a></li>
			<li><a class="Link" href="/sustainability/library/data/#resource">資源に関するデータ（廃棄物・リサイクル量及びコピー用紙使用量並びに水使用量に関するデータ）</a></li>
		</ul>
		<!-- end .Section.List-General -->
	</div>
	
	<h2 id="initiative" class="Header">外部と協働した取り組み</h2>
	<div class="Section List-General">
		<ul>
			<li><a class="Link" href="/sustainability/sustainability_management/initiative.html#tcfddisclosures"><span>TCFD提言への賛同表明</span></a></li>
			<li><a class="Link" href="/sustainability/sustainability_management/initiative.html#cool"><span>COOL CHOICE（クールチョイス）への賛同</span></a></li>
			<li><a class="Link" href="/sustainability/sustainability_management/initiative.html#okihai"><span>置き配検討会への参画</span></a></li>
		</ul>
	<!-- end .Section.List-General --></div>
	
	
	<h2 id="concrete" class="Header">具体的な取り組み</h2>
	<div class="Section List-General">
		<ul>
			<li><a class="Link" href="/sustainability/environment/greenhouse_gas/">CSR重点課題：温室効果ガス排出量の削減</a></li>
			<li><a class="Link" href="/sustainability/environment/resources/">CSR重点課題：資源の有効利用と廃棄物の削減</a></li>
		</ul>
	<!-- end .Section.List-General --></div>
	

	<h2 class="Header">関連情報</h2>
	<div class="Section List-General">
	<ul>
	<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
	<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
	<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
	</ul>
	</div>
	
</div>