<h2 class="Header">郵便・物流事業におけるシナリオ分析</h2>
<h3 class="Header">分析の範囲</h3>
<div class="Section Table-Border">
  <table>
    <tr>
      <th class="BG-Gray"><strong>シナリオ</strong></th>
      <td>IPCC RCP2.6シナリオ・RCP8.5シナリオ</td>
    </tr>
    <tr>
      <th class="BG-Gray"><strong>対象事業</strong></th>
      <td>郵便・物流事業</td>
    </tr>
    <tr>
      <th class="BG-Gray"><strong>対象期間</strong></th>
      <td>2050年</td>
    </tr>
  </table>
</div>

<h3 class="Header">シナリオの定義</h3>
<div class="Section">
  <p>
    地球温暖化の専門家による国際機関「気候変動に関する政府間パネル」（IPCC）は2014年に公表した第5次評価報告書（AR5）において2100年までに平均気温がどの程度上昇するか4つのシナリオを提示して予測しています。<br>
    日本郵政グループでは、４つのシナリオのうち、最も気温上昇が高いシナリオであるRCP8.5シナリオ（2100年に2.6℃から4.8℃の気温上昇を予測）及び最も気温上昇予測が低く、将来の気温上昇を2℃以下に抑える目標として2015年に採択されたパリ協定の経路に相当するRCP2.6シナリオ（0.3℃から1.7℃の気温上昇を予測）の2つを想定して日本郵政グループの事業への影響を分析しました。<br>
    2050年段階での2つのシナリオの大きな差は、主に気候変動対策の違いにより影響が著しくなるリスクの種類の違いであると考えられます。RCP2.6シナリオでは、温室効果ガス削減のため規制が強化されて低・脱炭素化が進み、移行リスクの影響が高まると考えらえます。一方RCP8.5シナリオでは、規制などの移行リスクの影響は小さいものの、異常気象などの物理的リスクの影響が高まると考えられます。
  </p>
</div>

<h3 class="Header">郵便・物流事業の重要なリスク、機会及び影響</h3>
<div class="Section">
  <div>
    <p>気候変動が郵便・物流事業に与えるリスクや機会、RCP2.6シナリオ・RCP8.5シナリオのそれぞれの状況下における影響は次のとおりです。</p>
    <p class="risk-pie"><img src="/sustainability/environment/images/climate_01.png" alt="日本郵政グループの郵便・物流事業を取り巻くリスク"></p>
    <p>物理的リスク：気候変動によってもたらされる災害等による急性あるいは慢性的な被害<br>移行リスク：低炭素経済への移行により、例えば政策および規制や、技術開発、市場動向、市場における評価等の変化によってもたらされるリスク</p>
  </div>
  <div class="Table-Border tcfd_risk_tbl">
    <table>
      <colgroup><col span="2" style="width: 1em;"></colgroup>
      <colgroup></colgroup>
      <thead>
        <tr>
          <th colspan="3" class="BG-Gray">重要なリスク、機会、想定される影響</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th rowspan="2" class="BG-Gray scenario-th-v"><span>物理的リスク</span></th>
          <th class="BG-Gray scenario-th-v"><span>急性</span></th>
          <td>
            <p>短時間強雨の増加により、河川の氾濫、高潮等が発生し、氾濫する河川の流域または高潮が発生する沿岸地域の郵便局舎の一部または全部が崩壊する可能性があり、その修復にはコスト及び時間を要します。<br>
            また、局舎の被災や道路等の寸断により郵便・物流事業を継続できないリスクがあり、ユニバーサルサービスの提供に支障をきたすおそれがあるほか、売上が下がる可能性があります。</p>
            <p>【RCP2.6シナリオ】<br>大雨が増加することから河川の氾濫、高潮や土砂崩れにより郵便局舎に一定の影響が出ることが予想されます。</p>
            <p>【RCP8.5シナリオ】<br>大雨が大幅に増加することから、RCP2.6シナリオの場合よりも広範囲にわたり局舎の崩壊等の影響が出る可能性があります。</p>
          </td>
        </tr>
        <tr>
          <th class="BG-Gray scenario-th-v"><span>慢性</span></th>
          <td>
            <p>気候変動により夏場の真夏日や猛暑日が増加することで、郵便配達等に従事する外務社員の熱中症リスクが高まります。これにより人件費等のコストが増加することとなります。</p>
            <p>【RCP2.6シナリオ】<br>年平均気温が上昇すると共に真夏日の年間日数も増加するため、社員の熱中症のリスクが増加することが予想されます。</p>
            <p>【RCP8.5シナリオ】<br>年平均気温が大幅に上昇すると共に真夏日の年間日数も著しく増加するため、郵便配達等に従事する社員が熱中症に罹患するリスクが大幅に高まることが予想されます。</p>
          </td>
        </tr>
        <tr>
          <th rowspan="2" class="BG-Gray scenario-th-v"><span>移行リスク</span></th>
          <th class="BG-Gray scenario-th-v"><span>政策・規制</span></th>
          <td>
            <p>配達業務に従来型の車両を使用し続けることで、燃料にかかる炭素税が賦課され、コストが増加する可能性があります。</p>
            <p>【RCP2.6シナリオ】<br>政府が温室効果ガス排出削減策を取るために、炭素税を課すことを想定します。</p>
            <p>【RCP8.5シナリオ】<br>炭素税が導入されない見込みです。</p>
          </td>
        </tr>
        <tr>
          <th class="BG-Gray scenario-th-v"><span>評判</span></th>
          <td>
            <p>投資家から気候変動対策に消極的とみなされた場合、株主総会での社長を含めた取締役の選任や関連議案に対して反対票が投じられたり、日本郵政株式会社が投資を引き上げられる可能性があります。<br>また、顧客（荷主）の環境への意識が高まり、より環境負荷の低い輸送手段を持つサービスが選ばれる一方、配達業務に従来型の車両を使用し続けた場合、荷主離れ、ひいては売上の低下につながります。</p>
          </td>
        </tr>
        <tr>
          <th class="BG-Gray scenario-th-v" colspan="2"><span>機会</span></th>
          <td>環境に配慮した商品・サービス等の提供を通じて、環境の意識が高まった顧客のニーズに応じることにより、気候変動を事業機会として活用することができます。</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
