<div id="credibility_index">
  <div id="title_box">
  <div id="csr_main_img_credibility">
  <h1 class="">地域社会と共に歩み<br>お客さまの期待に応える企業グループを目指して</h1>
  <!-- end .csr_main_img --></div>
  </div>
  
  <div class="Section">
  <p>日本郵政グループは、「お客さまと社員の幸せ」を目指し、「社会と地域の発展への貢献」を使命とすることを、グループ経営理念に掲げており、日本郵便、ゆうちょ銀行、かんぽ生命の経営理念も、このグループ経営理念の精神に基づいて定められています。</p>
  <p>私たちは、この経営理念のもと、グループ一丸となってお客さまの期待に応える企業グループを目指してまいります。</p>
  <!-- end .Section --></div>
  


  <h2 class="Header ">業務改善計画・JP改革実行委員会</h2>
  <div class="Section Col">
  <p>日本郵政グループは、2020年1月に総務大臣および金融庁に提出した業務改善計画に基づき、再発防止・信頼回復に向けた取り組みを推進しています。</p>
  <p>2020年3月には、グループのコンプライアンス体制・ガバナンス体制の強化や企業風土の見直し等に向けて、外部専門家から公正・中立な立場で各種アドバイスをいただく「JP改革実行委員会」を設置しています。</p>
  <p>進捗状況の詳細については、日本郵便Webサイトおよび統合報告書の各該当ページ（以下リンク）を参照ください。</p>
  <ul class="Grid-Column">
    <li><a class="Link Popup" href="https://www.japanpost.jp/pressrelease/jpn/2020/20200131150433.html"><span>業務改善計画</span></a></li>
    <li><a class="Link Popup" href="https://www.japanpost.jp/pressrelease/jpn/2021/20210615165005.html"><span>業務改善計画の進捗状況（2021年6月15日）</span></a></li>
    <li><a class="Link Popup" href="https://www.japanpost.jp/pressrelease/jpn/2021/20210324163840.html"><span>2021年4月からの信頼回復に向けた業務運営について（2021年3月24日）</span></a></li>
    <li><a class="Link Popup" href="https://www.japanpost.jp/pressrelease/jpn/2020/20201028154360.html"><span>かんぽ生命のご契約調査の状況（2020年10月28日）</span></a></li>
    <li><a class="Link Popup" href="https://www.japanpost.jp/pressrelease/jpn/2021/20210129163086.html"><span>JP改革実行委員会からの検証結果の報告について（2021年1月29日）</span></a></li>
    <li><a class="Link Popup" href="https://www.japanpost.jp/jpcommittee/"><span>JP改革実行委員会の開催状況</span></a></li>
    <li class="Text-Tab">
      <p class="mb00 ml00">日本郵政グループ統合報告書2020</p>
      <ul>
        <li><a class="Link PDF" href="https://www.japanpost.jp/ir/library/disclosure/2020/pdf/02.pdf"><span>トップメッセージ</span></a></li>
        <li><a class="Link PDF" href="https://www.japanpost.jp/ir/library/disclosure/2020/pdf/03.pdf"><span>かんぽ商品の募集に係る問題についてのご報告</span></a></li>
      </ul>
    </li>
  </ul>
  <!-- end .Section --></div>



	
	<h2 class="Header">お客さまの信頼回復に向けた約束</h2>
	<div class="Section">
		<p>日本郵政グループが、真にお客さま本位の企業グループに生まれ変わる決意を幅広く公表するため、JP改革実行委員会の助言も受けながら、「お客さまの信頼回復に向けた約束」を策定いたしました。</p>
	</div>
	<div class="Section Col-Border">
		<div class="Grid-Column BG-Gray">
			<h3 class="Header mb10"><span>お客さまの信頼回復に向けた約束</span></h3>
			<p class="mb00">【目指す姿の約束】</p>
			<p>一人ひとりのお客さまに寄り添い、お客さまの満足と安心に最優先で取り組み、信頼していただける会社になることを約束します。</p>
			<p class="mb00">【活動の約束】</p>
			<ul>
				<li>〇 お客さま本位の事業運営を徹底し、お客さまにご満足いただける丁寧な対応を行います。</li>
				<li>〇 お客さまの声をサービス向上に反映するため、お客さまの声に誠実に耳を傾けます。</li>
				<li>〇 社員の専門性を高め、お客さまにご納得いただけるよう正確にわかりやすく説明します。</li>
				<li>〇 法令・ルールを遵守し、お客さまが安心してご利用いただける高品質のサービスを提供します。</li>
				<li>〇 お客さまのニーズを踏まえ、お客さまに喜んでいただける商品・サービスを提供します。</li>
			</ul>
		</div>
		<p><a href="https://www.japanpost.jp/pressrelease/jpn/2020/20200911153542.html" class="Link Popup"><span>日本郵政グループの「お客さまの信頼回復に向けた約束」について</span></a></p>
	</div>

  <h2 id="voice" class="Header">JP VOICEプロジェクト～声から変えるPT（コエカラPT）～の設置</h2>
  <div class="Section">
  <p>グループに対するお客さま及び社員の声等をグループ横断的に活用するため、日本郵政社長直下に「JP VOICEプロジェクト」を設置しました。</p>
  <p>このプロジェクトでは、グループ各社が保有するCS・ES調査の結果や、郵便局窓口およびコールセンター等で把握しているお客さまの声・社員の声、そして、各種報道やSNS上の投稿等のデータを収集・一元化し、分析した結果をグループで共有することで、経営に活かすよう取り組んでいます。</p>
  <p><strong>「JP VOICEプロジェクト」3つの方針</strong></p>
  <ol class="jpVoice">
    <li>声の活用：お客さま及び社員の声に耳を傾け、経営に活かす</li>
    <li>リスク検知：声の変化をつぶさに捉え、適切かつ迅速に対応</li>
    <li>態勢強化：システム基盤および声の活用等における態勢構築</li>
  </ol>
</div>
<div class="Section Col">
  <div class="Grid-Column">
    <p><strong>「JP VOICEプロジェクト」フロー図</strong></p>
    <figure class="Image"><img src="/sustainability/credibility/images/credibility_01.png" alt="「JP VOICEプロジェクト」フロー図"></figure>
  </div>
</div>
  
  <h2 id="tel" class="Header">消費生活相談員によるかんぽ生命保険等電話相談窓口</h2>
  <div class="Section Col2 TextImageBlock Image-Right">
    <div class="Grid-Column Image">
    <figure class="Image Text-Center"><img src="/sustainability/credibility/images/credibility_02@2x.png" style="width: 200px;" alt="消費生活相談員によるかんぽ生命保険等電話相談窓口"></figure>
    </div>
  <p>消費生活に関する各種相談の専門家である消費生活相談員により、公正・中立な立場からお客さまの相談に応じていただける「消費生活相談員によるかんぽ生命保険等電話相談窓口」を2020年8月17日に開設しました。<br>この相談窓口は、お客さまの信頼回復活動の一環として実施するもので、本相談窓口の設置により、これまで以上に日本郵政グループをご利用されるお客さまが安心してかんぽ生命保険等をご利用いただけるようになるものと考えております。</p>
  </div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/csr/index02.html"><span>日本郵政グループのCSR基本方針</span></a></li>
<li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
</ul>
<!-- end .Section.List-General --></div>
  
<!-- end #credibility_index --></div>