<div id="title_box">
  <div id="csr_main_img_vision">
    <h1>日本郵政グループ環境ビジョン</h1>
  </div>
  <p class="explanation2">日本郵政グループは、美しく住みやすい地球を将来の子どもたちに継承するための自らの責任を認識し、グループ経営の重要課題として地球及び地域の環境保全に努めます。</p>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政グループは、美しく住みやすい地球を将来の子どもたちに継承するための自らの責任を認識し、グループ経営の重要課題として地球及び地域の環境保全に努めます。また、法令その他の各種協定等を遵守し、事業遂行から生じる汚染その他の問題を未然に防ぐように努めます。</p>
<p>地球及び地域の環境の状況や、日本郵政グループの事業活動が環境に与える影響を考慮し、具体的な目標を定め、定期的な見直しをすることで取り組みの継続的な改善を図ります。特に次の3項目を環境に対し重点的に取り組む分野として、取り組みを進めていきます。</p>
<!-- end .Section --></div>
<!-- csr main -->
<div id="csr_box_cnt">
  <div class="csr_vision_box" id="csr_vision_title_01"></div>
  <div class="csr_vision_box" id="csr_vision_text_01">
    <div>
      <p>目標数値を定め、事業から排出されるCO<sub style="font-size: 80%;">2</sub>の削減（※）に取り組むとともに、CO<sub style="font-size: 80%;">2</sub>の排出を適切に管理し実行します。</p>
    </div>
  </div>
  <div class="csr_vision_box" id="csr_vision_title_02"></div>
  <div class="csr_vision_box" id="csr_vision_text_02">
    <div>
      <p>事業活動と社会貢献活動の両面から持続可能な森林育成に貢献します。</p>
	  <ul>
		<li><a href="/csr/jpforest/" class="Link">JPの森づくり</a></li>
		<li><a href="/csr/kids/" class="Link">JP子どもの森づくり運動</a></li>
	  </ul>
    </div>
  </div>
  <div class="csr_vision_box" id="csr_vision_title_03"></div>
  <div class="csr_vision_box" id="csr_vision_text_03">
    <div>
      <p>紙の使用に関して削減に取り組むとともに、再生紙の積極的使用など環境に配慮した取り組みを進めます。また、事業活動で使用する事務用品などの再利用に努め省資源の取り組みを進めます。</p>
    </div>
  </div>
</div>
<!-- /#csr_content-->
<div class="Section">
<p>日本郵政グループ各社及び社員はこの環境ビジョンを共有するとともに、日本郵政グループは環境に関する情報の積極的な発信に努めます。</p>
<p class="Text-Small">※注釈：本ビジョンにおいて対象とするCO<sub style="font-size: 80%;">2</sub>は、省エネ法で規定するエネルギー起源CO<sub style="font-size: 80%;">2</sub>に限る。</p>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/message.html"><span>CSRトップメッセージ</span></a></li>
    <li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
  </ul>
<!-- end .Section --></div>