<div id="title_box">
  <div id="csr_main_img_policy">
    <h1>ステークホルダーエンゲージメント</h1>
  </div>
</div>
<!-- /#title_box-->

<h2 id="concept" class="Header">日本郵政グループのステークホルダー</h2>
<div class="Section">
<p>日本郵政グループは、お客さまや地域社会などあらゆるステークホルダーの皆さまのお役に立てる「トータル生活サポート企業グループ」を目指しています。そのため、ステークホルダーの皆さまから当グループに対する要請や期待を、対話などを通じて的確に把握し、それらに応えていくことが重要だと考えています。</p>
<!-- end .Section --></div>

<div class="Section Table-Border">
  <table id="general">
  <colgroup>
  <col width="30%">
  <col width="70%">
  </colgroup>
  <thead>
    <tr>
      <th class="BG-Gray" scope="col">ステークホルダー</th>
      <th class="BG-Gray" scope="col">主なエンゲージメント方法</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="Text-Left">お客さま</td>
      <td> 
        <ul class="Normal">
          <li>郵便局等窓口、配達員、渉外社員およびコールセンター</li>
          <li>Webサイト・ソーシャルメディア等</li>
          <li>顧客満足度調査</li>
          <li>統合報告書・サステナビリティレポート</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="Text-Left">NPO・NGO</td>
      <td>
        <ul class="Normal">
          <li>NPOとの連携</li>
          <li>協働プロジェクトの実施</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="Text-Left">お取引先</td>
      <td>
        <ul class="Normal">
          <li>Webサイトでの調達情報の開示</li>
          <li>調達活動に関する考え方の開示</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="Text-Left">株主・投資家</td>
      <td>
        <ul class="Normal">
          <li>株主総会</li>
          <li>個人投資家向け動画メッセージ</li>
          <li>決算説明会、スモールミーティング</li>
          <li>機関投資家・アナリストとの対話</li>
          <li>IRカンファレンス</li>
          <li>統合報告書・サステナビリティレポート</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="Text-Left">地域社会</td>
      <td>
        <ul class="Normal">
          <li>災害・新型コロナウイルス感染症対策</li>
          <li>地方公共団体等との連携</li>
          <li>地域への資金循環</li>
          <li>地域見守り活動</li>
          <li>次世代教育</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="Text-Left">従業員</td>
      <td>
        <ul class="Normal">
          <li>社員との対話</li>
          <li>研修</li>
          <li>当グループ社内報</li>
          <li>社員向けポータルサイト</li>
          <li>ES調査</li>
        </ul>
      </td>
    </tr>
  </tbody>
  </table>
  <!-- end .Section.Table-Border --></div>

<h2 id="dialogue" class="Header">有識者ダイアログの実施（2021年8月17日）</h2>
<div class="Section Col">
  <div class="Image Text-Center"><img alt="" src="/sustainability/sustainability_management/images/management_15.png" style="max-width: 100%;" /></div>
<!-- /.Section --></div>

<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image" >
    <img alt="" src="/sustainability/images/engagement_img_07.jpg" style="display: block;" />
    <p class="Caption" style="font-size: 100%;"><b>ファシリテーター<br>CSRアジア 日本代表<br>赤羽　真紀子氏</b></p>
  <!-- / .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>2021年8月17日、有識者ダイアログを開催いたしました。3名の有識者の方々から、日本郵政グループの主な取り組みに対する評価や、今後の課題、当社グループへの期待・要請などについて、さまざまなご意見・ご提言をいただきました。</p>
      <p class="Caption ind1em">※新型コロナウイルス感染症拡大防止の観点から、オンラインにて実施いたしました。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header">有識者コメント</h3>
<div class="Section Col2 TextImageBlock Image-Left">
  <div class="Grid-Column Image">
    <div class="Image">
      <img alt="" src="/sustainability/images/engagement_img_04.jpg" />
      <p class="Caption"><strong>日本サステナブル投資フォーラム<br>会長<br>荒井　勝 氏</strong></p>
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵政グループ中期経営計画でESGの非財務目標を掲げたことは、非常に良いと思います。カーボンニュートラルについては目標を掲げるだけでなく、日本郵政グループという巨大な企業群の取り組みとして、また地域社会に結びついた組織として、EV拡大における電力不足の問題など具体的な課題について政府等に発信し、ぜひ国の政策を後押ししていただきたいと思います。ゆうちょ銀行の金融教育補助教材にサステナブルな視点を加えられたことも、次世代に向けた重要な取り組みだと考えます。<br>世界的に重要な課題である「ビジネスと人権」についても検討が必要です。わが国の「ビジネスと人権に関する行動計画」を参考にして、課題を十分に認識して取り組んでいただきたいと思います。<br>サステナビリティ委員会の設置は、これまでのCSRという観点から大きく一歩進み、現在世界的に認識されているサステナビリティに取り組むきっかけになると思います。サステナビリティ経営の重要性を上層部がしっかりと理解して推進することが第一の課題です。深掘りした議論展開を期待しています。次のステップは社員への徹底です。本社・支社、さらに各現場でサステナビリティに取り組むことが重要です。日本郵政グループという巨大な組織では、事業部門ごとに仕事がかなり異なるため、「自分たちは関係ない」と受け取られがちで、社内浸透は難しい課題です。グループ方針を本社がはっきりと打ち出し、メッセージを外部や組織全体に伝えることが重要になります。取り組みを深堀し、見せ方も工夫して具体性のある情報を発信されるとよいと思います。<br>長期ビジョンや風土改革などが、先進企業と比べてまだ遅れている印象です。評価機関の評価への対応も含め、より改善に向け取り組んでいただきたい。今は本格的な第一歩が始まったところだと思いますので、どこまで進展するか来年（2022年）に期待したいと思います。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<div class="Section Col2 TextImageBlock Image-Left">
  <div class="Grid-Column Image">
    <div class="Image">
      <img alt="" src="/sustainability/images/engagement_img_03.jpg" />
      <p class="Caption"><strong>明治大学経営学部<br>特任教授<br>関　正雄 氏</strong></p>
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵政グループが目指す方向に賛同します。「人生100年時代の一生を支える」も良いコンセプトですし、郵便局の充電インフラを地域に開放する計画も非常に良いアイデアだと思います。日本郵政グループは大きな社会的影響力を持ちますので、その影響力を、ぜひ社会を動かす力に活用してください。例えば、CSV<sup>※</sup>的な考えからSDGsをビジネスチャンスとして捉える話もありますが、一方で社会に対するポジティブインパクトだけでなく、ネガティブインパクトに対する責任（ガバナンス、人権、労働問題など）も極めて重要です。具体的にはISO26000の7つの中核主題などを踏まえて取り組んでいただきたい。そのうえで、政府の方針や社会全体の水準に合わせるのではなく、むしろ日本郵政グループが社会におけるニーズを喚起し、市場にインパクトを与え、トランスフォーメーションを引き起こしていただければと思います。<br>また、気候変動への取り組みがずいぶん進みましたが、現在、気候変動と並んで多くのステークホルダーが注目するのが生物多様性です。これについても今後、経営の中に組み込んで取り組む必要があります。その他、地域に幅広いネットワークを持つ企業グループとして、認知症問題、空き家問題、災害対策にもぜひ積極的に取り組んでいただければと思います。<br>ESG目標については、人権デューデリジェンス、持続可能な調達など、社会面がまだ不十分という印象です。特に人権デューデリジェンスの実施は「待った無し」の状態ですので、PDCAサイクルに組み込んで、しっかり取り組む必要があります。また、ダイバーシティの中でも障がい者や外国人の方を含めた、誰一人取り残さない金融サービスFinancial Inclusionを大事にして展開してほしいと思います。<br />社員への理解・浸透は多くの企業の課題です。対外的な広報は、SDGsウォッシュの懸念を招かないように、意味のある情報発信をしていかなければなりません。そのためにも、社会に対するインパクト、アウトカムを発信することが重要です。社内広報にも力を入れるとともに、例えば長期ビジョンづくりにおいて若手社員を巻き込むなど、社員参加のプロセスを検討されるとよいと思います。</p>
        <p style="text-indent: -4em; padding-left: 4em;">※CSV：Creating Shared Value＝共通価値の創造（企業が、社会ニーズや問題に取り組むことで社会的価値を創造し、その結果、経済的な価値も創造されるということ）</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<div class="Section Col2 TextImageBlock Image-Left">
  <div class="Grid-Column Image">
    <div class="Image">
      <img alt="" src="/sustainability/images/engagement_img_05.jpg" />
      <p class="Caption"><strong>サステナビリティ消費者会議<br>代表<br>古谷　由紀子 氏</strong></p>
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵政グループの中期経営計画で掲げている「共創プラットフォーム」は非常に良い取り組みです。お客さまも参画するような取り組みにすることで、持続可能な社会の実現に貢献できると思います。サステナビリティへの意欲的な取り組みがなされているなという印象を持った一方で、社会の動きにキャッチアップしている段階であり、また具体化に欠けている面もある印象です。今この時期に、基本的な考え方や方針をしっかり持つことは、今後の進展に重要です。<br>CSR委員会からサステナビリティ委員会へ改組されましたが、コーポレートガバナンス・コードの改訂などの動向に照らし合わせると、サステナビリティ委員会に社外メンバーがいないなど、まだ検討の余地があると思います。社会の動きが早く、内部だけでは十分な検討ができない面もありますので、社外メンバーの追加をぜひご検討いただきたいと思います。<br>「お客さま本位」については、その大前提としてお客さまをどのように捉えるか、どのような課題をお客さまが抱えているのかをしっかり認識しないと、上滑りなお客さま本位になってしまいます。お客さまが災害や認知症などのリスクを抱えている状況に対して、日本郵政グループとして何ができるか、何をするべきかという観点から、仕組みや取り組みにつなげることが大事です。関連して、営業目標や人事評価の見直しをされましたが、「お客さまをどのように捉えるのか」という職員の認識改革も重要となるでしょう。<br />ダイバーシティについては、「ビジネスと人権に関する指導原則」などを参考にしながら、個人の尊重、多様性などをベースに構築していくことが本質的な解決につながります。<br />デジタル化が進む中、消費者はデジタル社会における人権の問題や、デジタル・ディバイドなどの課題を抱えています。営業やマーケティングなど事業活動をする中で、ぜひ消費者の啓発についても進めていただければと思います。<br />また、大きな不祥事の後、いくつか不祥事があったということで、社外認識は不祥事が続いていており、きちんと対処されていない印象があります。不祥事の情報発信について、考え方や取り組みについて積極性をもって明確に発信するよう工夫する必要があると感じました。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<h3 class="Header">有識者コメントを受けて日本郵政グループ出席者コメント</h3>

<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img alt="" src="/sustainability/sustainability_management/images/management_16.jpg">
      <p class="Caption Text-Center"><strong>日本郵政株式会社<br />サステナビリティ推進室　室長<br />關　祥之</strong></p>
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>中期経営計画「JP ビジョン2025」に今回初めてESG目標を組み込むことができたことや、サステナビリティ委員会といった推進体制の整備については、スタートラインに立てたとの評価をいただけたかと思います。今後は、いただいたご意見を真摯に受け止め、各取り組みを早急に具体化させていきたいと思っております。また、社会的な認識と社内の認識にまだまだギャップがある点についても、早急に埋めていきたいと思います。<br>対応すべき課題は多くありますが、サステナビリティやESGの取り組みに限らず、これまで課題意識が組織内から沸き上がるようなことは少なかったように思います。今後は、新たな課題について自ら声を上げ積極的に取り組む人材を支援する仕組みづくりや組織風土づくりについても、試行錯誤になるとは思いますが、進めてまいりたいと思っております。<br>引き続きご指導・ご鞭撻いただきますよう、お願い申し上げます。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img alt="" src="/sustainability/sustainability_management/images/management_17.jpg">
      <p class="Caption Text-Center"><strong>日本郵便株式会社<br />執行役員<br />小川　真郷</strong></p>
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>2021年度よりCSR委員会からサステナビリティ委員会へ改組し、新中期経営計画にも今回初めてESG目標を設定したことで、サステナビリティを経営に取り込む点で一歩前進したと考えています。<br>一方、ビジネスと人権やサプライチェーン、気候変動への対応等、さまざまなご提言をいただきましたが、今後サステナビリティ経営を推進するためには、方針やガイドラインを定めるだけでなく、踏み込んでより実効的に取り組んでいく必要があると改めて認識いたしました。<br>いただいたご提言を受け、日本郵便では、全国の郵便局ネットワークを活かしたユニバーサルサービスの提供、信頼回復に向けた業務運営を前提に、当グループ各社と連携し、また共創プラットフォームの枠組みの中、当グループ外の多様な企業等と連携を行うことで、デジタル化や高齢化、気候変動等のさまざまな課題の解決に貢献してまいります。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img alt="" src="/sustainability/sustainability_management/images/management_18.jpg">
      <p class="Caption Text-Center"><strong>株式会社ゆうちょ銀行<br />専務執行役<br />矢野　晴巳</strong></p>
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>ゆうちょ銀行は、2021年5月に中期経営計画を発表し、事業活動を通じて社会課題解決と企業価値向上の両立に取り組むESG経営をその中核に据えました。計画策定にあたっては、当行のパーパスや経営理念に立ち返り、ゆうちょ銀行として果たすべきミッションを明確にいたしました。<br>全国の幅広いお客さまに、金融ユニバーサルサービスをはじめ各種金融サービスをあまねく提供してきた当行の事業活動は、「誰一人取り残さない」というSDGsの理念との親和性が高いと考えます。<br>中期経営計画では、金融サービスのデジタル化という大きな流れの中で、「誰一人取り残さない」という理念の下、全国の店舗ネットワークとの相互補完を通じて、すべてのお客さまに安心・安全なデジタルサービスを提供する新しいビジネスモデルの構築に挑戦する戦略を打ち出しました。<br>役職員一人ひとりがESG経営の考え方を共有し、日々の業務に活かしていくことが大切であるというご意見をしっかり受け止め、中期経営計画のもと、ステークホルダーとの信頼を深め、金融革新に挑戦してまいります。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img alt="" src="/sustainability/sustainability_management/images/management_19.jpg">
      <p class="Caption Text-Center"><strong>株式会社かんぽ生命保険<br />常務執行役<br />宮西　嘉樹</strong></p>
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>SDGsに向けた取り組みは、お客さまに選ばれ、投資家に認められることで存続しうる企業としては、「当たり前に取り組むこと」、ある意味、「普遍的な価値」であり、SDGsに我が事として正面から取り組むことが、社会から承認を得るための必要条件であると思います。こうした観点から、SDGsに向けた方針を明確にするとともに 、経営資源の最適配分と実効性の高い計画を策定し、着実に取り組むことが重要であると言えます。そしてもっとも大切なことは、こうした企業の考え方が、社員一人ひとりの意識と行動に浸透し、日常の発信や行動が変化し、消費者やお客さま、投資家の皆さんに適切に伝わることだと思います。一人ひとりの社員の意識・心に灯をつける挑戦が実態のある取り組みにつながり、持続的な企業価値の向上、さらには社員一人ひとりの働きがいや幸せにつながると考えています。これからもぶれることなく、SDGsの解決に向けて誠実に取り組んでいきたいと決意を新たにしたところです。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section List-General">
<h3 class="Header">2020年度以前の有識者ダイアログ</h3>
<ul>
    <li><a class="Link" href="/sustainability/sustainability_management/past.html">過去の有識者ダイアログ模様</a></li>
<ul>
</div>

<h2 id="voice" class="Header">お客さまの声の経営への活用</h2>
<div class="Section">
  <p>お客さまのご意見・ご要望を日本郵政グループ一体で業務改善等に活用します。以下は、お客さまの声をもとに、サービス等の改善を行った事例です。</p>
<!-- /.Section --></div>

<div class="Section Table-Border">
  <table class="data">
  <!-- <colgroup>
  <col width="30%">
  <col width="70%">
  </colgroup> -->
  <thead>
    <tr>
      <th class="col02 red Text-Center" scope="col">お客さまの声</th>
      <th class="col02 red Text-Center" scope="col">改善した内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="Text-Left BG-Gray">郵便局で購入する切手などをキャッシュレス決済したい。</th>
      <td>全国約8,500の郵便局の郵便窓口において、クレジットカード払いなどのキャッシュレス決済を導入しました。</td>
    </tr>
    <tr>
      <th class="Text-Left BG-Gray">通帳の残高を簡単に確認したい。</th>
      <td>スマートフォンを使っていつでも現在高や入出金明細を確認できる「ゆうちょ通帳アプリ」の提供を開始しました。</td>
    </tr>
    <tr>
      <td class="Text-Left BG-Gray">入院保険金請求は窓口に行かなくても対応できるようにしてほしい。</td>
      <td>かんぽ生命ご契約者さま専用のマイページ上から、入院・手術保険金請求書類のお取り寄せが可能になりました。</td>
    </tr>
  </tbody>
  </table>
  <!-- end .Section.Table-Border --></div>

<div class="Section Col2 Col-Border TextImageBlock Image-Right">
  <div class="Grid-Column BG-Gray">
    <h3><span class="stakeholder_customer_voice--ttl-topics">TOPICS</span><storng>JP VOICEプロジェクトの取り組み</storng></h3>
    <div class="SubSection">
      <div class="Grid-Column Image">
        <div class="Image Text-Center">
          <img alt="JP VOICEプロジェクトの取り組み" src="/sustainability/sustainability_management/images/management_10.png" />
        </div>
      </div>
      <div class="Grid-Column Text">
        <div class="Box">
          <p>2020年6月に設置したJP VOICEプロジェクトでは、お客さまや社員、外部から寄せられる多数の声を分析することを通じて、グループのリスク感度の向上を図るため、お客さま本位ではない業務運営を把握するためのいくつかの分析モデルを設計しました。各分析モデルにおいては、Webアンケート、ソーシャルリスニングテキストマイニング、BI等のさまざまなツールを活用して声の分析を行うことにより、傾向を分析・把握し、その分析結果等を経営幹部へ正確・迅速にレポートするとともに、各社関係部署へのフィードバックを行っています。<br />2020年度においては、以下に記載している取り組みを実施しました。<br />今後は、分析結果のさらなる高度化を目指して、AI等を活用した分析モデルの構築を検討します。このような取り組みを通じて、お客さまに良質な商品・サービスが提供できる健全な経営態勢の構築を目指します。</p>
        </div>
      </div>
    </div>
    <div class="stakeholder_customer_voice--column Grid-Column">
      <div class="stakeholder_customer_voice--column-term"><span>2020年度の</span><span>主な取り組み</span></div>
      <ul class="List-Disc">
        <li>お客さまの声から、お客さま本位ではない業務運営の実態を抽出し、社員向け考察ガイド等を作成しました。</li>
        <li>社員の声から、社員の思考、行動等を分類・把握・共有し、グループ各社の業務改善に活用しました。</li>
        <li>SNS等のモニタリングを通じて、報道発表等に対する反応等の速やかな把握に努めました。</li>
        <li>グループ内のデータ整備を実施し、グループ各社の声データをグループ共通で活用しました。</li>
        <li>分析結果等をグループ経営幹部に迅速に報告・共有することにより、グループ全体でのリスク感度の向上を目指しました。</li>
      </ul>
    </div>
  <!-- /.Grid-Column.BG-Gray --></div>
<!-- /.Section.Col --></div>


<h2 id="recovery" class="Header">信頼回復に向けた取り組み</h2>
<h3 class="Header">お客さまからの信頼回復に向けた取り組み</h3>
<div class="Section">
<p>2019年度に発覚したかんぽ生命保険商品の募集品質に係る問題等によりお客さまから失った信頼を回復するため、2020年9月に外部専門家で構成されるJP改革実行委員会の助言も受けながら、「お客さまの信頼回復に向けた約束」を策定しました。<br />この1年間、日本郵政グループが真にお客さま本位の企業グループに生まれ変わるため、「お客さまの信頼回復に向けた約束」の実践活動の一環として、お客さまへのお詫び活動等を行ってきましたが、2021年9月のJP改革実行委員会において、「日本郵政グループが取り組んできた信頼回復の活動は、一定の成果があげられたものと評価できる」とされました。<br />日本郵政グループでは、お客さまから信頼していただける企業グループを目指し、これからもお客さまの信頼に応えられるよう、お客さま本位の業務運営を最優先し、お客さまの期待に応えられる商品・サービスの提供に取り組んでいきます。</p>
<!-- end .Section --></div>

<div class="Section Table-Border">
<h4 class="Header"><strong>お客さまの信頼回復に向けた約束とその評価結果</strong></h4>
  <div class="Table-Wrapper">
    <table class="data" style="border: none;">
      <colgroup>
        <col>
        <col>
        <col span="5">
      </colgroup>
      <thead>
        <tr>
          <th class="BG-Gray" scope="col" colspan="2">約束</th>
          <th class="BG-Gray" scope="col"><span>お客さま</span><span>の満足度</span></th>
          <th class="BG-Gray" scope="col"><span>社員</span><span>浸透度</span></th>
          <th class="BG-Gray" scope="col"><span>活動の</span><span>達成度</span></th>
          <th class="BG-Gray" scope="col"><span>委員</span><span>評価</span></th>
          <th class="BG-Gray" scope="col"><span>合計/</span><span>評価点</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>約束1</span></td>
          <td style="min-width: 30%;">日本郵政グループは、お客さま本位の事業運営を徹底し、お客さまにご満足いただける丁寧な対応を行います。</td>
          <td class="Text-Center">4.0</td>
          <td class="Text-Center">4.2</td>
          <td class="Text-Center">4.7</td>
          <td class="Text-Center">4.3</td>
          <td class="Text-Center">17.2/20</td>
        </tr>
        <tr>
          <td><span>約束2</span></td>
          <td>日本郵政グループは、お客さまの声をサービス向上に反映するため、お客さまの声に誠実に耳を傾けます。</td>
          <td class="Text-Center">3.8</td>
          <td class="Text-Center">4.2</td>
          <td class="Text-Center">5.0</td>
          <td class="Text-Center">4.3</td>
          <td class="Text-Center">17.3/20</td>
        </tr>
        <tr>
          <td><span>約束3</span></td>
          <td>日本郵政グループは、社員の専門性を高め、お客さまにご納得いただけるよう正確にわかりやすく説明します。</td>
          <td class="Text-Center">3.9</td>
          <td class="Text-Center">4.1</td>
          <td class="Text-Center">4.5</td>
          <td class="Text-Center">4.0</td>
          <td class="Text-Center">16.5/20</td>
        </tr>
        <tr>
          <td><span>約束4</span></td>
          <td>日本郵政グループは、法令・ルールを遵守し、お客さまが安心してご利用いただける高品質のサービスを提供します。</td>
          <td class="Text-Center">3.8</td>
          <td class="Text-Center">4.5</td>
          <td class="Text-Center">2.2</td>
          <td class="Text-Center">3.6</td>
          <td class="Text-Center">14.1/20</td>
        </tr>
        <tr>
          <td><span>約束5</span></td>
          <td>日本郵政グループは、お客さまのニーズを踏まえ、お客さまに喜んでいただける商品・サービスを提供します。</td>
          <td class="Text-Center">3.6</td>
          <td class="Text-Center">3.7</td>
          <td class="Text-Center">5.0</td>
          <td class="Text-Center">3.7</td>
          <td class="Text-Center">16.0/20</td>
        </tr>
        <tr>
          <td colspan="7" style="border: none; padding: 0; height: 0.5em;"></td>
        </tr>
        <tr>
          <th colspan="2" class="BG-Gray">約束の達成状況評価</th>
          <td colspan="5" class="BG-Gray Text-Center">81.1点/100点</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- end .Section.Table-Border -->
</div>

<div class="Section">
  <h3 class="Header">JP改革実行委員会におけるその他の活動</h3>
  <p>JP改革実行委員会は、日本郵政グループの各種取り組みについて、外部専門家の方々に公正・中立の立場から各種アドバイスをいただくために設置したものです。<br />JP改革実行委員会からは、「お客さまの信頼回復に向けた約束」に関する助言のほかにも、幅広いテーマについて助言をいただいており、日本郵政グループの業務運営に活用しています。<br />これまで、JP改革実行委員会で協議された主なテーマは次のとおりです。</p>

  <div>
    <dl class="stakeholder_recovery_theme">
      <dt class="stakeholder_recovery_theme-term">主なテーマ</dt>
      <dd class="stakeholder_recovery_theme-data">
        <ul class="List-Disc">
          <li>かんぽ生命保険商品の不適正な保険募集等に関する業務改善計画の進捗状況</li>
          <li>日本郵政グループの成長戦略</li>
          <li>日本郵政グループとしてのお客さま本位の相談体制</li>
          <li>日本郵政におけるグループガバナンス</li>
          <li>日本郵政グループにおける今後のガバナンスの在り方</li>
        </ul>
      </dd>
    </dl>
  </div>
</div>

<div class="Section Col2 TextImageBlock Image-Right">
  <h3 class="Header">消費生活相談員によるかんぽ生命保険等電話相談業務の実施</h3>
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img src="/sustainability/sustainability_management/images/management_22.png" alt="消費生活相談員によるかんぽ生命保険等電話相談業務の実施"></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>2020年8月からかんぽ生命保険等のご利用者がより安心して相談ができるように「消費生活相談員によるかんぽ生命保険等電話相談窓口」を開設しています。<br />この相談窓口は、消費生活に関する各種相談の専門家である消費生活相談員が公正・中立な立場からお客さま相談窓口業務を行っており、2021年度も継続して相談をいただいています（累計相談受付件数：2,968件（2021年9月30日現在））。</p>
    </div>
  </div>
</div>

<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/promise/">日本郵政グループの「お客さまの信頼回復に向けた約束」について</a></li>
 </ul>
<!-- end .Section.List-General --></div>

<h2 id="employee" class="Header">社員との意見交換会</h2>
<div class="Section Col2 TextImageBlock Image-Right">
<figure class="Grid-Column Image" style="width: 220px"><img src="/sustainability/sustainability_management/images/management_12.jpg" alt="コロナ禍において、オンラインで社員と対話をする増田社長"><figcaption class="Caption">コロナ禍において、オンラインで社員と対話をする増田社長</figcaption></figure>
<div class="Grid-Column Text">
  日本郵政グループでは、風通しの良い職場風土を実現するための取り組みの一環として、日本郵政株式会社社長と当グループ各社のフロントラインで働く社員との意見交換会を定期的に実施しています。<br />
「新たな成長に向けた取り組み」、「お客さまの声から気付いた業務改善」など、毎回テーマに沿った活発な意見交換が行われ、経営の意思を広く社員に浸透させるとともに、現場の声を拾い上げ、経営の改善に活かしています。
</div>
</div>

<h2 id="stockholder" class="Header">株主・投資家との対話</h2>
<div class="Section Col2 TextImageBlock Image-Right">
<figure class="Grid-Column Image" style="width: 194px"><img src="/sustainability/sustainability_management/images/management_13.jpg" alt=""></figure>
<div class="Grid-Column Text">日本郵政グループは、持続的成長と中長期的な企業価値の向上に資するため、株主・投資家の皆さまに対して、正確かつ公平に情報を開示するとともに、建設的な対話に努め、対話を通じていただいたご要望などを経営陣が共有し、経営改善に活かしております。</div>
</div>

<div class="Section Table-Border">
<p class="cap"><span class="title"><strong>2020年度 活動実績</strong></span></p>
<table class="data">
<colgroup>
<col width="40%">
<col width="60%">
</colgroup>
<thead>
  <tr>
    <th class="col02 red Text-Center" scope="col">活動</th>
    <th class="col02 red Text-Center" scope="col">内容</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th class="Text-Left BG-Gray">第16回 定時株主総会</th>
    <td>開催日時：2021年6月18日<br />出席者数：173人</td>
  </tr>
  <tr>
    <th class="Text-Left BG-Gray">個人投資家向け動画メッセージ</th>
    <td>取締役兼代表執行役社長の増田寬也が、事業内容や今後の戦略について説明した動画メッセージを当社Webサイトに掲載</td>
  </tr>
  <tr>
    <td class="Text-Left BG-Gray">決算説明会・スモールミーティング<br />（機関投資家・アナリスト向け）</td>
    <td>開催回数：7回</td>
  </tr>
  <tr>
    <th class="Text-Left BG-Gray">機関投資家・アナリストとの対話回数</th>
    <td>対話回数：116回<br />（うち海外投資家との個別面談 58回）</td>
  </tr>
  <tr>
    <td class="Text-Left BG-Gray">国内外のIRカンファレンス</td>
    <td>参加回数：6回<br />証券会社主催のカンファレンスに参加し、ミーティングを実施</td>
  </tr>
</tbody>
</table>
<!-- end .Section.Table-Border --></div>

<div class="Section Table-Border">
  <p class="cap"><span class="title"><strong>IR年間スケジュール</strong></span></p>
  <table class="data">
  <!-- <colgroup>
  <col width="40%">
  <col width="60%">
  </colgroup> -->
  <tbody>
    <tr>
      <th class="col02 red Text-Center" scope="row" rowspan="3">第1四半期</th>
      <th class="BG-Gray Text-Center" scope="col">4月</th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th class="Text-Center BG-Gray" scope="row">5月</th>
      <td>期末決算発表</td>
    </tr>
    <tr>
      <th class="Text-Center BG-Gray" scope="row">6月</th>
      <td>株主総会</td>
    </tr>
    <tr>
      <th class="col02 red Text-Center" scope="row" rowspan="3">第2四半期</th>
      <th class="BG-Gray Text-Center" scope="col">7月</th>
      <td>統合報告書発行</td>
    </tr>
    <tr>
      <th class="Text-Center BG-Gray" scope="row">8月</th>
      <td>第1四半期決算発表</td>
    </tr>
    <tr>
      <th class="Text-Center BG-Gray" scope="row">9月</th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th class="col02 red Text-Center" scope="row" rowspan="3">第3四半期</th>
      <th class="BG-Gray Text-Center" scope="col">10月</th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th class="Text-Center BG-Gray" scope="row">11月</th>
      <td>第2四半期決算発表</td>
    </tr>
    <tr>
      <th class="Text-Center BG-Gray" scope="row">12月</th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th class="col02 red Text-Center" scope="row" rowspan="3">第4四半期</th>
      <th class="BG-Gray Text-Center" scope="col">1月</th>
      <td>中間期ディスクロージャー誌発行</td>
    </tr>
    <tr>
      <th class="Text-Center BG-Gray" scope="row">2月</th>
      <td>第3四半期決算発表</td>
    </tr>
    <tr>
      <th class="Text-Center BG-Gray" scope="row">3月</th>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<!-- end .Section.Table-Border --></div>

<h2 id="thirdparty" class="Header">第三者意見</h2>
<div class="Section List-General">
  <ul>
    <li><a href="/sustainability/library/thirdparty/" class="Link"><span>第三者意見はこちらをご覧ください</span></a></li>
  </ul>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
