<div id="title_box">
  <div id="csr_main_img_policy">
    <h1>ESG投資</h1>
  </div>
<!-- /#title_box3--></div>

<div class="Section">
  <p>日本郵政グループでは、資金運用に際し、公共性・社会性に十分な配慮を行うとともに、地域の活性化や持続可能な社会の構築へ、積極的に貢献しています。</p>
</div>

<h2 id="bank" class="Header"><span>ゆうちょ銀行</span></h2>
<div class="Section Col">
  <div class="Grid-Column">
    <p>
      ゆうちょ銀行では、ステークホルダーからの気候変動などの社会課題への取り組みに対する要請の高まりや、TCFD<sup>※1</sup>提言への賛同などを踏まえ「ESG投資方針」を定め、当該方針に基づいた投資を行っています。<br />
      世界各国の企業が発行するグリーンボンドやソーシャルボンド等への投資、また、日本の地域活性化に資する観点から、地域活性化ファンド等を通じた資金供給により、地域のリスクマネーのニーズに応えていきます。
    </p>
    <div class="Image Text-Center"><img alt="KPI" src="/sustainability/sustainability_management/images/management_05.png" /></div>
    <ol>
      <li class="Caption ind2em">※1 金融安定理事会により設置された気候関連財務情報開示タスクフォース</li>
      <li class="Caption ind2em">※2 Key Performance Indicator：重要業績評価指標</li>
    </ol>
  </div>
<!-- /.Section --></div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.jp-bank.japanpost.jp/sustainability/environment/esg/investment/index.html" class="Link Popup"><span>ESG投資方針</span></a>-ゆうちょ銀行</li>
  </ul>
</div>

<div class="Section Col">
  <h3 class="Header">具体的な投資事例</h3>
  <div class="Grid-Column">
    <p>ゆうちょ銀行は、世界各国の企業が発行するグリーンボンドやソーシャルボンドに投資しており、持続可能な社会の構築に向けて、運用を通じて貢献しています。</p>
    <div class="Image Text-Center"><img alt="主な地域ファイナンス（2020年度）・主な地域活性化ファンド（2020年度）" src="/sustainability/sustainability_management/images/management_06.png" /></div>
  </div>
<!-- /.Section --></div>

<h2 id="insurance" class="Header">かんぽ生命保険</h2>
<div class="Section">
  <p>
    かんぽ生命保険は、生命保険会社としての社会的責任を果たすという観点から、持続可能な社会の実現と長期的な投資成果の向上・リスク低減を目指し、「ESG投資方針」に基づいた投資を行っています。<br />
    2020年度は自然環境保護やジェンダー平等などへの支援をテーマとする債券への投資に加え、新型コロナウイルス感染症対策を支援することを目的とした「コロナ債」へ投資するなど、ESG投資の裾野を拡大しました。<br />
    また、全運用資産を対象としてESGの諸要素を考慮するほか、「Well-being向上」「地域と社会の発展」「環境保護への貢献」というテーマを重視した、かんぽ生命保険らしい&ldquo;あたたかさ&rdquo;の感じられる投資を行っております。
  </p>
</div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.jp-life.japanpost.jp/aboutus/csr/esg/" class="Link Popup"><span>ESG投資方針</span></a>-かんぽ生命保険</li>
  </ul>
</div>

<h3 class="Header">具体的な投資事例</h3>
<div class="Section Col">
  <div class="Grid-Column">
    <p>かんぽ生命保険は、ESG投資方針に基づき以下の投資を行っています。主なテーマ型投資の事例は、以下のとおりです。</p>

    <h4><strong>主なテーマ型投資事例</strong></h4>
    <div class="sus_esg_kanpo--theme">
      <div class="sus_esg_kanpo--theme-grp">
        <div class="sus_esg_kanpo--theme-txtArea">
          <div class="sus_esg_kanpo--theme-txt">アジア太平洋地域における学校教育、職業訓練及びジェンダー平等を支援するエデュケーション・ボンドへの投資（2021年3月）</div>
          <div class="sus_esg_kanpo--theme-org">Ⓒアジア開発銀行</div>
        </div>
        <div class="sus_esg_kanpo--pic"><img src="/sustainability/sustainability_management/images/management_23.png" alt=""></div>
        <div class="sus_esg_kanpo--sdgs"><img src="/sustainability/sustainability_management/images/management_31.png" alt=""></div>
      </div>
      <div class="sus_esg_kanpo--theme-grp">
        <div class="sus_esg_kanpo--theme-txtArea">
          <div class="sus_esg_kanpo--theme-txt">人、動物、地球環境における「健康」をひとつと捉え、守っていくワンヘルス・アプローチを支援するサステナブル・ディベロップメント・ボンドへの投資（2021年3月）</div>
          <div class="sus_esg_kanpo--theme-org">©米州開発銀行</div>
        </div>
        <div class="sus_esg_kanpo--pic"><img src="/sustainability/sustainability_management/images/management_25.png" alt=""></div>
        <div class="sus_esg_kanpo--sdgs"><img src="/sustainability/sustainability_management/images/management_33.png" alt=""></div>
      </div>
      <div class="sus_esg_kanpo--theme-grp">
        <div class="sus_esg_kanpo--theme-txtArea">
          <div class="sus_esg_kanpo--theme-txt">国際的な枠組み「COVAX（コバックス）」を通じたワクチンの購入・配布を支援するサステナブル・ディベロップメント・ボンドへの投資（2021年3月）</div>
          <div class="sus_esg_kanpo--theme-org">©米州開発銀行</div>
        </div>
        <div class="sus_esg_kanpo--pic"><img src="/sustainability/sustainability_management/images/management_27.png" alt=""></div>
        <div class="sus_esg_kanpo--sdgs"><img src="/sustainability/sustainability_management/images/management_35.png" alt=""></div>
      </div>
      <div class="sus_esg_kanpo--theme-grp">
        <div class="sus_esg_kanpo--theme-txtArea">
          <div class="sus_esg_kanpo--theme-txt">グリーン・リカバリー（コロナ禍における持続可能性のある低炭素社会への移行）を支援するグリーンボンドへの投資（2021年1月）</div>
          <div class="sus_esg_kanpo--theme-org">©世界銀行</div>
        </div>
        <div class="sus_esg_kanpo--pic"><img src="/sustainability/sustainability_management/images/management_29.png" alt=""></div>
        <div class="sus_esg_kanpo--sdgs"><img src="/sustainability/sustainability_management/images/management_37.png" alt=""></div>
      </div>
      <div class="sus_esg_kanpo--theme-grp">
        <div class="sus_esg_kanpo--theme-txtArea">
          <div class="sus_esg_kanpo--theme-txt">炭素集約度の高い産業の低炭素化への移行（トランジション）を支援するグリーン・トランジション・ボンドへの投資（2021年1月）</div>
          <div class="sus_esg_kanpo--theme-org">©欧州復興開発銀行</div>
        </div>
        <div class="sus_esg_kanpo--pic"><img src="/sustainability/sustainability_management/images/management_24.png" alt=""></div>
        <div class="sus_esg_kanpo--sdgs"><img src="/sustainability/sustainability_management/images/management_32.png" alt=""></div>
      </div>
      <div class="sus_esg_kanpo--theme-grp">
        <div class="sus_esg_kanpo--theme-txtArea">
          <div class="sus_esg_kanpo--theme-txt">新型コロナウイルス感染症対策を目的としたサステナブル・ディベロップメント・ボンドへの投資（2020年5月）</div>
          <div class="sus_esg_kanpo--theme-org">Ⓒ米州開発銀行</div>
        </div>
        <div class="sus_esg_kanpo--pic"><img src="/sustainability/sustainability_management/images/management_26.png" alt=""></div>
        <div class="sus_esg_kanpo--sdgs"><img src="/sustainability/sustainability_management/images/management_34.png" alt=""></div>
      </div>
      <div class="sus_esg_kanpo--theme-grp">
        <div class="sus_esg_kanpo--theme-txtArea">
          <div class="sus_esg_kanpo--theme-txt">新型コロナウイルス感染症対策を目的としたSustainability Awareness Bond（持続可能性への認知度を高める債券）への投資（2020年5月）</div>
          <div class="sus_esg_kanpo--theme-org">Community of Madrid　Ⓒ欧州投資銀行</div>
        </div>
        <div class="sus_esg_kanpo--pic"><img src="/sustainability/sustainability_management/images/management_28.png" alt=""></div>
        <div class="sus_esg_kanpo--sdgs"><img src="/sustainability/sustainability_management/images/management_36.png" alt=""></div>
      </div>
      <div class="sus_esg_kanpo--theme-grp">
        <div class="sus_esg_kanpo--theme-txtArea">
          <div class="sus_esg_kanpo--theme-txt">太陽光発電、バイオマス発電等の再生エネルギー事業（プロジェクトファイナンス）への投資（2017年より開始）</div>
        </div>
        <div class="sus_esg_kanpo--pic"><img src="/sustainability/sustainability_management/images/management_30.png" alt=""></div>
        <div class="sus_esg_kanpo--sdgs"><img src="/sustainability/sustainability_management/images/management_38.png" alt=""></div>
      </div>
    </div>
  </div>
</div>

<div class="Section List-General">
  <ul>
  　　<li><a href="https://www.jp-life.japanpost.jp/information/press/2019/abt_prs_id001452.html" class="Link Popup"><span>「Climate Awareness Bond（気候変動への認知度を高める債券）」への投資</span></a></li>
    <li><a href="https://www.jp-life.japanpost.jp/information/press/2016/abt_prs_id001045.html" class="Link Popup"><span>世界銀行の本邦市場初となる国内外貨建て「グリーンボンド」への投資</span></a></li>
    <li><a href="https://www.jp-life.japanpost.jp/information/press/2019/abt_prs_id001503.html" class="Link Popup"><span>独立行政法人　国際協力機構（JICA）が発行する「ソーシャルボンド」への投資</span></a></li>
    <li><a href="https://www.jp-life.japanpost.jp/information/press/2020/abt_prs_id001547.html" class="Link Popup"><span>「Sustainability Awareness Bond（持続可能性への認知度を高める債券）」への投資<br>　～新型コロナウイルス感染症対策を支援～</span></a></li>
    <li><a href="https://www.jp-life.japanpost.jp/information/press/2020/abt_prs_id001551.html" class="Link Popup"><span>サステナブル・ディベロップメント・ボンドへの投資～新型コロナウイルス感染症対策を支援～</span></a></li>
    <li><a href="https://www.jp-life.japanpost.jp/information/press/2021/abt_prs_id001654.html" class="Link Popup"><span>欧州復興開発銀行が私募形式で発行するグリーン・トランジション・ボンドに日本の投資家として初めて投資<br>　～炭素集約度の高い産業の低炭素化への移行（トランジション）を支援～</span></a></li>
    <li><a href="https://www.jp-life.japanpost.jp/information/press/2021/abt_prs_id001653.html" class="Link Popup"><span>国際復興開発銀行が発行するグリーンボンドへの投資<br>　～グリーン・リカバリー（コロナ禍における持続可能性のある低炭素社会への移行）を支援～</span></a></li>
    <li><a href="https://www.jp-life.japanpost.jp/information/press/2021/abt_prs_id001687.html" class="Link Popup"><span>米州開発銀行が発行するサステナブル・ディベロップメント・ボンドへの投資<br>　～国際的な枠組み「COVAX（コバックス）」を通じたワクチンの購入・配布を支援～</span></a></li>
    <li><a href="https://www.jp-life.japanpost.jp/information/press/2021/abt_prs_id001693.html?ref=rss" class="Link Popup"><span>米州開発銀行のサステナブル・ディベロップメント・ボンドへの投資<br>　～人、動物、地球環境における「健康」をひとつと捉え、守っていくワンヘルス・アプローチを支援～</span></a></li>
    <li><a href="https://www.jp-life.japanpost.jp/information/press/2021/abt_prs_id001692.html?ref=rss" class="Link Popup"><span>アジア開発銀行が発行するエデュケーション・ボンドへの投資<br>　～アジア太平洋地域における学校教育、職業訓練及びジェンダー平等を支援～</span></a></li>
    <li><a href="https://www.jp-life.japanpost.jp/information/press/2021/abt_prs_id001716.html?ref=rss" class="Link Popup"><span>フランス国有鉄道が発行するグリーンボンドへの投資<br>　～グリーン・リカバリー（コロナ危機後の持続可能な社会の実現）を支援～</span></a></li>
  </ul>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
