<div id="title_box">
  <div id="csr_main_img_management">
    <h1>人権尊重</h1>
  </div>
</div>
<!-- /#title_box-->

<h2 id="policy" class="Header">日本郵政グループ人権方針</h2>
<div class="Section">
<p>日本郵政グループは、持続可能な社会の実現に向けて、グループの事業活動に関わるすべての人々の人権尊重が不可欠であると認識しています。<br>
そのため、2019年4月に、国連「ビジネスと人権に関する指導原則」などに基づき、「日本郵政グループ人権方針」を制定しました。日本郵政グループは、グループ全体で人権尊重の取り組みを推進してまいります。</p>
 <ul>
   <li><a class="Link" href="/sustainability/human/labor/#human_rights"><span>人権尊重に関する取り組み</span></a></li>
  </ul>
<!-- end .Section --></div>


<div class="Section Col-Border">
<div class="Grid-Column BG-Gray">
<h2 class="No-Border">日本郵政グループ人権方針</h2>
<div class="Section List-General">
<ol class="List">
<li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">1.</span><div class="MkrItem__Body">日本郵政グループ（以下「当社グループ」といいます。）は、経営理念の実現を目指す上で、人権の尊重が重要な社会的責任であるとの認識に立ち、その責任を果たすことにより、安心・安全で豊かな社会の実現に貢献してまいります。</div></li>
<li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">2.</span><div class="MkrItem__Body">当社グループは、国連グローバル・コンパクト署名企業として、事業活動を行う地域で適用される法律を遵守するとともに、人権に関しては、国際人権章典や「労働における基本的原則および権利に関する国際労働機関宣言」、国連「ビジネスと人権に関する指導原則」を尊重します。</div></li>
<li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">3.</span><div class="MkrItem__Body">本方針は、当社グループの役職員に適用されます。また、当社グループは、ステークホルダーに対しても、同様に人権の尊重を期待します。</div></li>
<li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">4.</span><div class="MkrItem__Body">当社グループは、人権を尊重し、人種、肌の色、性別、性的指向、性自認、言語、宗教、政治若しくは信条、国籍若しくは社会的出自、貧富、出生、障がい等の事由いかんを問わず差別をしません。また、間接的にも加担しないように努めます。</div></li>
<li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">5.</span><div class="MkrItem__Body">当社グループは、ハラスメントのない安全で働きやすい職場環境を確保します。また、強制労働や児童労働等の人権侵害を容認しません。</div></li>
<li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">6.</span><div class="MkrItem__Body">当社グループは、人権尊重の責任を果たすため、同和問題（部落差別）をはじめとした人権問題に対する啓発活動の推進と活性化に取り組み、認識と理解を深め、人権への負の影響の回避・低減に努めます。万が一、人権への負の影響が生じた場合には、適切に対応します。</div></li>
<li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">7.</span><div class="MkrItem__Body">当社グループは、環境・社会課題への対応を審議する日本郵政株式会社CSR委員会、グループCSR連絡会において本方針を審議し、日本郵政株式会社経営会議で協議の上、決定しています。その内容は、ビジネス環境の変化やステークホルダーとの対話等を踏まえ、随時見直していきます。</div></li>
</ol>
<!-- end .Section.List-General --></div>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
