<div id="title_box">
  <div id="csr_main_img_policy">
    <h1>サステナビリティ・マネジメント</h1>
  </div>
</div>
<!-- /#title_box-->

<h2 class="Header">サステナビリティ担当役員メッセージ</h2>
<div class="Section Col">
<div class="Grid-Column">
  <div class="Image"><img src="/sustainability/sustainability_management/images/management_01.png" alt="持続可能な社会の構築に貢献する「共創プラットフォーム」を目指して"></div>
  <p>
    日本郵政グループは、全国2万4千の郵便局、津々浦々にわたる配達ネットワーク、40万人規模の社員、お客さまからお預かりした多額の金融資産を有しています。こうしたリソースを、適切なガバナンスのもとで社会・環境面の課題の解決に役立てていくことは、企業としての社会的な責任です。また、地域社会が元気であり、子どもからお年寄りまでの多様なお客さまがそれぞれの人生を楽しめる社会であることは、当グループの存立の基盤です。<br />
    取り組みが不十分であった場合にステークホルダーの支持を失うリスクも大きくなっています。他方、こうした課題にいち早く取り組んでいくことで企業の価値向上を図ることができます。持続可能な社会の構築への貢献と、企業としての持続的な成長・発展、この2つの「サステナビリティ」を意識した経営を進めていきます。<br />
    こうした取り組みにおいては、長期的な視野で、あるべき姿を描いて、柔軟な発想で進めていくことが必要です。<br />
    当社では、昨年度、「CSR委員会」を「サステナビリティ委員会」に改組し、グループ各社を取り巻く各種経営課題を担当する役員が参加し、重要なESG課題を協議する体制を整えました。中期経営計画におけるESG目標である温室効果ガス削減の考え方や女性管理者比率向上への取組方針も、こうした体制の中で決めていったものです。今後とも、目標達成に向けた推進管理を的確に行うとともに、他の課題への対応も進めていきます。<br />
    また、当グループは、温室効果ガスを2030年度までに46%削減し、2050年にはカーボンニュートラルを実現する目標を掲げていますが、そのためには、わが国において再生可能エネルギーなどの普及が進み、カーボン排出係数の低い電力への切り替えが円滑に進むことが前提です。一方、多くのリソースを持つ日本郵政グループとして、受け身で待つのではなく、社会・経済のカーボンニュートラル化に向けた変化を後押しするような取り組みを能動的に進めていくことが求められます。例えば、郵便局にEV（電気自動車）のための充電インフラを整備して地域の企業やお客さまなどにご使用いただくほか、太陽光発電設備の設置などによって地域のカーボンニュートラル社会への転換と災害時のレジリエンスの向上を進めていくほか、ゆうちょ銀行やかんぽ生命保険の資金の一部を再生可能エネルギー分野などにも投資していきます。これらの取り組みがより大きな効果を上げるため、当グループは地域とお客さまを支える「共創プラットフォーム」として、持てるリソースを活用しながら、志を同じくする多様な主体と連携して、さまざまな課題に果敢にチャレンジしていきます。
  </p>
</div>
<!-- end .Section --></div>


<div class="Section Col2-Border1">
  <div class="Grid-Column">
  <h2 class="Header"><a href="/sustainability/sustainability_management/policy.html">方針・考え方・体制</a></h2>
  <div class="sus_index_item--box">
    <ul>
      <li><a class="Link" href="/sustainability/sustainability_management/policy.html#policy"><span>日本郵政グループサステナビリティ基本方針</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/policy.html#thinking"><span>サステナビリティ経営に対する考え方</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/policy.html#promote"><span>サステナビリティ推進体制</span></a></li>
    </ul>
  <!-- end .sus_index_item--box --></div>
  <!-- end .Grid-Column --></div>
  <div class="Grid-Column">
  <h2 class="Header"><a href="/sustainability/sustainability_management/materiality.html">日本郵政グループのCSR重点課題（マテリアリティ）</a></h2>
  <div class="sus_index_item--box">
    <ul>
      <li><a class="Link" href="/sustainability/sustainability_management/materiality.html#process"><span>CSR重点課題（マテリアリティ）特定プロセス</span></a></li>
    </ul>
  <!-- end .sus_index_item--box --></div>
  <!-- end .Grid-Column --></div>
  <div class="Grid-Column">
  <h2 class="Header"><a href="/sustainability/sustainability_management/targets.html">サステナビリティ経営の推進</a></h2>
  <div class="sus_index_item--box">
    <ul>
      <li><a class="Link" href="/sustainability/sustainability_management/targets.html#target"><span>ESG目標</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/targets.html#figure"><span>2025年度に向けて目指す姿と具体的な取り組み</span></a></li>
    </ul>
  <!-- end .sus_index_item--box --></div>
  <!-- end .Grid-Column --></div>
  <div class="Grid-Column">
  <h2 class="Header"><a href="/sustainability/sustainability_management/sdgs.html">SDGs達成に向けた取り組み</a></h2>
  <div class="sus_index_item--box">
    <ul>
      <li><a class="Link" href="/sustainability/sustainability_management/sdgs.html#initiative"><span>SDGs達成に向けた取り組み</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/sdgs.html#movie"><span>サステナブルムービー</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/sdgs.html#develop"><span>社内外への展開</span></a></li>
    </ul>
  <!-- end .sus_index_item--box --></div>
  <!-- end .Grid-Column --></div>
  <div class="Grid-Column">
  <h2 class="Header"><a href="/sustainability/sustainability_management/human_rights.html">人権尊重</a></h2>
  <div class="sus_index_item--box">
    <ul>
      <li><a class="Link" href="/sustainability/sustainability_management/human_rights.html#policy"><span>日本郵政グループ人権方針</span></a></li>
    </ul>
  <!-- end .sus_index_item--box --></div>
  <!-- end .Grid-Column --></div>
  <div class="Grid-Column">
  <h2 class="Header"><a href="/sustainability/sustainability_management/procurement.html">サプライチェーン</a></h2>
  <div class="sus_index_item--box">
    <ul>
      <li><a class="Link" href="/sustainability/sustainability_management/procurement.html#thinking"><span>日本郵政グループの調達活動に関する考え方</span></a></li>
    </ul>
  <!-- end .sus_index_item--box --></div>
  <!-- end .Grid-Column --></div>
  <div class="Grid-Column">
  <h2 class="Header"><a href="/sustainability/sustainability_management/esg_investment.html">ESG投資</a></h2>
  <div class="sus_index_item--box">
    <ul>
      <li><a class="Link" href="/sustainability/sustainability_management/esg_investment.html#bank"><span>ゆうちょ銀行</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/esg_investment.html#insurance"><span>かんぽ生命保険</span></a></li>
    </ul>
  <!-- end .sus_index_item--box --></div>
  <!-- end .Grid-Column --></div>
  <div class="Grid-Column">
  <h2 class="Header"><a href="/sustainability/sustainability_management/engagement.html">ステークホルダーエンゲージメント</a></h2>
  <div class="sus_index_item--box">
    <ul>
      <li><a class="Link" href="/sustainability/sustainability_management/engagement.html#concept"><span>日本郵政グループのステークホルダー</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/engagement.html#dialogue"><span>有識者ダイアログの実施</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/engagement.html#voice"><span>お客さまの声の経営への活用</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/engagement.html#recovery"><span>信頼回復に向けた取り組み</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/engagement.html#employee"><span>社員との意見交換会</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/engagement.html#stockholder"><span>株主・投資家との対話</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/engagement.html#thirdparty"><span>第三者意見</span></a></li>
    </ul>
  <!-- end .sus_index_item--box --></div>
  <!-- end .Grid-Column --></div>
  <div class="Grid-Column">
  <h2 class="Header"><a href="/sustainability/sustainability_management/initiative.html">イニシアチブへの参画</a></h2>
  <div class="sus_index_item--box">
    <ul>
      <li><a class="Link" href="/sustainability/sustainability_management/initiative.html#gc"><span>国連グローバル・コンパクトへの参加</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/initiative.html#upu"><span>万国郵便連合（UPU）における持続可能な開発への取り組み</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/initiative.html#tcfddisclosures"><span>TCFD提言への賛同表明</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/initiative.html#cool"><span>COOL CHOICE（クールチョイス）への賛同</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/initiative.html#okihai"><span>置き配検討会への参画</span></a></li>
      <li><a class="Link" href="/sustainability/sustainability_management/initiative.html#local"><span>地方創生SDGs官民連携プラットフォームへの参加</span></a></li>
    </ul>
  <!-- end .sus_index_item--box --></div>
  <!-- end .Grid-Column --></div>
<!-- end .Section.Col2-Border1 --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>

