<div id="title_box">
  <div id="csr_main_img_management">
    <h1>イニシアチブへの参画</h1>
  </div>
<!-- /#title_box--></div>

<h2 id="gc" class="Header">国連グローバル・コンパクトへの参加</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/sdgs/images/images_99.jpg" style="width: 240px" />
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵政は、2008年5月に国連グローバル・コンパクトに参加しました。<br>
国連グローバル・コンパクトは、1999年1月31日に開催された世界経済フォーラムにおいて、アナン国連事務総長（当時）が提唱した国際的な枠組みであり、各参加企業に対し、それぞれの影響力のある範囲内で、人権、労働、環境および腐敗防止の4分野における10の原則を実践するよう要請しています。<br>
2015年7月時点で、世界約160か国において13,000を超える団体（そのうち企業が約8,300）がこの取り組みに参加しており、各企業がそれぞれの事業を遂行する中で、これらの規範を遵守し実践することを通じて、世界に積極的な変化をもたらすことを目指しています。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="associated_info">
<dl>
  <dt>グローバル・コンパクトの10原則</dt>
  <dd>
  <div class="Section List-General">
  <h3><span>人権</span></h3>
  <ol class="List">
  <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">1.</span>
  <div class="MkrItem__Body">人権擁護の支持と尊重</div>
  </li>
  <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">2.</span>
  <div class="MkrItem__Body">人権侵害への非加担</div>
  </li>
  </ol>
  </div>
  <div class="Section List-General">
  <h3><span>労働</span></h3>
  <ol class="List">
  <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">3.</span>
  <div class="MkrItem__Body">結社の自由と団体交渉権の承認</div>
  </li>
  <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">4.</span>
  <div class="MkrItem__Body">強制労働の排除</div>
  </li>
  <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">5.</span>
  <div class="MkrItem__Body">児童労働の実効的な廃止</div>
  </li>
  <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">6.</span>
  <div class="MkrItem__Body">雇用と職業の差別撤廃</div>
  </li>
  </ol>
  </div>
  <div class="Section List-General">
  <h3><span>環境</span></h3>
  <ol class="List">
  <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">7.</span>
  <div class="MkrItem__Body">環境問題の予防的なアプローチ</div>
  </li>
  <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">8.</span>
  <div class="MkrItem__Body">環境に対する責任のイニシアチブ</div>
  </li>
  <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">9.</span>
  <div class="MkrItem__Body">環境にやさしい技術の開発と普及</div>
  </li>
  </ol>
  </div>
  <div class="Section List-General">
  <h3><span>腐敗防止</span></h3>
  <ol class="List">
  <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">10.</span>
  <div class="MkrItem__Body">強要や贈収賄を含むあらゆる形態の腐敗防止の取組み</div>
  </li>
  </ol>
  </div>
  </dd>
  </dl>
</div>
<div class="Section List-General">
  <ul>
    <li><a href="http://www.ungcjn.org/" class="Link Popup" title="別ウィンドウで表示します"><span>グローバル・コンパクト・ネットワーク・ジャパン</span></a></li>
  </ul>
<!-- end .Section --></div>

<h2 id="upu" class="Header"><span>万国郵便連合（UPU）における持続可能な開発への取り組み</span></h2>
<div class="Section">
  <p>日本が加盟する万国郵便連合（UPU）では、加盟国またはその指定された事業体（日本においては、日本郵便株式会社）は、郵便業務のすべての段階における環境、社会および経済に関する活動に焦点を当てた持続可能な開発に関する活動の戦略を採用・実行し、周知を図ることとされています。<br>日本は、郵便事業における環境、社会および経済のグローバルな課題の解決に取り組んでいるUPUに対し、積極的に貢献しています。</p>
  <div class="Section List-General">
    <ul>
      <li><a href="https://www.upu.int/en/Universal-Postal-Union/Activities/Sustainable-Development/" class="Link Popup"><span>Sustainable development</span></a>-UPU</li>
    </ul>
    <!-- end .Section.List-General -->
  </div>
  <!-- end .Section -->
</div>

<h2 id="tcfddisclosures" class="Header">TCFD提言への賛同表明</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image"><img width="300" alt="TCFDロゴマーク" src="/sustainability/environment/images/indexcc_img_05.jpg"></a></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵政、ゆうちょ銀行およびかんぽ生命保険は、金融安定理事会（以下「FSB」という）により設置された気候関連財務情報開示タスクフォース（以下「TCFD」という）の提言に賛同表明いたしました。 日本郵政グループは、日本郵政グループサステナビリティ基本方針において「気候変動による影響に適応した事業運営に努めるとともに、地球環境への負荷低減に配慮した事業活動および環境保全活動を積極的に推進します。」と宣言しています。また、日本郵政グループ中期経営計画「JP ビジョン2025」においても主要目標のひとつとして温室効果ガス排出量の削減を掲げるほか、グリーンボンドへの投資など、持続可能な社会の構築への貢献を進めています。 これらに加え、TCFDの提言を踏まえ、気候変動が各社の事業に与える影響についての分析を行いました。</p>
      <div class="Link">
        <p><a href="/sustainability/environmental_management/climate.html" class="Link">気候変動への対応</a></p>
      </div>
    </div>
  </div>
</div>

<div id="environmental_management_index">
  <h2 id="cool" class="Header">COOL CHOICE（クールチョイス）への賛同</h2>
  <div class="Section Col2 TextImageBlock Image-Left">
    <div class="Grid-Column Image">
      <div class="Image"><a href="/sustainability/environment/cool_choice.html"><img width="300" alt="クールチョイスロゴマーク" src="/sustainability/environment/images/indexcc_img_02.jpg"></a></div>
      <!-- end .Grid-Column.Image -->
    </div>
    <div class="Grid-Column Text">
      <div class="Box">
        <p>日本郵政、日本郵便、ゆうちょ銀行およびかんぽ生命保険は、「COOL CHOICE（クールチョイス）」に賛同しています。<br>「COOL CHOICE」は、CO₂などの温室効果ガスの排出量削減のために、政府（環境省）が推進する国民運動です。脱炭素社会づくりに貢献する「製品への買換え」、「サービスの利用」、「ライフスタイルの選択」など地球温暖化対策に資するあらゆる「賢い選択」をしていこうという取組です。</p>
      </div>
    </div>
  </div>
</div>

<h3 class="Header">COOL CHOICE（クールチョイス）キャンペーンへの参画</h3>
<div class="Section">
<p>日本郵便は、政府（環境省等）が主宰する「COOL CHOICEできるだけ1回で受け取りませんかキャンペーン～みんなで宅配便再配達防止に取り組むプロジェクト～」に参画しています。<br>本プロジェクトでは、政府と企業が連携・協力し、気候変動に配慮した低炭素社会の実現に向けて、宅配便事業者による再配達削減の取り組みや、宅配便を利用する国民一人ひとりへの協力の呼びかけを推進しています。<br>日本郵便では、宅配便を利用される方に配達予定日時や不在連絡をメールやSNSでお知らせする「eお届け通知」等のサービスを提供しています。
</p>
</div>

<div class="Section List-General">
<ul>
<li><a class="Link Popup" href="https://ondankataisaku.env.go.jp/coolchoice/index.html" target="_blank"><span>COOL CHOICE（クールチョイス）- 環境省</span></a></li>
<li><a href="/sustainability/pdf/cool_choice.pdf" title="PDFファイルを表示します" class="Link PDF"><span>COOL CHOICE賛同証明書</span></a>［PDF：101kバイト］</li>
</ul>
<!-- end .Section.List-General --></div>

<div class="associated_info">
  <dl>
    <dt>グループ各社の取り組み</dt>
    <dd><a href="http://www.post.japanpost.jp/notification/pressrelease/2017/00_honsha/0329_01.html" class="Link Popup" target="_blank"><span>「郵便局、コンビニ、『はこぽす』で受け取ろうキャンペーン」の実施</span></a>-日本郵便</dd>
    <dd><a href="https://www.post.japanpost.jp/service/hakopost/" class="Link Popup" target="_blank"><span>はこぽす</span></a>-日本郵便</dd>
  </dl>
</div>

<h2 id="okihai" class="Header">置き配検討会への参画</h2>
<div class="Section">
<p>日本郵便は、政府（国土交通省・経済産業省）が主宰する「置き配検討会」に参画しています。本検討会は、気候変動の緩和に向けた再配達およびCO₂排出量の削減、ドライバー不足や長時間労働の問題解決等を目的に設置されました。日本郵便では、宅配ボックス等での受け取りに加え、2019年3月から「指定場所配達サービス」として、玄関前やメーターボックス等への荷物の配達を実施しており、環境省発行の「令和2年度版環境白書」において、その概要、効果が紹介されました。</p>
<div class="Link">
  <p><a href="http://www.env.go.jp/policy/hakusyo/r02/pdf.html" class="Link Popup"><span>環境・循環型社会・生物多様性白書 - 環境省</span></a></p>
</div>
</div>

<h2 id="local" class="Header">地方創生SDGs官民連携プラットフォームへの参加</h2>
<div class="Section List-General">
  <p>日本郵政、日本郵便及びゆうちょ銀行は、内閣府（地方創生推進事務局）が取り組んでいる「地方創生SDGs官民連携プラットフォーム」に参加しています。多様なステークホルダーとのパートナーシップを深めながら、SDGsの達成に向けた取り組み等を通じて、より一層の地方創生の推進に取り組んでまいります。</p>
  <ul>
    <li><a href="http://www.future-city.go.jp/platform/" class="Link Popup"><span>地方創生SDGs官民連携プラットフォーム - 内閣府</span></a></li>
  </ul>
  <!-- end .Section -->
</div>



<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
