<div id="title_box">
  <div id="csr_main_img_policy">
    <h1>日本郵政グループのCSR重点課題（マテリアリティ）</h1>
  </div>
</div>

<div class="Section">
<p>
  日本郵政グループは、「日本郵政グループCSR基本方針」のもと、持続可能な社会・未来の創造に貢献していくために、日本郵政グループにとっての重要性とステークホルダーの期待・要請などの社会の視点の両面から分析を行い、グループとして取り組むべきCSR重点課題（マテリアリティ）を特定しました。<br />
  公平、透明かつ健全な経営を堅持することはもとより、郵便局ネットワークおよび従業員を通じて、地域社会の重要なインフラとしての役目を誠実に果たすとともに、「地域社会」「地球環境」「人」の3つをCSRの主要テーマに掲げ、事業活動を通じて、グループ一体となって取り組みます。
</p>
<!-- end .Section --></div>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center sp_none"><img width="800" alt="" src="/sustainability/images/materiality_img_01.png"></div>
<div class="Image Text-Center pc_none"><img width="800" alt="" src="/sustainability/images/materiality_sp_img_03.png"></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<h2 id="process" class="Header break"><span>CSR重点課題（マテリアリティ）特定プロセス</span></h2>
<div class="Section">
<p>CSR重点課題（マテリアリティ）は、以下のプロセスで決定しました。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center sp_none"><img width="800" alt="" src="/sustainability/images/materiality_img_02.jpg"></div>
<div class="Image Text-Center pc_none"><img width="800" alt="" src="/sustainability/images/materiality_sp_img_02.jpg"></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>