<div id="title_box">
  <div id="csr_main_img_position">
    <h1>過去の有識者ダイアログ</h1>
  </div>
</div>
<!-- /#title_box-->

<h2 class="Header">2020年度の有識者ダイアログ（2020年9月1日）</h2>
<div class="Section">
  <img alt="" src="/sustainability/images/engagement_img_2020.jpg" style="max-width: 100%;" />
<!-- /.Section --></div>

<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image" >
    <img alt="" src="/sustainability/images/engagement_img_07.jpg" style="display: block;" />
    <p class="Caption" style="font-size: 100%;"><b>ファシリテーター<br>CSRアジア 日本代表<br>赤羽 真紀子氏</b></p>
  <!-- / .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>2020年9月1日、有識者ダイアログを開催いたしました。3名の有識者の方々から、当社グループの主な取り組みに対する評価や、今後の課題、当社グループへの期待・要請などについて、さまざまなご意見・ご提言をいただきました。</p>
      <p>注 新型コロナウイルス感染症拡大防止の観点から、オンラインにて実施いたしました。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header">有識者コメント</h3>
<div class="Section Col2 TextImageBlock Image-Left">
  <div class="Grid-Column Image">
    <div class="Image">
      <img alt="" src="/sustainability/images/engagement_img_04.jpg" />
      <p class="Caption"><strong>日本サステナブル投資フォーラム<br>会長<br>荒井 勝 氏</strong></p>
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>まず、かんぽ商品の募集に係る問題の原因分析と取り組みについて、統合報告書でかなりのページ数を割いて報告されていることを評価したいと思います。お客さまの声の活用や社員の教育など、きちんと取り組んでいただき、今後それを具体的に開示していくことが重要です。<br>今後、日本企業の取締役の在り方やガバナンスは欧米流に変わっていくと思われます。欧米では社外取締役は執行役に対する監督を担っており、海外の投資家から日本の会社に対しては、業務の執行と監督をしっかりと分けるべきという意見が強まっています。日本のコーポレートガバナンスコードも、これを踏まえて改定されていくと思いますので、日本郵政グループも将来に向けたガバナンスの在り方を検討されるべきだと思います。<br>またESG関連の外部評価機関への対応は、今後もかなりの努力が必要です。取り組むことはもちろん、開示しなければ評価されないことを十分に意識してください。<br>最後に、地域と密着型の事業は他の金融機関にはできないことです。日本郵政グループの強みを活かした取り組みをどんどん進めていただきたいと思います。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<div class="Section Col2 TextImageBlock Image-Left">
  <div class="Grid-Column Image">
    <div class="Image">
      <img alt="" src="/sustainability/images/engagement_img_03.jpg" />
      <p class="Caption"><strong>明治大学経営学部<br>特任教授<br>関 正雄 氏</strong></p>
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵政グループは既に人権や調達に関する方針を示していますが、今後はもう一歩進んでPDCAサイクルを回す仕組みを定着させることが必要です。ビジネスと人権について、方針に基づいて具体的な取り組み・目標を決め、人権侵害が起こらぬようマネジメントし、開示していただきたいと思います。<br>調達についても同様です。事業規模からみても、膨大なサプライチェーンを持っているので、その中での環境や社会への配慮は非常に大きなインパクトを持ちます。ぜひ同じようにPDCAサイクルを回して具体的に取り組んでいただき、結果を透明性高く開示していただきたいと思います。<br>TCFD対応については、これからの社会がどのように変化するのか、何が必要なのか等のシナリオを超長期的に描いたうえで、自社の競争力につながる意欲的な目標、戦略を打ち出してください。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<div class="Section Col2 TextImageBlock Image-Left">
  <div class="Grid-Column Image">
    <div class="Image">
      <img alt="" src="/sustainability/images/engagement_img_05.jpg" />
      <p class="Caption"><strong>サステナビリティ消費者会議<br>代表<br>古谷 由紀子 氏</strong></p>
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>企業理念や行動憲章を社内で浸透させていくうえでは、社員の個々の業務に結びつけて実践できる形で取り組んでいただきたいですね。<br>「お客さま本位」は抽象的な概念ですので、基準化・仕組みなど具体化して、経営に活かしていただきたいと思います。今回の「消費生活相談員によるかんぽ生命保険等電話相談窓口」をきっかけに、声を聞くだけでなく、消費者・お客さまの実態に目を向け、企業として何をすることが「お客さま本位」になるのかを社内で議論し、具体化につなげてほしいと思います。<br>また、多彩な内容を取り組まれていますが、「消費者の安全・安心」の位置づけが弱いと思います。本来の業務の根幹となる部分であるため、企業価値の向上という場合には業務の中にしっかり位置づけ、明示することが重要です。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<h3 class="Header">有識者コメントを受けて</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image">
      <img alt="" src="/sustainability/images/engagement_img_06.jpg" style="display: block; width: 160px;" />
      <p class="Caption"><strong>日本郵政株式会社<br>常務執行役<br>木下 範子</strong></p>
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>昨年のダイアログを振り返りますと、ガバナンス体制、教育、消費者の安全、ステークホルダーとの対話など、非常に重要なご提言をいただいたと改めて感じます。<br>今回も、ビジネスと人権、調達、消費者の安全・安心、ガバナンス体制など、注力・改善すべき点を多数ご指摘いただきました。これまで、考え方・方針を示してきたことや、既に取り組んでいる内容も含めて、もう一歩踏みこんでしっかり検討していかなければならないと意を新たにしております。<br>特にお客さまをはじめとするステークホルダーの声の経営への活用は、今後、私たちの姿勢、そして実効性がますます問われることになると思います。<br>今回いただいたご意見・ご提言も踏まえながら、信頼回復に向けた業務運営を推進してまいります。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>


<h2 class="Header">2019年度の有識者ダイアログ(2019年8月20日)</h2>
<div class="Section">
  <img alt="" src="/sustainability/images/engagement_img_08.jpg" style="max-width: 100%;" />
<!-- /.Section --></div>

<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image" >
    <img alt="" src="/sustainability/images/engagement_img_07.jpg" style="display: block;" />
    <p class="Caption" style="font-size: 100%;"><b>ファシリテーター<br>CSRアジア 日本代表<br>赤羽 真紀子氏</b></p>
  <!-- / .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>2019年8月20日、3名の有識者をお招きし、有識者ダイアログを開催しました。<br>昨年のダイアログで頂戴したご助言を踏まえて当社グループが実践した主な取り組みや、日本郵政グループに求められていること、今後目指すべき姿などについて、さまざまなご意見・ご提言をいただきました。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header">有識者コメント</h3>
<div class="Section Col2 TextImageBlock Image-Left">
  <div class="Grid-Column Image">
    <div class="Image">
      <img alt="" src="/sustainability/images/engagement_img_03.jpg" />
      <p class="Caption"><strong>明治大学経営学部<br>特任教授<br>関 正雄 氏</strong></p>
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>もはや気候変動に関しては、非常事態であるという認識を持たなければいけません。温室効果ガス削減目標について日本政府の削減水準を基準にするのではなく、自社でもっと高い目標を掲げるべきです。そして電気自動車（EV）の導入で日本をリードするとともに、ドローンの活用や自動運転など、新技術導入にもぜひ本腰を入れていただきたいですね。また、この度のかんぽ生命の契約の乗換等に係る事案は、もう一度日本郵政グループという企業の存在意義や社会的責任について考え直すチャンスでもあると思います。ボトムアップで現場の人たちの意見を吸い上げ、全員で議論することをお勧めします。そして幅広いステークホルダーと対話し、それを文化として根付かせることができれば、会社を変えるきっかけとなるはずです。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<div class="Section Col2 TextImageBlock Image-Left">
  <div class="Grid-Column Image">
    <div class="Image">
      <img alt="" src="/sustainability/images/engagement_img_04.jpg" />
      <p class="Caption"><strong>日本サステナブル投資フォーラム<br>会長<br>荒井 勝 氏</strong></p>
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>昨年課題として指摘した点も含めて、対応状況はかなり進んでいますね。しかし、近年では、気候変動は中長期的に見れば企業にとっての財務リスクにもつながると考えられていますから、その点が経営の判断や経営方針へ組み込まれていないと大きなマイナスとなります。また、日本の金融教育にはSDGsやESGが絡められておらず、自身の事業でリターンを得ながら世の中の役に立つサービスや製品を生み出す資金の流れを作るのが金融の本質であるという点が抜け落ちています。ゆうちょ銀行には、従業員に対する教育も含め、率先してそういった金融教育に取り組んでいただきたいと思います。かんぽ生命の契約の乗換等に係る事案については、取締役会の監督機能をさらに強化していく必要性がありますね。来年の報告書では、取締役会の在り方やチェック体制がどのように変化したのか、どのような対応をとったのかについて詳細に報告すべきでしょう。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<div class="Section Col2 TextImageBlock Image-Left">
  <div class="Grid-Column Image">
    <div class="Image">
      <img alt="" src="/sustainability/images/engagement_img_05.jpg" />
      <p class="Caption"><strong>サステナビリティ消費者会議<br>代表<br>古谷 由紀子 氏</strong></p>
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>人権方針や調達ガイドラインを策定されるなど着々と取り組まれているのは素晴らしいと思います。さらに日本郵政グループのバリューチェーンの中にどのような課題があるのかを具体的に示すとよいでしょう。また、公正な取引や消費者の安全はSDGsの目標に掲げられてはいませんが、持続可能な社会づくりの基本ともいえます。今回のかんぽ生命の契約の乗換等に係る事案を受けて、こうした基本的な課題についてしっかり押さえていく必要があるのではないでしょうか。持続可能な社会に向けて企業が何に取り組むべきかについては、組織の社会的責任に関する国際規格ISO26000を参考にされるとよいでしょう。加えて従業員にこそESD（※注）が必要だと考えます。経済や金融分野のESDとして、ぜひ従業員そして消費者への金融教育を推進していただきたいですね。</p>
      <p>※注 ESD<br>Education for Sustainable Development（持続可能な開発のための教育）。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<h3 class="Header">有識者コメントを受けて</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image">
      <img alt="" src="/sustainability/images/engagement_img_06.jpg" style="display: block; width: 160px;" />
      <p class="Caption"><strong>日本郵政株式会社<br>常務執行役<br>木下 範子</strong></p>
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>これまで取り組んできた部分をしっかりとブラッシュアップして、次のフェーズへ踏み込んでいく必要があるのだと身が引き締まる思いです。特に環境問題に対する取り組みを加速しなければならないという思いを強くしました。世の中の動きをしっかりと捉え、各種のリスクや社会課題を経営・戦略に結びつけながら、そしてお客さまからの信頼が事業にとって最も重要であるということをもう一度胸に刻みながら、CSRに取り組んでまいりたいと思います。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>


<h2 class="Header">2018年度の有識者ダイアログ(2018年8月28日実施)</h2>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="" src="/sustainability/images/engagement_img_02.jpg" style="width: 300px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>2018年8月28日、3名の有識者をお招きし、有識者ダイアログを開催しました。<br>昨年のダイアログで頂戴したご助言を踏まえ、当社グループが実践した主な取り組みについて、また今後目指すべき姿について、様々なご意見・ご提言をいただきました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header">有識者コメント</h3>
<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/images/engagement_img_03.jpg" style="width: 200px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p><strong>明治大学経営学部 特任教授　関 正雄 氏</strong><br>
近年、過去を振り返っての実績の開示に加えて、将来に対してどのような戦略を描いているのかが問われるようになっています。バックキャスティング（注1）による戦略と、そのリスクと機会の開示も心掛けることが大切です。また、「人」については、グループ内だけでなく、事業活動にかかわるすべての人の人権まで視野を広げる必要があると思います。規模の大きい日本郵政グループは社会的なインパクトも大きい。ぜひ他社が見習うモデルになっていただきたいですね。</p>
<p>注1　バックキャスティング<br>
未来のある時点に目標を設定し、そこから振り返って現在すべきことを考える方法</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/images/engagement_img_04.jpg" style="width: 200px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p><strong>日本サステナブル投資フォーラム 会長　荒井 勝 氏</strong><br>
新たなCSR基本方針が分かりやすくなった半面、投資家にとって重要な要素である生産性向上、企業価値創造、適時適切な開示の推進、コンプライアンスおよび内部統制の確保について明言されていないのが気になります。また、環境の負荷低減については、CDP（注2）がグローバルスタンダードとなっていますので、投資家の期待を満たすためにも、CDPの質問に回答なさることをおすすめします。</p>
<p>注2　CDP<br>
気候変動等に関する情報開示を企業に要請し、その調査結果を報告しているイギリスのNPO</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/images/engagement_img_05.jpg" style="width: 200px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p><strong>サスティナビリティ消費者会議 代表　古谷 由紀子 氏</strong><br>
社会課題に対する認識と取り組みとを連動した見せ方にする必要があります。例えば、正社員・非正規社員数など雇用データを開示されていますが、人権や格差という問題を踏まえてこそ、このデータは生きるわけです。自社グループが社会・環境に与えるプラス／マイナス両面の影響とともに、目指す社会に向けて何をしなければいけないのかという視点が重要です。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<h3 class="Header">有識者コメントを受けて</h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/images/engagement_img_06.jpg" style="width: 160px" />
<p class="Caption Text-Right">日本郵政株式会社<br>執行役<br>木下 範子</p>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>前回のダイアログで頂戴したアドバイスを踏まえ、昨年は「CSR基本方針の見直し」「重点課題の設定」「情報開示の拡充」を進めてまいりましたが、まだまだ多くの課題があることを痛感しております。ステークホルダーの皆さまとの対話を重ねながら、当社グループならではのCSRをより一層ブラッシュアップしてまいります。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 class="Header">2017年度の有識者ダイアログ(2017年8月30日実施)</h2>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="" src="/sustainability/images/dialog_img_201701.jpg" style="width: 300px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>2017年8月30日、3名の有識者をお招きし、有識者ダイアログ（有識者懇談会）を開催しました。<br>有識者の方々からは、日本郵政グループのCSRが目指すべき方向性や改善すべき課題などを中心に、当グループの経営環境を取り巻く国内外の変化や、ステークホルダーの視点など、幅広い見地からご意見をいただきました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header">有識者コメント</h3>
<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/images/dialog_img_201702.jpg" style="width: 200px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p><strong>明治大学経営学部 特任准教授　関 正雄 氏</strong><br>
今、世界中の企業が「SDGs（持続可能な開発目標）」に取り組んでおり、日本郵政グループもまた、SDGsを経営に組み込んだ、持続可能な社会に向けた取り組みが求められています。日本郵政グループほど大規模で影響力のある組織は、それだけ求められる社会的責任のレベルや、ステークホルダーからの期待も大きくなります。例えば、2017年には持続可能な調達に関する企画、「ISO20400」も発行されました。ぜひ環境や社会に配慮した調達にも、率先して取り組んでほしいと思います。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/images/dialog_img_201703.jpg" style="width: 200px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p><strong>日本サステナブル投資フォーラム 会長　荒井 勝 氏</strong><br>
一般的にこれまで日本企業のCSRには投資家視点が欠けていましたが、近年、日本でも公的年金基金（GPIF）の国連責任投資原則への署名後、ESG投資の取り組みが急速に進んでいます。日本郵政グループも投資家視点を意識した取り組みを推進し、例えば環境関連でいえばCDPの質問書への回答などをされるとよいと思います。また、情報開示はデータの積み上げが大事なので、今後5年間のデータ推移を開示できるとよいかと思います。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/images/dialog_img_201704.jpg" style="width: 200px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p><strong>サスティナビリティ消費者会議 代表　古谷 由紀子 氏</strong><br>
日本郵政グループが、地域などにおける社会課題をどのように認識し、その解決に向けてどのように取り組むか、ステークホルダーに対して何を行うかを明示することが必要だと思います。また、情報の開示においては、自社に都合の良いデータばかりを開示するのではなく、率直に、自社に都合の悪いデータも含めて開示していくことが、ステークホルダーからの信頼の獲得につながります。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Left --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
