<div id="title_box">
  <div id="csr_main_img_policy">
    <h1>方針・考え方・体制</h1>
  </div>
</div>
<!-- /#title_box-->

<h2 id="policy" class="Header">日本郵政グループサステナビリティ基本方針</h2>
<div class="Section Col-Border">
<p>日本郵政グループは、グループ経営理念の実現を図るため、「日本郵政グループサステナビリティ基本方針」を定め推進しています。</p>
<div class="Grid-Column BG-Gray">
<h3 class="Header"><span>日本郵政グループサステナビリティ基本方針</span></h3>
<p>私たち日本郵政グループは、お客さまと地域を支える「共創プラットフォーム」を目指し、当グループの事業活動を通じてサステナビリティを巡る社会課題の解決に貢献することにより、グループの持続可能な成長と中長期的な企業価値の向上に努めます。</p>
<p>私たちは、公正、透明かつ健全な経営を堅持することはもとより、郵便局ネットワーク及び従業員を通じて、地域社会の重要なインフラとしての役目を誠実に果たすことで、安心・安全で豊かな社会の実現に貢献します。</p>
<p>私たちは、郵便・貯金・保険のユニバーサルサービスをはじめとするあらゆる事業活動を通じて、以下の各号にグループ一体となって取り組んでまいります。</p>

<h2 class="No-Border">1．地域社会と共に</h2>
<div class="Section List-General">
<ol class="List">
<li class="MkrItem MkrItem--TxtMkr">
<div class="MkrItem__Body">私たちは、ステークホルダーとのコミュニケーションを通じて、地域社会における課題や要請を理解し、お客さまや地域の信頼と期待に応える最良のサービスを提供することで、地域社会との持続的な共生に努めます。</div></li>
</ol>
<!-- end .Section.List-General --></div>

<h2 class="No-Border">2．地球と共に</h2>
<div class="Section List-General">
<ol class="List">
<li class="MkrItem MkrItem--TxtMkr">
<div class="MkrItem__Body">私たちは、気候変動による影響に適応した事業運営に努めるとともに、国内外のカーボンニュートラルの促進に貢献するほか、地球環境への負荷低減に配慮した事業活動及び環境保全活動を積極的に推進します。</div></li>
</ol>
<!-- end .Section.List-General --></div>

<h2 class="No-Border">3．人と共に</h2>
<div class="Section List-General">
<ol class="List">
<li class="MkrItem MkrItem--TxtMkr">
<div class="MkrItem__Body">私たちは、グループの事業活動に関わるすべての人々の人権を尊重するとともに、安全で働きやすい職場環境の確保に努めるほか、ダイバーシティの推進などを通じて、グループの持続可能な成長の源である個々の従業員の自主性や創造性を発揮できる豊かな職場づくりを目指します。</div></li>
</ol>
<!-- end .Section.List-General --></div>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border --></div>

<h2 id="thinking" class="Header">サステナビリティ経営に対する考え方</h2>
<div class="Section">
  <p>
    日本郵政グループは、「サステナビリティ経営」の推進によって、日本郵政グループの経営理念の実現を図り、当グループを取り巻く事業環境や社会課題が当グループの経営に与える影響を中長期的視点で捉えながら、当グループの持続的成長と持続可能な社会の実現に寄与していきます。<br />
    「JP ビジョン2025」において、「人生100年時代の『一生』を支え、日本全国の『地域社会』の発展・活性化に貢献し、持続可能な社会の構築を目指すこと」をESG目標として設定し、サステナビリティ経営を推進していくこととしています。
  </p>
</div>

<h2 id="promote" class="Header">サステナビリティ推進体制</h2>
<div class="Section Col">
<div class="Grid-Column">
<p>
  日本郵政株式会社では、ESG・サステナビリティの概念を組み込んだ経営戦略やガバナンス体制、気候変動リスク等が経営に与える財務分析など、より経営の中核に踏み込んだ検討を進める必要があることから、2021年1月、経営会議の諮問機関である「日本郵政株式会社CSR委員会」を、経営企画部を担当する執行役を委員長とする「日本郵政株式会社サステナビリティ委員会」に改組するとともに、その事務局として、「サステナビリティ推進室」を設置しました。<br />
  また、当グループ全体でのサステナビリティ推進体制を強化するため、グループ各社の経営企画部を担当する執行役を委員とする「日本郵政グループサステナビリティ連絡会」を開催し、グループ一体となってサステナビリティ経営を推進していくことを目指しています。<br />
  今回の当グループの新たな中期経営計画「JP ビジョン2025」においても、こうした仕組みの中で、ESG経営に関して、カーボンニュートラルの実現、女性管理者比率の向上やESG投資の推進などについて議論し、その内容を計画に盛り込んだところです。今後とも、グループサステナビリティ経営に関する長期戦略の策定等について審議し、委員会の重要な審議内容については、経営会議、さらには取締役会へ上程・報告していくこととしています。<br />
  さらに、当グループのESGに関する取り組みの充実に加え、当社サステナビリティ推進室とグループ各社の担当部署が連携し、ESG評価機関が求める情報開示に的確に対応していくほか、当グループの取り組みについてのわかりやすい情報提供やステークホルダーとの対話の推進にも努めていきます。
</p>
<div class="Image Text-Center"><img alt="サステナビリティ推進体制" src="/sustainability/sustainability_management/images/management_02.png" /></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
