<div id="title_box">
  <div id="csr_main_img_report">
    <h1>サプライチェーン</h1>
  </div>
</div>

<h2 id="thinking" class="Header">日本郵政グループの調達活動に関する考え方</h2>
<div class="Section">
<p class="Category Lead">日本郵政グループは、社会の重要なインフラである郵便局ネットワークを基盤に事業を営む企業グループとして、社会で起きている課題は私たちにとっての課題でもあると認識し、サプライチェーンを含む事業活動全体で持続可能な社会の実現に貢献してまいります。<br>ビジネスパートナーであるサプライヤーにも、日本郵政グループのCSR調達に関する価値観や目標を理解いただくため、「日本郵政グループの調達活動に関する考え方」において国連グローバル・コンパクトに定める4分野（人権・労働・環境・腐敗防止）10原則を遵守した調達に関する基本方針を示すとともに、「日本郵政グループCSR調達ガイドライン」で具体的な要請事項を示し、積極的な協力をお願いしています。</p>

<div class="Section List-General">
<ul>
<ul>
<li><a class="Link Popup" href="/procurement/index03.html"><span>日本郵政グループの調達に関する考え方</span></a></li>
<li><a class="Link PDF Popup" title="PDFファイルを表示します" href="/procurement/pdf/procurement_guideline.pdf"><span>日本郵政グループCSR調達ガイドライン</span></a>［PDF：308kバイト］</li>
</ul>
<!-- end .Section.List-Horizontal -->
</div>
<!-- end .Section -->
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>