<div id="title_box">
  <div id="csr_main_img_sdgs">
    <h1>SDGs達成に向けた取り組み</h1>
  </div>
</div>
<!-- /#title_box-->

<h2 id="initiative" class="Header">SDGs達成に向けた取り組み</h2>
<div class="Section">
  <p>SDGs（持続可能な開発目標）は、2015年9月に「貧困に終止符を打ち、持続可能な未来を追求する」ことを掲げて国連総会で採択された世界共通の目標です。2030年までに地球規模の課題を解決するべく、17の目標と、それらを達成するための具体的な169のターゲットが示されています。</p>
  <p>日本郵政グループは、「日本郵政グループサステナビリティ基本方針」で掲げる主要テーマである 「地域社会」「地球環境」「人」の3分野において、「CSR重点課題（マテリアリティ）」を選定し、SDGsの各目標と連動した活動を推進しています。さらに、経営戦略とSDGsへの取り組みの統合を図るべく、2021年5月に発表したグループ中期経営計画「JP ビジョン2025　～ お客さまと地域を支える「共創プラットフォーム」を目指して ～」において、SDGsを経営戦略の枠組みに取り入れています。</p>
<!-- end .Section --></div>

<div class="Section Col">
  <div class="Grid-Column">
    <div class="Image Text-Center"><img alt="SDGs全アイコン" src="/sustainability/sustainability_management/images/management_08.jpg" /><!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>
</div>


<div id="sdgs">
<section class="sdgs_01_bk mb40">
<div class="pc_p60 pc_pb20 sp_pt40 sp_pr20 sp_pl20">
  <div class="mb20"><h2><img src="/sustainability/sdgs/images/sdgs_01_2_title.png" alt="SDGs達成に向けた取り組み"></h2></div>
  <div><p>日本郵政グループと社会の持続可能性との関係やグループが事業を通じてSDGsに取り組む意義、具体的な取り組み事例などを詳しく紹介しています。</p></div>
</div>

<div class="sdgs_01_btn_wrap sp_pt40">
  <a href="/sustainability/sustainability_management/sdgs/">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_yusei.png" alt="日本郵政グループのご紹介[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_yusei_sp.png" alt="日本郵政グループのご紹介[SP画像]" class="pcnone">
  </a>
  <a href="/sustainability/sustainability_management/sdgs/sdgsbook_value.html">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_value.png" alt="価値創造プロセス[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_value_sp.png" alt="価値創造プロセス[SP画像]" class="pcnone">
  </a>
  <a href="/sustainability/sustainability_management/sdgs/sdgsbook_goal.html">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_sdgs.png" alt="日本郵政グループとSDGs[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_sdgs_sp.png" alt="日本郵政グループとSDGs[SP画像]" class="pcnone">
  </a>
  <a href="/sustainability/sustainability_management/sdgs/society.html">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_social.png" alt="日本郵政グループの取り組み紹介・社会[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_social_sp.png" alt="日本郵政グループの取り組み紹介・社会[SP画像]" class="pcnone">
  </a>
  <a href="/sustainability/sustainability_management/sdgs/environment.html">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_environment.png" alt="日本郵政グループの取り組み紹介・環境[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_environment_sp.png" alt="日本郵政グループの取り組み紹介・環境[SP画像]" class="pcnone">
  </a>
  <a href="/sustainability/sustainability_management/sdgs/employee.html">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_people.png" alt="日本郵政グループの取り組み紹介・人[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_people_sp.png" alt="日本郵政グループの取り組み紹介・人[SP画像]" class="pcnone">
  </a>
  <a href="/sustainability/sustainability_management/sdgs/action_post.html">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_action.png" alt="チームJPわたしたちのSDGsアクション[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_action_sp.png" alt="チームJPわたしたちのSDGsアクション[SP画像]" class="pcnone">
  </a>
  <a href="/sustainability/sustainability_management/sdgs/extra.html">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_extra.png" alt="日本郵政グループ×SDGs[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_extra_sp.png" alt="日本郵政グループ×SDGs[SP画像]" class="pcnone">
  </a>
</div>

<div class="navigationArea">
  <div class="navi_noCol"></div>
  <div class="navi_comment_top"><p>SDGsBookの一部をご紹介します！</p></div>
  <div class="nextLink next"><a href="/sustainability/sustainability_management/sdgs/" class="yusei">日本郵政グループのご紹介</a></div>
</div>
</section>
<!-- /#sdgs_index --></div>

<h2 id="movie" class="Header">サステナブルムービー</h2>
<div class="Section">
  <link href="/cmn/css/colorbox.css" rel="stylesheet">
<script src="/cmn/js/jquery.colorbox-min.js"></script>

<h4 class="ttl_h4">日本郵政グループとSDGs</h4>
<div class="utile_box">
  <div class="utile_img">
    <div class="HomeMovie"><a class="iframe_movie" href="/sustainability/library/movie/MTQz.html" title="日本郵政グループとSDGs">
      <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00002/08c62350adf74e6b8bd78310ee128b7e_25.00005.jpg" alt="日本郵政グループとSDGs"></a></div>
    <div class="SmartPhoneMovie">
      <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
      <script type="text/javascript">
          jstream_t3.PlayerFactoryOBJ.create({
          b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
          c:"MTI1OA==",
          m:"MTQz",
          s:{
              el:"off",
              fs:"on",
              hp:180,
              il:"off",
              rb:"off",
              sn:"f,t,l",
              tg:"off",
              wp:320
          }
      });
      </script>
    </div>
  </div>
  <div class="utile_txt">
    <p>日本郵政グループは、事業を通じてSDGsの掲げる目標の達成に向けて取り組むことで、世界が抱える課題の解決を目指し、持続可能な社会の実現に貢献していきます。</p>
    <dl>
      <dt>動画ページはこちら</dt>
      <dd><a class="Link" href="/sustainability/library/movie/2020_001.html"><span>Vol.1</span></a></dd>
    </dl>
  </div>
</div>
<div class="utile_box">
  <div class="utile_img">
    <div class="HomeMovie"><a class="iframe_movie" href="/sustainability/library/movie/MTUx.html" title="日本郵政グループとSDGs">
      <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00002/3abd28f7c49949ba976e24aeebe3d91e_25_29.jpg" alt="日本郵政グループとSDGs"></a></div>
    <div class="SmartPhoneMovie">
<script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/if.js"></script>
<script type="text/javascript">
           jstream_t3.PlayerFactoryIF.create({
           b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
           c:"MTI1OA==",
           m:"MTUx",
           s:{
              el:"off",
              fs:"on",
              hp:180,
              il:"off",
              rb:"off",
              sn:"f,t,l",
              tg:"off",
              wp:320
           }});
</script>
    </div>
  </div>
  <div class="utile_txt">
    <p>日本郵政グループのサステナビリティ活動について、具体的な取り組みを紹介します。</p>
    <dl>
      <dt>動画ページはこちら</dt>
      <dd><a class="Link" href="/sustainability/library/movie/2020_002.html"><span>Vol.2</span></a></dd>
    </dl>
  </div>
</div>

<h4 class="ttl_h4">日本郵政グループとSDGs（英語版）</h4>
<div class="utile_box">
  <div class="utile_img">
    <div class="HomeMovie"><a class="iframe_movie" href="/en/csr/movie/sustainable_movie.html" title="日本郵政グループとSDGs（英語版）">
      <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00002/3f582b2f90954f4e8a541f4247750086_25_11.jpg" alt="日本郵政グループとSDGs（英語版）"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"MTkx",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>
    </div>
  <div class="utile_txt">
    <p>日本郵政グループのSDGsの取り組みを英語で紹介します。</p>
    <dl>
      <dt>動画ページはこちら</dt>
      <dd><a class="Link" href="/en/csr/movie/"><span>日本郵政グループとSDGs（英語版）</span></a></dd>
    </dl>
  </div>
</div>
<!-- /.Section --></div>

<h2 id="develop" class="Header break">社内外への展開</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image"><img src="/sustainability/images/index_img_sdgsbook2020.png" alt="（画像）日本郵政グループ SDGs Book" width="160" style="max-width: 100%;" /></div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>SDGsに関する従業員の理解浸透を図るため、グループ全従業員に配布する社内報において、日本郵政グループと社会の持続可能性との関係やグループが事業を通じてSDGsに取り組む意義、具体的な取り組み事例などを詳しく紹介しています。<br>また、株主や投資家の皆さまにSDGsや当グループの取り組みに対するご理解を深めていただくため、「日本郵政グループ 統合報告書」を発行しているほか、小冊子『SDGs Book』を発行し、郵便局等にご来店されるお客さま等にも積極的に情報発信を行っています。</p>
      <div class="Section List-General">
        <ul>
          <li><a href="/sustainability/sdgs/pdf/sdgsbook2020.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ SDGs BooK</span></a>［PDF：7,724kバイト］</li>
          <li><a class="Link" href="/sustainability/sustainability_management/sdgs/">SDGs Bookのページ</a></li>
          <li><a class="Link" href="/ir/library/disclosure/">統合報告書・ディスクロージャー誌</a></li>
        </ul>
      <!-- end .Section.List-General --></div>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<hr class="demarcation">
<div class="utile_box">
  <div class="utile_img">
    <p><img src="/sustainability/images/sdgs_img_02.jpg" alt="外務省SDGsロゴ" style="max-width: calc(100% - 2px);" /></p>
  </div>
  <div class="utile_txt">
    <p>日本郵政グループのSDGs達成に向けた取り組みは、外務省のWebサイトで「オールジャパンとしてのSDGs達成に向けた取り組み」のひとつとして紹介されています。</p>
    <dl>
      <dd><a class="Link Popup" href="https://www.mofa.go.jp/mofaj/gaiko/oda/sdgs/index.html" title="別ウィンドウで表示します" target="_blank"><span>JAPAN SDGs Action Platform</span></a>（外務省のWebサイトが開きます）</dd>
    </dl>
  </div>
</div>
<hr class="demarcation">

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>