<div id="title_box">
  <div id="csr_main_img_policy">
    <h1>サステナビリティ経営の推進</h1>
  </div>
</div>

<h2 id="target" class="Header"><span>ESG目標</span></h2>
<div class="Section">
<p>日本郵政グループは、「サステナビリティ経営」の推進によって、日本郵政グループの経営理念の実現を図り、当グループを取り巻く事業環境や社会課題がグループの経営に与える影響を中長期的視点で捉えながら、当グループの持続的成長と持続可能な社会の実現に寄与していきます。「JPビジョン2025」において、「人生100年時代の『一生』を支え、日本全国の『地域社会』の発展・活性化に貢献し、持続可能な社会の構築を目指す」ことをESG目標として設定し、サステナビリティ経営を推進していくこととしています。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="" src="/sustainability/sustainability_management/images/management_03.png"></div>
<p class="Caption mb00 ml20">ESG 目標</p>
<ol>
  <li class="ind35em">（注1）Scope１（自社が直接排出する排出量）およびScope２（他社から供給された電気等の使用に伴う排出量）が対象。不動産事業など新規事業による増加分を除く。</li>
  <li class="ind35em">（注2）目標達成のためにはわが国における再生可能エネルギーの普及などカーボンニュートラル化が相当程度進むことが必要。当グループも、わが国および世界のカーボンニュートラル化を後押しする。</li>
  <li class="ind35em">（注3）グループ主要４社の本社における女性管理者比率。2030年度までの取り組みの結果である2031年4月1日における比率。</li>
  <li class="ind35em">（注4）本社以外においても、女性管理者増加に向けて、管理者・役職者を目指す社員を増やすための環境整備・人材育成に取り組む。</li>
</ol>

<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<h2 id="figure" class="Header"><span>2025年度に向けて目指す姿と具体的な取り組み</span></h2>
<div class="Section">
<p>郵便局ネットワークを活用し、事業を通じて、地域社会への貢献、SDGs等の社会的な課題に取り組むことにより、日本郵政グループの持続可能な成長と中長期的な企業価値の創出を図ります。</p>
<!-- end .Section --></div>

<div id="sdgs_frame">
  <div class="Section Table-Border">
    <div class="Text-Right">
      <ul class="Normal ex_notes">
        <li class="tab_double">日本郵政グループ</li>
        <li class="tab_red">日本郵便株式会社</li>
        <li class="tab_green">株式会社ゆうちょ銀行</li>
        <li class="tab_blue">株式会社かんぽ生命保険</li>
      </ul>
    </div>
    <table class="sdgs_frame_tbl">
      <colgroup><col style="width: 23%;"><col style="width: 34%;"><col style="width: 43%;"></colgroup>
      <thead>
        <tr>
          <th class="BG-Gray Text-Center" scope="col">&nbsp;</th>
          <th class="BG-Gray Text-Center" scope="col">2025年度に向けて目指す姿</th>
          <th class="BG-Gray Text-Center" scope="col">具体的な取り組み（施策例）</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="BG-Gray" scope="row">
            <p class="maB10">1. 人生100年時代の<span class="txt_red">「一生」</span>を支える</p>
            <div class="Image maB5 Text-Center"><img style="padding: 0 5px 5px 0" alt="" src="/sustainability/sustainability_management/images/sdg_icon_03_ja.png" width="75" height="75"><img style="padding: 0 0 5px 0" alt="" src="/sustainability/sustainability_management/images/sdg_icon_09_ja.png" width="75" height="75"></div>
          </th>
          <td>
            <ul class="Normal">
              <li>郵便局ネットワークの維持とユニバーサルサービスの提供</li>
              <li>お客さまのニーズに応じた質の高い金融サービス／安心・安全な金融サービス</li>
              <li>健やかで豊かな暮らしの実現（ラジオ体操、健康応援アプリ）</li>
              <li>次世代教育（手紙振興、金融教育）</li>
            </ul>
          </td>
          <td>
            <ul class="Normal">
              <li class="tab_double">継続的な郵便局ネットワークによるユニバーサルサービスの提供</li>
              <li class="tab_double">保育所や高齢者施設、文化施設などの整備を通じ人生100年時代を支える多様な社会・暮らし方に必要とされる基盤整備</li>
              <li class="tab_red">みまもり・終活サービスの拡充（デジタルを活用した高齢福祉サービス）</li>
              <li class="tab_green">安心・安全を最優先に、すべてのお客さまが利用しやすいデジタルサービスの拡充、お客さまに一層寄り添ったコンサルティングの実施</li>
              <li class="tab_blue">あらゆる世代への基礎的な保障・サービスの提供</li>
              <li class="tab_blue">人生100年時代の社会的ニーズを踏まえた商品開発</li>
              <li class="tab_blue">ラジオ体操や健康応援アプリなどによる健康づくりの支援</li>
            </ul>
          </td>
        </tr>
  
        <tr>
          <th class="BG-Gray" scope="row">
            <p class="maB5">2. 日本全国の<span class="txt_red">｢地域社会｣</span>を支える</p>
            <div class="Image maB5 Text-Center"><img style="padding: 0 5px 5px 0" alt="" src="/sustainability/sustainability_management/images/sdg_icon_09_ja.png" width="75" height="75"><img style="padding: 0 0 5px 0" alt="" src="/sustainability/sustainability_management/images/sdg_icon_11_ja.png" width="75" height="75"></div>
          </th>
          <td>
            <ul class="Normal">
              <li>郵便局ネットワークの維持とユニバーサルサービスの提供</li>
              <li>EC市場の拡大に対応する強靭な物流インフラの構築</li>
              <li>地域ニーズに応じた多種多様な商品・サービス等の提供による地域課題の解決</li>
              <li>ローコストオペレーションの徹底による持続的なユニバーサルサービスの提供</li>
              <li>地域への資金循環</li>
            </ul>
          </td>
          <td>
            <ul class="Normal">
              <li class="tab_double">地域の活性化・賑わいの創出､コミュニティ形成への支援、防災・減災を目指した災害に強い建物づくりなど地元自治体と連携した持続可能なまちづくりへの貢献</li>
              <li class="tab_red">地方公共団体からの包括事務受託の拡大、地域金融機関との連携強化、駅と窓口業務の一体運営の推進</li>
              <li class="tab_red">P-DXの推進、先端技術の活用</li>
              <li class="tab_red">災害発生時における地域貢献および復興支援</li>
              <li class="tab_green_blue">地域への資金循環（地域活性化ファンドへの出資、多様な枠組みを通じた資金供給）</li>
              <li class="tab_green">災害発生時における地域貢献および復興支援</li>
            </ul>
          </td>
        </tr>
  
        <tr>
          <th class="BG-Gray" scope="row">
            <p class="maB5">3. 環境の負荷低減</p>
            <div class="Image maB5 Text-Center"><img alt="" src="/sustainability/sustainability_management/images/sdg_icon_12_ja.png" width="75" height="75"></div>
            <div class="Image maB5 Text-Center"><img style="padding: 0 5px 5px 0" alt="" src="/sustainability/sustainability_management/images/sdg_icon_13_ja.png" width="75" height="75"><img style="padding: 0 0 5px 0" alt="" src="/sustainability/sustainability_management/images/sdg_icon_15_ja.png" width="75" height="75"></div>
          </th>
          <td>
            <ul class="Normal">
              <li>温室効果ガス排出量削減</li>
              <li>地域環境への負荷低減に配慮した事業活動の推進</li>
              <li>ESG投資の強化</li>
            </ul>
          </td>
          <td>
            <ul class="Normal">
              <li class="tab_double">再生可能エネルギーや環境配慮技術の導入拡大による環境負荷低減、気候変動への取り組み</li>
              <li class="tab_double">再生可能エネルギーやカーボン排出係数の低い電力への段階的切り替え</li>
              <li class="tab_double">ペーパーレス化の推進</li>
              <li class="tab_red">郵便局ネットワークを活用した地域のカーボンニュートラル化の推進（電気自動車、再エネ活用、充電・蓄電設備、CLT<sup>※</sup>、木質バイオマス、太陽光発電、LED等を組み合わせた環境配慮型郵便局など）</li>
              <li class="tab_green_blue">気候変動その他環境問題に関するESG投資の推進、各種国際合意に留意した投資の推進</li>
            </ul>
          </td>
        </tr>
  
        <tr>
          <th class="BG-Gray" scope="row">
            <p class="maB5">4. 人事戦略</p>
            <div class="Image maB5 Text-Center"><img alt="" src="/sustainability/sustainability_management/images/sdg_icon_05_ja.png" width="75" height="75"></div>
            <div class="Image maB5 Text-Center"><img style="padding: 0 5px 5px 0" alt="" src="/sustainability/sustainability_management/images/sdg_icon_08_ja.png" width="75" height="75"><img style="padding: 0 0 5px 0" alt="" src="/sustainability/sustainability_management/images/sdg_icon_10_ja.png" width="75" height="75"></div>
          </th>
          <td>
            <ul class="Normal">
              <li>社員視点に立った働き方改革の推進</li>
              <li>ダイバーシティの推進（多様な人材が活躍できる組織に）</li>
              <li>社員の人材力（能力×意欲）アップ</li>
            </ul>
          </td>
          <td>
            <ul class="Normal">
              <li class="tab_double">働きやすい職場づくり（時間外労働の削減・テレワークの推進等、育児・介護・病気治療と仕事の両立支援、環境変化に対応した人事諸制度の実現、パワーハラスメント・セクシャルハラスメント等の根絶、健康経営の推進）</li>
              <li class="tab_double">ダイバーシティの推進（意識啓発・行動改革、女性活躍の推進（女性管理者比率の向上）、高齢者の就業促進、障がい者雇用の促進、性の多様性への対応）</li>
              <li class="tab_double">人材育成（お客さま本位のサービス提供ができる人材の育成、日本郵政グループの成⾧を支える人材の育成）</li>
            </ul>
          </td>
        </tr>
  
        <tr>
          <th class="BG-Gray" scope="row">
            <p class="maB10">5. ガバナンス</p>
            <div class="Image maB5 Text-Center"><img alt="" src="/sustainability/sustainability_management/images/sdg_icon_16_ja.png" width="75" height="75"></div>
          </th>
          <td>
            <ul class="Normal">
              <li>グループガバナンスの強化</li>
              <li>支社・フロントラインのマネジメント機能強化</li>
              <li>グループ一体となったリスク管理</li>
            </ul>
          </td>
          <td>
            <ul class="Normal">
              <li class="tab_double">グループCxO制の導入</li>
              <li class="tab_double_red">日本郵政・日本郵便の一体的な運営</li>
              <li class="tab_red">支社への権限委譲</li>
              <li class="tab_red">郵便局一体のマネジメント体制への見直し</li>
              <li class="tab_double">「コンダクト・リスク」を早期に探知し対応する態勢の構築</li>
            </ul>
          </td>
        </tr>
  
      </tbody>
    </table>
    <ul>
      <li class="Caption ind1em">※CLT（クロス・ラミネイティッド・ティンバー）：長い板状の木材を縦横交互に張り合わせた厚型のパネルで、強度、耐熱性に優れており、コンクリートや鉄に比べてCO<sub>2</sub>の発生を抑制。</li>
    </ul>
  <!-- end .Section.Table-Border --></div>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
