<div class="Section">
<p class="Text-Right">2013年12月16日</p>
<p>日本郵政グループは、日本最大級の環境展示会「エコプロダクツ2013」に出展しました。<br /> 「エコプロダクツ2013」は、今年、15回を迎え、開催テーマ「今つくる地球の未来」を掲げ、12月12日（木曜日）から14日（土曜日）の3日間、東京ビッグサイトで開催されました。<br /> 702社・団体が参加し、開催期間中は、小・中学生、環境に関係する業務に携わる方など16万9千人を超える方々がご来場されました。</p>
<p>日本郵政グループでは「森の郵便局」をイメージしたブースを設置し、グループの環境に関する取り組み（JPの森づくり運動、JPタワーなど）について、パネルや映像で紹介したほか、埼玉県さいたま市で実際に使用されている電気自動車を展示するなど、分かりやすい展示を心がけました。<br /> また、小学生を対象に、子どもたちに木と環境のつながりについて考えるきっかけとなる紙芝居を実施するとともに、はがきに絵を描き、ポストに入れていただくワークショップを開催しました。</p>
<p>日本郵政グループのブースには、3日間で、約5千人を超える方々にご来訪いただきました。<br /> 当ブースにお立ち寄りいただきました皆さま、大変ありがとうございました。多くの皆さまに、展示内容を通じて、グループの環境への取り組みをご理解いただくとともに、ワークショップで行われたドングリの種まきや手紙を書く体験を通じて、環境保全の取り組みについてもご興味を持っていただけたようです。</p>
<p>今後も、日本郵政グループは、CO<sub style="font-size: 80%;">2</sub>削減など環境保全の取り組みを、グループを挙げて推進して参ります。</p>
<p>なお、日本郵政グループのブースは、本イベントにおいて環境に配備した建築や、来場者にとって分かりやすい展示を行ったブースを選ぶ、今年度の<strong>エコ&amp;デザインブース大賞のベスト12</strong>に選ばれました。</p>
<!-- end .Section --></div>
<h2 class="Header"><span>日本郵政グループの様子</span></h2>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2013/images/index_img_01.jpg" width="250" height="167" />
<p class="Caption">森の郵便局をイメージしたブース</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2013/images/index_img_02.jpg" width="250" height="167" />
<p class="Caption">エコプロダクツ2013限定の日付印</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2013/images/index_img_03.jpg" width="250" height="167" />
<p class="Caption">パネルで取り組みを紹介</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2013/images/index_img_04.jpg" width="250" height="167" />
<p class="Caption">映像で取り組みを紹介</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2013/images/index_img_05.jpg" width="250" height="167" />
<p class="Caption">電気自動車（集配用）の展示</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2013/images/index_img_06.jpg" width="250" height="167" />
<p class="Caption">木と環境のつながりを紙芝居で紹介</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2013/images/index_img_07.jpg" width="250" height="167" />
<p class="Caption">ドングリをプランターにまく体験</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2013/images/index_img_08.jpg" width="250" height="167" />
<p class="Caption">はがきに絵を描き、あて名を書く体験</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2013/images/index_img_09.jpg" width="250" height="167" />
<p class="Caption">切手を貼って、ポストに入れる体験</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2013/images/index_img_10.jpg" width="250" height="167" />
<p class="Caption">郵便局の臨時出張所</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2013/images/index_img_11.jpg" width="250" height="167" />
<p class="Caption">多数のご来訪をいただきました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2013/images/index_img_12.jpg" width="250" height="167" />
<p class="Caption">外国の方にもお立ち寄りいただきました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>