<div id="title_box">
  <div id="csr_main_img_position">
    <h1>外部からの評価等</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section Table-Dot">
<div class="Table-Wrapper">
  <table><caption class="Hidden">外部からの表彰等</caption><colgroup> <col style="width: 20%;" /> <col style="width: 55%;" /> <col style="width: 25%;" /> </colgroup>
  <tbody>
  
  <tr>
    <th scope="row">2021年7月</th>
    <td>
      <p>日本郵便がお子さまに手紙や郵便局のことを楽しく学んでいただくことを目的として運営している「ゆうびんきょくキッズサイト」が、一般社団法人 日本子育て支援協会の主催する 2021 年度「日本子育て支援大賞」を受賞しました。</p>
      <div class="Section List-General">
        <ul>
          <li><a href="https://www.post.japanpost.jp/kids/" rel="noopener noreferrer" class="Link Popup"><span>ゆうびんきょくキッズサイト</span></a>－日本郵便</li>
          <li><a href="http://www.jcfs-ac.jp/grandprize/" class="Link Popup"><span>「日本子育て支援大賞」について</span></a></li>
        </ul>
      <!-- end .Section.List-General --></div>
    </td>
    <td class="Text-Center">&nbsp;</td>
  </tr>
  
  <tr><th scope="row">2021年4月</th>
  <td><p>米国週刊誌「Newsweek」による、世界基準の優良な医療機関を評価したランキング「World's Best Hospitals 2021」の日本版に、東京逓信病院が選出されました。</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link Popup" href="https://www.hospital.japanpost.jp/tokyo/about/besthospitals/index.html"><span>東京逓信病院がWorld's Best Hospitals 2021に選出されました</span></a></li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td class="Text-Center"><img src="/sustainability/images/evaluation_img_08.png" alt="World's Best Hospitals 2021" style="width: 107px;"></td>
  </tr>
  
  <tr><th scope="row">2020年11月</th>
  <td><p>日本郵政グループは、LGBT等に関する取り組みが評価される2020年度「PRIDE指標」において、最高評価である「ゴールド」を受賞しました。</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link Popup" href="https://workwithpride.jp/pride-i/"><span>「PRIDE指標」について</span></a></li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td><img src="/sustainability/images/evaluation_img_06.png" width="200" alt="" /></td>
  </tr>
  
  <tr><th scope="row">2020年4月</th>
  <td><p>日本郵政グループが特別協賛している、特定非営利活動法人子どもの森づくり推進ネットワークが取り組む「JP子どもの森づくり運動東北復興グリーンウェイブ」が、「2019年度（第15回）こども環境学会賞」において、「活動賞」を受賞しました。</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link Popup" href="https://www.children-env.org/"><span>公益社団法人こども環境学会</span></a></li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td>&nbsp;</td>
  </tr>
  
  <tr><th scope="row">2020年3月</th>
  <td><p>米国週刊誌「Newsweek」による、世界基準の優良な医療機関を評価したランキング「World's Best Hospitals 2020」の日本版に、東京逓信病院が選出されました。</p>
  </td>
  <td class="Text-Center">&nbsp;</td>
  </tr>
  
  <tr><th scope="row">2019年12月</th>
  <td><p>日本郵便株式会社と西濃運輸株式会社、日本通運株式会社、ヤマト運輸株式会社の4社による、スーパーフルトレーラSF25を活用した関東－関西間における共同幹線輸送が、第18回グリーン物流パートナーシップ会議優良事業者表彰特別賞を受賞しました。</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link Popup" href="https://www.post.japanpost.jp/notification/pressrelease/2019/00_honsha/1213_02.html"><span>スーパーフルトレーラSF25を活用した共同幹線輸送が第18回グリーン物流パートナーシップ会議優良事業者表彰特別賞を受賞</span></a></li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td>&nbsp;</td>
  </tr>
  
  <tr><th scope="row">2019年5月</th>
  <td><p>日本郵政グループ4社（日本郵政株式会社、日本郵便株式会社、株式会社ゆうちょ銀行、株式会社かんぽ生命保険）は、「エンプロイヤーブランド・リサーチ 2019 ランスタッドアワード」金融/保険部門において、2018年に引き続き第1位に選ばれました。</p></td>
  <td><img src="/sustainability/images/evaluation_img_04.jpg" width="200" alt="" /></td>
  </tr>
  
  <tr><th scope="row">2019年2月</th>
  <td><p>日本郵政株式会社は、大手町本社移転に際して世界レベルの環境性能を備えたオフィススペースの導入を目指し、取り組んできました。この点が評価され、LEED-CIにおいてゴールド認証を取得しました。</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link" href="/sustainability/topics/2019_003.html">日本郵政株式会社本社はLEED-CI（2009年版）ゴールド認証を取得しました</a></li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td class="Text-Center"><img src="/sustainability/images/evaluation_img_05.jpg" width="160" alt="" /></a></td>
  </tr>
  
  <tr><th scope="row">2018年12月</th>
  <td><p>これまでのESGへの取り組みが評価され、SRIインデックス銘柄に選定されています。「MSCI 日本株女性活躍指数（WIN）」はMSCI社により作成された性別多様性に優れた企業で構成されるインデックスです。</p>
  <div class="Section List-General">
    <ul>
      <li>詳しくは、MSCI社のWebサイトをご覧ください。</li>
      <li><a href="https://www.msci.com/msci-japan-empowering-women-index-jp" class="Link Popup" target="_blank" ><span>MSCI日本株女性活躍指数（WIN）</span></a></li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td><img src="/sustainability/images/evaluation_img_03.png" width="200" alt="" /></a></td>
  </tr>
  
  <tr><th scope="row">2018年2月</th>
  <td><p>日本郵政グループ4社（日本郵政株式会社、日本郵便株式会社、株式会社ゆうちょ銀行、株式会社かんぽ生命保険）は、「エンプロイヤーブランド・リサーチ 2018 ランスタッドアワード」において、業界別「金融/保険」部門において、第1位に選ばれました。</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link" href="/sustainability/topics/2017_004.html">「エンプロイヤーブランド・リサーチ 2018 ランスタッドアワード」の金融/保険部門で第1位に選ばれました</a></li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td><img src="/sustainability/images/evaluation_img_02.jpg" width="200" alt="" /></td>
  </tr>
  
  <tr><th scope="row">2017年9月</th>
  <td><p>JP子どもの森づくり運動「東北復興グリーンウェイブ」が国連生物多様性の10年日本委員会（UNDB-J）から連携事業に認定されました。</p>
  <div class="Section List-General">
    <ul>
      <li><a class="Link" href="/sustainability/kids/report11.html">JP子どもの森づくり運動「東北復興グリーンウェイブ」が国連生物多様性の10年日本委員会（UNDB-J）から連携事業の認定証を授与されました</a></li>
    </ul>
  <!-- end .Section.List-General --></div>
  </td>
  <td><img src="/sustainability/images/evaluation_img_01.jpg" width="200" alt="" /></td>
  </tr>
  
  </tbody>
  </table>
</div>
<!-- end .Section.Table-Dot --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
