@charset "utf-8";

/* Common */
#Contents h1,
#Contents h3,
#Contents strong,
#Contents b {
  font-family: FB Condor Bold;
}

/* スマホなどでの表示 表組を左右にスクロール */

@media screen and (max-width: 767px) {
  .Table-Wrapper {
      overflow-x: scroll;
  }
  .Table-Wrapper::before {
      content: "↓This table can be scrolled left or right.";
      font-size: .8em;
      display: block;
  }
  .Table-Wrapper table {
    display: block;
  }
}

@media print
{

  body {
    transform: none !important;
    zoom: 0.8;
  }
  header,
  #TopicPath,
  .SubContentsArea,
  /* #LocalNavigationArea, */
  .Pagetoplink,
  .EN #GroupLinks,
  footer {
    display: none !important;
  }
  .ContentsArea {
    float: none !important;
  }
  body,
  .ContentsArea,
  #title_box div,
  #title_box3 div {
    width: auto !important;
  }
  #Contents {
    padding-left: 0 !important;
  }
  #csr_main_img_position,
  #csr_main_img_report,
  #csr_main_img_report_sub {
    background-position: top right !important;
  }

  #csr_sdgs .associated_info,
  #csr_sdgs .associated_info dt {
    width: auto !important;
  }
  
}

/* Framework of Global Society and CSR of Japan Post Group */
#csr_sdgs #title_box div {
  width: 550px;
  padding: 25px 288px 20px 20px;
}
#csr_sdgs ol {
  list-style: decimal;
  margin-bottom: 10px;
}
#csr_sdgs .sdgs_frame_tbl .txt_red {
  color: #C7002F;
}

#Contents #csr_sdgs .Section ul.Normal.ex_notes {
  display: inline-block;
}

#Contents #csr_sdgs .Section ul.Normal.ex_notes li {
  display: inline-block;
  margin-left: 1em;
}

#Contents #csr_sdgs .Section ul.Normal li.tab_double {
  background: url(../images/tab_double.png) 3px .2em no-repeat;
}

#Contents #csr_sdgs .Section ul.Normal li.tab_red {
  background: url(../images/tab_red.png) 3px .2em no-repeat;
}

#Contents #csr_sdgs .Section ul.Normal li.tab_green {
  background: url(../images/tab_green.png) 3px .2em no-repeat;
}

#Contents #csr_sdgs .Section ul.Normal li.tab_blue {
  background: url(../images/tab_blue.png) 3px .2em no-repeat;
}

#Contents #csr_sdgs .Section ul.Normal li.tab_green_blue {
  padding-left: 2em;
  background: url(../images/tab_green.png) 3px .2em no-repeat , url(../images/tab_blue.png) 1em .2em no-repeat;
}

#Contents #csr_sdgs .Section ul.Normal li.tab_double_red {
  padding-left: 2em;
  background: url(../images/tab_double.png) 3px .2em no-repeat , url(../images/tab_red.png) 1em .3em no-repeat;
}


/* Environmental Management System */
#environmental_management_index sub {
	font-size: .8em;
}
#environmental_management_index .Withimg-Title {
	margin: 0 10px 15px;
	padding: 4px 13px;
	/*border: 1px solid #d6d8da;*/
	font-weight: bold;
}
#environmental_management_index p.cap {
  display: table;
  width: 100%;
}

#environmental_management_index p.cap span.title {
  display: table-cell;
  width: 80%;
}
#environmental_management_index p.cap span.unit {
  display: table-cell;
  text-align: right;
  width: 20%;
}
#environmental_management_index h3 span {
  font-family: FB Condor Bold;
}


/*************************/
/* Climate change               */
/*************************/
#environmental-management_climate .tcfd-list {
  list-style-type: lower-alpha;
  padding-left: 20px;
}
#Contents #environmental-management_climate ul li.tcfd-item {
  margin-bottom: 1em;
}
#environmental-management_climate .risk-pie img {
  width: 100%;
  max-width: 100%;
}
.tcfd_risk_tbl .scenario-th-v span {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

@media all and (max-width: 767px) {
  #Contents .Table-Border.tcfd_risk_tbl table th.scenario-th-v {
    min-width: 1em;
  }
}


/* Stakeholder Engagement */
#engagement sup {
  font-size:80%;
  vertical-align:top;
}

#engagement .Section ul.Normal li {
    background-position-y: .2em !important;
}

#engagement .exampleTbl {
  border-color: #181818 !important;
}
#engagement .exampleTbl caption {
  margin-bottom: 5px;
}
#engagement .exampleTbl caption::before {
  content: "";
  display: inline-block;
  width: .9em;
  height: .9em;
  margin-right: .2em;
  background-color: #3e3939;
  vertical-align: middle;
}
#engagement .exampleTbl th {
  font-family: FB Condor Bold;
}
#engagement .exampleTbl th,
#engagement .exampleTbl td {
  border-color: #181818 !important;
}
#engagement .exampleTbl tbody th {
  color: #181818 !important;
}
#engagement .exampleTbl tbody tr:nth-of-type(1) th {
  background-color: #f4d5cd;
}
#engagement .exampleTbl tbody tr:nth-of-type(2) th {
  background-color: #d5e6d2;
}
#engagement .exampleTbl tbody tr:nth-of-type(3) th {
  background-color: #d2d3ea;
}

#engagement #csSurvey h4 {
  margin-bottom: 5px;
  font-weight: normal;
}
#engagement #csSurvey h4::before {
  content: "";
  display: inline-block;
  width: .9em;
  height: .9em;
  margin-right: .2em;
  background-color: #3e3939;
  vertical-align: middle;
}
#engagement #csSurvey dt {
  background-color: #efefef;
  padding: 10px 25px;
  margin-bottom: 10px;
}
#engagement #csSurvey dt p {
  margin-bottom: 0 !important;
  font-family: FB Condor Bold;
}
#engagement #csSurvey dt small {
  font-weight: normal;
  font-size: .9em;
}
#engagement #csSurvey dd p {
  margin-bottom: 0 !important;
  color: #c00;
  font-weight: bold;
  font-family: FB Condor Bold;
  font-size: 1.2em;
}
#engagement #csSurvey dd img {
  max-width: 100%;
}

/* Aiming to be a corporate group that meets customer expectations through working closely with local communities */

#credibility_index #csr_main_img_credibility {
  background: url(/en/csr/credibility/images/csr_main_img_credibility.png) no-repeat top right;
}
#credibility_index #title_box h1 {
  font-size: 26px;
}
#credibility_index .actions-list {
  list-style: disc;
  margin-left: 20px;
}
#credibility_index ol.jpVoice > li {
  list-style-type: decimal;
}

@media screen and (max-width: 767px) {
  #credibility_index #title_box h1 {
      font-size: 17px;
  }
  #credibility_index #title_box div {
    background-size: cover !important;
  }
}

/* Top Message */

#message .message-sign {
  font-size: xx-large;
  font-weight: bold;
}

/* Sustainable Movie */

#movie .utile_img {
  float: none;
  margin: 0 auto;
}

/**************/
/* ESG Data */
/**************/
#data_index sup {
  font-size: .8em;
  vertical-align: top;
}
#data_index .mb20 {
  margin-bottom: 20px !important;
}
#data_index .border-top-0 {
  border-top: 0 !important;
}
#data_index .border-bottom-0 {
  border-bottom: 0 !important;
}
#data_index .printMgt {
  display: none;
}

#data_index .mod-tab {
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px;
}
#data_index .pure-g {
  letter-spacing: -.31em;
  text-rendering: optimizespeed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
#data_index .mod-tab-item-sus.bottom-u-layer {
  margin-bottom: 0;
  border-bottom: none;
}
#data_index a.mod-tab-item-sus {
  text-decoration: none;
}
#data_index .mod-tab-item-sus {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  text-align: center;
  padding: 15px 0;
  transition: .4s;
}
#data_index .mod-tab-item-sus.is-active {
  color: #fff;
  background-color: #c00;
}
#data_index .pure-u-1-3 {
  width: 33%;
}
#data_index .pure-u-1-3 {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
#data_index .mod-head04:before, 
#data_index .mod-head05:before, 
#data_index .mod-head05_middle:before, 
#data_index .mod-head05_large:before, 
#data_index .mod-sideContent:before, 
#data_index .mod-sideNav-title:before, 
#data_index .mod-sideNav-title:after, 
#data_index .mod-sideNav-li-span:before, 
#data_index .mod-sideNav-li-span:after, 
#data_index .mod-tab-item:before, 
#data_index .global-main-translation-item:before, 
#data_index .global-menu-detail-link-item:before, 
#data_index .service-search-app-list li:before, 
#data_index .sustainability .mod-tab-item-sus:before {
  position: absolute;
  content: "";
  display: block;
}



#data_index .Table-Border table td.col04.left {
  text-align: left;
}
#data_index .col02.red,
#data_index .col03.red,
#data_index .col04.red,
#data_index .col05.red,
#data_index .col06.red,
#data_index .col07.red,
#data_index .col08.red,
#data_index .col09.red {
  background-color: #fef4f1;
}
#data_index .left.red {
  background-color: #fef4f1;
}
#data_index .Table-Border table.data th {
  text-align: center;
}
#data_index .Table-Border table.data th,
#data_index .Table-Border table.data td {
  vertical-align: middle;
}
#data_index .Table-Border table td.col04 {
  text-align: center;
}
#data_index .Table-Border table td.col05,
#data_index .Table-Border table td.col06,
#data_index .Table-Border table td.col07,
#data_index .Table-Border table td.col08,
#data_index .Table-Border table td.col09 {
  text-align: right;
}
#data_index .Table-Border table td.envcol {
  text-align: right;
}
#data_index .Table-Border table.womenTable td,
#data_index .Table-Border table.womenTable th {
  text-align: center;
  vertical-align: middle;
}
#data_index .Table-Border table.womenTable td.left {
  text-align: left;
}
#data_index .Table-Border table td.col02 {
  border-right: none;
}
#data_index .Table-Border table td.col03.red {
  border-left: none;
}
#data_index .Table-Border table td.space {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-left: none !important;
  border-right: none !important;
}
#data_index .Table-Border table.data.bordernone {
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
}
#data_index .Section p.cap {
  margin-bottom: 4px;
}
#data_index p.cap {
  display: table;
  width: 100%;
}
#data_index p.cap span.title {
  display: table-cell;
  /* width: 80%; */
}
#data_index p.cap span.unit {
  display: table-cell;
  text-align: right;
  /* width: 20%; */
}
#data_index ol.tableNote {
  counter-reset: number;
  list-style: none;
  margin-bottom: 15px;
}
#data_index .Section ol.tableNote li {
  position: relative;
  padding-left: 1.5em;
}
#data_index ol.tableNote li:before {
  position: absolute;
  top: 0;
  left: 0;
  counter-increment: number;
  content: "*"counter(number)" ";
}
#data_index ol.tableNote02 {
  counter-reset: number;
  list-style: none;
  margin-bottom: 15px;
}
#data_index .Section ol.tableNote02 li {
  position: relative;
  padding-left: 1.5em;
}
#data_index ol.tableNote02 li:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "*";
}
#data_index table.BunsuTbl{   /* 分数を左詰で表示する定義 */
  margin-left:0;
  margin-right:auto;
}
#data_index table.BunsuTbl td{
  vertical-align: middle;
}
#data_index .BnsArea{
  text-align:left;
  margin-left:10px;
}
#data_index .Bunsu,
#data_index .Seisu,
#data_index .Bunshi,
#data_index .Bunbo{    /* 分数、整数、分子、分母 */
  font-size:15px;
  color:#123d12;
  text-align:center;
  line-height:20px;
  padding:2px 5px 2px 5px;
}
#data_index .Bunsu,
#data_index .Seisu{    /* 分数、整数 */
  margin:0;
  display:inline-block;
}
#data_index .Seisu{        /* 整数 */
  padding-top:0px;
  vertical-align:middle;
}
#data_index .Atai{        /* 値 */
  color:red;
}
#data_index .Bunshi {    /* 分子 */
  border-style:solid;
  border-width:0px 0px 1px 0px;
  border-color:#181818;
  padding-bottom:0px;
}
#data_index span.super{    /* 指数 */
  font-size:12px;
  background-color:#ffccff;
  vertical-align:super;
  padding-left:5px;
  padding-right:5px;
}
#data_index span.sub{    /* 添え字 */
  color:#008080;
  font-size:12px;
  /*background-color:#00ffff;*/
  vertical-align:sub;
  /* padding-left:5px;
  padding-right:5px; */
}
@media print {
  #data_index .printMgt {
    display: block;
    padding-bottom: 100px;
  }
  #data_index .Table-Border table.data td.col01 {
    vertical-align: middle !important;
  }
  #data_index sup .sup {
    font-size: 75%;
    vertical-align: top;
    position: relative;
    top: -0.1em;
  }
  #data_index sub .sub {
    font-size: 75%;
    vertical-align: bottom;
    position: relative;
    top: 0.1em;
  }
}
