<div id="data_index">
  <div id="title_box">
    <div id="csr_main_img_report">
      <h1>ESG Data(Governance)</h1>
    </div>
  <!-- /#title_box-->
  </div>
  
  <div class="Section">
    <p class="Category Lead">Compiled on this page are ESG-related data from the Japan Post Group.</p>

    <div class="mod-tab pure-g mb50">
      <a href="/en/csr/data/" class="mod-tab-item-sus bottom-u-layer pure-u-md-1-2 pure-u-1-3">Environmental</a>
      <a href="/en/csr/data/social/" class="mod-tab-item-sus bottom-u-layer pure-u-md-1-2 pure-u-1-3">Social</a>
      <span class="mod-tab-item-sus bottom-u-layer bottom-md-layer pure-u-md-1-2 pure-u-1-3 is-active">Governance</span>
    </div>

    <div class="List-Horizontal">
      <ul>
        <li><a class="Link Inner" href="#organization">Composition（Organization・Directors）</a></li>
        <!-- <li><a class="Link Inner" href="#compensation">Compensation</a></li> -->
      </ul>
      <!-- end .Section.List-Horizontal -->
    </div>
    <!-- end .Section -->
  </div>

  <h2 class="Header">Governance Data</h2>
  <h3 id="organization" class="Header">Composition（Organization・Directors）</h3>

  <div class="Section">
    <p class="cap"><span class="title"><strong>1.Organization Layout</strong></span></p>
    <p>The Company has adopted a “company with three committees structure” from the following points of view.</p>

    <ol class="List">
      <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">1.</span><div class="MkrItem__Body">To separate the especially vital decision-making and supervision, such as the formulation of basic management policy, from the business execution based on such decisions, thereby increasing the flexibility in management and establishing the management supervision structure of the Group governed by the Board of Directors.</div></li>
      <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">2.</span><div class="MkrItem__Body">To fully utilize external views on the management of the Company and ensure the transparency and fairness of decision-making on the management through enabling the exercise of functions of the Board of Directors comprised mainly of Independent Directors and the three committees, namely the Nomination Committee, the Compensation Committee and the Audit Committee.</div></li>
      <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">3.</span><div class="MkrItem__Body">To realize a corporate governance structure that can appropriately fulfill its accountability to all stakeholders.</div></li>
    </ol>
  </div>


  <div class="Section Table-Border">
    <p class="cap"><span class="title"><strong>2.Composition of officers（Japan Post Holdings）</strong></span></p>
    <p class="cap"><span class="title"><strong>Board of Directors・Status of Meetings and Attendance of each committees</strong></span><span class="unit">As of March 31 of Each Fiscal Year</span></p>

      <div class="Table-Wrapper">
        <table class="data">
            <thead>
              <tr>
                  <th class="BG-Gray" scope="col"><span>Item</span></th>
                  <th class="BG-Gray" scope="col"><span>Breakdown</span></th>
                  <th class="BG-Gray" scope="col">FY2018</th>
                  <th class="BG-Gray" scope="col">FY2019</th>
                  <th class="BG-Gray" scope="col">FY2020</th>
              </tr>
            </thead>
            <tr>
                <td class="col01" rowspan="6">Member of Director (Number)</td>
                <td class="col04">Total</td>
                <td class="col05">15</td>
                <td class="col06">13</td>
                <td class="col07">13</td>
            </tr>
            <tr>
                <td class="col04">Inside</td>
                <td class="col05">6</td>
                <td class="col06">4</td>
                <td class="col07">4</td>
            </tr>
            <tr>
                <td class="col04">Outside</td>
                <td class="col05">9</td>
                <td class="col06">9</td>
                <td class="col07">9</td>
            </tr>
            <tr>
                <td class="col04">Male</td>
                <td class="col05">12</td>
                <td class="col06">10</td>
                <td class="col07">10</td>
            </tr>
            <tr>
                <td class="col04">Female</td>
                <td class="col05">3</td>
                <td class="col06">3</td>
                <td class="col07">3</td>
            </tr>
            <tr>
                <td class="col04">Foreign Director</td>
                <td class="col05">1</td>
                <td class="col06">1</td>
                <td class="col07">1</td>
            </tr>
            <tr>
                <td class="col01">Meetings of Board of Directors</td>
                <td class="col04">Times</td>
                <td class="col05">12</td>
                <td class="col06">17</td>
                <td class="col07">14</td>
            </tr>
            <tr>
                <td class="col01">Attendance rate of Board of Directors</td>
                <td class="col04">Average</td>
                <td class="col06">97%</td>
                <td class="col07">99%</td>
                <td class="col08">99%</td>
            </tr>
            <tr>
                <td class="col03" rowspan="5">Member of Audit Committee (Number)</td>
                <td class="col04">Total</td>
                <td class="col05">5</td>
                <td class="col06">3</td>
                <td class="col07">3</td>
            </tr>
            <tr>
                <td class="col04">Inside</td>
                <td class="col05">1</td>
                <td class="col06">0</td>
                <td class="col07">0</td>
            </tr>
                <td class="col04">Outside</td>
                <td class="col05">4</td>
                <td class="col06">3</td>
                <td class="col07">3</td>
            </tr>
            <tr>
                <td class="col04">Male</td>
                <td class="col05">3</td>
                <td class="col06">2</td>
                <td class="col07">2</td>
            </tr>
            <tr>
                <td class="col04">Female</td>
                <td class="col05">2</td>
                <td class="col06">1</td>
                <td class="col07">1</td>
            </tr>
            <tr>
                <td class="col01">Meetings of Audit Committee</td>
                <td class="col04">Times</td>
                <td class="col06">20</td>
                <td class="col07">28</td>
                <td class="col08">20</td>
            </tr>
            <tr>
                <td class="col01">Attendance rate of Audit Committee</td>
                <td class="col04">Average</td>
                <td class="col06">99%</td>
                <td class="col06">99%</td>
                <td class="col06">100%</td>
            </tr>
            <tr>
                <td class="col03" rowspan="5">Member of Nomination Committee (Number)</td>
                <td class="col04">Total</td>
                <td class="col05">3</td>
                <td class="col06">4</td>
                <td class="col07">4</td>
            </tr>
            <tr>
                <td class="col04">Inside</td>
                <td class="col05">1</td>
                <td class="col05">1</td>
                <td class="col05">1</td>
            </tr>
            <tr>
                <td class="col04">Outside</td>
                <td class="col05">2</td>
                <td class="col06">3</td>
                <td class="col07">3</td>
            </tr>
            <tr>
                <td class="col04">Male</td>
                <td class="col05">3</td>
                <td class="col05">3</td>
                <td class="col05">3</td>
            </tr>
            <tr>
                <td class="col04">Female</td>
                <td class="col05">0</td>
                <td class="col05">0</td>
                <td class="col05">0</td>
            </tr>
            <tr>
                <td class="col01">Meetings of Nomination Committee</td>
                <td class="col04">Times</td>
                <td class="col06">3</td>
                <td class="col07">4</td>
                <td class="col08">2</td>
            </tr>
            <tr>
                <td class="col01">Attendance rate of Nomination Committee</td>
                <td class="col04">Average</td>
                <td class="col05">100%</td>
                <td class="col05">100%</td>
                <td class="col05">100%</td>
            </tr>
            <tr>
                <td class="col01" rowspan="5">Member of Compensation Committee (Number)</td>
                <td class="col04">Total</td>
                <td class="col06">3</td>
                <td class="col06">3</td>
                <td class="col06">3</td>
            </tr>
            <tr>
                <td class="col04">Inside</td>
                <td class="col05">1</td>
                <td class="col05">1</td>
                <td class="col05">1</td>
            </tr>
            <tr>
                <td class="col04">Outside</td>
                <td class="col05">2</td>
                <td class="col05">2</td>
                <td class="col05">2</td>
            </tr>
            <tr>
                <td class="col04">Male</td>
                <td class="col05">3</td>
                <td class="col06">3</td>
                <td class="col07">3</td>
            </tr>
            <tr>
                <td class="col04">Female</td>
                <td class="col05">0</td>
                <td class="col06">0</td>
                <td class="col07">0</td>
            </tr>
            <tr>
                <td class="col01">Meetings of Audit Committee</td>
                <td class="col04">Times</td>
                <td class="col06">3</td>
                <td class="col07">8</td>
                <td class="col08">6</td>
            </tr>
            <tr>
                <td class="col01">Attendance rate of Audit Committee</td>
                <td class="col04">Average</td>
                <td class="col06">100%</td>
                <td class="col06">100%</td>
                <td class="col06">100%</td>
            </tr>
            <tr>
                <td class="col01" rowspan="3">Member of Executive Officers (Number)<br>*Excluding those who also serve as directors</td>
                <td class="col04">Total</td>
                <td class="col06">29</td>
                <td class="col07">28</td>
                <td class="col08">30</td>
            </tr>
            <tr>
                <td class="col04">Male</td>
                <td class="col05">27</td>
                <td class="col06">25</td>
                <td class="col07">28</td>
            </tr>
            <tr>
                <td class="col04">Female</td>
                <td class="col05">2</td>
                <td class="col06">3</td>
                <td class="col07">2</td>
        </table>
      </div>
      <!-- <div class="Pagetoplink mb20"><a href="#Page-Top">Back to Top</a></div> -->
  </div>

</div>