<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>日本郵政グループの概要</h1>
  </div>
</div>
<!-- /#title_box-->


<h3 class="Header">グループ経営理念</h3>
<div class="Section Col2 TextImageBlock Image-Right maB10">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/web_report/images/index02_img_2019_01.jpg" class="sp_w90"/>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text" style="overflow:visible;">
<div class="Box">
<p>郵政ネットワークの安心、信頼を礎として、民間企業としての創造性、効率性を最大限発揮しつつ、お客さま本位のサービスを提供し、地域のお客さまの生活を支援し、お客さまと社員の幸せを目指します。また、経営の透明性を自ら求め、規律を守り、社会と地域の発展に貢献します。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="760" alt="" src="/sustainability/web_report/images/index02_img_2019_02.jpg"></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<h3 class="Header">皆さまの暮らしを支える郵便局のネットワーク</h3>
<div class="Section">
  <p>都市部から離島に至るまで張り巡らされた郵便局ネットワークを基盤に、郵便・貯金・保険のユニバーサルサービスを提供し、皆さまの暮らしを支えています。</p>
<!-- end .Section --></div>

<div class="Section Table-Border">
  <table>
    <colgroup><col style="width: 30%;"><col style="width: 70%;"></colgroup>
    <tbody>
    <tr>
      <th class="BG-Gray" scope="row">日本郵政グループ従業員数</th>
      <th scope="row">42.9万人（正規：22.5万人／非正規：20.4万人） ※2018年4月1日現在</th>
    </tr>
    <tr>
      <td class="BG-Gray" scope="row">全国の郵便局数</td>
      <th scope="row">24,395局</th>
    </tr>
    <tr>
      <td class="BG-Gray" scope="row">ゆうちょ銀行営業所数</td>
      <th scope="row">234所</th>
    </tr>
    <tr>
      <td class="BG-Gray" scope="row">かんぽ生命保険支店数</td>
      <th scope="row">82店</th>
    </tr>
    <tr>
      <td class="BG-Gray" scope="row">かんぽの宿</td>
      <th scope="row">53軒</th>
    </tr>
    <tr>
      <td class="BG-Gray" scope="row">逓信病院</td>
      <th scope="row">6施設 ※2018年10月末時点</th>
    </tr>
    <tr>
      <td class="BG-Gray" scope="row">自動二輪車数</td>
      <th scope="row">85,867台</th>
    </tr>
    <tr>
      <td class="BG-Gray" scope="row">ゆうちょATM設置数</td>
      <th scope="row">28,782台</th>
    </tr>
    <tr>
      <td class="BG-Gray" scope="row">郵便ポストの設置数</td>
      <th scope="row">181,221本</th>
    </tr>
    </tbody>
  </table>
  <p>注1　特に記述がない限り、データは2018年3月末時点のものです。</p>
<!-- end .Section.Table-Border --></div>

<h3 class="Header">雇用による地域貢献</h3>
<div class="Section">
  <p>42万人以上におよぶ全国各地の人材雇用・登用を通じて、地域経済の発展に貢献しています。</p>
  <!-- end .Section --></div>
  <div class="Section Col">
    <div class="Grid-Column">
      <div class="Image Text-Center"><img width="760" alt="" src="/sustainability/web_report/images/index02_img_2019_03.jpg"></div>
    <!-- end .Grid-Column --></div>
  <p>注2　郵便局等は2018年3月末現在の数、従業員は2018年4月1日現在の数です。</p>
<!-- end .Section.Col --></div>

<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/report/"><span>日本郵政グループ CSRレポート</span></a></li>
  </ul>
<!-- end .Section --></div>

<div class="associated_info">
  <dl>
    <dt>グループ各社の取り組み</dt>
    <dd><a href="http://www.post.japanpost.jp/about/csr.html" class="Link Popup" target="_blank"><span>日本郵便株式会社のCSR活動</span></a>-日本郵便</dd>
    <dd><a href="http://www.jp-bank.japanpost.jp/aboutus/activity/csr/abt_act_csr_index.html" class="Link Popup"  target="_blank"><span>株式会社ゆうちょ銀行のCSR活動への取り組み</span></a>-ゆうちょ銀行</dd>
    <dd><a href="http://www.jp-life.japanpost.jp/aboutus/csr/abt_csr_index.html" class="Link Popup"  target="_blank"><span>株式会社かんぽ生命保険の社会貢献活動</span></a>-かんぽ生命</dd>
  </dl>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/case/report/"><span>CSRレポート</span></a></li>
    <li><a class="Link" href="/csr/web_report/"><span>CSRレポート（HTML版）</span></a></li>
  </ul>
<!-- end .Section --></div>