<div id="title_box">
  <div id="csr_main_img_report">
    <h1>日本郵政グループ CSRレポート（HTML版）</h1>
  </div>
  <p class="explanation2">日本郵政グループが取り組んでいるCSR活動に関する取り組みをご紹介します。</p>
</div>
<!-- /#title_box-->

<h2 class="Header"><span>2018年度 日本郵政グループ CSRレポート（HTML版）</span></h2>
<div class="Section">
<p>2018年11月に発行した「日本郵政グループ CSRレポート2018」の内容をHTMLでご紹介します。<br>
なお、掲載している内容はレポート発行時点のもので、最新の情報とは異なる場合がございます。ご了承ください。</p>
<!-- end .Section --></div>

<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image"><img src="/sustainability/images/index_img_report2018.jpg" alt="（画像）日本郵政グループ CSRレポート2018" height="300" width="212" /></a></div>
<!-- end .Grid-Column.Image --></div>

<div class="Grid-Column Text">
<div class="Box">
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/web_report/index02.html"><span>日本郵政グループの概要</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループのCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/sdgs.html"><span>SDGs達成に向けた取り組み</span></a></li>
    <li><a class="Link" href="/csr/engagement.html"><span>ステークホルダーエンゲージメント</span></a></li>
    <li><a class="Link" href="/csr/society/index.html"><span>地域社会と共に</span></a></li>
    <li><a class="Link" href="/csr/environment/index.html"><span>地球と共に</span></a></li>
    <li><a class="Link" href="/csr/human/index.html"><span>人と共に</span></a></li>
    <li><a class="Link" href="/group/governance/"><span>コーポレートガバナンス</span></a></li>
    <li><a class="Link" href="/group/index06.html"><span>コンプライアンス</span></a></li>
    <li><a class="Link" href="/csr/web_report/opinion.html"><span>第三者意見</span></a></li>
  </ul>
<!-- end .Section --></div>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 class="Header"><span>日本郵政グループ CSRレポート（PDF版）</span></h2>
<div class="Section List-General">
<p><a href="/csr/report/" class="Link"><span>日本郵政グループ CSRレポート</span></a></p>
<!-- end .Section.List-General --></div>

<hr class="demarcation">
<div class="associated_info">
  <dl>
    <dt>グループ各社の取り組み</dt>
    <dd><a href="http://www.post.japanpost.jp/about/csr.html" class="Link Popup" target="_blank"><span>日本郵便株式会社のCSR活動</span></a>-日本郵便</dd>
    <dd><a href="http://www.jp-bank.japanpost.jp/aboutus/activity/csr/abt_act_csr_index.html" class="Link Popup"  target="_blank"><span>株式会社ゆうちょ銀行のCSR活動への取り組み</span></a>-ゆうちょ銀行</dd>
    <dd><a href="http://www.jp-life.japanpost.jp/aboutus/csr/abt_csr_index.html" class="Link Popup"  target="_blank"><span>株式会社かんぽ生命保険の社会貢献活動</span></a>-かんぽ生命</dd>
  </dl>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
    <li><a class="Link" href="/csr/case/movie/"><span>日本郵政グループCSRムービー</span></a></li>

  </ul>
<!-- end .Section --></div>
