<div id="environmental-management_climate">
	<div id="title_box3">
		<div id="csr_main_img_report_sub">
			<h1>Response to climate change</h1>
		</div>
	</div>

  <div class="Section">
    <p>Global warming will not only increase global temperatures but will also significantly change the global climate.  It has already begun impacting and causing damage to the natural environment and people's lives in many parts of the world.<br>Regarding climate change as an important issue, Japan Post Group will strive to mitigate the impact and adapt to it. </p>
  </div>
	
	<h2 class="Header">Commitment</h2>
	<div class="Section">
		<p>
      Recently, abnormal weather due to the impact of climate change, such as rising temperatures and the increasing scale of typhoons, have already been observed, and the effects of these phenomena are expected to become even greater.<br>
      While Japan Post Group develops close-knit businesses for local residents through its network of 24,000 post offices across the country, the Group recognizes that climate change is an issue that could have a material impact on its businesses, leading to such possibilities as the disruption of the post office network and the delay of accompanying services.<br>
      The Group has adhered to a policy of reducing GHG emissions as one of its initiatives aimed at achieving the SDGs in Japan Post Group CSR Basic Policy and has been working to contribute to the creation of a sustainable society through such means as investment in green bonds.  In addition, the Group declared its support for the recommendations of the TCFD, which was established by the FSB in April 2019, and strives for increased information disclosure by deepening analysis of the impact of climate change on the business of each Japan Post Group company based on the TCFD recommendations.<br>
      According to Japan Post Group CSR Basic Policy, Japan Post Group will continue to strive to undertake business operations adapted to the impact of climate change and will actively promote business and environmental conservation activities with consideration toward reducing our burden on the environment.<br>
		</p>
	<!-- end .Section --></div>
	
	<div class="Section Table-Border">
		<table>
			<colgroup style="width: 30%;"></colgroup>
			<colgroup style="width: 70%;"></colgroup>
			<thead>
				<tr>
					<th scope="col" class="Text-Center"><strong>Overview of the TCFD recommendations</strong></th>
					<th scope="col" class="Text-Center"><strong>Response of Japan Post Group</strong></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="2" class="BG-Gray"><strong>Governance</strong></td>
				</tr>
				<tr>
					<th>
						<ul class="tcfd-list">
							<li class="tcfd-item">Climate-related risks and opportunities and the supervision of the Board of Directors should be described.</li>
							<li class="tcfd-item">The role of the management team in evaluating and managing climate-related risks and opportunities should be described.</li>
						</ul>
					</th>
					<td>
						<p>Japan Post Group has declared in Japan Post Group CSR Basic Policy that we shall strive to undertake business operations adapted to the impact of climate change and actively promote business and environmental conservation activities with consideration toward reducing our burden on the environment. In addition, under Japan Post Group Medium-Term Management Plan JP Vision 2025 announced in May 2021, the Group upholds a policy to reduce GHG emissions as one of our initiatives targeted and promotes business activities that consider climate change and global warming. Japan Post Group CSR Basic Policy and Japan Post Group Medium-Term Management Plan JP Vision 2025 have been approved by the Management Committee and the Board of Directors of Japan Post Holdings (the "Company").</p>
						<p>As the chief executive for the execution of business the President and CEO of Japan Post Group assumes the ultimate responsibility for setting the targets related to climate change, promoting on measures to achieve them, and identifying risks and opportunities.</p>
						<p>To ensure that the process and content of management decisions of the President and CEO are reasonable and appropriate, the Management Committee, which configured with executive officers that the President and CEO designated, has been organized as an advisory body to the President and CEO.The Sustainability Committee has been established as one of the expert committees established as an advisory body for the Management Committee to deliberate and decide on specialized matters. It shall deliberate on policies over the Company's sustainability including climate change and report them to the Management Committee.</p>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="BG-Gray"><strong>Strategy</strong></td>
				</tr>
				<tr>
					<th>
						<ul class="tcfd-list">
							<li class="tcfd-item">Short-, medium- and long-term climate-related risks and opportunities identified by the organization should be described.</li>
							<li class="tcfd-item">The impact of climate change-related risks and opportunities for the businesses, strategies and financial plans of the organization should be described.</li>
						</ul>
					</th>
					<td>
						<p>Japan Post Group has declared in Japan Post Group CSR Basic Policy that we shall strive to undertake business operations adapted to the impact of climate change and actively promote business and environmental conservation activities with consideration toward reducing our burden on the environment.In addition, under “Japan Post Group Medium-Term Management Plan JP Vision 2025” announced in May 2021, the Group upholds a policy to reduce GHG emissions as one of our primary target and promotes business activities that consider climate change and global warming.Japan Post Group CSR Basic Policy and “Japan Post Group Medium-Term Management Plan JP Vision 2025” have been approved by the Management Committee and the Board of Directors of Japan Post Holdings (the "Company").</p>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="BG-Gray"><strong>Risk Management</strong></td>
				</tr>
				<tr>
					<th>
						<ul class="tcfd-list">
							<li class="tcfd-item">The process of the organization to identify and evaluate climate-related risks should be described.</li>
							<li class="tcfd-item">The process of the organization to manage climate-related risks should be described.</li>
							<li class="tcfd-item">The description should include how the process to identify, evaluate and manage climate-related risks is integrated into the overall risk management of the organization.</li>
						</ul>
					</th>
					<td>
						<p>In Japan Post Group, risks related to climate change are reported to the Sustainability Committee, the Management Committee and the Board of Directors.  When identifying and evaluating these risks, the departments in charge of ESG play a central role in clarifying the risks jointly with other departments in the Company and with the Group companies while referring to the long-term climate change scenarios.  They also will evaluate the significance of these risks according to their financial impact based on the scenarios.</p>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="BG-Gray"><strong>Indicators and Targets</strong></td>
				</tr>
				<tr>
					<th>
						<ul class="tcfd-list">
							<li class="tcfd-item">Measurement standards (indicators) for the organization to use for evaluating climate-related risks and opportunities in line with its own strategies and risk management should be disclosed.</li>
							<li class="tcfd-item">GHG emissions in Scope 1 and Scope 2, as well as Scope 3 if applicable, and related risks should be disclosed.</li>
							<li class="tcfd-item">Targets for the organization to use for managing climate-related risks and opportunities and the performance compared with the targets should be described.</li>
						</ul>
					</th>
					<td>
						<p>The Japan Post Group has set as its ESG target under JP Vision 2025 an ultra-long-term goal aiming to achieve carbon neutrality by 2050, with the milestone for steadily promoting this goal set as a 46% reduction in CO2 by the fiscal year ending March 31, 2031 (compared to the fiscal year ended March 31, 2020), among a variety of other initiatives aimed at realizing carbon neutrality.</p>
						<ul>
							<li><a href="/en/csr/environmental-management/#ghgchallenge" class="Link">Japan Post Group GHG Emission Reduction Target</a></li>
							<li><a href="/en/csr/data/" class="Link">ESG Data</a></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

  <h2 class="Header">Important risks and opportunities from future climate change to business and Scenario analysis</h2>
  <div class="Section">
    <p>Japan Post Group has identified risks and opportunities that future climate change may have on its business and has embarked on scenario analysis of their impact. We recognize that the entire Group including its supply chains must be covered by the scenario analysis. We will expand the scope of analysis and use it to formulate business strategies to reduce risks and expand opportunities, in the future.</p>
  </div>
  <div class="Section List-General">
    <ul>
      <li><a class="Link" href="/en/csr/environmental-management/post-scenario.html"><span>Postal and Domestic logistics business</span></a></li>
      <li><a class="Link Popup" href="https://www.jp-bank.japanpost.jp/en/csr/esg/env/en_csr_esg_env_tcfd.html" rel="noopener noreferrer"><span>Banking business</span></a></li>
      <li><a class="Link Popup" href="https://www.jp-life.japanpost.jp/english/aboutus/csr/en_abt_csr_enviroment.html#csrEnv5" rel="noopener noreferrer"><span>Life insurance business</span></a></li>
    </ul>
  </div>

	<h3 class="Header">Future response to the TCFD recommendations</h3>
	<div class="Section">
		<p>While Japan Post Group have begun disclosing information by embarking on scenario analysis along with the TCFD recommendations, coverage of the scenario analysis is still limited. Going forward, we will deepen our consideration of countermeasures against the assumed impacts and will proceed with the analysis of other business in our group and analysis of the quantification of risks and opportunities.</p>
	</div>

	
  <h2 class="Header">Related information</h2>
	<div class="Section List-General">
	  <ul>
		<li><a class="Link" href="/en/csr/">Japan Post Group Sustainability</a></li>
		<li><a class="Link" href="/en/csr/index02.html">Japan Post Group CSR Basic Policy</a></li>
		<li><a class="Link" href="/en/csr/materiality.html">CSR Priority Issues (Materiality) of Japan Post Group</a></li>
	 </ul>
	<!-- end .Section.List-General --></div>
<!-- end #environmental_management_index --></div>