<div id="environmental_management_index">
	<div id="title_box">
		<div id="csr_main_img_report">
			<h1>Environmental Management System</h1>
		</div>
		<p class="explanation2">We will strive to operate our businesses in ways that adapt to the impact of climate change. At the same time, we will be proactive in promoting business activities in an environmentally friendly manner and implementing environmental conservation activities.</p>
	</div>
	<h2 id="policy" class="Header">Specific Policy on Promotion</h2>
	<div class="Section">
		<p>In accordance with Japan Post Group CSR Basic Policy, Japan Post Group will promote business activities with consideration for climate change and environmental pollution in its efforts to achieve a sustainable society. At the same time, the Group will strive to make effective use of limited resources and reduce waste.</p>
		<div class="Section List-General">
			<ul>
				<li><a class="Link" href="/en/csr/index02.html">Japan Post Group CSR Basic Policy</a></li>
			</ul>
		</div>
	<!-- end .Section --></div>
	<h3 class="Header">Reduction of Greenhouse Gases</h3>
	<div class="Section Col">
		<div class="Grid-Column">
			<p>Japan Post Group has set the ultra-long-term target of "achieving carbon neutrality by 2050" and the milestone  "46% (compared with FY2019)reduction by 2030" as a target of steadily promoting this goal in the Group Medium-term Management Plan, "JP Vision 2025" as ESG targets.<br>We will promote initiatives to achieve carbon neutrality.</p>
			<div class="Section List-General">
				<ul>
					<li><a class="Link Inner" href="#ghgchallenge">Japan Post Group GHG Emission Reduction Target</a></li>
				</ul>
			</div>
		</div>
	</div>
	<h3 class="Header">Reduction of Energy Consumption</h3>
	<div class="Section Col">
		<div class="Grid-Column">
			<p>To steadily promote measures for reducing GHG arising from our business activities, we have set a specific plan to reduce the consumption. We will thus strive to reduce energy consumption in our business activities.</p>
			<div class="Section List-General">
				<ul>
					<li><a class="Link Inner" href="#energygoal">Energy Consumption Reduction Target, Plan and the costs related to climate change</a></li>
				</ul>
			</div>
		</div>
	</div>
	<h3 class="Header">Effective Resource Utilization and Waste Reduction</h3>
	<div class="Section Col">
		<div class="Grid-Column">
			<p>We will use limited resources without wasting them and promote initiatives for building a recycling-based society, such as paperless operations and reducing, reusing and recycling.</p>
		</div>
	</div>
	
	<h3 class="Header">Compliance with Laws, Regulations and Other Rules</h3>
	<div class="Section Col">
		<div class="Grid-Column">
			<p>We will comply with laws, regulations, various agreements and other rules in our efforts to prevent our business activities from causing pollution and other problems.</p>
		</div>
	</div>
	<h3 class="Header">Collaborations with External Parties</h3>
	<div class="Section Col">
		<div class="Grid-Column">
			<p>In April 2019, Japan Post Holdings, Japan Post Bank and Japan Post Insurance expressed support for the TCFD* recommendations. Moving forward, we will deepen analysis of the impact of climate change on the Group's businesses and strive to disclose even more information in accordance with the TCFD recommendations.</p>
			<p>*TCFD stands for the Task Force on Climate-related Financial Disclosures, which was established by the Financial Stability Board.</p>
			<div class="Section List-General">
				<ul>
					<li><a class="Link Inner" href="#tcfddisclosures">Expression of Support for the TCFD Recommendations</a></li>
				</ul>
			</div>
		</div>
	</div>
	<h2 id="system" class="Header">Environmental Management System</h2>
	<div class="Section Col">
		<div class="Grid-Column">
			<p>Recognizing the importance of initiatives for tackling climate change and global warming, making effective use of resources and reducing waste, we have set the Sustainability Committee as an advisory body to the Management Meeting. The Sustainability Committee deliberates on Japan Post Group's medium- and long-term strategies for sustainability management and reports the content of the deliberations to the Board of Directors and the Management Meeting. We have also established the Group Sustainability Liaison Conference for Group companies to check and share the direction.</p>
			<div class="Image Text-Center"><img alt="Group Sustainability Promotion System" src="/en/csr/environment/images/index_img_04.png"></div>
		</div>
	</div>
	<h2 id="ghgchallenge" class="Header">Japan Post Group GHG Emission Reduction Target</h2>
	<div class="Section Col">
		<div class="Grid-Column">
      <p>Japan Post Group has set the ultra-long-term target of "achieving carbon neutrality by 2050" and the milestone  "46% (compared with FY2019)reduction by 2030" as a target of steadily promoting this goal in the Group Medium-term Management Plan, "JP Vision 2025" as ESG targets.<br>We will promote initiatives to achieve carbon neutrality.</p>
			<div class="Image Text-Center"><img alt="Environmental change" src="/en/csr/environment/images/challenge_img_02.png"></div>
		</div>
	</div>

	<h2 id="result" class="Header">Performance Data</h2>
	<div class="Section List-General">
		<ul>
			<li><a class="Link" href="/en/csr/data/#emissions">Data on GHG Emission and Energy Consumption</a></li>
			<li><a class="Link" href="/en/csr/data/#resource">Data on Resources (Data on the Amount of Waste, Recycle, Copy Paper and Water Use)</a></li>
		</ul>
		<!-- end .Section.List-General -->
	</div>
	<h2 class="Header">Status of Progress</h2>
	<div class="Section List-General">
		<ul>
			<li><a class="Link" href="/en/csr/data/#goal">Status of Progress towards Japan Post Group GHG Emission Reduction Target and Energy Consumption Reduction Target</a></li>
		</ul>
	</div>
	<h2 id="collaboration" class="Header">Actions Taken in Collaboration with External Parties</h2>
	<h3 class="Header">Support for Cool Choice</h3>
	<div class="Section Col2 TextImageBlock Image-Left">
		<div class="Grid-Column Image">
			<div class="Image"><a href="/csr/environment/cool_choice.html"><img width="300" alt="Cool Choice logo mark" src="/csr/environment/images/indexcc_img_02.jpg"></a></div>
			<!-- end .Grid-Column.Image -->
		</div>
		<div class="Grid-Column Text">
			<div class="Box">
				<p>Japan Post Holdings, Japan Post, Japan Post Bank and Japan Post Insurance support Cool Choice.<br>
				Cool Choice is a national movement promoted by the Government of Japan (Ministry of the Environment). Aimed at achieving a 26% reduction in greenhouse gas emissions from the FY2013 level by FY2030, Cool Choice encourages wise choices that help tackle global warming, such as services and lifestyles that contribute to building a low-carbon society.</p>
				<div class="listLink">
					<p class="arrow"><a href="/csr/environment/cool_choice.html">We support Cool Choice.</a> (Japanese)</p>
				</div>
			</div>
		</div>
	</div>
	<h3 class="Header">Participation to the COOL CHOICE campaign</h3>
	<div class="Section">
		<p>
			Japan Post has joined one of the COOL CHOICE campaigns supervised by the Ministry of the Environment (MOE), "Why Not Receive Your Baggage With One Delivery - Project For Working Together To Reduce Redelivery".<br>
			In this project, the Japanese government and corporations jointly promote initiatives to achieve a low-carbon society in relation to the climate change through reducing redeliveries by postal service companies and developing the awareness towards the environmental impact of postal services among each Japanese citizens. <br>
			At Japan Post, we provide our postal service users with "e-Delivery Notice" and other services to notify the delivery time or absence through emails and social networking services. 
		</p>
	</div>
	<h3 class="Header">Participation to the Package-Drop Service Conference</h3>
	<div class="Section">
		<p>Japan Post has participated to the Package-Drop Service Conference supervised by the Ministry of Land, Infrastructure, Transport and Tourism (MLIT) and the Ministry of Economy, Trade and Industry (METI) of the Japanese government. The Conference was established to mitigate the climate change through reducing redeliveries, cutting CO2 emissions, and resolving relevant issues, such as the shortage of delivery drivers and excessive working hours. Our new delivery service since March 2019 - "Delivery Service at Designated Spot", which enables users to receive mails at the entrance or meter box, was introduced in the 2019 Annual Report of the Environment issued by the MOE about its outlook and effectiveness.</p>
	<div class="Link">
		<p><a href="https://www.env.go.jp/en/wpaper/" class="Link Popup"><span>The Annual Report of the Environment - the Ministry of the Environment</span></a></p>
	</div>
	</div>
	<h3 id="tcfddisclosures" class="Header">Expression of Support for the TCFD Recommendations</h3>
	<div class="Section Col2 TextImageBlock Image-Right">
		<div class="Grid-Column Image">
			<div class="Image"><img width="300" alt="TCFD logo mark" src="/csr/environment/images/indexcc_img_05.jpg"></a></div>
		</div>
		<div class="Grid-Column Text">
			<div class="Box">
				<p>Japan Post Holdings, Japan Post Bank and Japan Post Insurance expressed support for recommendations by the Task Force on Climate-related Financial Disclosures (TCFD), which was established by the Financial Stability Board (FSB). In Japan Post Group CSR Basic Policy, the Group declares: "We shall strive to undertake business operations adopted the impact of climate change and actively promote business activities and environmental conservation activities that consider reducing the burden on the global environment." In addition, in Japan Post Group Medium-Term Management Plan JP Vision 2025 , the Group has set the reduction of greenhouse gas emissions as one of our primary target. Other than that, the group promotes initiatives for helping to build a sustainable society, including investment in green bonds. Furthermore, the Group has analyzed the impact of climate change on the business of each Japan Post Group company based on the TCFD recommendations.</p>
			</div>
			<div class="Link">
				<p><a href="/en/csr/environmental-management/climate.html" class="Link"><span>Response to climate change</span></a></p>
			</div>
		</div>
	</div>

	<h2 class="Header">Specific Actions</h2>
	<div class="Section List-General">
		<ul>
			<li><a class="Link" href="/csr/environment/#GreenhouseGas">CSR Priority Issue: Reduction of Greenhouse Gas Emissions</a>（Japanese)</li>
			<li><a class="Link" href="/csr/environment/#ResourcesAndWaste">CSR Priority Issue: Effective Resource Utilization and Waste Reduction</a>（Japanese)</li>
		</ul>
	<!-- end .Section.List-General --></div>
	<h2 class="Header">Related information</h2>
	<div class="Section List-General">
	  <ul>
		<li><a class="Link" href="/en/csr/">Japan Post Group Sustainability</a></li>
		<li><a class="Link" href="/en/csr/index02.html">Japan Post Group CSR Basic Policy</a></li>
		<li><a class="Link" href="/en/csr/materiality.html">CSR Priority Issues (Materiality) of Japan Post Group</a></li>
	 </ul>
	<!-- end .Section.List-General --></div>
<!-- end #environmental_management_index --></div>