<div id="title_box">
  <div id="csr_main_img_report">
    <h1>JP里山コミュニケーション</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Grid-Column Text">
<div class="Box">
<p class="mb15">日本郵政グループは、2018年10月から「JP里山コミュニケーション」と称して、東京都八王子市の清水入緑地公園の整備活動を行っています。2021年度も、新型コロナウイルス感染症の状況に配慮しながら整備活動を行っています。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/index_img_01.jpg" alt="" />
<p class="Caption">活動の参加者の集合写真（2019年5月）</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/index_img_02.jpg" alt="" />
<p class="Caption">竹を伐採</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h2 class="Header"><span>「JP里山コミュニケーション」活動のコンセプト</span></h2>
<div class="Section">
<p>近年、自治体が所有する緑地や公園において、人手や予算等の問題により整備が行き届かず、景観や環境保全、レクリエーション、防災等本来の機能が失われてしまう事象の増加が社会問題化しています。</p>
<p>地域に寄り添い、事業を展開する企業グループとして、この問題の解決に貢献することにより、地域コミュニティの再生・活性化およびグループと地域とのつながり、コミュニケーションの深耕を図るため、グループ一体となって活動を展開していきます。</p>
<!-- end .Section --></div>

<h2 id="Report" class="Header"><span>「JP里山コミュニケーション」活動レポート</span></h2>
<div class="Section">
<p>「JP里山コミュニケーション」の主な活動のレポートがご覧いただけます。</p>
<!-- end .Section --></div>

<div class="Section Table-Border">
<table><caption class="Hidden">「JP里山コミュニケーション」活動レポート一覧</caption><colgroup> <col style="width: 25%;" /> <col style="width: 75%;" /> </colgroup>
<thead>
<tr><th class="BG-Gray" scope="col">実施日</th><th class="BG-Gray" scope="col">実施場所</th></tr>
</thead>
<tbody>
<tr><th scope="row">2019年5月18日</th>
<td><a class="Link" href="/sustainability/environment/satoyama/report02.html"><span>清水入緑地（東京都八王子市）</span></a></td>
</tr>
<tr><th scope="row">2018年10月20日</th>
<td><a class="Link" href="/sustainability/environment/satoyama/report01.html"><span>清水入緑地（東京都八王子市）</span></a></td>
</tr></tbody>
</table>
<!-- end .Section.Table-Border --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
