<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>「JP里山コミュニケーション」活動レポート（2018年10月）</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="700" alt="" src="/sustainability/satoyama/images/report01_img_01.jpg">
<p class="Caption">ボランティア活動に参加した皆さん</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<div class="Section">
<p>2018年10月20日（土曜日）、東京都八王子市の「清水入緑地」で、協働団体のNPO法人ドングリの会の皆さんのご協力の下、緑地の整備活動を行いました。</p>
<p>今回の活動には、日本郵政グループ各社の社員とそのご家族およそ60人が参加しました。ドングリの会の皆さんから作業の説明を受けたあと、笹刈りと竹刈りの2つのチームに分かれて、インストラクターの指導に従いながら、それぞれおよそ1時間半にわたって作業を行いました。</p>
<p>作業のあと、緑地内に設けられた苗畑に、当日現地で拾ったドングリを撒きました。春には芽を出し、苗木に育ったところで、緑地公園内に植樹する予定です。</p>
<!-- end .Section --></div>

<h2 class="Header"><span>緑地整備活動の作業風景</span></h2>

<h3 class="Header"><span>竹刈り作業の様子</span></h3>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report01_img_02.jpg" alt="" />
<p class="Caption">作業前には竹が生い茂り薄暗い状態でした</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report01_img_03.jpg" alt="" />
<p class="Caption">竹刈りチームはのこぎりを使って竹を切りました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report01_img_04.jpg" alt="" />
<p class="Caption">一時間半の作業でこれだけの竹を切り出しました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report01_img_05.jpg" alt="" />
<p class="Caption">竹を刈り終えると広い空間が広がり光が差し込むようになりました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>笹刈り作業の様子</span></h3>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report01_img_06.jpg" alt="" />
<p class="Caption">笹刈りチームは鎌を使って笹を刈り取りました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report01_img_07.jpg" alt="" />
<p class="Caption">笹を刈る前は遊歩道もこのような状態でした</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report01_img_08.jpg" alt="" />
<p class="Caption">笹を刈ったところは遊歩道に光がさすようになりました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report01_img_09.jpg" alt="" />
<p class="Caption">斜面もすっかりきれいになりました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>苗木作りのための種まきの様子</span></h3>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report01_img_10.jpg" alt="" />
<p class="Caption">作業の前に緑地内でドングリを拾いました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report01_img_11.jpg" alt="" />
<p class="Caption">植えるドングリは横にして並べていきます</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report01_img_12.jpg" alt="" />
<p class="Caption">苗畑にドングリを植えていきました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report01_img_13.jpg" alt="" />
<p class="Caption">土をかけて来年の春に芽が出るのを待ちます</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header">参加した従業員ボランティアにSDGsBookを配布</h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/satoyama/images/report01_img_14.jpg" style="width: 240px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>当日の活動の最後には、参加した従業員ボランティアの皆さんに、2018年10月に発行した「SDGsBook」を配布し、持続可能な社会の実現に向けた日本郵政グループの取り組みについて、理解を深めてもらいました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section List-General">
<p>2019年5月の活動の様子</p>
  <ul>
    <li><a class="Link" href="/csr/satoyama/report02.html">「JP里山コミュニケーション」活動レポート（2019年5月）</a></li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/">日本郵政グループのサステナビリティ</a></li>
    <li><a class="Link" href="/csr/topics/">グループCSRのトピックス</a></li>
    <li><a class="Link" href="/csr/satoyama/">JP里山コミュニケーション</a></li>
  </ul>
<!-- end .Section --></div>