<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>「JP里山コミュニケーション」活動レポート（2019年5月）</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>2019年5月18日（土曜日）、東京都八王子市の「清水入緑地」で、協働団体のNPO法人ドングリの会の皆さんのご協力の下、約100名のグループ従業員とその家族が、緑地の整備活動を行いました。</p>
<!-- end .Section --></div>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="700" alt="" src="/sustainability/satoyama/images/report02_img_01.jpg">
<p class="Caption">ボランティア活動に参加した皆さん</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<div class="Section">
<p>今回の活動には、日本郵政グループ各社の従業員とそのご家族およそ100人が参加しました。作業の前に、2018年10月の第1回作業で刈り取った竹林の様子を全員で観察しました。ドングリの会の皆さんから作業の説明を受け、笹刈りと竹刈りの2つのチームに分かれて、インストラクターの指導に従いながら、それぞれおよそ1時間半にわたって作業を行いました。</p>
<p>竹刈り作業のあとには堆肥場づくりを行いました。堆肥場は、緑地内で刈り取った竹を使って竹囲いを組み立て、そこに周囲の落ち葉を集め、集めた落ち葉を子どもたちが中心となって踏み固めました。落ち葉はやがて発酵して腐葉土となり、やがては近隣住民の皆さんにも堆肥として活用いただく予定です。</p>
<!-- end .Section --></div>

<h2 class="Header"><span>緑地整備活動の作業風景</span></h2>

<h3 class="Header"><span>竹刈り作業の様子</span></h3>
<div class="Section">
<p>竹刈り班は、約20名で鋸を使って直径10センチほどに育った竹を間引く作業をしました。他の作業者に当たらないよう注意して竹を切り倒し、倒した竹は運びやすいよういくつかに分割して積み上げていきました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_02.jpg" alt="" />
<p class="Caption">前回の作業で竹刈りをした場所を観察する様子</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_03.jpg" alt="" />
<p class="Caption">のこぎりなどの道具の使い方を教わりました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_04.jpg" alt="" />
<p class="Caption">竹刈り班と笹刈り班に分かれ、作業場所に向かいました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_05.jpg" alt="" />
<p class="Caption">のこぎりで竹を刈っていきました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_06.jpg" alt="" />
<p class="Caption">作業前にはこんなに竹が生えていました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_07.jpg" alt="" />
<p class="Caption">竹刈り作業後にはすっかり明るくなりました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>笹刈り作業の様子</span></h3>
<div class="Section">
<p>笹刈り班は、約80名が3つのチームに分かれて、緑地内の笹を刈り取りました。鎌を使って生い茂った笹を刈り取り、どんどん積み上げていきました。笹を刈り取った後は遊歩道の周りなどがすっかり明るくなりました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_08.jpg" alt="" />
<p class="Caption">生い茂った笹の中に入り順番に刈りとりました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_09.jpg" alt="" />
<p class="Caption">ベンチの周りの笹も丁寧に刈り取りました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_10.jpg" alt="" />
<p class="Caption">刈った笹が積み上げられ、周囲は明るくなってきました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_11.jpg" alt="" />
<p class="Caption">遊歩道横の斜面もすっかりきれいになりました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>堆肥場づくりの様子</span></h3>
<div class="Section">
<p>竹刈りチームは、作業後に別の場所に集まって竹囲いを作りました。堆肥を作るために周囲の落ち葉を拾い、竹囲いに集めて踏み固めました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_12.jpg" alt="" />
<p class="Caption">刈り取った竹で竹囲いを作りました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_13.jpg" alt="" />
<p class="Caption">熊手を使って枯葉を集めました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_14.jpg" alt="" />
<p class="Caption">集めた笹を堆肥場となる竹囲いに入れました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_15.jpg" alt="" />
<p class="Caption">集めた枯葉を子どもたちがジャンプしながら踏み固めました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header"><span>前回の活動で種まきをした苗畑の様子</span></h3>
<div class="Section">
<p>2018年の第1回の活動では、緑地内に整備した苗畑にドングリを植えました。昨年の秋にまいたドングリは、芽を出し、順調に育っていました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_17.jpg" alt="" />
<p class="Caption">前回（2018年10月）の種まきの様子</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/satoyama/images/report02_img_18.jpg" alt="" />
<p class="Caption">ドングリの芽が育ってきた苗畑の様子</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section List-General">
<p>前回（2018年10月）の活動の様子</p>
  <ul>
    <li><a class="Link" href="/csr/satoyama/report01.html">「JP里山コミュニケーション」活動レポート（2018年10月）</a></li>
  </ul>
<!-- end .Section --></div>

<h3 class="Header">参加した従業員ボランティアにSDGsBookを配布</h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="（画像）日本郵政グループ SDGs Book" src="/sustainability/report/images/index_img_sdgsbook2018.jpg"  width="160" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>当日の活動の最後には、参加した従業員ボランティアの皆さんに、2018年10月に発行した「SDGsBook」を配布し、持続可能な社会の実現に向けた日本郵政グループの取り組みについて、理解を深めてもらいました。</p>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/sdgs/index.html"><span>SDGs Book</span></a></li>
  </ul>
<!-- end .Section --></div>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/">日本郵政グループのサステナビリティ</a></li>
    <li><a class="Link" href="/csr/topics/">グループCSRのトピックス</a></li>
    <li><a class="Link" href="/csr/satoyama/">JP里山コミュニケーション</a></li>
  </ul>
<!-- end .Section --></div>