<div id="title_box">
  <div id="csr_main_img_movie">
    <h1>日本郵政グループCSRムービー</h1>
  </div>
  <p class="explanation2">動画で見る日本郵政グループのCSR活動</p>
</div>
<!-- /#title_box-->
<p class="Category Lead">日本郵政グループが取り組んでいる社会貢献および環境に関する取り組みを動画でご紹介します。</p>

<h3 class="Header"><span>2017年度（平成29年度）</span></h3>
  <h4 class="ttl_h4">宅配ロッカー「はこぽす」によるCO<sub style="font-size: 80%;">2</sub>排出量の削減プロジェクト</h4>
  <div class="utile_box">
    <div class="utile_img">
      <p><a href="/csr/movie/2017_002.html"><img src="/sustainability/case/images/csr_movie_2017_002.jpg" alt="宅配ロッカー「はこぽす」によるCO2排出量の削減プロジェクト"></a></p>
    </div>
    <div class="utile_txt">
      <p>日本郵便が2015年から設置を進めている宅配ロッカー「はこぽす」によるCO<sub style="font-size: 80%;">2</sub>排出量削減の取り組みをご紹介します。</p>
      <dl>
        <dt>動画を見る</dt>
        <dd><a class="Link" href="/csr/movie/2017_002.html"><span>宅配ロッカー「はこぽす」によるCO<sub style="font-size: 80%;">2</sub>排出量の削減プロジェクト</span></a></dd>
      </dl>
    </div>
  </div>

  <h4 class="ttl_h4">「JP子どもの森づくり運動」の取り組み</h4>
  <div class="utile_box">
    <div class="utile_img">
      <p><a href="/csr/movie/2017_001.html"><img src="/sustainability/case/images/csr_movie_2017_001.jpg" alt="JP子どもの森づくり運動「東北復興グリーンウェイブ」の取り組み"></a></p>
    </div>
    <div class="utile_txt">
      <p>日本郵政グループが特別協賛し、2008年に始まった「JP子どもの森づくり運動」と、2012年に始まった「東北復興グリーンウェイブ」の取り組みをご紹介します。</p>
      <dl>
        <dt>動画を見る</dt>
        <dd><a class="Link" href="/csr/movie/2017_001.html"><span>「JP子どもの森づくり運動」の取り組み</span></a></dd>
      </dl>
    </div>
  </div>


<h3 class="Header"><span>2016年度（平成28年度）</span></h3>
  <h4 class="ttl_h4">インクカートリッジ里帰りプロジェクト</h4>
  <div class="utile_box">
    <div class="utile_img">
      <p><a href="/csr/movie/2016_002.html"><img src="/sustainability/case/images/csr_movie_2016_002.jpg" alt="インクカートリッジ里帰りプロジェクト"></a></p>
    </div>
    <div class="utile_txt">
      <p>日本郵便株式会社はプリンターメーカー5社と協力して行っている、使用済みインクカートリッジの共同回収「インクカートリッジ里帰りプロジェクト」で回収したインクカートリッジのリサイクルまでの模様です。</p>
      <dl>
        <dt>動画を見る</dt>
        <dd><a class="Link" href="/csr/movie/2016_002.html"><span>インクカートリッジ里帰りプロジェクト</span></a></dd>
      </dl>
    </div>
  </div>

<h3 class="Header"><span>2015年度（平成27年度）</span></h3>
  <h4 class="ttl_h4">エコプロダクツ2015への出展</h4>
  <div class="utile_box">
    <div class="utile_img">
      <p><a href="/csr/movie/2016_001.html"><img src="/sustainability/case/images/csr_movie_2016_001.jpg" alt="エコプロダクツ2015"></a></p>
    </div>
    <div class="utile_txt">
      <p>2015年12月10日から12日まで、東京ビッグサイトで開催された環境イベント「エコプロダクツ2015」に出展した際の模様です。</p>
      <dl>
        <dt>動画を見る</dt>
        <dd><a class="Link" href="/csr/movie/2016_001.html"><span>エコプロダクツ2015への出展</span></a></dd>
      </dl>
    </div>
  </div>

  <h4 class="ttl_h4">JP子どもの森づくり運動「東北復興グリーンウェイブ」山田町植樹会（2015年5月）</h4>
  <div class="utile_box">
    <div class="utile_img">
      <p><a href="/csr/movie/2015_001.html"><img src="/sustainability/case/images/csr_movie_2015_001.jpg" alt="JP子どもの森づくり運動「東北復興グリーンウェイブ」山田町植樹会"></a></p>
    </div>
    <div class="utile_txt">
      <p>2015年5月に岩手県山田町で実施した、JP子どもの森作り運動「東北復興グリーンウェイブ」第2回植樹会の模様です。</p>
      <dl>
        <dt>動画を見る</dt>
        <dd><a class="Link" href="/csr/movie/2015_001.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」山田町植樹会（2015年5月22日）</span></a></dd>
      </dl>
    </div>
  </div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/">CSR</a></li>
    <li><a class="Link" href="/csr/topics/">グループCSRのトピックス</a></li>
    <li><a class="Link" href="/csr/movie/">日本郵政グループCSRムービー</a></li>
    <li><a class="Link" href="/csr/kids/">JP子どもの森づくり運動</a></li>
  </ul>
<!-- end .Section.List-General --></div>
