<div id="title_box">
  <div id="csr_main_img_human">
    <h1>健康経営</h1>
  </div>
</div>
<!-- /#title_box-->

<h2 id="promote" class="Header">健康経営の推進</h2>
<div class="Section Col">
  <p>社員一人ひとりが持てる能力を存分に発揮し活き活きと働くためには心身の健康が大切であるとの認識の下、グループ4社社長を「健康経営推進責任者」とした「日本郵政グループ健康経営推進体制」を構築し、「長時間労働の抑制」「生活習慣病の予防・改善に向けた保健指導」「メンタルヘルスケア」などの健康保持・増進施策に取り組んでいます。</p>
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img src="/sustainability/human/images/human_10.jpg" alt="体制図"></div>
  </div>
<!-- end .Section --></div>

<h3 class="Header">社員参画型の健康増進施策の展開</h3>
<div class="Section">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img src="https://via.placeholder.com/840x500.png" alt="社員参画型の健康増進施策の展開"></div>
  </div>
</div>

<h3 class="Header">健康診断結果のデータ分析による効果的な施策展開とICTを活用した保健指導</h3>
<div class="Section">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img src="https://via.placeholder.com/840x500.png" alt="健康診断結果のデータ分析による効果的な施策展開とICTを活用した保健指導"></div>
  </div>
</div>




<!-- <hr class="demarcation">
<div class="associated_info">
  <dl>
    <dt>グループ各社の取り組み</dt>
    <dd><a href="https://www.post.japanpost.jp/about/csr.html" class="Link Popup" target="_blank"><span>日本郵便株式会社のCSRの取り組み</span></a>-日本郵便</dd>
    <dd><a href="https://www.jp-bank.japanpost.jp/aboutus/csr/abt_csr_index.html" class="Link Popup"  target="_blank"><span>株式会社ゆうちょ銀行のESG・CSRの取り組み</span></a>-ゆうちょ銀行</dd>
    <dd><a href="https://www.jp-life.japanpost.jp/aboutus/csr/abt_csr_index.html" class="Link Popup"  target="_blank"><span>株式会社かんぽ生命保険のCSR活動</span></a>-かんぽ生命</dd>
  </dl>
</div> -->

<!-- <h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
  </ul>
</div> -->