@charset "utf-8";

/* =========================================================== */
/* Contents of mobile.css
/* ===========================================================
	00. Frames
	01. Header
	02. Global Navigation
	03. Site Tools
	04. Contents
	05. Page Top Link
	06. Local Navigation Area
	07. Group Links
	08. Footer Navigation
	09. Footer
	10. Basic Style
		-00. General
		-01. Headers
		-02. Main Visual
		-03. Lead Comment
		-04. Body Text
		-05. Links
		-06. Tables
		-07. Plugin Link
		-08. List Styles
	11. Layout Modules
		-01. Single Column
		-02. 2 Column
		-03. 2 Column with line
		-04. 2 Column with Image Right 1
		-05. 2 Column with Image Left 1
		-06. 3 Column
	12. Unique Style
		-01. Home
		-02. Image Control
		-03. Form
	13. Modal Window
	14. Slider
	15. IR
   =========================================================== */
/* end Contents of components.css
/* =========================================================== */





/* 00. Common
-------------------------------------------------------------- */
#wrap {
	font-size: 13px;
	line-height: 1.4em;
}
.inner {
	width: 100%;
	margin: 0;
	padding: 0;
}
.listLink {
  padding: 20px 0 15px 0;
  background-color: #fff;
}
.sp_none {
	display: none;
}
.pc_none {
	display: block;
}
.sp_w30 {
	width : 30% !important;
}
.sp_w40 {
	width : 40% !important;
}
.sp_w50 {
	width : 50% !important;
}
.sp_w60 {
	width : 60% !important;
}
.sp_w70 {
	width : 70% !important;
}
.sp_w80 {
	width : 80% !important;
}
.sp_w90 {
	width : 90% !important;
}
.sp_center {
	text-align : center !important;
}

/* 01. Frames
-------------------------------------------------------------- */
#Container,
.ContentsArea,
.SubContentsArea {
	float: none;
	width: 100%;
	overflow: hidden;
	margin:0;
	padding:10px 0 0;
}

/* 02. Header
-------------------------------------------------------------- */

#spMenu, nav.drawer-nav {
	display: block;
}

#Header {
	margin-bottom: 20px;
	text-align: center;
	background: none;
	background-color: #c00;
}

.EN #Header {
	margin-bottom: 20px;
	text-align: center;
	background: none;
	background-color: #c00;
}

.EN #Header img {
	width: 100%;
	max-width: 347px;
	height: auto;
}

.EN #Header #LogoArea h1,
.EN #Header #LogoArea p {
	margin: 0 10px 0 10px;
}

#LogoArea {
	min-height: 1.1em;
	float: none;
	width: auto;
	margin: 0;
	padding: 13px 0 14px;
}
#LogoArea p#HeaderLogo,
#LogoArea h1 {
	width: auto;
}

#LogoArea p#Description {
	display: none;
}

#AllSearch {
	display: none;
}
#HeaderNavigation {
	display: none;
}


#headerContens {
	width: 100%;
	height: 45px;
	padding: 12px 0 0;
	background-image: none;
	background-color: #cc0001;
}
#logoBox {
	width: 100%;
	padding: 0;
	float: none;
}
#logoBox h1 {
	width: 163px;
	margin: auto;
	float: none;
}


/* 03. Slide
-------------------------------------------------------------- */
#mainImgBox {
	width: 100%;
	height: auto;
	background-color: #fff;
	background-image: none;

}
#mainImgInner {
	width: 100%;
}
#slideBox {
	width: 100%;
	float: none;
	padding: 0 0 40px;
}
#slideBox p {
	bottom: 0;
	right: 10px;
}
#slideBox img {
	width: 100%;
	height: auto;
}
#slideBox p a {
	width: 150px;
	height: 60px;
	line-height: 60px;
	border: none;
}
#slideBox p a:link, #slideBox p a:visited {
	background-color: #676767;
}
#slideBox p a:hover {
	background-color: #CC0000;
}

/* 04. Global Navigation
-------------------------------------------------------------- */
.GlobalNavigation {
	display: none;
}

.GlobalNavigation.MobileMedia {
	display: block;
	margin-bottom: 20px;
	padding: 0;
}

.GlobalNavigation ul {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #d6d8da;
    border-top: 1px solid #d6d8da;
}

.GlobalNavigation ul li {
    flex-basis: calc(50% - 1px);
    border: none;
    border-right: 1px solid #d6d8da;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.GlobalNavigation ul li a,
.GlobalNavigation ul li a.Current {
	padding: 16px;
	font-size: 92.9%;
	font-weight: 100;
	line-height: 1.308;
	border-bottom: 1px solid #d6d8da;
	background-color: #f3f3e7;
	height: 100%;
	display: flex;
	box-sizing: border-box;
}

.GlobalNavigation ul li a.Current:hover,
.GlobalNavigation ul li a.Current:focus {
	background-color: #fff;
}

.GlobalNavigation ul li a span {
	display: inline-block;
	text-align: left;
	background-position: 0 0;
}


.EN .GlobalNavigation ul li {
    width: 50%;
	text-align: left;
}

/* 05. Site Tools
-------------------------------------------------------------- */
#SiteToolArea {
	display: none;
}

/* 06. Contents
-------------------------------------------------------------- */
#Contents {
	margin-bottom: 20px;
	padding: 0 10px;
}

#Contents .Section {
	margin-bottom: 15px;
}

#Contents .SmartPhoneMovie {
	display: block;
	margin-bottom: 20px;
}

#Contents .utile_img .SmartPhoneMovie,
#Contents .movieCol_img .SmartPhoneMovie {
	text-align: center;
}

#Contents .HomeMovie {
	display: none;
}

#inner_contents {
	padding:0;
}

/* 07. Page Top Link
-------------------------------------------------------------- */
.Pagetoplink {
	display: none;
}
/* 08. topBnrBox
-------------------------------------------------------------- */
#topBnrBox {
	width: 100%;
	background-color: #e9eaeb;
	margin: 10px 0 0;
	padding: 0;
	overflow: hidden;
}
#bnrEachCompany {
	width: 50%;
	margin: 0 0 10px;
	padding: 0 0 20px;
	float: left;
}
#bnrEachCompany02 {
	float: right;
	margin: 0 0 10px;
	padding: 0 0 20px;
	width: 50%;
}
#bnrEachCompany li:nth-child(1), #bnrEachCompany li:nth-child(2), #bnrEachCompany li:nth-child(3) {
	margin: 0;
	float: none;
}
#bnrEachCompany02 li:nth-child(1), #bnrEachCompany02 li:nth-child(2), #bnrEachCompany02 li:nth-child(3) {
	margin: 0;
	float: none;
}
#bnrEachCompany li:nth-child(1) a:link, #bnrEachCompany li:nth-child(1) a:visited, #bnrEachCompany li:nth-child(1) a:hover {
	margin: 0;
	background: url(../images/bnr_sp_jph.jpg) no-repeat;
	width: 100%;
	height: 0;
	padding-top: 35%;
	background-size: contain;
	float: none;
	display: block;
}
#bnrEachCompany li:nth-child(2) a:link, #bnrEachCompany li:nth-child(2) a:visited, #bnrEachCompany li:nth-child(2) a:hover {
	margin: 0;
	background: url(../images/bnr_sp_jpbank.jpg) no-repeat;
	width: 100%;
	height: 0;
	padding-top: 35%;
	background-size: contain;
	float: none;
	display: block;
}
#bnrEachCompany li:nth-child(3) a:link, #bnrEachCompany li:nth-child(3) a:visited, #bnrEachCompany li:nth-child(3) a:hover {
	margin: 0;
	background: url(../images/bnr_sp_jplife.jpg) no-repeat;
	width: 100%;
	height: 0;
	padding-top: 35%;
	background-size: contain;
	float: none;
	display: block;
}
#bnrEachCompany02 li:nth-child(1) a:link, #bnrEachCompany02 li:nth-child(1) a:visited, #bnrEachCompany02 li:nth-child(1) a:hover {
	margin: 0;
	background: url(../images/bnr_sp_off_zip_code_search.jpg) no-repeat;
	width: 100%;
	height: 0;
	padding-top: 35%;
	background-size: contain;
	float: none;
	display: block;
}
#bnrEachCompany02 li:nth-child(2) a:link, #bnrEachCompany02 li:nth-child(2) a:visited, #bnrEachCompany02 li:nth-child(2) a:hover {
	margin: 0;
	background: url(../images/bnr_sp_off_post_office.jpg) no-repeat;
	width: 100%;
	height: 0;
	padding-top: 35%;
	background-size: contain;
	float: none;
	display: block;
}
#bnrEachCompany02 li:nth-child(3) a:link, #bnrEachCompany02 li:nth-child(3) a:visited, #bnrEachCompany02 li:nth-child(3) a:hover {
	margin: 0;
	background: url(../images/bnr_sp_off_twitter_large.jpg) no-repeat;
	width: 100%;
	height: 0;
	padding-top: 35%;
	background-size: contain;
	float: none;
	display: block;
}
#bnrEachCompany li:nth-child(-n+3) a img, #bnrEachCompany02 li:nth-child(-n+3) a img {
	margint: 0;
	padding: 0;
}
#topBnrPost {
	width: 100%;
	overflow: hidden;
	padding: 0;
	float: none;
}
#topBnrPost #bnrGroupInfo1 {
	width: 50%;
	float: left;
}
#topBnrPost #bnrGroupInfo2 {
	width: 50%;
	float: right;
}
#bnrGroupInfo1 li a, #bnrGroupInfo2 li a {
	display: block;
	width: 100%;
	margin: 0;
}
#bnrGroupInfo1 li:nth-child(1) a:link, #bnrGroupInfo1 li:nth-child(1) a:visited, #bnrGroupInfo1 li:nth-child(1) a:hover {
	background: url(../images/bnr_sp_off_vision.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
#bnrGroupInfo1 li:nth-child(2) a:link, #bnrGroupInfo1 li:nth-child(2) a:visited, #bnrGroupInfo1 li:nth-child(2) a:hover {
	background: url(../images/bnr_sp_off_guidance.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
#bnrGroupInfo1 li:nth-child(3) a:link, #bnrGroupInfo1 li:nth-child(3) a:visited, #bnrGroupInfo1 li:nth-child(3) a:hover {
	background: url(../images/bnr_sp_off_presentation.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
#bnrGroupInfo1 li:nth-child(4) a:link, #bnrGroupInfo1 li:nth-child(4) a:visited, #bnrGroupInfo1 li:nth-child(4) a:hover {
	background: url(../images/bnr_sp_off_history.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
#bnrGroupInfo2 li:nth-child(1) a:link, #bnrGroupInfo2 li:nth-child(1) a:visited, #bnrGroupInfo2 li:nth-child(1) a:hover {
	background: url(../images/bnr_sp_off_summary.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
#bnrGroupInfo2 li:nth-child(2) a:link, #bnrGroupInfo2 li:nth-child(2) a:visited, #bnrGroupInfo2 li:nth-child(2) a:hover {
	background: url(../images/bnr_sp_off_meeting.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
#bnrGroupInfo2 li:nth-child(3) a:link, #bnrGroupInfo2 li:nth-child(3) a:visited, #bnrGroupInfo2 li:nth-child(3) a:hover {
	background: url(../images/bnr_sp_off_kanpo.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
#bnrGroupInfo2 li:nth-child(4) a:link, #bnrGroupInfo2 li:nth-child(4) a:visited, #bnrGroupInfo2 li:nth-child(4) a:hover {
	background: url(../images/bnr_sp_off_hospital.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
.topBnrBoxIn {
	padding: 0;
	background-color: #f0efef;
	border: none;
}
/* 09. stockPrices
-------------------------------------------------------------- */
#stockPrices {
	width: 90%;
	margin: 25px auto;
	padding: 20px;
	float: none;
	background-color: #fff;
}
#stockPrices dl {
	width: 100%;
	font-size: 15px;
	padding: 10px 0 20px;
	margin: auto;
	border-bottom: 1px solid #cc0000;
}
#stockPrices dt {
	padding: 0 10px 0 0;
}
#stockPrices p {
	padding: 30px 0 0;
	text-align: center;
}
#stockPrices p img {
	width: 87%;
	height: auto;
	margin: auto;
}
#stockQuotationsTxt {
	width: 143px;
	margin: 25px 0 10px 0;
	text-align: left;
}
#stockQuotationsTxt a {
	margin: 0;
}
/* 010. Local Navigation Area
-------------------------------------------------------------- */
#LocalNavigationArea {
	display: none;
}
/* 011. saigai
-------------------------------------------------------------- */
.saigai {
	width:95%;
	margin: 0 auto;
	padding: 40px 0 0;
	border: none;
	font-size: 15px;
	text-align:justify;
}
#kumamoto {
	text-align: justify;
	padding: 0;
}
#kumamoto dl {
	padding: 30px 0 0;
}
#kumamoto dt {
	padding: 0 0 15px;
}
#inner_top_attention {
	width: 95%;
	font-size: 15px;
	margin: 15px auto 20px;
	padding: 20px;
	text-align:justify;
}
#inner_top_attention p{
	width: 95%;
}#inner_top_attention a:before {
	display: none;
}
#inner_top_attention p a {
	margin: 0;
	padding: 0 0 0 27px;
	background: url("../images/icon_attention.png") top left no-repeat;
}

#inner_attention {
	width: 95%;
	font-size: 15px;
	margin: 15px auto 40px;
	padding: 20px 0 0;
	text-align:justify;
}
#inner_attention a:before {
	display: none;
}
#inner_attention p a {
	margin: 0;
	padding: 0 0 0 27px;
	background: url("../images/icon_attention.jpg") top left no-repeat;
}
/* 012. Group Links
-------------------------------------------------------------- */
#GroupLinks {
	width: 100%;
	margin-bottom: 20px;
}

.EN #GroupLinks {
	width: 100%;
}

#GroupLinks dl {
	margin: 0;
	padding: 13px 20px;
	border: none;
	letter-spacing: normal;
}

#GroupLinks dt,
#GroupLinks dd {
	display: block;
	margin: 0 0 13px;
	padding: 0;
}

#GroupLinks dd {
	width: auto;
}

.EN #GroupLinks dd {
	width: auto;
}

#GroupLinks dd:last-child { margin-bottom: 0; }

#GroupLinks dd a {
	background-position: 97% 75%;
}
/* 013. warn
-------------------------------------------------------------- */
#warn {
	margin: 0;
	padding: 20px 0 30px;
	text-align:justify;
}
#warn h2 {
	width: 100%;
	padding: 10px 0;
	font-size: 15px;
}
#warn ul li {
	font-size: 15px;
	padding: 20px 0;
	width: 95%;
	margin: 0 auto;
}
/* 014. sp_pressRelease
-------------------------------------------------------------- */
#sp_pressRelease {
	display: inherit;
	padding: 20px 0 0;
	background-color: #FCFCED;
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
}
#sp_pressRelease h2 {
	font-size: 15px;
	padding: 10px 20px 30px;
	text-align: justify;
}
#sp_pressRelease a:link {
	color: #181818;
	text-decoration:underline;
}
#sp_pressRelease a:visited {
	color: #707070;
	text-decoration:underline;
}
#sp_pressRelease a:hover {
	color: #cc0000;
	text-decoration:none;
}
#pressRelease_sp dt {
	color: #fff;
	width: 100%;
	padding: 5px 15px;
	cursor: pointer;
	background-color: #444444;
	border-bottom: 1px solid #fff;
}
#pressRelease_sp dt#cursorPrsKanpo {
	border: none;
}
.cursorPrsYusei_on {
	background: #cc0000 !important;
}
.cursorPrsYubin_on {
	background: #cc0000 !important;
}
.cursorPrsYutyo_on {
	background: #090 !important;
}
.cursorPrsKanpo_on {
	background: #009 !important;
}
#pressRelease_sp #cursorPrsYusei .press_txt dl {
	width: 100%;
	overflow: hidden;
}
/* 015. sp_news
-------------------------------------------------------------- */
#sp_news {
	display: inherit;
	margin: 0 0 20px;
	padding: 25px 0 0;
	background-color: #FCFCED;
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
}
#sp_news h2 {
	font-size: 15px;
	padding: 10px 20px 30px;
	text-align: justify;
}
#sp_news a:link {
	color: #181818;
    text-decoration:underline;
}
#sp_news a:visited {
	color: #707070;
	text-decoration:underline;
}
#sp_news a:hover {
	color: #cc0000;
	text-decoration:none;
}
#sp_news dt {
	color: #fff;
	width: 100%;
	padding: 5px 15px;
	cursor: pointer;
	background-color: #444444;
	border-bottom: 1px solid #fff;
}
.cursorNewYusei_on {
	background: #cc0000 !important;
}
.cursorNewYubin_on {
	background: #cc0000 !important;
}
.cursorNewYutyo_on {
	background: #090 !important;
}
.cursorNewKanpo_on {
	background: #009 !important;
}
/* 016. sp_IRnews
-------------------------------------------------------------- */
#sp_IRnews {
	display: inherit;
	width:100%;
	padding: 20px 0 0;
	background-color: #FCFCED;
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
	margin: 0 0 10px;
}
#sp_IRnews h2 {
	font-size: 15px;
	padding: 10px 20px 10px;
	text-align: justify;
	
}
#sp_IRnews a:link {
	color: #181818;
	text-decoration:underline;
}
#sp_IRnews a:visited {
	color: #707070;
	text-decoration:underline;
}
#sp_IRnews a:hover {
	color: #cc0000;
	text-decoration:none;
}
#IRnews_sp dt {
	color: #fff;
	width: 100%;
	padding:7px 0 7px 10px;
	cursor: pointer;
	background-color: #444444;
	border-bottom: 1px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#IRnews_sp dt#cursorIRKanpo {
	border: none;
}
.cursorIRYusei_on {
	background: #cc0000 !important;
}
.cursorIRYubin_on {
	background: #cc0000 !important;
}
.cursorIRYutyo_on {
	background: #090 !important;
}
.cursorIRKanpo_on {
	background: #009 !important;
}
#IRnews_sp #cursorIRYusei .IRnews_txt dl {
	width: 100%;
	overflow: hidden;
}
#title_box #ir_main_img {
	background:url(/ir/images/ir_main_img.jpg) no-repeat;
	background-size:cover;
}
#title_box #ir_strategy_main_img {
	background: url(/ir/images/ir_strategy_main_img.jpg) no-repeat;
	background-size:cover;
}

#title_box #ir_investor_main_img {
	background: url(/ir/images/ir_investor_main_img.jpg) no-repeat;
	background-size:cover;
}

#title_box #ir_library_main_img {
	background: url(/ir/images/ir_library_main_img.jpg) no-repeat;
	background-size:cover;
}

#title_box #ir_stock_main_img {
	background: url(/ir/images/ir_stock_main_img.jpg) no-repeat;
	background-size:cover;
}


#Contents .BoxArea.Col2-Border1 .Grid-Column#policy .Box dl dt a, #Contents .BoxArea.Col2-Border1 .Grid-Column#policy .Box dl dt a:hover {
	background:url(/ir/images/bg_ir_01_sp.jpg) no-repeat top center;
	background-size: cover;
}
#Contents .BoxArea.Col2-Border1 .Grid-Column#personal_investor .Box dl dt a, #Contents .BoxArea.Col2-Border1 .Grid-Column#personal_investor .Box dl dt a:hover {
	background:url(/ir/images/bg_ir_02_sp.jpg) no-repeat top center;
	background-size: cover;
}
#Contents .BoxArea.Col2-Border1 .Grid-Column#ir_data .Box dl dt a, #Contents .BoxArea.Col2-Border1 .Grid-Column#ir_data .Box dl dt a:hover {
	background:url(/ir/images/bg_ir_03_sp.jpg) no-repeat top center;
	background-size: cover;
}
#Contents .BoxArea.Col2-Border1 .Grid-Column#stock_info .Box dl dt a, #Contents .BoxArea.Col2-Border1 .Grid-Column#stock_info .Box dl dt a:hover {
	background:url(/ir/images/bg_ir_04_sp.jpg) no-repeat top center;
	background-size: cover;
}


/* 017. Common / sp_news  sp_pressRelease sp_IRnews
-------------------------------------------------------------- */
.IRinner {
	width:100%;
	margin:0;
	padding:0;
}
table .date {
	font-size: 0.8em;
	font-weight: bold;
	width: 40%;
	vertical-align: top;
	padding: 20px 0 20px 20px;
	border-bottom: 1px solid #BFBFBF;
	background-color: #fff;
}
table .news_category {
	width: 20%;
	border-bottom: 1px solid #BFBFBF;
	padding: 17px 20px 25px 0;
	background-color: #fff;
	font-size: 0.6em;
}
table .news_category p {
	color:#fff;
	padding:1px 0;
	text-align: center;
	background-color: #676767;
}
table .newsDetail {
	width: 60%;
	border-bottom: 1px solid #BFBFBF;
	padding: 17px 20px 25px 0;
	text-align: justify;
	background-color: #fff;
	font-size: 15px;
}

#title_box #newsrelease_main_img {
	width:100%;
	height:auto;
	padding:0;
	background: url(../images/newsrelease_main_img.jpg) no-repeat top left;
	background-size:100% auto;
}

#newsrelease_ctg_01 {
	width:100%;
	height:auto;
	background:none;
	background: url(../images/newsrelease_ctg_sp_01.jpg) no-repeat top left;
}
#newsrelease_ctg_02 {
	background:none;
	background:url(../images/newsrelease_ctg_sp_02.jpg) no-repeat top left;
}
#newsrelease_ctg_03 {
	background:none;
	background:url(../images/newsrelease_ctg_sp_03.jpg) no-repeat top left;
}
#newsrelease_ctg_04 {
	background:none;
	background:url(../images/newsrelease_ctg_sp_04.jpg) no-repeat top left;
}
#newsrelease_ctg_05 {
	background:none;
	background:url(../images/newsrelease_ctg_sp_05.jpg) no-repeat top left;
}
#newsrelease_ctg_06 {
	background:none;
	background: url(../images/newsrelease_ctg_sp_06.jpg) no-repeat top left;
}

/* 018. bnrSlideBox
-------------------------------------------------------------- */
#bnrSlideBox,
.bnrSlideBox {
	width: 100%;
	height: auto;
	margin: 20px 0 15px;
	padding: 12px 0;
	background-color: #f0efef;
}
#bnrSlideBox ul li,
.bnrSlideBox ul li {
	float: left;
	padding: 0 10px;
}
#bnrSlideBox ul li a img,
.bnrSlideBox ul li a img{
	width: 100%;
	height: auto;
}
#bnrSlideBox .bx-pager,
.bnrSlideBox .bx-pager{
	display: none;
}

/* 019. spFooterSnsIcon
-------------------------------------------------------------- */
#spFooterSnsIcon {
	display: inherit;
	width: 205px;
	margin: auto;
	padding: 10px 0 25px;
	overflow:hidden;
	background:#fff;
}
#spFooterSnsIcon li {
	width: 55px;
	float: left;
}
#spFooterSnsIcon li:nth-child(2) {
	width: 55px;
	padding: 0 20px;
}
#spFooterSnsIcon li img {
	width: 100%;
	height: auto;
}
/* フッターコンテンツ */
#footerBottomContents {
	display:none;
}

/* 020. Footer Navigation
-------------------------------------------------------------- */
#FooterNavigation {
	display:inherit;
	margin-bottom: 20px;
	padding: 0;
}

#FooterNavigation dl {
	letter-spacing: normal;
	background-color: #f3f3e7;
	border: 1px solid #d6d8da;
}

#FooterNavigation dl dt {
	display: none;
}

#FooterNavigation dl dd,
#FooterNavigation dl dd.MobileMedia,
#FooterNavigation dl dd.Usage {
	display: block;
	margin: 0;
	padding: 0 20px;
	border: none;
	border-bottom: 1px solid #d6d8da;
	font-size: 13px;
	text-align: left;
}

#FooterNavigation dl dd:last-child {
	border: none;
}

#FooterNavigation dl dd a {
	display: block;
	padding: 12px 0;
	background: url(../images/arrow_right.gif) 100% 50% no-repeat;
}
#FooterNavigation dl dd a:link {
	color:#181818;
	text-decoration:underline;
}
#FooterNavigation dl dd a:visited {
	color: #707070;
}
#FooterNavigation dl dd a:hover {
	color: #cc0000;
	text-decoration:none;
}
/* 021. Footer
-------------------------------------------------------------- */
#Footer {
	display:inherit;
	padding: 15px;
	background-color:#cc0000;
}

#Footer dl dt,
#Footer dl dd {
	float: none;
	width: auto;
	text-align: center;
}

#Footer dl dt img,
#Footer dl dd img {
	vertical-align: middle;
	display: none;
}

#Footer dl dd img {
	width: 100%;
	height: auto;
}

.Copyright {
	display:inherit;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}
#Footer .Footer_SmartPhone {
	display:inherit;
}
#Footer .Footer_SmartPhone img {
	display: block;
	margin: 0 auto;
}

/* 030. Basic Styles
-------------------------------------------------------------- */
/* -00. General */
/* -01. Headers */
/* -02. Main Visual */
#Contents .MainVisual img {
	width: 100%;
	height: auto;
}
/* -03. Lead Comment */
/* -04. Body Text */
/* -05. Links */
/* -06. Tables */
/*#Contents table { table-layout: fixed; }*/
#Contents table th,
#Contents table td {
	word-wrap: break-word;
}
#Contents table td.break {
	word-break: break-all;
}
#Contents table td.break-word {
	word-break: break-word;
}
#Contents table th .Image img,
#Contents table td .Image img {
	width: 100%;
	height: auto;
}

/* -07. Plugin Link */
#Contents .Section.Link-Plugin p.Banner {
	float: none;
	width: auto;
	margin-bottom: 10px;
}
#Contents .Section.Link-Plugin p.Caution {
	margin: 0;
}
/* -08. Pager Style */
/* -09. List Styles */
/* -10. Others */
#Contents .SelectBox dl dt {
	float: none;
	width: auto;
}
#Contents .SelectBox dl dd {
	margin-left: 0;
}

/* 031. Layout Modules
-------------------------------------------------------------- */
/* -01. Single Column */
#Contents .Section.Col .Grid-Column .Image img {
	width: 100%;
	height: auto;
}
/* -02. 2 Column */
#Contents .Section.Col2 {
	margin-right: 0;
	margin-left: 0;
}
#Contents .Section.Col2 .Grid-Column,
#Contents .Section.Col2 .Grid-Column400,
#Contents .SubSection.Col2 .Grid-Column,
#Contents .SubSection.Col2 .Grid-Column400,
#Contents .Section.Col3 .Grid-Column260,
#Contents .SubSection.Col3 .Grid-Column260 {
	float: none;
	width: 100%;
	margin-right: 0;
}

#Contents .Section.Col2 .Grid-Column400 img,
#Contents .SubSection.Col2 .Grid-Column400 img,
#Contents .Section.Col3 .Grid-Column260 img,
#Contents .SubSection.Col3 .Grid-Column260 img {
	width: 100%;
	height: auto;
}

#Contents .Section.Col2.TextImageBlock.Image-Left .Grid-Column.Image,
#Contents .Section.Col2.TextImageBlock.Image-Right .Grid-Column.Image,
#Contents .SubSection.Col2.TextImageBlock.Image-Left .Grid-Column.Image,
#Contents .SubSection.Col2.TextImageBlock.Image-Right .Grid-Column.Image {
	float: none;
	margin: 0 0 15px;
}
#Contents .Section.Col2 .Grid-Column .Image img,
#Contents .SubSection.Col2 .Grid-Column .Image img {
	width: 100%;
	height: auto;
}
#Contents .Section.Col2.TextImageBlock .Grid-Column .Image img,
#Contents .Section.Col2.TextImage205 .Grid-Column .Image img,
#Contents .SubSection.Col2.TextImageBlock .Grid-Column .Image img,
#Contents .SubSection.Col2.TextImage205 .Grid-Column .Image img  {
	width: auto;
}

#Contents .Section.Col2.TextImageBlock .Grid-Column .Image.RWD img {
	width: 100%;
}

/* -03. 2 Column with line */
#Contents .Section.Col2-Border1 {
	margin: 0;
}
#Contents .Section.Col2-Border1 .Grid-Column {
	float: none;
	width: 100%;
	margin-right: 0;
}
/* -04. 2 Column with Image Right 1 */
/* -05. 2 Column with Image */

#Contents .Section.Col2.Image400,
#Contents .SubSection.Col2.Image400 {
	margin-left: 0;
}

#Contents .Section.Col2.TextImage205.Image-Left .Grid-Column.Image,
#Contents .Section.Col2.TextImage280.Image-Left .Grid-Column.Image,
#Contents .SubSection.Col2.TextImage205.Image-Left .Grid-Column.Image { float: none; }
#Contents .Section.Col2.TextImage205.Image-Right .Grid-Column.Image,
#Contents .Section.Col2.TextImage280.Image-Right .Grid-Column.Image,
#Contents .SubSection.Col2.TextImage205.Image-Right .Grid-Column.Image { float: none; text-align: left; }
#Contents .Section.Col2.TextImage205.Image-Left .Grid-Column.Text,
#Contents .Section.Col2.TextImage280.Image-Left .Grid-Column.Text,
#Contents .SubSection.Col2.TextImage205.Image-Left .Grid-Column.Text { margin-left: 0; }
#Contents .Section.Col2.TextImage205.Image-Right .Grid-Column.Text,
#Contents .Section.Col2.TextImage280.Image-Right .Grid-Column.Text,
#Contents .SubSection.Col2.TextImage205.Image-Right .Grid-Column.Text { margin-right: 0; }
/*-06. 3 Column */
#Contents .Section.Col3.No-Padding,
#Contents .Section.Col3,
#Contents .SubSection.Col3.No-Padding,
#Contents .SubSection.Col3 {
	margin: 0;
}
#Contents .Section.Col3.No-Padding .Grid-Column,
#Contents .Section.Col3 .Grid-Column,
#Contents .SubSection.Col3.No-Padding .Grid-Column,
#Contents .SubSection.Col3 .Grid-Column {
	float: none;
	width: 100%;
}

/* 032. Unique Style
-------------------------------------------------------------- */
/* -01. Home */
.Home #Header {
	margin-bottom: 0;
}

.Home .GlobalNavigation {
	display: block;
	margin-bottom: 20px;
	padding: 0;
}

.Home .GlobalNavigation.MobileMedia {
	display: none;
}

.Home .SmartPhoneKeyVisual {
	display: block;
	margin-bottom: 60px;
}

.Home .SmartPhoneKeyVisual.En-Top {
	display: block;
	margin-bottom: 20px;
}

.Home .SmartPhoneKeyVisual img {
	width: 100%;
	height: auto;
}

.Home #HomeKeyVisualArea {
	margin-bottom: 20px;
}

.Home #HomeKeyVisualArea .EmergencyArea {
	display: none;
}

.Home #HomeKeyVisualArea .ContentsArea {
	display: none;
}

.Home .SubContentsArea.Bnr-General {
	margin-bottom: 0;
}

.Home .SubContentsArea.Bnr-General dl {
	margin-bottom: 20px;
	padding: 0;
}

.Home .SubContentsArea.Bnr-General dl dd {
    margin: 0 auto 14px;
    max-width: 70%;
}

.Home .SubContentsArea.Bnr-General dl dt img,
.Home .SubContentsArea.Bnr-General dl dd img,
.Home .SubContentsArea.Bnr-General ul li img,
.Home .Col4BnrArea ul li img {
	width: 100%;
	height: auto;
}

.Home .SubContentsArea.Bnr-General.StockPricesArea dl dd {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: auto;
	padding-bottom: 7px;
}

.SubContentsArea.Bnr-General.StockPricesArea p.En-Top.Col1Bnr {
	max-width: 70%;
	margin: 0 auto;
}

.SubContentsArea.Bnr-General.StockPricesArea p.En-Top.Col1Bnr img {
	width: 100%;
	height: auto;
}

.Home .SubContentsArea.Bnr-General #HomeGroupLinks {
	padding: 20px 0;
	margin-right: 0;
	border: none;
}

.Home .SubContentsArea.Bnr-General #HomeGroupLinks dl {
	margin-bottom: 0;
}

.Home .SubContentsArea.Bnr-General #HomeGroupLinks dl dt {
	padding: 0 0 12px 0;
	margin: 0 auto;
	max-width: 70%;
	border: none;
}

.Home .SubContentsArea.Bnr-General #HomeGroupLinks img {
	width: auto;
}

.Home .Col4BnrArea {
	width: auto;
	padding: 0;
}

.Home .SubContentsArea.Bnr-General dl.Disasterrelief dt,
.Home .SubContentsArea.Bnr-General ul li,
.Home .Col4BnrArea ul li {
	float: none;
	margin: 0 auto 14px;
	max-width: 70%;
}

.Home #SiteContentsList {
	display: none;
}

.Home div.notificationTable table th {
	font-weight: 100;
}

.Home .Col4BnrArea #Slider03 {
display: none;
}
.Home .Col4BnrArea .MobileMedia {
display: block;
}

/* -02. Image Control */
#Contents .Not-Expansion img {
	width: auto!important;
	height: auto!important;
}

/* -03. Form */
#Contents .Section.Form ul li {
}

#Contents .Section.Form dl dt {
	display: block!important;
	float: none!important;
	width: auto!important;
	margin: 0 0 5px!important;
}

#Contents .Section.Form dl dd {
	display: block!important;
	float: none!important;
	width: auto!important;
	margin: 0!important;
}

#Contents .Section.Form .Input {
	width: 98%!important;
}

#Contents .Table-Border table#xj-mainlist {
	width: 100%;
}

/* -04. Subpage */
#title_box div,
#title_box2 div,
#title_box3 div {
	width:100%;
	height:auto;
	padding:0;
	min-height: 18vw;
	display: table;
	background-size: cover;
}
#title_box,
#title_box2,
#title_box3 {
	margin:0 0 20px;
}
#title_box h1,
#title_box2 h1 {
	font-size:17px;
	display: table-cell;
	padding: 6px;
	/*line-height:40px;
	text-align:center;*/
	vertical-align: middle;
}
#title_box3 h1{
	font-size:17px;
	display: table-cell;
	padding:3px 0 0 3px;
	vertical-align: middle;
  width : 270px;
}

#title_box p.explanation,
#title_box p.explanation2{
	width:100%;
	font-weight: inherit;
	position: inherit;
	top: 10px;
	left:0;
}

#title_box2 p,
#title_box3 p {
	width:100%;
	font-weight: inherit;
	position: inherit;
	bottom:-10px;
	left:0;
}
.bnrArea {
	width: 100vw;
	position: relative;
	left: -10px;
}
/* 20190227 追加分 ------------------------------------------*/
.bnrArea ul{
flex-wrap: wrap;
}
.bnrArea ul li{
flex-basis: calc(50% - 5px);
box-sizing: border-box;
margin-right: 0;
margin-bottom: 10px;
min-height: auto;
display: flex;
padding: 0;
flex-direction: column;
align-items: flex-end;
height: 34vw;
}
.bnrArea ul li:nth-child(3),
.bnrArea ul li:nth-child(4){
margin-bottom: 0;
}
.bnrArea_white_box {
height: auto;
min-height: 3.2em;
padding: 6px;
}
.bnrArea ul li a{
width: 100%;
}

.bnrArea.athlete {
	width: 100%;
	left: 0;
}

.bnrArea.athlete li {
    height: 88px;
    float: none;
    border: none;
    border-top: solid 1px #b4b4b4;
    display: block;
}

.bnrArea.athlete li a, .bnrArea.athlete li a:hover {
	display:block;
	width:100%;
    height: 90px;
	font-size:15px;
	padding:0 0 0 100px;
	line-height:90px;
	text-align: left;
	border:none;
	text-decoration:none;
	text-shadow:none;
	box-sizing: content-box;
	background-position: 0 0;
}
.bnrArea.athlete li:nth-child(1) a {background:url(/athlete/images/bnr_athlete_01_sp.jpg) no-repeat center left;margin:0;}
.bnrArea.athlete li:nth-child(2) a {background:url(/athlete/images/bnr_athlete_02_sp.jpg) no-repeat center left;margin:0;}
.bnrArea.athlete li:nth-child(3) a {background:url(/athlete/images/bnr_athlete_03_sp.jpg) no-repeat center left;margin:0;}
.bnrArea.athlete li:nth-child(3) a.line_type02 {display: table-cell; vertical-align: middle;padding-top: 0 !important;}


/* ------------------------------------------- //20190227 追加分*/

.BoxArea {
	width:100%;
	overflow:hidden;
	padding:0;
}
.post {
	width:100%;
	margin: 0 0 10px;
	padding:0 0 10px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box_left {
	width:100%;
	float:none;
}
.box_right {
	width:100%;
	float:none;
}
.post dt {
	font-size:17px;
	width:100%;
}
#Contents .BoxArea.Col2-Border1 .Grid-Column .Box dl dt a {
    height: 130px;
    min-height: 40vw;
}
.post dd {
	width:100%;
	padding:5px 10px 0 10px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.associated_info {
	width:100%;
	margin:0 0 10px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.associated_info dt {
	width:100%;
	display:block;
	height:30px;
	line-height:30px;
	padding: 0 10px;
	background:#ccc;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.associated_info dd {
	width:100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.associated_info .Col2 dl{
	width: 100%;
	float: none;
}
.associated_info .Col2 dl:nth-child(odd){
	margin-right: 0;
	margin-bottom: 20px;
}
.associated_info .Col2 dl dt {
    display: inline-block;
    line-height: 1.5em;
    height: auto;
    margin-bottom: 6px;
}

/* 033. Modal Window
-------------------------------------------------------------- */
#modal {
    width: 280px;
	margin: 0 auto;
	font-size: 87.5%;
	vertical-align: top;
	position: relative;
	top: 0%;
}

#modal ul li {
	margin: 0px 0px 10px 0px;
}

/* 034. Slider
-------------------------------------------------------------- */

.bx-wrapper {
	padding: 0;
	line-height: 0;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	bottom: -40px;
}

.bx-wrapper .bx-viewport {
  overflow: visible !important;
}
.bx-wrapper .bx-prev {
  left: -70px 
}
.bx-wrapper .bx-next {
  right: -70px 
}
.bx-wrapper .bx-pager {
	left: 13%;
	width: 75%;
    text-align: center;
	padding-top: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #d8d8da;
	margin: 0 20px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
}

.bx-wrapper .bx-controls-direction a {
	bottom: -48px;
}


/* 035. IR
-------------------------------------------------------------- */

.Ir_Area {
	display: none;
}

.Ir-Col2-BoxArea .Col2-Box {
	width: 100%;
	float: none;
	clear: both;
	margin-bottom: 20px;
}

.Ir-Col3-BoxArea .Col3-Box {
	width: 100%;
	float: none;
	clear: both;
	margin-bottom: 20px;
}

#IRnewsList .tab_area03 ul {
	width: 100%;
	margin-bottom: 0;
	padding: 0;
}
#IRnewsList .tab_area03 ul li {
	display: inherit;
	max-width:130px;
	width:32%;
	height: 44px;
	margin: 0 1px 0 0;
	padding: 14px 0 5px;
	font-size: 14px;
	background: #ffffff;
	float:left;
}
#IRnewsList .tab_area03 ul li a {
	max-width:130px;
	width:100%;
	height: 40px;
	line-height: 40px;
	margin: -5px 1px 0 0;
	font-size: 13px;
	float:none;
}
#IRnewsList .tab_area03 ul li.tab_jp_h.select a, #IRnewsList .tab_area03 ul li a.tab_jp_h:hover {
	color:#c00;
	font-weight:bold;
	height: 47px;
	border: 4px solid #cc0000;
	background: none;
	background-size:95% auto;
	margin: -12px 1px 0 0;
	text-indent: inherit;
}

#IRnewsList .tab_area03 ul li.tab_jpbank.select a, #IRnewsList .tab_area03 ul li.tab_jpbank a:hover {
	color:#009900;
	font-weight:bold;
	height: 47px;
	border: 4px solid #009900;
	background: none;
	background-size:95% auto;
	margin: -12px 1px 0 0;
	text-indent: inherit;
}
#IRnewsList .tab_area03 ul li.tab_jplife.select a, #IRnewsList .tab_area03 ul li.tab_jplife a:hover {
	color:#000099;
	font-weight:bold;
	height: 47px;
	border: 4px solid #000099;
	background: none;
	background-size:95% auto;
	margin: -12px 0 0 0;
	text-indent: inherit;
}
.IrToplogoArea{
	margin: 20px 0;
}

/* 036. CSR
-------------------------------------------------------------- */
#title_box #csr_main_img {
	width:100%;
	height:auto;
	padding:0;
	background: url(/csr/images/csr_main_img.jpg) no-repeat top left;
	background-size:100% auto;
}
#title_box3 #csr_main_img {
	background-size: cover;
	background-position: right;
}
#title_box3 #csr_main_img_report_sub{
	background-size: cover;
	background-position: right;
}
#csr_box_cnt {
	overflow:hidden;
}
.csr_box {
	width:100%;
	height:auto;
	margin-bottom:10px;
	float:none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 
.csr_box:nth-child(odd) {
	margin-right: 30px;
}
.csr_box div {
	width:100%;
	height:auto;
	margin:10px 0;
	padding:10px;
	background:rgba(255,255,255,0.7);
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.csr_box dt {
	font-size:16px;
	padding:0;
}
.csr_box dd {
	font-size:14px;
}
.csr_box dd.sdgs_img{
	text-align: center;
	margin-top: 16px;
}
.csr_box ul li {
	font-size:13px;
	padding:5px 0 0;
}

.csr_vision_box {
	width:100%;
	margin-bottom:10px;
	float:none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 
.csr_vision_box:nth-child(odd) {
	height:50px;
}
.csr_vision_box:nth-child(even) {
	height:auto;
}
.csr_vision_box div {
	width:100%;
	height:auto;
	margin:10px 0;
	padding:10px;
	background:rgba(255,255,255,0.7);
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.csr_vision_box ul li {
	font-size:13px;
	padding:5px 0 0;
}
#csr_vision_title_01 { 
	background: url(/csr/vision/images/csr_vision_title_sp_01.jpg) no-repeat top left;
	background-color: #5a97e3;
}
#csr_vision_title_02 { 
	background: url(/csr/vision/images/csr_vision_title_sp_02.jpg) no-repeat top left;
	background-color: #78c02f;
}
#csr_vision_title_03 { 
	background: url(/csr/vision/images/csr_vision_title_sp_03.jpg) no-repeat top left;
	background-color: #f79749;
}
#title_box #csr_main_img_sdgs {
	background-size: contain !important;
	min-height: 70px;
	display: table;
}
#csr_main_img_sdgs h1{
	padding-right: 125px;
	line-height: 1.5em;
	text-align: left;
}

/* 一旦保留
.bnrArea.csr li:nth-child(1) a {
	background:url(/ir/images/bnr_earnings_sp.jpg) no-repeat center left;
}
.bnrArea.csr li:nth-child(2) a {
	background:url(/ir/images/bnr_earnings_sp.jpg) no-repeat center left;
	margin:0;
	}
.bnrArea.csr li:nth-child(3) a {
	background:url(/ir/images/bnr_earnings_sp.jpg) no-repeat center left;
}
*/

.ttl_h4 {
  width: auto;
	margin: 0 10px 15px;
	border-bottom: 3px solid #ccc;
}
.utile_box {
  width: auto;
	margin: 0 10px 25px;
	overflow: hidden;
}
.utile_box img {
	max-width:350px;
}
.utile_img p {
	width:100%;
	max-width:350px;
	margin:0 auto 15px;
}
.utile_img {
	width: 100%;
	float: none;
}
.utile_txt {
	width: 100%;
	float: none;
}
.utile_txt p {
	padding: 0 0 10px;
}
.movieCol_img {
	width: 100%;
}
.csr_activity {
	width: 100%;
	padding: 10px 0;
	background-color: #e7ddd1;
	overflow: hidden;
}
.csr_activity  img{
	width: 100%;
  hegiht : auto;	
}
.csr_mediaBox {
	width: 100%;
	padding: 10px;
	position: relative;
}
.arrow_forest {
	width: 20px;
	padding: 0;
	text-align: center;
}
h6 {
	font-size: 15px;
	color: #6eb92b;
	margin: 5px 0 0;
	padding: 20px 10px;
	background: url(/csr/images/leaf.png) no-repeat top left;
	position: absolute;
	top: -5px;
	left: 3px;
}
.inner_mediaBox {
	font-size: 13px;
	width: 88%;
	padding: 40px 10px 10px;
	border-radius: 7px;
	border: 1px solid #fff;
	background-color: #fff;
	overflow: hidden;
}
.inner_mediaBox dl {
	overflow: hidden;
}
.inner_mediaBox dl dt {
	width: 72%;
	padding: 0;
	float: right;
}
.inner_mediaBox dl dd {
	width: 25%;
	float: left;
}
.support_mediaBox {
	clear: both;
	text-align: left;
}
.arrow_forest {
	width: 23px;
	height: 16px;
	float: none;
	background: url(/csr/images/sp_arrow_forest.png) no-repeat bottom;
	clear: both;
	margin: auto;
}

.forest-child {
	width: 100%;
	height: auto;
}
#map-btn-area a {
		display: block;
		width: 100%;
		height: 30px;
		margin: 0 0 10px;
		text-align: center;
		line-height: 34px;
		text-decoration: none;
		background: rgba(183,255,130,0.4);
		border: 2px solid #ccc4b9;
		
}
#map-btn-area li:nth-child(5) a {
		margin: 0 0 30px;
}
#map-btn-area li:nth-child(1),
#map-btn-area li:nth-child(2),
#map-btn-area li:nth-child(3),
#map-btn-area li:nth-child(4),
#map-btn-area li:nth-child(5),
#map-btn-area li:nth-child(6){
	position: inherit;
}
.s-none {
		display: none;
}


div.bill_image_area{
		width:100%;
		margin:0;
		text-align:center;
}
div.bill_image_area img{
		margin:10px auto;
		width:auto;
		height:200px;
}
div.bill_image_area img:last-child{
		margin:10px auto;
}



/*  037. Youtube
-------------------------------------------------------------- */
.Youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.Youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

/* 098. page-top
-------------------------------------------------------------- */
.page-top p {

	right: 10px;
	bottom: 70px;
}

/* 099. 非表示
-------------------------------------------------------------- */

#AllSearch {
	display: none;
}
#topLinkBox {
	display: none;
}
#UsabilityTools {
	display: none;
}
#homeTopicPath {
	display: none;
}
#TopicPath {
	display: none;
}
#gnaviCts {
	display: none;
}
#logoBox p {
	display: none;
}
#SiteToolArea {
	display: none;
}
#twitterBox {
	display: none;
}
#pressRelease {
	display: none;
}
#news {
	display: none;
}

#footerContents {
	display: none;
}
.demarcation {
	display: none;
}

#IRnews {
	display: none;
}


/* 100. トップメッセージ
-------------------------------------------------------------- */
#topmessage_2017{
	padding-bottom:50px;
	margin-bottom:10px;
    background: url(/ir/images/bg_topmessage_2017.png) 0 0 no-repeat;
    background-size:35% auto;
}
#topmessage_2017 strong{
	padding:0 0 20px 10px;
	margin:0;
}
#topmessage_2017 p {
    text-indent: 1em;
    margin-right: 0;
}
#topmessage_2017 p.sign{
	margin:25px 0 0 37%;
	width:63%;
}
#topmessage_2017 p.sign img{
	top: 3.5em;
	left: 0;
	right: 0;
}

.Iframe-Box {
      width: 100%;
      height: 300px;
}

/* =========================================================== */
/* リニューアル2018 of components.css
/* =========================================================== */

#Contents .BoxArea.Col2-Border1 .Grid-Column1 .Box dl dt a{ background-size: cover !important;}

#Contents .BoxArea.Col2-Border1 .Grid-Column#press01 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#press02 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#press03 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#press04 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#press05 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#press06 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#group01 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#group02 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#group03 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#group04 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#group05 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#group06 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#group07 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#employ01 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#employ02 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#employ03 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#employ04 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr01 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr02 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr03 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr04 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr05 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr06 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr07 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr08 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr09 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr10 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr11 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#athlete01 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#athlete02 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#athlete03 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#athlete04 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp00 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp01 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp02 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp03 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp04 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp05 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp06 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp07 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp08 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp09 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp10 .Box dl dt a {background-size: cover;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp11 .Box dl dt a {background-size: cover;}

/*
#Contents .BoxArea.Col2-Border1 .Grid-Column#press01 .Box dl dt a {background:url(/pressrelease/images/bg_press_01_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#press02 .Box dl dt a {background:url(/pressrelease/images/bg_press_02_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#press03 .Box dl dt a {background:url(/pressrelease/images/bg_press_03_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#press04 .Box dl dt a {background:url(/pressrelease/images/bg_press_04_sp.jpg) no-repeat top left;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#press05 .Box dl dt a {background:url(/pressrelease/images/bg_press_05_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#press06 .Box dl dt a {background:url(/pressrelease/images/bg_press_06_sp.jpg) no-repeat top center;}

#Contents .BoxArea.Col2-Border1 .Grid-Column#group01 .Box dl dt a {background:url(/group/images/bg_group_01_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#group02 .Box dl dt a {background:url(/group/images/bg_group_02_sp.jpg) no-repeat top left;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#group03 .Box dl dt a {background:url(/group/images/bg_group_03_sp.jpg) no-repeat top left;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#group04 .Box dl dt a {background:url(/group/images/bg_group_04_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#group05 .Box dl dt a {background:url(/group/images/bg_group_05_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#group06 .Box dl dt a {background:url(/group/images/bg_group_06_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#group07 .Box dl dt a {background:url(/group/images/bg_group_07_sp.jpg) no-repeat top center;}

#Contents .BoxArea.Col2-Border1 .Grid-Column#employ01 .Box dl dt a {background:url(/employment/images/bg_employ_01_sp.jpg) no-repeat top left;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#employ02 .Box dl dt a {background:url(/employment/images/bg_employ_02_sp.jpg) no-repeat top right;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#employ03 .Box dl dt a {background:url(/employment/images/bg_employ_03_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#employ04 .Box dl dt a {background:url(/employment/images/bg_employ_04_sp.jpg) no-repeat top right;}

#Contents .BoxArea.Col2-Border1 .Grid-Column#csr01 .Box dl dt a {background:url(/csr/images/bg_csr_01_sp.jpg) no-repeat top right;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr02 .Box dl dt a {background:url(/csr/images/bg_csr_02_sp.jpg) no-repeat top right;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr03 .Box dl dt a {background:url(/csr/images/bg_csr_03_sp.jpg) no-repeat top right;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr04 .Box dl dt a {background:url(/csr/images/bg_csr_04_sp.jpg) no-repeat top right;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr05 .Box dl dt a {background:url(/csr/images/bg_csr_05_sp.jpg) no-repeat top right;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr06 .Box dl dt a {background:url(/csr/images/bg_csr_06_sp.jpg) no-repeat top right;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr07 .Box dl dt a {background:url(/csr/images/bg_csr_07_sp.jpg) no-repeat top left;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr08 .Box dl dt a {background:url(/csr/images/bg_csr_08_sp.jpg) no-repeat top left;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr09 .Box dl dt a {background:url(/csr/images/bg_csr_09_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr10 .Box dl dt a {background:url(/csr/images/bg_csr_10_sp.jpg) no-repeat top right;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#csr11 .Box dl dt a {background:url(/csr/images/bg_csr_11_sp.jpg) no-repeat top center;}

#Contents .BoxArea.Col2-Border1 .Grid-Column#athlete01 .Box dl dt a {background:url(/athlete/images/bg_athlete_01_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#athlete02 .Box dl dt a {background:url(/athlete/images/bg_athlete_02_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#athlete03 .Box dl dt a {background:url(/athlete/images/bg_athlete_03_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#athlete04 .Box dl dt a {background:url(/athlete/images/bg_athlete_04_sp.jpg) no-repeat top center;}

#Contents .BoxArea.Col2-Border1 .Grid-Column#corp00 .Box dl dt a {background:url(/corporate/images/bg_corp_00_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp01 .Box dl dt a {background:url(/corporate/images/bg_corp_01_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp02 .Box dl dt a {background:url(/corporate/images/bg_corp_02_sp.jpg) no-repeat top left;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp03 .Box dl dt a {background:url(/corporate/images/bg_corp_03_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp04 .Box dl dt a {background:url(/corporate/images/bg_corp_04_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp05 .Box dl dt a {background:url(/corporate/images/bg_corp_05_sp.jpg) no-repeat top right;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp06 .Box dl dt a {background:url(/corporate/images/bg_corp_06_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp07 .Box dl dt a {background:url(/corporate/images/bg_corp_07_sp.jpg) no-repeat top center;}
#Contents .BoxArea.Col2-Border1 .Grid-Column#corp08 .Box dl dt a {background:url(/corporate/images/bg_corp_08_sp.jpg) no-repeat top right;}
*/

#Contents .BoxArea.Col2-Border1 .Grid-Column .Box dl dd {width: 100%;box-sizing: border-box;}

/*
第二階層ページ上部のbnrAreaを書き換え（1418行目～1433行目）
------------------------------------------------------ */
/*
20190227 差し替え

.bnrArea.csr li:nth-child(1) a {background:url(/csr/images/bnrarea_csr01_sp.jpg) no-repeat center left;margin:0;}
.bnrArea.csr li:nth-child(2) a {background:url(/csr/images/bnrarea_csr02_sp.jpg) no-repeat center left;margin:0;}
.bnrArea.csr li:nth-child(3) a {background:url(/csr/images/bnrarea_csr03_sp.jpg) no-repeat center left;margin:0;}
.bnrArea.csr li:nth-child(4) a {background:url(/csr/images/bnrarea_csr04_sp.jpg) no-repeat center left;margin:0;}
.bnrArea.athlete li:nth-child(1) a {background:url(/athlete/images/bnr_athlete_01_sp.jpg) no-repeat center left;margin:0;}
.bnrArea.athlete li:nth-child(2) a {background:url(/athlete/images/bnr_athlete_02_sp.jpg) no-repeat center left;margin:0;}
a.line_type02 {line-height: 90px !important; padding-top: 0 !important;}
a.line_type02 br {display:none;}
.bnrArea.corp li:nth-child(1) a {background:url(/corporate/images/bnrarea_corp01_sp.jpg) no-repeat center left;margin:0; padding-top:0;line-height: 90px;}
.bnrArea.corp li:nth-child(2) a {background:url(/corporate/images/bnrarea_corp02_sp.jpg) no-repeat center left;margin:0; padding-top:0;line-height: 90px;}
.bnrArea.corp li:nth-child(3) a {background:url(/corporate/images/bnrarea_corp03_sp.jpg) no-repeat center left;margin:0; padding-top:0;line-height: 90px;}
.bnrArea.corp li:nth-child(4) a {background:url(/corporate/images/bnrarea_corp04_sp.jpg) no-repeat center left;margin:0; padding-top:0;line-height: 90px;}
.bnrArea.corp li a br {display:none;}
.bnrArea.ir li:nth-child(1) a {background:url(/ir/images/bnr_topmessage_sp.jpg) no-repeat center left;margin:0;}
.bnrArea.ir li:nth-child(2) a {background:url(/ir/images/bnr_disclosure_sp.jpg) no-repeat center left;margin:0;}
.bnrArea.ir li:nth-child(3) a {background:url(/ir/images/bnr_earnings_sp.jpg) no-repeat center left;margin:0;}
.bnrArea.ir li:nth-child(4) a {background:url(/ir/images/bnr_kojin_sp.jpg) no-repeat center left;margin:0;}


#Contents .Section.Col2.TextImageBlock.Image-Right .Grid-Column.Image .Image.olCenter {
    text-align: center !important;
}
*/

.bnrArea.ir ul li {margin-right: 5px;}

/*
IR　株価情報調整
------------------------------------------------------ */
.Stock_pricesArea{
margin: 0 10px 10px 10px;
}

/*
女子陸上部　クイーンズ駅伝への道
------------------------------------------------------ */
.athleteIframe{
width: 100% !important;
padding-bottom: 56.25%;
height: 0px !important;
position: relative;
}

/*
女子陸上部　ヴィジュアル背景動画
------------------------------------------------------ */
#title_box #athlete_main_img .bg_movie {
    width: 150px !important;
    height: 84px !important;
display:none;
}
#title_box  #athlete_main_img {
background: url(/athlete/images/athlete_main_img.jpg) no-repeat bottom left 60% !important;
  
	height:84px !important;
}
#title_box #athlete_main_img h1{
	padding: 15px 10px;
	max-width: 8em;
	text-align: left;
	line-height: 1.6em;
}
#title_box #athlete_main_img .moya  {
display:none;
}

/* tokyo2020
-------------------------------------------------------------- */
#tokyo_main_img_vision {
/*min-height: 80px !important;*/
background-size: 100% auto !important;
}
#tokyo_main_img_vision h1{
/*line-height: 80px;*/
padding: 15px 10px;
max-width: 9em;
text-align: left;
line-height: 1.6em;
}
/*#tokyo_main_img_vision h1 br{display: none;}*/
#Contents .Topics-Col ul li{
flex: 0 0 100%;
}
.Section + .bnrArea.tokyo2020,
.countdown + .bnrArea.tokyo2020{
display: block;
margin-bottom: 0;
position: relative;
left: 0;
}
.bnrArea.tokyo2020 li:nth-child(1) a { background: none; margin: 0;}

.bnrArea.tokyo2020 li:nth-child(2) a { padding-top: 15px;}
.bnrArea.tokyo2020 li:last-child { border-bottom: solid 1px #b4b4b4;}
.bnrArea.tokyo2020 li{
height: 70px;
float: none;
border: none;
border-top: solid 1px #b4b4b4;
display: block;
box-sizing: border-box;
margin-bottom: 0;
}
.bnrArea.tokyo2020 li a, .bnrArea.tokyo2020 li a:hover {
display: flex;
align-items: center;
width: 100%;
height: 70px;
font-size: 15px;
padding: 20px;
line-height: 1.4em;
text-align: left;
border: none;
text-decoration: none;
text-shadow: none;
box-sizing: border-box;
background-position: 0 0;
}
#Contents .Section .relay_li{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
#Contents .Section .relay_li .img{
height: auto;
}
#Contents .Section .relay_li li{
width: 100%;
flex-basis: 100%;
display: inline-block;
position: relative;
margin-bottom: 80px;
}
#Contents .Section .relay_li li:nth-child(odd):before,
#Contents .Section .relay_li li:nth-child(even):before{
content:"";
position: absolute;
display: block;
width: 0;
height: 0;
right: 0;
left: 0;
top: auto;
bottom: -75px;
margin: auto;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-top: 20px solid #ffa8a8;
border-bottom: 20px solid transparent;
transform: none;
}
#Contents .Section .relay_li li:nth-child(odd):after,
#Contents .Section .relay_li li:nth-child(even):after{
content:"";
width: 15px;
height: 16px;
right: 0;
background: #ffa8a8;
left: 0;
top: auto;
bottom: -35px;
margin: auto;
position: absolute;
transform: none;
}
#Contents .Section .relay_li li:last-child:after,
#Contents .Section .relay_li li:last-child:before{
content:none;
}
.tokyo2020_logo{
padding: 40px 20px 20px;
}
#tokyo_main_img_vision h1.topics{
background: white;
}

/* table mobile
-------------------------------------------------------------- */
#Contents .Section.Table-Dot,
#Contents .Section.Table-Border{
padding: 0;
}
#Contents .Table-Border table th{
min-width: 3em;
}
#Contents .Table-Dot table th {
min-width: 5em;
}
#Contents  .Table-w100per table {
width: 100%;
}
#Contents  .Table-w100per table th {
width: 30%;
min-width: auto;
}
#Contents  .Table-w100per table td {
width: 70%;
}
#Contents table th.min_wid6em {
min-width: 6em;
}
#Contents table th.min_wid7em {
min-width: 7em;
}
#Contents table th.min_wid8em {
min-width: 8em;
}
/*
#Contents .Table-Border table.Data-Num.td-Block td{
display: block;
border: none;
}
*/
#Contents .Table-Border table.Data-Num.td-Block tr{
border-bottom: 1px solid #d6d8da;
}
#Contents .Table-Border table.Data-Num.td-Block th{
width: 28%;
vertical-align: top;
}
#Contents .List-General ul li{
margin-bottom: 10px;
}
#Contents .List-General ul li:last-child{
margin-bottom: 0;
}
#Contents .List_block_sp ul li {
	display: block;
	float: none;
}
.Table-SP-Text-Small { font-size: 85.7%; display: block; }
.Table-SP-Text-Medium { font-size: 100%; display: block; }
.Table-SP-Text-Large { font-size: 114.3%; display: block; }

.Table-scroll{
overflow: auto;
overflow-x: auto;
}

#Contents .Section.Col2.TextImage205 .Grid-Column.Image,
#Contents .Section.Col2.TextImage280 .Grid-Column.Image {
    width: 100%;
    text-align: center;
}
#Contents .Section.Col2.TextImage205 .Grid-Column.Image img,
#Contents .Section.Col2.TextImage280 .Grid-Column.Image img {
    width: 100%;
}

/* 日本郵政グループの健康経営の取り組み
-------------------------------------------------------------- */
img.healthmanagement_image {
	width: 100%;
}

/* トップメッセージ
-------------------------------------------------------------- */
#Contents .BoxArea.Col2-Border1 #message02,
#Contents .BoxArea.Col2-Border1 #message03 {
	width: 100%;
}
#topmessage_2020 .Section.Flex .Grid-Column.Text p {
	text-align: right;
}

/* 女子陸上部　当部所属選手（関根　花観）の引退について
-------------------------------------------------------------- */
#Contents .Section .Flex .Flex-Item {
  width: 100%;
}
#Contents .Section .Flex .Flex-Item:not(:first-child) {
  margin-top: 20px;
}





