<div class="Section">
<p class="Text-Right">2015年12月21日</p>
<p>日本郵政グループは、日本最大級の環境展示会「エコプロダクツ2015」に出展しました。今年の「エコプロダクツ2015」は、開催テーマを「わたしが選ぶクールな未来」とし、12月10日（木曜日）から12日（土曜日）の3日間、東京ビッグサイトで開催されました。同展には、700社・団体が参加し、開催期間中、小・中学生、環境に関係する業務に携わる方など約16万9千人の方々がご来場されました。</p>
<!-- end .Section --></div>
<h2 class="Header"><span>「はがきとエンピツの世界」をイメージしたブースで展示しました</span></h2>
<div class="Section">
<p>日本郵政グループは、「はがきとエンピツの世界」をイメージしたブースを設置し、グループの環境に関する取り組み（ＪＰ子どもの森づくり運動「東北復興グリーンウェイブ」、年賀寄附金など）について、パネルや映像で紹介したほか、2015年6月から、郵便物の集荷や配達に使用するために、名古屋市内の郵便局4局で実証実験中の超小型電気自動車『コムス』を展示しました。また、「ぽすくま」がお出迎えし、多くの来場者に喜んでいただきました。</p>
<!-- end .Section --></div>
<h2 class="Header"><span>「はがき」のワークショップを開催しました</span></h2>
<div class="Section">
<p>期間中、青少年ペンフレンドクラブの講師による「はがき」のワークショップを開催しました。参加された方は、間伐材で作ったはがきに思い思いの文章や絵を描き、ブース内に設置した「ぽすくまポスト」、ヒノキの間伐材で作成した「丸型ポスト」に入れていただきました。最終日の12日（土曜日）には、会場内の「イベントステージ」で、『ＪＰ子どもの森づくり運動「東北復興グリーンウェイブ」』の活動紹介や岩手県山田町の園児代表などによる「ドングリの手渡し会」を行いました。</p>
<!-- end .Section --></div>
<h2 class="Header"><span>ご来場のお礼と今後に向けて</span></h2>
<div class="Section">
<p>日本郵政グループのブースには、3日間で、約5千5百人を超える方々にご訪問いただきました。<br /> 当ブースにお立ち寄りいただきました皆さま、ありがとうございました。多くの皆さまに、展示内容を通じて、日本郵政グループの環境への取り組みをご紹介し、また、ワークショップで使用した間伐材で作ったはがきを通じて、グループの環境保全の取り組みにご興味を持っていただけたと思います。</p>
<p>今後も、日本郵政グループは、CO<sub style="font-size: 80%;">2</sub>削減などの環境保全を始めとするCSR活動を、グループを挙げて推進して参ります。</p>
<!-- end .Section --></div>
<h2 class="Header"><span>日本郵政グループが出展したブースの様子</span></h2>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2015/images/eco2015_04.jpg" width="320" height="240" />
<p class="Caption">はがきとエンピツをイメージしたブース</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2015/images/eco2015_05.jpg" width="320" height="240" />
<p class="Caption">ぽすくまが来場者をお出迎え</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2015/images/eco2015_06.jpg" width="320" height="240" />
<p class="Caption">実証実験中の超小型電気自動車を展示</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2015/images/eco2015_07.jpg" width="320" height="240" />
<p class="Caption">来場者も興味津々の様子</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2015/images/eco2015_08.jpg" width="320" height="240" />
<p class="Caption">パネル展示をヒントにクイズラリーに挑戦</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2015/images/eco2015_09.jpg" width="320" height="240" />
<p class="Caption">使用済みインクカートリッジの回収を実施</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2015/images/eco2015_10.jpg" width="320" height="240" />
<p class="Caption">多くの方がワークショップに参加</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2015/images/eco2015_11.jpg" width="320" height="240" />
<p class="Caption">作成したはがきを木製丸型ポストへ投函</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>