<p class="Category Lead">日本郵政グループは、東京ビッグサイト（東京都江東区）で2015年12月10日（木曜日）から12日（土曜日）まで開催される国内最大級の環境展示会「エコプロダクツ2015」に出展します。</p>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="エコプロダクツ2015会場イメージ" src="/sustainability/images/eco2015_01.jpg" width="660" height="320" />
<p class="Caption">エコプロダクツ2015会場に日本郵政グループが出展するブースのイメージ</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>

<h2 class="Header"><span>1　エコプロダクツ2015の概要</span></h2>
<div class="Section Table-Dot">
<table><caption class="Hidden">エコプロダクツ2015の概要</caption><colgroup> <col style="width: 25%;" /> <col style="width: 75%;" /> </colgroup>
<tbody>

<tr><th scope="row">開催日時</th>
<td>2015年12月10日（木曜日）から12日（土曜日）まで</td>
</tr>

<tr><th scope="row">開催場所</th>
<td>東京ビッグサイト　東ホール（日本郵政グループのブース位置：東6ホール「6-010」）</td>
</tr>
<tr><th scope="row">入場料</th>
<td>無料（登録制）</td>
<tr><th scope="row">公式Webサイト</th>
<td>エコプロダクツ2015の詳細や入場登録については、公式Webサイトをご覧ください。<br /> <a class="Link Popup" title="別ウィンドウで表示します" href="http://eco-pro.com/2015/"><span>エコプロダクツ2015公式Webサイト</span></a></td>


</tr>

</tbody>
</table>
<!-- end .Section.Table-Dot --></div>

<h2 class="Header"><span>2　日本郵政グループの出展内容</span></h2>
<div class="Section">
<p>はがきと鉛筆をイメージしたブースで、日本郵政グループの環境への取り組みを、パネルや映像、実物展示でわかりやすくご紹介します。また、郵便局の臨時出張所を併設し、年賀はがきや記念切手を販売します。</p>
<!-- end .Section --></div>

<h2 class="Header"><span>3　日本郵政グループの主な展示物</span></h2>
<h3 class="Header"><span>1．実証実験中の超小型電気自動車</span></h3>

<div class="Section Col TextImage205 Image-Right">
<div class="Grid-Column Image">
<div class="Image"><img src="/sustainability/images/eco2015_02.jpg" alt="" width="200" height="200" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>今年6月から、愛知県名古屋市内の郵便局4局で、集配業務に導入し、実証実験を行なっている、超小型電気自動車「コムス」を展示します。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Right --></div>

<h3 class="Header"><span>2．間伐材で作成した木製丸型ポスト</span></h3>

<div class="Section Col TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img src="/sustainability/images/eco2015_03.jpg" alt="" height="205" width="150" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>ヒノキの間伐材で作成した丸型ポストのレプリカを設置します。このポストには、郵便物（手紙・はがき）の差し入れが可能です。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>

<h3 class="Header"><span>3．「インクカートリッジ里帰りプロジェクト」回収箱</span></h3>

<div class="Section">
<p>全国の主要郵便局3,639局（2015年11月末現在）に設置している「インクカートリッジ里帰りプロジェクト」の回収箱を設置し、使用済みインクカートリッジの回収を行ないます。期間中、インクカートリッジをお持ちいただいた方には粗品を差し上げます。<br/>※回収するインクカートリッジは本プロジェクトに加盟するプリンタメーカー6社（ブラザー、キヤノン、デル、エプソン、日本HP、レックスマーク）の純正品に限ります。</p>
<!-- end .Section --></div>

<div class="Section">
<p>インクカートリッジ里帰りプロジェクトについては、公式Webサイトをご覧ください。<br /> <a class="Link Popup" title="別ウィンドウで表示します" href="http://www.inksatogaeri.jp/"><span>インクカートリッジ里帰りプロジェクト公式Webサイト</span></a></p>
<!-- end .Section --></div>

<h2 class="Header"><span>4　ワークショップの開催</span></h2>
<div class="Section">
<p>間伐材を使用したはがきを使用したワークショップを期間中毎日開催します（参加費は無料です）。ワークショップで作成して、ポストに差し入れると、日本郵便のキャラクター「ぽすくま」とエコプロダクツのキャラクター「エコぴょん」を日替わりでデザインした小型記念日付印を押印し、お届けします。</p>


<!-- end .Section --></div>
