<div class="Section">
<p class="Text-left">※「ゆうせいチャレンジドアート展」は終了しています。</p>
<p class="Text-Right">2015年2月16日</p>
<p>日本郵政グループの一員「ゆうせいチャレンジド株式会社」の社員として郵便局などで働く、障がいのある社員たちが、楽しみながら描いた絵画を展示する「ゆうせいチャレンジドアート展」を、日本郵政ビル（東京都千代田区）で開催しています。</p>
<!-- end .Section --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2015/images/index_img_01.jpg" width="320" height="240" /></div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2015/images/index_img_02.jpg" width="320" height="240" /></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<h2 class="Header"><span>概要</span></h2>
<div class="Section Table-Dot">
<table><caption class="Hidden">「ゆうせいチャレンジドアート展」の概要</caption><colgroup> <col style="width: 30%;" /> <col style="width: 70%;" /> </colgroup>
<tbody>
<tr><th scope="row">開催期間</th>
<td>2015年2月16日（月曜日）から3月13日（金曜日）<br /> 平日の午前9時から午後6時まで（土曜日、日曜日を除きます）</td>
</tr>
<tr><th scope="row">開催場所</th>
<td>日本郵政ビル1階ロビー<br /> 東京都千代田区霞が関一丁目3番2号<br /> <a class="Link" href="/corporate/about/index02.html"><span>アクセス</span></a></td>
</tr>
<tr><th scope="row">主催</th>
<td>一般社団法人障がい者自立推進機構</td>
</tr>
<tr><th scope="row">協力</th>
<td>ゆうせいチャレンジド株式会社<br /> 一般社団法人スポーツオブハート</td>
</tr>
<tr><th scope="row">協賛</th>
<td>日本郵政グループ</td>
</tr>
<tr><th scope="row">展示方法</th>
<td>64点の絵画を、開催期間中、前期と後期の2回に分けてそれぞれ2週間ずつ展示します。</td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>
<h2 class="Header"><span>「ゆうせいチャレンジドアート展」開催にあたって</span></h2>
<div class="Section">
<p>日本郵政グループは、障がい者雇用の推進に積極的に取り組んでおり、2014年6月1日現在、グループ全体で約6,000名の障がいのある方が、様々な職場で活躍しています。今後も、グループを挙げて、障がい者雇用に係る取り組みを一層推進し、障がい者の雇用促進はもちろん、障がい者が社会に参画し、自立するための支援に努めて参ります。</p>
<!-- end .Section --></div>
<h2 class="Header"><span>ゆうせいチャレンジド株式会社について</span></h2>
<div class="Section">
<p>日本郵政グループにおける障がい者雇用を促進するため、2007年11月に日本郵政グループの一員として設立され、郵便局などで、清掃、印刷・製本、キャンディの袋詰め・発送業務等を行なっています。<br /> 2015年2月1日現在、首都圏16支店で134名のチャレンジド社員（障がいのある社員）が、みんな明るく、元気に、楽しく共同で仕事をしており、運動会などのレクリエーションや社内報の発行など、社員の一体感を高める取り組みにも力を入れています。今回のアート展も、そうした取り組みの一環として協力しています。</p>
<!-- end .Section --></div>