<div class="Section">
<p class="Text-Right">2015年6月2日</p>
<p>2015年6月6日（土曜日）と7日（日曜日）、代々木公園（東京都渋谷区）で開催する環境イベント「エコライフ・フェア2015」（主催：環境省）に、日本郵政グループのブースを出展します。</p>
<p>日本郵政グループのブースでは、グループが取り組む環境保全施策を幅広く紹介するため、「ＪＰ子どもの森づくり運動」や「電気自動車の使用」などのパネル展示のほか、来場者を対象にワークショップを実施します。</p>
<p>ワークショップでは、「はがきをデコってみよう！」をテーマに、間伐材を使用したはがきをシールや生地でデコレーションし、切手を貼って、ブース内に設置する「ぽすくまポスト」に差し出します。差し出したはがきは、郵便物としてあて先にお届けします。</p>
<!-- end .Section --></div>

<h2 class="Header"><span>概要</span></h2>
<div class="Section Table-Dot">
<table><caption class="Hidden">「エコライフ・フェア2015」の概要</caption><colgroup> <col style="width: 30%;" /> <col style="width: 70%;" /> </colgroup>
<tbody>
<tr><th scope="row">会場</th>
<td>都立代々木公園（ケヤキ並木・イベント広場）<br>
※日本郵政グループのブース番号は「A-4」です。
</td>
</tr>
<tr><th scope="row">日時</th>
<td>2015年6月6日（土曜日）：午前11時から午後5時まで<br>
2015年6月7日（日曜日）：午前10時から午後5時まで
</td>
</tr>
<tr><th scope="row">入場料</th>
<td>無料</td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>
