<div class="Section">
<p class="Text-Right">2014年12月22日</p>
<p>日本郵政グループは、日本最大級の環境展示会「エコプロダクツ2014」に出展しました。今年の「エコプロダクツ2014」は、開催テーマを「見つけよう！未来をかえるエコの知恵」とし、12月11日（木曜日）から13日（土曜日）の3日間、東京ビッグサイトで開催されました。同展には、747社・団体が参加し、開催期間中、小・中学生、環境に関係する業務に携わる方など約16万2千人の方々がご来場されました。</p>
<!-- end .Section --></div>
<h2 class="Header"><span>「森の郵便局」をイメージしたブースで展示しました</span></h2>
<div class="Section">
<p>日本郵政グループは、「森の郵便局」をイメージしたブースを設置し、グループの環境に関する取り組み（ＪＰ子どもの森づくり運動「東北復興グリーンウェイブ」、年賀寄附金など）について、パネルや映像で紹介したほか、今月から横浜市とさいたま市で使用を始めた最新型の電気自動車などを展示しました。また、ブース内で、「ぽすくま」が来場者をお出迎えし、多くの方々に喜んでいただきました。</p>
<!-- end .Section --></div>
<h2 class="Header"><span>「はがき」のワークショップを開催しました</span></h2>
<div class="Section">
<p>期間中、青少年ペンフレンドクラブの講師による「はがき」のワークショップを開催しました。参加された方は、間伐材で作ったはがきに思い思いの文章や絵を描き、ブース内に設置した「ぽすくまポスト」に入れていただきました。最終日の13日（土曜日）には、会場内の「学びの広場」でも、『ＪＰ子どもの森づくり運動「東北復興グリーンウェイブ」』の活動紹介や「はがき」のワークショップを行いました。</p>
<!-- end .Section --></div>
<h2 class="Header"><span>ご来場のお礼と今後に向けて</span></h2>
<div class="Section">
<p>日本郵政グループのブースには、3日間で、約5千4百人を超える方々にご訪問いただきました。<br /> 当ブースにお立ち寄りいただきました皆さま、ありがとうございました。多くの皆さまに、展示内容を通じて、日本郵政グループの環境への取り組みをご理解いただくとともに、ワークショップで使用した間伐材で作ったはがきを通じて、環境保全の取り組みなどにもご興味を持っていただけたようです。</p>
<p>今後も、日本郵政グループは、CO<sub style="font-size: 80%;">2</sub>削減など環境保全の取り組みを、グループを挙げて推進して参ります。</p>
<!-- end .Section --></div>
<h2 class="Header"><span>日本郵政グループの様子</span></h2>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index02_img_01.jpg" width="320" height="240" />
<p class="Caption">森の郵便局をイメージしたブース</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index02_img_02.jpg" width="320" height="240" />
<p class="Caption">2014年12月に配備した電気自動車の展示</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index02_img_03.jpg" width="320" height="240" />
<p class="Caption">日本郵便のキャラクター「ぽすくま」</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index02_img_04.jpg" width="320" height="240" />
<p class="Caption">エコプロダクツ2014限定の日付印</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index02_img_05.jpg" width="320" height="240" />
<p class="Caption">パネル展示をヒントにクイズラリーの実施</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index02_img_06.jpg" width="320" height="240" />
<p class="Caption">間伐材を使用したはがきを書くワークショップ</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index02_img_07.jpg" width="320" height="240" />
<p class="Caption">沢山の親子連れがワークショップに参加</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index02_img_08.jpg" width="320" height="240" />
<p class="Caption">書いたはがきを「ぽすくまポスト」に投函</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index02_img_09.jpg" width="320" height="240" />
<p class="Caption">来場者に大人気の「ぽすくま」</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index02_img_10.jpg" width="320" height="240" />
<p class="Caption">郵便局の臨時出張所</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index02_img_11.jpg" width="320" height="240" />
<p class="Caption">「学びのひろば」でもワークショップを実施</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index02_img_12.jpg" width="320" height="240" />
<p class="Caption">「どんぐりーず」も登場</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>