<div class="Section">
<p class="Text-Right">2014年2月3日</p>
<p>日本郵政グループは、「みんなで体験活動ワールド」（文部科学省主催）に出展しました。</p>
<p>2月1日（土曜日）・2日（日曜日）の2日間、サンシャインシティ（東京都豊島区）で開催された『～とびだせ！キッズ！～「みんなで体験活動ワールド」』に日本郵政グループのブースを出展しました。</p>
<p>日本郵政グループのブースでは、当グループが支援する子どもの環境体験活動「子どもの森づくり運動」などの取り組みについて、パネルや動画を展示したほか、NPO法人子どもの森づくり推進ネットワークのご協力を得て、「森の絵はがきづくり」や「ウッドクラフト」のワークショップを実施しました。</p>
<p>日本郵政グループのブースに、2日間で、約900人の方々にご来訪いただきました。<br /> ブースにお立ち寄りいただきました皆さま、たいへんありがとうございました。</p>
<p>多くの皆さまに、展示内容を通じて、グループが提供・支援する子どもたちの体験・学習の取り組み等をご理解いただきました。それとともに、ワークショップで行われた「森の絵はがきづくり」では、間伐材を利用したはがきに絵を描いて、切手を貼り、郵便を利用する体験をしていただきました。また、「ウッドクラフト」では、自然木を利用した工作体験をしていただきました。これらの体験を通じて、環境保全の取り組みについてもご興味を持っていただけたようです。</p>
<p>今後も、日本郵政グループは、子どもの体験・学習などの社会貢献・環境保全の取り組みを、グループを挙げて推進して参ります。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="" src="/sustainability/topics/2014/images/index_img_01.jpg" width="517" height="360" />
<p class="Caption">日本郵政グループブース（パネル・映像で取り組みを紹介）</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index_img_02.jpg" width="250" height="167" />
<p class="Caption">森の絵はがきづくり（間伐材を利用したはがきに絵を描き、あて名を書く体験）</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index_img_03.jpg" width="250" height="167" />
<p class="Caption">森の絵はがきづくり（切手を貼って、ポストに入れる体験）</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index_img_04.jpg" width="250" height="167" />
<p class="Caption">ウッドクラフト（自然木を利用した工作体験）</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index_img_05.jpg" width="250" height="167" />
<p class="Caption">多数のご来訪をいただきました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/topics/2014/images/index_img_06.jpg" width="250" height="167" /></div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>