<div id="title_box">
  <div id="csr_main_img_position">
    <h1>GRIスタンダード対照表</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p class="Category Lead">GRI（Global Reporting Initiative）の「サステナビリティ・レポーティング・ガイドライン」（GRI Standards）と、日本郵政グループの取り組みの対照表です。</p>

<div class="Section List-Horizontal">
<ul>
<li><a class="Link Inner" href="#general">一般開示事項</a></li>
<li><a class="Link Inner" href="#management">マネジメント手法</a></li>
<li><a class="Link Inner" href="#economy">経済</a></li>
<li><a class="Link Inner" href="#environment">環境</a></li>
<li><a class="Link Inner" href="#society">社会</a></li>
</ul>
<!-- end .Section.List-Horizontal --></div>
<!-- end .Section --></div>

<div class="Section Table-Border">
<table id="general">
<caption><strong>一般開示事項</strong></caption>
<colgroup>
<col width="10%">
<col width="55%">
<col>
</colgroup>
<thead>
<tr>
<th class="BG-Gray" scope="col">項目</th>
<th class="BG-Gray" scope="col">指標の内容（一部抜粋）</th>
<th class="BG-Gray" scope="col">掲載ページ</th>
</tr>
</thead>

<tbody>
<tr><td class="Text-Left">102-1</td>
<td>組織の名称</td>
<td><a class="Link" href="/corporate/about/">会社概要</a></td>
</tr>
<tr><td class="Text-Left">102-2</td>
<td>a. 組織の事業活動に関する説明<br>b. 主要なブランド、製品、およびサービス。特定の市場で販売が禁止されている製品またはサービスがあれば、その説明を含める</td>
<td><a class="Link" href="/group/map/">グループ会社紹介</a></td>
</tr>
<tr><td class="Text-Left">102-3</td>
<td>組織の本社の所在地</td>
<td><a class="Link" href="/corporate/about/">会社概要</a></td>
</tr>
<tr><td class="Text-Left">102-4</td>
<td>組織が事業を展開している国の数、および重要な事業所を所有している国の名称。報告書に記載している項目との関連は問わない</td>
<td><a class="Link" href="/csr/web_report/index02.html">日本郵政グループの概要</a><br><a class="Link PDF" title="PDFファイルを表示します" href="/ir/library/disclosure/2018/pdf/05.pdf"><span>統合報告書 非財務ハイライト</span></a>［PDF：1,526kバイト］</td>
</tr>
<tr><td class="Text-Left">102-5</td>
<td>組織の所有形態や法人格の形態</td>
<td><a class="Link" href="/corporate/about/">会社概要</a></td>
</tr>
<tr><td class="Text-Left">102-6</td>
<td>a. 参入市場。次の事項を含む<br>i. 製品およびサービスを提供している地理的な場所<br>ii. 参入業種<br>iii. 顧客および受益者の種類</td>
<td><a class="Link" href="/corporate/about/">会社概要</a><br><a class="Link PDF" title="PDFファイルを表示します" href="/ir/library/disclosure/2018/pdf/int_all.pdf#page=135"><span>統合報告書 全国に広がる郵便局ネットワーク</span></a>［PDF：12,710kバイト］</td>
</tr>
<tr><td class="Text-Left">102-7</td>
<td>a. 組織の規模。次の事項を含む<br>i. 総従業員数<br>ii. 総事業所数<br>iii. 純売上高（民間組織について）、純収入（公的組織について）<br>iv. 株主資本および負債の内訳を示した総資本（民間組織について）<br>v. 提供する製品、サービスの量</td>
<td><a class="Link" href="/csr/web_report/index02.html">日本郵政グループの概要</a><br><a class="Link PDF" title="PDFファイルを表示します" href="/ir/library/disclosure/2018/pdf/outline_05.pdf"><span>統合報告書 資料編 5.主要な経営指標等の推移</span></a>［PDF：1,238kバイト］</td>
</tr>
<tr><td class="Text-Left">102-8</td>
<td>a. 雇用契約（正社員と臨時雇用者）別の、男女別総従業員数<br>
b. 雇用契約（正社員と臨時雇用者）別の、地域別総従業員数<br>
c. 雇用の種類（常勤と非常勤）別の、男女別総従業員数<br>
d. 組織の活動の相当部分を担う者が、従業員以外の労働者であるか否か。該当する場合、従業員以外の労働<br>
者が担う作業の性質および規模についての記述<br>
e. 開示事項102-8-a、102-8-b、102-8-cで報告する従業員数に著しい変動（観光業や農業における季節変動）<br>
f. データの編集方法についての説明（何らかの前提があればそれも含める）</td>
<td><a class="Link" href="/csr/web_report/index02.html">日本郵政グループの概要</a><br><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">102-10</td>
<td>a. 組織の規模、構造、所有形態、またはサプライチェーンに関して生じた重大な変化。次の事項を含む<br>
i. 所在地または事業所に関する変化（施設の開設や閉鎖、拡張を含む）<br>
ii. 株式資本構造の変化、その他資本の形成、維持、変更手続きの実施による変化（民間組織の場合）<br>
iii. サプライヤーの所在地、サプライチェーンの構造、またはサプライヤーとの関係の変化（選定や解消を含む）</td>
<td><a class="Link PDF" title="PDFファイルを表示します" href="http://contents.xj-storage.jp/xcontents/AS06651/48591529/2cde/4a4e/9382/27a2db959f77/20190620152026423s.pdf"><span>有価証券報告書</span></a>［PDF：1mバイト]<br>第一部 企業情報<br>第1 企業の概況<br>4 関係会社の状況<br><a class="Link PDF" title="PDFファイルを表示します" href="/ir/library/disclosure/2018/pdf/03.pdf"><span>統合報告書 日本郵政グループのあゆみ</span></a>［PDF：1,419kバイト]<br><a class="Link Popup" href="https://www.post.japanpost.jp/notification/storeinformation/index.php" target="_blank"><span>開局情報(開局・一時閉鎖等)</span></a>-日本郵便</td>
</tr>
<tr><td class="Text-Left">102-11</td>
<td>a. 組織が予防原則や予防的アプローチに取り組んでいるか。またその取り組み方</td>
<td><a class="Link" href="/ir/strategy/index06.html">事業等のリスク</a></td>
</tr>
<tr><td class="Text-Left">102-12</td>
<td>a. 外部で作成された経済、環境、社会の憲章、原則その他のイニシアティブで、組織が署名または支持しているもののリスト</td>
<td><a class="Link" href="/csr/index02.html">日本郵政グループサステナビリティ基本方針</a></td>
</tr>
<tr><td class="Text-Left">102-14</td>
<td>a. 組織とサステナビリティの関連性、およびサステナビリティに取り組むための戦略に関する、組織の最高意思決定者（CEO、会長またはそれに相当する上級幹部）の声明</td>
<td></td>
</tr>
<tr><td class="Text-Left">102-15</td>
<td>a. 重要なインパクト、リスク、機会の説明</td>
<td><a class="Link" href="/ir/strategy/index06.html">事業等のリスク</a></td>
</tr>
<tr><td class="Text-Left">102-16</td>
<td>a. 組織の価値観、理念、行動基準・規範についての説明</td>
<td><a class="Link" href="/group/index03.html">グループ経営理念・経営方針</a><br><a class="Link" href="/group/index09.html">グループ行動憲章</a></td>
</tr>
<tr><td class="Text-Left">102-17</td>
<td>a. 組織内外に設けられている次の制度についての説明<br>
i. 倫理的行為および合法行為、ならびに組織の誠実性に関する助言を求める制度<br>
ii. 非倫理的行為または違法行為、ならびに組織の誠実性に関する懸念を通報する制度</td>
<td><a class="Link" href="/group/governance/index02.html">コーポレートガバナンスに関する基本方針</a><br><a class="Link PDF" title="PDFファイルを表示します" href="/ir/library/disclosure/2018/pdf/19.pdf"><span>統合報告書 日本郵政グループのコンプライアンス</span></a>［PDF：1,026kバイト]</td>
</tr>
<tr><td class="Text-Left">102-18</td>
<td>a. 組織のガバナンス構造。最高ガバナンス機関の委員会を含む<br>
b. 経済、環境、社会項目に関する意思決定に責任を負っている委員会</td>
<td><a class="Link" href="/group/governance/index02.html">コーポレートガバナンスに関する基本方針</a><br><a class="Link PDF" title="PDFファイルを表示します" href="/ir/library/disclosure/2018/pdf/16.pdf"><span>統合報告書 日本郵政グループのコーポレートガバナンス</span></a>［PDF：1,008kバイト]</td>
</tr>
<tr><td class="Text-Left">102-19</td>
<td>a. 最高ガバナンス機関から役員や他の従業員へ、経済、環境、社会項目に関して権限委譲を行うプロセス</td>
<td><a class="Link" href="/csr/index02.html">日本郵政グループサステナビリティ基本方針</a></td>
</tr>
<tr><td class="Text-Left">102-20</td>
<td>a. 組織が、役員レベルの地位にある者を経済、環境、社会項目の責任者として任命しているか<br>b. その地位にある者が、最高ガバナンス機関の直属となっているか</td>
<td><a class="Link" href="/csr/index02.html">日本郵政グループサステナビリティ基本方針</a><br><a class="Link PDF" title="PDFファイルを表示します" href="http://contents.xj-storage.jp/xcontents/AS06651/48591529/2cde/4a4e/9382/27a2db959f77/20190620152026423s.pdf"><span>有価証券報告書</span></a>［PDF：1mバイト]<br>第一部 企業情報<br>第4 提出会社の状況<br>6 コーポレート・ガバナンスの状況等<br><a class="Link PDF" title="PDFファイルを表示します" href="/group/governance/pdf/02_11.pdf"><span>コーポレート・ガバナンス体制図</span></a>［PDF：39kバイト]</td>
</tr>
<tr><td class="Text-Left">102-21</td>
<td>a. ステークホルダーと最高ガバナンス機関の間で、経済、環境、社会項目に関して協議を行うプロセス<br>b. 協議が権限移譲されている場合は、誰に委任されているか、最高ガバナンス機関への結果のフィードバックをどのように行っているか</td>
<td><a class="Link" href="/csr/index02.html">日本郵政グループサステナビリティ基本方針</a><br><a class="Link PDF" title="PDFファイルを表示します" href="http://contents.xj-storage.jp/xcontents/AS06651/48591529/2cde/4a4e/9382/27a2db959f77/20190620152026423s.pdf"><span>有価証券報告書</span></a>［PDF：1mバイト]<br>第一部 企業情報<br>第4 提出会社の状況<br>6 コーポレート・ガバナンスの状況等<br><a class="Link PDF" title="PDFファイルを表示します" href="/group/governance/pdf/02_11.pdf"><span>コーポレート・ガバナンス体制図</span></a>［PDF：39kバイト]</td>
</tr><tr><td class="Text-Left">102-22</td>
<td>a. 最高ガバナンス機関およびその委員会の構成。次の事項による<br>
i. 執行権の有無<br>
ii. 独立性<br>
iii. ガバナンス機関における任期<br>
iv. 構成員の他の重要な役職およびコミットメントの数、ならびにコミットメントの性質<br>
v. ジェンダー<br>
vi. 発言権が低い社会的グループのメンバー<br>
vii. 経済、環境、社会項目に関係する能力<br>
viii. ステークホルダーの代表</td>
<td><a class="Link" href="/group/governance/index02.html">コーポレート・ガバナンスに関する基本方針</a><br>
<a class="Link PDF" title="PDFファイルを表示します" href="http://contents.xj-storage.jp/xcontents/AS06651/48591529/2cde/4a4e/9382/27a2db959f77/20190620152026423s.pdf"><span>有価証券報告書</span></a>［PDF：1mバイト]<br>第一部 企業情報<br>第4 提出会社の状況<br>6 コーポレート・ガバナンスの状況等</td>
</tr>
<tr><td class="Text-Left">102-23</td>
<td>a. 最高ガバナンス機関の議長が組織の執行役員を兼ねているか否か<br>
b. 議長が執行役員を兼ねている場合、組織の経営におけるその者の役割と、そのような人事の理由</td>
<td><a class="Link PDF" title="PDFファイルを表示します" href="/group/governance/pdf/01.pdf"><span>コーポレート・ガバナンスに関する報告書</span></a>［PDF：197kバイト］</td>
</tr>
<tr><td class="Text-Left">102-24</td>
<td>a. 最高ガバナンス機関およびその委員会メンバーの指名と選出のプロセス<br>
b. 最高ガバナンス機関のメンバーの指名と選出で用いられる基準。次の事項を含む<br>
i. ステークホルダー（株主を含む）が関与しているか、どのように関与しているか<br>
ii. 多様性が考慮されているか、どのように考慮されているか<br>
iii. 独立性が考慮されているか、どのように考慮されているか<br>
iv. 経済、環境、社会項目に関する専門知識や経験が考慮されているか、どのように考慮されているか</td>
<td><a class="Link" href="/group/governance/index02.html">コーポレート・ガバナンスに関する基本方針</a><br><a class="Link PDF" title="PDFファイルを表示します" href="/group/governance/pdf/01.pdf"><span>コーポレート・ガバナンスに関する報告書</span></a>［PDF：197kバイト］</td>
</tr>
<tr><td class="Text-Left">102-25</td>
<td>a. 利益相反の回避、対処のために最高ガバナンス機関が行っているプロセス<br>
b. 利益相反に関する情報をステークホルダーに開示しているか。最低限、次の事項を含む<br>
i. 役員会メンバーへの相互就任<br>
ii. サプライヤーおよびその他のステークホルダーとの株式の持ち合い<br>
iii. 支配株主の存在<br>
iv. 関連当事者の情報</td>
<td><a class="Link" href="/group/governance/index02.html">コーポレート・ガバナンスに関する基本方針</a><br><a class="Link PDF" title="PDFファイルを表示します" href="/group/governance/pdf/01.pdf"><span>コーポレート・ガバナンスに関する報告書</span></a>［PDF：197kバイト］<br><a class="Link" href="/group/index13.html">グループ利益相反管理方針</a></td>
</tr>
<tr><td class="Text-Left">102-26</td>
<td>a. 経済、環境、社会項目に関わる組織の目的、価値観、ミッション・ステートメント、戦略、方針、目標の策定、承認、更新に際して、最高ガバナンス機関と役員が果たす役割</td>
<td><a class="Link" href="/csr/index02.html">日本郵政グループサステナビリティ基本方針</a><br><a class="Link PDF" title="PDFファイルを表示します" href="http://contents.xj-storage.jp/xcontents/AS06651/48591529/2cde/4a4e/9382/27a2db959f77/20190620152026423s.pdf"><span>有価証券報告書</span></a>［PDF：1mバイト]<br>第一部 企業情報<br>第4 提出会社の状況<br>6 コーポレート・ガバナンスの状況等<br><a class="Link PDF" title="PDFファイルを表示します" href="/group/governance/pdf/02_11.pdf"><span>コーポレート・ガバナンス体制図</span>［PDF：39kバイト]</td>
</tr>
<tr><td class="Text-Left">102-27</td>
<td>a. 経済、環境、社会項目に関する最高ガバナンス機関の集合的知見を発展、強化するために実施した施策</td>
<td><a class="Link PDF" title="PDFファイルを表示します" href="/group/governance/pdf/01.pdf"><span>コーポレート・ガバナンスに関する報告書</span></a>［PDF：197kバイト］</td>
</tr>
<tr><td class="Text-Left">102-28</td>
<td>a. 最高ガバナンス機関の経済、環境、社会項目のガバナンスに関するパフォーマンスを評価するためのプロセス<br>
b. 当該評価の独立性が確保されているか否か、および評価の頻度<br>
c. 当該評価が自己評価であるか否か<br>
d. 最高ガバナンス機関の経済、環境、社会項目のガバナンスに関するパフォーマンス評価に対応して行った措置。<br>
最低限、メンバーの変更や組織の実務慣行の変化を含む</td>
<td><a class="Link" href="/csr/index02.html">日本郵政グループサステナビリティ基本方針</a><br><a class="Link PDF" title="PDFファイルを表示します" href="/ir/library/disclosure/2018/pdf/15.pdf"><span>
統合報告書 日本郵政グループのCSR</span></a>［PDF：1,782kバイト]<br><a class="Link PDF" title="PDFファイルを表示します" href="http://contents.xj-storage.jp/xcontents/AS06651/48591529/2cde/4a4e/9382/27a2db959f77/20190620152026423s.pdf"><span>有価証券報告書</span></a>［PDF：1mバイト]<br>第一部 企業情報<br>第4 提出会社の状況<br>6 コーポレート・ガバナンスの状況等<br><a class="Link PDF" title="PDFファイルを表示します" href="/group/governance/pdf/02_11.pdf"><span>コーポレート・ガバナンス体制図</span>［PDF：39kバイト]</td>
</tr>
<tr><td class="Text-Left">102-29</td>
<td>a. 経済、環境、社会項目、およびそのインパクト、リスク、機会の特定とマネジメントにおける最高ガバナンス機関の役割。デュー・デリジェンス・プロセスの実施における最高ガバナンス機関の役割を含む<br>
b.最高ガバナンス機関による経済、環境、社会項目、およびそのインパクト、リスク、機会の特定とマネジメントをサポートするために、ステークホルダーとの協議が活用されているか否か</td>
<td><a class="Link PDF" title="PDFファイルを表示します" href="/group/governance/pdf/01.pdf"><span>コーポレート・ガバナンスに関する報告書</span></a>［PDF：197kバイト］</td>
</tr>
<tr><td class="Text-Left">102-30</td>
<td>a. 経済、環境、社会項目に関するリスクマネジメント・プロセスの有効性のレビューにおける最高ガバナンス機関の役割</td>
<td><a class="Link PDF" title="PDFファイルを表示します" href="/group/governance/pdf/01.pdf"><span>コーポレート・ガバナンスに関する報告書</span></a>［PDF：197kバイト］<br><a class="Link PDF" title="PDFファイルを表示します" href="/ir/library/disclosure/2018/pdf/20.pdf"><span>統合報告書 日本郵政グループのリスク管理</span>［PDF：895kバイト]</td>
</tr>
<tr><td class="Text-Left">102-31</td>
<td>a. 経済、環境、社会項目、およびそのインパクト、リスク、機会に関して最高ガバナンス機関が行うレビューの頻度</td>
<td><a class="Link PDF" title="PDFファイルを表示します" href="/group/governance/pdf/01.pdf"><span>コーポレート・ガバナンスに関する報告書</span></a>［PDF：197kバイト］</td>
</tr>
<tr><td class="Text-Left">102-33</td>
<td>a. 最高ガバナンス機関に対して重大な懸念事項を伝達するために設けられているプロセス</td>
<td><a class="Link PDF" title="PDFファイルを表示します" href="/ir/library/disclosure/2018/pdf/16.pdf"><span>統合報告書 日本郵政グループのコーポレートガバナンス</span></a>［PDF：1,008kバイト]<br><a class="Link PDF" title="PDFファイルを表示します" href="/ir/library/disclosure/2018/pdf/20.pdf"><span>統合報告書 日本郵政グループのリスク管理</span>［PDF：895kバイト]<br><a class="Link PDF" title="PDFファイルを表示します" href="/ir/library/disclosure/2018/pdf/19.pdf"><span>統合報告書 日本郵政グループのコンプライアンス</span></a>［PDF：1,026kバイト]</td>
</tr>
<tr><td class="Text-Left">102-35</td>
<td>a. 最高ガバナンス機関および役員に対する報酬方針。次の種類の報酬を含む<br>
i. 固定報酬と変動報酬（パフォーマンス連動報酬、株式連動報酬、賞与、後配株式または権利確定株式を含む）<br>
ii. 契約金、採用時インセンティブの支払い<br>
iii. 契約終了手当<br>
iv. クローバック<br>
v. 退職給付（最高ガバナンス機関、役員、その他の全従業員について、それぞれの給付制度と拠出金率の違いから生じる差額を含む）<br>
b. 報酬方針におけるパフォーマンス基準と、最高ガバナンス機関および役員の経済、環境、社会項目における目標がどのように関係しているか</td>
<td><a class="Link PDF" title="PDFファイルを表示します" href="http://contents.xj-storage.jp/xcontents/AS06651/48591529/2cde/4a4e/9382/27a2db959f77/20190620152026423s.pdf"><span>有価証券報告書</span></a>［PDF：1mバイト]<br>第一部 企業情報<br>第4 提出会社の状況<br>6 コーポレート・ガバナンスの状況等</td>
</tr>
<tr><td class="Text-Left">102-36</td>
<td>a. 報酬の決定プロセス<br>
b. 報酬コンサルタントが報酬の決定に関与しているか否か、また報酬コンサルタントが経営陣から独立しているか否か<br>
c. 報酬コンサルタントと組織との間に存在するその他の関係</td>
<td><a class="Link PDF" title="PDFファイルを表示します" href="http://contents.xj-storage.jp/xcontents/AS06651/48591529/2cde/4a4e/9382/27a2db959f77/20190620152026423s.pdf"><span>有価証券報告書</span></a>［PDF：1mバイト]<br>第一部 企業情報<br>第4 提出会社の状況<br>6 コーポレート・ガバナンスの状況等</td>
</tr>
<tr><td class="Text-Left">102-40</td>
<td>a. 組織がエンゲージメントしたステークホルダー・グループのリスト</td>
<td><a class="Link" href="/csr/engagement.html">ステークホルダーエンゲージメント</a></td>
</tr>
<tr><td class="Text-Left">102-43</td>
<td>a. 組織のステークホルダー・エンゲージメントへのアプローチ方法。種類別、ステークホルダー・グループ別のエンゲージメントの頻度を含む。また、特に報告書作成プロセスの一環として行ったエンゲージメントか否かを示す</td>
<td><a class="Link" href="/csr/engagement.html">ステークホルダーエンゲージメント</a></td>
</tr>
<tr><td class="Text-Left">102-44</td>
<td>a. ステークホルダー・エンゲージメントにより提起された重要な項目および懸念。次の事項を含む<br>
i. 組織が重要な項目および懸念にどう対応したか（報告を行って対応したものを含む）<br>
ii. 重要な項目および懸念を提起したステークホルダー・グループ</td>
<td><a class="Link" href="/csr/engagement.html">ステークホルダーエンゲージメント</a></td>
</tr>
<tr><td class="Text-Left">102-45</td>
<td>a. 組織の連結財務諸表または同等文書の対象になっているすべての事業体のリスト<br>
b. 組織の連結財務諸表または同等文書の対象になっている事業体のいずれかが報告書の記載から外れているか否か</td>
<td><a class="Link PDF" title="PDFファイルを表示します" href="http://contents.xj-storage.jp/xcontents/AS06651/48591529/2cde/4a4e/9382/27a2db959f77/20190620152026423s.pdf"><span>有価証券報告書</span></a>［PDF：1mバイト]<br>第一部 企業情報<br>第1 企業の概況<br>4 関係会社の状況</td>
</tr>
<tr><td class="Text-Left">102-46</td>
<td>a. 報告書の内容および項目の該当範囲を確定するためのプロセスの説明<br>
b. 組織が報告書の内容を確定する際、報告原則をどのように適用したかについての説明</td>
<td><a class="Link" href="/csr/report/">日本郵政グループ サステナビリティレポート</a><br><a class="Link PDF" title="PDFファイルを表示します" href="/ir/library/disclosure/2018/pdf/int_all.pdf#page=2"><span>統合報告書 編集方針</span></a>［PDF：9,324kバイト]</td>
</tr>
<tr><td class="Text-Left">102-47</td>
<td>a. 報告書の内容を確定するプロセスで特定したマテリアルな項目のリスト</td>
<td><a class="Link" href="/csr/materiality.html">日本郵政グループのCSR重点課題（マテリアリティ）</a></td>
</tr>
<tr><td class="Text-Left">102-50</td>
<td>a. 提供情報の報告期間</td>
<td><a class="Link" href="/csr/report/">日本郵政グループ サステナビリティレポート</a></td>
</tr>
<tr><td class="Text-Left">102-51</td>
<td>a. 前回発行した報告書の日付（該当する場合）</td>
<td><a class="Link" href="/csr/report/">日本郵政グループ サステナビリティレポート</a></td>
</tr>
<tr><td class="Text-Left">102-52</td>
<td>a. 報告サイクル</td>
<td><a class="Link" href="/csr/report/">日本郵政グループ サステナビリティレポート</a></td>
</tr>
<tr><td class="Text-Left">102-53</td>
<td>a. 報告書またはその内容に関する質問の窓口</td>
<td><a class="Link" href="/corporate/about/">会社概要</a></td>
</tr>
<tr><td class="Text-Left">102-55</td>
<td>a. GRIの内容索引（使用した各スタンダードを明記し、報告書に記載したすべての開示事項を一覧表示する）<br>
b. 内容索引には、各開示事項について次の情報を含める<br>
i. 開示事項の番号（GRIスタンダードに従って開示した項目について）<br>
ii. 報告書またはその他の公開資料の中で、該当の情報が記載されているページ番号またはURL<br>
iii. 要求される開示事項の省略が認められていて、開示できない場合の省略の理由（該当する場合）</td>
<td>（本表）</td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Border --></div>


<div class="Section Table-Border">
<table id="management">
<caption><strong>マネジメント手法</strong></caption>
<colgroup>
<col width="10%">
<col width="55%">
<col>
</colgroup>
<thead>
<tr>
<th class="BG-Gray" scope="col">項目</th>
<th class="BG-Gray" scope="col">指標の内容（一部抜粋）</th>
<th class="BG-Gray" scope="col">掲載ページ</th>
</tr>
</thead>

<tbody>
<tr><td class="Text-Left">103-1</td>
<td>a. その項目がマテリアルである理由の説明<br>
b. マテリアルな項目の該当範囲 。次の記述を含む<br>
i. どこでインパクトが生じるのか<br>
ii. 組織のインパクトへの関与 。例えば、組織のインパクトへの関与は直接的か間接的か、または組織のビジネス関係を通じてインパクトに関連したかどうか<br>
c. 該当範囲に関する具体的な制約事項</td>
<td><a class="Link" href="/csr/materiality.html">日本郵政グループのCSR重点課題（マテリアリティ）</a></td>
</tr>
<tr><td class="Text-Left">103-2</td>
<td>a. 組織がその項目をどのようにマネジメントしているかについての説明<br>
b. マネジメント手法の目的に関する表明<br>
c. マネジメント手法に次の要素が含まれている場合、各要素についての説明<br>
i. 方針<br>
ii. コミットメント<br>
iii. 目標およびターゲット<br>
iv. 責任<br>
v. 経営資源<br>
vi. 苦情処理メカニズム<br>
vii. 具体的な措置（プロセス、プロジェクト、プログラム、イニシアティブなど）</td>
<td><a class="Link" href="/csr/sdgs.html">SDGs達成に向けた取り組み</a><br>
<a class="Link" href="/csr/society/">地域社会と共に</a><br>
<a class="Link" href="/csr/environment/">地球と共に</a><br>
<a class="Link" href="/csr/human/">人と共に</a><br>
<a class="Link" href="/csr/human_rights.html">日本郵政グループ人権方針</a><br>
<a class="Link" href="/procurement/index03.html">日本郵政グループの調達活動に関する考え方</a></td>
</tr>
<tr><td class="Text-Left">103-3</td>
<td>a. 組織によるマネジメント手法の評価方法 。次の事項を含む<br>
i. マネジメント手法の有効性を評価する仕組み<br>
ii. マネジメント手法の評価結果<br>
iii. マネジメント手法に関して行った調整<br>
<td><a class="Link" href="/csr/index02.html">日本郵政グループサステナビリティ基本方針</a><br>
<a class="Link" href="/csr/engagement.html">ステークホルダーエンゲージメント</a></td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Border --></div>


<div class="Section Table-Border">
<table id="economy">
<caption><strong>経済</strong></caption>
<colgroup>
<col width="10%">
<col width="55%">
<col>
</colgroup>
<thead>
<tr>
<th class="BG-Gray" scope="col">項目</th>
<th class="BG-Gray" scope="col">指標の内容（一部抜粋）</th>
<th class="BG-Gray" scope="col">掲載ページ</th>
</tr>
</thead>

<tbody>
<tr><td class="Text-Left">201-1</td>
<td>a. 創出、分配した直接的経済価値（発生主義ベースによる）。これには、組織のグローバルにおける事業について、次に一覧表示する基本要素を含める。データを現金主義で表示する場合は、その判断理由を次の基本要素に加えて報告する<br>
i. 創出した直接的経済価値：収益<br>
ii. 分配した経済価値：事業コスト、従業員給与と諸手当、資本提供者への支払い、政府への支払い（国別）、コミュニティ投資<br>
iii. 留保している経済価値：「創出した直接的経済価値」から「分配した経済価値」を引いたもの<br>
b. 影響が著しいものについて、創出・分配経済価値を国、地域、市場レベルに分けて報告する。また「著しい」と判断する基準も報告する</td>
<td><a class="Link PDF" title="PDFファイルを表示します" href="http://contents.xj-storage.jp/xcontents/AS06651/48591529/2cde/4a4e/9382/27a2db959f77/20190620152026423s.pdf"><span>有価証券報告書</span></a>［PDF：1mバイト]</td>
</tr>
<tr><td class="Text-Left">201-2</td>
<td>a. 気候変動に起因してもたらされるリスクや機会で、事業、収益、費用に実質的な変動が生じる可能性のあるもの。次の事項を含む<br>
i. リスクと機会の記述。リスクと機会を物理的、規制関連、その他に分類<br>
ii. リスクと機会に関連するインパクトの記述<br>
iii. 措置を行う前から想定されるリスクと機会の財務上の影響<br>
iv. リスクと機会をマネジメントするために用いた手法<br>
v. リスクと機会をマネジメントするために行った措置のコスト</td>
<td><a class="Link" href="/ir/strategy/index06.html">事業等のリスク</a></td>
</tr>
<tr><td class="Text-Left">201-3</td>
<td>a. 組織の一般財源で当該制度の債務をまかなっている場合、その債務の推定額<br>
b. 年金制度の債務を支払うために別の基金を持っている場合、次の事項<br>
i. 年金制度の債務額のうち別途積み立て資産でカバーされる割合の推定値<br>
ii. 当該推定値の計算基礎<br>
iii. 推定値の計算時期<br>
c. 年金制度の債務を支払うために設けられた基金が不足している場合、雇用者が完全補償実現に向けて実施<br>
している戦略があればそれを説明する。また雇用者が完全補償実現の目標時期を設定している場合は、それについて説明する<br>
d. 従業員、雇用者による拠出額が給与に占める割合<br>
e. 退職金積立制度への参加レベル（義務的参加か任意制度か、地域的制度か国の制度か、経済的インパクトがあるものか、など）</td>
<td><a class="Link PDF" title="PDFファイルを表示します" href="http://contents.xj-storage.jp/xcontents/AS06651/48591529/2cde/4a4e/9382/27a2db959f77/20190620152026423s.pdf"><span>有価証券報告書</span></a>［PDF：1mバイト]<br>第一部 企業情報<br>第5 経理の状況</td>
</tr>
<tr><td class="Text-Left">203-1</td>
<td>a. 重要なインフラ投資や支援サービスを展開した範囲<br>
b. コミュニティや地域経済に与えているインパクト、または与えると思われるインパクト。プラスとマイナス双方を含む（該当する場合）<br>
c. 当該投資・サービスが商業目的のものか、現物支給するものか、無償で実施するものかを報告する</td>
<td><a class="Link" href="/csr/environment/index03.html">環境に配慮した不動産事業</a></td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Border --></div>


<div class="Section Table-Border">
<table id="environment">
<caption><strong>環境</strong></caption>
<colgroup>
<col width="10%">
<col width="55%">
<col>
</colgroup>
<thead>
<tr>
<th class="BG-Gray" scope="col">項目</th>
<th class="BG-Gray" scope="col">指標の内容（一部抜粋）</th>
<th class="BG-Gray" scope="col">掲載ページ</th>
</tr>
</thead>

<tbody>
<tr><td class="Text-Left">301-1</td>
<td>a.  組織が報告期間中に主要製品やサービスの生産、梱包に使用した原材料の重量または体積の総計 。次の分類による<br>
i.  使用した再生不能原材料<br>
ii.  使用した再生可能原材料<br>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">301-2</td>
<td>a.  組織の主要製品やサービスの生産に使用したリサイクル材料の割合<br>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">301-3</td>
<td>a.  再生利用された製品と梱包材の割合 。製品区分別に<br>
b.  本開示事項のデータ収集方法<br>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">302-1</td>
<td>a. 組織内における非再生可能エネルギー源に由来する総燃料消費量（ジュールまたはその倍数単位（メガ、ギガなど）による）。使用した燃料の種類も記載する<br>
b. 組織内における再生可能エネルギー源に由来する総燃料消費量（ジュールまたはその倍数単位による）。使用した燃料の種類も記載する<br>
c. 次の総量（ジュール、ワット時、またはその倍数単位による）<br>
i. 電力消費量<br>
ii. 暖房消費量<br>
iii. 冷房消費量<br>
iv. 蒸気消費量<br>
d. 次の総量（ジュール、ワット時、またはその倍数単位による）<br>
i. 販売した電力<br>
ii. 販売した暖房<br>
iii. 販売した冷房<br>
iv. 販売した蒸気<br>
e. 組織内のエネルギー総消費量（ジュールまたはその倍数単位による）<br>
f. 使用した基準、方法、前提条件、計算ツール<br>
g  使用した変換係数の情報源</td>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">302-2</td>
<td>a. 組織外のエネルギー消費量（ジュールまたはその倍数単位（メガ、ギガなど）による）<br>
b. 使用した基準、方法、前提条件、計算ツール<br>
c. 使用した変換係数の情報源<br>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">302-3</td>
<td>a. 組織のエネルギー原単位<br>
b. 原単位計算のため組織が分母として選択した指標<br>
c. 原単位に含まれるエネルギーの種類（燃料、電力、暖房、冷房、蒸気、またはこのすべて）<br>
d. 原単位計算に使用したのは、組織内のエネルギー消費量、組織外のエネルギー消費量、もしくはこの両方か</td>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">302-4</td>
<td>a.  エネルギーの節約および効率化の取り組みによる直接的な結果として削減されたエネルギー消費量（ジュールまたはその倍数単位（メガ、ギガなど）による）<br>
b.  削減されたエネルギーの種類（燃料、電力、暖房、冷房、蒸気、またはこのすべて）<br>
c.  削減されたエネルギー消費量の計算に使用した基準（基準年、基準値など）と、その基準選定の理論的根拠<br>
d.  使用した基準、方法、前提条件、計算ツール</td>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">302-5</td>
<td>a.  販売する製品およびサービスが必要とするエネルギーの報告期間中におけるエネルギー削減量（ジュールまたはその倍数単位（メガ、ギガなど）による）<br>
b.  エネルギー消費削減量の計算に使用した基準（基準年、基準値など）、および基準選定の理論的根拠c.  使用した基準、方法、前提条件、計算ツール<br>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">305-1</td>
<td>a. 直接的（スコープ1）GHG 排出量の総計（CO<sub>2</sub>換算値（t-CO<sub>2</sub>）による）<br>
b. 計算に用いたガス（CO<sub>2</sub>、CH<sub>4</sub>、N<sub>2</sub>O、HFC、PFC、SF<sub>6</sub>、NF<sub>3</sub>、またはそのすべて）<br>
c. 生物由来のCO<sub>2</sub>排出量（CO<sub>2</sub>換算値（t-CO<sub>2</sub>）による）<br>
d. 計算の基準年（該当する場合、次の事項を含む）<br>
i. その基準年を選択した理論的根拠<br>
ii. 基準年における排出量<br>
iii. 排出量に著しい変化があったため基準年の排出量を再計算することになった場合は、その経緯<br>
e. 使用した排出係数の情報源、使用した地球温暖化係数（GWP）、GWP 情報源の出典<br>
f. 排出量に関して選択した連結アプローチ（株式持分、財務管理、もしくは経営管理）<br>
g. 使用した基準、方法、前提条件、計算ツール</td>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">305-2</td>
<td>a. ロケーション基準の間接的（スコープ2）GHG 排出量の総計（CO<sub>2</sub>換算値（t-CO<sub>2</sub>）による）<br>
b. 該当する場合、マーケット基準の間接的（スコープ2）GHG 排出量の総計（CO<sub>2</sub>換算値（t-CO<sub>2</sub>）による）<br>
c. データがある場合、総計計算に用いたガス（CO<sub>2</sub>、CH<sub>4</sub>、N<sub>2</sub>O、HFC、PFC、SF<sub>6</sub>、NF<sub>3</sub>、またはそのすべて）<br>
d. 計算の基準年（該当する場合、次の事項を含む）<br>
i. その基準年を選択した理論的根拠<br>
ii. 基準年における排出量<br>
iii. 排出量に著しい変化があったため基準年の排出量を再計算することになった場合は、その経緯<br>
e. 使用した排出係数の情報源、使用した地球温暖化係数（GWP）、GWP 情報源の出典<br>
f. 排出量に関して選択した連結アプローチ（株式持分、財務管理、経営管理）<br>
g. 使用した基準、方法、前提条件、計算ツール</td>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">305-3</td>
<td>a.  その他の間接的（スコープ3）GHG 排出量の総計（CO2換算値（t-CO2）による）<br>
b.  データがある場合、総計計算に用いたガス（CO2、CH4、N2O、HFC、PFC、SF6、NF3、またはそのすべて）<br>
c.  生物由来のCO2排出量（CO2換算値（t-CO2）による）<br>
d.  計算に用いたその他の間接的（スコープ3）GHG 排出量の区分と活動<br>
e.  計算の基準年（該当する場合、次の事項を含む）<br>
i.  その基準年を選択した理論的根拠<br>
ii.  基準年における排出量<br>
iii.  排出量に著しい変化があったため基準年の排出量を再計算することになった場合は、その経緯<br>
f.  使用した排出係数の情報源、使用した地球温暖化係数（GWP）、GWP 情報源の出典<br>
g.  使用した基準、方法、前提条件、計算ツール</td>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">305-4</td>
<td>a. 組織のGHG排出原単位<br>
b. 原単位計算のため組織が分母として選択した指標<br>
c. 原単位に含まれるGHG排出の種類。直接的（スコープ1）、間接的（スコープ2）、その他の間接的（スコープ3）<br>
d. 計算に用いたガス（CO<sub>2</sub>、CH<sub>4</sub>、N<sub>2</sub>O、HFC、PFC、SF<sub>6</sub>、NF<sub>3</sub>、またはそのすべて）</td>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">305-5</td>
<td>a.  排出量削減の取り組みによる直接的な結果として削減されたGHG 排出量（CO2換算値（t-CO2）による）<br>
b.  計算に用いたガス（CO2、CH4、N2O、HFC、PFC、SF6、NF3、またはそのすべて）<br>
c.  基準年または基準値、およびそれを選択した理論的根拠<br>
d.  GHG 排出量が削減されたスコープ。直接的（スコープ1）、間接的（スコープ2）、その他の間接的（スコープ3）のいずれか<br>
e.  使用した基準、方法、前提条件、計算ツール</td>
<td><a class="Link" href="/csr/data/">ESGデータ集</a><br>
<a class="Link" href="/csr/environment/">地球と共に</a></td>
</tr>
<tr><td class="Text-Left">306-2</td>
<td>a.  有害廃棄物の総重量（次の処分方法を用いている場合には、この処分方法別に内訳を提示）<br>
i.  リユース<br>
ii.  リサイクル<br>
iii.  堆肥化<br>
iv.  回収（エネルギー回収を含む）<br>
v.  焼却（大量燃焼）<br>
vi.  深井戸注入<br>
vii.  埋め立て<br>
viii. 現場保管<br>
ix.  その他（詳細を記述）<br>
b.  非有害廃棄物の総重量（次の処分方法を用いている場合には、この処分方法別に内訳を提示）<br>
i.  リユース<br>
ii.  リサイクル<br>
iii.  堆肥化<br>
iv.  回収（エネルギー回収を含む）<br>
v.  焼却（大量燃焼）<br>
vi.  深井戸注入<br>
vii.  埋め立て<br>
viii. 現場保管<br>
ix.  その他（詳細を記述）<br>
c.  廃棄物処分方法の判定方法<br>
i.  自ら処分している場合または直接確認した場合<br>
ii.  廃棄物処分請負業者から提供された情報による場合<br>
iii.  廃棄物処分請負業者からの報告がない場合</td>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">308-1</td>
<td>a.  環境基準により選定した新規サプライヤーの割合</td>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
</tr>
<tr><td class="Text-Left">308-2</td>
<td>a.  環境インパクト評価の対象としたサプライヤーの数<br>
b.  著しいマイナスの環境インパクト（顕在的、潜在的）があると特定されたサプライヤーの数<br>
c.  サプライチェーンで特定した著しいマイナスの環境インパクト（顕在的、潜在的）<br>
d.  著しいマイナスの環境インパクト（顕在的、潜在的）があると特定されたサプライヤーのうち、評価の結果、改善の実施に同意したサプライヤーの割合<br>
e.  著しいマイナスの環境インパクト（顕在的、潜在的）があると特定されたサプライヤーのうち、評価の結果、関係を解消したサプライヤーの割合およびその理由</td>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Border --></div>


<div class="Section Table-Border">
<table id="society">
<caption><strong>社会</strong></caption>
<colgroup>
<col width="10%">
<col width="55%">
<col>
</colgroup>
<thead>
<tr>
<th class="BG-Gray" scope="col">項目</th>
<th class="BG-Gray" scope="col">指標の内容（一部抜粋）</th>
<th class="BG-Gray" scope="col">掲載ページ</th>
</tr>
</thead>

<tbody>
<tr><td class="Text-Left">401-1</td>
<td>a. 報告期間中における従業員の新規雇用の総数と比率（年齢層、性別、地域による内訳）<br>
b. 報告期間中における従業員の離職の総数と比率（年齢層、性別、地域による内訳）</td>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">401-3</td>
<td>a. 育児休暇を取得する権利を有していた従業員の総数（男女別）<br>
b. 育児休暇を取得した従業員の総数（男女別）<br>
c. 報告期間中に育児休暇から復職した従業員の総数（男女別）<br>
d. 育児休暇から復職した後、12ヶ月経過時点で在籍している従業員の総数（男女別）<br>
e. 育児休暇後の従業員の復職率および定着率（男女別）</td>
<td><a class="Link" href="/csr/human/">人と共に</a><br><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">403-2</td>
<td>a. すべての従業員に対する業務上障害の種類、業務上障害率（IR）、業務上疾病率（ODR）、休業日数率（LDR）、欠勤率（AR）、および業務上の死亡者数（次の内訳による）<br>
i. 地域<br>
ii. 性別<br>
b. 業務または職場が組織の管理下にあるすべての労働者（従業員を除く）に対する業務上障害の種類、業務上障害率（IR）、および業務上の死亡者数（次の内訳による）<br>
i. 地域<br>
ii. 性別<br>
c. 災害統計の記録、報告に適用する規則体系</td>
<td><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">404-2</td>
<td>a. 従業員のスキル向上のために実施したプログラムの種類、対象と、提供した支援<br>
b. 雇用適性の維持を促進するために提供した移行支援プログラムと、定年退職や雇用終了に伴うキャリア終了マネジメント</td>
<td><a class="Link" href="/csr/human/">人と共に</a></td>
</tr>
<tr><td class="Text-Left">405-1</td>
<td>a. 組織のガバナンス機関に属する個人で、次のダイバーシティ区分に該当する者の割合<br>
i. 性別<br>
ii. 年齢層：30歳未満、30歳～50歳、50歳超<br>
iii. 該当する場合には、その他のダイバーシティ指標（例えばマイノリティ、社会的弱者など）<br>
b. 次のダイバーシティ区分の従業員区分別の従業員の割合<br>
i. 性別<br>
ii. 年齢層：30歳未満、30歳～50歳、50歳超<br>
iii. 該当する場合には、その他のダイバーシティ指標（例えばマイノリティ、社会的弱者など）</td>
<td><a class="Link" href="/csr/human/">人と共に</a><br><a class="Link" href="/csr/data/">ESGデータ集</a></td>
</tr>
<tr><td class="Text-Left">407-1</td>
<td>a. 労働者の結社の自由や団体交渉の権利行使が、侵害されたり著しいリスクにさらされる可能性のある事業 所およびサプライヤー。次の事項に関して<br>
i. 事業所（製造工場など）およびサプライヤーの種類<br>
ii. リスクが生じると考えられる事業所およびサプライヤーが存在する国または地域<br>
b. 結社の自由や団体交渉の権利行使を支援するため、組織が報告期間中に実施した対策</td>
<td><a class="Link" href="/procurement/index03.html">グループ調達活動に関する考え方</a><br>
<a class="Link" href="/procurement/">CSR調達ガイドライン</a></td>
</tr>
<tr><td class="Text-Left">408-1</td>
<td>a. 次の事例に関して著しいリスクがあると考えられる事業所およびサプライヤー<br>
i. 児童労働<br>
ii. 年少労働者による危険有害労働への従事<br>
b. 児童労働に関して著しいリスクがあると考えられる事業所およびサプライヤー（次の観点による）<br>
i. 事業所（製造工場など）およびサプライヤーの種類<br>
ii. リスクが生じると考えられる事業所およびサプライヤーが存在する国または地域<br>
c. 児童労働の効果的な根絶のために報告期間中に組織が実施した対策</td>
<td><a class="Link" href="/procurement/index03.html">グループ調達活動に関する考え方</a><br>
<a class="Link" href="/procurement/">CSR調達ガイドライン</a></td>
</tr>
<tr><td class="Text-Left">409-1</td>
<td>a. 強制労働に関して著しいリスクがあると考えられる事業所およびサプライヤー。次の事項に関して<br>
i. 事業所（製造工場など）およびサプライヤーの種類<br>
ii. リスクが生じると考えられる事業所およびサプライヤーが存在する国または地域<br>
b. あらゆる形態の強制労働を撲滅するために報告期間中に組織が実施した対策</td>
<td><a class="Link" href="/procurement/index03.html">グループ調達活動に関する考え方</a><br>
<a class="Link" href="/procurement/">CSR調達ガイドライン</a></td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Border --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
