<div id="title_box">
  <p class="explanation2 title_priority">CSR重点課題</p>
  <div id="csr_main_img_hr">
    <h1>人材の育成</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/human/images/title_box_sdgs_05.png" alt="5：ジェンダー平等を実現しよう">
    <img src="/sustainability/human/images/title_box_sdgs_08.png" alt="8：働きがいも経済成長も">
    <img src="/sustainability/human/images/title_box_sdgs_10.png" alt="13：気候変動に具体的な対策を">
  </p>
</div>
<!-- /#title_box-->

<div class="Section">
  <p><strong class=" typesquare_option typesquare_option">従業員一人ひとりがその可能性を十分に発揮するために</strong><br>
  労働は生活の糧を得る手段であると同時に、生きがいや喜びをもたらすもの。しかし現実には、安定した仕事に就けず経済的に自立できない人や、低賃金労働に従事している人も少なくありません。貧困を解消し、持続可能な経済成長を実現するには、公正な所得の確保や人材育成など、雇用の質を向上させ、「ディーセント・ワーク」（働きがいのある人間らしい仕事）を実現することが必要です。</p>
<!-- end .Section --></div>

<h2 class="Header">期待役割を果たす人材の育成</h2>
<div class="Section">
  <p>日本郵政グループは、キャリアパスに応じて期待役割を果たす人材の育成のため、実際の職場での仕事を通して指導・育成を行う「OJT」、職場を離れた研修・セミナーに参加して行う「Off-JT」（昇進時に階層別に実施する研修やフロントラインのリーダー等への研修など役職に応じた研修、営業力など特定の能力・スキルを高めるための研修等）により従業員の育成を行っています。併せて、資格取得の支援など従業員の「自己啓発」に対する支援を行っています。<br>
  さらに、本社社員を中心に経営スキルの向上を目指した研修を実施するなど、期待役割を果たす人材の育成に取り組んでいます。</p>
  <div class="Section Table-Border">
    <table>
      <caption>日本郵政グループ4社の本社人事部門が実施している研修実績</caption>
      <tbody><tr>
        <th scope="col" class="BG-Gray Text-Center">項目</th>
        <th scope="col" class="BG-Gray Text-Center">2020年度</th>
      </tr>
      <tr>
        <td>年間受講延べ人数（人）</td>
        <td class="Text-Right">7,248</td>
      </tr>
      <tr>
        <td>総研修時間（時間）</td>
        <td class="Text-Right">1,167</td>
      </tr>
      <tr>
        <td>受講者評価の平均点（最高点：5.0）</td>
        <td class="Text-Right">4.3</td>
      </tr>
    </tbody></table>
  <!-- end .Section .Table-Dot --></div>
<!-- end .Section --></div>

<h3 class="Header">グループ組織内の風通しをよくするための人事交流の推進</h3>
<div class="Section Col2 TextImageBlock Image-Right List-General">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="グループ組織内の風通しをよくするための人事交流の推進" src="/sustainability/human/images/human_03.png" style="width: 300px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text Text List-General">
<div class="Box">
<p>郵便局を通じて、郵便・物流、貯金、保険の三事業を一体的に提供するという特徴を有する企業グループであることから、グループ内の社員の一体感を醸成することが極めて重要であり、また、グループ全体として最適な人事配置を行うため、グループ内の人事交流を積極的に実施しています。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header">グループ企業価値向上に貢献できる人材の育成・外部専門人材の採用</h3>
<div class="Section">
  <p>日本郵政グループは、郵便局を核とした社会インフラとして高い公共性を有する企業グループであることから、「誠実であること」、「高い志と情熱」を有していることをグループ共通の求める人物像としています。グループ各社において、社員の働き方に応じたコースごとに期待役割を設定しており、それに沿った階層別の研修等を実施しています。<br />
    併せて、郵便局を通じて郵便・物流、貯金、保険の三事業を一体的に提供するという特徴を有し、グループ内の社員の一体感を醸成することが極めて重要であることから、日本郵政の中に郵政大学校という組織を設け、グループ各社の役員、本社企画要員、総合職新規採用者等に対してグループ合同での研修を行っています。<br />
    また、事業特性に応じた高度に専門的な能力の獲得のため、特に本社において、不動産、法務、IT分野、投資・市場運用、市場リスク管理、アクチュアリー等の中途採用を実施するなど、人材の確保に努めています。<br />
    さらに、今後、DXの推進等による新たな価値創造を行うにあたり、人的リソースをより充実させるため、外部からの専門人材の採用をより積極的に行うとともに、内部人材の育成を行っていきます。</p>
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
