<div id="title_box">
  <div id="csr_main_img_library">
    <h1>ライブラリ</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="BoxArea Col2-Border1">
  <div class="box_left post1 Grid-Column sus_post" id="library01">
    <div class="Box">
      <dl>
        <dt><a href="/sustainability/library/report/"><span>日本郵政グループ サステナビリティレポート</span></a></dt>
        <dd>
          <p class="sus_post_txt">日本郵政グループが取り組んでいるサステナビリティ活動に関する取り組みをご紹介します。</p>
          <ul>
            <li><a class="Link" href="/sustainability/library/report/#sus_repo"><span>2020年度 サステナビリティレポート</span></a></li>
            <li><a class="Link" href="/sustainability/library/report/#backnumber"><span>2019年度以前のCSRレポート / 社会・環境レポート</span></a></li>
          </ul>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_left-->
  <div class="box_right post1 Grid-Column sus_post" id="library04">
    <div class="Box">
      <dl>
        <dt><a href="/sustainability/library/data/"><span>ESGデータ集</span></a></dt>
        <dd>
          <p class="sus_post_txt">日本郵政グループのESG関連の実績データをまとめています。</p>
          <ul>
            <li><a class="Link" href="/sustainability/library/data/#env"><span>環境に関するデータ</span></a></li>
            <li><a class="Link" href="/sustainability/library/data/social/#employment"><span>雇用に関するデータ</span></a></li>
            <li><a class="Link" href="/sustainability/library/data/governance/#governance"><span>ガバナンスに関するデータ</span></a></li>
          </ul>
        </dd>
      </dl>
    </div><!--Box-->
  </div>
</div>

<div class="BoxArea Col2-Border1">
  <div class="box_left post1 Grid-Column sus_post" id="library02">
    <div class="Box">
      <dl>
        <dt><a href="/sustainability/library/sdgs/"><span>SDGs Bookのご紹介</span></a></dt>
        <dd>
          <p class="sus_post_txt">日本郵政グループと社会の持続可能性との関係やグループが事業を通じてSDGsに取り組む意義、具体的な取り組み事例などを詳しく紹介しています。</p>
        </dd>
      </dl>
    </div><!--Box-->
  </div>
  <div class="box_right post1 Grid-Column sus_post" id="library03">
    <div class="Box">
      <dl>
        <dt><a href="/sustainability/library/movie/"><span>サステナブルムービー</span></a></dt>
        <dd>
          <p class="sus_post_txt">動画で見る日本郵政グループのサステナビリティ活動</p>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_right-->
</div>

<div class="BoxArea Col2-Border1">
  <a href="/sustainability/library/evaluation/"><div class="box_left post_simple1 Grid-Column sus_post" id="library05">
    <div class="Box-Simple">
      <dl>
        <dt><span>外部からの評価等</span></dt>
        <dd>
          <p class="sus_post_txt"></p>
        </dd>
      </dl>
    </div><!--Box-->
  </div></a><!--box_left-->
  <a href="/sustainability/library/thirdparty/"><div class="box_right post_simple1 Grid-Column sus_post" id="library06">
    <div class="Box-Simple">
      <dl>
        <dt><span>第三者意見</span></dt>
        <dd>
          <p class="sus_post_txt"></p>
        </dd>
      </dl>
    </div>
  </div></a>
</div>
