<div id="data_index">
  <div id="title_box">
    <div id="csr_main_img_report">
      <h1>ESG Data(Social)</h1>
    </div>
    <!-- /#title_box-->
  </div>

  <div class="Section">
    <p class="Category Lead">Compiled on this page are ESG-related data from the Japan Post Group.</p>

    <div class="mod-tab pure-g mb50">
      <a href="/en/csr/data/" class="mod-tab-item-sus bottom-u-layer pure-u-md-1-2 pure-u-1-3">Environmental</a>
      <span class="mod-tab-item-sus bottom-u-layer pure-u-md-1-2 pure-u-1-3 is-active">Social</span>
      <a href="/en/csr/data/governance/"
        class="mod-tab-item-sus bottom-u-layer bottom-md-layer pure-u-md-1-2 pure-u-1-3">Governance</a>
    </div>

    <div class="List-Horizontal">
      <ul>
        <li><a class="Link Inner" href="#employee">Number of Employees, Ratio of Non-Regular Employees, Number of Newly
            Hired Employees and New Graduate Retention Rate</a></li>
        <li><a class="Link Inner" href="#work">Childcare Leave, Family Care Leave and Reduction of Overtime Work</a>
        </li>
        <li><a class="Link Inner" href="#safety">Workplace Injuries and Illnesses</a></li>
        <li><a class="Link Inner" href="#women">Ratio of Female Managers, Ratio of Female Officers, Paid Leave
            Acquisition Rate and Other Data</a></li>
        <li><a class="Link Inner" href="#transport">Implementation of Transportation Safety Training</a></li>
      </ul>
      <!-- end .Section.List-Horizontal -->
    </div>
    <!-- end .Section -->
  </div>

  <h2 class="Header">Employment Data</h2>
  <h3 id="employee" class="Header">Number of Employees, Ratio of Non-Regular Employees, Number of Newly Hired Employees and New Graduate Retention Rate</h3>

  <div class="Section Table-Border">

    <p>At Japan Post Group, we have more than 400,000 employees in Japan, aiming to work close to customers and local communities and provide them with products and services that support their lifestyles via our nationwide network of approximately 24,000 post offices. We also aim to promote local employment and thereby contribute to developing and revitalizing local economies.<br>One of our key CSR themes is to respect the human rights of all people involved in our business activities, ensure a safe and comfortable working environment, and build a fulfilling workplace where employees can think for themselves and exercise their creativity. Thus, we will strive to ensure decent work.</p>

    <p class="cap"><span class="title"><strong>1. Number of Employees and Ratio of Non-Regular Employees </strong>(As of March 31 of Each Year)</span> <span class="unit"> (Persons)</span></p>
    <div class="Table-Wrapper">
        <table class="data">
          
          <!-- <colgroup>
            <col width="13%">
            <col width="2%">
            <col width="17%">
            <col width="8%">
          </colgroup>
          <colgroup>
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="12%">
          </colgroup> -->
          <thead>
            <tr>
              <th class="BG-Gray" scope="col" colspan="4"></th>
              <th class="BG-Gray" scope="col">March 31, 2017</th>
              <th class="BG-Gray" scope="col">March 31, 2018</th>
              <th class="BG-Gray" scope="col">March 31, 2019</th>
              <th class="BG-Gray" scope="col">March 31, 2020</th>
              <th class="BG-Gray" scope="col">March 31, 2021</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col01" rowspan="15">Number of regular employees</td>
              <td class="col02 red" rowspan="15"></td>
              <td class="col03 red" rowspan="3">Japan Post Group</td>
              <td class="col04 red">Men</td>
              <td class="col06 red">168,147</td>
              <td class="col07 red">165,924</td>
              <td class="col08 red">164,072</td>
              <td class="col09 red">162,703</td>
              <td class="col05 red">162,183</td>
            </tr>
            <tr>
              <td class="col04 red">Women</td>
              <td class="col06 red">50,245</td>
              <td class="col07 red">50,907</td>
              <td class="col08 red">51,340</td>
              <td class="col09 red">52,700</td>
              <td class="col05 red">54,751</td>
            </tr>
            <tr>
              <td class="col04 red">Total</td>
              <td class="col06 red">218,392</td>
              <td class="col07 red">216,831</td>
              <td class="col08 red">215,412</td>
              <td class="col09 red">215,403</td>
              <td class="col05 red">216,934</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Holdings</td>
              <td class="col04">Men</td>
              <td class="col06">1,390</td>
              <td class="col07">1,242</td>
              <td class="col08">1,126</td>
              <td class="col09">1,058</td>
              <td class="col05">1,056</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">1,371</td>
              <td class="col07">1,180</td>
              <td class="col08">980</td>
              <td class="col09">973</td>
              <td class="col05">983</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">2,761</td>
              <td class="col07">2,422</td>
              <td class="col08">2,106</td>
              <td class="col09">2,031</td>
              <td class="col05">2,039</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post</td>
              <td class="col04">Men</td>
              <td class="col06">154,457</td>
              <td class="col07">152,512</td>
              <td class="col08">151,064</td>
              <td class="col09">150,073</td>
              <td class="col05">149,720</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">40,785</td>
              <td class="col07">41,398</td>
              <td class="col08">41,825</td>
              <td class="col09">43,184</td>
              <td class="col05">45,122</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">195,242</td>
              <td class="col07">193,910</td>
              <td class="col08">192,889</td>
              <td class="col09">193,257</td>
              <td class="col05">194,842</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Bank</td>
              <td class="col04">Men</td>
              <td class="col06">7,978</td>
              <td class="col07">7,869</td>
              <td class="col08">7,575</td>
              <td class="col09">7,302</td>
              <td class="col05">7,174</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">4,987</td>
              <td class="col07">5,140</td>
              <td class="col08">5,225</td>
              <td class="col09">5,175</td>
              <td class="col05">5,234</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">12,965</td>
              <td class="col07">13,009</td>
              <td class="col08">12,800</td>
              <td class="col09">12,477</td>
              <td class="col05">12,408</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Insurance</td>
              <td class="col04">Men</td>
              <td class="col06">4,322</td>
              <td class="col07">4,301</td>
              <td class="col08">4,307</td>
              <td class="col09">4,270</td>
              <td class="col05">4,233</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">3,102</td>
              <td class="col07">3,189</td>
              <td class="col08">3,310</td>
              <td class="col09">3,368</td>
              <td class="col05">3,412</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">7,424</td>
              <td class="col07">7,490</td>
              <td class="col08">7,617</td>
              <td class="col09">7,638</td>
              <td class="col05">7,645</td>
            </tr>
            <tr>
              <td class="col01" rowspan="15">Number of non-regular employees<sup>(*1)</sup></td>
              <td class="col02 red" rowspan="15"></td>
              <td class="col03 red" rowspan="3">Japan Post Group</td>
              <td class="col04 red">Men</td>
              <td class="col06 red">105,145</td>
              <td class="col07 red">103,618</td>
              <td class="col08 red">101,538</td>
              <td class="col09 red">96,983</td>
              <td class="col05 red">94,139</td>
            </tr>
            <tr>
              <td class="col04 red">Women</td>
              <td class="col06 red">100,159</td>
              <td class="col07 red">99,620</td>
              <td class="col08 red">100,877</td>
              <td class="col09 red">96,460</td>
              <td class="col05 red">92,707</td>
            </tr>
            <tr>
              <td class="col04 red">Total</td>
              <td class="col06 red">205,304</td>
              <td class="col07 red">203,238</td>
              <td class="col08 red">202,415</td>
              <td class="col09 red">193,443</td>
              <td class="col05 red">186,846</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Holdings</td>
              <td class="col04">Men</td>
              <td class="col06">1,118</td>
              <td class="col07">1,081</td>
              <td class="col08">1,076</td>
              <td class="col09">826</td>
              <td class="col05">791</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">2,678</td>
              <td class="col07">2,343</td>
              <td class="col08">2,396</td>
              <td class="col09">1,794</td>
              <td class="col05">1,649</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">3,796</td>
              <td class="col07">3,424</td>
              <td class="col08">3,472</td>
              <td class="col09">2,620</td>
              <td class="col05">2,440</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post</td>
              <td class="col04">Men</td>
              <td class="col06">102,383</td>
              <td class="col07">100,955</td>
              <td class="col08">98,919</td>
              <td class="col09">94,623</td>
              <td class="col05">91,871</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">90,946</td>
              <td class="col07">91,361</td>
              <td class="col08">92,934</td>
              <td class="col09">89,667</td>
              <td class="col05">86,388</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">193,329</td>
              <td class="col07">192,316</td>
              <td class="col08">191,853</td>
              <td class="col09">184,290</td>
              <td class="col05">178,259</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Bank<sup>(*2)</sup></td>
              <td class="col04">Men</td>
              <td class="col06">806</td>
              <td class="col07">787</td>
              <td class="col08">761</td>
              <td class="col09">764</td>
              <td class="col05">745</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">4,266</td>
              <td class="col07">3,863</td>
              <td class="col08">3,579</td>
              <td class="col09">3,203</td>
              <td class="col05">2,987</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">5,072</td>
              <td class="col07">4,650</td>
              <td class="col08">4,340</td>
              <td class="col09">3,967</td>
              <td class="col05">3,732</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Insurance</td>
              <td class="col04">Men</td>
              <td class="col06">838</td>
              <td class="col07">795</td>
              <td class="col08">782</td>
              <td class="col09">770</td>
              <td class="col05">732</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">2,269</td>
              <td class="col07">2,053</td>
              <td class="col08">1,968</td>
              <td class="col09">1,796</td>
              <td class="col05">1,683</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">3,107</td>
              <td class="col07">2,848</td>
              <td class="col08">2,750</td>
              <td class="col09">2,566</td>
              <td class="col05">2,415</td>
            </tr>
            <tr>
              <td class="col01" rowspan="15">Ratio of non-regular employees</td>
              <td class="col02 red" rowspan="15"></td>
              <td class="col03 red" rowspan="3">Japan Post Group</td>
              <td class="col04 red">Men</td>
              <td class="col06 red">38.5%</td>
              <td class="col07 red">38.4%</td>
              <td class="col08 red">38.2%</td>
              <td class="col09 red">37.3%</td>
              <td class="col05 red">36.7%</td>
            </tr>
            <tr>
              <td class="col04 red">Women</td>
              <td class="col06 red">66.6%</td>
              <td class="col07 red">66.2%</td>
              <td class="col08 red">66.3%</td>
              <td class="col09 red">64.7%</td>
              <td class="col05 red">62.9%</td>
            </tr>
            <tr>
              <td class="col04 red">Total</td>
              <td class="col06 red">48.5%</td>
              <td class="col07 red">48.4%</td>
              <td class="col08 red">48.4%</td>
              <td class="col09 red">47.3%</td>
              <td class="col05 red">46.3%</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Holdings</td>
              <td class="col04">Men</td>
              <td class="col06">44.6%</td>
              <td class="col07">46.5%</td>
              <td class="col08">48.9%</td>
              <td class="col09">43.8%</td>
              <td class="col05">42.8%</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">66.1%</td>
              <td class="col07">66.5%</td>
              <td class="col08">71.0%</td>
              <td class="col09">64.8%</td>
              <td class="col05">62.7%</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">57.9%</td>
              <td class="col07">58.6%</td>
              <td class="col08">62.2%</td>
              <td class="col09">56.3%</td>
              <td class="col05">54.5%</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post</td>
              <td class="col04">Men</td>
              <td class="col06">39.9%</td>
              <td class="col07">39.8%</td>
              <td class="col08">39.6%</td>
              <td class="col09">38.7%</td>
              <td class="col05">38.0%</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">69.0%</td>
              <td class="col07">68.8%</td>
              <td class="col08">69.0%</td>
              <td class="col09">67.5%</td>
              <td class="col05">65.7%</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">49.8%</td>
              <td class="col07">49.8%</td>
              <td class="col08">49.9%</td>
              <td class="col09">48.8%</td>
              <td class="col05">47.8%</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Bank<sup style="font-size:80%; vertical-align:top;">(*2)</sup></td>
              <td class="col04">Men</td>
              <td class="col06">9.2%</td>
              <td class="col07">9.1%</td>
              <td class="col08">9.1%</td>
              <td class="col09">9.5%</td>
              <td class="col05">9.4%</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">46.1%</td>
              <td class="col07">42.9%</td>
              <td class="col08">40.7%</td>
              <td class="col09">38.2%</td>
              <td class="col05">36.3%</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">28.1%</td>
              <td class="col07">26.3%</td>
              <td class="col08">25.3%</td>
              <td class="col09">24.1%</td>
              <td class="col05">23.1%</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Insurance</td>
              <td class="col04">Men</td>
              <td class="col06">16.2%</td>
              <td class="col07">15.6%</td>
              <td class="col08">15.4%</td>
              <td class="col09">15.3%</td>
              <td class="col05">14.7%</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">42.2%</td>
              <td class="col07">39.2%</td>
              <td class="col08">37.3%</td>
              <td class="col09">34.8%</td>
              <td class="col05">33.0%</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">29.5%</td>
              <td class="col07">27.5%</td>
              <td class="col08">26.5%</td>
              <td class="col09">25.1%</td>
              <td class="col05">24.0%</td>
            </tr>
          
        </tbody>
      </table>
    </div>

    <ol class="tableNote">
      <li>The number of non-regular employees indicates the headcount of employees who were hired in the fiscal year ended March of each year.</li>
      <li>The number of non-regular employees of Japan Post Bank does not include those hired at its overseas representative offices.</li>
    </ol>
    <!-- end 従業員数・非正規社員比率 -->
    <div class="Pagetoplink mb20"><a href="#Page-Top">Back to Top</a></div>
  </div>


  <div class="Section Table-Border">
    <p class="cap"><span class="title"><strong>2．Number of employees by region(Regular employees + Non-regular employees) </strong><br />(As of March 31 of Each Year)</span> <span class="unit">(Persons)</span></p>
    <div class="Table-Wrapper">
      <table class="data">
        <!-- <colgroup>
          <col width="13%">
          <col width="19%">
          <col width="8%">
        </colgroup>
        <colgroup>
          <col width="12%">
          <col width="12%">
          <col width="12%">
          <col width="12%">
          <col width="12%">
        </colgroup> -->
        <thead>
          <tr>
            <th class="BG-Gray" scope="col" colspan="2"></th>
            <th class="BG-Gray" scope="col">March 31, 2017</th>
            <th class="BG-Gray" scope="col">March 31, 2018</th>
            <th class="BG-Gray" scope="col">March 31, 2019</th>
            <th class="BG-Gray" scope="col">March 31, 2020</th>
            <th class="BG-Gray" scope="col">March 31, 2021</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col03" rowspan="13">Japan Post Group</td>
            <td class="col04 red">Hokkaido</td>
            <td class="col06 red">21,539</td>
            <td class="col07 red">21,345</td>
            <td class="col08 red">21,297</td>
            <td class="col09 red">20,950</td>
            <td class="col05 red">20,428</td>
          </tr>
          <tr>
            <td class="col04 red">Tohoku</td>
            <td class="col06 red">31,325</td>
            <td class="col07 red">30,613</td>
            <td class="col08 red">30,275</td>
            <td class="col09 red">29,699</td>
            <td class="col05 red">29,253</td>
          </tr>
          <tr>
            <td class="col04 red">Kanto</td>
            <td class="col06 red">59,610</td>
            <td class="col07 red">59,333</td>
            <td class="col08 red">59,160</td>
            <td class="col09 red">57,914</td>
            <td class="col05 red">57,153</td>
          </tr>
          <tr>
            <td class="col04 red">Tokyo</td>
            <td class="col06 red">57,426</td>
            <td class="col07 red">56,758</td>
            <td class="col08 red">56,784</td>
            <td class="col09 red">55,800</td>
            <td class="col05 red">55,068</td>
          </tr>
          <tr>
            <td class="col04 red">South Kanto</td>
            <td class="col06 red">29,901</td>
            <td class="col07 red">29,833</td>
            <td class="col08 red">29,406</td>
            <td class="col09 red">28,478</td>
            <td class="col05 red">28,008</td>
          </tr>
          <tr>
            <td class="col04 red">Shinetsu</td>
            <td class="col06 red">15,039</td>
            <td class="col07 red">14,845</td>
            <td class="col08 red">14,739</td>
            <td class="col09 red">14,454</td>
            <td class="col05 red">14,342</td>
          </tr>
          <tr>
            <td class="col04 red">Hokuriku</td>
            <td class="col06 red">10,545</td>
            <td class="col07 red">10,456</td>
            <td class="col08 red">10,332</td>
            <td class="col09 red">10,136</td>
            <td class="col05 red">10,186</td>
          </tr>
          <tr>
            <td class="col04 red">Tokai</td>
            <td class="col06 red">45,083</td>
            <td class="col07 red">44,834</td>
            <td class="col08 red">44,729</td>
            <td class="col09 red">43,789</td>
            <td class="col05 red">43,375</td>
          </tr>
          <tr>
            <td class="col04 red">Kinki</td>
            <td class="col06 red">67,541</td>
            <td class="col07 red">67,566</td>
            <td class="col08 red">67,269</td>
            <td class="col09 red">65,711</td>
            <td class="col05 red">64,835</td>
          </tr>
          <tr>
            <td class="col04 red">Chugoku</td>
            <td class="col06 red">25,940</td>
            <td class="col07 red">25,718</td>
            <td class="col08 red">25,589</td>
            <td class="col09 red">24,881</td>
            <td class="col05 red">24,523</td>
          </tr>
          <tr>
            <td class="col04 red">Shikoku</td>
            <td class="col06 red">14,301</td>
            <td class="col07 red">14,099</td>
            <td class="col08 red">13,903</td>
            <td class="col09 red">13,533</td>
            <td class="col05 red">13,434</td>
          </tr>
          <tr>
            <td class="col04 red">Kyushu</td>
            <td class="col06 red">41,584</td>
            <td class="col07 red">40,815</td>
            <td class="col08 red">40,464</td>
            <td class="col09 red">39,705</td>
            <td class="col05 red">39,386</td>
          </tr>
          <tr>
            <td class="col04 red">Okinawa</td>
            <td class="col06 red">3,862</td>
            <td class="col07 red">3,854</td>
            <td class="col08 red">3,880</td>
            <td class="col09 red">3,796</td>
            <td class="col05 red">3,789</td>
          </tr>
        
      </tbody>
      </table>
    </div>

    <ol class="tableNote02">
      <li>The number of non-regular employees indicates the headcount of employees who were hired in the fiscal year ended March of each year.</li>
    </ol>
    <div class="Pagetoplink mb20"><a href="#Page-Top">Back to Top</a></div>
  </div>

  <div class="printMgt"><span></span></div>

  <div class="Section Table-Border">
    <p class="cap"><span class="title"><strong>3. Number of Newly Hired Employees・Mid-career employees</strong></span><span class="unit">(Persons)</span></p>
    <div class="Table-Wrapper">
      <table class="data">
        
        <!-- <colgroup>
          <col width="13%">
          <col width="2%">
          <col width="17%">
          <col width="8%">
              </colgroup>
              <colgroup>
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
              </colgroup> -->
              <thead>
                <tr>
                  <th class="BG-Gray" scope="col" colspan="4"></th>
                  <th class="BG-Gray" scope="col">FY2016</th>
                            <th class="BG-Gray" scope="col">FY2017</th>
                            <th class="BG-Gray" scope="col">FY2018</th>
                            <th class="BG-Gray" scope="col">FY2019</th>
                            <th class="BG-Gray" scope="col">FY2020</th>
                          </tr>
              </thead>
          <tbody>
          <tr>
            <td class="col01" rowspan="15">New graduates</td>
            <td class="col02 red" rowspan="15"></td>
            <td class="col03 red" rowspan="3">Japan Post Group</td>
            <td class="col04 red">Men</td>
            <td class="col07 red">2,526</td>
            <td class="col08 red">2,485</td>
            <td class="col09 red">2,012</td>
            <td class="col05 red">1,901</td>
            <td class="col06 red">1,567</td>
          </tr>
          <tr>
            <td class="col04 red">Women</td>
            <td class="col07 red">2,999</td>
            <td class="col08 red">2,669</td>
            <td class="col09 red">2,527</td>
            <td class="col05 red">2,626</td>
            <td class="col06 red">2,665</td>
          </tr>
          <tr>
            <td class="col04 red">Total</td>
            <td class="col07 red">5,525</td>
            <td class="col08 red">5,154</td>
            <td class="col09 red">4,539</td>
            <td class="col05 red">4,527</td>
            <td class="col06 red">4,232</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post Holdings</td>
            <td class="col04">Men</td>
            <td class="col07">16</td>
            <td class="col08">8</td>
            <td class="col09">11</td>
            <td class="col05">13</td>
            <td class="col06">16</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">17</td>
            <td class="col08">15</td>
            <td class="col09">12</td>
            <td class="col05">24</td>
            <td class="col06">13</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">33</td>
            <td class="col08">23</td>
            <td class="col09">23</td>
            <td class="col05">37</td>
            <td class="col06">29</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post</td>
            <td class="col04">Men</td>
            <td class="col07">2,263</td>
            <td class="col08">2,146</td>
            <td class="col09">1,731</td>
            <td class="col05">1,696</td>
            <td class="col06">1,385</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">2,552</td>
            <td class="col08">2,170</td>
            <td class="col09">2,059</td>
            <td class="col05">2,318</td>
            <td class="col06">2,383</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">4,815</td>
            <td class="col08">4,316</td>
            <td class="col09">3,790</td>
            <td class="col05">4,014</td>
            <td class="col06">3,768</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post Bank</td>
            <td class="col04">Men</td>
            <td class="col07">163</td>
            <td class="col08">213</td>
            <td class="col09">142</td>
            <td class="col05">91</td>
            <td class="col06">87</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">302</td>
            <td class="col08">329</td>
            <td class="col09">262</td>
            <td class="col05">143</td>
            <td class="col06">143</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">465</td>
            <td class="col08">542</td>
            <td class="col09">404</td>
            <td class="col05">234</td>
            <td class="col06">230</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post Insurance</td>
            <td class="col04">Men</td>
            <td class="col07">84</td>
            <td class="col08">118</td>
            <td class="col09">128</td>
            <td class="col05">101</td>
            <td class="col06">79</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">128</td>
            <td class="col08">155</td>
            <td class="col09">194</td>
            <td class="col05">141</td>
            <td class="col06">126</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">212</td>
            <td class="col08">273</td>
            <td class="col09">322</td>
            <td class="col05">242</td>
            <td class="col06">205</td>
          </tr>
          <!-- end 新卒採用数 -->
          <tr>
            <td class="col01" rowspan="15">Mid-career employees</td>
            <td class="col02 red" rowspan="15"></td>
            <td class="col03 red" rowspan="3">Japan Post Group</td>
            <td class="col04 red">Men</td>
            <td class="col07 red">632</td>
            <td class="col08 red">473</td>
            <td class="col09 red">1,083</td>
            <td class="col05 red">1,201</td>
            <td class="col06 red">107</td>
          </tr>
          <tr>
            <td class="col04 red">Women</td>
            <td class="col07 red">221</td>
            <td class="col08 red">182</td>
            <td class="col09 red">157</td>
            <td class="col05 red">416</td>
            <td class="col06 red">81</td>
          </tr>
          <tr>
            <td class="col04 red">Total</td>
            <td class="col07 red">853</td>
            <td class="col08 red">655</td>
            <td class="col09 red">1,240</td>
            <td class="col05 red">1,617</td>
            <td class="col06 red">188</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post Holdings</td>
            <td class="col04">Men</td>
            <td class="col07">31</td>
            <td class="col08">30</td>
            <td class="col09">31</td>
            <td class="col05">24</td>
            <td class="col06">18</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">136</td>
            <td class="col08">107</td>
            <td class="col09">83</td>
            <td class="col05">60</td>
            <td class="col06">61</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">167</td>
            <td class="col08">137</td>
            <td class="col09">114</td>
            <td class="col05">84</td>
            <td class="col06">79</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post</td>
            <td class="col04">Men</td>
            <td class="col07">526</td>
            <td class="col08">385</td>
            <td class="col09">1,018</td>
            <td class="col05">1,156</td>
            <td class="col06">70</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">64</td>
            <td class="col08">60</td>
            <td class="col09">67</td>
            <td class="col05">350</td>
            <td class="col06">13</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">590</td>
            <td class="col08">445</td>
            <td class="col09">1,085</td>
            <td class="col05">1,506</td>
            <td class="col06">83</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post Bank</td>
            <td class="col04">Men</td>
            <td class="col07">32</td>
            <td class="col08">21</td>
            <td class="col09">8</td>
            <td class="col05">6</td>
            <td class="col06">13</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">8</td>
            <td class="col08">7</td>
            <td class="col09">1</td>
            <td class="col05">5</td>
            <td class="col06">4</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">40</td>
            <td class="col08">28</td>
            <td class="col09">9</td>
            <td class="col05">11</td>
            <td class="col06">17</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post Insurance</td>
            <td class="col04">Men</td>
            <td class="col07">43</td>
            <td class="col08">37</td>
            <td class="col09">26</td>
            <td class="col05">15</td>
            <td class="col06">6</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">13</td>
            <td class="col08">8</td>
            <td class="col09">6</td>
            <td class="col05">1</td>
            <td class="col06">3</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">56</td>
            <td class="col08">45</td>
            <td class="col09">32</td>
            <td class="col05">16</td>
            <td class="col06">9</td>
          </tr>
          <!-- end 中途採用数 -->
          <tr>
            <td class="col01" rowspan="15">Number of employees who were promoted to regular employees</td>
            <td class="col02 red" rowspan="15">&nbsp;</td>
            <td class="col03 red" rowspan="3">Japan Post Group</td>
            <td class="col04 red">Men</td>
            <td class="col07 red">2,254</td>
            <td class="col08 red">2,388</td>
            <td class="col09 red">2,585</td>
            <td class="col05 red">2,880</td>
            <td class="col06 red">2,627</td>
          </tr>
          <tr>
            <td class="col04 red">Women</td>
            <td class="col07 red">714</td>
            <td class="col08 red">689</td>
            <td class="col09 red">831</td>
            <td class="col05 red">922</td>
            <td class="col06 red">830</td>
          </tr>
          <tr>
            <td class="col04 red">Total</td>
            <td class="col07 red">2,968</td>
            <td class="col08 red">3,077</td>
            <td class="col09 red">3,416</td>
            <td class="col05 red">3,802</td>
            <td class="col06 red">3,457</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post Holdings</td>
            <td class="col04">Men</td>
            <td class="col07">3</td>
            <td class="col08">2</td>
            <td class="col09">1</td>
            <td class="col05">19</td>
            <td class="col05">1</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">8</td>
            <td class="col08">4</td>
            <td class="col09">7</td>
            <td class="col05">22</td>
            <td class="col05">6</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">11</td>
            <td class="col08">6</td>
            <td class="col09">8</td>
            <td class="col05">41</td>
            <td class="col05">7</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post</td>
            <td class="col04">Men</td>
            <td class="col07">2,237</td>
            <td class="col08">2,365</td>
            <td class="col09">2,543</td>
            <td class="col05">2,836</td>
            <td class="col05">2,593</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">627</td>
            <td class="col08">618</td>
            <td class="col09">702</td>
            <td class="col05">776</td>
            <td class="col05">709</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">2,864</td>
            <td class="col08">2,983</td>
            <td class="col09">3,245</td>
            <td class="col05">3,612</td>
            <td class="col05">3,302</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post Bank </td>
            <td class="col04">Men</td>
            <td class="col07">10</td>
            <td class="col08">13</td>
            <td class="col09">29</td>
            <td class="col05">18</td>
            <td class="col05">24</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">48</td>
            <td class="col08">43</td>
            <td class="col09">92</td>
            <td class="col05">86</td>
            <td class="col05">78</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">58</td>
            <td class="col08">56</td>
            <td class="col09">121</td>
            <td class="col05">104</td>
            <td class="col05">102</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post Insurance</td>
            <td class="col04">Men</td>
            <td class="col07">4</td>
            <td class="col08">8</td>
            <td class="col09">12</td>
            <td class="col05">7</td>
            <td class="col05">9</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">31</td>
            <td class="col08">24</td>
            <td class="col09">30</td>
            <td class="col05">38</td>
            <td class="col05">37</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">35</td>
            <td class="col08">32</td>
            <td class="col09">42</td>
            <td class="col05">45</td>
            <td class="col05">46</td>
          </tr>
          <!-- end 正社員登用数 -->
          <tr>
            <td class="col01" rowspan="15">Ratio of Mid-career employees(*1)</td>
            <td class="col02 red" rowspan="15"></td>
            <td class="col03 red" rowspan="3">Japan Post Group </td>
            <td class="col04 red">Men</td>
            <td class="col07 red">53.3%</td>
            <td class="col08 red">53.5%</td>
            <td class="col09 red">64.6%</td>
            <td class="col05 red">68.2%</td>
            <td class="col06 red">63.6%</td>
          </tr>
          <tr>
            <td class="col04 red">Women</td>
            <td class="col07 red">23.8%</td>
            <td class="col08 red">24.6%</td>
            <td class="col09 red">28.1%</td>
            <td class="col05 red">33.8%</td>
            <td class="col06 red">25.5%</td>
          </tr>
          <tr>
            <td class="col04 red">Total</td>
            <td class="col07 red">40.9%</td>
            <td class="col08 red">42.0%</td>
            <td class="col09 red">50.6%</td>
            <td class="col05 red">54.5%</td>
            <td class="col06 red">46.3%</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post Holdings</td>
            <td class="col04">Men</td>
            <td class="col07">68.0%</td>
            <td class="col08">80.0%</td>
            <td class="col09">74.4%</td>
            <td class="col05">76.8%</td>
            <td class="col05">54.3%</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">89.4%</td>
            <td class="col08">88.1%</td>
            <td class="col09">88.2%</td>
            <td class="col05">77.4%</td>
            <td class="col05">83.8%</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">84.4%</td>
            <td class="col08">86.1%</td>
            <td class="col09">84.1%</td>
            <td class="col05">77.2%</td>
            <td class="col05">74.8%</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post</td>
            <td class="col04">Men</td>
            <td class="col07">55.0%</td>
            <td class="col08">56.2%</td>
            <td class="col09">67.3%</td>
            <td class="col05">70.2%</td>
            <td class="col05">65.8%</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">21.3%</td>
            <td class="col08">23.8%</td>
            <td class="col09">27.2%</td>
            <td class="col05">32.7%</td>
            <td class="col05">23.3%</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">41.8%</td>
            <td class="col08">44.3%</td>
            <td class="col09">53.3%</td>
            <td class="col05">56.0%</td>
            <td class="col05">47.3%</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post Bank</td>
            <td class="col04">Men</td>
            <td class="col07">20.5%</td>
            <td class="col08">13.8%</td>
            <td class="col09">20.7%</td>
            <td class="col05">20.9%</td>
            <td class="col05">29.8%</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">15.6%</td>
            <td class="col08">13.2%</td>
            <td class="col09">26.2%</td>
            <td class="col05">38.9%</td>
            <td class="col05">36.4%</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">17.4%</td>
            <td class="col08">13.4%</td>
            <td class="col09">24.3%</td>
            <td class="col05">33.0%</td>
            <td class="col05">34.1%</td>
          </tr>
          <tr>
            <td class="col03" rowspan="3">Japan Post Insurance</td>
            <td class="col04">Men</td>
            <td class="col07">35.9%</td>
            <td class="col08">27.6%</td>
            <td class="col09">22.9%</td>
            <td class="col05">17.9%</td>
            <td class="col05">16.0%</td>
          </tr>
          <tr>
            <td class="col04">Women</td>
            <td class="col07">25.6%</td>
            <td class="col08">17.1%</td>
            <td class="col09">15.7%</td>
            <td class="col05">21.7%</td>
            <td class="col05">24.1%</td>
          </tr>
          <tr>
            <td class="col04">Total</td>
            <td class="col07">30.0%</td>
            <td class="col08">22.0%</td>
            <td class="col09">18.7%</td>
            <td class="col05">20.1%</td>
            <td class="col05">21.2%</td>
          </tr>
          <!-- end 正社員登用数 -->
        
      </tbody>
    </table>
    </div>
    <!-- end 採用数・中途採用数（×比率） -->
    <ol class="tableNote">
      <li>Percentage of the number of mid-career hires and the number of full-time employees hired during each fiscal year as full-time employees.</li>
    </ol>

    <div class="Pagetoplink mb20"><a href="#Page-Top">Back to Top</a></div>
  </div>


  <div class="Section Table-Border">
    <p class="cap"><span class="title"><strong>4. New Graduate Retention Rate <sup>(*1)</sup></strong></span></p>
    <div class="Table-Wrapper">
        <table class="data">
          
          <!-- <colgroup>
            <col width="2%">
            <col width="17%">
            <col width="21%">
          </colgroup>
          <colgroup>
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
          </colgroup> -->
          <thead>
            <tr>
              <th class="BG-Gray" scope="col" colspan="3"></th>
              <th class="BG-Gray" scope="col">FY2016</th>
              <th class="BG-Gray" scope="col">FY2017</th>
              <th class="BG-Gray" scope="col">FY2018</th>
              <th class="BG-Gray" scope="col">FY2019</th>
              <th class="BG-Gray" scope="col">FY2020</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col02 red" rowspan="10"></td>
              <td class="col03 red" rowspan="2">Japan Post Group</td>
              <td class="left red">Number of employees remaining in service (Regular employees)</td>
              <td class="col07 red">1,784</td>
              <td class="col08 red">4,630</td>
              <td class="col09 red">4,158</td>
              <td class="col05 red">3,871</td>
              <td class="col06 red">3,587</td>
            </tr>
            <tr>
              <td class="left red">New graduate retention rate (%)</td>
              <td class="col07 red">80.0%</td>
              <td class="col08 red">76.8%</td>
              <td class="col09 red">75.3%</td>
              <td class="col05 red">75.1%</td>
              <td class="col06 red">79.0%</td>
            </tr>
            <tr>
              <td class="col03" rowspan="2">Japan Post Holdings</td>
              <td class="left">Number of employees remaining in service (Regular employees)</td>
              <td class="col07">17</td>
              <td class="col08">26</td>
              <td class="col09">28</td>
              <td class="col05">20</td>
              <td class="col06">18</td>
            </tr>
            <tr>
              <td class="left">New graduate retention rate (%)</td>
              <td class="col07">85.0%</td>
              <td class="col08">89.7%</td>
              <td class="col09">84.8%</td>
              <td class="col05">87.0%</td>
              <td class="col06">78.3%</td>
            </tr>
            <tr>
              <td class="col03" rowspan="2">Japan Post</td>
              <td class="left">Number of employees remaining in service (Regular employees)</td>
              <td class="col07">1,140</td>
              <td class="col08">3,972</td>
              <td class="col09">3,562</td>
              <td class="col05">3,187</td>
              <td class="col06">2,954</td>
            </tr>
            <tr>
              <td class="left">New graduate retention rate (%)</td>
              <td class="col07">76.1%</td>
              <td class="col08">75.3%</td>
              <td class="col09">74.0%</td>
              <td class="col05">73.8%</td>
              <td class="col06">77.9%</td>
            </tr>
            <tr>
              <td class="col03" rowspan="2">Japan Post Bank</td>
              <td class="left">Number of employees remaining in service (Regular employees)</td>
              <td class="col07">327</td>
              <td class="col08">311</td>
              <td class="col09">389</td>
              <td class="col05">426</td>
              <td class="col06">338</td>
            </tr>
            <tr>
              <td class="left">New graduate retention rate (%)</td>
              <td class="col07">85.4%</td>
              <td class="col08">84.7%</td>
              <td class="col09">83.7%</td>
              <td class="col05">78.6%</td>
              <td class="col06">83.7%</td>
            </tr>
            <tr>
              <td class="col03" rowspan="2">Japan Post Insurance</td>
              <td class="left">Number of employees remaining in service (Regular employees)</td>
              <td class="col07">300</td>
              <td class="col08">321</td>
              <td class="col09">179</td>
              <td class="col05">238</td>
              <td class="col06">277</td>
            </tr>
            <tr>
              <td class="left">New graduate retention rate (%)</td>
              <td class="col07">90.9%</td>
              <td class="col08">89.7%</td>
              <td class="col09">84.4%</td>
              <td class="col05">87.2%</td>
              <td class="col06">86.0%</td>
            </tr>
          
        </tbody>
      </table>
    </div>
    <!-- end 新卒社員定着率 -->

    <ol class="tableNote">
      <li>Number and ratio of employees who joined each company as new graduates and have been working for the company for three years continuously as of the end of each fiscal year (March 31)</li>
    </ol>
    <div class="Pagetoplink mb20"><a href="#Page-Top">Back to Top</a></div>
  </div>


  <h3 id="work" class="Header">Childcare Leave, Family Care Leave and Reduction of Overtime Work</h3>

  <div class="Section Table-Border">

    <p>At Japan Post Group, many employees, both men and women, achieve a good balance between work and childcare/nursing care by utilizing support programs for promoting work-life balance.<br>We are also working to establish programs and a workplace climate that provides employees with diverse workstyle options to choose from according to their life stage.<br>In addition, each company of Japan Post Group strives to ensure appropriate management of working hours at each workplace and takes a variety of initiatives to reduce overtime work, including operational efficiency improvement.</p>

    <p class="cap"><strong>1. Acquisition of Childcare Leave and Family Care Leave <sup>(*)</sup></strong></p>
    <div class="Table-Wrapper">
      <table class="data">
        
        <!-- <colgroup>
          <col width="13%">
          <col width="2%">
          <col width="17%">
          <col width="8%">
        </colgroup>
        <colgroup>
          <col width="12%">
          <col width="12%">
          <col width="12%">
          <col width="12%">
          <col width="12%">
        </colgroup> -->
        <thead>
          <tr>
            <th class="BG-Gray" scope="col" colspan="4"></th>
            <th class="BG-Gray" scope="col">FY2016</th>
            <th class="BG-Gray" scope="col">FY2017</th>
            <th class="BG-Gray" scope="col">FY2018</th>
            <th class="BG-Gray" scope="col">FY2019</th>
            <th class="BG-Gray" scope="col">FY2020</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td class="col01" rowspan="15">Number of employees who took childcare leave <sup>(*)</sup></td>
              <td class="col02 red" rowspan="15"></td>
              <td class="col03 red" rowspan="3">Japan Post Group</td>
              <td class="col04 red">Men</td>
              <td class="col06 red">112</td>
              <td class="col07 red">120</td>
              <td class="col08 red">2,839</td>
              <td class="col09 red">2,589</td>
              <td class="col05 red">2,383</td>
            </tr>
            <tr>
              <td class="col04 red">Women</td>
              <td class="col06 red">1,739</td>
              <td class="col07 red">1,758</td>
              <td class="col08 red">1,705</td>
              <td class="col09 red">1,720</td>
              <td class="col05 red">1,684</td>
            </tr>
            <tr>
              <td class="col04 red">Total</td>
              <td class="col06 red">1,851</td>
              <td class="col07 red">1,878</td>
              <td class="col08 red">4,544</td>
              <td class="col09 red">4,309</td>
              <td class="col05 red">4,067</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Holdings</td>
              <td class="col04">Men</td>
              <td class="col06">3</td>
              <td class="col07">2</td>
              <td class="col08">16</td>
              <td class="col09">9</td>
              <td class="col05">13</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">60</td>
              <td class="col07">46</td>
              <td class="col08">31</td>
              <td class="col09">41</td>
              <td class="col05">27</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">63</td>
              <td class="col07">48</td>
              <td class="col08">47</td>
              <td class="col09">50</td>
              <td class="col05">40</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post</td>
              <td class="col04">Men</td>
              <td class="col06">77</td>
              <td class="col07">69</td>
              <td class="col08">2,556</td>
              <td class="col09">2,290</td>
              <td class="col05">2,115</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">1,386</td>
              <td class="col07">1,398</td>
              <td class="col08">1,347</td>
              <td class="col09">1,324</td>
              <td class="col05">1,267</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">1,463</td>
              <td class="col07">1,467</td>
              <td class="col08">3,903</td>
              <td class="col09">3,614</td>
              <td class="col05">3,382</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Bank</td>
              <td class="col04">Men</td>
              <td class="col06">21</td>
              <td class="col07">20</td>
              <td class="col08">136</td>
              <td class="col09">139</td>
              <td class="col05">156</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">155</td>
              <td class="col07">155</td>
              <td class="col08">155</td>
              <td class="col09">192</td>
              <td class="col05">205</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">176</td>
              <td class="col07">175</td>
              <td class="col08">291</td>
              <td class="col09">331</td>
              <td class="col05">361</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Insurance</td>
              <td class="col04">Men</td>
              <td class="col06">11</td>
              <td class="col07">29</td>
              <td class="col08">131</td>
              <td class="col09">151</td>
              <td class="col05">99</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">138</td>
              <td class="col07">159</td>
              <td class="col08">172</td>
              <td class="col09">163</td>
              <td class="col05">185</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">149</td>
              <td class="col07">188</td>
              <td class="col08">303</td>
              <td class="col09">314</td>
              <td class="col05">284</td>
            </tr>
            <!-- end 育児休業取得者数 -->
            <tr>
              <td class="col01" rowspan="15">Number of employees who took partial childcare leave</td>
              <td class="col02 red" rowspan="15"></td>
              <td class="col03 red" rowspan="3">Japan Post Group</td>
              <td class="col04 red">Men</td>
              <td class="col06 red">56</td>
              <td class="col07 red">72</td>
              <td class="col08 red">72</td>
              <td class="col09 red">95</td>
              <td class="col05 red">82</td>
            </tr>
            <tr>
              <td class="col04 red">Women</td>
              <td class="col06 red">1,812</td>
              <td class="col07 red">2,071</td>
              <td class="col08 red">2,400</td>
              <td class="col09 red">2,723</td>
              <td class="col05 red">2,541</td>
            </tr>
            <tr>
              <td class="col04 red">Total</td>
              <td class="col06 red">1,868</td>
              <td class="col07 red">2,143</td>
              <td class="col08 red">2,472</td>
              <td class="col09 red">2,818</td>
              <td class="col05 red">3,044</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Holdings</td>
              <td class="col04">Men</td>
              <td class="col06">1</td>
              <td class="col07">3</td>
              <td class="col08">4</td>
              <td class="col09">4</td>
              <td class="col05">1</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">99</td>
              <td class="col07">107</td>
              <td class="col08">110</td>
              <td class="col09">97</td>
              <td class="col05">98</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">100</td>
              <td class="col07">110</td>
              <td class="col08">114</td>
              <td class="col09">101</td>
              <td class="col05">99</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post</td>
              <td class="col04">Men</td>
              <td class="col06">39</td>
              <td class="col07">43</td>
              <td class="col08">51</td>
              <td class="col09">64</td>
              <td class="col05">73</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">1,195</td>
              <td class="col07">1,365</td>
              <td class="col08">1,603</td>
              <td class="col09">1,820</td>
              <td class="col05">1,970</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">1,234</td>
              <td class="col07">1,408</td>
              <td class="col08">1,654</td>
              <td class="col09">1,884</td>
              <td class="col05">2,043</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Bank</td>
              <td class="col04">Men</td>
              <td class="col06">10</td>
              <td class="col07">16</td>
              <td class="col08">12</td>
              <td class="col09">13</td>
              <td class="col05">8</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">312</td>
              <td class="col07">362</td>
              <td class="col08">388</td>
              <td class="col09">456</td>
              <td class="col05">473</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">322</td>
              <td class="col07">378</td>
              <td class="col08">400</td>
              <td class="col09">469</td>
              <td class="col05">481</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Insurance</td>
              <td class="col04">Men</td>
              <td class="col06">6</td>
              <td class="col07">10</td>
              <td class="col08">7</td>
              <td class="col09">14</td>
              <td class="col05">19</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">206</td>
              <td class="col07">237</td>
              <td class="col08">297</td>
              <td class="col09">350</td>
              <td class="col05">402</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">212</td>
              <td class="col07">247</td>
              <td class="col08">304</td>
              <td class="col09">364</td>
              <td class="col05">421</td>
            </tr>
            <!-- end 育児部分休業取得者数 -->
            <tr>
              <td class="col01" rowspan="15">Number of employees who took family care leave</td>
              <td class="col02 red" rowspan="15"></td>
              <td class="col03 red" rowspan="3">Japan Post Group</td>
              <td class="col04 red">Men</td>
              <td class="col06 red">87</td>
              <td class="col07 red">102</td>
              <td class="col08 red">111</td>
              <td class="col09 red">122</td>
              <td class="col05 red">92</td>
            </tr>
            <tr>
              <td class="col04 red">Women</td>
              <td class="col06 red">92</td>
              <td class="col07 red">103</td>
              <td class="col08 red">109</td>
              <td class="col09 red">119</td>
              <td class="col05 red">103</td>
            </tr>
            <tr>
              <td class="col04 red">Total</td>
              <td class="col06 red">179</td>
              <td class="col07 red">205</td>
              <td class="col08 red">220</td>
              <td class="col09 red">241</td>
              <td class="col05 red">195</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Holdings</td>
              <td class="col04">Men</td>
              <td class="col06">2</td>
              <td class="col07">4</td>
              <td class="col08">1</td>
              <td class="col09">0</td>
              <td class="col05">0</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">3</td>
              <td class="col07">1</td>
              <td class="col08">1</td>
              <td class="col09">4</td>
              <td class="col05">7</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">5</td>
              <td class="col07">5</td>
              <td class="col08">2</td>
              <td class="col09">4</td>
              <td class="col05">7</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post</td>
              <td class="col04">Men</td>
              <td class="col06">78</td>
              <td class="col07">87</td>
              <td class="col08">100</td>
              <td class="col09">110</td>
              <td class="col05">81</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">74</td>
              <td class="col07">87</td>
              <td class="col08">92</td>
              <td class="col09">83</td>
              <td class="col05">80</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">152</td>
              <td class="col07">174</td>
              <td class="col08">192</td>
              <td class="col09">193</td>
              <td class="col05">161</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Bank</td>
              <td class="col04">Men</td>
              <td class="col06">3</td>
              <td class="col07">7</td>
              <td class="col08">7</td>
              <td class="col09">8</td>
              <td class="col05">5</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">10</td>
              <td class="col07">9</td>
              <td class="col08">11</td>
              <td class="col09">20</td>
              <td class="col05">12</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">13</td>
              <td class="col07">16</td>
              <td class="col08">18</td>
              <td class="col09">28</td>
              <td class="col05">17</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Insurance</td>
              <td class="col04">Men</td>
              <td class="col06">4</td>
              <td class="col07">4</td>
              <td class="col08">3</td>
              <td class="col09">4</td>
              <td class="col05">6</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">5</td>
              <td class="col07">6</td>
              <td class="col08">5</td>
              <td class="col09">12</td>
              <td class="col05">4</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">9</td>
              <td class="col07">10</td>
              <td class="col08">8</td>
              <td class="col09">16</td>
              <td class="col05">10</td>
            </tr>
            <!-- end 介護休業取得者数 -->
            <tr>
              <td class="col01" rowspan="15">Number of employees who took partial family care leave</td>
              <td class="col02 red" rowspan="15"></td>
              <td class="col03 red" rowspan="3">Japan Post Group</td>
              <td class="col04 red">Men</td>
              <td class="col06 red">6</td>
              <td class="col07 red">21</td>
              <td class="col08 red">25</td>
              <td class="col09 red">38</td>
              <td class="col05 red">32</td>
            </tr>
            <tr>
              <td class="col04 red">Women</td>
              <td class="col06 red">19</td>
              <td class="col07 red">31</td>
              <td class="col08 red">39</td>
              <td class="col09 red">39</td>
              <td class="col05 red">47</td>
            </tr>
            <tr>
              <td class="col04 red">Total</td>
              <td class="col06 red">25</td>
              <td class="col07 red">52</td>
              <td class="col08 red">64</td>
              <td class="col09 red">77</td>
              <td class="col05 red">79</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Holdings</td>
              <td class="col04">Men</td>
              <td class="col06">0</td>
              <td class="col07">0</td>
              <td class="col08">0</td>
              <td class="col09">0</td>
              <td class="col05">0</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">1</td>
              <td class="col07">1</td>
              <td class="col08">2</td>
              <td class="col09">5</td>
              <td class="col05">4</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">1</td>
              <td class="col07">1</td>
              <td class="col08">2</td>
              <td class="col09">5</td>
              <td class="col05">4</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post</td>
              <td class="col04">Men</td>
              <td class="col06">6</td>
              <td class="col07">18</td>
              <td class="col08">20</td>
              <td class="col09">34</td>
              <td class="col05">26</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">16</td>
              <td class="col07">26</td>
              <td class="col08">28</td>
              <td class="col09">26</td>
              <td class="col05">36</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">22</td>
              <td class="col07">44</td>
              <td class="col08">48</td>
              <td class="col09">60</td>
              <td class="col05">62</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Bank</td>
              <td class="col04">Men</td>
              <td class="col06">0</td>
              <td class="col07">2</td>
              <td class="col08">3</td>
              <td class="col09">2</td>
              <td class="col05">3</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">1</td>
              <td class="col07">2</td>
              <td class="col08">6</td>
              <td class="col09">6</td>
              <td class="col05">5</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">1</td>
              <td class="col07">4</td>
              <td class="col08">9</td>
              <td class="col09">8</td>
              <td class="col05">8</td>
            </tr>
            <tr>
              <td class="col03" rowspan="3">Japan Post Insurance</td>
              <td class="col04">Men</td>
              <td class="col06">0</td>
              <td class="col07">1</td>
              <td class="col08">2</td>
              <td class="col09">2</td>
              <td class="col05">3</td>
            </tr>
            <tr>
              <td class="col04">Women</td>
              <td class="col06">1</td>
              <td class="col07">2</td>
              <td class="col08">3</td>
              <td class="col09">2</td>
              <td class="col05">2</td>
            </tr>
            <tr>
              <td class="col04">Total</td>
              <td class="col06">1</td>
              <td class="col07">3</td>
              <td class="col08">5</td>
              <td class="col09">4</td>
              <td class="col05">5</td>
            </tr>
            <!-- end 介護部分休業取得者数 -->
          
        </tbody>
      </table>
    </div>
    <!-- end 育児休業・介護休業の取得 -->

    <ol class="tableNote">
      <li>Number of regular employees who took the leave</li>
      <li>Number of those whose childcare leave started in each fiscal year</li>
      <li>Number of employees who took childcare leave in FY2018 and FY2019 includes those who took spouse's childbirth leave.</li>
    </ol>
    <div class="Pagetoplink mb20"><a href="#Page-Top">Back to Top</a></div>
  </div>


  <div class="Section Table-Border">
    <p class="cap"><strong>2. Reduction of Overtime Work<sup>*</sup></strong></p>
    <div class="Table-Wrapper">
        <table class="data">
          
          <!-- <colgroup>
            <col width="2%">
            <col width="17%">
            <col width="21%">
          </colgroup>
          <colgroup>
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
          </colgroup> -->
          <thead>
            <tr>
              <th class="BG-Gray" scope="col" colspan="3"></th>
              <th class="BG-Gray" scope="col">2016</th>
              <th class="BG-Gray" scope="col">2017</th>
              <th class="BG-Gray" scope="col">2018</th>
              <th class="BG-Gray" scope="col">2019</th>
              <th class="BG-Gray" scope="col">2020</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col02 red" rowspan="6"></td>
              <td class="col03 red" rowspan="2">Japan Post Group</td>
              <td class="left red">Average monthly overtime hours (Regular employees)</td>
              <td class="col07 red">16.9</td>
              <td class="col08 red">17.1</td>
              <td class="col09 red">17.4</td>
              <td class="col05 red">15.5</td>
              <td class="col06 red">11.9</td>
            </tr>
            <tr>
              <td class="left red">Initiatives for reducing overtime work</td>
              <td class="col05 red" colspan="6">Introduction of no overtime days and reflection of overtime hours in the
                personnel evaluation of managers</td>
            </tr>
            <tr>
              <td class="col03">Japan Post Holdings</td>
              <td class="left" rowspan="4">Average monthly overtime hours (Regular employees)</td>
              <td class="col07">13.8</td>
              <td class="col08">13.7</td>
              <td class="col09">14.5</td>
              <td class="col05">15.6</td>
              <td class="col06">13.9</td>
            </tr>
            <tr>
              <td class="col03">Japan Post</td>
              <td class="col07">17.4</td>
              <td class="col08">17.9</td>
              <td class="col09">18.2</td>
              <td class="col05">16.2</td>
              <td class="col06">12.4</td>
            </tr>
            <tr>
              <td class="col03">Japan Post Bank</td>
              <td class="col07">13.0</td>
              <td class="col08">11.2</td>
              <td class="col09">10.4</td>
              <td class="col05">10.0</td>
              <td class="col06">7.4</td>
            </tr>
            <tr>
              <td class="col03">Japan Post Insurance</td>
              <td class="col07">9.9</td>
              <td class="col08">8.6</td>
              <td class="col09">7.7</td>
              <td class="col05">8.5</td>
              <td class="col06">6.1</td>
            </tr>
          
        </tbody>
      </table>
    </div>
    <!-- end 時間外労働削減 -->

    <ol class="tableNote02">
      <li>Average monthly overtime hours are calculated on a year-by-year basis.</li>
    </ol>
    <div class="Pagetoplink mb20"><a href="#Page-Top">Back to Top</a></div>
  </div>


  <h3 id="safety" class="Header">Workplace Injuries and Illnesses</h3>

  <div class="Section">

    <p>To prevent workplace injuries and illnesses, we strive to raise the safety awareness of each employee and create a safe workplace environment where they can work with a sense of security.</p>

    <div class="Table-Border">
      <p class="cap"><strong>1. Workplace Injuries and Illnesses</strong></p>
      <div class="Table-Wrapper">
        <table class="data">
          <!-- <colgroup>
                <col width="2%">
                <col width="17%">
                <col width="21%">
            </colgroup>
            <colgroup>
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
            </colgroup> -->
          <thead>
            <tr>
              <th class="BG-Gray" scope="col" colspan="3"></th>
              <th class="BG-Gray" scope="col">FY2016</th>
              <th class="BG-Gray" scope="col">FY2017</th>
              <th class="BG-Gray" scope="col">FY2018</th>
              <th class="BG-Gray" scope="col">FY2019</th>
              <th class="BG-Gray" scope="col">FY2020</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col02 red" rowspan="5"></td>
              <td class="col03 red">Japan Post Group</td>
              <td class="left" rowspan="5">Annual thousand employee rate <sup>*1</sup></td>
              <td class="col06 red">4.20</td>
              <td class="col07 red">5.68</td>
              <td class="col08 red">4.52</td>
              <td class="col08 red">4.34</td>
              <td class="col05 red">4.96</td>
            </tr>
            <tr>
              <td class="col03">Japan Post Holdings</td>
              <td class="col06">4.79</td>
              <td class="col07">4.26</td>
              <td class="col08">4.79</td>
              <td class="col08">3.34</td>
              <td class="col05">6.39</td>
            </tr>
            <tr>
              <td class="col03">Japan Post</td>
              <td class="col06">4.44</td>
              <td class="col07">6.12</td>
              <td class="col08">4.79</td>
              <td class="col08">4.63</td>
              <td class="col05">5.25</td>
            </tr>
            <tr>
              <td class="col03">Japan Post Bank</td>
              <td class="col06">0.43</td>
              <td class="col07">0.33</td>
              <td class="col08">0.56</td>
              <td class="col08">0.35</td>
              <td class="col05">0.78</td>
            </tr>
            <tr>
              <td class="col03">Japan Post Insurance</td>
              <td class="col06">0.55</td>
              <td class="col07">0.66</td>
              <td class="col08">0.47</td>
              <td class="col08">0.38</td>
              <td class="col05">0.38</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ol class="tableNote02">
      <li>Annual thousand employee rate is the number of casualties per 1,000 workers per year, and is expressed by the following formula. <br>Annual thousand employee rate = (number of casualties in one year/average number of workers in one year) x 1,000</li>
    </ol>
    <!-- end 労働災害の発生状況 -->
    <div class="Pagetoplink mb20"><a href="#Page-Top">Back to Top</a></div>

  </div>


  <h3 id="women" class="Header">Ratio of Female Managers, Ratio of Female Officers, Paid Leave Acquisition Rate and Other Data</h3>

  <div class="Section Table-Border">

    <p class="cap"><strong>Active Participation of Women</strong></p>
    <div class="Table-Wrapper">
      <table class="womenTable">
        <colgroup>
          <col width="24%">
          <col width="19%">
          <col width="19%">
          <col width="19%">
          <col width="19%">
        </colgroup>
        <thead>
          <tr>
            <th class="BG-Gray" scope="col">Item</th>
            <th class="BG-Gray" scope="col">Japan Post</th>
            <th class="BG-Gray" scope="col">Japan Post Bank</th>
            <th class="BG-Gray" scope="col">Japan Post Insurance</th>
            <th class="BG-Gray" scope="col">Japan Post Holdings</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left">Proportion of women in all new graduates hired as regular employees (Those hired in FY2021)
            </td>
            <td>71.1%</td>
            <td>63.9%</td>
            <td>53.1%</td>
            <td>50.0%</td>
          </tr>
          <tr>
            <td class="left">Proportion of women in all regular employees<br>(As of April 1, 2021) </td>
            <td>23.5%</td>
            <td>42.8%</td>
            <td>45.0%</td>
            <td>48.5%</td>
          </tr>
          <tr>
            <td class="left">Average duration of service for male and female regular employees<br>(As of March 31, 2021)
            </td>
            <td>Men: 20.6 years<br>Women: 15.0 years</td>
            <td>Men: 22.5 years<br>Women: 16.4 years</td>
            <td>Men: 18.3 years<br>Women: 11.8 years</td>
            <td>Men: 21.0 years<br>Women: 13.7 years</td>
          </tr>
          <tr>
            <td class="left">Proportion of women in all officers<br>(As of July 1, 2021)</td>
            <td>17.3%</td>
            <td>13.9%</td>
            <td>8.6%</td>
            <td>11.6%</td>
          </tr>
          <tr>
            <td class="left">Proportion of women in all managerial employees<br>(As of April 1, 2021)</td>
            <td>8.6%</td>
            <td>15.7%</td>
            <td>12.1%</td>
            <td>9.9%</td>
          </tr>
        </tbody>
        <!-- end 女性の活躍に関する状況について -->
      </table>
    </div>

    <table class="womenTable">
      <thead>
        <tr>
          <th class="BG-Gray" scope="col">Item</th>
          <th class="BG-Gray" scope="col">The four main Group companies</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left">Proportion of women in managerial employees of head office<br> (As of July 1, 2021)</td>
          <td>13.9%</td>
        </tr>
      </tbody>
    </table>

    <div class="Pagetoplink mb20"><a href="#Page-Top">Back to Top</a></div>

    <p class="cap"><strong>Other Numerical Data on Workstyles</strong></p>
    <div class="Table-Wrapper">
      <table class="womenTable">
        <colgroup>
          <col width="24%">
          <col width="19%">
          <col width="19%">
          <col width="19%">
          <col width="19%">
        </colgroup>
        <thead>
          <tr>
            <th class="BG-Gray" scope="col">Item</th>
            <th class="BG-Gray" scope="col">Japan Post</th>
            <th class="BG-Gray" scope="col">Japan Post Bank</th>
            <th class="BG-Gray" scope="col">Japan Post Insurance</th>
            <th class="BG-Gray" scope="col">Japan Post Holdings</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left">Average monthly overtime hours<sup>*1</sup><br>(Regular employees) (2020)</td>
            <td>12.4 hours</td>
            <td>7.4 hours</td>
            <td>6.1 hours</td>
            <td>13.9 hours</td>
          </tr>
          <tr>
            <td class="left">Paid leave acquisition rate of regular employees (FY2020)</td>
            <td>93.0%</td>
            <td>93.1%</td>
            <td>87.6%</td>
            <td>81.8%</td>
          </tr>
          <tr>
            <td class="left">Number of male and female regular employees who changed their courses<sup>*2</sup> (As of
              April 1, 2021)</td>
            <td>Men: 879<br>Women: 508</td>
            <td>Men: 11<br>Women: 22</td>
            <td>Men: 9<br>Women: 23</td>
            <td>Men: 0<br>Women: 2</td>
          </tr>
          <tr>
            <td class="left">Number of male and female employees who were promoted to regular employees<sup>*3</sup> (As
              of April 1, 2021)</td>
            <td>Men: 1643<br>Women: 422</td>
            <td>Men: 9<br>Women: 70</td>
            <td>Men: 3<br>Women: 27</td>
            <td>Men: 0<br>Women: 3</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end 女性の活躍に関する状況について -->

    <ol class="tableNote">
      <li>Average monthly overtime hours are calculated on a year-by-year basis.</li>
      <li>Course change: In principle, employees are not allowed to change their courses (job types) that were determined when they were recruited. From the perspective of responding to changes in employees' employment-related needs and their willingness to take on challenges, this program permits employees to change their job type in comprehensive consideration of their work experience at the company, aptitude and other factors.</li>
      <li>Promotion to regular employees: Under this program, non-regular employees are promoted to regular employees for the purpose of ensuring the stable employment of non-regular employees, improving their work conditions, and thereby improving their operations and service quality.</li>
    </ol>
    <div class="Pagetoplink"><a href="#Page-Top">Back to Top</a></div>
  </div>

  <h3 id="transport" class="Header">Implementation of Transportation Safety Training</h3>

  <div class="Section Table-Border">

    <p>Status of transportation safety training implemented by Japan Post Co., Ltd.</p>

    <div class="Table-Wrapper">
      <table class="transTable">
        <colgroup>
          <col>
          <col>
          <col>
        </colgroup>
        <thead>
          <tr>
            <th class="BG-Gray" scope="col">&nbsp;</th>
            <th class="BG-Gray Text-Center" scope="col">FY2018</th>
            <th class="BG-Gray Text-Center" scope="col">FY2019</th>
            <th class="BG-Gray Text-Center" scope="col">FY2020</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left">Headquarter safety management training</td>
            <td class="Text-Center">17</td>
            <td class="Text-Center">17</td>
            <td class="Text-Center">18</td>
          </tr>
          <tr>
            <td class="left">Branch office training for driving safety instructors etc.</td>
            <td class="Text-Center">27</td>
            <td class="Text-Center">25</td>
            <td class="Text-Center">0<sup>(*)</sup></td>
          </tr>
          <tr>
            <td class="left">Branch office safety section manager and professional training</td>
            <td class="Text-Center">85</td>
            <td class="Text-Center">102</td>
            <td class="Text-Center">139</td>
          </tr>
          <tr>
            <td class="left">Skill trained for operations managers etc.</td>
            <td class="Text-Center">1319</td>
            <td class="Text-Center">1537</td>
            <td class="Text-Center">1575</td>
          </tr>
        </tbody>
      </table>
    </div>

    <ol class="tableNote02">
      <li>Training for safe driving instructors at branch offices in FY2020 is not provided from the viewpoint of preventing the spread of COVID-19.</li>
      <li>In addition to the above, branch offices and post offices provide training for managers and new hires as needed.</li>
      <li>Information on transportation safety management is available on the Japan Post website.<br>
        <a href="https://www.post.japanpost.jp/about/ts_management.html" target="_blank"
          class="Popup">https://www.post.japanpost.jp/about/ts_management.html</a> (Japanese only)
      </li>
    </ol>
  </div>
  <!-- end 運輸にかかる安全研修の実施に関するデータ -->

</div>