<div id="title_box">
  <div id="csr_main_img_kids3">
    <h1>JP子どもの森づくり運動「東北復興グリーンウェイブ」</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/environment/images/title_box_sdgs_04.png" alt="4：質の高い教育をみんなに">
    <img src="/sustainability/environment/images/title_box_sdgs_13.png" alt="13：気候変動に具体的な対策を">
    <img src="/sustainability/environment/images/title_box_sdgs_15.png" alt="15：陸の豊かさも守ろう">
  </p>
</div>
<!-- /#title_box-->

<h2 class="Header">活動概要</h2>
<p class="Category Lead">日本郵政グループは、2008年からNPO法人子どもの森づくり推進ネットワークが取り組む森づくり体験プログラム「JP子どもの森づくり運動」に賛同しています。2012年から同活動の一環として、「東北復興グリーンウェイブ」を展開し、東日本大震災で被災した東北の森の生物多様性の再生に寄与しています。</p>

<div class="Section List-General">
<ul>
<li><a class="Link Popup" href="https://kodomono-mori.net/"><span>NPO法人子どもの森づくり推進ネットワーク</span></a></li>
</ul>
<!-- end .Section.List-General --></div>

<div class="Section Col">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img src="/sustainability/environment/images/greenwave_01.png" alt="" style="max-width: 420px;"></div>
  </div>
</div>

<h2 class="Header">植樹活動の実施</h2>

<div class="Section Table-Border">
  <p>全国の保育園・幼稚園・こども園の園児たちが育てた苗木は、これまで岩手県および福島県内のこどもおよび保育園に送られ、同園児たちの手で植えられています。</p>
  <table>
    <thead>
      <tr>
        <th class="BG-Gray Text-Center">苗木が送られたこども園・保育園</th>
        <th class="BG-Gray Text-Center">植樹されている場所</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="Text-Center">あかまえこども園（岩手県宮古市）</td>
        <td class="Text-Center">岩手県宮古市田老地区内</td>
      </tr>
      <tr>
        <td class="Text-Center">つつみこども園（岩手県大槌町）</td>
        <td class="Text-Center">同園敷地内</td>
      </tr>
      <tr>
        <td class="Text-Center">伊達こども園（福島県伊達市）</td>
        <td class="Text-Center">同園内園庭</td>
      </tr>
      <tr>
        <td class="Text-Center">ちゅうりっぷ保育園（福島県福島市）</td>
        <td class="Text-Center">同園内園庭</td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="Header">ひとこと</h3>
<div class="Section Col3">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/environment/images/kodomono_mori_03.jpg" style="width: 263px" />
<p class="Caption Text-Center">岩手県宮古市<br>あかまえこども園<br>園長 小関 憲一さま</p>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<h4 class="mb10"><strong>苗木を受け取ったこども園</strong></h4>
<p>コロナ対応で大変なときに、子どもたちの思いがこもった苗木を送っていただき、ありがとうございます！全国の子どもたちの思いを引き継いで、大切に育てていきます。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/environment/images/kodomono_mori_04.jpg" style="width: 263px" />
</div>
<!-- end .Grid-Column.Image --></div>
<!-- end .Section.Col3 --></div>

<div class="Section Col3">
  <div class="Grid-Column Image">
  <div class="Image Text-Center"><img alt="" src="/sustainability/environment/images/kodomono_mori_05.jpg" style="width: 263px" />
  <p class="Caption Text-Center">石川県穴水町<br>平和こども園<br>園長 日吉輝幸さま</p>
  </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
  <div class="Box">
  <h4 class="mb10"><strong>苗木を送ったこども園</strong></h4>
  <p>子どもの心と地域の自然を育む「JP子どもの森づくり運動」から、「東北復興グリーンウェイブ」の活動に参加し、人と人との絆を育む体験もさせていただきうれしく思っています。</p>
  <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
  <div class="Grid-Column Image">
  <div class="Image Text-Center"><img alt="" src="/sustainability/environment/images/kodomono_mori_06.jpg" style="width: 263px" />
  </div>
  <!-- end .Grid-Column.Image --></div>
  <!-- end .Section.Col3 --></div>
  
  <h2 class="Header">表彰等</h2>
<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="国連生物多様性の10年日本委員会（UNDB-J）の連携事業ロゴマーク" src="/sustainability/environment/images/logo-undb_jap.jpg">
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>この事業は「国連生物多様性の10年日本委員会（UNDB-J）」が推奨する事業として認定を受けています。</p>
<p>また、2020年4月には、公益社団法人こども環境学会による「2019年度（第15回）こども環境学会賞」の「活動賞」を受賞しました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
</div>



<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
