<div id="title_box">
  <div id="csr_main_img_report">
    <h1>JP子どもの森づくり運動</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/environment/images/title_box_sdgs_04.png" alt="4：質の高い教育をみんなに">
    <img src="/sustainability/environment/images/title_box_sdgs_13.png" alt="13：気候変動に具体的な対策を">
    <img src="/sustainability/environment/images/title_box_sdgs_15.png" alt="15：陸の豊かさも守ろう">
  </p>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政グループは、2008年から、NPO法人子どもの森づくり推進ネットワークが取り組む、森づくり体験プログラムに賛同し、「JP子どもの森づくり運動」の名称のもと、全国の保育園・幼稚園・こども園の園児の森づくり体験活動を支援しています。</p>
<!-- end .Section --></div>
<div class="Section List-General">
  <ul>
    <li><a href="http://www.kodomono-mori.net" class="Link Popup"><span>NPO法人子どもの森づくり推進ネットワーク</span></a></li>
    <li><a href="/sustainability/library/movie/back_number/2017_001.html" class="Link">「JP子どもの森づくり運動」の取り組み【サステナブルムービー】</a></li>
  </ul>
<!-- end .Section --></div>

<h2 id="green_wave" class="Header">東北復興グリーンウェイブ</h2>

<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <figure class="Image Text-Center">
      <img style="width: 240px;" src="/sustainability/environment/images/kodomono_mori_02@2x.png" alt="日本地図">
    </figure>
    <figure class="Image Text-Center">
      <img style="width: 188px;" src="/sustainability/environment/images/logo-undb_jap.jpg" alt="UNDB-J">
    </figure>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>2012年から「東北復興グリーンウェイブ」を展開しています。この活動は、東日本大震災の被災地の園児が拾ったどんぐりを、全国の保育園・幼稚園・こども園の園児が育て、3年目に大きくなった苗木を、郵便局のネットワークを利用して被災地に送り、5月22日のグリーンウェイブの日に、東北の緑の復興への願いを込め、被災地の園児が植えるというものです。</p>
      <p>この事業は「国連生物多様性の10年日本委員会(UNDB-J)」が推奨する事業として認定を受けています。<br />
        また、2020年4月には、公益社団法人こども環境学会による「2019年度（第15回）こども環境学会賞」の「活動賞」を受賞しました。
      </p>
    </div>
  </div>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="" src="/sustainability/environment/images/kodomono_mori_02.jpg"></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/sustainability/environment/kodomono_mori/green_wave.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」の取り組み</span></a></li>
    <li><a class="Link Popup" href="https://www.children-env.org/"><span>公益社団法人こども環境学会</span></a></li>
  </ul>
<!-- end .Section --></div>

<h2 id="nursing" class="Header">保育サポート活動としてのオンライン講座の開催</h2>
  
<div class="Section">
  <p>「JP子どもの森づくり運動」の３つの柱となる活動テーマ「自然・環境体験活動」「保育防災」 「園庭緑化運動」について、それぞれオンライン研修講座を実施しています。</p>
</div>

<h3 class="Header">自然・環境体験講座全国キャラバン</h3>
<div class="Section">
  <p>保育における多様な自然体験の意義等について、有識者を招き保育者および保育関係者を対象としたオンライン講座を定期的に開催し、自然・環境体験活動のスキルアップを目指しています。</p>
</div>

<h3 class="Header">保育防災</h3>
<div class="Section">
  <p>保育施設に特化した防災のスキルと高い防災マインドを持つ防災リーダーを「保育防災アクションマイスター」と位置づけ、その養成を目指すオンライン講座を「JP子どもの森づくり運動」参加園を対象に実施しています。</p>
</div>

<h3 class="Header">園庭緑化運動</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <figure class="Image Text-Center"><img src="/sustainability/environment/images/kodomono_mori_07.png" alt=""></figure>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>保育施設内の園庭を、多様な「外遊び」や自然と環境の体験フィールドとして緑化していくことを目的に、モデル活動園として参加している保育園・幼稚園・こども園に対し、オンラインワークショップ等を実施しています。</p>
    </div>
  </div>
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
