<div id="title_box">
  <div id="csr_main_img_jpforest">
    <h1>JPの森づくり</h1>
  </div>
  <p class="explanation2">日本郵政グループの役員・社員ボランティアが、NPOとの協働のもと、<br/>2008年度（平成20年度）から植樹などの育林活動を行っています。</p>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政グループは、NPO法人ドングリの会（※）との協働により、千葉県君津市に「JPの森（久留里ドングリの森）」を設け、社員ボランティアによる植樹・育林活動を行っています。</p>
<!-- end .Section --></div>

<h2 class="Header"><span>「JPの森づくり」活動のコンセプト</span></h2>
<div class="Section">
<p>「JPの森（久留里ドングリの森）」では、およそ10ヘクタールある針葉樹を伐採した跡地に、コナラ、クリ、ケヤキ、ヤマザクラ、クヌギ等の広葉樹の苗木を、2008年5月の活動開始時に約750本植樹しています。現在は、下草刈りや鹿の食害から木を守る対策など、小さな苗木たちが大きな森に育つことを願いつつ、活動を行っています。</p>
<!-- end .Section --></div>
<div class="Section Col-Border List-General">
<div class="Grid-Column BG-Gray">
<p>※参考：NPO法人　ドングリの会</p>
<ul>
<li><a class="Link Popup" title="別ウィンドウで表示します" href="http://www.dongurinokai.or.jp/"><span>http://www.dongurinokai.or.jp/</span></a></li>
</ul>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border.List-General --></div>

<h2 id="Report" class="Header"><span>「JPの森づくり」活動レポート</span></h2>
<div class="Section">
<p>「JPの森づくり」の主な活動のレポートがご覧いただけます。</p>
<!-- end .Section --></div>

<div class="Section Table-Border">
<table><caption class="Hidden">「JPの森づくり」活動レポート一覧</caption><colgroup> <col style="width: 25%;" /> <col style="width: 75%;" /> </colgroup>
<thead>
<tr><th class="BG-Gray" scope="col">実施日</th><th class="BG-Gray" scope="col">実施場所</th></tr>
</thead>
<tbody>
<tr><th scope="row">2016年10月1日</th>
<td><a class="Link" href="/csr/jpforest/report13.html"><span>久留里ドングリの森（千葉県君津市）</span></a></td>
</tr>
<tr><th scope="row">2015年10月3日</th>
<td><a class="Link" href="/csr/jpforest/report12.html"><span>久留里ドングリの森（千葉県君津市）</span></a></td>
</tr>
<tr><th scope="row">2015年5月30日</th>
<td><a class="Link" href="/csr/jpforest/report11.html"><span>久留里ドングリの森（千葉県君津市）</span></a></td>
</tr>
<tr><th scope="row">2014年10月18日</th>
<td><a class="Link" href="/csr/jpforest/report10.html"><span>久留里ドングリの森（千葉県君津市）</span></a></td>
</tr>
<tr><th scope="row">2014年6月14日</th>
<td><a class="Link" href="/csr/jpforest/report09.html"><span>久留里ドングリの森（千葉県君津市）</span></a></td>
</tr>
<tr><th scope="row">2012年6月2日</th>
<td><a class="Link" href="/csr/jpforest/report05.html"><span>久留里ドングリの森（千葉県君津市）</span></a></td>
</tr>
<tr><th scope="row">2009年11月21日</th>
<td><a class="Link" href="/csr/jpforest/report04.html"><span>久留里ドングリの森（千葉県君津市）</span></a></td>
</tr>
<tr><th scope="row">2009年6月6日</th>
<td><a class="Link" href="/csr/jpforest/report03.html"><span>久留里ドングリの森（千葉県君津市）</span></a></td>
</tr>
<tr><th scope="row">2009年2月21日</th>
<td><a class="Link" href="/csr/jpforest/report02.html"><span>久留里ドングリの森（千葉県君津市）</span></a></td>
</tr>
<tr><th scope="row">2008年5月24日</th>
<td><a class="Link" href="/csr/jpforest/report01.html"><span>久留里ドングリの森（千葉県君津市）</span></a></td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Border --></div>
