<div class="Section Col2 TextImage205 Image-Right">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report03_img_01.jpg" width="200" height="310" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>2009年（平成21年）6月6日 土曜日、千葉県君津市にある「JPの森（久留里ドングリの森）」で、グループ社員とその家族65名が協働団体であるNPO法人ドングリの会の皆さんと一緒に育林活動を行いました。</p>
<p>当日はあいにくの雨でしたが、参加者は、昨年から今年にかけて植樹した場所で「下刈り」という雑草・雑木の刈り掃いを中心に、黙々と作業に取り組みました。<br /> 終了時には、皆清々しい表情をしていました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Right --></div>
<h2 class="Header"><span>森づくりの作業風景</span></h2>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report03_img_02.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>小グループに分かれての活動。<br /> 今回初めての参加者は、ドングリの会のリーダーさんの指導のもと、唐鍬などを使って、背丈程度の広葉樹の苗木を植えました。<br /> 人にはやや厄介ですが、苗達には恵みの雨。<br /> みんな元気に根付いてくれることを願いました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report03_img_03.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>植樹経験者は、前回植樹済斜面で下草刈り。<br> 2月に見たときは、それ程でもなさそう、と思っていたアカメガシワやカラスノサンショウなどがあっというまに大きくなっていました。<br> 自分達で植えた木は、やっぱり愛着があり、その分、大鎌を握る手にも力が入ります。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report03_img_04.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>天候が崩れそうだったので、予定を繰上げ、昼食を延ばして作業を進行。<br> 作業後、斜面を振り返ると、いやー刈ったねー、スッキリしたー、とあちこちから声があがりました。植えるより刈る方が好きだ、と宣言する人も出て、それぞれの記憶に残る活動となりました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report03_img_05.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>少し遅めのお昼ごはん。<br> 手を洗って、風邪をひかないようにバスで着替えをすませ、お昼ごはんを食べました。<br> 今回は予定を繰り上げて作業したので、そのまま帰途に就きました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>