<div class="Section Col2 TextImage205 Image-Right">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report09_img_01.jpg" width="200" height="140" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>2014年（平成26年）6月14日 土曜日、千葉県君津市にある「JPの森（久留里ドングリの森）」で、グループ社員とその家族約120名が参加して、協働団体であるNPO法人ドングリの会の皆さんのご協力のもと、下草刈りを行いました。</p>
<p>当日は青空の下、強い日差しが照りつける中で、汗を流しながら活動を行いました。</p>
<p>今後も整備活動を行い、美しい森の成長に努めていきます。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Right --></div>
<h2 class="Header"><span>森づくりの作業風景</span></h2>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report09_img_02.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>ドングリの苗は山の斜面の広い範囲に植えられているため、参加者で手分けして作業にあたりました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report09_img_03.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>下草刈りをはじめる前にNPOの方から鎌などの道具の使い方を学びます。慣れない道具でけがをしないように注意を払って作業を行います。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report09_img_04.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>NPOの方から教えていただいた下草刈りの合言葉「ツルツル、トゲトゲ、ササにカヤ」を繰り返しながら、苗木と見分けがつき易い下草を、斜面の下の方から順に刈っていきます。暑い中での作業で汗だくになりました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report09_img_05.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>布まきをして保護している苗木も順調に育っています。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>