<div class="Section Col2 TextImage205 Image-Right">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report10_img_01.jpg" width="200" height="140" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>2014年（平成26年）10月18日 土曜日、千葉県君津市の「JPの森（久留里ドングリの森）」で、グループ社員とその家族約100 名が参加して、協働団体のNPO法人ドングリの会の皆さんのご協力の下、秋の活動を行いました。</p>
<p>今回の活動は、春の活動（6月14日 土曜日に実施）に引き続き、山の斜面に植樹した、こなら、くぬぎ、さくら、かえでなどの広葉樹の苗木の周りの下草刈り、また、苗木を鹿の食害から守るため、苗木の幹の布巻き作業を実施しました。当日は晴天に恵まれ、約2時間の作業でしたが怪我もなく作業を終了しました。</p>
<p>今後も、美しい森の成長に取り組んでいきます。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Right --></div>
<h2 class="Header"><span>森づくりの作業風景</span></h2>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report10_img_02.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>密集して生えている笹竹を刈りました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report10_img_03.jpg" width="204" height="153" /></div>
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report10_img_04.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>周りに笹竹などが無くなると、鹿に幹の皮を食べられ易くなるので、麻の布を巻いて鹿害対策をしました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>