<div class="Section Col2 TextImage205 Image-Right">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report04_img_01.jpg" width="200" height="300" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>2009年（平成21年）11月21日 土曜日、千葉県君津市にある「JPの森（久留里ドングリの森）」で、グループ社員とその家族50名が参加して、協同団体であるNPO法人ドングリの会のみなさんと育林活動を行いました。</p>
<p>今回は、「こどもエコクラブ」（※）のみなさんのご参加もいただき、社員の家族といっしょに植樹や｢葉っぱラッパーズ｣の活動体験プログラムに取り組みました。</p>
<p>※参考：「こどもエコクラブ」は、子どもの環境活動を支援する環境省の事業です。こどもエコクラブの皆さんには、2008年の洞爺湖サミットで郵便事業株式会社がお約束した植樹について、同年11月に「未来への約束」活動として実施する際、参加団体の一つとしてご活動いただきました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Right --></div>
<h2 class="Header"><span>森づくりの作業風景</span></h2>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report04_img_03.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>雨続きの合間にぽっかりと晴れた好日、朝から少し汗ばむ陽気の中で、大人達は下草刈・地ごしらえに取り組みました。<br> 子ども達は、去年の秋に植えた苗木の生長を体感したあと、1人3本の苗木を植え、午後は「葉っぱプログラム」に取り組みました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report04_img_05.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>大人達は、背丈より高い笹を刈り払い・地ごしらえをしました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report04_img_07.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>子ども達は、去年の秋に植えた苗木の生長を体感しながら、背丈ほどもある下草の生えた斜面をいっぱい登り、ヤマザクラ･クリ･コナラの苗木を植えました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report04_img_09.jpg" width="204" height="153" /></div>
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report04_img_10.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>午後、子どもたちは「葉っぱプログラム」に取り組み、葉っぱを集めて絵を作ったり、大きな木の幹周りや樹高を測ってCO<sub style="font-size: 80%;">2</sub>の吸着量を調べるなどの活動を行いました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>
<h2 class="Header"><span>関連情報</span></h2>
<div class="Section List-General">
<ul>
<li><a class="Link Popup" title="別ウィンドウで表示します" href="http://www.jeas.or.jp/happa/report/4.php"><span>葉っぱラッパーズ探偵団</span></a></li>
</ul>
<!-- end .Section.List-General --></div>