<div class="Section Col2 TextImage205 Image-Right">
<div class="Grid-Column Image">
<div class="Image"><img src="/sustainability/jpforest/images/report11_img_01.jpg" alt="" height="140" width="200" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>2015年（平成27年）5月30日（土曜日）、千葉県君津市の「JPの森（久留里ドングリの森）」で、協働団体のNPO法人ドングリの会の皆さんのご協力の下、100名を超えるグループ社員とその家族が、春の活動を行いました。</p>
<p>今回の活動は、機械による刈払作業、一般作業、ゆっくり作業の3グループに分かれ、山の斜面を現場まで移動、インストラクターの指導に従いながら、「こなら」や「くぬぎ」など広葉樹の若木の周りで下草刈りを実施しました。</p>
<p>当日は晴天に恵まれ、強い日差しの中、流れ出る大粒の汗を拭きながら取り組みました。約2時間弱の作業でしたが、熱中症や作業による怪我もなく、無事、作業を終了しました。</p>
<p>今後も、美しい森の成長に取り組んで参ります。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Right --></div>
<h2 class="Header"><span>森づくりの作業風景</span></h2>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img src="/sustainability/jpforest/images/report11_img_02.jpg" alt="" height="153" width="204" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>植樹した木が育つよう下草刈りをしました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>