<div class="Section Col2 TextImage205 Image-Right">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report05_img_01.jpg" width="200" height="140" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>2012年（平成24年）6月2日 土曜日、千葉県君津市にある「JPの森（久留里ドングリの森）」で、グループ社員とその家族149名が参加して、協働団体であるNPO法人ドングリの会の皆さんのご協力のもと、下草刈りを行いました。</p>
<p>当日は曇り空で湿気がやや多い中の活動で、額に汗を流しながらの取り組みとなりました。</p>
<p>今後も整備活動を行い、美しい森の成長に努めていきます。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Right --></div>
<h2 class="Header"><span>森づくりの作業風景</span></h2>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report05_img_02.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>大鎌や小鎌、草刈機を使用し、4年前から3年かけて植樹した苗木周辺の下草刈りを行いました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report05_img_03.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>下草刈りは、苗木よりも成長の早い草木、例えばアカメガシワなどを刈ります。これによって苗木に日光が十分にあたり、枯死が回避され成長が促進されます。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report05_img_04.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>リーダーさんから、シカの行動について説明を受けました。シカは身長よりやや高いところにある若芽を引っ張って食べてしまうため、成長中の木が途中で折れてしまうことがあるそうです。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>
<div class="Section Col2 TextImage205 Image-Left">
<div class="Grid-Column Image">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report05_img_05.jpg" width="204" height="153" /></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>伸び放題の草木を、汗を流しながら約2時間かけて整備しました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Left --></div>