<div class="Section Col2 TextImageBlock Image-Right List-General">
<div class="Grid-Column Image">
<div class="Image RWD"><img src="/sustainability/jpforest/images/report13_img_01.jpg" alt="" width="320" />
<p class="Caption">久留里ドングリの森の看板</p>
</div>
<div class="Image RWD"><img src="/sustainability/jpforest/images/report13_img_02.jpg" alt="" width="320" />
<p class="Caption">育林活動に参加した皆さん</p>
</div>
<!-- end .Grid-Column.Image --></div>

<div class="Grid-Column Text">
<div class="Box">
<p>2016年（平成28年）10月1日（土曜日）、千葉県君津市の「JPの森（久留里ドングリの森）」で、協働団体のNPO法人ドングリの会の皆さんのご協力の下、秋の活動を行ないました。<br>
当日は小雨模様の中、100名を超えるグループ社員とその家族が、約2時間の育林活動に参加しました。</p>
<p>今回の活動は、作業内容に応じて3グループに分かれて行ない、作業場所まで移動後、インストラクターの指導に従いながら、2008年（平成20年）に植樹を行なった、コナラ、クヌギなど広葉樹の苗木の周りに生えた笹竹などの下草刈りや、密生している木を切る作業を実施しました。</p>
<p>今後も、美しい森の成長に取り組んで参ります。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImage205.Image-Right --></div>

<h2 class="Header"><span>森づくりの作業風景</span></h2>
<div class="Section">
<p>苗木に光がいっぱい当たるよう、周りに生えた高さ1メートルほどの笹竹などを刈りました。</p>
<!-- end .Section --></div>

<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/jpforest/images/report13_img_03.jpg" width="320"