<div id="title_box">
  <div id="csr_main_img_index">
    <h1>索引</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="BoxArea Col2-Border1">
  <div class="box_left post1 Grid-Column sus_post" id="index01">
    <div class="Box">
      <dl>
        <dt><a href="/sustainability/index/esg/"><span>ESGナビゲーション</span></a></dt>
        <dd>
          <p class="sus_post_txt">日本郵政グループの持続的な成長と中長期的な企業価値の創出のため、ソーシャルカンパニーとして、E（環境）・S（社会）・G（ガバナンス）課題について、重要な課題であると認識し、その解決に向け取り組んでいます。</p>
          <ul>
            <li><a class="Link" href="/sustainability/index/esg/#sec01"><span>サステナビリティ・マネジメント（全般）</span></a></li>
            <li><a class="Link" href="/sustainability/index/esg/#sec02"><span>E: 環境（環境マネジメントシステム／気候変動／汚染と資源／水の使用／生物多様性）</span></a></li>
            <li><a class="Link" href="/sustainability/index/esg/#sec03"><span>S: 社会（人権／顧客に対する責任／サプライチェーン／雇用／労働基準／健康・安全／コミュニティ投資／責任投資）</span></a></li>
            <li><a class="Link" href="/sustainability/index/esg/#sec04"><span>G: ガバナンス（コーポレートガバナンス／コンプライアンス／リスク管理／情報セキュリティ／消費者課題／情報開示／投資家とのコミュニケーション）</span></a></li>
            <li><a class="Link" href="/sustainability/index/esg/#sec05"><span>メディアライブラリ</span></a></li>
          </ul>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_left-->
  <div class="box_right post1 Grid-Column sus_post" id="index02">
    <div class="Box">
      <dl>
        <dt><a href="/sustainability/index/gri/"><span>GRIスタンダード対照表</span></a></dt>
        <dd>
          <p class="sus_post_txt">GRI（Global Reporting Initiative）の「サステナビリティ・レポーティング・ガイドライン」（GRI Standards）と、日本郵政グループの取り組みの対照表です。</p>
          <ul>
            <li><a class="Link" href="/sustainability/index/gri/#general"><span>一般開示事項</span></a></li>
            <li><a class="Link" href="/sustainability/index/gri/#management"><span>マネジメント手法</span></a></li>
            <li><a class="Link" href="/sustainability/index/gri/#economy"><span>経済</span></a></li>
            <li><a class="Link" href="/sustainability/index/gri/#environment"><span>環境
            </span></a></li>
            <li><a class="Link" href="/sustainability/index/gri/#society"><span>社会</span></a></li>
          </ul>
        </dd>
      </dl>
    </div><!--Box-->
  </div>
</div>



<!-- <hr class="demarcation">
<div class="associated_info">
  <dl>
    <dt>グループ各社の取り組み</dt>
    <dd><a href="https://www.post.japanpost.jp/about/csr.html" class="Link Popup" target="_blank"><span>日本郵便株式会社のCSRの取り組み</span></a>-日本郵便</dd>
    <dd><a href="https://www.jp-bank.japanpost.jp/aboutus/csr/abt_csr_index.html" class="Link Popup"  target="_blank"><span>株式会社ゆうちょ銀行のESG・CSRの取り組み</span></a>-ゆうちょ銀行</dd>
    <dd><a href="https://www.jp-life.japanpost.jp/aboutus/csr/abt_csr_index.html" class="Link Popup"  target="_blank"><span>株式会社かんぽ生命保険のCSR活動</span></a>-かんぽ生命</dd>
  </dl>
</div> -->

<!-- <h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div> -->