<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>ダイバーシティマネジメント</h1>
  </div>
<!-- /#title_box3--></div>


<h2 class="Header">ダイバーシティ推進体制</h2>

<div class="Section">
  <p>日本郵政グループは、当社グループの持続的な成長には、従業員一人ひとりがその能力を十分に発揮し、活躍できる職場環境の整備が不可欠であると考えます。多様な価値観を持つ人材がいきいきと働ける職場環境づくりを目指して、ダイバーシティの推進を行う部署を設置し、従業員の意識改革・意識向上などに取り組み、積極的にダイバーシティを推進しています。</p>
<!-- end .Section --></div>

<h2 class="Header">ゆうちょ銀行の取り組み</h2>
<div class="Section">
  <p>ゆうちょ銀行は、ダイバーシティ・マネジメントの推進を強化するため、ダイバーシティ推進部を設置して取り組んでいます。<br>
また、さらなる定着を図るため、代表執行役社長をトップに全国13エリアの代表をメンバーとした「ゆうちょダイバーシティ・コミッティ」に加え、2019年度は本社内にもダイバーシティ・コミッティを設立し、ダイバーシティ・マネジメント推進に関する方針や施策を検討するほか、課題や実情に沿った提言を行っています。</p>
<!-- end .Section --></div>

<h3 class="Header">ダイバーシティ推進月間</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <figure class="Image Text-Center"><img src="/sustainability/human/images/yuucho.png" alt="ゆうちょパパ・ママ応援カード"></figure>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>社員個々の多様性を認識し、意識改革・行動変容につなげるため、ダイバーシティに集中的に取り組む「ダイバーシティ推進月間」を設けています。<br>2019年度には、前年度の取り組みで醸成した意識を行動に反映させるべく、情報誌を活用した勉強会やLGBTに関する啓発ツール（独自のAllyステッカー）、育児休業取得推進のための対話ツール（「ゆうちょパパ・ママ応援カード」）の配布を実施しました。</p>
    </div>
  </div>
<!-- end .Section --></div>

<h3 class="Header">ゆうちょダイバーシティ・フォーラム</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="ゆうちょダイバーシティ・フォーラム" src="/sustainability/human/images/dcf@2x.jpg" style="width: 300px;">
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>ダイバーシティについて認識を深め、明日の行動につなげるための全社的な意識醸成を目的として、「ゆうちょダイバーシティ・フォーラム」を開催しています。2019年度は、年齢、役職、性別を問わず全国各地の社員約140人が参加しました。また、参加者から経営陣に対して「ゆうちょダイバーシティ・コミッティ」の活動内容を報告したほか、グループワークを通じて、次年度のダイバーシティ・マネジメント推進に向けた行動計画を策定しました。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 id="womanmanage" class="Header">女性活躍の推進</h2>
<div class="Section">
  <p>日本郵政グループは、女性従業員が個性や能力を十分に発揮し活躍できるよう、また、働きやすく働きがいがあり働き続けられる職場環境整備など、さまざまな取り組みを実施しています。<br>
  日本郵政グループは、管理者に占める女性割合について以下のとおり目標を掲げ、女性の管理職昇進意欲の向上に向けた研修、女性のキャリア形成支援、長時間労働抑制に向けた働き方改革の実施など、取り組みを進めています。</p>
<!-- end .Section --></div>

<h3 class="Header">女性管理者ステップアップセミナー</h3>
<div class="Section">
  <p>多様化するお客さまのニーズにお応えするためには、社員のさらなる意識とおもてなしの力の向上が必要です。日本郵便は「人で選ばれる郵便局」を目指したプログラムを展開しています。</p>
<!-- end .Section --></div>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/stepup@2x.jpg" style="width: 300px;"></div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>その中でも、独自の意識醸成プログラムとして、自分と向き合い、今後のキャリアを考える機会を与える、女性管理者向けの体験型研修を実施しています。全国から集まった参加者は、女性活躍を体現するロールモデルとして、これまでのキャリアやセミナーから得た気付きを、後輩の女性社員に伝えます。<br>
      2019年度に開催した第6期では、全国から選抜された女性の管理者27名が参加しました。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>


<h2 id="handicapped" class="Header">障がい者支援の取り組み</h2>
<div class="Section">
<p>日本郵政グループは、障がいがある方に適切な就業機会を提供することが、企業としての社会的責務であるとの認識のもと、障がい者雇用の推進に積極的に取り組んでいます。2020年6月1日現在、グループ全体で約6,600名がさまざまな職場で活躍しています。</p>
<!-- end .Section --></div>

<h3 class="Header"><span>雇用推進の取り組み</span></h3>

<div class="Section">
<p>日本郵政グループは、障がいがある方の雇用をグループ一体となって促進するため、2007年に 「ゆうせいチャレンジド株式会社」を設立しました。 同社は2008年3月に日本郵政の特例子会社として認定され、現在、東京都、神奈川県、埼玉県に17支店を設置し、日本郵政グループ各社の郵便局、研修センター、貯金事務センター、逓信病院等（15か所）で清掃業務を、貯金事務センター（2か所）では印刷・製本等の業務を、ありがとうセンター（1か所）では、お客さまにお渡しするキャンディの袋詰め・発送等の業務を行っています。 また、各職場（支店）の様子や社員の趣味・特技などを掲載する社内報『ガンバル人』を2008年8月から発行するなど、一体感を高める取り組みにも力を入れています。</p>
<p> 東京都千代田区の日本郵政本社ビル内にある大手町支店では、シニアコーチ1名、コーチ4名のもと、チャレンジド社員18名（2020年6月現在）が、廊下や会議室などの清掃、コピー用紙の搬入などさまざまな仕事に、明るく、元気に、楽しく取り組んでいます。</p>
<!-- end .Section --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/human/images/index02_img_01.jpg" alt="" />
<p class="Caption">清掃作業の様子</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/human/images/index02_img_02.jpg" alt="" />
<p class="Caption">大手町支店チャレンジド社員集合写真</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header">ひとこと</h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/human/images/index02_img_03.jpg" style="width: 240px" />
<p class="Caption Text-Right">大手町支店 シニアコーチ 石川 敏雄 （左側）<br>大手町支店 チャレンジド社員 八部 修一（右側）   </p>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p><strong>大手町支店 チャレンジド社員 八部 修一</strong><br>2005年に日本郵便へ入社した後、ゆうせいチャレンジドへと移籍し、蔵前支店、霞が関支店を経て、2018年9月からここ大手町支店で働いています。主に掃除機を使って、ビルの1フロアを20～30分かけて掃除しています。掃除をするときは、掃除機を壁にぶつけて汚したり傷つけたりしないように、そしてゴミの取り残しがないように丁寧に掃除することを心がけています。休憩時間に同僚たちと話すことも楽しく、いつも仕事に来ることを楽しみにしています。</p>
<p><strong>大手町支店 シニアコーチ 石川 敏雄</strong><br>当社で初めて一般就労したという方も少なくありません。私は障がい者の皆さんと共に働くようになって10年になりますが、入社したばかりの頃はうまく仕事ができなくても、少しずつこなせるようになり、さまざまに成長していくチャレンジドの姿に、この仕事のやりがいを感じています。親御さんにとっても、お子さんが就労しているという事実は大きな励みとなっており、障がいのある方が継続して働ける場所をつくることの重要性を感じています。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section List-General">
  <ul>
    <li><a href="http://jp-challenged.japanpost.jp/" class="Link Popup" target="_blank"><span>ゆうせいチャレンジド株式会社</span></a></li>
  </ul>
<!-- end .Section --></div>

<h3 class="Header">その他、支援の取り組み</h3>

<div class="Section">
<p><strong>一般社団法人日本ゴールボール協会とパートナー契約を締結</strong></p>
<p>日本郵政は、一般社団法人日本ゴールボール協会（以下「日本ゴールボール協会」）と、オフィシャルパートナー契約（カテゴリー：郵便、宅配、物品輸送）を締結しました。<br>
日本郵政および日本郵便は、日本ゴールボール協会が運営する各種大会や体験会等への社員ボランティア派遣など、日本ゴールボール協会が行う活動を積極的にサポートすることを通じて、障がい者スポーツの普及・発展に貢献してまいります。</p>
<ul>
  <li><a class="Link Popup" href="https://www.japanpost.jp/pressrelease/jpn/2019/20190328146685.html"><span>一般社団法人日本ゴールボール協会とパートナー契約を締結</span></a></li>
</ul>
<!-- /.Section --></div>

<div class="Section">
<p><strong>GCグランドフェスティバルへの協賛</strong></p>
<p>日本郵政グループは、障がい者が主催する音楽イベント「GCグランドフェスティバル」への協賛を行っています。GCグランドフェスティバルは、日本初の障がい者が主催する、ロック、ポップスを中心とした著名アーティストによる音楽イベントです。</p>
<!-- end .Section --></div>
<div class="Section List-General">
  <ul>
    <li><a href="http://www.gcgf.jp/" class="Link Popup" target="_blank"><span>GCグランドフェスティバル</span></a></li>
  </ul>
<!-- end .Section --></div>

<div class="Section Col2 TextImageBlock Image-Right">
<p><strong>車いすテニスプレーヤー大谷桃子選手の支援</strong></p>
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="大谷桃子選手" src="/sustainability/human/images/index02_img_11.jpg" style="width: 300px;">
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>かんぽ生命保険は、2019年度から車いすテニスプレーヤーの大谷桃子選手を所属選手として支援していましたが、2020年度には正社員として迎え、その活躍をさらに支援しています。</p>
<p>今後も競技や選手を応援することで、車いすテニスを盛り上げるとともに、ダイバーシティ社会の形成に取り組んでいきます。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>




<h2 id="gender" class="Header">性の多様性への対応</h2>

<h3 class="Header">「PRIDE指標」で「ゴールド」受賞</h3>
<div class="Section Col2 TextImageBlock Image-Right List-General">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/pride2020.png" style="width: 240px"></div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <p>日本郵政グループは、LGBT等に関する取り組みが評価される2020年度「PRIDE指標」において、最高評価である「ゴールド」を受賞しました。日本郵政グループは、今後も、性的指向・性自認にとらわれず、一人ひとりが明るく活き活きと活躍できる社会の実現を目指し、LGBT等の理解促進・支援に取り組みます。<br>
    「PRIDE指標」は、LGBTに関するダイバーシティ・マネジメントの促進と定着を支援する任意団体「work with Pride」が、企業等の取り組みを評価する指標として2016年に創設した評価制度です。</p>
    <ul>
      <li><a href="https://workwithpride.jp/pride-i/" target="_blank" class="Link Popup"><span>「PRIDE指標」について（「work with Pride」のサイトを別ウインドウで開きます）</span></a></li>
    </ul>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right.List-General --></div>

<h3 class="Header">ダイバーシティセミナー</h3>
<div class="Section">
<p>日本郵政グループは、ダイバーシティについて認識を深め、明日の行動につなげるため、従業員を対象に意識醸成を目的としたセミナーを開催しています。<br>
2019年度は9月と11月に、多様な人材の活躍を目的とし「LGBTの理解」について、トランスジェンダー当事者の方を講師に招き、企業としての取り組みなどについて、講演いただきました。<br>
また、LGBTに対する理解と支援を表明する「ALLY（アライ）」のシールをセミナー参加者に配布しました。</p>
<!-- end .Section --></div>
<style>
  .Section.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 767px) {
    .Section.flex {
      flex-direction: column;
    }
  }
</style>
<div class="Section flex">
  <div class="Image Text-Center"><img src="/sustainability/human/images/index04_img_09.jpg" alt="セミナーの写真">
  <!-- /.Grid-Column Image --></div>
  <div class="Image Text-Center"><img src="/sustainability/human/images/index04_img_10.jpg" alt="セミナーの写真">
  <!-- /.Grid-Column Image --></div>
  <div class="Image Text-Center"><img src="/sustainability/human/images/index04_img_11.jpg" alt="ALLYのロゴ">
  <!-- /.Grid-Column Image --></div>
<!-- /.Section flex --></div>
<div class="Section">
  <p>2020年11月には、ダイバーシティを積極的に推進している方を講師として招き、「経営戦略としてのダイバーシティ」について、ダイバーシティの目的・ 成果、実現に向けたポイントなどを交えて講演いただきました。</p>
</div>
<div class="Section flex">
  <div class="Image Text-Center"><img src="/sustainability/human/images/seminar_01.jpg" alt=""></div>
  <div class="Image Text-Center"><img src="/sustainability/human/images/seminar_02.jpg" alt=""></div>
</div>


<h3 class="Header">「東京レインボープライド」パレードへの参加</h3>
<div class="Section Col2 TextImageBlock Image-Right List-General">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/index04_img_07.jpg" style="width: 360px;"></div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <p>日本郵政グループは、ダイバーシティ推進の取り組みの一環として、「東京レインボープライド2020」に協賛しています。</p>
    <p>※写真は、2019年4月28日に東京都内で行われた「東京レインボープライド2019」に協賛し、パレードに参加した際のものです。「東京レインボープライド2020」のパレードは、新型コロナウイルス感染症拡大防止のためWebでの開催（オンラインパレード）となりました。</p>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right.List-General --></div>

<h3 class="Header">LGBTフレンドリー</h3>
<div class="Section">
  <p>かんぽ生命保険は、LGBT（社会的に性的マイノリティと位置付けられている人々）に対する適切な理解・知識の共有と、その認識・受容に向けた取り組みを推進しています。性的指向、性自認に捉われず、多様な人材が働きやすい職場を作ることで社員一人ひとりが明るく生き生きと活躍できるよう、継続的に取り組んでいきます。</p>
<!-- end .Section --></div>


<hr class="demarcation">
<div class="associated_info">
  <dl>
    <dt>グループ各社の取り組み</dt>
    <dd><a href="http://www.post.japanpost.jp/about/diversity/" class="Link Popup" target="_blank"><span>ダイバーシティ推進の取り組み</span></a>-日本郵便</dd>
    <dd><a href="https://www.jp-bank.japanpost.jp/aboutus/csr/action/diversity/abt_csr_act_ds_index.html" class="Link Popup"  target="_blank"><span>ダイバーシティ・マネジメントの推進</span></a>-ゆうちょ銀行</dd>
    <dd><a href="https://www.jp-life.japanpost.jp/aboutus/csr/diversity/activities.html" class="Link Popup"  target="_blank"><span>ダイバーシティの推進</span></a>-かんぽ生命</dd>
  </dl>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/human/"><span>人と共に</span></a></li>
  </ul>
<!-- end .Section --></div>
