<div id="title_box">
  <div id="csr_main_img_human">
    <h1>人と共に</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/human/images/title_box_sdgs_05.png" alt="5：ジェンダー平等を実現しよう">
    <img src="/sustainability/human/images/title_box_sdgs_08.png" alt="8：働きがいも経済成長も">
    <img src="/sustainability/human/images/title_box_sdgs_10.png" alt="13：気候変動に具体的な対策を">
  </p>
</div>
<!-- /#title_box-->

<div class="Section">
  <h4><strong>すべての人々が、いきいきと働き続けられる社会の実現のために。</strong></h4>
  <p>私たちは、グループの事業活動に関わるすべての人々の人権を尊重するとともに、事業活動を担う従業員一人ひとりが能力を発揮できる職場づくりに取り組み、社会全体の多様で包摂的な就労環境の実現に貢献します。
  </p>
<!-- end .Section --></div>

<div class="Section Col">
  <Grid-Column class="Image">
    <Image><img src="/sustainability/human/images/human_12.png" alt="2025年に目指す姿"></Image>
  </Grid-Column>
</div>

<div class="BoxArea Col2-Border1">
  <div class="box_left post1 Grid-Column sus_post" id="human01">
    <div class="Box">
      <dl>
        <dt>
          <a href="/sustainability/human/workstyle/">
            <span>働き方改革</span>
            <div class="priority">CSR重点課題</div>
          </a>
        </dt>
        <dd>
          <span>誰もがいきいきと尊厳を持って働ける企業グループであるために</span>
          <ul>
            <li><a class="Link" href="/sustainability/human/workstyle/#diversity"><span>ダイバーシティの推進</span></a></li>
            <li><a class="Link" href="/sustainability/human/workstyle/#work_life"><span>ワーク・ライフ・バランスの推進</span></a></li>
            <li><a class="Link" href="/sustainability/human/workstyle/others.html"><span>その他の取り組み</span></a></li>
          </ul>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_left-->
  <div class="box_right post1 Grid-Column sus_post" id="human02">
    <div class="Box">
      <dl>
        <dt>
          <a href="/sustainability/human/human_resources/">
            <span>人材の育成</span>
            <div class="priority">CSR重点課題</div>
          </a>
        </dt>
        <dd>
          <span>従業員一人ひとりがその可能性を十分に発揮するために</span>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_right-->
</div>

<div class="BoxArea Col2-Border1 mb20">
  <div class="box_left sus_post1 Grid-Column" id="human03">
    <div class="Box2">
      <dl>
        <dt><a href="/sustainability/human/labor/"><span>人権尊重・労働</span></a></dt>
        <dd>
          <span>日本郵政グループの人権・労働に関する取り組みを掲載しています。</span>
          <ul>
            <li><a class="Link" href="/sustainability/human/labor/#human_rights"><span>人権尊重に関する取り組み</span></a></li>
            <li><a class="Link" href="/sustainability/human/labor/#labor"><span>労働に関する取り組み</span></a></li>
          </ul>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_right-->
  <div class="box_right sus_post1 Grid-Column" id="human04">
    <div class="Box2">
      <dl>
        <dt><a href="/corporate/values/healthmanagement.html"><span>健康経営</span></a></dt>
        <dd>
          <span>日本郵政グループの健康経営に関する取り組みを掲載しています。</span>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_right-->
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>