<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>育児・介護・病気と仕事との両立支援</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/human/images/index03_img_01.jpg" style="width: 220px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵政グループは、多くの従業員が経験するであろう育児・介護および病気に対して、「働き続けられる企業」を目指して両立支援に取り組んでいます。法定を上回る休業制度や保育料等の補助制度などを充実させ、制度を利用しやすい職場風土づくりにも力を入れており、男女を問わず多くの従業員が育児・介護および病気と仕事の両立を実現しています。</p>
<p>具体的には、育児休業の取得期間を最長3年、育児部分休業を最長9年、介護休業を最長1年としているほか、2018年10月から、育児休業の一部有給化、不妊治療にかかる休暇、がん治療で退職した従業員を再び採用する制度を新たに導入しました。</p>
<p>なお、ゆうちょ銀行およびかんぽ生命保険は、「子育てサポート企業」として、厚生労働省より「プラチナくるみん認定」を受けています。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>


<h2 class="Header">仕事と育児の両立セミナー</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/sprt_bal_img_childcare01.jpg" style="width: 300px" /></div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵政グループは、仕事と育児の両立支援施策として、「子育てと仕事の両立を考えるセミナーwithパートナー」と題し、育児休業中の社員等を対象に、パートナーやお子さんを同伴して参加できるセミナーを開催しています。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section">
    <p>このセミナーでは、育児期の働き方やキャリア形成などについて、外部の専門講師による「仕事と育児のマイベストを探そう！」と題した講演のほか、参加者同士でグループワークを行い、仕事と育児への向き合い方、仕事と育児を両立させるコツや喜び・不安などについて、お互いの考えと気づきを共有します。セミナーの最後には、社内の育児関連支援制度の紹介や福利厚生サービスに関する利用案内も行っています。</p>
    <p>また、お子さん同伴で参加される方には、セミナーに集中して参加いただけるよう、事業所内保育所である「ゆうてまち保育園」での託児サービスを用意し、参加環境も整えています。</p>
<!-- /.Section --></div>

<div class="Section Col-Border">
    <div class="Grid-Column BG-Gray">
        <h3 class="Header"><span>参加者の声</span></h3>
        <p>「子育てや自身のキャリアなど同じテーマでも自分とは違う考え方の意見を聞くことができて刺激になりました。家に戻ってパートナーといろいろ話し合ってみようと思います。」</p>
        <div class="SubSection Col2 TextImageBlock Image-Right">
          <div class="Grid-Column Image">
            <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/sprt_bal_img_childcare02.jpg" style="width: 240px" /></div>
          <!-- end .Grid-Column.Image --></div>
          <div class="Grid-Column Text">
            <div class="Box">
              <p>「ゆうてまち保育園の様子もわかってよかったです。ぜひ続けてほしいです。夫婦だけで話せる時間はなかなかないので、無料の託児サービスがあって大変助かりました。」</p>
            <!-- end .Box --></div>
          <!-- end .Grid-Column.Text --></div>
        <!-- end .SubSection.Col2.TextImageBlock.Image-Right --></div>
    <!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border --></div>


<h2 class="Header">仕事と介護の両立セミナー</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/index03_img_05.jpg" style="width: 240px" /></div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵政グループは、仕事と介護の両立支援施策として、「仕事と介護の両立セミナー」と題し、全国14か所でセミナーを開催しています。<br>このセミナーでは、従業員が親族の介護に直面した際に、仕事と介護を両立するために利用できる行政等の各種サービスなどについて外部の専門講師から講演いただくほか、専門家による個別相談会や社内の介護関連支援制度の紹介も行っています。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 class="Header">「イクボス企業同盟」への加盟</h2>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/human/images/index03_img_02.jpg" style="width: 240px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵政グループは、特定非営利活動法人ファザーリング・ジャパンが運営する「イクボス企業同盟」に加盟し、「働く従業員全員が元気であること、幸せであることが大事である」との考えのもと、部下のワーク・ライフ・バランスを考え、仕事も成果を出し、自身も仕事と私生活を楽しむことができる魅力あるイクボスの育成に努めています。</p>
<p>※イクボスとは、部下や同僚等の育児や介護・ワークライフバランス等に配慮・理解のある上司のことです。（厚生労働省Webサイトより）</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 class="Header">「男性育休100%宣言」への賛同</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <p>日本郵政グループは、株式会社ワーク・ライフバランスが推進する「男性育休100%宣言」に賛同し、男性従業員が育児休業を100%取得できる環境づくりをめざして、仕事と育児の両立支援の取り組みを推進しています。</p>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 class="Header">「輝く女性の活躍を加速する男性リーダーの会」行動宣言への賛同</h2>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/human/images/index03_img_03.jpg" style="width: 200px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵政グループは、内閣府男女共同参画局が支援する「輝く女性の活躍を加速する男性リーダーの会」行動宣言に賛同し、行動宣言の3項目「自ら行動し、発信する」「現状を打破する」「ネットワーキングを進める」に沿って、輝く女性の活躍を積極的に推進しています。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 class="Header">管理者の意識改革</h2>
<div class="Section">
  <p>近年の社会情勢の変化に伴い、社員の働き方も多様化しています。育児や介護といった事情を抱えた社員が活躍するためには、職場の上司である管理者の理解が欠かせません。日本郵便は管理者のマネジメントスキルの向上を目的としたカリキュラムを研修に取り入れるなど、管理者の意識改革に取り組んでいます。</p>
<!-- end .Section --></div>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/index04_img_02.jpg" style="width: 300px">
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵便は2017年1月にNPO法人ファザーリング・ジャパン運営のイクボス企業同盟に加盟し、また、「イクボス」への理解を深める社内研修を各地で行っています。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 class="Header">育児休業復帰者を対象とした研修</h2>
<div class="Section">
    <p>日本郵政グループでは、社員の育児や介護といった生活事情と仕事の両立を支援するため、全国各地でさまざまな取り組みを行っています。取り組みを通じ、両立のためのヒントや不安等を共有することで、社員が自身のキャリアを考えるきっかけにもつながります。</p>
<!-- end .Section --></div>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/panel@2x.jpg" style="width: 300px;"></div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵便東京支社では、2018年度に育児休業から復帰した社員を対象とした、パネルディスカッション形式の研修を2019年10月、11月の2回に分けて開催しました。延べ110人の社員が参加し、参加者は、以前に育児休業を経験した社員とともに、仕事と家庭の両立にあたり不安に思っていることや今後のキャリアに関する情報交換を行いました。また、研修の後半では、家族の笑顔＆安心・安全のために「頼る」ことをキーワードに「TEAM我が家シートづくり（周囲の頼れるコミュニティを書き出し、可視化）」を行いました。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section Col-Border">
    <div class="Grid-Column BG-Gray">
        <h3 class="Header"><span>参加者の声</span></h3>
        <p>今後の自分について改めて考える時間を持つことができたとても良い研修でした。<br>
          制度の存在や活用も必要ですが、一人ひとりの考え方で働き方は変わってくるので、子育て中の社員だけでなく、管理者や今後子育てを経験していく若い社員たちにもぜひ受けてほしいです。<br>
          何より、同じ境遇の社員とお話しすることができたのがとても有意義でした。</p>
        <p class="Caption Text-Right">稲城駅前郵便局　三谷 美希</p>
        <!-- end .Grid-Column.BG-Gray -->
    </div>
    <!-- end .Section.Col-Border -->
</div>

<!--<h2 class="Header">差別禁止・人権尊重に関する取り組み</h2>
<div class="Section">
<p>日本郵政グループは、持続可能な社会の実現に向けて、グループの事業活動に関わる全ての人々の人権尊重が不可欠であると認識しており、日本郵政グループのグループ行動憲章では、多様なステークホルダーとの対話を重視し、持続的な共生を目指すとともに、人権を尊重し、安全で働きやすい職場環境を確保することを掲げています。</p>
<p>2019年4月に、国連「ビジネスと人権に関する指導原則」などに基づき、「日本郵政グループ人権方針」を制定し、グループ全体で人権尊重の取り組みを推進しております。<br>
その実践の一環として、人権啓発およびハラスメントに関する実例を扱った管理者研修や冊子の配布等を行っているほか、社内外にハラスメントに関する相談窓口を設置し、相談は匿名でも受け付けるなど、相談者のプライバシーを守って対応しております。</p>-->
<!-- end .Section --><!--</div>-->
<!--<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/human_rights.html"><span>日本郵政グループ人権方針</span></a></li>
  </ul>-->
<!-- end .Section --><!--</div>-->

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/human/"><span>人と共に</span></a></li>
  </ul>
<!-- end .Section --></div>