@charset "utf-8";
/* CSS Document */

@media screen and (max-width:767px) { 

*{
line-height: 1.2em;
}
img{
line-height: 0;
}
.spnone{
display:none !important;
}
body{
height: 100%;
width: 100%;
-webkit-text-size-adjust: 100%;
}
.w_100 {
width:100%;
}

#CsrTop .ContentsArea {
	width: 100%;
}

#title_box div#csr_main_img_vision {
  box-sizing: border-box;
  width: 100%;
  height: 170px;
}

/* =========================================================== */
/* text styles
/* =========================================================== */

/* Heading
-------------------------------------------------------------- */
h2{
font-size: 110%;
padding: 0 15px;
margin-bottom: 15px;
}
.warn h2{
font-size: 100%;
padding: 10px;
}
.mainMenuList h3{
min-height: auto;
padding: 2px 0 2px 12px;
font-size: 125%;
}
h3{
min-height: auto;
padding: 2px 0 2px 12px;
font-size: 125%;
}
h3 .sub{
margin-bottom: 2px;
}
.newstabs h3{
padding: 0;
}

/* a
-------------------------------------------------------------- */
a {
-webkit-transition: none;
transition: none;
}
.slick-dots li.slick-active button:focus:after{
position: absolute;
top: 0;
left: 0;
width: 10px;
height: 10px;
border-radius: 7px;
color: #000;
opacity: 1;
content: '';
text-align: center;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

/* =========================================================== */
/* mainMenu
/* =========================================================== */
.mainMenu{
padding: 0;
padding-top: 30px;
}
.mainMenuList > li{
margin-bottom: 20px;
background: transparent;
}
.mainMenuList > li:after {
-webkit-transform: none;
transform: none;
}
.mainMenuList > li:hover:after{
-webkit-transform: none;
transform: none;
opacity: 1;
}
.mainMenuList > li > a {
padding: 15px;
}
.mainMenuList .topmessage:after{
content:"";
background: url(/sustainability/images/menu_topmessage_sp.jpg) no-repeat;
}
.mainMenuList .eastjapan:after{
content:"";
background: url(/sustainability/images/menu_eastjapan_sp.jpg) no-repeat;
}
.mainMenuList .esgdata:after{
content:"";
background: url(/sustainability/images/menu_esgdata_sp.jpg) no-repeat;
}
.mainMenuList .sus_management:after{
content:"";
background: url(/sustainability/images/menu_susman_sp.jpg) no-repeat;
}
.mainMenuList .env_management:after{
content:"";
background: url(/sustainability/images/menu_envman_sp.jpg) no-repeat;
}

.mainMenuList .society:after{
content:"";
background: url(/sustainability/images/menu_society_sp.jpg) no-repeat;
}
.mainMenuList .environment:after{
content:"";
background: url(/sustainability/images/menu_environment_sp.jpg) no-repeat;
}
.mainMenuList .human:after{
content:"";
background: url(/sustainability/images/menu_human_sp.jpg) no-repeat;
}
.mainMenuList .library:after{
content:"";
background: url(/sustainability/images/menu_library_sp.jpg) no-repeat;
}
.mainMenuList .index:after{
content:"";
background: url(/sustainability/images/menu_index_sp.jpg) no-repeat;
}

.mainMenuList .topmessage > a,
.mainMenuList .eastjapan > a,
.mainMenuList .esgdata > a,
.mainMenuList .sus_management > a,
.mainMenuList .env_management > a,
.mainMenuList .society > a,
.mainMenuList .environment > a,
.mainMenuList .human > a,
.mainMenuList .library > a,
.mainMenuList .index > a,
.mainMenuList .topmessage:after,
.mainMenuList .eastjapan:after,
.mainMenuList .esgdata:after,
.mainMenuList .sus_management:after,
.mainMenuList .env_management:after,
.mainMenuList .society:after,
.mainMenuList .environment:after,
.mainMenuList .human:after,
.mainMenuList .library:after,
.mainMenuList .index:after{
width: 100vw;
height: 46vw;
background-size: cover;
background-position: right center;
}
.mainMenuList > li > a:hover:after{
-webkit-transform: none;
transform: none;
opacity: 0.9;
}
.mainMenuList .menu_white_box,
.mainMenuList .box_link,
.mainMenuList .box_link_red{
min-height: auto;
height: auto;
padding: 5px 10px;
position: relative;
background: white;
}
.mainMenuList .ir .box_link {
margin-bottom: 0;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
}
.menu_white_box li,
.box_link li,
.box_link_red li{
display: inline-block;
}
.menu_white_box li a,
.box_link li a,
.box_link_red li a{
font-size: 0.85rem;
margin-right: 15px;
display: inline-block;
padding: 0.4em 0 0.4em 12px;
}
.menu_white_box a,
.box_link a,
.box_link_red a{
padding-left: 12px;
position: relative;
line-height: 120%;
}
.menu_white_box a:before,
.box_link a:before,
.box_link_red a:before{
position: absolute;
content: "";
background: url(../../images/ico_arrow_red_l.png) no-repeat;
background-size: contain;
width: 0.5em;
height: 0.8em;
display: inline-block;
left: 0;
top: 0.6em;
margin: auto;
}

#CsrBnr {
	padding: 0 10px;
}
#CsrBnr ul {
display: flex;
flex-wrap: wrap;
	justify-content: space-between;
}

#CsrBnr li {
width: calc((100% - 15px) / 2);
}
