<div id="title_box">
  <p class="explanation2 title_priority">CSR重点課題</p>
  <div id="csr_main_img_workstyle">
    <h1>働き方改革</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/human/images/title_box_sdgs_05.png" alt="5：ジェンダー平等を実現しよう">
    <img src="/sustainability/human/images/title_box_sdgs_08.png" alt="8：働きがいも経済成長も">
    <img src="/sustainability/human/images/title_box_sdgs_10.png" alt="13：気候変動に具体的な対策を">
  </p>
</div>
<!-- /#title_box-->

<div class="Section">
  <p><strong>誰もがいきいきと尊厳を持って働ける企業グループであるために</strong><br />性別や年齢、障がいの有無や国籍にかかわらず、誰もが尊厳を持って働ける労働環境の整備が必要とされています。誰もがいきいきと働けるよう、近年、仕事と生活の調和（ワーク・ライフ・バランス）を実現する多様な働き方の推進や、長時間労働の解消といった「働き方改革」が進められています。
  </p>
<!-- end .Section --></div>

<h2 class="Header" id="diversity">ダイバーシティの推進</h2>
<div class="Section">
  <p>日本郵政グループでは、40万人以上の社員がさまざまな職場で働いています。グループ社員の経験・技能・属性を反映した多様な視点や価値観を尊重し、社員一人ひとりがいきいきと能力を十分に発揮し活躍できることが、グループの持続的な成長の源であると考えており、ダイバーシティの推進に積極的に取り組んでいます。<br />あわせて、女性をはじめ、外国人、中途採用者等の多様な人材が最大限に能力を発揮できるよう、人材育成策をとっていくとともに、働きやすい社内環境の整備に取り組んでいます。</p>
</div>

<h3 class="Header">女性の活躍推進</h3>
<div class="Section Col2 TextImageBlock Image-Right List-General">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="女性の活躍推進" src="/sustainability/human/images/human_01.png" style="width: 300px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text Text List-General">
<div class="Box">
<p>郵便局に来局されるお客さまの6割が女性のお客さまです。時代と共に多様化する女性ニーズに対応するべく、新たな風を吹き込む女性社員の活躍が、お客さまへのサービス向上につながると考えています。日本郵政グループは、トータル生活サポート企業としての企業価値の一層の向上を目指して、女性社員を含む全社員が能力を十分に発揮し活躍できる環境づくりを推進しています。グループ各社では、管理者に占める女性割合について目標を掲げ、女性の意識向上に向けた研修、女性のキャリア形成支援、長時間労働抑制に向けた働き方改革の実施など、取り組みを進めています。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<ul>
  <li><a class="Link" href="/sustainability/library/data/social/#women"><span>ESGデータ集</span></a></li>
</ul>
<p>なお、グループ各社とも、厚生労働省の「女性の活躍推進企業データベース」において、女性活躍推進法に基づく「情報公開」「一般事業主行動計画の公表」を行っています。</p>
<div class="Grid-Column">
  <figure class="Image"><a href="https://positive-ryouritsu.mhlw.go.jp/positivedb/" target="_blank"><img src="/sustainability/human/images/db_banner.png" alt="女性の活躍推進企業データベース"></a></figure>
</div>
<p><a href="https://positive-ryouritsu.mhlw.go.jp/positivedb/" class="Link Popup"><span>「女性の活躍推進企業データベース」Webサイト（厚生労働省）</span></a></p>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h4 class="ml10"><strong>女性管理者ステップアップセミナー</strong></h4>
<div class="Section">
  <p>多様化するお客さまのニーズにお応えするためには、社員のさらなる意識とおもてなしの力の向上が必要です。日本郵便は「人で選ばれる郵便局」を目指したプログラムを展開しています。</p>
<!-- end .Section --></div>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/stepup@2x.jpg" style="width: 300px;"></div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>その中でも、独自の意識醸成プログラムとして、自分と向き合い、今後のキャリアを考える機会を与える、女性管理者向けの体験型研修を実施しています。全国から集まった参加者は、女性活躍を体現するロールモデルとして、これまでのキャリアやセミナーから得た気付きを、後輩の女性社員に伝えます。<br>
      2019年度に開催した第6期では、全国から選抜された女性の管理者27名が参加しました。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header">中途採用・外国人の採用・登用</h3>
<div class="Section List-General">
  <p> 中途採用者については、これまでも専門分野を中心として採用および管理者登用に取り組んできており、今後、さらに積極的な採用・登用に取り組んでまいります。<br />外国人については、現在の事業内容上、採用を拡大する方向性はないものの、今後は事業展開の必要に応じて、外国人の採用および管理者への登用を図ってまいります。<br />なお、外国人を採用・管理職として登用する上で国籍等による差異は設けておりません。</p>

  <ul>
    <li><a href="/sustainability/library/data/social/#employment" class="Link"><span>中途採用者数（実績）</span></a></li>
  </ul>
</div>

<h3 class="Header">高齢者の就業促進</h3>
<div class="Section">
  <p>日本郵政グループでは、少子高齢化により労働力人口が減少する中で、高齢社員の能力および経験のさらなる活用のため、社員がモチベーションを維持しつつ働ける環境整備が必要であるとの認識から、2021年度より定年年齢を65歳へ引き上げました。さらに今後は、70歳までの就業機会の確保についても具体的検討を進めます。</p>
<!-- /.Section --></div>

<h3 class="Header">障がい者雇用の推進</h3>
<div class="Section">
  <p>障がいのある方に適切な就業機会を提供することが企業としての社会的責務であるとの認識のもと、①障がい者の積極的採用、②雇用定着のための職場環境の整備・育成等、③特例子会社の設立・積極的活用等を行っており、当グループの障がい者雇用率2.5％（2021年6月現在2.35％）を当面の目標として、取り組みを進めます。</p>

  <p><strong>雇用推進の取り組み</strong></p>
  <p>日本郵政グループは、障がいがある方の雇用をグループ一体となって促進するため、2007年に 「ゆうせいチャレンジド株式会社」を設立しました。 同社は2008年3月に日本郵政の特例子会社として認定され、現在、東京都、神奈川県、埼玉県に17支店を設置し、当グループ各社の郵便局、研修センター、貯金事務センター、逓信病院等（15か所）で清掃業務を、貯金事務センター（2か所）では印刷・製本等の業務を、ありがとうセンター（1か所）では、お客さまにお渡しするキャンディの袋詰め・発送等の業務を行っています。 また、各職場（支店）の様子や社員の趣味・特技などを掲載する社内報『ガンバル人』を2008年8月から発行するなど、一体感を高める取り組みにも力を入れています。</p>
  <p>東京都千代田区の日本郵政本社ビル内にある大手町支店では、シニアコーチ1名、コーチ4名のもと、チャレンジド社員18名（2021年6月現在）が、廊下や会議室などの清掃、コピー用紙の搬入などさまざまな仕事に、明るく、元気に、楽しく取り組んでいます。</p>
</div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image Text-Center"><img src="/sustainability/human/images/index02_img_01.jpg" alt="清掃作業の様子" style="max-width: 400px;">
<p class="Caption">清掃作業の様子</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image Text-Center"><img src="/sustainability/human/images/index02_img_02.jpg" alt="大手町支店チャレンジド社員集合写真" style="max-width: 400px;">
<p class="Caption">大手町支店チャレンジド社員集合写真</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section List-General">
  <ul>
    <li><a href="http://jp-challenged.japanpost.jp/" class="Link Popup"><span>ゆうせいチャレンジド株式会社</span></a></li>
  </ul>
  <p><label for="human_workstyle-other--pop-up" class="human_workstyle-other--open"><span type="button" class="btn--others-init"><span>ゆうせいチャレンジド株式会社社員のひとこと</span></span></label></p>
<!-- end .Section --></div>

<input type="checkbox" id="human_workstyle-other--pop-up">
<div class="human_workstyle-other--overlay">
  <div class="human_workstyle-other--window">
    <div class="human_workstyle-other--window-inner">
      <h3 class="Header">ゆうせいチャレンジド株式会社社員のひとこと</h3>
      <div class="Section Col2 TextImageBlock Image-Right">
        <div class="Grid-Column Image">
        <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/index02_img_03.jpg" style="width: 240px">
        <p class="Caption Text-Center">大手町支店 シニアコーチ 石川 敏雄 （左側）<br>大手町支店 チャレンジド社員 八部 修一（右側）   </p>
        </div>
        <!-- end .Grid-Column.Image --></div>
        <div class="Grid-Column Text">
        <div class="Box">
        <p><strong class=" typesquare_option typesquare_option">大手町支店 チャレンジド社員 八部 修一</strong><br>2005年に日本郵便へ入社した後、ゆうせいチャレンジドへと移籍し、蔵前支店、霞が関支店を経て、2018年9月からここ大手町支店で働いています。主に掃除機を使って、ビルの1フロアを20～30分かけて掃除しています。掃除をするときは、掃除機を壁にぶつけて汚したり傷つけたりしないように、そしてゴミの取り残しがないように丁寧に掃除することを心がけています。休憩時間に同僚たちと話すことも楽しく、いつも仕事に来ることを楽しみにしています。</p>
        <p><strong class=" typesquare_option typesquare_option">大手町支店 シニアコーチ 石川 敏雄</strong><br>当社で初めて一般就労したという方も少なくありません。私は障がい者の皆さんと共に働くようになって10年になりますが、入社したばかりの頃はうまく仕事ができなくても、少しずつこなせるようになり、さまざまに成長していくチャレンジドの姿に、この仕事のやりがいを感じています。親御さんにとっても、お子さんが就労しているという事実は大きな励みとなっており、障がいのある方が継続して働ける場所をつくることの重要性を感じています。</p>
        <!-- end .Box --></div>
        <!-- end .Grid-Column.Text --></div>
        <!-- end .Section.Col2.TextImageBlock.Image-Right --></div>
      <div class="human_workstyle-other--close-wrap"><label class="human_workstyle-other--close" for="human_workstyle-other--pop-up">×　閉じる</label></div>
    </div>
  </div>
</div>

<h3 class="Header">性の多様性への対応</h3>
<div class="Section Col2 TextImageBlock Image-Right List-General">
  <p>日本郵政グループでは、「コーポレートガバナンスに関する基本方針」において、ダイバーシティ・マネジメントの推進を掲げ、性的少数者の社員が働きやすい職場環境整備に取り組んでいます。具体的には、人権やハラスメントに関する相談窓口における相談受付、人権やハラスメントに関する研修等でのLGBTに関する周知・啓発やLGBT当事者による啓発セミナー等の実施、「日本郵政グループ人権方針」の制定、同性パートナーへの特別休暇（社員の結婚および忌引）の適用、性別や氏名について戸籍変更した場合の社内手続等整備、ALLY（アライ）ステッカーの発行、東京レインボープライドへの協賛・参加等を実施しています。</p>

  <p><strong>「PRIDE指標」で「ゴールド」受賞</strong></p>
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/pride2020.png" style="width: 240px"></div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <p>日本郵政グループは、LGBT（社会的に性的マイノリティと位置付けられている人々）等に関する取り組みが評価される2020年度「PRIDE指標」において、最高評価である「ゴールド」を受賞しました。当グループは、今後も、性的指向・性自認にとらわれず、一人ひとりが明るくいきいきと活躍できる社会の実現を目指し、LGBT等の理解促進・支援に取り組みます。<br>
    「PRIDE指標」は、LGBTに関するダイバーシティ・マネジメントの促進と定着を支援する任意団体「work with Pride」が、企業等の取り組みを評価する指標として2016年に創設した評価制度です。</p>
    <ul>
      <li><a href="https://workwithpride.jp/pride-i/" class="Link Popup"><span>「PRIDE指標」について（「work with Pride」のサイトを別ウインドウで開きます）</span></a></li>
    </ul>
  <!-- end .Grid-Column.Text --></div>
</div>

<h2 class="Header" id="work_life">ワーク・ライフ・バランスの推進</h2>
<div class="Section">
  <p>日本郵政グループは、従業員がそれぞれのライフステージに応じて多様な働き方の選択ができるよう、制度整備や職場風土づくりに取り組んでいます。</p>
</div>

<h3 class="Header">次世代育成支援対策推進法（次世代法）に基づく一般事業主行動計画の策定</h3>
<div class="Section">
  <p>日本郵政グループでは、次世代法に基づく一般事業主行動計画を策定し、仕事と生活の両立に取り組んでおり、グループ各社とも、厚生労働省の「両立支援のひろば」において、「一般事業主行動計画の公表」を行っています。</p>
  <div class="Grid-Column">
    <figure class="Image"><a href="https://ryouritsu.mhlw.go.jp/" target="_blank"><img src="/sustainability/human/images/ryoritsu_120x50.jpg" alt="両立支援のひろば"></a></figure>
  </div>
  <p><a href="https://ryouritsu.mhlw.go.jp/" class="Link Popup"><span>「両立支援のひろば」Webサイト（厚生労働省）</span></a></p>
</div>

<h3 class="Header">育児・介護・病気療養との両立支援</h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/human/images/human_02.png" style="max-width: 100%;"></div>
<div class="Image Text-Center"><img alt="" src="/sustainability/human/images/index03_img_01.jpg" style="width: 220px"></div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵政グループは、多くの従業員が経験するであろう育児・介護および病気に対して、「働き続けられる企業」を目指して両立支援に取り組んでいます。法定を上回る休業制度や保育料等の補助制度などを充実させ、制度を利用しやすい職場風土づくりにも力を入れており、男女を問わず多くの従業員が育児・介護および病気と仕事の両立を実現しています。</p>
<p>具体的には、育児休業の取得期間を最長3年、育児部分休業を最長9年、介護休業を最長1年としているほか、2018年10月から、育児休業の一部有給化、不妊治療にかかる休暇、がん治療で退職した従業員を再び採用する制度を新たに導入しました。</p>
<p>なお、ゆうちょ銀行およびかんぽ生命保険は、「子育てサポート企業」として、厚生労働省より「プラチナくるみん認定」を受けています。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h4 class="Header ml10 mb10"><strong>仕事と育児の両立支援に関する施策等</strong></h4>
<div class="Section Col">
  <div class="Grid-Column">
    <div class="Image Text-Center">
      <img src="/sustainability/human/images/human_04.png" alt="仕事と育児の両立支援に関する施策等">
    </div>
  </div>
</div>

<h4 class="Header ml10 mb10"><strong>仕事と介護の両立支援に関する施策等</strong></h4>
<div class="Section Col">
  <div class="Grid-Column">
    <div class="Image Text-Center">
      <img src="/sustainability/human/images/human_05.png" alt="仕事と介護の両立支援に関する施策等">
    </div>
  </div>
</div>

<h3 class="Header">時間外労働削減・テレワーク推進</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img src="/sustainability/human/images/human_13.jpg" alt="テレワーク風景"></div>
  </div>
  <div class="Grid-Column">
    <p>業務効率化（RPA<sup>※</sup>・AI等の活用、業務内容の見直し等）による時間外労働の削減および勤務間インターバル制度の導入に取り組みます。テレワークについては、業務の生産性向上や多様な働き方の実現を念頭に従来推進してきたところ、新型コロナウイルス感染症対策としてもその重要性を再認識しており、さらなる環境整備を進めます。</p>
    <ul>
      <li class="Caption ind1em">※Robotic Process Automation　主にソフトウェアロボットによる業務自動化のこと</li>
    </ul>
  </div>
</div>

<h3 class="Header">ワーク・ライフ・バランスを支援する施策</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <figure class="Image Text-Center"><img style="width: 220px;" src="/sustainability/human/images/wlb@2x.png" alt="ワーク・ライフ・バランスガイドブック"></figure>
  </div>
  <div class="Grid-Column Text">
    <p>日本郵政グループでは、『ワーク・ライフ・バランスガイドブック』を全社員に配布するほか、グループ社員同士で情報交換できる「ワーク・ライフ・バランス情報サイト」を開設しています。</p>
    <p>また、多くの従業員が経験するであろう育児・介護および病気に対して、法定を上回る休業制度や保育料等の補助制度などを充実させ、「働き続けられる企業」を目指して両立支援に取り組むとともに、制度を利用しやすい職場風土づくりにも力を入れており、育児や介護と仕事の両立に向けた各種セミナーを開催するなど、グループ社員のワーク・ライフ・バランスの実現を推進するための各種施策を実施しています。</p>
  </div>
</div>

<h2 class="Header">その他の取り組み</h2>
<div class="Section List-General">
  <ul class="link_others_list">
    <li class="link_others_item"><a href="/sustainability/human/workstyle/others.html#diversity" class="Link"><span>ダイバーシティ推進体制</span></a></li>
    <li class="link_others_item"><a href="/sustainability/human/workstyle/others.html#handicapped" class="Link"><span>障がい者支援の取り組み</span></a></li>
    <li class="link_others_item"><a href="/sustainability/human/workstyle/others.html#gender" class="Link"><span>性の多様性への対応</span></a></li>
    <li class="link_others_item"><a href="/sustainability/human/workstyle/others.html#support" class="Link"><span>ワーク・ライフ・バランスを支援する施策</span></a></li>
    <li class="link_others_item"><a href="/sustainability/human/workstyle/others.html#approval" class="Link"><span>賛同・加盟</span></a></li>
  </ul>
  <p><a href="/sustainability/human/workstyle/others.html" class="btn--others-init"><span>その他の取り組み</span></a></p>
</div>



<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
