<div id="title_box">
  <p class="explanation2 title_priority">CSR重点課題</p>
  <div id="csr_main_img_workstyle">
    <h1>働き方改革：その他の取り組み</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/human/images/title_box_sdgs_05.png" alt="5：ジェンダー平等を実現しよう">
    <img src="/sustainability/human/images/title_box_sdgs_08.png" alt="8：働きがいも経済成長も">
    <img src="/sustainability/human/images/title_box_sdgs_10.png" alt="13：気候変動に具体的な対策を">
  </p>
<!-- /#title_box3--></div>

<h2 id="diversity" class="Header">ダイバーシティ推進体制</h2>
<div class="Section">
  <p>日本郵政グループは、当グループの持続的な成長には、従業員一人ひとりがその能力を十分に発揮し、活躍できる職場環境の整備が不可欠であると考えます。多様な価値観を持つ人材がいきいきと働ける職場環境づくりを目指して、ダイバーシティの推進を行う部署を設置し、従業員の意識改革・意識向上などに取り組み、積極的にダイバーシティを推進しています。</p>
<!-- end .Section --></div>

<h3 class="Header">ダイバーシティ・コミッティ活動の展開</h3>
<div class="Section">
  <p>ゆうちょ銀行では、ダイバーシティ・マネジメントの推進を強化するため、ダイバーシティ推進部を設置して取り組んでいます。<br />
    また、組織や地域ごとに異なる課題の解決に向けて、本社・各エリア本部・貯金事務センターという、すべての組織でダイバーシティ・コミッティ活動を展開しています。コミッティは、代表執行役社長をトップとし、各組織においてさまざまな経験や経歴を持つメンバーによって構成され、ダイバーシティ・マネジメント推進に関する方針や施策を検討するほか、課題や実情に沿った提言を行っています。
  </p>
<!-- end .Section --></div>

<h3 class="Header">ダイバーシティ・フォーラムの開催</h3>
<div class="Section Col">
  <p>ゆうちょ銀行では、ダイバーシティについて認識を深め、明日の行動につなげるための全社的な意識醸成を目的として、全国のダイバーシティ・コミッティメンバーを召集し、「ゆうちょダイバーシティ・フォーラム」を開催しています。<br />
    2020年度は初めてオンラインで開催し、年齢、役職、性別などを問わず、多様な全国各地の社員約240名が参加しました。会社のトップである代表執行役社長と全国各地の社員が、ダイバーシティ推進に関する意識や想いをリアルタイムで共有しました。
  </p>
  <div class="Grid-Column">
    <div class="Image Text-Center">
      <img src="/sustainability/human/images/human_06.jpg" alt="ダイバーシティ・フォーラムの開催">
      <p class="Caption">2020年度ゆうちょダイバーシティ・フォーラム(右上：代表執行役社長、右下：ダイバーシティ推進部長)</p>
    </div>
  </div>
</div>


<div class="Section">
  <div class="Grid-Column">
    <div class="Image"><a href="/sustainability/human/workstyle/others_yuucho/"><img src="/sustainability/human/images/human_11.png" alt="ゆうちょ銀行におけるその他のダイバーシティ推進に係る取組"></a></div>
  </div>
</div>


<h2 id="handicapped" class="Header">障がい者支援の取り組み</h2>
<h3 class="Header">一般社団法人日本ゴールボール協会とパートナー契約を締結</h3>
<div class="Section">
<p>日本郵政は、一般社団法人日本ゴールボール協会（以下「日本ゴールボール協会」）と、オフィシャルパートナー契約（カテゴリー：郵便、宅配、物品輸送）を締結しました。<br>
日本郵政および日本郵便は、日本ゴールボール協会が運営する各種大会や体験会等への社員ボランティア派遣など、日本ゴールボール協会が行う活動を積極的にサポートすることを通じて、障がい者スポーツの普及・発展に貢献してまいります。</p>
<ul>
  <li><a class="Link Popup" href="https://www.japanpost.jp/pressrelease/jpn/2019/20190328146685.html"><span>一般社団法人日本ゴールボール協会とパートナー契約を締結</span></a></li>
</ul>
<!-- /.Section --></div>

<h3 class="Header">職場環境の整備等サポートの実施</h3>
<div class="Section">
<p>ゆうちょ銀行では、さまざまな障がいのある社員が、各職場で活躍しています。障がいのある社員が安心して長く働き続け、一人ひとりの状況に応じ持続的に活躍する機会を拡充していくため、職場環境の整備等のサポートを継続的に実施しています。</p>
<h4 class="break"><strong>ゆうちょ銀行 ありがとうセンター</strong></h4>
<p>就労意欲を持つ障がいのある方への就労機会の提供を目的に、2010年に設立し、障がいのある社員が多数活躍しています。同センターでは、当行にご来店いただいたお客さまにお渡しするキャンディの袋詰め作業等を行っています。</p>
<h4><strong>マッサージルーム</strong></h4>
<p>2016年度より一部の貯金事務センターにおいて、企業内理療師（ヘルスキーパー）として、視覚障がいのある社員が活躍しています。企業内理療師として働く社員は、各センター内のマッサージルームにおいて、社員を対象に施術を行っています。</p>
<!-- end .Section --></div>

<h3 class="Header">車いすテニスプレーヤー大谷桃子選手の支援</h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="大谷桃子選手" src="/sustainability/human/images/index02_img_11.jpg" style="width: 300px;">
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>かんぽ生命保険は、2019年度から車いすテニスプレーヤーの大谷桃子選手を所属選手として支援していましたが、2020年度には正社員として迎え、その活躍をさらに支援しています。</p>
<p>今後も競技や選手を応援することで、車いすテニスを盛り上げるとともに、ダイバーシティ社会の形成に取り組んでいきます。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header">特別支援学校との連携</h3>
<div class="Section">
  <p>日本郵政グループでは、障がいのある方がその能力を十分に発揮できる職業に就くことを目的に、特別支援学校と連携し、職業体験・現場実習として実習生を毎年受入れています。</p>
</div>


<h2 id="gender" class="Header">性の多様性への対応</h2>
<h3 class="Header">ダイバーシティセミナー</h3>
<div class="Section">
<p>日本郵政グループは、ダイバーシティについて認識を深め、明日の行動につなげるため、従業員を対象に意識醸成を目的としたセミナーを開催しています。<br>
2019年度は9月と11月に、多様な人材の活躍を目的とし「LGBTの理解」について、トランスジェンダー当事者の方を講師に招き、企業としての取り組みなどについて、講演いただきました。<br>
また、LGBTに対する理解と支援を表明する「ALLY（アライ）」のシールをセミナー参加者に配布しました。</p>
<!-- end .Section --></div>
<style>
  .Section.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 767px) {
    .Section.flex {
      flex-direction: column;
    }
  }
</style>
<div class="Section flex">
  <div class="Image Text-Center"><img src="/sustainability/human/images/index04_img_09.jpg" alt="セミナーの写真">
  <!-- /.Grid-Column Image --></div>
  <div class="Image Text-Center"><img src="/sustainability/human/images/index04_img_10.jpg" alt="セミナーの写真">
  <!-- /.Grid-Column Image --></div>
<!-- /.Section flex --></div>
<div class="Section">
  <p>2020年11月には、ダイバーシティを積極的に推進している方を講師として招き、「経営戦略としてのダイバーシティ」について、ダイバーシティの目的・ 成果、実現に向けたポイントなどを交えて講演いただきました。</p>
</div>
<div class="Section flex">
  <div class="Image Text-Center"><img src="/sustainability/human/images/seminar_01.jpg" alt=""></div>
  <div class="Image Text-Center"><img src="/sustainability/human/images/seminar_02.jpg" alt=""></div>
</div>

<h3 class="Header">ALLYを増やすまたは顕在化するための取り組み</h3>
<div class="Section Col2 TextImageBlock Image-Right List-General">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/human_07.png"></div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <p>日本郵政グループでは、性の多様性を理解し、支援する人（ALLY：アライ）を増やすための取り組みも行っています。</p>
    <p>2021年2月には、ALLYの趣旨についての説明資料とALLYステッカーを社員に配布し、ALLYの趣旨を理解する前提で、ステッカーを貼付することによるALLYであることの表明を推奨しました。</p>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right.List-General --></div>

<h3 class="Header">「東京レインボープライド」パレードへの参加</h3>
<div class="Section Col2 TextImageBlock Image-Right List-General">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/index04_img_07.jpg" style="width: 360px; max-width: 100%;"></div>
    <div class="Image Text-Center"><figure><img alt="" src="/sustainability/human/images/human_08.png" style="max-width: 100%;"></figure><figcaption>東京レインボープライドに掲出したバナー</figcaption></div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <p>日本郵政グループは、ダイバーシティ推進の取り組みの一環として、「東京レインボープライド」に協賛しています。</p>
    <ul>
      <li class="Caption ind1em">※写真は、「東京レインボープライド2019」に協賛し、2019年4月28日に東京都内で行われたパレードに参加した際のものです。「東京レインボープライド2020」「東京レインボープライド2021」は新型コロナウイルス感染症拡大防止のため、Webでの開催となりました。
      </li>
    </ul>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right.List-General --></div>

<h3 class="Header">LGBTフレンドリー</h3>
<div class="Section">
  <p>かんぽ生命保険は、LGBT（社会的に性的マイノリティと位置づけられている人々）に対する適切な理解・知識の共有と、その認識・受容に向けた取り組みを推進しています。性的指向、性自認に捉われず、多様な人材が働きやすい職場を作ることで社員一人ひとりが明るくいきいきと活躍できるよう、継続的に取り組んでいきます。</p>
<!-- end .Section --></div>

<h2 id="support" class="Header">ワーク・ライフ・バランスを支援する施策</h2>
<h3 class="Header">仕事と育児の両立セミナー</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/sprt_bal_img_childcare01.jpg" style="width: 300px"></div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵政グループは、仕事と育児の両立支援施策として、「子育てと仕事の両立を考えるセミナーwithパートナー」と題し、育児休業中の社員等を対象に、パートナーやお子さんを同伴して参加できるセミナーを開催しています。</p>
      <p>このセミナーでは、育児期の働き方やキャリア形成などについて、外部の専門講師による「仕事と育児のマイベストを探そう！」と題した講演のほか、参加者同士でグループワークを行い、仕事と育児への向き合い方、仕事と育児を両立させるコツや喜び・不安などについて、お互いの考えと気づきを共有します。セミナーの最後には、社内の育児関連支援制度の紹介や福利厚生サービスに関する利用案内も行っています。<br />（2020年度はWebでの開催）</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section Col-Border">
  <div class="Grid-Column BG-Gray">
      <h3 class="Header"><strong>参加者の声</strong></h3>
      <p>「子育てや自身のキャリアなど同じテーマでも自分とは違う考え方の意見を聞くことができて刺激になりました。家に戻ってパートナーといろいろ話し合ってみようと思います。」</p>
      <div class="SubSection Col2 TextImageBlock Image-Right">
        <div class="Grid-Column Image">
          <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/sprt_bal_img_childcare02.jpg" style="width: 240px"></div>
        <!-- end .Grid-Column.Image --></div>
        <div class="Grid-Column Text">
          <div class="Box">
            <p>「ゆうてまち保育園の様子もわかってよかったです。ぜひ続けてほしいです。夫婦だけで話せる時間はなかなかないので、無料の託児サービスがあって大変助かりました。」</p>
          <!-- end .Box --></div>
        <!-- end .Grid-Column.Text --></div>
      <!-- end .SubSection.Col2.TextImageBlock.Image-Right --></div>
  <!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border --></div>

<h3 class="Header">仕事と介護の両立セミナー</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/index03_img_05.jpg" style="width: 240px"></div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵政グループは、仕事と介護の両立支援施策として、「仕事と介護の両立セミナー」と題し、セミナーを開催しています。<br>このセミナーでは、従業員が親族の介護に直面した際に、仕事と介護を両立するために利用できる行政等の各種サービスなどについて外部の専門講師から講演いただくほか、社内の介護関連支援制度と福利厚生サービスの紹介も行っています。<br />
        （2020年度はWebでの開催）</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header break">管理者の意識改革</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <p>近年の社会情勢の変化に伴い、社員の働き方も多様化しています。育児や介護といった事情を抱えた社員が活躍するためには、職場の上司である管理者の理解が欠かせません。日本郵便は管理者のマネジメントスキルの向上を目的としたカリキュラムを研修に取り入れるなど、管理者の意識改革に取り組んでいます。</p>
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/index04_img_02.jpg" style="width: 300px">
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵便は2017年1月にNPO法人ファザーリング・ジャパン運営のイクボス企業同盟に加盟し、また、「イクボス」への理解を深める社内研修を各地で行っています。</p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header">育児休業取得者を対象とした研修</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <p>日本郵政グループでは、社員の育児や介護といった生活事情と仕事の両立を支援するため、全国各地でさまざまな取り組みを行っています。取り組みを通じ、両立のためのヒントや不安等を共有することで、社員が自身のキャリアを考えるきっかけにもつながります。</p>
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="" src="/sustainability/human/images/panel@2x.jpg" style="width: 300px;"></div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵便東京支社では、2018年度および2019年度に育児休業から復帰した社員を対象に、先輩社員とのパネルディスカッション形式の研修を実施しています。<br />
        また2017年度から、育児休業中の社員を対象にしたセミナーも行っています。2020年度はオンラインで実施し、育児に関する悩みを話し合ったり、先輩社員の話を聞く機会をつくることで、仕事と育児の両立に関する社員の不安を軽減できるよう取り組みました。
      </p>
    <!-- end .Box --></div>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section Col-Border">
  <div class="Grid-Column BG-Gray">
      <h3 class="Header"><strong>育児休業復帰者研修参加者の声</strong></h3>
      <p>今後の自分について改めて考える時間を持つことができたとても良い研修でした。<br>
        制度の存在や活用も必要ですが、一人ひとりの考え方で働き方は変わってくるので、子育て中の社員だけでなく、管理者や今後子育てを経験していく若い社員たちにもぜひ受けてほしいです。<br>
        何より、同じ境遇の社員とお話しすることができたのがとても有意義でした。</p>
      <!-- end .Grid-Column.BG-Gray -->
  </div>
  <!-- end .Section.Col-Border -->
</div>

<h2 id="approval" class="Header">賛同・加盟</h2>
<h3 class="Header">「イクボス企業同盟」への加盟</h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/human/images/index03_img_02.jpg" style="width: 240px">
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵政グループは、NPO法人ファザーリング・ジャパンが運営する「イクボス企業同盟」に加盟し、「働く従業員全員が元気であること、幸せであることが大事である」との考えのもと、部下のワーク・ライフ・バランスを考え、仕事で成果を出し、自身も仕事と私生活を楽しむことができる魅力あるイクボスの育成に努めています。</p>
<ul>
  <li class="Caption ind1em">※イクボスとは、部下や同僚等の育児や介護、ワーク・ライフ・バランス等に配慮・理解のある上司のことです。（厚生労働省Webサイトより）</li>
</ul>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header">「男性育休100%宣言」への賛同</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <p>日本郵政グループは、株式会社ワーク・ライフバランスが推進する「男性育休100%宣言」に賛同し、男性従業員が育児休業を100%取得できる環境づくりを目指して、仕事と育児の両立支援の取り組みを推進しています。</p>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header">「輝く女性の活躍を加速する男性リーダーの会」行動宣言への賛同</h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="" src="/sustainability/human/images/index03_img_03.jpg" style="width: 200px">
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵政グループは、内閣府男女共同参画局が支援する「輝く女性の活躍を加速する男性リーダーの会」行動宣言に賛同し、行動宣言の3項目「自ら行動し、発信する」「現状を打破する」「ネットワーキングを進める」に沿って、輝く女性の活躍を積極的に推進しています。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
