<div id="title_box3">
  <div id="csr_main_img_movie_sub">
    <h1>ラジオ体操による健康づくり支援</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政グループは、保険事業を営むグループとして、皆さまの健康づくりを応援しています。<br>
あらゆる世代の人たちがいきいきと健康で暮らせる社会をめざし、また、高齢社会における課題のひとつ「健康寿命の延伸」にも貢献できるよう、ラジオ体操の普及・推進に取り組んでいます。</p>
<!-- end .Section --></div>

<div class="Section">
<link href="/cmn/css/colorbox.css" rel="stylesheet">
<script src="/cmn/js/jquery.colorbox-min.js"></script>

    <div class="movieCol_img">
      <div class="HomeMovie"><a class="iframe_movie" href="MTMw.html" title="ラジオ体操による健康づくり支援">
        <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00002/cd70945e89734286ae75e85bd569307e_25_17.jpg" alt="ラジオ体操による健康づくり支援"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"MTMw",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>
    </div>
<!-- end .Section --></div>

<div class="Section">
<p>ラジオ体操の詳細はかんぽ生命のWebサイトをご覧ください。<br>
  <ul>
    <li><a href="https://www.jp-life.japanpost.jp/aboutus/csr/radio/abt_csr_rdo_index.html" class="Link Popup" target="_blank"><span>ラジオ体操・みんなの体操</span></a>-かんぽ生命</li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
