<div id="title_box3">
  <div id="csr_main_img_movie_sub">
    <h1>日本郵政グループSDGs Book関連動画②</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>2020年11月発行のSDGs Book P.7「パートナーシップで地域社会のインフラを支える」の動画です。</p>
<!-- end .Section --></div>

<div class="Section">
<link href="/cmn/css/colorbox.css" rel="stylesheet">
<script src="/cmn/js/jquery.colorbox-min.js"></script>

    <div class="movieCol_img">
      <div class="HomeMovie">
        <a class="iframe_movie" href="MTY5.html" title="日本郵政グループSDGs Book関連動画②">
         <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00002/6cb90cbe9be04e479d29468c9a394f8a_25_11.jpg" alt="日本郵政グループSDGs Book関連動画②">
        </a>
      </div>
      <div class="SmartPhoneMovie">
<script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/if.js"></script>
<script type="text/javascript">
	jstream_t3.PlayerFactoryIF.create({
	b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
	c:"MTI1OA==",
	m:"MTY5",
	s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
	}});
</script>
      </div>
    </div>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
