<div id="title_box3">
  <div id="csr_main_img_movie_sub">
    <h1>日本郵政グループ　東日本大震災から10年、復興への歩み<br />【ダイジェストバージョン】</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>東日本大震災から10年が経過しました。復興はまだ道半ばです。日本郵政グループは、震災の記憶を決して風化させず未来へとつなぐとともに、これからも復興および災害に強い地域づくりに向けて取り組んでいきます。<br />※本動画には、一部に津波など震災当時の映像等が含まれます。</p>
<!-- end .Section --></div>

<div class="Section">
<link href="/cmn/css/colorbox.css" rel="stylesheet">
<script src="/cmn/js/jquery.colorbox-min.js"></script>

    <div class="movieCol_img">
      <div class="HomeMovie"><a class="iframe_movie" href="MjQx.html" title="日本郵政グループ　東日本大震災から10年、復興への歩み【ダイジェストバージョン】">
        <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00003/d4026b2aad1b47a8a71eccb8e120e198_25_11.jpg" alt="日本郵政グループ　東日本大震災から10年、復興への歩み【ダイジェストバージョン】"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/if.js"></script>
        <script type="text/javascript">
          jstream_t3.PlayerFactoryIF.create({
          b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
          c:"MTI1OA==",
          m:"MjQx",
          s:{
            el:"off",
            fs:"on",
            hp:180,
            il:"off",
            rb:"off",
            sn:"f,t,l",
            tg:"off",
            wp:320
          }});
        </script>
        <noscript>
        <div>このコンテンツを見るためにはJavaScriptを有効にしてください。Please enable JavaScript to watch this content.</div>
        </noscript>
      </div>
    </div>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
