<div id="title_box">
  <div id="csr_main_img_movie">
    <h1>サステナブルムービー</h1>
  </div>
  <p class="explanation2">動画で見る日本郵政グループのサステナビリティ活動</p>
</div>
<!-- /#title_box-->
<div class="Section">
<p class="Category Lead">日本郵政グループのサステナビリティ活動に関する取り組みを動画でご紹介します。</p>
<!-- end .Section --></div>

<link href="/cmn/css/colorbox.css" rel="stylesheet">
<script src="/cmn/js/jquery.colorbox-min.js"></script>

<h4 class="ttl_h4">日本郵政グループ　東日本大震災から10年、復興への歩み</h4>
<div class="utile_box">
  <div class="utile_img">
    <div class="HomeMovie"><a class="iframe_movie" href="MjQw.html" title="日本郵政グループ　東日本大震災から10年、復興への歩み【フルバージョン】">
      <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00003/53ed9cebda9e4363bacbdb7c722a4447_25_11.jpg" alt="日本郵政グループ　東日本大震災から10年、復興への歩み【フルバージョン】"></a></div>
    <div class="SmartPhoneMovie">
      <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/if.js"></script>
      <script type="text/javascript">
        jstream_t3.PlayerFactoryIF.create({
        b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
        c:"MTI1OA==",
        m:"MjQw",
        s:{
          el:"off",
          fs:"on",
          hp:180,
          il:"off",
          rb:"off",
          sn:"f,t,l",
          tg:"off",
          wp:320
        }});
      </script>
      <noscript>
      <div>このコンテンツを見るためにはJavaScriptを有効にしてください。Please enable JavaScript to watch this content.</div>
      </noscript>
    </div>
  </div>
  <div class="utile_txt">
    <p>東日本大震災から10年が経過しました。復興はまだ道半ばです。日本郵政グループは、震災の記憶を決して風化させず未来へとつなぐとともに、これからも復興および災害に強い地域づくりに向けて取り組んでいきます。<br />※本動画には、一部に津波など震災当時の映像等が含まれます。</p>
    <dl>
      <dt>動画ページはこちら</dt>
      <dd><a class="Link" href="/sustainability/library/movie/2021_001.html"><span>フルバージョン（10：23）</span></a></dd>
    </dl>
  </div>
</div>
<div class="utile_box">
  <div class="utile_img">
    <div class="HomeMovie"><a class="iframe_movie" href="MjQx.html" title="日本郵政グループ　東日本大震災から10年、復興への歩み【ダイジェストバージョン】">
      <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00003/d4026b2aad1b47a8a71eccb8e120e198_25_11.jpg" alt="日本郵政グループ　東日本大震災から10年、復興への歩み【ダイジェストバージョン】"></a></div>
    <div class="SmartPhoneMovie">
      <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/if.js"></script>
      <script type="text/javascript">
        jstream_t3.PlayerFactoryIF.create({
        b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
        c:"MTI1OA==",
        m:"MjQx",
        s:{
          el:"off",
          fs:"on",
          hp:180,
          il:"off",
          rb:"off",
          sn:"f,t,l",
          tg:"off",
          wp:320
        }});
      </script>
      <noscript>
      <div>このコンテンツを見るためにはJavaScriptを有効にしてください。Please enable JavaScript to watch this content.</div>
      </noscript>
    </div>
  </div>
  <div class="utile_txt">
    <p>※上記動画のダイジェストバージョンです</p>
    <dl>
      <dt>動画ページはこちら</dt>
      <dd><a class="Link" href="/sustainability/library/movie/2021_002.html"><span>ダイジェストバージョン（4：41）</span></a></dd>
    </dl>
  </div>
</div>

<h4 class="ttl_h4">日本郵政グループとSDGs</h4>
<div class="utile_box">
  <div class="utile_img">
    <div class="HomeMovie"><a class="iframe_movie" href="MTQz.html" title="日本郵政グループとSDGs">
      <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00002/08c62350adf74e6b8bd78310ee128b7e_25.00005.jpg" alt="日本郵政グループとSDGs"></a></div>
    <div class="SmartPhoneMovie">
      <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
      <script type="text/javascript">
          jstream_t3.PlayerFactoryOBJ.create({
          b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
          c:"MTI1OA==",
          m:"MTQz",
          s:{
              el:"off",
              fs:"on",
              hp:180,
              il:"off",
              rb:"off",
              sn:"f,t,l",
              tg:"off",
              wp:320
          }
      });
      </script>
    </div>
  </div>
  <div class="utile_txt">
    <p>日本郵政グループは、事業を通じてSDGsの掲げる目標の達成に向けて取り組むことで、世界が抱える課題の解決を目指し、持続可能な社会の実現に貢献していきます。</p>
    <dl>
      <dt>動画ページはこちら</dt>
      <dd><a class="Link" href="/sustainability/library/movie/2020_001.html"><span>Vol.1</span></a></dd>
    </dl>
  </div>
</div>
<div class="utile_box">
  <div class="utile_img">
    <div class="HomeMovie"><a class="iframe_movie" href="MTUx.html" title="日本郵政グループとSDGs">
      <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00002/3abd28f7c49949ba976e24aeebe3d91e_25_29.jpg" alt="日本郵政グループとSDGs"></a></div>
    <div class="SmartPhoneMovie">
<script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/if.js"></script>
<script type="text/javascript">
           jstream_t3.PlayerFactoryIF.create({
           b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
           c:"MTI1OA==",
           m:"MTUx",
           s:{
              el:"off",
              fs:"on",
              hp:180,
              il:"off",
              rb:"off",
              sn:"f,t,l",
              tg:"off",
              wp:320
           }});
</script>
    </div>
  </div>
  <div class="utile_txt">
    <p>日本郵政グループのサステナビリティ活動について、具体的な取り組みを紹介します。</p>
    <dl>
      <dt>動画ページはこちら</dt>
      <dd><a class="Link" href="/sustainability/library/movie/2020_002.html"><span>Vol.2</span></a></dd>
    </dl>
  </div>
</div>

<h4 class="ttl_h4">日本郵政グループとSDGs（英語版）</h4>
<div class="utile_box">
  <div class="utile_img">
    <div class="HomeMovie"><a class="iframe_movie" href="/en/csr/movie/sustainable_movie.html" title="日本郵政グループとSDGs（英語版）">
      <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00002/3f582b2f90954f4e8a541f4247750086_25_11.jpg" alt="日本郵政グループとSDGs（英語版）"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"MTkx",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>
    </div>
  <div class="utile_txt">
    <p>日本郵政グループのSDGsの取り組みを英語で紹介します。</p>
    <dl>
      <dt>動画ページはこちら</dt>
      <dd><a class="Link" href="/en/csr/movie/"><span>日本郵政グループとSDGs（英語版）</span></a></dd>
    </dl>
  </div>
</div>

<h4 class="ttl_h4">ラジオ体操による健康づくり支援</h4>
  <div class="utile_box">
    <div class="utile_img">
      <div class="HomeMovie"><a class="iframe_movie" href="MTMw.html" title="ラジオ体操による健康づくり支援">
        <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00002/cd70945e89734286ae75e85bd569307e_25_17.jpg" alt="ラジオ体操による健康づくり支援"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"MTMw",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>    </div>
    <div class="utile_txt">
      <p>日本郵政グループは、保険事業を営むグループとして、皆さまの健康づくりを応援しています。<br>あらゆる世代の人たちがいきいきと健康で暮らせる社会をめざし、また、高齢社会における課題のひとつ「健康寿命の延伸」にも貢献できるよう、ラジオ体操の普及・推進に取り組んでいます。</p>
      <dl>
        <dt>動画ページはこちら</dt>
        <dd><a class="Link" href="/sustainability/library/movie/2018_004.html"><span>ラジオ体操による健康づくり支援</span></a></dd>
      </dl>
    </div>
  </div>

<h4 class="ttl_h4">ゆうちょ銀行の地域コミュニケーション</h4>
  <div class="utile_box">
    <div class="utile_img">
      <div class="HomeMovie"><a class="iframe_movie" href="MTI5.html" title="ゆうちょ銀行の地域コミュニケーション">
        <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00002/2e6b9067d7a2477299552ce7148214c4_25_11.jpg" alt="ゆうちょ銀行の地域コミュニケーション"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"MTI5",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>
    </div>
    <div class="utile_txt">
      <p>日本郵政グループは、全国の郵便局やATMのネットワークを通じて、地域の皆さまとのコミュニケーションを大切にしています。<br>一番身近な金融機関として、地域の皆さまとともに歩むゆうちょ銀行の取り組みをご紹介します。</p>
      <dl>
        <dt>動画ページはこちら</dt>
        <dd><a class="Link" href="/sustainability/library/movie/2018_003.html"><span>ゆうちょ銀行の地域コミュニケーション</span></a></dd>
      </dl>
    </div>
  </div>

<h4 class="ttl_h4">くらしを支える郵便局のネットワーク</h4>
  <div class="utile_box">
    <div class="utile_img">
      <div class="HomeMovie"><a class="iframe_movie" href="ODg.html" title="くらしを支える郵便局のネットワーク">
        <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00001/3b6f31cadfde415e80b197aff729a9cc_25_11.jpg" alt="くらしを支える郵便局のネットワーク"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"ODg=",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>
    </div>
    <div class="utile_txt">
      <p>日本郵政グループは、社会の重要なインフラである郵便局のネットワークを基盤に、郵便・貯金・保険のユニバーサルサービスを提供しています。</p>
      <dl>
        <dt>動画ページはこちら</dt>
        <dd><a class="Link" href="/sustainability/library/movie/2018_001.html"><span>くらしを支える郵便局のネットワーク</span></a></dd>
      </dl>
    </div>
  </div>

<h4 class="ttl_h4">くらしを支える郵便局のネットワーク～御蔵島篇（フルバージョン）～</h4>
  <div class="utile_box">
    <div class="utile_img">
      <div class="HomeMovie"><a class="iframe_movie" href="OTQ.html" title="くらしを支える郵便局のネットワーク">
        <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00001/cf2064eee3c34b1f863c16b2da3d7b79_25_11.jpg" alt="くらしを支える郵便局のネットワーク～御蔵島篇（フルバージョン）～"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"OTQ=",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>
    </div>
    <div class="utile_txt">
      <p>東京から南に約200㎞、人口およそ300人の東京都御蔵島にある御蔵島郵便局は島で唯一の金融機関として島の皆さんの生活に欠かせない存在となっています。</p>
      <dl>
        <dt>動画ページはこちら</dt>
        <dd><a class="Link" href="/sustainability/library/movie/2018_002.html"><span>くらしを支える郵便局のネットワーク～御蔵島篇～</span></a></dd>
      </dl>
    </div>
  </div>

<h3 class="Header"><span>日本郵政グループ CSRムービー（バックナンバー）</span></h3>
<div class="Section">
<p class="Category Lead">2017年度以前に公開したCSRムービーです。</p>
<!-- end .Section --></div>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/sustainability/library/movie/back_number/">日本郵政グループ CSRムービー（バックナンバー）</a></li>
  </ul>
<!-- end .Section.List-General --></div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
