<div class="Section Col-Border">
  <div class="Grid-Column BG-Gray">
    <h2 id="support">配達業務支援システム</h2>
    <p>以下の2つのシステムを連携させ、業務経験の浅い社員等の配達業務を支援します。</p>
    <div class="SubSection Col2 TextImageBlock Image-Right">
      <div class="Grid-Column Image">
          <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_06.jpg" alt=""></div>
      </div>
      <div class="Grid-Column Text">
          <h3 class="Header">1． SmaRyuPOST</h3>
          <div class="Box">
              <p>スマートフォンで稼働し、車両への荷物積込や配達登録、配達ルート自動作成（2と連携）、ナビゲーション、受取時の電子サインなどの機能を一気通貫で提供。</p>
          </div>
      </div>
    </div>

    <div class="SubSection Col2 TextImageBlock Image-Right">
      <div class="Grid-Column Image">
          <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_07.jpg" alt=""></div>
      </div>
      <div class="Grid-Column Text">
          <h3 class="Header">2． Loogia</h3>
          <div class="Box">
              <p>最適な配達順序やルートをAIで自動計算し、SmaRyuPOSTを通じて提示。</p>
          </div>
      </div>
    </div>

    
    <p>このほかにも、EC市場拡大を踏まえて小型荷物を多く積載できるキャリーボックスを備えた新型車両「ジャイロキャノピー」の試行開始。</p>
    <p>普通免許・原付免許で運転可能で、三輪のため転倒リスクも少なく、二輪に不慣れな社員等でも乗務しやすいため、人手不足対策としても期待されます。</p>
    <div class="ai_col2 SubSection">
      <div class="Grid-Column">
        <div class="Image"><img src="/sustainability/society/images/mobility_img_08.jpg" alt=""></div>
      </div>
      <div class="Grid-Column">
        <div class="Image"><img src="/sustainability/society/images/mobility_img_09.jpg" alt=""></div>
      </div>
    </div>
  </div>
</div>

<div class="Section Col-Border">
  <div class="Grid-Column BG-Gray">
      <dl>
          <dt>※ラストワンマイル</dt>
          <dd>物流分野における配送拠点からお客さまの手元に荷物が届くまでの区間。</dd>
      </dl>
   <!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border --></div>
