<h3 class="Header">郵便局間のドローン配送（2018年度）</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
      <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_01.jpg" alt="ドローン配送"></div>
  </div>
  <div class="Grid-Column Text">
      <div class="Box">
          <p>福島県南相馬市にある「小高郵便局」から双葉郡浪江町の「浪江郵便局」までの約9kmの区間で、日本で初めてとなる「目視外・補助者なし」<sup>※</sup>の飛行許可承認を国土交通省から受け、自律で飛行するドローンによる郵便局間での配送を行いました。</p>
          <ul>
            <li class="Caption ind1em">※所定の安全対策を行うことで、操縦者の視野外でも監視者を置かずに飛行させる運行方法。2018年の国土交通省の審査基準改定後、日本郵便が第一号として許可承認を取得。</li>
          </ul>
      </div>
  </div>
</div>

<h3 class="Header">ドローンによるラストワンマイル配送（2019年度）</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
      <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_02.jpg" alt="ドローン"></div>
  </div>
  <div class="Grid-Column Text">
      <div class="Box">
          <p>2019年3月17日～19日にかけて、東京都西多摩郡奥多摩町にある「奥多摩郵便局」において、ドローンによる個人宅宛てのラストワンマイル配送の試行を行いました。<br>ドローンは郵便局の屋上から出発し、航空法で定められた高度に沿って、山の斜面に沿うように昇り降りしながら飛行し、陸路では20分近くかかる山間部の受取人さまのお宅上空まで、半分の約10分で到着。<br>ドローンに搭載されたカメラで受取人さま宅に設置したQRコードを捉えながら着陸した後、荷物を切り離し、再び郵便局を目指して飛び立ちました。</p>
      </div>
  </div>
</div>

<div class="Section Col-Border">
  <div class="Grid-Column BG-Gray pb15">
      <h3>配送実験に参加いただいた受取人さまからのひとこと</h3>
      <div class="withimg-right">
          <img alt="配送実験に参加いただいた受取人さま" src="/sustainability/society/images/mobility_img_03.jpg">
          <p>今回の試行に協力して、ドローンによる配達が実用化に向けて着実に前進していることを実感しました。</p>
          <p>近い将来、モノを届けることを事業とされている日本郵便さんが、こういったドローンなどを活用して、山間部や災害地など、人の立ち入りが難しい場所にも必要な物資を届けてくれるようになってくれれば、と思います。</p>
      </div>
   <!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border --></div>