<div id="title_box">
  <p class="explanation2 title_priority">CSR重点課題</p>
  <div id="csr_main_img_develop">
      <h1>地域社会の発展・活性化</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/society/images/title_box_sdgs_03.png" alt="3：すべての人に健康と福祉を">
    <img src="/sustainability/society/images/title_box_sdgs_04.png" alt="4：質の高い教育をみんなに">
    <img src="/sustainability/society/images/title_box_sdgs_09.png" alt="9：産業と技術革新の基盤をつくろう">
    <img src="/sustainability/society/images/title_box_sdgs_11.png" alt="11：住み続けられるまちづくりを">
  </p>

</div>
<!-- /#title_box-->

<div class="Section">
  <p><strong>誰もが安心して暮らせる、持続可能な社会のために</strong><br>
    都市部では人口集中による過密化が進む一方で、地方都市では高齢化や過疎化が加速しています。特に地方の活力の維持は深刻な課題のひとつ。どこに住んでいても、誰もが必要なサービスを受けられて、災害に強く安全で持続可能なまちづくりが求められています。</p>
  <!-- end .Section -->
</div>

<h2 class="Header" id="drone">トピックス：次世代モビリティを活用した物流効率化の取り組み</h2>
<div class="Section">
  <p>日本郵便では、労働人口の減少や地方の過疎化などの社会課題、荷物需要の増加といった事業環境の変化に対応し、今後も安定的で持続可能な郵便・物流サービスの提供を実現するため、ドローン、配送ロボット、自動運転、配達業務へのAI活用などの新技術を活用した取り組みを行っています。<br />
    今後も、事業を取り巻く環境の変化やテクノロジーの動向等に応じた検討を、引き続き推進します。
  </p>
</div>

<h3 class="Header">配送ロボット</h3>
<div class="Section Col">
  <div class="Grid-Column">
    <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_10.jpg" alt="配送ロボット" style="max-width: 400px;"></div>
  </div>
</div>
<div class="Section">
  <p>
    2018年度から福島県南相馬市および双葉郡浪江町において、2019年度には東京都の日本郵便本社オフィス内において、配送ロボットの実証を実施しています。<br />
    2021年3月には、実際にお客さまがお住まいのオートロックシステム付きマンションで、複数台のロボットを活用した配送試行を行いました。<br />
    ロボットはマンションの入り口で配達員から荷物を受け取ると自律で走行しお客さまのお宅に向かいます。ロボットはエレベーターと連動しており、今回の配送試行ではエレベーター内でのお客さまとの同乗を行いました。ロボットにはセキュリティーロック機構を備えており、配達先に到着するとお客さまのSNSに暗証番号が届きます。通知された暗証番号をロボットに入力するとロボットの蓋が開き、荷物を受け取ることができます。<br />
    日本郵便では、今後も新しい技術と物流の融合を図る取り組みを進めてまいります。
  </p>
  <p><a href="/sustainability/society/local_communities/shipping.html" class="btn--others-init"><span>これまでの配送ロボットの実証について</span></a></p>
</div>

<h2 class="Header" id="fund">トピックス：地域活性化ファンド</h2>
<div class="Section">
  <p>ゆうちょ銀行は、お客さまからお預かりした大切な資金を、地域に循環させていくために、多様な枠組みを通じた資金供給により、地域活性化への貢献に努めています。特に、2016年7月より、地域金融機関との連携を通じて「地域活性化ファンド」へ参加し、2021年3月末までに累計32ファンドに参加しています。また地域ファイナンスの取り組みでは、地方債や地方公共団体貸付をはじめ、プロジェクトファイナンスの協調融資にも参加しており、今後も地域のリスクマネー・ニーズにも応えてまいります。</p>
</div>
<div class="Section Col">
  <div class="Grid-Column">
    <div class="Image Text-Center"><img src="/sustainability/society/images/index16_img_01.png" alt="ゆうちょ銀行が参加している地域活性化ファンド（2020年3月現在）"></div>
  </div>
</div>

<h2 class="Header" id="real_estate">トピックス：社会ニーズに対応した不動産開発事業</h2>
<div class="Section">
  <p>日本郵政グループは、これまで築いてきた地域社会との信頼関係を大切にしながら、待機児童や高齢社会という社会課題に配慮した保育所および高齢者施設の建設や、都市部における商業施設・オフィス・住宅等の大型複合施設による地域開発など、地域の特性や社会背景、事業性などを踏まえて、地域の発展に貢献する不動産事業を行っています。</p>
</div>

<div id="society_real_estate">
  <div class="Section real-estate-lineup">
    <div class="Grid-Column Image">
      <div class="Image Text-Center">
        <img style="width: 100%;" src="/sustainability/society/images/real_estate_01.jpg" alt="">
        <p class="Caption Text-Center">にじいろ保育園 北砂<br>（東京 2020年4月開園）</p>
      </div>
    </div>
    <div class="Grid-Column Image">
      <div class="Image Text-Center">
        <img style="width: 100%;" src="/sustainability/society/images/real_estate_02.jpg" alt="">
        <p class="Caption Text-Center">ベネッセ練馬えこだ保育園<br>（東京 2020年4月開園）</p>
      </div>
    </div>
    <div class="Grid-Column Image">
      <div class="Image Text-Center">
        <img style="width: 100%;" src="/sustainability/society/images/real_estate_03.jpg" alt="">
        <p class="Caption Text-Center">グランダ常盤台弐番館<br>（高齢者施設：東京 2020年3月運営開始）</p>
      </div>
    </div>
    <div class="Grid-Column Image">
      <div class="Image Text-Center">
        <img style="width: 51%;" src="/sustainability/society/images/real_estate_06.jpg" alt="">
        <p class="Caption Text-Center">梅田 3丁目計画（仮称）<br>（大阪 2024年竣工予定）</p>
      </div>
    </div>
    <div class="Grid-Column Image">
      <div class="Image Text-Center">
        <img style="width: 100%;" src="/sustainability/society/images/real_estate_04.jpg" alt="">
        <p class="Caption Text-Center">広島駅南口計画<br>（広島 2022年竣工予定）</p>
      </div>
    </div>
    <div class="Grid-Column Image">
      <div class="Image Text-Center">
        <img style="width: 100%;" src="/sustainability/society/images/real_estate_05.jpg" alt="">
        <p class="Caption Text-Center">蔵前一丁目開発事業<br>（東京 2023年竣工予定）</p>
      </div>
    </div>
  <!-- end .Section --></div>
</div>

<h3 class="Header">郵便局スペースを活用した不動産事業</h3>

<div class="Section Col">
  <h4 class="Header mb10"><strong>大磯郵便局スペースを活用した保育所およびコワーキングスペースの設置</strong></h4>
  <div class="Grid-Column">
    <figure class="Image Text-Center">
      <img src="/sustainability/society/images/society_03.jpg" alt="大磯郵便局スペースを活用した保育所およびコワーキングスペースの設置">
      <figcaption class="Text-Left">日本郵便は、地域の皆さまからの要望を受け、待機児童、働くスペースの不足および地域コミュニティの希薄化など地域が抱える課題の解決を目指し、大磯郵便局の一部空きスペースを株式会社Co. Labに賃貸<sup>※1</sup>することで、認可小規模保育施設（以下「保育所」）とコワーキングスペースを設置しました。</figcaption>
    </figure>
  </div>
</div>

<div class="Section Col">
  <h4 class="Header mb10"><strong>青葉台郵便局スペースを活用したコミュニティラウンジ、小規模オフィスなどの開業</strong></h4>
  <div class="Grid-Column">
    <figure class="Image Text-Center">
      <img src="/sustainability/society/images/society_04.jpg" alt="青葉台郵便局スペースを活用したコミュニティラウンジ、小規模オフィスなどの開業">
      <figcaption class="Text-Left">日本郵便は、横浜市と東急株式会社が連携し取り組む「次世代郊外まちづくり」で目指すまちの姿「コミュニティ・リビング」の推進に協力するため、青葉台郵便局の一部空きスペースを東急株式会社に賃貸<sup>※2</sup>し、コミュニティラウンジ、小規模オフィスなどを設置しています。</figcaption>
    </figure>
    <ul>
      <li class="ind25em">※1　日本郵便と株式会社Co. Labは定期建物賃貸借契約を締結しています。</li>
      <li class="ind25em">※2　日本郵便と東急株式会社は定期建物賃貸借契約を締結しています。</li>
    </ul>
  </div>
</div>

<h2 class="Header">その他の取り組み</h2>
<div class="Section">
  <p>日本郵政グループは、誰もが安心して暮らせる、持続可能な社会のためにさまざまな取り組みを行っています。</p>
</div>
<div class="Section List-General">
  <ul class="link_others_list">
    <li class="link_others_item"><a href="/sustainability/society/local_communities/others.html#drone" class="Link"><span>ドローンによる配送試行を実施</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/local_communities/others.html#vehicle" class="Link"><span>自動運転車の実証実験を実施</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/local_communities/others.html#inovation" class="Link"><span>オープンイノベーションプログラムの実施</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/local_communities/others.html#ai" class="Link"><span>AIによる配達業務の効率化</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/local_communities/others.html#contribution" class="Link"><span>地方創生・地域社会への貢献に関する協定の締結</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/local_communities/others.html#administration" class="Link"><span>郵便局における行政サービスの提供</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/local_communities/others.html#jr" class="Link"><span>地域社会の活性化に向けた取り組みの強化を目的とした東日本旅客鉄道株式会社との連携協定の締結</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/local_communities/others.html#bank" class="Link"><span>各金融機関との連携</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/local_communities/others.html#my_number" class="Link"><span>マイナンバーカードの普及促進</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/local_communities/others.html#foreigner" class="Link"><span>外国人のお客さまに対するご案内の充実</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/local_communities/others.html#atm" class="Link"><span>16言語対応小型ATMの導入</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/local_communities/others.html#infrastructure" class="Link"><span>日本型郵便インフラの海外輸出</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/local_communities/others.html#market" class="Link"><span>地域産品の国内における販路拡大支援</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/local_communities/others.html#donation" class="Link"><span>「ふるさと応援寄附金事業（ふるさと納税）」のサポート</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/local_communities/others.html#artist" class="Link"><span>障がい者アーティストの支援</span></a></li>
  </ul>
  <p><a href="/sustainability/society/local_communities/others.html" class="btn--others-init"><span>その他の取り組み</span></a></p>
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
