<h2 class="Header" id="jr">JR東日本との連携</h2>
<div class="Section">
<p>日本郵便は、地域社会の活性化に向けた取り組みを強化するため、東日本旅客鉄道株式会社（JR東日本）と連携協定を締結しています。地域社会に根差した活動を行う両社が、それぞれの持つネットワークを連携して活かしていくことで、地域内外の活発な交流の促進による地域社会の活性化を目指しています。</p>
<p>2019年5月には、JR立川駅構内の商業施設「エキュート立川」3階に、お客さまの将来の人生設計やお金に関する情報提供などを専門的に行う「JP金融ラボ」をオープンしました。<br />また、2021年2月には、JR仙台駅ビル「JR仙台イーストゲートビル」の開業に併せて同ビル1階に「JR仙台イーストゲートビル郵便局」をオープンしました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">

  <div class="Grid-Column400">
  <div class="Image Text-Center"><img alt="" src="/sustainability/society/images/activate_commu_01.png" style="max-width: 400px;" />
  <p class="Caption">JP金融ラボ（東京都立川市）</p>
  </div>
  <!-- end .Grid-Column --></div>
  
  <div class="Grid-Column400">
  <div class="Image Text-Center"><img alt="" src="/sustainability/society/images/activate_commu_09.jpg" style="width: 221px;" />
  <p class="Caption">JR仙台イーストゲートビル郵便局(宮城県仙台市)</p>
  </div>
  <!-- end .Grid-Column --></div>
  
<!-- end .Section.Col2 --></div>

<div class="Section">
  <p>また、無人となっていたJR内房線江見駅（千葉県鴨川市）の敷地内に新たに郵便局舎を建設し、同局に市内の旧江見郵便局を移転。2020年8月から「江見駅郵便局」として、全国初となる郵便局と駅の窓口業務の一体運営を開始しました。<br>
    郵便・貯金・保険などの通常の郵便局窓口業務に加えて、普通乗車券・定期券やSuicaの取り扱い、列車の発車時刻および運賃のご案内など、駅窓口業務を一体で行っています。</p>
</div>
  
<div class="Section Topics-Col">
  <ul>
    <li style="flex-basis: 30%;" class="Image Text-Center"><img style="width: 100%;" alt="駅舎" src="/sustainability/society/images/activate_commu_03.jpg"><br>江見駅郵便局　外観</li>
    <li style="flex-basis: 30%;" class="Image Text-Center"><img style="width: 100%;" alt="駅舎内（全体）" src="/sustainability/society/images/activate_commu_04.jpg"><br>列車到着時の郵便局ロビー</li>
    <li style="flex-basis: 30%;" class="Image Text-Center"><img style="width: 100%;" alt="駅舎内（窓口）" src="/sustainability/society/images/activate_commu_05.jpg"><br>JR窓口の様子</li>
  <!-- end .Grid-Column --></ul>
<!-- end .Section.flex --></div>

<div class="Section Col-Border">
  <div class="Grid-Column BG-Gray">
    <h3 class="Header">江見駅郵便局 局長からのひとこと</h3>
    <div class="SubSection Col2 TextImageBlock Image-Left">
      
      <div class="Grid-Column Image mb15 Text-Center"><img style="width: 150px;" src="/sustainability/society/images/activate_commu_06.jpg" alt="局長さん"></div>
      <div class="Grid-Column Text">
        <div class="Box">
          <p>お客さまからは、「江見駅が無人だった間は、切符の購入やSuicaのチャージなどができなかったので、それらができるようになってありがたい」とのお言葉をいただいています。<br>
            郵便局と駅の一体運営は全国初ということで、多くのお客さまが県外からもお見えになるなど、その関心度・注目度の高さに驚いています。<br>
            JRの業務を受託するにあたり、駅の案内業務で使用する端末の操作や、JRの営業および安全に関する業務研修を受けました。JRの社員としての立場で覚えるべきことも多く、大変さもありますが、お客さまに信頼され、愛される江見駅郵便局を目指して、社員一人ひとり真摯に、やりがいをもって業務に取り組みたいと思っています。</p>
        </div>
      </div>
    
    </div>
  </div>
</div>

<div class="Section Col-Border">
  <div class="Grid-Column BG-Gray">
    <h3 class="Header">お客さまからのひとこと</h3>
    <div class="SubSection Col2 TextImageBlock Image-Left">
      
      <div class="Grid-Column Image mb15 Text-Center"><img style="width: 150px;" src="/sustainability/society/images/activate_commu_07.jpg" alt="お客様"></div>
      <div class="Grid-Column Text">
        <div class="Box">
          <p>無人駅となっていた江見駅が郵便局と一体化したことによって、新しく立派な建物が建ち、そこにコミュニケーションのとれる局員が常駐してくれるようになった。それがうれしいですね。<br>
            地方の過疎化が避けられない中、この江見駅を先駆けとして、今後、このような形態が全国に広がっていくんじゃないでしょうか。<br>
            郵便局には今後も、地域の住民とのコミュニケーションを図りながら、地域の共有財産として発展していってほしいと思います。</p>
        </div>
      </div>
    
    </div>
  </div>
</div>

<div class="Section">
  <p>このほかにも、日本郵便の運送ネットワークとJR東日本の新幹線を活用した農産物・地産品の物流トライアルや、物産展の開催なども実施しています。<br>今後とも両社が互いに連携・協力しながら、一層の地域社会の活性化に貢献してまいります。</p>
</div>
