<div id="title_box">
  <p class="explanation2 title_priority">CSR重点課題</p>
  <div id="csr_main_img_develop">
      <h1>地域社会の発展・活性化：その他の取り組み</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/society/images/title_box_sdgs_03.png" alt="3：すべての人に健康と福祉を">
    <img src="/sustainability/society/images/title_box_sdgs_04.png" alt="4：質の高い教育をみんなに">
    <img src="/sustainability/society/images/title_box_sdgs_09.png" alt="9：産業と技術革新の基盤をつくろう">
    <img src="/sustainability/society/images/title_box_sdgs_11.png" alt="11：住み続けられるまちづくりを">
  </p>

</div>
<!-- /#title_box-->

<h2 class="Header" id="drone">ドローンによる配送試行を実施</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_02.jpg" alt="ドローン"></div>
  </div>
  <div class="Grid-Column Text">
    <p>2018年度には福島県南相馬市および双葉郡浪江町間で、2019年度からは東京都奥多摩町で配送試行を実施。郵便物等を抱えたドローンを目的地まで飛行させ、その安全性や課題などを検証しました。<br />2021年度には日本郵便、日本郵政キャピタルと株式会社ACSLが、資本・業務提携契約を締結し、ドローン等の自動配送による「配送高度化」をはじめとして、先端技術による配達ネットワークの高度化に向けた検討と取り組みを継続的に推進します。</p>
  </div>
</div>
<div class="Section List-General">
  <ul>
    <li><a href="/sustainability/society/local_communities/drone.html" class="Link"><span>これまでの実証実験について</span></a></li>
  </ul>
</div>

<h2 class="Header" id="vehicle">自動運転車の実証実験を実施</h2>
<div class="Section">
  <div class="Grid-Column Text">
    <p>2018年度には新東京郵便（東京都）局の構内で、運転手が乗車しない完全無人の「レベル4」の実験を行いました。模擬ゆうパックを載せ、新東京郵便局内約1.5kmのコースを最大時速20kmで走行しました。さらに安全性を確認したうえで実用化を目指しています。</p>
  </div>
</div>

<h2 class="Header" id="inovation">オープンイノベーションプログラムの実施</h2>
<div class="Section">
  <div class="Grid-Column Text">
    <p>2017年から郵便・物流サービスの改革を目的として、オープンイノベーションプログラム「POST LOGITECH INNOVATION PROGRAM」を開始し、AIを活用した配達業務支援システムの共同開発など、実際の業務改革につながる共創事例を生み出しています。<br />2021年9月からは、「郵便局の存在価値を再定義する」をテーマに、郵便局の金融サービスも対象テーマに加え、より幅広い領域でスタートアップとの協業を推進していきます。</p>
  </div>
</div>

<h2 class="Header" id="ai">AIによる配達業務の効率化</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img src="/sustainability/society/images/society_11.jpg" alt="実際の道路、配送環境に合わせた配送実験"></div>
  </div>
  <div class="Grid-Column Text">
    <p>2020年6月から、AIによる配達ルート自動生成などを活用した配達業務支援システムの試行を開始し、2022年3月までに最大で全国500局まで導入規模を拡大する予定です。</p>
    <p>物流のラストワンマイルである配達を担う「人」をAIなどの新しい技術で支援し、業務負荷の軽減、業務経験の浅い人でも簡単に配達できる仕組みづくりを行うことで、誰もが活躍できる配達業務の実現と、持続可能な郵便・物流サービスの確立を目指します。</p>
  </div>
</div>
<div class="Section List-General">
  <ul>
    <li><a href="/sustainability/society/local_communities/ai.html" class="Link"><span>配達業務支援システムについて</span></a></li>
  </ul>
</div>

<h2 class="Header" id="contribution">地方創生・地域社会への貢献に関する協定の締結</h2>
<div class="Section List-General">
  <p>日本郵便は、郵便局ネットワークを活用し、地域の課題を解決するために、地方公共団体の皆さまとさまざまな協定を締結しています。</p>
  <ul>
      <li><a href="https://www.post.japanpost.jp/about/csr/society/topics/" class="Link Popup"><span>地方公共団体との連携</span></a>-日本郵便</li>
  </ul>
</div>

<h2 class="Header" id="administration">郵便局における行政サービスの提供</h2>
<div class="Section">
  <p>日本郵便では、一部の郵便局の窓口において、地方公共団体から委託を受けて、戸籍謄本や住民票の写しなど各種証明書の交付、公営バス回数券の販売などの事務を行っています。<br>2021年7月末現在、約330の地方公共団体から事務を受託し、約5,000か所の郵便局で実施しています。</p>
</div>

<h2 class="Header" id="jr">地域社会の活性化に向けた取り組みの強化を目的とした東日本旅客鉄道株式会社との連携協定の締結</h2>
<div class="Section List-General">
  <p>日本郵便は、地域社会の活性化に向けた取り組みを強化するため、東日本旅客鉄道株式会社（JR東日本）と連携協定を締結しています。地域社会に根差した活動を行う両社が、それぞれの持つネットワークを連携して活かしていくことで、地域内外の活発な交流の促進による地域社会の活性化を目指しています。</p>
  <ul>
    <li><a href="/sustainability/society/local_communities/jr.html" class="Link"><span>JR東日本との連携</span></a></li>
  </ul>
</div>

<h2 class="Header" id="bank">各金融機関との連携</h2>
<div class="Section">
  <p>日本郵便は、地域のお客さまの利便性向上に向けて、他の金融機関のサービスの一部を郵便局でもご利用いただけるよう、各金融機関との連携を進めています。今後も、地域の皆さまの生活を総合的にサポートできるよう取り組んでまいります。</p>
</div>

<div class="Section Table-Border">
  <div class="Text-Right">2021年9月1日現在</div>
  <table>
    <colgroup>
      <col style="width: 30%;">
      <col style="width: 13%;">
      <col style="width: 48%;">
    </colgroup>
    <thead>
      <tr>
        <th class="BG-Gray Text-Center" scope="col">郵便局名　※実施順</th>
        <th class="BG-Gray Text-Center" scope="col">金融機関等</th>
        <th class="BG-Gray Text-Center" scope="col">連携概要</th>
      </tr>
    </thead>
    <tbody class="Text-Indent">
      <tr>
        <td>上椎葉郵便局<span class="spnone">　</span>（宮崎県東臼杵郡）</td>
        <td>宮崎銀行</td>
        <td><ul class="List-Disc mb00"><li>郵便局内に宮崎銀行ATMコーナーを設置。</li></ul></td>
      </tr>
      <tr>
        <td>高岡郵便局<span class="spnone">　　</span>（富山県高岡市）</td>
        <td>富山銀行</td>
        <td><ul class="List-Disc mb00"><li>郵便局内に富山銀行ATMコーナーを設置。</li></ul></td>
      </tr>
      <tr>
        <td>黒滝郵便局<span class="spnone">　　</span>（奈良県吉野郡）<br>
          奈良青山郵便局（奈良県奈良市）<br>
          耳成郵便局<span class="spnone">　　</span>（奈良県橿原市）<br>
          粉河郵便局<span class="spnone">　　</span>（和歌山県紀の川市）<br />
          下北山郵便局<span class="spnone">　</span>（奈良県吉野郡）<br />
          折立郵便局<span class="spnone">　　</span>（奈良県吉野郡）</td>
        <td>南都銀行<br>日本ATM</td>
        <td>
          <ul class="List-Disc">
            <li>郵便局内に南都銀行ATMコーナーを設置。</li>
            <li>郵便局窓口において南都銀行口座の住所変更など、手続事務の受付・取次を行うサービスを実施（黒滝郵便局、下北山郵便局、折立郵便局）。</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>大根島郵便局<span class="spnone">　</span>（島根県松江市）<br>
          日原郵便局<span class="spnone">　　</span>（島根県鹿足郡）<br>
          雲城郵便局<span class="spnone">　　</span>（島根県浜田市）<br>
          丹比郵便局<span class="spnone">　　</span>（鳥取県八頭郡）<br>
          口羽郵便局<span class="spnone">　　</span>（島根県邑智郡）<br>
          佐田郵便局<span class="spnone">　　</span>（島根県出雲市）</td>
        <td>山陰合同銀行<br>日本ATM</td>
        <td><ul class="List-Disc"><li>郵便局窓口において山陰合同銀行口座の住所変更など、手続事務の受付・取次を行うサービスを実施。</li></ul></td>
      </tr>
      <tr>
        <td>
          一橋学園駅前郵便局（東京都小平市）<br>
          調布金子郵便局<span class="spnone">　</span>（東京都調布市）<br>
        </td>
        <td>きらぼし銀行</td>
        <td><ul class="List-Disc"><li>郵便局内にきらぼし銀行ATMコーナーを設置。</li></ul></td>
      </tr>
      <tr>
        <td>
          串本郵便局<span class="spnone">　　</span>（和歌山県東牟婁郡）<br>
          金屋郵便局<span class="spnone">　　</span>（和歌山県有田郡）<br>
        </td>
        <td>紀陽銀行</td>
        <td><ul class="List-Disc"><li>郵便局内に紀陽銀行ATMコーナーを設置。</li></ul></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.post.japanpost.jp/about/csr/society/index.html#01_05" class="Link Popup"><span>地域・社会の活性化に貢献する他企業との連携</span></a> - 日本郵便</li>
  </ul>
</div>

<h2 class="Header" id="my_number">マイナンバーカードの普及促進</h2>
<div class="Section">
  <p>日本郵便は、地域の利便性向上、マイナンバーカードの普及促進のため、2021年8月末現在、全国57か所の郵便局に「マルチコピー機（キオスク端末）」を設置しています。お客さま自身が、マイナンバーカードまたは住民基本台帳カードを利用して、マルチコピー機から直接、地方公共団体が発行する各種証明書を取得することができます。</p>
  <p class="Caption ind1em">※上記のほか、キオスク端末運用事務を有償で受託する施策も進めており、1か所の郵便局で地方公共団体から事務を受託したマルチコピー機を設置しています。</p>
</div>

<h2 class="Header" id="foreigner">外国人のお客さまに対するご案内の充実</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image Text-Center">
    <img src="/sustainability/society/images/society_12.jpg" alt="外国人のお客さまに対するご案内の充実">
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>外国人のお客さまに安心して郵便局をご利用いただけるよう、日本郵便では、全国約2万か所の郵便局で、タブレット端末を用いた多言語翻訳アプリを使用したご案内を行っています。<br />
        また、ゆうちょ銀行では、口座開設にあたりお客さまが窓口にお越しいただく前に、ご自宅のパソコン等でお手続きに必要な申込書類を作成できる16言語に対応したサービスをゆうちょ銀行Webサイトで提供しています。
      </p>
    </div>
  </div>
  <ul>
    <li><a href="https://www.post.japanpost.jp/about/csr/society/#07_02" class="Link Popup"><span>外国人のお客さまに対するご案内の充実</span></a> - 日本郵便</li>
  </ul>
</div>

<h2 class="Header" id="atm">16言語対応小型ATMの導入</h2>
<div class="Section">
  <p>ゆうちょ銀行は、2017年1月以降、ATMの形状をコンパクト化し、狭いスペースでも設置できる小型ATMを導入。全国のファミリーマート等に順次設置しています。小型ATMは、増加する訪日外国人ニーズに対応するため、海外発行カードによる現金引出しサービスにご利用時の16言語<sup>※</sup>対応などの機能を追加しています。</p>
  <p class="Caption">※小型ATMの対応する16言語<br />
    日本語、英語、中国語（簡体字）、中国語（繁体字）、韓国語、タイ語、マレー語、フィリピン語、インドネシア語、ベトナム語、フランス語、ドイツ語、ポルトガル語、スペイン語、ロシア語、アラビア語に対応。</p>
</div>

<h2 class="Header" id="infrastructure">日本型郵便インフラの海外輸出</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image Text-Center">
    <img src="/sustainability/society/images/society_13.jpg" alt="日本型郵便インフラの海外輸出">
  </div>
  <div class="Grid-Column Text">
    <p>世界において高品質<sup>※</sup>を誇る郵便サービスのノウハウや関連技術を、ミャンマー連邦共和国やベトナム社会主義共和国に提供し、現在、両国において日本型郵便インフラが活用されています。</p>
    <p class="Caption ind1em">※2020年、万国郵便連合（UPU）が発表した「郵便業務発展総合指数」で世界5位の評価。 </p>
  </div>
</div>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/sustainability/society/overseas_expansion.html"><span>日本型郵便インフラの海外輸出</span></a></li>
  </ul>
</div>

<h2 class="Header" id="market">地域産品の国内における販路拡大支援</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image Text-Center">
    <img src="/sustainability/society/images/society_14.jpg" alt="地域産品の国内における販路拡大支援">
  </div>
  <div class="Grid-Column Text">
    <p>日本郵便は、全国の郵便局窓口に、日本各地の地域産品を掲載したカタログやチラシを置いてお申し込みを受け付けています。<br />
      お客さまには、産地から直接新鮮な生鮮品や工芸品などの地域産品をお届けし、地域経済の活性化を支援しています。</p>
  </div>
</div>

<h2 class="Header" id="donation">「ふるさと応援寄附金事業（ふるさと納税）」のサポート</h2>
<div class="Section">
  <p>日本郵便は、グループ会社のリンベル株式会社等と連携して、地方公共団体からふるさと納税業務の受託を行っています。<br />
    また、子会社である株式会社郵便局物販サービスでは、ふるさと納税の寄附をされた方に送る返礼品について、その品物を提供する事業者の選定、契約、発注および精算業務を行っています。</p>
</div>

<h2 class="Header" id="artist">障がい者アーティストの支援</h2>
<div class="Section">
  <p>ゆうちょ銀行は、障がい者の自立支援の一助とするため、素晴らしい才能を持つ障がい者アーティストに、作品発表の機会を提供しています。</p>
  <ul>
    <li><a href="https://www.jp-bank.japanpost.jp/sustainability/social/community/connection/index.html" class="Link Popup"><span>障がい者アーティストの支援</span></a> - ゆうちょ銀行</li>
  </ul>
  <!-- end .Section -->
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
