<h2 class="Header" id="robot">これまでの配送ロボットの実証について</h2>

<div class="Section">
  <p>2018年度には福島県南相馬市および双葉郡浪江町において、2019年度には東京都の日本郵便本社オフィス内において、配送ロボットの実証を実施。周辺状況を認識し、自律的に目的地に移動する配送ロボットによるラストワンマイル<sup>※</sup>の配送実証を行うことで、その可能性を検証しました。</p>
  <p class="Caption ind1em">※物流分野における配送拠点からお客さまの手元に荷物が届くまでの区間。</p>
</div>

<h3 class="Header">実際の道路、配送環境に合わせた配送実験（2018年度）</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
      <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_04.jpg" alt="実際の道路、配送環境に合わせた配送実験"></div>
  </div>
  <div class="Grid-Column Text">
      <div class="Box">
          <p>福島県南相馬市および双葉郡浪江町において、実際の道路環境や配送環境に近い自動車学校および災害公営住宅での配送ロボットによる無人配送の可能性に関する実証実験を行いました。</p>
      </div>
  </div>
</div>

<h3 class="Header">ビル内での社内便配送試行（2019年度）</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
      <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_05.jpg" alt="ビル内での社内便配送試行"></div>
  </div>
  <div class="Grid-Column Text">
      <div class="Box">
          <p>日本郵便本社オフィス（東京都）内において、配送ロボットがエレベーターと連動してフロア間を移動することによる社内便の配送の試行を行いました。</p>
      </div>
  </div>
</div>

<h3 class="Header">日本国内初、公道での実証実験（2020年度）</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
      <div class="Image Text-Center"><img src="/sustainability/society/images/society_02.jpg" alt="配送ロボット" style="width: 300px;"></div>
  </div>
  <div class="Grid-Column Text">
      <div class="Box">
          <p>東京都千代田区内の東京逓信病院から麹町郵便局間を走行する、公道での実証実験を日本国内で初めて実施しました。</p>
      </div>
  </div>
</div>

<h3 class="Header">オートロックシステム付きマンション内での配送試行（2020年度）</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
      <div class="Image Text-Center"><img src="/sustainability/society/images/mobility_img_10.jpg" alt="配送ロボット" style="width: 300px;"></div>
  </div>
  <div class="Grid-Column Text">
      <div class="Box">
          <p>オートロックシステム付きマンション（千葉県）内にて、複数台の配送ロボットがエレベーターおよび運行管理システムと連携して荷物を配送する実証実験を行いました。</p>
      </div>
  </div>
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
