<div id="title_box">
  <div id="csr_main_img_human">
    <h1>人権尊重・労働</h1>
  </div>
</div>
<!-- /#title_box-->

<h2 id="human_rights" class="Header">人権尊重に関する取り組み</h2>
<div class="Section">
  <p>日本郵政グループは、持続可能な社会の実現に向けて、グループの事業活動に関わるすべての人々の人権尊重が不可欠であると認識しています。そのため、2019年4月に、国連「ビジネスと人権に関する指導原則」などに基づき、「日本郵政グループ人権方針」を策定しました。また、グループ行動憲章では、多様なステークホルダーとの対話を重視し、持続的な共生を目指すとともに、人権を尊重し、安全で働きやすい職場環境を確保することを掲げています。<br>
    日本郵政グループは、グループ全体で人権尊重の取り組みを推進していきます。</p>
    <ul>
      <li><a class="Link" href="/sustainability/sustainability_management/human_rights.html"><span>日本郵政グループ人権方針</span></a></li>
    </ul>
<!-- end .Section --></div>

<h3 class="Header">児童労働および強制労働の防止</h3>
<div class="Section">
  <p>日本郵政グループは、従業員の採用時には年齢確認を行い、児童労働を防止しています。<br>
    また、雇い入れについては、本人の応募に基づいた採用を行っているほか、雇入労働条件通知書を交付して事前に労働条件を明示し、退職については、従業員からの退職の申出日から14日を経過すれば退職となることを就業規則に明示するなど、退職の自由も保障し、意思に反する強制労働を防止しています。</p>
  <ul>
    <li><a class="Link Popup" href="https://www.tollgroup.com/about/policies-procedures/modern-slavery-act-statement"><span>トール社：英国現代奴隷法に関する声明</span></a></li>
  </ul>
<!-- end .Section --></div>

<h3 class="Header">ハラスメントの根絶</h3>
<div class="Section">
  <p>日本郵政グループでは、ハラスメントに関するトップメッセージの発信、全社員を対象とした周知・啓発、実例を扱った管理者研修の実施や冊子の配布等のほか、信頼できる相談態勢として、社内外にハラスメントに関する相談窓口を設置するなど、ハラスメント根絶に向けた取り組みを行っています。<br />また、2021年1月のJP改革実行委員会の検証報告書を踏まえ、徹底した相談者保護を実施するとともに「ワンストップ相談・通報プラットフォーム」の構築や、十分な調査スキルを持った担当者が調査に当たる態勢の再構築を行っています。</p>
</div>

<h2 id="labor" class="Header">労働に関する取り組み</h2>
<h3 class="Header">環境変化に対応した人事諸制度の実現</h3>
<div class="Section">
  <p>日本郵政グループでは、事業環境の急激な変化を踏まえ、事業の将来像を見据えた労働力構成の見直しや同一労働同一賃金関連法令等への対応を行っています。また、社員の処遇についても、期間雇用社員から正社員への登用の継続実施、より一層の処遇改善や、シンプルでより納得性の高い給与制度の実現に向けた取り組みを行います。</p>
</div>

<h3 class="Header">労働時間削減の取り組み</h3>
<div class="Section">
  <p>日本郵政グループは、36協定等労働時間に関する法令を順守し、過度な労働時間を削減する方針を掲げています。この方針のもと、従業員一人ひとりが持てる能力を存分に発揮し、いきいきと働くために、各事業場における労働時間の適正管理に取り組むとともに、業務の効率化や職場風土改革による時間外労働削減に向けた各種取り組みを実施しています。</p>
</div>

<h3 class="Header">労働安全衛生法令の順守</h3>
<div class="Section">
  <p>日本郵政グループは、既存の事業運営において、労働安全衛生法令を順守し法令違反が起きないよう常時管理および確認を徹底しています。また、新会社の設立またはM&Aにおいても、労働安全衛生法を順守し法令違反が起きないような体制を構築しているか確認を行っています。</p>
</div>

<h3 class="Header">賃金水準の向上</h3>
<div class="Section">
  <p>日本郵政グループは、健康で文化的な最低限度の生活（日本国憲法第25条）がおくれるよう、労働法令を順守し、すべての従業員に対し、地域ごとの最低賃金を上回る賃金を支払うことを基本方針としています。<br>
  また、すべての地域の従業員がより豊かな生活がおくれるよう、これまでも賃金水準の改善を進めてきているところですが、今後とも改善に努めてまいります。</p>
<!-- end .Section --></div>

<h3 class="Header">労働法令の順守</h3>
<div class="Section">
  <p>日本郵政グループは、既存の事業運営において、労働法令を順守し法令違反が起きないよう常時管理および確認を徹底しています。また、新会社の設立またはM&amp;Aにおいても、労働法令を順守し法令違反が起きないような体制を構築しているか確認を行っています。</p>
<!-- end .Section --></div>

<h3 class="Header">労使関係</h3>
<div class="Section">
  <p>日本郵政グループは、日本国憲法・労働組合法に則り、労働者の権利（団結する権利および団体交渉その他の団体行動をする権利）を尊重しています。<br>
  日本郵政グループでは、日本郵政グループ労働組合等の労働組合が組織されており、社員の賃金や労働時間を含めたさまざまな労働条件について、労使対等の立場で団体交渉を行っています。</p>
<!-- end .Section --></div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
