<div id="sdgs">
<h1 class="Header"><span>SDGs Bookのご紹介</span></h1>
<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image">
<div class="Image"><a href="/sustainability/sdgs/pdf/sdgsbook2020_pr.pdf" title="PDFファイルを表示します" target="_blank"><img src="/sustainability/images/index_img_sdgsbook2020.png" alt="（画像）日本郵政グループ SDGs Book 2020" height="299" width="212" style="max-width: 100%;"></a></div>
<!-- end .Grid-Column.Image --></div>

<div class="Grid-Column Text"><p>日本郵政グループと社会の持続可能性との関係やグループが事業を通じてSDGsに取り組む意義、具体的な取り組み事例などを詳しく紹介しています。</p>

<h2 id="download" class="Header mt30"><span>PDF版ダウンロード</span></h2>
<div class="Section">
<dl>
<dt>2020年11月発行</dt>
<dd>
<ul>
  <li><a href="/sustainability/sdgs/pdf/sdgsbook2020.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ SDGs Book</span></a>［PDF：7,724kバイト］</li>
  <li><a href="/sustainability/sdgs/pdf/sdgsbook2020_pr.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ SDGs Book</span></a>［PDF：11,484kバイト］<b>印刷用はこちら</b></li>
  <p>※PDF版のQRコード部分をクリックすると、関連動画・Webページにジャンプします。<b>（QRコードは㈱デンソーウェーブの登録商標です。）</p>
</ul>
</dd>
<dt class="mt20">2019年11月発行 バックナンバー</dt>
<dd>
<ul>
  <li><a href="/sustainability/sdgs/pdf/sdgsbook2019.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ SDGs Book</span></a>［PDF：9,140kバイト］</li>
  <li><a href="/sustainability/sdgs/pdf/sdgsbook2019_pr.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ SDGs Book</span></a>［PDF：10,986kバイト］<b>印刷用はこちら</b></li>
</ul>
</dd>
<dt class="mt20">2018年10月発行 バックナンバー</dt>
<ul><li><a href="/sustainability/report/pdf/sdgs_book_2018.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ SDGs Book</span></a>［PDF：11,911kバイト］</li></ul>
</dl>
<!-- end .Section --></div>
<div class="Section Link-Plugin">
<p class="Banner"><a href="http://get.adobe.com/jp/reader/" title="別ウィンドウで表示します" target="_blank"><img src="https://www.japanpost.jp/cmn/images/plugin_acrobat.gif" alt="Adobe Readerのダウンロード" height="33" width="112"></a></p>
<p class="Caution">※ 注意：このサービスをご利用になるにはAdobe Reader（無料）が必要です。お持ちでない方は左のボタンをクリックしてダウンロードしてください。</p>
<!-- end .Section.Link-Plugin --></div><!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>
    

<section>
  <div class="sp_col2 pc_pr40 pc_pl40 sp_pr20 sp_pl20 mt40 mb40">
    <div class="imgBox pc_mr40 sp_mb20 sp_pr30"><img src="/sustainability/sdgs/images/sdgs_01_img_01.png" alt="sdgsナビゲーターのご紹介"></div>
    <div class="txtBox"><p>「日本郵政グループ女子陸上部」は、駅伝を中心とした中長距離選手の育成支援と同時に、スポーツ活動を通じた地域社会への貢献を目指しています。<br>「手紙をお届けする郵便」と「たすきをつなぐ駅伝」、そして「未来へたすきをつなぐ取り組みであるSDGs」との親和性から、『SDGs BOOK』のナビゲーターのモチーフにしました。<br>「<strong class=" typesquare_option">皆（みな）</strong>で<strong class=" typesquare_option">みらい</strong>へ<strong class=" typesquare_option">たすき</strong>を<strong class=" typesquare_option">つなぐ</strong>」という日本郵政グループの思いが、それぞれのキャラクターの名前の由来となっています。</p></div>
  </div>
</section>
<section class="sdgs_01_bk">
<div class="pc_p60 pc_pb20 sp_pt40 sp_pr20 sp_pl20">
  <div class="mb20"><h2><img src="/sustainability/sdgs/images/sdgs_01_2_title.png" alt="SDGs達成に向けた取り組み"></h2></div>
  <div><p>日本郵政グループと社会の持続可能性との関係やグループが事業を通じてSDGsに取り組む意義、具体的な取り組み事例などを詳しく紹介しています。</p></div>
</div>

<div class="sdgs_01_btn_wrap sp_pt40">
  <a href="/sustainability/sustainability_management/sdgs/">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_yusei.png" alt="日本郵政グループのご紹介[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_yusei_sp.png" alt="日本郵政グループのご紹介[SP画像]" class="pcnone">
  </a>
  <a href="/sustainability/sustainability_management/sdgs/sdgsbook_value.html">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_value.png" alt="価値創造プロセス[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_value_sp.png" alt="価値創造プロセス[SP画像]" class="pcnone">
  </a>
  <a href="/sustainability/sustainability_management/sdgs/sdgsbook_goal.html">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_sdgs.png" alt="日本郵政グループとSDGs[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_sdgs_sp.png" alt="日本郵政グループとSDGs[SP画像]" class="pcnone">
  </a>
  <a href="/sustainability/sustainability_management/sdgs/society.html">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_social.png" alt="日本郵政グループの取り組み紹介・社会[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_social_sp.png" alt="日本郵政グループの取り組み紹介・社会[SP画像]" class="pcnone">
  </a>
  <a href="/sustainability/sustainability_management/sdgs/environment.html">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_environment.png" alt="日本郵政グループの取り組み紹介・環境[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_environment_sp.png" alt="日本郵政グループの取り組み紹介・環境[SP画像]" class="pcnone">
  </a>
  <a href="/sustainability/sustainability_management/sdgs/employee.html">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_people.png" alt="日本郵政グループの取り組み紹介・人[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_people_sp.png" alt="日本郵政グループの取り組み紹介・人[SP画像]" class="pcnone">
  </a>
  <a href="/sustainability/sustainability_management/sdgs/action_post.html">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_action.png" alt="チームJPわたしたちのSDGsアクション[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_action_sp.png" alt="チームJPわたしたちのSDGsアクション[SP画像]" class="pcnone">
  </a>
  <a href="/sustainability/sustainability_management/sdgs/extra.html">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_extra.png" alt="日本郵政グループ×SDGs[PC画像]" class="spnone">
    <img src="/sustainability/sdgs/images/sdgs_01_btn_extra_sp.png" alt="日本郵政グループ×SDGs[SP画像]" class="pcnone">
  </a>
</div>

<div class="navigationArea">
  <div class="navi_noCol"></div>
  <div class="navi_comment_top"><p>SDGsBookの一部をご紹介します！</p></div>
  <div class="nextLink next"><a href="/sustainability/sustainability_management/sdgs/" class="yusei">日本郵政グループのご紹介</a></div>
</div>
</section>

<h2 class="Header mt20">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>

<!-- /#sdgs_index --></div>

