<div id="data_index">
  <div id="title_box">
      <div id="csr_main_img_report">
          <h1>ESGデータ集（社会）</h1>
      </div>
  </div>
  <!-- /#title_box-->

  <div class="Section">
      <p class="Category Lead">日本郵政グループのESG関連の実績データをまとめています。</p>

      <div class="mod-tab pure-g mb50">
        <a href="/sustainability/library/data/" class="mod-tab-item-sus bottom-u-layer pure-u-md-1-2 pure-u-1-3">環境</a>
        <span class="mod-tab-item-sus bottom-u-layer pure-u-md-1-2 pure-u-1-3 is-active">社会</span>
        <a href="/sustainability/library/data/governance/" class="mod-tab-item-sus bottom-u-layer bottom-md-layer pure-u-md-1-2 pure-u-1-3">ガバナンス</a>
      </div>
      
      <div class="List-Horizontal">
          <ul>
              <li><a class="Link Inner" href="#employee">従業員数、非正規社員比率、採用数、新卒社員定着率に関するデータ</a></li>
              <li><a class="Link Inner" href="#work">育児休業・介護休業、時間外労働削減状況に関するデータ</a></li>
              <li><a class="Link Inner" href="#safety">労働災害発生状況に関するデータ</a></li>
              <li><a class="Link Inner" href="#women">女性管理職比率、女性役員比率、有給休暇取得率等のデータ</a></li>
              <li><a class="Link Inner" href="#transport">運輸にかかる安全研修の実施に関するデータ</a></li>
          </ul>
          <!-- end .Section.List-Horizontal -->
      </div>
      <!-- end .Section -->
  </div>

  <h2 id="employment" class="Header">雇用に関するデータ</h2>
  <h3 id="employee" class="Header">従業員数、非正規社員比率、採用数、新卒社員定着率に関するデータ</h3>

  <div class="Section Table-Border">

      <p>私たち日本郵政グループは、全国約24,000の郵便局ネットワークを通じて、お客さまと地域社会に寄り添い、暮らしを支える商品・サービスを提供するため、また、地域雇用の促進により地域経済の発展・活性化に貢献するため、全国各地に40万人以上の従業員を雇用しています。<br>
          私たちの事業活動に関わるすべての人々の人権を尊重するとともに、安全で働きやすい職場環境を確保すること、個々の自主性や創造性を発揮できる豊かな職場づくりを目指すことをCSRの主要テーマの一つに掲げ、ディーセント・ワークの実現に取り組んでまいります。</p>

      <p class="cap"><span class="title"><strong>1.従業員数・非正規社員比率</strong>（各年度3月31日時点）</span><span class="unit">（人）</span></p>
      <div class="Table-Wrapper">
          <table class="data">
              <tr>
                  <th class="BG-Gray" scope="col" colspan="4">&nbsp;</th>
                  <th class="BG-Gray" scope="col"><span>2016</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2017</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2018</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2019</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2020</span><span>年度</span></th>
              </tr>
              <tr>
                  <td class="col01" rowspan="15">正社員数</td>
                  <td class="col02 red" rowspan="15"></td>
                  <td class="col03 red" rowspan="3">日本郵政グループ</td>
                  <td class="col04 red">男性</td>
                  <td class="col06 red">168,147</td>
                  <td class="col07 red">165,924</td>
                  <td class="col08 red">164,072</td>
                  <td class="col09 red">162,703</td>
                  <td class="col09 red">162,183</td>
              </tr>
              <tr>
                  <td class="col04 red">女性</td>
                  <td class="col06 red">50,245</td>
                  <td class="col07 red">50,907</td>
                  <td class="col08 red">51,340</td>
                  <td class="col09 red">52,700</td>
                  <td class="col09 red">54,751</td>
              </tr>
              <tr>
                  <td class="col04 red">合計</td>
                  <td class="col06 red">218,392</td>
                  <td class="col07 red">216,831</td>
                  <td class="col08 red">215,412</td>
                  <td class="col09 red">215,403</td>
                  <td class="col09 red">216,934</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵政</td>
                  <td class="col04">男性</td>
                  <td class="col06">1,390</td>
                  <td class="col07">1,242</td>
                  <td class="col08">1,126</td>
                  <td class="col09">1,058</td>
                  <td class="col09">1,056</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">1,371</td>
                  <td class="col07">1,180</td>
                  <td class="col08">980</td>
                  <td class="col09">973</td>
                  <td class="col09">983</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">2,761</td>
                  <td class="col07">2,422</td>
                  <td class="col08">2,106</td>
                  <td class="col09">2,031</td>
                  <td class="col09">2,039</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵便</td>
                  <td class="col04">男性</td>
                  <td class="col06">154,457</td>
                  <td class="col07">152,512</td>
                  <td class="col08">151,064</td>
                  <td class="col09">150,073</td>
                  <td class="col09">149,720</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">40,785</td>
                  <td class="col07">41,398</td>
                  <td class="col08">41,825</td>
                  <td class="col09">43,184</td>
                  <td class="col09">45,122</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">195,242</td>
                  <td class="col07">193,910</td>
                  <td class="col08">192,889</td>
                  <td class="col09">193,257</td>
                  <td class="col09">194,842</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">ゆうちょ銀行</td>
                  <td class="col04">男性</td>
                  <td class="col06">7,978</td>
                  <td class="col07">7,869</td>
                  <td class="col08">7,575</td>
                  <td class="col09">7,302</td>
                  <td class="col09">7,174</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">4,987</td>
                  <td class="col07">5,140</td>
                  <td class="col08">5,225</td>
                  <td class="col09">5,175</td>
                  <td class="col09">5,234</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">12,965</td>
                  <td class="col07">13,009</td>
                  <td class="col08">12,800</td>
                  <td class="col09">12,477</td>
                  <td class="col09">12,408</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">かんぽ生命</td>
                  <td class="col04">男性</td>
                  <td class="col06">4,322</td>
                  <td class="col07">4,301</td>
                  <td class="col08">4,307</td>
                  <td class="col09">4,270</td>
                  <td class="col09">4,233</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">3,102</td>
                  <td class="col07">3,189</td>
                  <td class="col08">3,310</td>
                  <td class="col09">3,368</td>
                  <td class="col09">3,412</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">7,424</td>
                  <td class="col07">7,490</td>
                  <td class="col08">7,617</td>
                  <td class="col09">7,638</td>
                  <td class="col09">7,645</td>
              </tr>
              <tr>
                  <td class="col01" rowspan="15" style="padding-top: 5px;">非正規<br>社員数<sup>（※1）</sup></td>
                  <td class="col02 red" rowspan="15"></td>
                  <td class="col03 red" rowspan="3">日本郵政グループ</td>
                  <td class="col04 red">男性</td>
                  <td class="col06 red">105,145</td>
                  <td class="col07 red">103,618</td>
                  <td class="col08 red">101,538</td>
                  <td class="col09 red">96,983</td>
                  <td class="col09 red">94,139</td>
              </tr>
              <tr>
                  <td class="col04 red">女性</td>
                  <td class="col06 red">100,159</td>
                  <td class="col07 red">99,620</td>
                  <td class="col08 red">100,877</td>
                  <td class="col09 red">96,460</td>
                  <td class="col09 red">92,707</td>
              </tr>
              <tr>
                  <td class="col04 red">合計</td>
                  <td class="col06 red">205,304</td>
                  <td class="col07 red">203,238</td>
                  <td class="col08 red">202,415</td>
                  <td class="col09 red">193,443</td>
                  <td class="col09 red">186,846</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵政</td>
                  <td class="col04">男性</td>
                  <td class="col06">1,118</td>
                  <td class="col07">1,081</td>
                  <td class="col08">1,076</td>
                  <td class="col09">826</td>
                  <td class="col09">791</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">2,678</td>
                  <td class="col07">2,343</td>
                  <td class="col08">2,396</td>
                  <td class="col09">1,794</td>
                  <td class="col09">1,649</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">3,796</td>
                  <td class="col07">3,424</td>
                  <td class="col08">3,472</td>
                  <td class="col09">2,620</td>
                  <td class="col09">2,440</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵便</td>
                  <td class="col04">男性</td>
                  <td class="col06">102,383</td>
                  <td class="col07">100,955</td>
                  <td class="col08">98,919</td>
                  <td class="col09">94,623</td>
                  <td class="col09">91,871</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">90,946</td>
                  <td class="col07">91,361</td>
                  <td class="col08">92,934</td>
                  <td class="col09">89,667</td>
                  <td class="col09">86,388</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">193,329</td>
                  <td class="col07">192,316</td>
                  <td class="col08">191,853</td>
                  <td class="col09">184,290</td>
                  <td class="col09">178,259</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">ゆうちょ銀行<sup>（※2）</sup></td>
                  <td class="col04">男性</td>
                  <td class="col06">806</td>
                  <td class="col07">787</td>
                  <td class="col08">761</td>
                  <td class="col09">764</td>
                  <td class="col09">745</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">4,266</td>
                  <td class="col07">3,863</td>
                  <td class="col08">3,579</td>
                  <td class="col09">3,203</td>
                  <td class="col09">2,987</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">5,072</td>
                  <td class="col07">4,650</td>
                  <td class="col08">4,340</td>
                  <td class="col09">3,967</td>
                  <td class="col09">3,732</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">かんぽ生命</td>
                  <td class="col04">男性</td>
                  <td class="col06">838</td>
                  <td class="col07">795</td>
                  <td class="col08">782</td>
                  <td class="col09">770</td>
                  <td class="col09">732</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">2,269</td>
                  <td class="col07">2,053</td>
                  <td class="col08">1,968</td>
                  <td class="col09">1,796</td>
                  <td class="col09">1,683</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">3,107</td>
                  <td class="col07">2,848</td>
                  <td class="col08">2,750</td>
                  <td class="col09">2,566</td>
                  <td class="col09">2,415</td>
              </tr>
              <tr>
                  <td class="col01" rowspan="15">非正規<br>社員比率</td>
                  <td class="col02 red" rowspan="15"></td>
                  <td class="col03 red" rowspan="3">日本郵政グループ</td>
                  <td class="col04 red">男性</td>
                  <td class="col06 red">38.5%</td>
                  <td class="col07 red">38.4%</td>
                  <td class="col08 red">38.2%</td>
                  <td class="col09 red">37.3%</td>
                  <td class="col09 red">36.7%</td>
              </tr>
              <tr>
                  <td class="col04 red">女性</td>
                  <td class="col06 red">66.6%</td>
                  <td class="col07 red">66.2%</td>
                  <td class="col08 red">66.3%</td>
                  <td class="col09 red">64.7%</td>
                  <td class="col09 red">62.9%</td>
              </tr>
              <tr>
                  <td class="col04 red">合計</td>
                  <td class="col06 red">48.5%</td>
                  <td class="col07 red">48.4%</td>
                  <td class="col08 red">48.4%</td>
                  <td class="col09 red">47.3%</td>
                  <td class="col09 red">46.3%</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵政</td>
                  <td class="col04">男性</td>
                  <td class="col06">44.6%</td>
                  <td class="col07">46.5%</td>
                  <td class="col08">48.9%</td>
                  <td class="col09">43.8%</td>
                  <td class="col09">42.8%</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">66.1%</td>
                  <td class="col07">66.5%</td>
                  <td class="col08">71.0%</td>
                  <td class="col09">64.8%</td>
                  <td class="col09">62.7%</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">57.9%</td>
                  <td class="col07">58.6%</td>
                  <td class="col08">62.2%</td>
                  <td class="col09">56.3%</td>
                  <td class="col09">54.5%</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵便</td>
                  <td class="col04">男性</td>
                  <td class="col06">39.9%</td>
                  <td class="col07">39.8%</td>
                  <td class="col08">39.6%</td>
                  <td class="col09">38.7%</td>
                  <td class="col09">38.0%</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">69.0%</td>
                  <td class="col07">68.8%</td>
                  <td class="col08">69.0%</td>
                  <td class="col09">67.5%</td>
                  <td class="col09">65.7%</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">49.8%</td>
                  <td class="col07">49.8%</td>
                  <td class="col08">49.9%</td>
                  <td class="col09">48.8%</td>
                  <td class="col09">47.8%</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">ゆうちょ銀行<sup>（※2）</sup></td>
                  <td class="col04">男性</td>
                  <td class="col06">9.2%</td>
                  <td class="col07">9.1%</td>
                  <td class="col08">9.1%</td>
                  <td class="col09">9.5%</td>
                  <td class="col09">9.4%</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">46.1%</td>
                  <td class="col07">42.9%</td>
                  <td class="col08">40.7%</td>
                  <td class="col09">38.2%</td>
                  <td class="col09">36.3%</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">28.1%</td>
                  <td class="col07">26.3%</td>
                  <td class="col08">25.3%</td>
                  <td class="col09">24.1%</td>
                  <td class="col09">23.1%</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">かんぽ生命</td>
                  <td class="col04">男性</td>
                  <td class="col06">16.2%</td>
                  <td class="col07">15.6%</td>
                  <td class="col08">15.4%</td>
                  <td class="col09">15.3%</td>
                  <td class="col09">14.7%</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">42.2%</td>
                  <td class="col07">39.2%</td>
                  <td class="col08">37.3%</td>
                  <td class="col09">34.8%</td>
                  <td class="col09">33.0%</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">29.5%</td>
                  <td class="col07">27.5%</td>
                  <td class="col08">26.5%</td>
                  <td class="col09">25.1%</td>
                  <td class="col09">24.0%</td>
              </tr>
          </table>
      </div>

      <ol class="tableNote">
          <li>非正規社員数は、各年度３月期の雇用実績であり、あたま数の人数である。</li>
          <li>ゆうちょ銀行の非正規社員数は、海外駐在所勤務を含まない。</li>
      </ol>
      <!-- end 従業員数・非正規社員比率 -->
      <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>
  </div>


  <div class="Section Table-Border">
      <p class="cap"><span class="title"><strong>2.地域別従業員数（正社員+非正規社員）</strong>（各年度3月31日時点）</span><span class="unit">（人）</span></p>
          <div class="Table-Wrapper">
          <table class="data">
              <tr>
                  <th class="BG-Gray" scope="col" colspan="2"></th>
                  <th class="BG-Gray" scope="col"><span>2016</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2017</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2018</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2019</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2020</span><span>年度</span></th>
              </tr>
              <tr>
                  <td class="col03" rowspan="13">日本郵政グループ</td>
                  <td class="col04 red">北海道</td>
                  <td class="col06 red">21,539</td>
                  <td class="col07 red">21,345</td>
                  <td class="col08 red">21,297</td>
                  <td class="col09 red">20,950</td>
                  <td class="col09 red">20,428</td>
              </tr>
              <tr>
                  <td class="col04 red">東北</td>
                  <td class="col06 red">31,325</td>
                  <td class="col07 red">30,613</td>
                  <td class="col08 red">30,275</td>
                  <td class="col09 red">29,699</td>
                  <td class="col09 red">29,253</td>
              </tr>
              <tr>
                  <td class="col04 red">関東</td>
                  <td class="col06 red">59,610</td>
                  <td class="col07 red">59,333</td>
                  <td class="col08 red">59,160</td>
                  <td class="col09 red">57,914</td>
                  <td class="col09 red">57,153</td>
              </tr>
              <tr>
                  <td class="col04 red">東京</td>
                  <td class="col06 red">57,426</td>
                  <td class="col07 red">56,758</td>
                  <td class="col08 red">56,784</td>
                  <td class="col09 red">55,800</td>
                  <td class="col09 red">55,068</td>
              </tr>
              <tr>
                  <td class="col04 red">南関東</td>
                  <td class="col06 red">29,901</td>
                  <td class="col07 red">29,833</td>
                  <td class="col08 red">29,406</td>
                  <td class="col09 red">28,478</td>
                  <td class="col09 red">28,008</td>
              </tr>
              <tr>
                  <td class="col04 red">信越</td>
                  <td class="col06 red">15,039</td>
                  <td class="col07 red">14,845</td>
                  <td class="col08 red">14,739</td>
                  <td class="col09 red">14,454</td>
                  <td class="col09 red">14,342</td>
              </tr>
              <tr>
                  <td class="col04 red">北陸</td>
                  <td class="col06 red">10,545</td>
                  <td class="col07 red">10,456</td>
                  <td class="col08 red">10,332</td>
                  <td class="col09 red">10,136</td>
                  <td class="col09 red">10,186</td>
              </tr>
              <tr>
                  <td class="col04 red">東海</td>
                  <td class="col06 red">45,083</td>
                  <td class="col07 red">44,834</td>
                  <td class="col08 red">44,729</td>
                  <td class="col09 red">43,789</td>
                  <td class="col09 red">43,375</td>
              </tr>
              <tr>
                  <td class="col04 red">近畿</td>
                  <td class="col06 red">67,541</td>
                  <td class="col07 red">67,566</td>
                  <td class="col08 red">67,269</td>
                  <td class="col09 red">65,711</td>
                  <td class="col09 red">64,835</td>
              </tr>
              <tr>
                  <td class="col04 red">中国</td>
                  <td class="col06 red">25,940</td>
                  <td class="col07 red">25,718</td>
                  <td class="col08 red">25,589</td>
                  <td class="col09 red">24,881</td>
                  <td class="col09 red">24,523</td>
              </tr>
              <tr>
                  <td class="col04 red">四国</td>
                  <td class="col06 red">14,301</td>
                  <td class="col07 red">14,099</td>
                  <td class="col08 red">13,903</td>
                  <td class="col09 red">13,533</td>
                  <td class="col09 red">13,434</td>
              </tr>
              <tr>
                  <td class="col04 red">九州</td>
                  <td class="col06 red">41,584</td>
                  <td class="col07 red">40,815</td>
                  <td class="col08 red">40,464</td>
                  <td class="col09 red">39,705</td>
                  <td class="col09 red">39,386</td>
              </tr>
              <tr>
                  <td class="col04 red">沖縄</td>
                  <td class="col06 red">3,862</td>
                  <td class="col07 red">3,854</td>
                  <td class="col08 red">3,880</td>
                  <td class="col09 red">3,796</td>
                  <td class="col09 red">3,789</td>
              </tr>
          </table>
          </div>

      <ol class="tableNote02">
          <li>非正規社員数は、各年度3月期の雇用実績であり、あたま数の人数である。</li>
      </ol>
      <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>
  </div>

  <div class="printMgt"><span></span></div>

  <div class="Section Table-Border">
      <p class="cap"><span class="title"><strong>3.採用数・中途採用数（×比率）</strong></span><span class="unit">（人）</span></p>
          <div class="Table-Wrapper">
          <table class="data">
              <tr>
                  <th class="BG-Gray" scope="col" colspan="4"></th>
                  <th class="BG-Gray" scope="col"><span>2016</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2017</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2018</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2019</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2020</span><span>年度</span></th>
              </tr>
              <tr>
                  <td class="col01" rowspan="15">新卒採用数</td>
                  <td class="col02 red" rowspan="15"></td>
                  <td class="col03 red" rowspan="3">日本郵政グループ</td>
                  <td class="col04 red">男性</td>
                  <td class="col07 red">2,526</td>
                  <td class="col08 red">2,485</td>
                  <td class="col09 red">2,012</td>
                  <td class="col10 red">1,901</td>
                  <td class="col10 red">1,567</td>
              </tr>
              <tr>
                  <td class="col04 red">女性</td>
                  <td class="col07 red">2,999</td>
                  <td class="col08 red">2,669</td>
                  <td class="col09 red">2,527</td>
                  <td class="col10 red">2,626</td>
                  <td class="col10 red">2,665</td>
              </tr>
              <tr>
                  <td class="col04 red">合計</td>
                  <td class="col07 red">5,525</td>
                  <td class="col08 red">5,154</td>
                  <td class="col09 red">4,539</td>
                  <td class="col10 red">4,527</td>
                  <td class="col10 red">4,232</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵政</td>
                  <td class="col04">男性</td>
                  <td class="col07">16</td>
                  <td class="col08">8</td>
                  <td class="col09">11</td>
                  <td class="col10">13</td>
                  <td class="col10">16</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">17</td>
                  <td class="col08">15</td>
                  <td class="col09">12</td>
                  <td class="col10">24</td>
                  <td class="col10">13</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">33</td>
                  <td class="col08">23</td>
                  <td class="col09">23</td>
                  <td class="col10">37</td>
                  <td class="col10">29</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵便</td>
                  <td class="col04">男性</td>
                  <td class="col07">2,263</td>
                  <td class="col08">2,146</td>
                  <td class="col09">1,731</td>
                  <td class="col10">1,696</td>
                  <td class="col10">1,385</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">2,552</td>
                  <td class="col08">2,170</td>
                  <td class="col09">2,059</td>
                  <td class="col10">2,318</td>
                  <td class="col10">2,383</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">4,815</td>
                  <td class="col08">4,316</td>
                  <td class="col09">3,790</td>
                  <td class="col10">4,014</td>
                  <td class="col10">3,768</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">ゆうちょ銀行</td>
                  <td class="col04">男性</td>
                  <td class="col07">163</td>
                  <td class="col08">213</td>
                  <td class="col09">142</td>
                  <td class="col10">91</td>
                  <td class="col10">87</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">302</td>
                  <td class="col08">329</td>
                  <td class="col09">262</td>
                  <td class="col10">143</td>
                  <td class="col10">143</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">465</td>
                  <td class="col08">542</td>
                  <td class="col09">404</td>
                  <td class="col10">234</td>
                  <td class="col10">230</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">かんぽ生命</td>
                  <td class="col04">男性</td>
                  <td class="col07">84</td>
                  <td class="col08">118</td>
                  <td class="col09">128</td>
                  <td class="col10">101</td>
                  <td class="col10">79</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">128</td>
                  <td class="col08">155</td>
                  <td class="col09">194</td>
                  <td class="col10">141</td>
                  <td class="col10">126</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">212</td>
                  <td class="col08">273</td>
                  <td class="col09">322</td>
                  <td class="col10">242</td>
                  <td class="col10">205</td>
              </tr>
              <!-- end 新卒採用数 -->


              <tr>
                  <td class="col01" rowspan="15">中途採用数</td>
                  <td class="col02 red" rowspan="15"></td>
                  <td class="col03 red" rowspan="3">日本郵政グループ</td>
                  <td class="col04 red">男性</td>
                  <td class="col07 red">632</td>
                  <td class="col08 red">473</td>
                  <td class="col09 red">1,083</td>
                  <td class="col10 red">1,201</td>
                  <td class="col10 red">107</td>
              </tr>
              <tr>
                  <td class="col04 red">女性</td>
                  <td class="col07 red">221</td>
                  <td class="col08 red">182</td>
                  <td class="col09 red">157</td>
                  <td class="col10 red">416</td>
                  <td class="col10 red">81</td>
              </tr>
              <tr>
                  <td class="col04 red">合計</td>
                  <td class="col07 red">853</td>
                  <td class="col08 red">655</td>
                  <td class="col09 red">1,240</td>
                  <td class="col10 red">1,617</td>
                  <td class="col10 red">188</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵政</td>
                  <td class="col04">男性</td>
                  <td class="col07">31</td>
                  <td class="col08">30</td>
                  <td class="col09">31</td>
                  <td class="col10">24</td>
                  <td class="col10">18</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">136</td>
                  <td class="col08">107</td>
                  <td class="col09">83</td>
                  <td class="col10">60</td>
                  <td class="col10">61</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">167</td>
                  <td class="col08">137</td>
                  <td class="col09">114</td>
                  <td class="col10">84</td>
                  <td class="col10">79</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵便</td>
                  <td class="col04">男性</td>
                  <td class="col07">526</td>
                  <td class="col08">385</td>
                  <td class="col09">1,018</td>
                  <td class="col10">1,156</td>
                  <td class="col10">70</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">64</td>
                  <td class="col08">60</td>
                  <td class="col09">67</td>
                  <td class="col10">350</td>
                  <td class="col10">13</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">590</td>
                  <td class="col08">445</td>
                  <td class="col09">1,085</td>
                  <td class="col10">1,506</td>
                  <td class="col10">83</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">ゆうちょ銀行</td>
                  <td class="col04">男性</td>
                  <td class="col07">32</td>
                  <td class="col08">21</td>
                  <td class="col09">8</td>
                  <td class="col10">6</td>
                  <td class="col10">13</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">8</td>
                  <td class="col08">7</td>
                  <td class="col09">1</td>
                  <td class="col10">5</td>
                  <td class="col10">4</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">40</td>
                  <td class="col08">28</td>
                  <td class="col09">9</td>
                  <td class="col10">11</td>
                  <td class="col10">17</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">かんぽ生命</td>
                  <td class="col04">男性</td>
                  <td class="col07">43</td>
                  <td class="col08">37</td>
                  <td class="col09">26</td>
                  <td class="col10">15</td>
                  <td class="col10">6</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">13</td>
                  <td class="col08">8</td>
                  <td class="col09">6</td>
                  <td class="col10">1</td>
                  <td class="col10">3</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">56</td>
                  <td class="col08">45</td>
                  <td class="col09">32</td>
                  <td class="col10">16</td>
                  <td class="col10">9</td>
              </tr>
              <!-- end 中途採用数 -->

              <tr>
                  <td class="col01" rowspan="15">正社員登用数</td>
                  <td class="col02 red" rowspan="15"></td>
                  <td class="col03 red" rowspan="3">日本郵政グループ</td>
                  <td class="col04 red">男性</td>
                  <td class="col07 red">2,254</td>
                  <td class="col08 red">2,388</td>
                  <td class="col09 red">2,585</td>
                  <td class="col10 red">2,880</td>
                  <td class="col10 red">2,627</td>
              </tr>
              <tr>
                  <td class="col04 red">女性</td>
                  <td class="col07 red">714</td>
                  <td class="col08 red">689</td>
                  <td class="col09 red">831</td>
                  <td class="col10 red">922</td>
                  <td class="col10 red">830</td>
              </tr>
              <tr>
                  <td class="col04 red">合計</td>
                  <td class="col07 red">2,968</td>
                  <td class="col08 red">3,077</td>
                  <td class="col09 red">3,416</td>
                  <td class="col10 red">3,802</td>
                  <td class="col10 red">3,457</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵政</td>
                  <td class="col04">男性</td>
                  <td class="col07">3</td>
                  <td class="col08">2</td>
                  <td class="col09">1</td>
                  <td class="col10">19</td>
                  <td class="col10">1</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">8</td>
                  <td class="col08">4</td>
                  <td class="col09">7</td>
                  <td class="col10">22</td>
                  <td class="col10">6</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">11</td>
                  <td class="col08">6</td>
                  <td class="col09">8</td>
                  <td class="col10">41</td>
                  <td class="col10">7</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵便</td>
                  <td class="col04">男性</td>
                  <td class="col07">2,237</td>
                  <td class="col08">2,365</td>
                  <td class="col09">2,543</td>
                  <td class="col10">2,836</td>
                  <td class="col10">2,593</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">627</td>
                  <td class="col08">618</td>
                  <td class="col09">702</td>
                  <td class="col10">776</td>
                  <td class="col10">709</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">2,864</td>
                  <td class="col08">2,983</td>
                  <td class="col09">3,245</td>
                  <td class="col10">3,612</td>
                  <td class="col10">3,302</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">ゆうちょ銀行</td>
                  <td class="col04">男性</td>
                  <td class="col07">10</td>
                  <td class="col08">13</td>
                  <td class="col09">29</td>
                  <td class="col10">18</td>
                  <td class="col10">24</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">48</td>
                  <td class="col08">43</td>
                  <td class="col09">92</td>
                  <td class="col10">86</td>
                  <td class="col10">78</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">58</td>
                  <td class="col08">56</td>
                  <td class="col09">121</td>
                  <td class="col10">104</td>
                  <td class="col10">102</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">かんぽ生命</td>
                  <td class="col04">男性</td>
                  <td class="col07">4</td>
                  <td class="col08">8</td>
                  <td class="col09">12</td>
                  <td class="col10">7</td>
                  <td class="col10">9</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">31</td>
                  <td class="col08">24</td>
                  <td class="col09">30</td>
                  <td class="col10">38</td>
                  <td class="col10">37</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">35</td>
                  <td class="col08">32</td>
                  <td class="col09">42</td>
                  <td class="col10">45</td>
                  <td class="col10">46</td>
              </tr>
              <!-- end 正社員登用数 -->

              <tr>
                  <td class="col01" rowspan="15">中途採用比率<sup>（※1）</sup></td>
                  <td class="col02 red" rowspan="15"></td>
                  <td class="col03 red" rowspan="3">日本郵政グループ</td>
                  <td class="col04 red">男性</td>
                  <td class="col07 red">53.3%</td>
                  <td class="col08 red">53.5%</td>
                  <td class="col09 red">64.6%</td>
                  <td class="col10 red">68.2%</td>
                  <td class="col10 red">63.6%</td>
              </tr>
              <tr>
                  <td class="col04 red">女性</td>
                  <td class="col07 red">23.8%</td>
                  <td class="col08 red">24.6%</td>
                  <td class="col09 red">28.1%</td>
                  <td class="col10 red">33.8%</td>
                  <td class="col10 red">25.5%</td>
              </tr>
              <tr>
                  <td class="col04 red">合計</td>
                  <td class="col07 red">40.9%</td>
                  <td class="col08 red">42.0%</td>
                  <td class="col09 red">50.6%</td>
                  <td class="col10 red">54.5%</td>
                  <td class="col10 red">46.3%</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵政</td>
                  <td class="col04">男性</td>
                  <td class="col07">68.0%</td>
                  <td class="col08">80.0%</td>
                  <td class="col09">74.4%</td>
                  <td class="col10">76.8%</td>
                  <td class="col10">54.3%</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">89.4%</td>
                  <td class="col08">88.1%</td>
                  <td class="col09">88.2%</td>
                  <td class="col10">77.4%</td>
                  <td class="col10">83.8%</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">84.4%</td>
                  <td class="col08">86.1%</td>
                  <td class="col09">84.1%</td>
                  <td class="col10">77.2%</td>
                  <td class="col10">74.8%</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵便</td>
                  <td class="col04">男性</td>
                  <td class="col07">55.0%</td>
                  <td class="col08">56.2%</td>
                  <td class="col09">67.3%</td>
                  <td class="col10">70.2%</td>
                  <td class="col10">65.8%</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">21.3%</td>
                  <td class="col08">23.8%</td>
                  <td class="col09">27.2%</td>
                  <td class="col10">32.7%</td>
                  <td class="col10">23.3%</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">41.8%</td>
                  <td class="col08">44.3%</td>
                  <td class="col09">53.3%</td>
                  <td class="col10">56.0%</td>
                  <td class="col10">47.3%</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">ゆうちょ銀行</td>
                  <td class="col04">男性</td>
                  <td class="col07">20.5%</td>
                  <td class="col08">13.8%</td>
                  <td class="col09">20.7%</td>
                  <td class="col10">20.9%</td>
                  <td class="col10">29.8%</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">15.6%</td>
                  <td class="col08">13.2%</td>
                  <td class="col09">26.2%</td>
                  <td class="col10">38.9%</td>
                  <td class="col10">36.4%</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">17.4%</td>
                  <td class="col08">13.4%</td>
                  <td class="col09">24.3%</td>
                  <td class="col10">33.0%</td>
                  <td class="col10">34.1%</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">かんぽ生命</td>
                  <td class="col04">男性</td>
                  <td class="col07">35.9%</td>
                  <td class="col08">27.6%</td>
                  <td class="col09">22.9%</td>
                  <td class="col10">17.9%</td>
                  <td class="col10">16.0%</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col07">25.6%</td>
                  <td class="col08">17.1%</td>
                  <td class="col09">15.7%</td>
                  <td class="col10">21.7%</td>
                  <td class="col10">24.1%</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col07">30.0%</td>
                  <td class="col08">22.0%</td>
                  <td class="col09">18.7%</td>
                  <td class="col10">20.1%</td>
                  <td class="col10">21.2%</td>
              </tr>
              <!-- end 正社員登用数 -->

          </table>
          </div>
      <!-- end 採用数・中途採用数（×比率） -->
        <ol class="tableNote">
          <li>各年度中に正社員としての採用した数のうち、中途採用数と正社員登用数を合わせた割合</li>
      </ol>

       <div class="Table-Wrapper">
        <table class="womenTable">
          <colgroup>
            <col width="24%">
            <col width="19%">
            <col width="19%">
            <col width="19%">
            <col width="19%">
          </colgroup>
          <thead>
            <tr>
              <th class="BG-Gray" scope="col">項目</th>
              <th class="BG-Gray" scope="col">日本郵政</th>
              <th class="BG-Gray" scope="col">日本郵便</th>
              <th class="BG-Gray" scope="col">ゆうちょ銀行</th>
              <th class="BG-Gray" scope="col">かんぽ生命<sup>（※2）</sup></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="left">中途採用者のうち本社管理社員の割合<sup>（※1）</sup><br>
              （2021年4月1日時点）</td>
              <td>46.0%</td>
              <td>46.5%</td>
              <td>44.3%</td>
              <td>38.1%</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <ol class="tableNote">
        <li>中途採用者は、2007年10月1日以降に正社員として採用され、本社に所属している者。</li>
        <li>2021年4月1日現在、非正規社員である者は除く。</li>
      </ol>

    <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>
  </div>


  <div class="Section Table-Border">
      <p class="cap"><span class="title"><strong>4.新卒社員定着率<sup>（※1）</sup></strong></span></p>
          <div class="Table-Wrapper">
          <table class="data">
              <tr>
                  <th class="BG-Gray" scope="col" colspan="3"></th>
                  <th class="BG-Gray" scope="col"><span>2016</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2017</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2018</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2019</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2020</span><span>年度</span></th>
              </tr>
              <tr>
                  <td class="col02 red" rowspan="10"></td>
                  <td class="col03 red" rowspan="2"><span>日本郵政</span><span>グループ</span></td>
                  <td class="left red">在職者数（人）</td>
                  <td class="col07 red">1,784</td>
                  <td class="col08 red">4,630</td>
                  <td class="col09 red">4,158</td>
                  <td class="col10 red">3,871</td>
                  <td class="col10 red">3,587</td>
              </tr>
              <tr>
                  <td class="left red">新卒定着率（%）</td>
                  <td class="col07 red">80.0%</td>
                  <td class="col08 red">76.8%</td>
                  <td class="col09 red">75.3%</td>
                  <td class="col10 red">75.1%</td>
                  <td class="col10 red">79.0%</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="2">日本郵政</td>
                  <td class="left">在職者数（人）</td>
                  <td class="col07">17</td>
                  <td class="col08">26</td>
                  <td class="col09">28</td>
                  <td class="col10">20</td>
                  <td class="col10">18</td>
              </tr>
              <tr>
                  <td class="left">新卒定着率（%）</td>
                  <td class="col07">85.0%</td>
                  <td class="col08">89.7%</td>
                  <td class="col09">84.8%</td>
                  <td class="col10">87.0%</td>
                  <td class="col10">78.3%</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="2">日本郵便</td>
                  <td class="left">在職者数（人）</td>
                  <td class="col07">1,140</td>
                  <td class="col08">3,972</td>
                  <td class="col09">3,562</td>
                  <td class="col10">3,187</td>
                  <td class="col10">2,954</td>
              </tr>
              <tr>
                  <td class="left">新卒定着率（%）</td>
                  <td class="col07">76.1%</td>
                  <td class="col08">75.3%</td>
                  <td class="col09">74.0%</td>
                  <td class="col10">73.8%</td>
                  <td class="col10">77.9%</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="2">ゆうちょ銀行</td>
                  <td class="left">在職者数（人）</td>
                  <td class="col07">327</td>
                  <td class="col08">311</td>
                  <td class="col09">389</td>
                  <td class="col10">426</td>
                  <td class="col10">338</td>
              </tr>
              <tr>
                  <td class="left">新卒定着率（%）</td>
                  <td class="col07">85.4%</td>
                  <td class="col08">84.7%</td>
                  <td class="col09">83.7%</td>
                  <td class="col10">78.6%</td>
                  <td class="col10">83.7%</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="2">かんぽ生命</td>
                  <td class="left">在職者数（人）</td>
                  <td class="col07">300</td>
                  <td class="col08">321</td>
                  <td class="col09">179</td>
                  <td class="col10">238</td>
                  <td class="col10">277</td>
              </tr>
              <tr>
                  <td class="left">新卒定着率（%）</td>
                  <td class="col07">90.9%</td>
                  <td class="col08">89.7%</td>
                  <td class="col09">84.4%</td>
                  <td class="col10">87.2%</td>
                  <td class="col10">86.0%</td>
              </tr>

          </table>
          </div>
      <!-- end 新卒社員定着率 -->

      <ol class="tableNote">
          <li>各年度末（3月31日）をもって勤続3年となる新卒社員の在職者数（正社員）及び割合</li>
      </ol>
      <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>
  </div>


  <h3 id="work" class="Header">育児休業・介護休業、時間外労働削減状況に関するデータ</h3>

  <div class="Section Table-Border">

      <p>日本郵政グループは、ワーク・ライフ・バランスの実現を推進するための支援制度を活用しながら、男女を問わず多くの従業員が育児や介護と仕事の両立を実現しています。<br>
          また、従業員がそれぞれのライフステージに応じ多様な働き方の選択ができるよう、制度整備や職場風土づくりに取り組んでいます。<br>
          さらに、日本郵政グループ各社では、各事業場における労働時間の適正管理に取り組むとともに、業務の効率化などにょる時間外労働削減に向けた各種取り組みを行っています。</p>
      <div class="Table-Wrapper">
          <table class="data">
              <caption><strong>1.育児休業・介護休業の取得<sup>（※）</sup></strong></caption>
              <tr>
                  <th class="BG-Gray" scope="col" colspan="4"></th>
                  <th class="BG-Gray" scope="col"><span>2016</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2017</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2018</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2019</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2020</span><span>年度</span></th>
              </tr>
              <tr>
                  <td class="col01" rowspan="15"><span>育児休業</span><span>取得者数</span><sup>（※）</sup></td>
                  <td class="col02 red" rowspan="15"></td>
                  <td class="col03 red" rowspan="3"><span>日本郵政グループ</span></td>

                  <td class="col04 red"><span>男性</span></td>
                  <td class="col06 red">112</td>
                  <td class="col07 red">120</td>
                  <td class="col08 red">2,839</td>
                  <td class="col09 red">2,589</td>
                  <td class="col09 red">2,383</td>
              </tr>
              <tr>
                  <td class="col04 red">女性</td>
                  <td class="col06 red">1,739</td>
                  <td class="col07 red">1,758</td>
                  <td class="col08 red">1,705</td>
                  <td class="col09 red">1,720</td>
                  <td class="col09 red">1,684</td>
              </tr>
              <tr>
                  <td class="col04 red">合計</td>
                  <td class="col06 red">1,851</td>
                  <td class="col07 red">1,878</td>
                  <td class="col08 red">4,544</td>
                  <td class="col09 red">4,309</td>
                  <td class="col09 red">4,067</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵政</td>
                  <td class="col04">男性</td>
                  <td class="col06">3</td>
                  <td class="col07">2</td>
                  <td class="col08">16</td>
                  <td class="col09">9</td>
                  <td class="col09">13</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">60</td>
                  <td class="col07">46</td>
                  <td class="col08">31</td>
                  <td class="col09">41</td>
                  <td class="col09">27</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">63</td>
                  <td class="col07">48</td>
                  <td class="col08">47</td>
                  <td class="col09">50</td>
                  <td class="col09">40</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵便</td>
                  <td class="col04">男性</td>
                  <td class="col06">77</td>
                  <td class="col07">69</td>
                  <td class="col08">2,556</td>
                  <td class="col09">2,290</td>
                  <td class="col09">2,115</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">1,386</td>
                  <td class="col07">1,398</td>
                  <td class="col08">1,347</td>
                  <td class="col09">1,324</td>
                  <td class="col09">1,267</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">1,463</td>
                  <td class="col07">1,467</td>
                  <td class="col08">3,903</td>
                  <td class="col09">3,614</td>
                  <td class="col09">3,382</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">ゆうちょ銀行</td>
                  <td class="col04">男性</td>
                  <td class="col06">21</td>
                  <td class="col07">20</td>
                  <td class="col08">136</td>
                  <td class="col09">139</td>
                  <td class="col09">156</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">155</td>
                  <td class="col07">155</td>
                  <td class="col08">155</td>
                  <td class="col09">192</td>
                  <td class="col09">205</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">176</td>
                  <td class="col07">175</td>
                  <td class="col08">291</td>
                  <td class="col09">331</td>
                  <td class="col09">361</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">かんぽ生命</td>
                  <td class="col04">男性</td>
                  <td class="col06">11</td>
                  <td class="col07">29</td>
                  <td class="col08">131</td>
                  <td class="col09">151</td>
                  <td class="col09">99</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">138</td>
                  <td class="col07">159</td>
                  <td class="col08">172</td>
                  <td class="col09">163</td>
                  <td class="col09">185</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">149</td>
                  <td class="col07">188</td>
                  <td class="col08">303</td>
                  <td class="col09">314</td>
                  <td class="col09">284</td>
              </tr>
              <!-- end 育児休業取得者数 -->


              <tr>
                  <td class="col01" rowspan="15">育児部分休業<br>取得者数</td>
                  <td class="col02 red" rowspan="15"></td>
                  <td class="col03 red" rowspan="3">日本郵政グループ</td>
                  <td class="col04 red">男性</td>
                  <td class="col06 red">56</td>
                  <td class="col07 red">72</td>
                  <td class="col08 red">72</td>
                  <td class="col09 red">95</td>
                  <td class="col09 red">82</td>
              </tr>
              <tr>
                  <td class="col04 red">女性</td>
                  <td class="col06 red">1,812</td>
                  <td class="col07 red">2,071</td>
                  <td class="col08 red">2,400</td>
                  <td class="col09 red">2,723</td>
                  <td class="col09 red">2,541</td>
              </tr>
              <tr>
                  <td class="col04 red">合計</td>
                  <td class="col06 red">1,868</td>
                  <td class="col07 red">2,143</td>
                  <td class="col08 red">2,472</td>
                  <td class="col09 red">2,818</td>
                  <td class="col09 red">3,044</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵政</td>
                  <td class="col04">男性</td>
                  <td class="col06">1</td>
                  <td class="col07">3</td>
                  <td class="col08">4</td>
                  <td class="col09">4</td>
                  <td class="col09">1</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">99</td>
                  <td class="col07">107</td>
                  <td class="col08">110</td>
                  <td class="col09">97</td>
                  <td class="col09">98</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">100</td>
                  <td class="col07">110</td>
                  <td class="col08">114</td>
                  <td class="col09">101</td>
                  <td class="col09">99</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵便</td>
                  <td class="col04">男性</td>
                  <td class="col06">39</td>
                  <td class="col07">43</td>
                  <td class="col08">51</td>
                  <td class="col09">64</td>
                  <td class="col09">73</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">1,195</td>
                  <td class="col07">1,365</td>
                  <td class="col08">1,603</td>
                  <td class="col09">1,820</td>
                  <td class="col09">1,970</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">1,234</td>
                  <td class="col07">1,408</td>
                  <td class="col08">1,654</td>
                  <td class="col09">1,884</td>
                  <td class="col09">2,043</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">ゆうちょ銀行</td>
                  <td class="col04">男性</td>
                  <td class="col06">10</td>
                  <td class="col07">16</td>
                  <td class="col08">12</td>
                  <td class="col09">13</td>
                  <td class="col09">8</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">312</td>
                  <td class="col07">362</td>
                  <td class="col08">388</td>
                  <td class="col09">456</td>
                  <td class="col09">473</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">322</td>
                  <td class="col07">378</td>
                  <td class="col08">400</td>
                  <td class="col09">469</td>
                  <td class="col09">481</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">かんぽ生命</td>
                  <td class="col04">男性</td>
                  <td class="col06">6</td>
                  <td class="col07">10</td>
                  <td class="col08">7</td>
                  <td class="col09">14</td>
                  <td class="col09">19</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">206</td>
                  <td class="col07">237</td>
                  <td class="col08">297</td>
                  <td class="col09">350</td>
                  <td class="col09">402</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">212</td>
                  <td class="col07">247</td>
                  <td class="col08">304</td>
                  <td class="col09">364</td>
                  <td class="col09">421</td>
              </tr>
              <!-- end 育児部分休業取得者数 -->


              <tr>
                  <td class="col01" rowspan="15">介護休業<br>取得者数</td>
                  <td class="col02 red" rowspan="15"></td>
                  <td class="col03 red" rowspan="3">日本郵政グループ</td>
                  <td class="col04 red">男性</td>
                  <td class="col06 red">87</td>
                  <td class="col07 red">102</td>
                  <td class="col08 red">111</td>
                  <td class="col09 red">122</td>
                  <td class="col09 red">92</td>
              </tr>
              <tr>
                  <td class="col04 red">女性</td>
                  <td class="col06 red">92</td>
                  <td class="col07 red">103</td>
                  <td class="col08 red">109</td>
                  <td class="col09 red">119</td>
                  <td class="col09 red">103</td>
              </tr>
              <tr>
                  <td class="col04 red">合計</td>
                  <td class="col06 red">179</td>
                  <td class="col07 red">205</td>
                  <td class="col08 red">220</td>
                  <td class="col09 red">241</td>
                  <td class="col09 red">195</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵政</td>
                  <td class="col04">男性</td>
                  <td class="col06">2</td>
                  <td class="col07">4</td>
                  <td class="col08">1</td>
                  <td class="col09">0</td>
                  <td class="col09">0</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">3</td>
                  <td class="col07">1</td>
                  <td class="col08">1</td>
                  <td class="col09">4</td>
                  <td class="col09">7</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">5</td>
                  <td class="col07">5</td>
                  <td class="col08">2</td>
                  <td class="col09">4</td>
                  <td class="col09">7</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵便</td>
                  <td class="col04">男性</td>
                  <td class="col06">78</td>
                  <td class="col07">87</td>
                  <td class="col08">100</td>
                  <td class="col09">110</td>
                  <td class="col09">81</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">74</td>
                  <td class="col07">87</td>
                  <td class="col08">92</td>
                  <td class="col09">83</td>
                  <td class="col09">80</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">152</td>
                  <td class="col07">174</td>
                  <td class="col08">192</td>
                  <td class="col09">193</td>
                  <td class="col09">161</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">ゆうちょ銀行</td>
                  <td class="col04">男性</td>
                  <td class="col06">3</td>
                  <td class="col07">7</td>
                  <td class="col08">7</td>
                  <td class="col09">8</td>
                  <td class="col09">5</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">10</td>
                  <td class="col07">9</td>
                  <td class="col08">11</td>
                  <td class="col09">20</td>
                  <td class="col09">12</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">13</td>
                  <td class="col07">16</td>
                  <td class="col08">18</td>
                  <td class="col09">28</td>
                  <td class="col09">17</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">かんぽ生命</td>
                  <td class="col04">男性</td>
                  <td class="col06">4</td>
                  <td class="col07">4</td>
                  <td class="col08">3</td>
                  <td class="col09">4</td>
                  <td class="col09">6</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">5</td>
                  <td class="col07">6</td>
                  <td class="col08">5</td>
                  <td class="col09">12</td>
                  <td class="col09">4</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">9</td>
                  <td class="col07">10</td>
                  <td class="col08">8</td>
                  <td class="col09">16</td>
                  <td class="col09">10</td>
              </tr>
              <!-- end 介護休業取得者数 -->


              <tr>
                  <td class="col01" rowspan="15">介護部分休業<br>取得者数</td>
                  <td class="col02 red" rowspan="15"></td>
                  <td class="col03 red" rowspan="3">日本郵政グループ</td>
                  <td class="col04 red">男性</td>
                  <td class="col06 red">6</td>
                  <td class="col07 red">21</td>
                  <td class="col08 red">25</td>
                  <td class="col09 red">38</td>
                  <td class="col09 red">32</td>
              </tr>
              <tr>
                  <td class="col04 red">女性</td>
                  <td class="col06 red">19</td>
                  <td class="col07 red">31</td>
                  <td class="col08 red">39</td>
                  <td class="col09 red">39</td>
                  <td class="col09 red">47</td>
              </tr>
              <tr>
                  <td class="col04 red">合計</td>
                  <td class="col06 red">25</td>
                  <td class="col07 red">52</td>
                  <td class="col08 red">64</td>
                  <td class="col09 red">77</td>
                  <td class="col09 red">79</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵政</td>
                  <td class="col04">男性</td>
                  <td class="col06">0</td>
                  <td class="col07">0</td>
                  <td class="col08">0</td>
                  <td class="col09">0</td>
                  <td class="col09">0</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">1</td>
                  <td class="col07">1</td>
                  <td class="col08">2</td>
                  <td class="col09">5</td>
                  <td class="col09">4</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">1</td>
                  <td class="col07">1</td>
                  <td class="col08">2</td>
                  <td class="col09">5</td>
                  <td class="col09">4</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">日本郵便</td>
                  <td class="col04">男性</td>
                  <td class="col06">6</td>
                  <td class="col07">18</td>
                  <td class="col08">20</td>
                  <td class="col09">34</td>
                  <td class="col09">26</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">16</td>
                  <td class="col07">26</td>
                  <td class="col08">28</td>
                  <td class="col09">26</td>
                  <td class="col09">36</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">22</td>
                  <td class="col07">44</td>
                  <td class="col08">48</td>
                  <td class="col09">60</td>
                  <td class="col09">62</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">ゆうちょ銀行</td>
                  <td class="col04">男性</td>
                  <td class="col06">0</td>
                  <td class="col07">2</td>
                  <td class="col08">3</td>
                  <td class="col09">2</td>
                  <td class="col09">3</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">1</td>
                  <td class="col07">2</td>
                  <td class="col08">6</td>
                  <td class="col09">6</td>
                  <td class="col09">5</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">1</td>
                  <td class="col07">4</td>
                  <td class="col08">9</td>
                  <td class="col09">8</td>
                  <td class="col09">8</td>
              </tr>
              <tr>
                  <td class="col03" rowspan="3">かんぽ生命</td>
                  <td class="col04">男性</td>
                  <td class="col06">0</td>
                  <td class="col07">1</td>
                  <td class="col08">2</td>
                  <td class="col09">2</td>
                  <td class="col09">3</td>
              </tr>
              <tr>
                  <td class="col04">女性</td>
                  <td class="col06">1</td>
                  <td class="col07">2</td>
                  <td class="col08">3</td>
                  <td class="col09">2</td>
                  <td class="col09">2</td>
              </tr>
              <tr>
                  <td class="col04">合計</td>
                  <td class="col06">1</td>
                  <td class="col07">3</td>
                  <td class="col08">5</td>
                  <td class="col09">4</td>
                  <td class="col09">5</td>
              </tr>
              <!-- end 介護部分休業取得者数 -->
          </table>
      </div>
      <!-- end 育児休業・介護休業の取得 -->

      <ol class="tableNote">
          <li>正社員の取得人数。</li>
          <li>各年度に育児休業取得を開始した人数。</li>
          <li>2018年度及び2019年度育児休業取得者数には、配偶者出産休暇の取得者を含む。</li>
      </ol>
      <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>
  </div>


  <div class="Section Table-Border">
          <div class="Table-Wrapper">
          <table class="data">
              <caption><strong>2.時間外労働削減<sup>※</sup></strong></caption>
              <tr>
                  <th class="BG-Gray" scope="col" colspan="3"></th>
                  <th class="BG-Gray" scope="col"><span>2016</span><span>年</span></th>
                  <th class="BG-Gray" scope="col"><span>2017</span><span>年</span></th>
                  <th class="BG-Gray" scope="col"><span>2018</span><span>年</span></th>
                  <th class="BG-Gray" scope="col"><span>2019</span><span>年</span></th>
                  <th class="BG-Gray" scope="col"><span>2020</span><span>年</span></th>
              </tr>
              <tr>
                  <td class="col02 red" rowspan="6"></td>
                  <td class="col03 red" rowspan="2"><span>日本郵政グループ</span></td>
                  <td class="left red"><span>月平均残業時間</span><span>（正社員）</span></td>
                  <td class="col07 red">16.9</td>
                  <td class="col08 red">17.1</td>
                  <td class="col09 red">17.4</td>
                  <td class="col10 red">15.5</td>
                  <td class="col10 red">11.9</td>
              </tr>
              <tr>
                  <td class="left red">時間外労働削減への取組内容</td>
                  <td class="col05 red" colspan="5">ノー残業デーの設定、管理者の人事評価への反映</td>
              </tr>
              <tr>
                  <td class="col03">日本郵政</td>
                  <td class="left" rowspan="4"><span>月平均残業時間</span><span>（正社員）</span></td>
                  <td class="col07">13.8</td>
                  <td class="col08">13.7</td>
                  <td class="col09">14.5</td>
                  <td class="col10">15.6</td>
                  <td class="col10">13.9</td>
              </tr>
              <tr>
                  <td class="col03">日本郵便</td>
                  <td class="col07">17.4</td>
                  <td class="col08">17.9</td>
                  <td class="col09">18.2</td>
                  <td class="col10">16.2</td>
                  <td class="col10">12.4</td>
              </tr>
              <tr>
                  <td class="col03">ゆうちょ銀行</td>
                  <td class="col07">13.0</td>
                  <td class="col08">11.2</td>
                  <td class="col09">10.4</td>
                  <td class="col10">10.0</td>
                  <td class="col10">7.4</td>
              </tr>
              <tr>
                  <td class="col03">かんぽ生命</td>
                  <td class="col07">9.9</td>
                  <td class="col08">8.6</td>
                  <td class="col09">7.7</td>
                  <td class="col10">8.5</td>
                  <td class="col10">6.1</td>
              </tr>

          </table>
          </div>
      <!-- end 時間外労働削減 -->

      <ol class="tableNote02">
          <li>月平均残業時間は年単位での集計。</li>
      </ol>
      <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>
  </div>


  <h3 id="safety" class="Header">労働災害発生状況に関するデータ</h3>

  <div class="Section Table-Border">

      <p>労働災害を未然に防ぐために、従業員一人ひとりの安全意識の向上を図り、安心して働くことのできる安全な職場環境づくりに取り組んでいます。</p>
      <div class="Table-Wrapper">
          <table class="data">
              <caption><strong>1.労働災害の発生状況</strong></caption>
              <thead>
                  <tr>
                      <th class="BG-Gray" scope="col" colspan="3"></th>
                      <th class="BG-Gray" scope="col"><span>2016</span><span>年度</span></th>
                      <th class="BG-Gray" scope="col"><span>2017</span><span>年度</span></th>
                      <th class="BG-Gray" scope="col"><span>2018</span><span>年度</span></th>
                      <th class="BG-Gray" scope="col"><span>2019</span><span>年度</span></th>
                      <th class="BG-Gray" scope="col"><span>2020</span><span>年度</span></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="col02 red" rowspan="5"></td>
                      <td class="col03 red">日本郵政グループ</td>
                      <td class="left" rowspan="5">年千人率<sup>※1</sup></td>
                      <td class="col06 red">4.20</td>
                      <td class="col07 red">5.68</td>
                      <td class="col08 red">4.52</td>
                      <td class="col08 red">4.34</td>
                      <td class="col08 red">4.96</td>
                  </tr>
                  <tr>
                      <td class="col03">日本郵政</td>
                      <td class="col06">4.79</td>
                      <td class="col07">4.26</td>
                      <td class="col08">4.79</td>
                      <td class="col08">3.34</td>
                      <td class="col08">6.39</td>
                  </tr>
                  <tr>
                      <td class="col03">日本郵便</td>
                      <td class="col06">4.44</td>
                      <td class="col07">6.12</td>
                      <td class="col08">4.79</td>
                      <td class="col08">4.63</td>
                      <td class="col08">5.25</td>
                  </tr>
                  <tr>
                      <td class="col03">ゆうちょ銀行</td>
                      <td class="col06">0.43</td>
                      <td class="col07">0.33</td>
                      <td class="col08">0.56</td>
                      <td class="col08">0.35</td>
                      <td class="col08">0.78</td>
                  </tr>
                  <tr>
                      <td class="col03">かんぽ生命</td>
                      <td class="col06">0.55</td>
                      <td class="col07">0.66</td>
                      <td class="col08">0.47</td>
                      <td class="col08">0.38</td>
                      <td class="col08">0.38</td>
                  </tr>

              </tbody>
          </table>
      </div>
      <ol class="tableNote02">
          <li>年千人率とは、労働者1,000人あたり1年間に発生する死傷者数を示すもので、次式で表される。<br>年千人率=（1年間の死傷者数÷1年間の平均労働者数）×1,000</li>
      </ol>
      <!-- end 労働災害の発生状況 -->
      <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>

  </div>


  <h3 id="women" class="Header">女性管理職比率、女性役員比率、有給休暇取得率等のデータ</h3>

  <div class="Section Table-Border">
      <div class="Table-Wrapper">
          <table class="womenTable">
              <caption><strong>女性の活躍に関する状況について</strong></caption>
              <colgroup>
                  <col width="24%">
                  <col width="19%">
                  <col width="19%">
                  <col width="19%">
                  <col width="19%">
              </colgroup>
              <thead>
                  <tr>
                      <th class="BG-Gray" scope="col">項目</th>
                      <th class="BG-Gray" scope="col">日本郵便</th>
                      <th class="BG-Gray" scope="col">ゆうちょ銀行</th>
                      <th class="BG-Gray" scope="col">かんぽ生命<br>保険</th>
                      <th class="BG-Gray" scope="col">日本郵政</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="left">正社員の新卒採用全体での女性の割合<br>
                      （2021年度4月1日採用）</td>
                      <td>71.1%</td>
                      <td>63.9%</td>
                      <td>53.1%</td>
                      <td>50.0%</td>
                  </tr>
                  <tr>
                      <td class="left">正社員に占める女性社員の割合<br>（2021.4.1時点）</td>
                      <td>23.5%</td>
                      <td>42.8%</td>
                      <td>45.0%</td>
                      <td>48.5%</td>
                  </tr>
                  <tr>
                      <td class="left">正社員の男女の平均勤続年数<br>（2021.3.31時点）</td>
                      <td>男性：20.6年<br>
                      女性：15.0年</td>
                      <td>男性：22.5年<br>
                      女性：16.4年</td>
                      <td>男性：18.3年<br>
                      女性：11.8年</td>
                      <td>男性：21.0年<br>
                      女性：13.7年</td>
                  </tr>
                  <tr>
                      <td class="left">役員に占める女性の割合<br>
                      （2021.7.1時点）</td>
                      <td>17.3%</td>
                      <td>13.9%</td>
                      <td>8.6%</td>
                      <td>11.6%</td>
                  </tr>
                  <tr>
                      <td class="left">管理者に占める女性の割合<br>
                      （2021.4.1時点）</td>
                      <td>8.6%</td>
                      <td>15.7%</td>
                      <td>12.1%</td>
                      <td>9.9%</td>
                  </tr>
              </tbody>
          </table>

          <table class="womenTable">
              <thead>
                  <tr>
                      <th class="BG-Gray" scope="col">項目</th>
                      <th class="BG-Gray" scope="col">グループ主要4社</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="left">本社管理者に占める女性の割合<br>（2021.4.1時点）</td>
                      <td>13.9%</td>
                  </tr>
              </tbody>
          </table>
      </div>

      <!-- end 女性の活躍に関する状況について -->
      <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>

      
      <div class="Table-Wrapper">
          <table class="womenTable">
              <caption><strong>その他、働き方に関する数値</strong></caption>
              <thead>
                  <tr>
                      <th class="BG-Gray" scope="col">項目</th>
                      <th class="BG-Gray" scope="col">日本郵便</th>
                      <th class="BG-Gray" scope="col">ゆうちょ銀行</th>
                      <th class="BG-Gray" scope="col">かんぽ生命<br>保険</th>
                      <th class="BG-Gray" scope="col">日本郵政</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="left">月平均残業時間<sup>※1</sup><br>
                      （正社員）（2020年）</td>
                      <td>12.4 時間</td>
                      <td>7.4 時間</td>
                      <td>6.1 時間</td>
                      <td>13.9 時間</td>
                  </tr>
                  <tr>
                      <td class="left">正社員の有給休暇取得率<br>
                      （2020年度）</td>
                      <td>93.0%</td>
                      <td>93.1%</td>
                      <td>87.6%</td>
                      <td>81.8%</td>
                  </tr>
                  <tr>
                      <td class="left">正社員の男女別のコース転換<sup>※2</sup>実績<br>
                      （2021.4.1実績）</td>
                      <td>男性：879 人<br>女性：508 人</td>
                      <td>男性：11 人<br>女性：22 人</td>
                      <td>男性：9人<br>女性：23人</td>
                      <td>男性：0 人<br>女性：2 人</td>
                  </tr>
                  <tr>
                      <td class="left">男女別の正社員登用<sup>※3</sup>実績<br>
                      （2021.4.1実績）</td>
                      <td>男性：1,643 人<br>女性：422 人</td>
                      <td>男性：9 人<br>女性：70 人</td>
                      <td>男性：3 人<br>女性：27 人</td>
                      <td>男性：0 人<br>女性：3 人</td>
                  </tr>

              </tbody>
          </table>
      </div>
      <!-- end 女性の活躍に関する状況について -->

      <ol class="tableNote">
          <li>月平均残業時間は年単位での集計。</li>
          <li>『コース転換』：採用時の職種（コース）は原則として変更できませんが、社員の就業ニーズの変化やチャレンジングな意欲に応える観点から、入社後の業務経験や適性等を総合的に勘案したうえで、職種を変更する制度です。</li>
          <li>『正社員登用』：非正規社員の雇用の安定及び労働条件の改善を図り、業務運行やサービス品質の向上を図るため、非正規社員から正社員への採用を実施する制度です。</li>
      </ol>
      <div class="Pagetoplink"><a href="#Page-Top">このページの先頭へ戻る</a></div>
  </div>

  <h3 id="transport" class="Header">運輸にかかる安全研修の実施に関するデータ</h3>

  <div class="Section Table-Border">

      <p>日本郵便株式会社において実施している、運輸にかかる安全研修の状況です。</p>
      <div class="Table-Wrapper">
          <table class="transTable">
              <colgroup>
                  <col>
                  <col>
                  <col>
              </colgroup>
              <thead>
                  <tr>
                      <th class="BG-Gray" scope="col">&nbsp;</th>
                      <th class="BG-Gray Text-Center" scope="col"><span>2018</span><span>年度</span></th>
                      <th class="BG-Gray Text-Center" scope="col"><span>2019</span><span>年度</span></th>
                      <th class="BG-Gray Text-Center" scope="col"><span>2020</span><span>年度</span></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="left">本社安全マネジメント研修</td>
                      <td class="Text-Center">17人</td>
                      <td class="Text-Center">17人</td>
                      <td class="Text-Center">18人</td>
                  </tr>
                  <tr>
                      <td class="left">支社安全運転指導役等研修</td>
                      <td class="Text-Center">27人</td>
                      <td class="Text-Center">25人</td>
                      <td class="Text-Center">0人<sup>（注）</sup></td>
                  </tr>
                  <tr>
                      <td class="left">支社安全担当課長・専門役研修</td>
                      <td class="Text-Center">85人</td>
                      <td class="Text-Center">102人</td>
                      <td class="Text-Center">139人</td>
                  </tr>
                  <tr>
                      <td class="left">運行管理者等スキルアップ研修</td>
                      <td class="Text-Center">1,319人</td>
                      <td class="Text-Center">1,537人</td>
                      <td class="Text-Center">1,575人</td>
                  </tr>

              </tbody>
          </table>
      </div>

      <p class="mb00 pl20">注&nbsp;&nbsp;2020年度の支社安全運転指導役等研修は新型コロナウイルス感染症拡大防止の観点から実施しておりません。</p>
      <ol class="tableNote02">
          <li>上記のほか、支社・郵便局において管理者や新規採用者への研修等を随時実施しています。</li>
          <li>運輸安全マネジメントに関する情報を日本郵便のページにおいて公開しています。<br>
          <a href="https://www.post.japanpost.jp/about/ts_management.html" class="Popup">https://www.post.japanpost.jp/about/ts_management.html</a></li>
      </ol>
      <!-- <div class="Pagetoplink"><a href="#Page-Top">このページの先頭へ戻る</a></div> -->
  </div>
  <!-- end 運輸にかかる安全研修の実施に関するデータ -->

</div>