<div id="data_index">
  <div id="title_box">
    <div id="csr_main_img_report">
      <h1>ESG Data(Environmental)</h1>
    </div>
  <!-- /#title_box-->
  </div>
  
  <div class="Section">
    <p class="Category Lead">Compiled on this page are ESG-related data from the Japan Post Group.</p>

    <div class="mod-tab pure-g mb50">
      <span class="mod-tab-item-sus bottom-u-layer pure-u-md-1-2 pure-u-1-3 is-active">Environmental</span>
      <a href="/en/csr/data/social/" class="mod-tab-item-sus bottom-u-layer pure-u-md-1-2 pure-u-1-3">Social</a>
      <a href="/en/csr/data/governance/" class="mod-tab-item-sus bottom-u-layer bottom-md-layer pure-u-md-1-2 pure-u-1-3">Governance</a>
    </div>

    <div class="List-Horizontal">
      <ul>
        <li><a class="Link Inner" href="#emissions">Greenhouse Gas Emissions and Energy Consumption</a></li>
        <li><a class="Link Inner" href="#resource">Data Related to Resources</a></li>
      </ul>
      <!-- end .List-Horizontal -->
    </div>
    <!-- end .Section -->
  </div>

  <h2 id="env" class="Header">Environmental Data</h2>

  <div class="Table-Border">
    <h3 id="emissions" class="Header">Greenhouse Gas Emissions and Energy Consumption</h3>
  </div>

  <div class="Section Table-Border">
    <p class="cap"><span class="title"><strong>Greenhouse Gas Emissions<sup>*1</sup></strong></span><span class="unit">(t-CO&#x2082;)</span></p>

    <!--温室効果ガス排出量-->
    <div class="Table-Wrapper">
      <table class="data bordernone">
        <thead>
          <tr>
            <td colspan="3" class="BG-Gray Text-Center">&nbsp;</td>
            <td class="BG-Gray Text-Center">FY2019</td>
            <td class="BG-Gray Text-Center">FY2020</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2" rowspan="3" class="Text-Center col02 red border-bottom-0">Japan Post Group</td>
            <td class="Text-Center">Scope1</td>
            <td class="col05">969,276.5</td>
            <td class="col05">872,102.0</td>
          </tr>
          <tr>
            <td class="Text-Center">Scope2</td>
            <td class="col05">671,583.0</td>
            <td class="col05">636,544.8</td>
          </tr>
          <tr>
            <td class="Text-Center">Total</td>
            <td class="col05">1,640,859.5</td>
            <td class="col05">1,508,646.8</td>
          </tr>
          <tr>
            <td rowspan="18" class="col05 col02 red border-top-0"></td>
            <td rowspan="3" class="Text-Center">Japan Post Holdings</td>
            <td class="Text-Center">Scope1</td>
            <td class="col05">37,024.1</td>
            <td class="col05">24,199.6</td>
          </tr>
          <tr>
            <td class="Text-Center">Scope2</td>
            <td class="col05">38,632.4</td>
            <td class="col05">27,780.7</td>
          </tr>
          <tr>
            <td class="Text-Center">Total</td>
            <td class="col05">75,656.5</td>
            <td class="col05">51,980.3</td>
          </tr>
          <tr>
            <td rowspan="3" class="Text-Center">Japan Post</td>
            <td class="Text-Center">Scope1</td>
            <td class="col05">271,617.6</td>
            <td class="col05">259,022.4</td>
          </tr>
          <tr>
            <td class="Text-Center">Scope2</td>
            <td class="col05">535,152.8</td>
            <td class="col05">522,961.1</td>
          </tr>
          <tr>
            <td class="Text-Center">Total</td>
            <td class="col05">806,770.4</td>
            <td class="col05">781,983.5</td>
          </tr>
          <tr>
            <td rowspan="3" class="Text-Center">Japan Post Bank</td>
            <td class="Text-Center">Scope1</td>
            <td class="col05">4,349.2</td>
            <td class="col05">3,509.3</td>
          </tr>
          <tr>
            <td class="Text-Center">Scope2</td>
            <td class="col05">25,748.5</td>
            <td class="col05">23,496.6</td>
          </tr>
          <tr>
            <td class="Text-Center">Total</td>
            <td class="col05">30,097.7</td>
            <td class="col05">27,005.9</td>
          </tr>
          <tr>
            <td rowspan="3" class="Text-Center">Japan Post Insurance</td>
            <td class="Text-Center">Scope1</td>
            <td class="col05">4,171.3</td>
            <td class="col05">3,120.6</td>
          </tr>
          <tr>
            <td class="Text-Center">Scope2</td>
            <td class="col05">12,602.3</td>
            <td class="col05">12,253.3</td>
          </tr>
          <tr>
            <td class="Text-Center">Total</td>
            <td class="col05">16,773.6</td>
            <td class="col05">15,373.9</td>
          </tr>
          <tr>
              <td rowspan="3" class="Text-Center">Japan Post Transport</td>
              <td class="Text-Center">Scope1</td>
              <td class="col05">59,848.9</td>
              <td class="col05">58,796.3</td>
          </tr>
          <tr>
              <td class="Text-Center">Scope2</td>
              <td class="col05">2,609.0</td>
              <td class="col05">2,643.3</td>
          </tr>
          <tr>
              <td class="Text-Center">Total</td>
              <td class="col05">62,457.9</td>
              <td class="col05">61,439.6</td>
          </tr>
          <tr>
            <td rowspan="3" class="Text-Center">Toll Holdings</td>
            <td class="Text-Center">Scope1</td>
            <td class="col05">592,265.4</td>
            <td class="col05">523,453.8</td>
          </tr>
          <tr>
            <td class="Text-Center">Scope2</td>
            <td class="col05">56,838.0</td>
            <td class="col05">47,409.8</td>
          </tr>
          <tr>
            <td class="Text-Center">合計</td>
            <td class="col05">649,103.4</td>
            <td class="col05">570,863.6</td>
          </tr>
        </tbody>
      </table>
    </div>


    <ol class="tableNote">
      <li>Figures for Group companies indicate greenhouse gas emissions from facilities and vehicles owned by each.</li>
      <li>The emission factor of electricity has been changed from the basic emission factor to the adjusted emission factor from FY2019.</li>
      <li>Japan Post Transport and Toll Holdings has been added to the scope of aggregation.</li>
    </ol>

    <div class="Section">
      <p><a href="/en/csr/data/pdf/archive_2018_en.pdf" class="Link PDF">Data before FY2018</a>［PDF：207 KB］</p>
    </div>

    <div class="Pagetoplink mb20"><a href="#Page-Top">Back to Top</a></div>

    <p class="cap"><span class="title"><strong>Emission Intensity of Facilities</strong></span><span class="unit">(t-CO<span class="sub">2</span>/m<sup class=" col05">2</sup>)</span></p>
    <table class="data bordernone">
      <thead>
        <tr>
          <td class="Text-Center BG-Gray">&nbsp;</td>
          <td class="Text-Center BG-Gray">FY2019</td>
          <td class="Text-Center BG-Gray">FY2020</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="Text-Center">Japan Post Holdings</td>
          <td class="col05">0.130</td>
          <td class="col05">0.110</td>
        </tr>
        <tr>
          <td class="Text-Center">Japan Post</td>
          <td class="col05">0.051</td>
          <td class="col05">0.050</td>
        </tr>
        <tr>
          <td class="Text-Center">Japan Post Bank</td>
          <td class="col05">0.077</td>
          <td class="col05">0.063</td>
        </tr>
        <tr>
          <td class="Text-Center">Japan Post Insurance</td>
          <td class="col05">0.062</td>
          <td class="col05">0.061</td>
        </tr>
        <tr>
            <td class="Text-Center">Japan Post Transport</td>
            <td class="col05">0.035</td>
            <td class="col05">0.026</td>
        </tr>
        <tr>
          <td class="Text-Center col02 red">Total for Japan Post Group</td>
          <td class="col05 red">0.055</td>
          <td class="col05 red">0.053</td>
        </tr>
      </tbody>
    </table>

    <div class="Pagetoplink mb20"><a href="#Page-Top">Back to Top</a></div>

    <p class="cap"><span class="title"><strong>Emission Intensity of Vehicles</strong></span><span class="unit">(t-CO<span class="sub">2</span>/km)</span></p>
    <table class="data bordernone">
      <thead>
        <tr>
          <td class="Text-Center BG-Gray">&nbsp;</td>
          <td class="Text-Center BG-Gray">FY2019</td>
          <td class="Text-Center BG-Gray">FY2018</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="Text-Center">Japan Post Holdings</td>
          <td class="col05">0.0</td>
          <td class="col05">0.0</td>
        </tr>
        <tr>
          <td class="Text-Center">Japan Post</td>
          <td class="col05">0.000142</td>
          <td class="col05">0.000132</td>
        </tr>
        <tr>
          <td class="Text-Center">Japan Post Bank</td>
          <td class="col05">0.000133</td>
          <td class="col05">0.000135</td>
        </tr>
        <tr>
          <td class="Text-Center">Japan Post Insurance</td>
          <td class="col05">0.000140</td>
          <td class="col05">0.000124</td>
        </tr>
        <tr>
            <td class="Text-Center">Japan Post Transport</td>
            <td class="col05">0.000496</td>
            <td class="col05">0.000503</td>
        </tr>
        <tr>
          <td class="Text-Center col02 red">Total for Japan Post Group</td>
          <td class="col05 red">0.000170</td>
          <td class="col05 red">0.000161</td>
        </tr>
      </tbody>
    </table>
    <ol class="tableNote02">
      <li>Revision of data acquisition method applied from FY2019.</li>
    </ol>

    <div class="Section">
      <p><a href="/en/csr/data/pdf/archive_2018_en.pdf" class="Link PDF">Data before FY2018</a>［PDF：207 KB］</p>
    </div>

    <div class="Pagetoplink mb20"><a href="#Page-Top">Back to Top</a></div>


    <div class="Table-Border">
      <p class="cap"><span class="title"><strong>Scope 3 Emissions</strong></span><span class="unit">(t-CO<span class="sub">2</span>)</p>
      <div class="Table-Wrapper">
        <table class="data bordernone">
          <thead>
            <tr>
              <td rowspan="2" class="Text-Center BG-Gray">&nbsp;</td>
              <td rowspan="2" class="Text-Center BG-Gray">FY2019</td>
              <td rowspan="2" class="Text-Center BG-Gray">FY2020</td>
              <td colspan="7" class="Text-Center BG-Gray">Breakdown by category</td>
            </tr>
            <tr>
              <td class="Text-Center">Category 1 <br>(Purchased goods and services)</td>
              <td class="Text-Center">Category 2 <br>(Capital goods)</td>
              <td class="Text-Center">Category 3 <br>(Fuel- and energy-related activities not included in Scope 1 or 2)</td>
              <td class="Text-Center">Category 6 <br>(Business travel)</td>
              <td class="Text-Center">Category 7 <br>(Employee commuting)</td>
              <td class="Text-Center">Category 12 <br>(End-of-life treatment of sold products)</td>
              <td class="Text-Center">Category16 <br>(Other)</td>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="Text-Center">Japan Post Holdings</td>
                  <td class="col05">14,245.3</td>
                  <td class="col05">10,195.1</td>
                  <td class="col05">46.2</td>
                  <td class="col05">0.0</td>
                  <td class="col05">9,306.0</td>
                  <td class="col05">131.1</td>
                  <td class="col05">711.8</td>
                  <td class="col05">0.0</td>
                  <td class="col05">0.0</td>
              </tr>
              <tr>
                  <td class="Text-Center">Japan Post</td>
                  <td class="col05">584,907.9</td>
                  <td class="col05">593,253.5</td>
                  <td class="col05">347,974.6</td>
                  <td class="col05">14,933.4</td>
                  <td class="col05">143,965.9</td>
                  <td class="col05">10160.9</td>
                  <td class="col05">73,888.4</td>
                  <td class="col05">2,330.3</td>
                  <td class="col05">0.0</td>
              </tr>
              <tr>
                  <td class="Text-Center">Japan Post Bank</td>
                    <td class="col05">62,208.1</td>
                  <td class="col05">69,805.8</td>
                  <td class="col05">41,703.7</td>
                  <td class="col05">11,860.9</td>
                  <td class="col05">6,366.0</td>
                  <td class="col05">658.4</td>
                  <td class="col05">4,520.2</td>
                  <td class="col05">63.9</td>
                  <td class="col05">4632.7</td>
              </tr>
              <tr>
                  <td class="Text-Center">Japan Post Insurance</td>
                  <td class="col05">11,160.6</td>
                  <td class="col05">8,654.6</td>
                  <td class="col05">2,525.2</td>
                  <td class="col05">0.0</td>
                  <td class="col05">2,894.6</td>
                  <td class="col05">416.9</td>
                  <td class="col05">2746.9</td>
                  <td class="col05">71.0</td>
                  <td class="col05">0.0</td>
              </tr>
              <tr>
                  <td class="Text-Center">Japan Post Transport</td>
                  <td class="col05">363,842.1</td>
                  <td class="col05">365,318.0</td>
                  <td class="col05">351,733.2</td>
                  <td class="col05">3,573.2</td>
                  <td class="col05">8,980.1</td>
                  <td class="col05">264.8</td>
                  <td class="col05">766.7</td>
                  <td class="col05">0.0</td>
                  <td class="col05">0.0</td>
              </tr>
              <tr>
                  <td class="Text-Center col02">Toll Holdings</td>
                  <td class="col05">153,038.4</td>
                  <td class="col05">105,893.1</td>
                  <td class="col05">17,224.9</td>
                  <td class="col05">4,861.4</td>
                  <td class="col05">75,894.1</td>
                  <td class="col05">847.3</td>
                  <td class="col05">7,065.4</td>
                  <td class="col05">0.0</td>
                  <td class="col05">0.0</td>
              </tr>
              <tr>
                  <td class="Text-Center col02 red">Total for Japan Post Group</td>
                  <td class="col05 red">1,189,402.4</td>
                  <td class="col05 red">1,153,120.1</td>
                  <td class="col05 red">761,207.8</td>
                  <td class="col05 red">35,228.9</td>
                  <td class="col05 red">247,406.7</td>
                  <td class="col05 red">12,479.4</td>
                  <td class="col05 red">89,699.4</td>
                  <td class="col05 red">2,465.2</td>
                  <td class="col05 red">4,632.7</td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="Pagetoplink mb20"><a href="#Page-Top">Back to Top</a></div>


    <p class="cap"><span class="title"><strong>Other Greenhouse Gases</strong></span><span class="unit">(t-CO<span class="sub">2</span>)</span></p>
    <table>
      <thead>
        <tr>
          <td class="BG-Gray"></td>
          <td class="Text-Center BG-Gray">FY2019</td>
          <td class="Text-Center BG-Gray">FY2020</td>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="Text-Center">HFCs <sup>*</sup></td>
            <td class="col05">510.5</td>
            <td class="col05">879.1</td>
          </tr>
          <tr>
            <td class="Text-Center">PFCs</td>
            <td class="col05">0.0</td>
            <td class="col05">0.0</td>
          </tr>
          <tr>
            <td class="Text-Center">SF6</td>
            <td class="col05">0.0</td>
            <td class="col05">0.0</td>
          </tr>
          <tr>
            <td class="Text-Center">NF3</td>
            <td class="col05">0.0</td>
            <td class="col05">0.0</td>
          </tr>
    </tbody>
    </table>
    <ol class="tableNote02">
      <li>HFCs was emitted due to maintenance of refrigeration, freezing and air-conditioning equipment for commercial use (Class I Specified Product) in the postal and domestic logistics business.</li>
    </ol>

    <div class="Section">
      <p><a href="/en/csr/data/pdf/archive_2018_en.pdf" class="Link PDF">Data before FY2018</a>［PDF：207 KB］</p>
    </div>

    <div class="Section Col">
      <p>Japan Post Group received independent verification by a third party based on ISO 14064-3 certification criteria concerning its actual greenhouse gas emissions (Scope 1, 2 and 3) in FY2019.</p>
    </div>
    <div class="Section">
      <dl>
        <dt></dt>
        <dd>
          <p><a href="/en/csr/data/pdf/data_02.pdf" title="PDF" class="Link PDF">Verification Report</a>[PDF: 6,985 KB]</p>
        </dd>
      </dl>
    </div>

    <div class="Pagetoplink"><a href="#Page-Top">Back to Top</a></div>
    <hr class="Hidden">

    <p class="cap"><span class="title"><strong>Energy Consumption</strong></span><span class="unit">(GJ)</span></p>

    <div class="Table-Wrapper">
      <table class="data bordernone">
        <!--日本郵政グループ合計-->
        <thead>
          <tr>
            <td colspan="3" class="BG-Gray col05"></td>
            <td class="BG-Gray Text-Center">Scope</td>
            <td class="BG-Gray Text-Center">FY2019</td>
            <td class="BG-Gray Text-Center">FY2018</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2" rowspan="11" class="col02 red Text-Center border-bottom-0">Total for Japan Post Group</td>
            <td class="Text-Center">Utility gas</td>
            <td rowspan="3" class="Text-Center">Scope 1/ Facilities</td>
            <td class="col05">1,071,517.9</td>
            <td class="col05">1,165,223.7</td>
          </tr>
          <tr>
            <td class="Text-Center">LPG</td>
            <td class="col05">104,266.9</td>
            <td class="col05">69,956.8</td>
          </tr>
          <tr>
            <td class="Text-Center">Kerosene, light oil and heavy oil</td>
            <td class="col05">895,195.7</td>
            <td class="col05">756,006.9</td>
          </tr>
          <tr>
            <td class="Text-Center">Gasoline</td>
            <td rowspan="3" class="Text-Center">Scope 1/ Vehicles</td>
            <td class="col05">2,866,396.6</td>
            <td class="col05">2,560,506.6</td>
          </tr>
          <tr>
            <td class="Text-Center">Light oil</td>
            <td class="col05">84,907.2</td>
            <td class="col05">77,105.3</td>
          </tr>
          <tr>
            <td class="Text-Center">Other fuels</td>
            <td class="col05">8,325,665.1</td>
            <td class="col05">7,365,643.6</td>
          </tr>
          <tr>
            <td class="Text-Center">Electricity</td>
            <td rowspan="4" class="Text-Center">Scope 2/ Facilities</td>
            <td class="col05">12,848,510.4</td>
            <td class="col05">13,113,188.0</td>
          </tr>
          <tr>
            <td class="Text-Center">Cold water</td>
            <td class="col05">241,776.9</td>
            <td class="col05">223,651.9</td>
          </tr>
          <tr>
            <td class="Text-Center">Hot water</td>
            <td class="col05">36,915.5</td>
            <td class="col05">41,334.5</td>
          </tr>
          <tr>
            <td class="Text-Center">Steam</td>
            <td class="col05">122,898.9</td>
            <td class="col05">133,108.9</td>
          </tr>
          <tr>
            <td class="Text-Center">Total</td>
            <td>&nbsp;</td>
            <td class="col05">26,598,051.1</td>
            <td class="col05">25,505,726.2</td>
          </tr>
          <tr>
            <td rowspan="60" class="col02 red col05 border-top-0">&nbsp;</td>
            <td rowspan="10" class="Text-Center">Japan Post Holdings</td>
            <td class="Text-Center">Utility gas</td>
            <td rowspan="3" class="Text-Center">Scope 1/ Facilities</td>
            <td class="col05">72,486.5</td>
            <td class="col05">61,159.0</td>
          </tr>
          <tr>
            <td class="Text-Center">LPG</td>
            <td class="col05">41,029.1</td>
            <td class="col05">18,366.2</td>
          </tr>
          <tr>
            <td class="Text-Center">Kerosene, light oil and heavy oil</td>
            <td class="col05">447,594.0</td>
            <td class="col05">289,922.7</td>
          </tr>
          <tr>
            <td class="Text-Center">Gasoline</td>
            <td rowspan="2" class="Text-Center">Scope 1/ Vehicles</td>
            <td class="col05">0.0</td>
            <td class="col05">0.0</td>
          </tr>
          <tr>
            <td class="Text-Center">Light oil</td>
            <td class="col05">0.0</td>
            <td class="col05">0.0</td>
          </tr>
          <tr>
            <td class="Text-Center">Electricity</td>
            <td rowspan="4" class="Text-Center">Scope 2/ Facilities</td>
            <td class="col05">755,207.6</td>
            <td class="col05">558,555.9</td>
          </tr>
          <tr>
            <td class="Text-Center">Cold water</td>
            <td class="col05">24,324.9</td>
            <td class="col05">19,115.5</td>
          </tr>
          <tr>
            <td class="Text-Center">Hot water</td>
            <td class="col05">6,266.7</td>
            <td class="col05">6,847.5</td>
          </tr>
          <tr>
            <td class="Text-Center">Steam</td>
            <td class="col05">25,884.9</td>
            <td class="col05">21,905.7</td>
          </tr>
          <tr>
            <td class="Text-Center">Total</td>
            <td class="Text-Center">&nbsp;</td>
            <td class="col05">1,372,793.7</td>
            <td class="col05">975,872.5</td>
          </tr>
          <tr>
            <td rowspan="10" class="Text-Center">Japan Post</td>
            <td class="Text-Center">Utility gas</td>
            <td rowspan="3" class="Text-Center">Scope 1/ Facilities</td>
            <td class="col05">943,168.2</td>
            <td class="col05">1,045,494.4</td>
          </tr>
          <tr>
            <td class="Text-Center">LPG</td>
            <td class="col05">31,368.9</td>
            <td class="col05">31,100.6</td>
          </tr>
          <tr>
            <td class="Text-Center">Kerosene, light oil and heavy oil</td>
            <td class="col05">436,530.2</td>
            <td class="col05">454,871.8</td>
          </tr>
          <tr>
            <td class="Text-Center">Gasoline</td>
            <td rowspan="2" class="Text-Center">Scope 1/ Vehicles</td>
            <td class="col05">2,787,981.2</td>
            <td class="col05">2,513,656.1</td>
          </tr>
          <tr>
            <td class="Text-Center">Light oil</td>
            <td class="col05">84,817.8</td>
            <td class="col05">77,058.9</td>
          </tr>
          <tr>
            <td class="Text-Center">Electricity</td>
            <td rowspan="4" class="Text-Center">Scope 2/ Facilities</td>
            <td class="col05">11,132,904.8</td>
            <td class="col05">11,601,022.4</td>
          </tr>
          <tr>
            <td class="Text-Center">Cold water</td>
            <td class="col05">155,435.9</td>
            <td class="col05">138,459.1</td>
          </tr>
          <tr>
            <td class="Text-Center">Hot water</td>
            <td class="col05">14,495.2</td>
            <td class="col05">14,478.8</td>
          </tr>
          <tr>
            <td class="Text-Center">Steam</td>
            <td class="col05">93,806.7</td>
            <td class="col05">107,751.3</td>
          </tr>
          <tr>
            <td class="Text-Center">Total</td>
            <td class="Text-Center">&nbsp;</td>
            <td class="col05">15,680,508.9</td>
            <td class="col05">15,983,893.3</td>
          </tr>
          <tr>
            <td rowspan="10" class="Text-Center">Japan Post Bank</td>
            <td class="Text-Center">Utility gas</td>
            <td rowspan="3" class="Text-Center">Scope 1/ Facilities</td>
            <td class="col05">28,643.3</td>
            <td class="col05">29,428.4</td>
          </tr>
          <tr>
            <td class="Text-Center">LPG</td>
            <td class="col05">227.6</td>
            <td class="col05">380.2</td>
          </tr>
          <tr>
            <td class="Text-Center">Kerosene, light oil and heavy oil</td>
            <td class="col05">10,427.2</td>
            <td class="col05">10,411.6</td>
          </tr>
          <tr>
            <td class="Text-Center">Gasoline</td>
            <td rowspan="2" class="Text-Center">Scope 1/ Vehicles</td>
            <td class="col05">32,491.2</td>
            <td class="col05">19,307.2</td>
          </tr>
          <tr>
            <td class="Text-Center">Light oil</td>
            <td class="col05">89.4</td>
            <td class="col05">46.4</td>
          </tr>
          <tr>
            <td class="Text-Center">Electricity</td>
            <td rowspan="4" class="Text-Center">Scope 2/ Facilities</td>
            <td class="col05">467,564.2</td>
            <td class="col05">484,297.9</td>
          </tr>
          <tr>
            <td class="Text-Center">Cold water</td>
            <td class="col05">56,053.2</td>
            <td class="col05">59,626.1</td>
          </tr>
          <tr>
            <td class="Text-Center">Hot water</td>
            <td class="col05">10,675.4</td>
            <td class="col05">12,348.7</td>
          </tr>
          <tr>
            <td class="Text-Center">Steam</td>
            <td class="col05">0.0</td>
            <td class="col05">0.0</td>
          </tr>
          <tr>
            <td class="Text-Center">Total</td>
            <td class="Text-Center">&nbsp;</td>
            <td class="col05">606,171.5</td>
            <td class="col05">615,846.5</td>
          </tr>
          <tr>
            <td rowspan="10" class="Text-Center">Japan Post Insurance</td>
            <td class="Text-Center">Utility gas</td>
            <td rowspan="3" class="Text-Center">Scope 1/ Facilities</td>
            <td class="col05">26,739.3</td>
            <td class="col05">28,601.3</td>
          </tr>
          <tr>
            <td class="Text-Center">LPG</td>
            <td class="col05">0.0</td>
            <td class="col05">0.0</td>
          </tr>
          <tr>
            <td class="Text-Center">Kerosene, light oil and heavy oil</td>
            <td class="col05">644.3</td>
            <td class="col05">800.8</td>
          </tr>
          <tr>
            <td class="Text-Center">Gasoline</td>
            <td rowspan="2" class="Text-Center">Scope 1/ Vehicles</td>
            <td class="col05">41,657.1</td>
            <td class="col05">24,423.8</td>
          </tr>
          <tr>
            <td class="Text-Center">Light oil</td>
            <td class="col05">0.0</td>
            <td class="col05">0.0</td>
          </tr>
          <tr>
            <td class="Text-Center">Electricity</td>
            <td rowspan="4" class="Text-Center">Scope 2/ Facilities</td>
            <td class="col05">255,392</td>
            <td class="col05">249,401.3</td>
          </tr>
          <tr>
            <td class="Text-Center">Cold water</td>
            <td class="col05">5,962.9</td>
            <td class="col05">6,451.2</td>
          </tr>
          <tr>
            <td class="Text-Center">Hot water</td>
            <td class="col05">5,478.2</td>
            <td class="col05">7,659.5</td>
          </tr>
          <tr>
            <td class="Text-Center">Steam</td>
            <td class="col05">3,207.3</td>
            <td class="col05">3,451.9</td>
          </tr>
          <tr>
            <td class="Text-Center">Total</td>
            <td class="Text-Center">&nbsp;</td>
            <td class="col05">339,081.1</td>
            <td class="col05">320,789.8</td>
          </tr>
          <!--日本郵便輸送-->
          <tr>
              <td rowspan="10" class="Text-Center">Japan Post Transport</td>
              <td class="Text-Center">Utility gas</td>
              <td rowspan="3" class="Text-Center">Scope 1/ Facilities</td>
              <td class="col05">1,982.0</td>
              <td class="col05">1,793.7</td>
          </tr>
          <tr>
              <td class="Text-Center">LPG</td>
              <td class="col05">1,371.6</td>
              <td class="col05">1,219.2</td>
          </tr>
          <tr>
              <td class="Text-Center">Kerosene, light oil and heavy oil</td>
              <td class="col05">4,072.5</td>
              <td class="col05">4,143.9</td>
          </tr>
          <tr>
              <td class="Text-Center">Gasoline</td>
              <td rowspan="2" class="Text-Center">Scope 1/ Vehicles</td>
              <td class="col05">27,320.9</td>
              <td class="col05">24,656.0</td>
          </tr>
          <tr>
              <td class="Text-Center">Light oil</td>
              <td class="col05">841,048.5</td>
              <td class="col05">828,483.9</td>
          </tr>
          <tr>
              <td class="Text-Center">Electricity</td>
              <td rowspan="4" class="Text-Center">Scope 2/ Facilities</td>
              <td class="col05">60,394.7</td>
              <td class="col05">57,638.4</td>
          </tr>
          <tr>
              <td class="Text-Center">Cold water</td>
              <td class="col05">0.0</td>
              <td class="col05">0.0</td>
          </tr>
          <tr>
              <td class="Text-Center">Hot water</td>
              <td class="col05">0.0</td>
              <td class="col05">0.0</td>
          </tr>
          <tr>
              <td class="Text-Center">Steam</td>
              <td class="col05">0.0</td>
              <td class="col05">0.0</td>
          </tr>
          <tr>
              <td class="Text-Center">Total</td>
              <td class="col05">&nbsp;</td>
              <td class="col05">936,190.2</td>
              <td class="col05">917,935.1</td>
          </tr>
          <!--Toll Holdings-->
          <tr>
            <td rowspan="10" class="Text-Center">Toll Holdings</td>
            <td class="Text-Center">Utility gas</td>
            <td rowspan="2" class="Text-Center">Scope 1/Facilities</td>
            <td class="col05">480.6</td>
            <td class="col05">540.5</td>
          </tr>
          <tr>
            <td class="Text-Center">LPG</td>
            <td class="col05">31,641.3</td>
            <td class="col05">20,109.8</td>
          </tr>
          <tr>
            <td class="Text-Center">Gasoline</td>
            <td rowspan="6" class="Text-Center">Scope 1/Vehicles</td>
            <td class="col05">4,267.1</td>
            <td class="col05">3,119.6</td>
          </tr>
          <tr>
            <td class="Text-Center">Aviation gasoline</td>
            <td class="col05">32,652.1</td>
            <td class="col05">64,953.4</td>
          </tr>
          <tr>
            <td class="Text-Center">Diesel/Gas oil</td>
            <td class="col05">6,204,097.8</td>
            <td class="col05">5,401,343.5</td>
          </tr>
          <tr>
            <td class="Text-Center">Aviation kerosene</td>
            <td class="col05">988,907.4</td>
            <td class="col05">939,759.8</td>
          </tr>
          <tr>
            <td class="Text-Center">Compressed Natural Gas</td>
            <td class="col05">4,958.9</td>
            <td class="col05">8.1</td>
          </tr>
          <tr>
            <td class="Text-Center">Heavy Fuel Oil (used in ships)</td>
            <td class="col05">1,095,048.9</td>
            <td class="col05">959,578.8</td>
          </tr>
          <tr>
            <td class="Text-Center">Electricity</td>
            <td class="Text-Center">Scope 2/Facilities</td>
            <td class="col05">237,441.8</td>
            <td class="col05">219,910.5</td>
          </tr>
          <tr>
            <td class="Text-Center">Total</td>
            <td class="col05">&nbsp;</td>
            <td class="col05">8,599,495.9</td>
            <td class="col05">7,609,324.0</td>
          </tr>
        </tbody>
      </table>
    </div>

    <ol class="tableNote02">
      <li>Figures for Group companies indicate energy consumption of facilities and vehicles owned by each.</li>
    </ol>
    <div class="Pagetoplink mb40"><a href="#Page-Top">Back to Top</a></div>

    <hr class="Hidden">

  </div>

  <div class="Section List-General">
    <div class="Section Table-Border">
      <h3 id="resource" class="Header">Data Related to Resources</h3>
    </div>
    <div class="Section Table-Border">
      <p class="cap"><span class="title"><strong>Waste Emissions, Amount of Recycled Waste and Copy Paper Consumption</strong></span><span class="unit">(t)</span></p>
      <div class="Table-Wrapper">
        <table class="data bordernone">
          <thead>
            <tr>
              <th class="BG-Gray" scope="col">&nbsp;</th>
              <th class="BG-Gray" scope="col">FY2016</th>
              <th class="BG-Gray" scope="col">FY2017</th>
              <th class="BG-Gray" scope="col">FY2018</th>
              <th class="BG-Gray" scope="col">FY2019</th>
              <th class="BG-Gray" scope="col">FY2020</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col04 left">General waste emissions</td>
              <td class="envcol">19,220</td>
              <td class="envcol">18,078</td>
              <td class="envcol">26,167</td>
              <td class="envcol">26,212</td>
              <td class="envcol">27,254</td>
            </tr>
            <tr>
              <td class="col04 left">Amount of recycled waste  included in the above</td>
              <td class="envcol">10,186</td>
              <td class="envcol">10,191</td>
              <td class="envcol">10,132</td>
              <td class="envcol">7,604</td>
              <td class="envcol">7,699</td>
            </tr>
            <tr>
              <td class="col04 left">Industrial waste emissions</td>
              <td class="envcol">7,963</td>
              <td class="envcol">8,305</td>
              <td class="envcol">10,468</td>
              <td class="envcol">13,694</td>
              <td class="envcol">11,000</td>
            </tr>
            <tr>
              <td class="col04 left">Amount of recycled waste included in the above </td>
              <td class="envcol">1,385</td>
              <td class="envcol">1,009</td>
              <td class="envcol">1,433</td>
              <td class="envcol">1,558</td>
              <td class="envcol">1,455</td>
            </tr>
            <tr>
              <td class="col04 left">Copy paper consumption</td>
              <td class="envcol">305</td>
              <td class="envcol">269</td>
              <td class="envcol">236</td>
              <td class="envcol">322</td>
              <td class="envcol">244</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="Section">
        <div><strong>(Coverage)</strong></div>
        <ul class="Normal">
            <li><strong>General waste and industrial waste emissions:</strong> Emissions from major facilities of the four main Group companies*</li>
            <li><strong>Copy paper:</strong> Consumption at head office facilities of the four main Group companies*</li>
        </ul>
        <ol class="tableNote02">
          <li>Japan Post Holdings Co., Ltd., Japan Post Co., Ltd., Japan Post Bank Co., Ltd., and Japan Post Insurance Co., Ltd.</li>
        </ol>
    </div>
    <div class="Pagetoplink"><a href="#Page-Top">Back to Top</a></div>

    <div class="Section Table-Border">
      <p class="cap"><span class="title"><strong>Data Related to Use of Water</strong></span><span class="unit">(1,000 m&sup3;)</span></p>
      <div class="Table-Wrapper">
        <table class="data bordernone">
          <thead>
            <tr>
              <th class="BG-Gray" scope="col"></th>
              <th class="BG-Gray" scope="col">FY2016</th>
              <th class="BG-Gray" scope="col">FY2017</th>
              <th class="BG-Gray" scope="col">FY2018</th>
              <th class="BG-Gray" scope="col">FY2019</th>
              <th class="BG-Gray" scope="col">FY2020</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col04 left">Tap water consumption</td>
              <td class="envcol">5,392</td>
              <td class="envcol">5,206</td>
              <td class="envcol">5,122</td>
              <td class="envcol">4,787</td>
              <td class="envcol">3,932</td>
            </tr>
            <tr>
              <td class="col04 left">Sewage discharge</td>
              <td class="envcol">3,744</td>
              <td class="envcol">3,875</td>
              <td class="envcol">3,729</td>
              <td class="envcol">3,579</td>
              <td class="envcol">3,253</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="Section">
      <div><strong>(Coverage)</strong></div>
      <ul class="Normal">
        <li><strong>Tap water consumption and sewage discharge:</strong> Consumption and discharge from major facilities of the four main Group companies*</li>
      </ul>
      <ol class="tableNote02">
        <li>Japan Post Holdings Co., Ltd., Japan Post Co., Ltd., Japan Post Bank Co., Ltd., and Japan Post Insurance Co., Ltd.</li>
      </ol>
    </div>
  </div>

</div>