<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>COOL CHOICE（クールチョイス）に賛同しています</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p class="Text-Right">2017年8月18日</p>
<!-- end .Section --></div>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="500" alt="クールチョイスロゴマーク" src="/csr/environment/images/indexcc_img_01.jpg"></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<div class="Section">
<p>日本郵政株式会社は、「COOL CHOICE（クールチョイス）」に賛同しています。<br>「COOL CHOICE」とは、2030年度の温室効果ガスの排出量を2013年度比で26％削減するという目標達成のため、脱炭素社会づくりに貢献するサービスの利用・ライフスタイルの転換など、地球温暖化対策に資する「賢い選択」を促す、政府（環境省）が推進する国民運動です。
</p>
<!-- end .Section --></div>

<div class="Section List-General">
<ul>
<li><a class="Link Popup" href="https://ondankataisaku.env.go.jp/coolchoice/index.html" target="_blank"><span>環境省「COOL CHOICE（クールチョイス）</span></a></li>
<li><a href="/csr/pdf/cool_choice.pdf" title="PDFファイルを表示します" class="Link PDF"><span>COOL CHOICE賛同証明書</span></a>［PDF：101kバイト］</li>
</ul>
<!-- end .Section.List-General --></div>

<div class="associated_info">
  <dl>
    <dt>グループ各社の取り組み</dt>
    <dd><a href="http://www.post.japanpost.jp/notification/pressrelease/2017/00_honsha/0329_01.html" class="Link Popup" target="_blank"><span>「郵便局、コンビニ、『はこぽす』で受け取ろうキャンペーン」の実施</span></a>-日本郵便</dd>
    <dd><a href="https://www.post.japanpost.jp/service/hakopost/" class="Link Popup" target="_blank"><span>はこぽす</span></a>-日本郵便</dd>
  </dl>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/"><span>グループCSRのトピックス</span></a></li>
    <li><a class="Link" href="/csr/sdgs.html"><span>日本郵政グループのSDGs達成に向けた取り組み</span></a></li>
  </ul>
<!-- end .Section --></div>