<div id="title_box">
  <div id="csr_main_img_report">
      <h1>地球と共に</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/environment/images/title_box_sdgs_12.png" alt="12：つくる責任つかう責任">
    <img src="/sustainability/environment/images/title_box_sdgs_13.png" alt="13：気候変動に具体的な対策を">
    <img src="/sustainability/environment/images/title_box_sdgs_15.png" alt="15：陸の豊かさも守ろう">
  </p>
</div>

<div class="Section">
  <p><strong>私たちの営みを支える豊かな自然環境を未来に引き継ぐために。</strong><br>私たちは、国内外に多くの事業所と車両を擁し事業を営む企業グループとして、気候変動等の課題に真摯に取り組み、地球環境への負荷低減に配慮した事業活動を積極的に推進します。</p>
</div>

<div class="Section">
  <Grid-Column class="Image">
    <div class="Image Text-Center"><img src="/sustainability/environment/images/env_10.png" alt="2025年に目指す姿"></div>
  </Grid-Column>
</div>

<h2 class="Header">活動報告</h2>
<div class="BoxArea Col2-Border1">
  <div class="box_left post1 Grid-Column sus_post" id="env01">
    <div class="Box">
      <dl>
        <dt>
          <a href="/sustainability/environment/greenhouse_gas/">
            <span>温室効果ガス排出量の削減</span>
            <div class="priority">CSR重点課題</div>
          </a>
        </dt>
        <dd>
          <!-- <span>未来を担う子どもたちのために</span> -->
          <ul>
            <li><a class="Link" href="/sustainability/environment/greenhouse_gas/#charge"><span>他企業とのパートナーシップによるカーボンニュートラル化の推進</span></a></li>
            <li><a class="Link" href="/sustainability/environment/greenhouse_gas/#ev"><span>EV車両の導入・拡大</span></a></li>
            <li><a class="Link" href="/sustainability/environment/greenhouse_gas/#real_estate"><span>環境に配慮した不動産事業</span></a></li>
            <li><a class="Link" href="/sustainability/environment/greenhouse_gas/#forest"><span>JP子どもの森づくり運動</span></a></li>
            <li><a class="Link" href="/sustainability/environment/greenhouse_gas/others.html"><span>その他の取り組み</span></a></li>
          </ul>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_left-->
  <div class="box_right post1 Grid-Column sus_post" id="env02">
    <div class="Box">
      <dl>
        <dt>
          <a href="/sustainability/environment/resources/">
            <span>資源の有効利用と廃棄物の削減</span>
            <div class="priority">CSR重点課題</div>
          </a>
        </dt>
        <dd>
          <!-- <span>未来を担う子どもたちのために</span> -->
          <ul>
            <li><a class="Link" href="/sustainability/environment/resources/#care"><span>環境配慮型郵便局の推進</span></a></li>
            <li><a class="Link" href="/sustainability/environment/resources/#passbook"><span>無通帳型総合口座の取り扱いをはじめとした紙の削減</span></a></li>
            <!-- <li><a class="Link" href="/sustainability/environment/resources/#eco"><span>ゆうちょエココミュニケーション</span></a></li> -->
            <li><a class="Link" href="/sustainability/environment/resources/#paperless"><span>紙使用量の削減（ペーパーレス化）の取り組み、環境保全活動の支援</span></a></li>
            <li><a class="Link" href="/sustainability/environment/resources/others.html"><span>その他の取り組み</span></a></li>
          </ul>
        </dd>
      </dl>
    </div><!--Box-->
  </div>
</div>
<div class="BoxArea Col2-Border1">
  <!--box_right-->
  <div class="box_left post1 Grid-Column sus_post" id="env03">
    <div class="Box">
      <dl>
        <dt>
          <a href="/sustainability/environmental_management/#ghgchallenge">
            <span>環境チャレンジ</span>
            <!-- <div class="priority">CSR重点課題</div> -->
          </a>
        </dt>
        <dd>
          <!-- <span>未来を担う子どもたちのために</span> -->
          <ul>
            <li><a class="Link" href="/sustainability/environmental_management/#cost"><span>エネルギー使用量削減計画・気候変動に関するコスト</span></a></li>
            <li><a class="Link" href="/sustainability/environmental_management/#result"><span>実績データ</span></a></li>
            <li><a class="Link" href="/sustainability/environmental_management/#concrete"><span>具体的な取り組み</span></a></li>
          </ul>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_left-->
  <div class="box_right post1 Grid-Column sus_post" id="env04">
    <div class="Box">
      <dl>
        <dt>
          <a href="/sustainability/environment/kodomono_mori/">
            <span>JP子どもの森づくり運動</span>
            <!-- <div class="priority">CSR重点課題</div> -->
          </a>
        </dt>
        <dd>
          <!-- <span>未来を担う子どもたちのために</span> -->
          <ul>
            <li><a class="Link" href="/sustainability/environment/kodomono_mori/#green_wave"><span>東北復興グリーンウェイブ</span></a></li>
            <li><a class="Link" href="/sustainability/environment/kodomono_mori/#nursing"><span>保育サポート活動としてのオンライン講座の開催</span></a></li>
          </ul>
        </dd>
      </dl>
    </div><!--Box-->
  </div><!--box_right-->
</div>
