<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>環境に配慮した郵便・物流</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政グループは、EV車両やモーダルシフト（環境負荷の小さい輸送手段に転換すること）など、物流における環境負荷の低減に取り組んでいます。</p>
<!-- end .Section --></div>

<h2 id=electriccar class="Header"><span>EV車両などの導入・拡大</span></h2>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="集配用のEV四輪車" src="/sustainability/environment/images/logi_img_01.jpg" />
</div>
<div class="Image Text-Center">
<img alt="集配用のEV二輪車" src="/sustainability/environment/images/logi_img_02.jpg" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵便は、全国の郵便局で郵便物や荷物の配送にはEV四輪車・EV二輪車、郵便局間の輸送にはハイブリッド車および天然ガス車（CNG、LPG）を活用し、CO₂の排出を抑えています。</p>
<p>また、比較的小さな荷物の配達には四輪車よりCO₂排出量の少ない二輪車を活用しているほか、都市部を中心に電動アシスト付自転車を約2,000台配備し、環境負荷の少ない配達に努めています。</p>
<p>2020年度末までに、東京都を中心とした近距離エリアで郵便物や荷物の配送時に使用する軽四輪自動車1,500台、自動二輪車2,200台をガソリン車からEV車両に切り替えることにより、さらなる環境負荷の低減を目指します。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header"><span>EV車両導入・拡大への取り組み</span></h3>
<div class="Section Table-Dot">
<table><caption class="Hidden">これまでの取り組み</caption><colgroup> <col style="width: 20%;" /> <col style="width: 80%;" /> </colgroup>
<tbody>
<tr>
<th scope="row">2008年度</th>
<td>EV四輪車の実証実験を開始。環境面、業務面での効果と課題をさまざまな角度から検証し、車両メーカーに開発協力を要請するなど、本格導入に向け準備。</td>
</tr>
<tr>
<th scope="row">2013年度</th>
<td>EV四輪車を試行的に導入し、環境面にもたらす効果や業務上の実用性、効率性など、さまざまな角度から検証。EV四輪車に10台切り替え。</td>
</tr>
<tr>
<th scope="row">2014年度</th>
<td>EV四輪車に62台切り替え。</td>
</tr>
<tr>
<tr>
<th scope="row">2017年度</th>
<td>本田技研工業株式会社と、環境に配慮したEV二輪車を用いた配達業務の実証実験などについての協業検討を開始。</td>
</tr>
<tr>
<th scope="row">2019年度</th>
<td>EV四輪車に400台、EV二輪車に200台切り替え。</td>
</tr>
<tr>
<th scope="row">2020年度</th>
<td>EV四輪車に1,100台、EV二輪車に2,000台切り替え予定。</td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>

<h2 id=modalshift class="Header"><span>モーダルシフトの推進</span></h2>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="31フィートコンテナ車両" src="/sustainability/environment/images/index02_img_02.jpg" style="width: 300px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵便は、長距離輸送におけるトラックドライバー不足を見据え、トラックによる郵便物などの輸送を、地球に優しく大量輸送が可能な鉄道または海運に転換するモーダルシフトに取り組んでいます。<br>
2017年度のモーダルシフト積載量は、鉄道で204.9千t、海運で24.9千tです。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 id=mixdeliver class="Header"><span>貨客混載</span></h2>
<div class="Section Table-Border">

<p>路線バスや鉄道会社等と連携し、バスや鉄道車両で郵便物などの輸送を行う「貨客混載」の取り組みを進めることで、CO₂排出量の削減につなげています。</p>
<p>宮崎県西都市と西米良村の間では、宮崎交通の路線バスによりヤマト運輸株式会社と日本郵便の荷物を貨客混載で共同輸送しています。また西米良村では、村営バスにより上記2社に佐川急便株式会社を加えた3社の荷物や、郵便ポストから収集した郵便物の貨客混載輸送を行っています。</p>

<div class="Table-Wrapper">
  <table>
    <colgr>
      <col>
      <col>
      <col>
    </colgr>
    <thead>
      <tr>
        <th class="BG-Gray Text-Center">都道府県</th>
        <th class="BG-Gray Text-Center">事業者等</th>
        <th class="BG-Gray Text-Center">実施区間等</th>        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class=" Text-Center">秋田県</td>
        <td>羽後交通株式会社（路線バス）</td>
        <td>象潟郵便局～本荘郵便局間</td>
      </tr>
      <tr>
        <td class=" Text-Center Text-Middle" rowspan="2">宮崎県</td>
        <td>宮崎交通株式会社（路線バス）</td>
        <td>村所郵便局～西都郵便局間</td>
      </tr>
      <tr>
        <td>西米良村（コミュニティバス）</td>
        <td>村所郵便局～小川地区配達員間</td>
      </tr>
      <tr>
        <td class=" Text-Center">兵庫県</td>
        <td>株式会社ウエスト神姫（路線バス）</td>
        <td>播磨山崎郵便局～千種郵便局間</td>
      </tr>
      <tr>
        <td class=" Text-Center">岐阜県</td>
        <td>明智鉄道株式会社（鉄道）</td>
        <td>恵那郵便局～明智郵便局間</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- end .Section --></div>

<h2 id=superful class="Header"><span>スーパーフルトレーラを活用した共同幹線輸送</span></h2>
<div class="Section">
<p>一般社団法人全国物流ネットワーク協会と西濃運輸株式会社、日本通運株式会社、ヤマト運輸株式会社、日本郵便の4社は、全長25メートルの連結トラック「スーパーフルトレーラ25」（SF25）による共同輸送を行っています。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="650" alt="スーパーフルトレーラ" src="/sustainability/environment/images/index02_img_04.jpg"></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>
<div class="Section Col2 TextImageBlock Image-Right">
  <p>全長25メートルの連結トラックは、車両の最長制限が21メートルから25メートルに緩和されたことにより、運行が可能になりました。<br>この取り組みでは、異なる事業者のトレーラを連結し、事業者の枠を超えた共同輸送を行っており、日本郵便が運行するSF25は、2019年4月から、関東－関西間で平日毎日往復1便運行しています。1台で従来のトラック2台分の荷物を運ぶことができるため、運行する車両台数が削減され、CO₂排出量の削減につながります。</p>
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img style="width: 350px;" src="/sustainability/environment/images/superful.jpg" alt=""></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>2019年12月、この取り組みが持続可能な物流体系の構築に功績があったとして、第18回グリーン物流パートナーシップ会議<sup>※</sup>優良事業者表彰特別賞を受賞しました。</p>
      <p>※グリーン物流パートナーシップ会議<br>
        物流分野におけるCO₂排出削減に向け、荷主企業と物流事業者が連携した取り組みを拡大するため、2005年4月に経済産業省、国土交通省および産業界が主催となり設立した会議体。<br>
        本会議では、持続可能な物流体系の構築に特に顕著な功績があった優良な取り組みに対して、経済産業省、国土交通省それぞれから表彰されます。</p>
    </div>
  </div>
<!-- end .Section --></div>

<h2 id=redeliver class="Header"><span>再配達削減の取り組み</span></h2>
<div class="Section Table-Border">
  <p>日本郵便は、お客さまが「身近で差し出し、身近で受け取り」ができるよう、ゆうパックのサービス改善を進めており、より便利にゆうパックをご利用いただけるようにすることで、再配達を減らし、CO₂排出量の削減に努めています。</p>
  <div class="Table-Wrapper">
    <table>
      <colgroup>
        <col style="width: 25%;">
        <col style="width: 75%;">
      </colgroup>
      <thead>
        <tr>
          <th class="BG-Gray Text-Center" scope="col"></th>
          <th class="BG-Gray Text-Center" scope="col">サービス概要</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>e受取アシスト</td>
          <td><p>メールやLINEで「お届け予定日時」やご不在連絡をお知らせする「ｅお届け通知」と、お知らせからご都合に合わせたお受け取り方法を選択できる「ｅ受取チョイス」により、お客さまの荷物のお受け取りをアシストするサービスです。</p>
            <a href="https://www.post.japanpost.jp/service/e_assist/index.html" class="Link Popup"><span>e受取アシスト</span></a>
          </td>
        </tr>
        <tr>
          <td>置き配</td>
          <td><p>あらかじめご指定いただいた場所（玄関前、置き配バッグ、宅配ボックス、車庫、物置など）に非対面で荷物などをお届けするサービスです。</p>
            <a href="https://www.post.japanpost.jp/service/okihai/" class="Link Popup"><span>置き配</span></a>
          </td>
        </tr>
        <tr>
          <td>はこぽす</td>
          <td><p>荷物や郵便物を、郵便局などに設置されたロッカーで受け取りまたは差し出すことができるサービスです。</p>
            <a href="https://www.post.japanpost.jp/service/hakopost/" class="Link Popup"><span>はこぽす</span></a>
          </td>
        </tr>
        <tr>
          <td>コンビニ・郵便局窓口受取</td>
          <td><p>ライフスタイルに合わせて、全国のコンビニや郵便局で荷物のお受け取りができます。</p>
            <a href="https://www.post.japanpost.jp/service/uketori/index.html" class="Link Popup">コンビニ・郵便局窓口受取サービス<span></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<!-- end .Section.Table-Border --></div>

<h2 id=safedriving class="Header"><span>環境と安全に配慮した運転</span></h2>
<div class="Section">
<p>日本郵政グループは、環境に配慮した穏やかな運転を実施し、交通事故を防止するとともに、車両燃料使用量の減少により、CO₂排出量の削減を図っています。</p>
<p>日本郵便は、エンジンブレーキの活用、乗車前に行う車両の点検（タイヤの空気圧チェックによる燃費悪化防止）、アイドリングストップなど環境と安全に配慮した運転を「エコ安全ドライブ」と称し、推進しています。毎年、交通事故発生ゼロかつ燃費向上を実現した郵便局を表彰するなど、社員の意識向上を図っています。</p>
<!-- end .Section --></div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.post.japanpost.jp/about/csr/nature.html#reduction" class="Link Popup" target="_blank"><span>温室効果ガス排出量の削減</span></a>-日本郵便</li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
