<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>環境に配慮したオフィスビル・商業施設の建設</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政グループは、最新の環境配慮技術を取り入れながら、全国各地で不動産事業を行っています。2012年のＪＰタワー（東京）の竣工に続いて、2016年4月までに札幌、大宮、名古屋、博多でオフィスビル・商業施設が竣工しました。</p>
<p>不動産事業では、省エネ機器の導入や、光・風・水など自然エネルギーの利用によって建物自体の環境性能を高めるだけでなく、屋上や壁面の緑化などを通じて周辺の豊かな環境づくりも大切にしています。そして、地球環境の保全とともに、不動産開発にあたっては地震や水害などの災害対策や事業継続計画（BCP）といった社会課題に対応する施策を高いレベルで追求しています。</p>
<p>これから後も、地球環境への負荷の少ない不動産事業を展開していきます。</p>
<!-- end .Section --></div>

<h3 class="Header"><span>ＪＰタワー（2012年5月竣工）</span></h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img src="/sustainability/environment/images/index03_img_03.jpg" alt="JPタワー" width="181" height="249">
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>オフィスフロアの照明器具にLED証明を採用し、また外気を利用した冷房設備は室内のCO<sub style="font-size: 80%;">2</sub>濃度をセンサーで感知して外気の取り入れ量を制御するなど、最先端の省エネルギー技術を徹底的に採用しています。</p>
<div class="Section Col-Border List-General">
<div class="Grid-Column BG-Gray">
<p>評価・表彰</p>
<ul>
<p>「東京の低炭素ビルTOP30」に選定（2011年）<br>
建築環境総合性能評価システム「CASBEE-新築版」において、最高位Sランク取得（2013年）<br>
「第4回 省エネ・照明デザインアワード（平成25年度）」の公共施設・総合施設部門において優秀事例受賞（2013年）<br>
商業施設「ＫＩＴＴＥ」における屋上庭園「ＫＩＴＴＥガーデン」が、緑地環境「SEGES（社会・環境貢献緑地評価システム）：都市のオアシス」に認定（2014年）<br>
第24回BELCA賞ベストリフォーム部門を受賞（2015年）<br>
「トップレベル事業所」に認定（2017年）</p>
</ul>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border.List-General --></div>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header"><span>大宮ＪＰビルディング（2014年8月竣工）</span></h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img src="/sustainability/environment/images/index03_img_03.jpg" alt="JPタワー" width="181" height="249">
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p></p>
<div class="Section Col-Border List-General">
<div class="Grid-Column BG-Gray">
<p>評価・表彰</p>
<ul>
<p>建築環境総合性能評価システム「CASBEEさいたま」において、最高位Sランクを埼玉県さいたま市大宮区で初めて取得（2014年）</p>
</ul>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border.List-General --></div>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>


<h3 class="Header"><span>札幌三井ＪＰビルディング（2014年8月竣工）</span></h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img src="/sustainability/environment/images/index03_img_05.jpg" alt="札幌三井JPビルディング" width="271" height="249">
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>国指定重要文化財である北海道庁赤れんが庁舎に近接して立地しています。事務室内全ての照明にLED照明を採用したほか、外部からの光を感知して自動で調光する「自動調光システム」を導入しています。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header"><span>ＪＰタワー名古屋（2015年11月竣工）</span></h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img src="/sustainability/environment/images/index03_img_06.jpg" alt="JPタワー名古屋" width="180" height="249">
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>JR名古屋駅（愛知県）と直結する中部圏最大級の複合ビルです。オフィスには個別照度設定可能な自動調光システムのLED照明を採用しており、高遮熱断熱複層ガラスや自然換気システムを導入した外装計画に加え、地域冷暖房、太陽光発電、風力発電、雨水利用、屋上緑化・壁面緑化など、次世代のオフィスに求められるさまざまな視点からのきめ細やかな環境対策を行っています。</p>
<div class="Section Col-Border List-General">
<div class="Grid-Column BG-Gray">
<p>評価・表彰</p>
<ul>
<p>建築環境総合性能評価システム「CASBEE名古屋」において、最高位Sランクを取得（2013年）</p>
</ul>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border.List-General --></div>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header"><span>ＫＩＴＴＥ博多（2016年4月開業）</span></h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img src="/sustainability/environment/images/index03_img_07.jpg" alt="KITTE博多" width="273" height="249">
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>JR博多駅（福岡県）と直結する全館商業施設です。建物は、壁面を緑化することで快適で潤いのある空間を創出するとともに、CO<sub style="font-size: 80%;">2</sub>排出量削減や省エネを目指し、環境（設備）設計において高効率空調機（モジュールチラー）の採用、全館LED照明の採用、雨水利用システムの積極的な導入などの対策を実施しています。</p>
<div class="Section Col-Border List-General">
<div class="Grid-Column BG-Gray">
<p>評価・表彰</p>
<ul>
<p>建築環境総合性能評価システム「CASBEE福岡」において、Aランクを取得（2016年）</p>
</ul>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border.List-General --></div>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header"><span>ＪＲＪＰ博多ビル（2016年4月竣工）</span></h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img src="/sustainability/environment/images/index03_img_08.jpg" alt="JRJP博多ビル" width="258" height="249">
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>JR博多駅（福岡県）から地下通路と2階ペデストリアンデッキで直結する九州最大級のオフィスビルです。建物は、LED照明、雨水利用、高遮熱断熱複層ガラスや自動調光システムの導入による環境対策に加え、非常用発電機の設置などによりBCPにも配慮した建物となっています。</p>
<div class="Section Col-Border List-General">
<div class="Grid-Column BG-Gray">
<p>評価・表彰</p>
<ul>
<p>建築環境総合性能評価システム「CASBEE福岡」において、Aランクを取得（2016年）</p>
</ul>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border.List-General --></div>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
    <li><a class="Link" href="/csr/environment/"><span>地球と共に</span></a></li>
  </ul>
<!-- end .Section --></div>