<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>日本郵政グループで使用した紙のリサイクル</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵便は、グループ各社で使用した文書を集中倉庫に保管する業務を行っています。文書の保存期限後は、提携する溶解工場で機密文書の溶解処理を行います。</p>
<p>この資源を原料として、日本郵便の子会社である日本郵便オフィスサポート株式会社が工場にトイレットペーパーなどの製造を委託し、郵便局などで再利用しています。</p>
<!-- end .Section --></div>

<div class="Section List-General">
  <ul>
    <li><a href="http://www.jp-os.jp/" class="Link Popup" target="_blank"><span>日本郵便オフィスサポート株式会社</span></a></li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/environment/"><span>地球と共に</span></a></li>
  </ul>
<!-- end .Section --></div>