<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>郵便局を活用したリサイクルの推進</h1>
  </div>
</div>
<!-- /#title_box-->

<h2 id=cartridge class="Header"><span>使用済みインクカートリッジの回収</span></h2>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="使用済みインクカートリッジ回収箱" src="/sustainability/environment/images/index05_img_01.jpg" style="width: 300px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵便は、プリンターメーカー4社と協力し、使用済みインクカートリッジの共同回収（インクカートリッジ里帰りプロジェクト）を行っています。</p>
<p>2019年3月現在、回収箱は全国3,621か所の郵便局および一部の地方公共団体に設置されています。</p>
<p>郵便局などにお持ちいただいた使用済みインクカートリッジは、ゆうパックで仕分け作業所に送られ、メーカーごとに仕分けされた後は、各メーカーによって再資源化されます。</p>
<p>2019年度は約360万個の回収実績があり、140t（杉の木15,900本相当）のCO<sub style="font-size: 80%;">2</sub>削減効果がありました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="650" alt="CO2回収実績" src="/sustainability/environment/images/index05_img_02.png"></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>
<div>
<ul>
    <li><a href="http://www.inksatogaeri.jp/" class="Link Popup" target="_blank"><span>インクカートリッジ里帰りプロジェクト</span></a></li>
</ul>
</div>
<div class="Section Col-Border">
<div class="Grid-Column BG-Gray">
<div class="Section List-General">
<p>「インクカートリッジ里帰りプロジェクト」は、動画でもご紹介しています。</p>
  <ul>
    <li><a class="Link" href="/csr/movie/2016_002.html"><span>インクカートリッジ里帰りプロジェクト【CSRムービー】</span></a></li>
  </ul>
<!-- end .Section.List-General --></div>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border --></div>

<h2 id=extinguish class="Header"><span>家庭用消火器の回収</span></h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img style="width: 400px; max-width: 100%;" src="/sustainability/society/images/syo_flow.gif" alt="消火器回収の流れ"></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>2005年に環境省による一般廃棄物の広域認定制度の対象品目に消火器が加えられたことにより、消火器メーカーによる廃消火器の広域的な回収・リサイクルが可能となりました。</p>
      <p>日本郵便では、2006年から、ゆうパックを活用した消火器の回収を行うことにより、消火器メーカー（HATSUTAエコサイクルセンター）が進める地球環境保全における循環型社会の形成に向けた取り組みに協力しています。</p>
      <p>2019年度は、約4千個のゆうパックにより回収しました。</p>
    </div>
  </div>
<!-- end .Section -->
</div>

<div class="Section List-General">
  <ul>
        <li><a href="http://www.post.japanpost.jp/about/recycle/syoukaki.html" class="Link Popup" target="_blank"><span>家庭系廃消火器の回収について</span></a>-日本郵便</li>
    <li><a href="http://www.post.japanpost.jp/about/recycle/pc.html" class="Link Popup" target="_blank"><span>パソコン回収について</span></a>-日本郵便</li>
  </ul>
<!-- end .Section -->
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/environment/"><span>地球と共に</span></a></li>
  </ul>
<!-- end .Section --></div>