<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>無通帳型総合口座の取り扱いをはじめとした紙の削減</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
  <p>ゆうちょ銀行では、お客さまにより便利にご利用いただけるサービスを提供することで、事業における紙使用量削減に継続して取り組んでいます。</p>
</div>

<h2 class="Header">無通帳型総合口座「ゆうちょダイレクト＋（プラス）」</h2>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center"><img alt="ゆうちょダイレクトプラス ロゴ" src="/sustainability/environment/images/index07_img_01.jpg" class="sp_w80"/>
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text" style="overflow:visible;">
<div class="Box">
<p>「ゆうちょダイレクト＋（プラス）」は、通帳を発行せず、現金の預け入れと払い出しはキャッシュカードで、入出金明細照会や現在高照会などはゆうちょダイレクト上でご利用いただけるサービスです。紙の通帳を発行しない代わりに、入出金明細を最大15か月間ご確認いただけます。</p>
<p>これまで通帳に使用していた紙や、お客さまへの各種お知らせの紙も不要となるため、紙使用量の削減にもつながります。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
  <ul>
    <li><a href="https://www.jp-bank.japanpost.jp/direct/pc/plus/dr_pc_pl_index.html" class="Link Popup" target="_blank"><span>ゆうちょダイレクト＋（プラス）について</span></a>-ゆうちょ銀行</li>
  </ul>
<!-- end .Section --></div>

<h3 class="Header">振替受払通知票Web照会サービス</h3>

<div class="Section">
  <p>振替受払通知票および払込取扱票などを口座更新日の翌朝9時以降に、オフィスやご自宅のパソコン・スマートフォンから確認できるサービスです。ご利用のお客さまからは、「インターネット上で振替受払通知票などが確認できて便利」「紙の振替受払通知票を保管する必要がなくなって、楽になった」などの声をいただいています。文書でお知らせする代わりにWeb画面でご確認いただくため、紙使用量の削減にもつながっています。</p>
  
  <p><a href="https://www.jp-bank.japanpost.jp/hojin/speedy/hj_spd_web.html" class="Link Popup"><span>振替受払通知票Web照会サービス</span></a>-ゆうちょ銀行</p>
</div>

<h3 class="Header">環境保全団体への寄附「ゆうちょ エコ・コミュニケーション」</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img alt="日本地図" src="/sustainability/environment/images/index07_img_04.jpg" style="width: 400px; max-width: 100%;" />
    <!-- end .Section --></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>「ゆうちょダイレクト＋（プラス）」「振替受払通知票Web照会サービス」など、便利で紙使用量削減につながるサービスを多くのお客さまにご利用いただくことで、削減された紙使用量分のコストの一部を、地域住民と共に環境保全に取り組む全国の団体（認定NPO法人等）に「ゆうちょ エコ・コミュニケーション」として寄附しています(2017年度開始。全26団体、寄附累計額1,300万円)。<br>ゆうちょ銀行は、地域社会の持続的発展と環境保全を担う人材育成に貢献してまいります。</p>
    </div>
  </div>
<!-- end .Section --></div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.jp-bank.japanpost.jp/aboutus/csr/abt_act_csr_kankyoukihu.html" class="Link Popup" target="_blank"><span>ゆうちょ　エコ・コミュニケーション（環境保全団体への寄附）</span></a>-ゆうちょ銀行</li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/environment/"><span>地球と共に</span></a></li>
  </ul>
<!-- end .Section --></div>