<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>「ご契約のしおり・約款」のWeb閲覧提供による環境保全への貢献</h1>
  </div>
</div>
<!-- /#title_box-->
<div class="Section">
<p>かんぽ生命保険は、2014年10月2日から、「ご契約のしおり・約款」のWeb閲覧による提供を開始しています。</p>
<p>従来、「ご契約のしおり・約款」はすべてのお客さまに冊子で提供していましたが、「Web閲覧」も選択可能とすることにより、お客さまが希望すれば、冊子の受領に代えて、かんぽ生命保険Webサイト上でPDF版の「ご契約のしおり・約款」を確認することが可能になりました。お客さまに「ご契約のしおり・約款」のWeb閲覧をご利用いただくことにより、従来の冊子が不要となるため、紙の使用量を削減することができます。</p>
<p>2019年8月には、2017年10月から2018年9月の1年間に「ご契約のしおり・約款」電子版をご利用いただいたお客さまの数に応じて、森林の育成に取り組む環境保護団体（合計34団体）に対して総額3,400万円の寄附を行いました。</p>
<!-- end .Section --></div>

<div class="Section List-General">
  <ul>
    <li><a href="http://www.jp-life.japanpost.jp/aboutus/csr/enviroment/abt_csr_env_index.html#csrEnvBlock04" class="Link Popup" target="_blank"><span>「ご契約のしおり・約款」のWeb閲覧提供による環境保全への貢献</span></a>-かんぽ生命</li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/environment/"><span>地球と共に</span></a></li>
  </ul>
<!-- end .Section --></div>