<div id="data_index">
  <div id="title_box">
      <div id="csr_main_img_report">
          <h1>ESGデータ集</h1>
      </div>
  </div>
  <!-- /#title_box-->

  <div class="Section">
      <p class="Category Lead">日本郵政グループの2018年度までの環境に関するデータをまとめています。</p>
      <!-- end .Section -->
  </div>

  <h2 id="env" class="Header">環境に関するデータ</h2>

  <div class="Table-Border typesquare_option">
    <h3 id="emissions" class="Header">温室効果ガス排出量・エネルギー消費量に関するデータ</h3>

  </div>
  <div class="Section Table-Border">
    <p class="cap"><span class="title"><strong>温室効果ガス排出量<sup style="font-size:80%; vertical-align:top;">※1</sup></strong></span><span class="unit">（t-CO<sub style="font-size: 80%;">2</sub>）</p>

    <!--温室効果ガス排出量-->
    <div class="Table-Wrapper">
        <table class="data bordernone">
            <tbody>
                <tr>
                    <td colspan="3" class="BG-Gray Text-Center"></td>
                    <!--<td class="BG-Gray Text-Center">単位</td>-->
                    <td class="BG-Gray Text-Center">2017年度</td>
                    <td class="BG-Gray Text-Center">2018年度<sup style="font-size:80%; vertical-align:top;">※2</sup></td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="3" class="Text-Center col02 red border-bottom-0">日本郵政グループ合計</td>
                    <td class="Text-Center">Scope1</td>
                    <!--<td rowspan="15" class="Text-Center">t-CO<sub style="font-size: 80%;">2</sub></td>-->
                    <td class="col05">334,307.0</td>
                    <td class="col05">328,821.9</td>
                </tr>
                <tr>
                    <td class="Text-Center">Scope2</td>
                    <td class="col05">714,428.2</td>
                    <td class="col05">650,418.2</td>
                </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">1,048,735.2</td>
                    <td class="col05">979,240.1</td>
                </tr>
                <tr>
                    <td rowspan="12" class="col05 col02 red border-top-0"></td>
                    <td rowspan="3" class="Text-Center">日本郵政</td>
                    <td class="Text-Center">Scope1</td>
                    <td class="col05">44,751.6</td>
                    <td class="col05">42,250.3</td>
                </tr>
                <tr>
                    <td class="Text-Center">Scope2</td>
                    <td class="col05">46,475.8</td>
                    <td class="col05">47,558.7</td>
                  </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">91,227.4</td>
                    <td class="col05">89,809.0</td>
                </tr>
                <tr>
                    <td rowspan="3" class="Text-Center">日本郵便</td>
                    <td class="Text-Center">Scope1</td>
                    <td class="col05">279,784.7</td>
                    <td class="col05">277,316.7</td>
                </tr>
                <tr>
                    <td class="Text-Center">Scope2</td>
                    <td class="col05">618,281.0</td>
                    <td class="col05">560,777.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">898,065.7</td>
                    <td class="col05">838,093.7</td>
                </tr>
                <tr>
                    <td rowspan="3" class="Text-Center">ゆうちょ銀行</td>
                    <td class="Text-Center">Scope1</td>
                    <td class="col05">4,514.6</td>
                    <td class="col05">4,591.9</td>
                  </tr>
                <tr>
                    <td class="Text-Center">Scope2</td>
                    <td class="col05">35,411.7</td>
                    <td class="col05">29,017.2</td>
                </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">39,926.3</td>
                    <td class="col05">33,609.1</td>
                </tr>
                <tr>
                    <td rowspan="3" class="Text-Center">かんぽ生命保険</td>
                    <td class="Text-Center">Scope1</td>
                    <td class="col05">5,256.1</td>
                    <td class="col05">4,663.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">Scope2</td>
                    <td class="col05">14,259.7</td>
                    <td class="col05">13,065.3</td>
                </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">19,515.8</td>
                    <td class="col05">17,728.3</td>
                </tr>
            </tbody>
        </table>
    </div>


    <p>※1 グループ会社の数値は、各社が所有する施設・車両の温室効果ガス排出量です。</p>
    <p>※2 2018年度までの実績は、電力に関する排出係数について、基礎排出係数を使用して算定しております。</p>


    <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>

    <p class="cap mt40"><span class="title"><strong>施設原単位</strong></span><span class="unit">（t-CO<sub style="font-size: 80%;">2</sub>/m<sup style="font-size:80%; vertical-align:top;" class=" typesquare_option" class="col05">2</sup>）</span></p>
    <div class="Table-Wrapper">
        <table class="data bordernone">
            <tbody>
                <tr>
                    <td class="Text-Center BG-Gray">&nbsp;</td>
                    <td class="Text-Center BG-Gray">2017年度</td>
                    <td class="Text-Center BG-Gray">2018年度</td>
                </tr>
                <tr>
                    <td class="Text-Center">日本郵政</td>
                    <td class="col05">0.137</td>
                    <td class="col05">0.144</td>
                </tr>
                <tr>
                    <td class="Text-Center">日本郵便</td>
                    <td class="col05">0.058</td>
                    <td class="col05">0.053</td>
                  </tr>
                <tr>
                    <td class="Text-Center">ゆうちょ銀行</td>
                    <td class="col05">0.103</td>
                    <td class="col05">0.088</td>
                </tr>
                <tr>
                    <td class="Text-Center">かんぽ生命保険</td>
                    <td class="col05">0.057</td>
                    <td class="col05">0.066</td>
                </tr>
                <tr>
                    <td class="Text-Center col02 red">日本郵政グループ合計</td>
                    <td class="col05 red">0.063</td>
                    <td class="col05 red">0.058</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>

    <p class="cap mt40" style="break-before: page;"><span class="title"><strong>車両原単位</strong></span><span class="unit">（t-CO<sub style="font-size: 80%;">2</sub>/km）</span></p>
    <div class="Table-Wrapper">
        <table class="data bordernone">
            <tbody>
                <tr>
                    <td class="Text-Center BG-Gray">&nbsp;</td>
                    <td class="Text-Center BG-Gray">2017年度</td>
                    <td class="Text-Center BG-Gray">2018年度</td>
                </tr>
                <tr>
                    <td class="Text-Center">日本郵政</td>
                    <td class="col05">0.000277</td>
                    <td class="col05">0.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">日本郵便</td>
                    <td class="col05">0.000130</td>
                    <td class="col05">0.000134</td>
                </tr>
                <tr>
                    <td class="Text-Center">ゆうちょ銀行</td>
                    <td class="col05">0.000134</td>
                    <td class="col05">0.000135</td>
                </tr>
                <tr>
                    <td class="Text-Center">かんぽ生命保険</td>
                    <td class="col05">0.000094</td>
                    <td class="col05">0.000158</td>
                </tr>
                <tr>
                    <td class="Text-Center col02 red">日本郵政グループ合計</td>
                    <td class="col05 red">0.000129</td>
                    <td class="col05 red">0.000135</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>


    <p class="cap mt40"><span class="title"><strong>Scope3実績</strong></span><span class="unit">（t-CO<sub style="font-size: 80%;">2</sub>）</p>
    <div class="Table-Wrapper">
      <table class="data bordernone">
        <thead>
          <tr>
              <td rowspan="2" class="BG-Gray" style="width: 67%;">&nbsp;</td>
              <td class="Text-Center BG-Gray">2018年度</td>
          </tr>
          <tr>
              <td class="col02 Text-Center red border-top-0">日本郵政グループ合計</td>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Text-Center">カテゴリ1（購入した製品・サービス）</td>
                <td class="col05">833,000.2</td>
            </tr>
            <tr>
                <td class="Text-Center">カテゴリ2（資本財）</td>
                <td class="col05">33,424.1</td>
            </tr>
            <tr>
                <td class="Text-Center">カテゴリ3（Scope1,2に含まれない燃料及びエネルギー関連活動）</td>
                <td class="col05">97,074.2</td>
            </tr>
            <tr>
                <td class="Text-Center">カテゴリ6（出張）</td>
                <td class="col05">28,003.6</td>
            </tr>
            <tr>
                <td class="Text-Center">カテゴリ7（雇用者の通勤）</td>
                <td class="col05">81,938.5</td>
            </tr>
            <tr>
                <td class="Text-Center">カテゴリ12（販売した製品の廃棄）</td>
                <td class="col05">2,486.9</td>
            </tr>
            <tr>
                <td class="Text-Center">カテゴリ16（その他）</td>
                <td class="col05">7,088.5</td>
            </tr>
            <tr>
                <td class="Text-Center">合計</td>
                <td class="col05">1,083,015.8</td>
            </tr>
        </tbody>
      </table>
        <p>※　集計対象範囲は、日本郵政、日本郵便、ゆうちょ銀行、かんぽ生命です。</p>
    </div>

    <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>


    <p class="cap mt40"><span class="title"><strong>その他の温室効果ガス</strong></span><span class="unit">（t-CO<sub style="font-size: 80%;">2</sub>)</span></p>
    <div class="Table-Wrapper">
        <table>
            <tbody>
                <tr>
                    <td class="BG-Gray" style="width: 67%;">&nbsp;</td>
                    <td class="Text-Center BG-Gray">2018年度</td>
                </tr>
                <tr>
                    <td class="Text-Center">HFCs</td>
                    <td class="col05">1,294.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">PFCs</td>
                    <td class="col05">0.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">SF6</td>
                    <td class="col05">0.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">NF3</td>
                    <td class="col05">0.0</td>
                </tr>
            </tbody>
        </table>
    </div>


    <p class="cap mt40" style="break-before: page;"><span class="title"><strong>エネルギー消費量</strong></span><span class="unit">（GJ）</span></p>

  <div class="Table-Wrapper">
    <table class="data bordernone">
      <thead>
        <tr>
            <td colspan="3" class="BG-Gray col05">&nbsp;</td>
            <td class="BG-Gray Text-Center">Scope</td>
            <td class="BG-Gray Text-Center">2017年度</td>
            <td class="BG-Gray Text-Center">2018年度</td>
        </tr>
      </thead>
      <tbody>
        <!--日本郵政グループ合計-->
          <tr>
              <td colspan="2" rowspan="10" class="col02 red Text-Center border-bottom-0">日本郵政グループ合計</td>
              <td class="Text-Center">都市ガス</td>
              <td rowspan="3" class="Text-Center">Scope1/施設</td>
              <td class="col05">1,104,681.4</td>
              <td class="col05">1,071,703.5</td>
          </tr>
          <tr>
              <td class="Text-Center">LPガス</td>
              <td class="col05">85,281.5</td>
              <td class="col05">99,378.3</td>
          </tr>
          <tr>
              <td class="Text-Center">灯油・軽油・重油</td>
              <td class="col05">1,086,911.4</td>
              <td class="col05">965,637.2</td>
          </tr>
          <tr>
              <td class="Text-Center">ガソリン</td>
              <td rowspan="2" class="Text-Center">Scope1/車両</td>
              <td class="col05">2,880,131.2</td>
              <td class="col05">2,930,532.7</td>
          </tr>
          <tr>
              <td class="Text-Center">軽油</td>
              <td class="col05">90,590.8</td>
              <td class="col05">93,750.3</td>
          </tr>
          <tr>
              <td class="Text-Center">電気</td>
              <td rowspan="4" class="Text-Center">Scope2/施設</td>
              <td class="col05">13,515,198.4</td>
              <td class="col05">12,973,477.9</td>
          </tr>
          <tr>
              <td class="Text-Center">冷水</td>
              <td class="col05">213,853.6</td>
              <td class="col05">237,130.2</td>
          </tr>
          <tr>
              <td class="Text-Center">温水</td>
              <td class="col05">28,736.3</td>
              <td class="col05">32,824.5</td>
          </tr>
          <tr>
              <td class="Text-Center">蒸気</td>
              <td class="col05">128,467.6</td>
              <td class="col05">122,854.4</td>
          </tr>
          <tr>
              <td class="Text-Center">合計</td>
              <td class="col05">&nbsp;</td>
              <td class="col05">19,133,852.2</td>
              <td class="col05">18,527,289.0</td>
          </tr>
            <!--日本郵政-->
            <tr>
                <td rowspan="20" class="col02 red col05 border-top-0"></td>
                <td rowspan="10" class="Text-Center">日本郵政</td>
                <td class="Text-Center">都市ガス</td>
                <td rowspan="3" class="Text-Center">Scope1/施設</td>
                <td class="col05">90,676.2</td>
                <td class="col05">82,522.0</td>
            </tr>
            <tr>
                <td class="Text-Center">LPガス</td>
                <td class="col05">54,141.5</td>
                <td class="col05">49,129.8</td>
            </tr>
            <tr>
                <td class="Text-Center">灯油・軽油・重油</td>
                <td class="col05">534,939.0</td>
                <td class="col05">508,910.4</td>
            </tr>
            <tr>
                <td class="Text-Center">ガソリン</td>
                <td rowspan="2" class="Text-Center">Scope1/車両</td>
                <td class="col05">19.5</td>
                <td class="col05">0.0</td>
            </tr>
            <tr>
                <td class="Text-Center">軽油</td>
                <td class="col05">4.8</td>
                <td class="col05">0.0</td>
            </tr>
            <tr>
                <td class="Text-Center">電気</td>
                <td rowspan="4" class="Text-Center">Scope2/施設</td>
                <td class="col05">924,603.2</td>
                <td class="col05">871,621.1</td>
            </tr>
            <tr>
                <td class="Text-Center">冷水</td>
                <td class="col05">17,083.1</td>
                <td class="col05">19,908.3</td>
            </tr>
            <tr>
                <td class="Text-Center">温水</td>
                <td class="col05">0.0</td>
                <td class="col05">4,817.6</td>
            </tr>
            <tr>
                <td class="Text-Center">蒸気</td>
                <td class="col05">30,438.6</td>
                <td class="col05">27,976.0</td>
            </tr>
            <tr>
                <td class="Text-Center">合計</td>
                <td class="col05">&nbsp;</td>
                <td class="col05">1,651,905.9</td>
                <td class="col05">1,564,885.2</td>
            </tr>

            <!--日本郵便-->
            <tr>
              <td rowspan="10" class="Text-Center">日本郵便</td>
                <td class="Text-Center">都市ガス</td>
                <td rowspan="3" class="Text-Center">Scope1/施設</td>
                <td class="col05">956,159.0</td>
                <td class="col05">936,343.0</td>
            </tr>
            <tr>
                <td class="Text-Center">LPガス</td>
                <td class="col05">31,140.0</td>
                <td class="col05">50,032.7</td>
            </tr>
            <tr>
                <td class="Text-Center">灯油・軽油・重油</td>
                <td class="col05">539,243.0</td>
                <td class="col05">443,593.5</td>
            </tr>
            <tr>
                <td class="Text-Center">ガソリン</td>
                <td rowspan="2" class="Text-Center">Scope1/車両</td>
                <td class="col05">2,790,571.2</td>
                <td class="col05">2,845,645.4</td>
            </tr>
            <tr>
                <td class="Text-Center">軽油</td>
                <td class="col05">90,586.0</td>
                <td class="col05">93,678.1</td>
            </tr>
            <tr>
                <td class="Text-Center">電気</td>
                <td rowspan="4" class="Text-Center">Scope2/施設</td>
                <td class="col05">11,659,763.0</td>
                <td class="col05">11,349,415.5</td>
            </tr>
            <tr>
                <td class="Text-Center">冷水</td>
                <td class="col05">143,768.0</td>
                <td class="col05">156,252.7</td>
            </tr>
            <tr>
                <td class="Text-Center">温水</td>
                <td class="col05">18,043.0</td>
                <td class="col05">13,683.2</td>
            </tr>
            <tr>
                <td class="Text-Center">蒸気</td>
                <td class="col05">95,452.0</td>
                <td class="col05">91,746.3</td>
            </tr>
            <tr>
                <td class="Text-Center">合計</td>
                <td class="col05">&nbsp;</td>
                <td class="col05">16,324,725.2</td>
                <td class="col05">15,980,390.4</td>
            </tr>
          </tbody>
        </table>

            <!--ゆうちょ銀行-->
            <table class="data bordernone" style="break-before: page;">
              <thead>
                <tr>
                    <td colspan="3" class="BG-Gray col05">&nbsp;</td>
                    <td class="BG-Gray Text-Center">Scope</td>
                    <td class="BG-Gray Text-Center">2017年度</td>
                    <td class="BG-Gray Text-Center">2018年度</td>
                </tr>
              </thead>
                  <tbody>
            <tr>
              <td rowspan="10" class="col02 red col05 border-top-0 border-bottom-0"></td>
              <td rowspan="10" class="Text-Center">ゆうちょ銀行</td>
                <td class="Text-Center">都市ガス</td>
                <td rowspan="3" class="Text-Center">Scope1/施設</td>
                <td class="col05">28,082.3</td>
                <td class="col05">29,080.5</td>
            </tr>
            <tr>
                <td class="Text-Center">LPガス</td>
                <td class="col05">0.0</td>
                <td class="col05">215.8</td>
            </tr>
            <tr>
                <td class="Text-Center">灯油・軽油・重油</td>
                <td class="col05">12,587.4</td>
                <td class="col05">12,038.5</td>
            </tr>
            <tr>
                <td class="Text-Center">ガソリン</td>
                <td rowspan="2" class="Text-Center">Scope1/車両</td>
                <td class="col05">33,434.8</td>
                <td class="col05">34,148.0</td>
            </tr>
            <tr>
                <td class="Text-Center">軽油</td>
                <td class="col05">0.0</td>
                <td class="col05">72.2</td>
            </tr>
            <tr>
                <td class="Text-Center">電気</td>
                <td rowspan="4" class="Text-Center">Scope2/施設</td>
                <td class="col05">637,839.5</td>
                <td class="col05">488,776.7</td>
            </tr>
            <tr>
                <td class="Text-Center">冷水</td>
                <td class="col05">50,552.4</td>
                <td class="col05">56,408.1</td>
            </tr>
            <tr>
                <td class="Text-Center">温水</td>
                <td class="col05">7,787.2</td>
                <td class="col05">9,211.2</td>
            </tr>
            <tr>
                <td class="Text-Center">蒸気</td>
                <td class="col05">0.0</td>
                <td class="col05">0.0</td>
            </tr>
            <tr>
                <td class="Text-Center">合計</td>
                <td class="col05">&nbsp;</td>
                <td class="col05">770,283.6</td>
                <td class="col05">629,951.0</td>
            </tr>

            <!--かんぽ生命保険-->
            <tr>
              <td rowspan="10" class="col02 red col05 border-top-0"></td>
              <td rowspan="10" class="Text-Center">かんぽ生命保険</td>
                <td class="Text-Center">都市ガス</td>
                <td rowspan="3" class="Text-Center">Scope1/施設</td>
                <td class="col05">29,763.9</td>
                <td class="col05">23,758.0</td>
            </tr>
            <tr>
                <td class="Text-Center">LPガス</td>
                <td class="col05">0.0</td>
                <td class="col05">0.0</td>
            </tr>
            <tr>
                <td class="Text-Center">灯油・軽油・重油</td>
                <td class="col05">142.0</td>
                <td class="col05">1,094.8</td>
            </tr>
            <tr>
                <td class="Text-Center">ガソリン</td>
                <td rowspan="2" class="Text-Center">Scope1/車両</td>
                <td class="col05">56,105.7</td>
                <td class="col05">50,739.3</td>
            </tr>
            <tr>
                <td class="Text-Center">軽油</td>
                <td class="col05">0.0</td>
                <td class="col05">0.0</td>
            </tr>
            <tr>
                <td class="Text-Center">電気</td>
                <td rowspan="4" class="Text-Center">Scope2/施設</td>
                <td class="col05">292,992.7</td>
                <td class="col05">263,664.6</td>
            </tr>
            <tr>
                <td class="Text-Center">冷水</td>
                <td class="col05">2,450.1</td>
                <td class="col05">4,561.1</td>
            </tr>
            <tr>
                <td class="Text-Center">温水</td>
                <td class="col05">2,906.1</td>
                <td class="col05">5,112.5</td>
            </tr>
            <tr>
                <td class="Text-Center">蒸気</td>
                <td class="col05">2,577.0</td>
                <td class="col05">3,132.1</td>
            </tr>
            <tr>
                <td class="Text-Center">合計</td>
                <td class="col05">&nbsp;</td>
                <td class="col05">386,937.5</td>
                <td class="col05">352,062.4</td>
            </tr>
        </tbody>
      </table>
    </div>

    <p>※ グループ会社の数値は、各社が所有する施設・車両のエネルギー消費量です。</p>
    <div class="Pagetoplink mb40"><a href="#Page-Top">このページの先頭へ戻る</a></div>


  </div>
</div>