<div id="data_index">
  <div id="title_box">
      <div id="csr_main_img_report">
          <h1>ESGデータ集（環境）</h1>
      </div>
  </div>
  <!-- /#title_box-->

  <div class="Section">
    <p class="Category Lead">日本郵政グループのESG関連の実績データをまとめています。</p>

    <div class="mod-tab pure-g mb50">
      <span class="mod-tab-item-sus bottom-u-layer pure-u-md-1-2 pure-u-1-3 is-active">環境</span>
      <a href="/sustainability/library/data/social/" class="mod-tab-item-sus bottom-u-layer pure-u-md-1-2 pure-u-1-3">社会</a>
      <a href="/sustainability/library/data/governance/" class="mod-tab-item-sus bottom-u-layer bottom-md-layer pure-u-md-1-2 pure-u-1-3">ガバナンス</a>
    </div>
    
    <div class="List-Horizontal">
      <ul>
        <li><a class="Link Inner" href="#emissions">温室効果ガス排出量・エネルギー消費量に関するデータ</a></li>
        <li><a class="Link Inner" href="#resource">資源に関するデータ</a></li>
        <!-- <li><a class="Link Inner" href="#goal">日本郵政グループ温室効果ガス削減目標、エネルギー消費量削減目標に対する進捗状況</a></li> -->
      </ul>
      <!-- end .Section.List-Horizontal -->
    </div>
    <!-- end .Section -->
  </div>

  <h2 id="env" class="Header">環境に関するデータ</h2>

  <div class="Table-Border">
    <h3 id="emissions" class="Header">温室効果ガス排出量・エネルギー消費量に関するデータ</h3>

  </div>
  <div class="Section Table-Border">
    <p class="cap"><span class="title"><strong>温室効果ガス排出量<sup style="font-size:80%; vertical-align:top;">※1</sup></strong></span><span class="unit">（t-CO<sub style="font-size: 80%;">2</sub>）</p>

    <!--温室効果ガス排出量-->
    <div class="Table-Wrapper">
        <table class="data bordernone">
            <tbody>
                <tr>
                    <td colspan="3" class="BG-Gray Text-Center"></td>
                    <td class="BG-Gray Text-Center">2019年度</td>
                    <td class="BG-Gray Text-Center">2020年度</td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="3" class="Text-Center col02 red border-bottom-0">日本郵政グループ合計</td>
                    <td class="Text-Center">Scope1</td>
                    <td class="col05">969,276.5</td>
                    <td class="col05">872,102.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">Scope2</td>
                    <td class="col05">671,583.0</td>
                    <td class="col05">636,544.8</td>
                </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">1,640,859.5</td>
                    <td class="col05">1,508,646.8</td>
                </tr>
                <tr>
                    <td rowspan="18" class="col05 col02 red border-top-0"></td>
                    <td rowspan="3" class="Text-Center">日本郵政</td>
                    <td class="Text-Center">Scope1</td>
                    <td class="col05">37,024.1</td>
                    <td class="col05">24,199.6</td>
                </tr>
                <tr>
                    <td class="Text-Center">Scope2</td>
                    <td class="col05">38,632.4</td>
                    <td class="col05">27,780.7</td>
                  </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">75,656.5</td>
                    <td class="col05">51,980.3</td>
                </tr>
                <tr>
                    <td rowspan="3" class="Text-Center">日本郵便</td>
                    <td class="Text-Center">Scope1</td>
                    <td class="col05">271,617.6</td>
                    <td class="col05">259,022.4</td>
                </tr>
                <tr>
                    <td class="Text-Center">Scope2</td>
                    <td class="col05">535,152.8</td>
                    <td class="col05">522,961.1</td>
                </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">806,770.4</td>
                    <td class="col05">781,983.5</td>
                </tr>
                <tr>
                    <td rowspan="3" class="Text-Center">ゆうちょ銀行</td>
                    <td class="Text-Center">Scope1</td>
                    <td class="col05">4,349.2</td>
                    <td class="col05">3,509.3</td>
                  </tr>
                <tr>
                    <td class="Text-Center">Scope2</td>
                    <td class="col05">25,748.5</td>
                    <td class="col05">23,496.6</td>
                </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">30,097.7</td>
                    <td class="col05">27,005.9</td>
                </tr>
                <tr>
                    <td rowspan="3" class="Text-Center">かんぽ生命保険</td>
                    <td class="Text-Center">Scope1</td>
                    <td class="col05">4,171.3</td>
                    <td class="col05">3,120.6</td>
                </tr>
                <tr>
                    <td class="Text-Center">Scope2</td>
                    <td class="col05">12,602.3</td>
                    <td class="col05">12,253.3</td>
                </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">16,773.6</td>
                    <td class="col05">15,373.9</td>
                </tr>
                <tr>
                    <td rowspan="3" class="Text-Center">日本郵便輸送</td>
                    <td class="Text-Center">Scope1</td>
                    <td class="col05">59,848.9</td>
                    <td class="col05">58,796.3</td>
                </tr>
                <tr>
                    <td class="Text-Center">Scope2</td>
                    <td class="col05">2,609.0</td>
                    <td class="col05">2,643.3</td>
                </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">62,457.9</td>
                    <td class="col05">61,439.6</td>
                </tr>
                <tr>
                    <td rowspan="3" class="Text-Center">トールホールディングス</td>
                    <td class="Text-Center">Scope1</td>
                    <td class="col05">592,265.4</td>
                    <td class="col05">523,453.8</td>
                </tr>
                <tr>
                    <td class="Text-Center">Scope2</td>
                    <td class="col05">56,838.0</td>
                    <td class="col05">47,409.8</td>
                </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">649,103.4</td>
                    <td class="col05">570,863.6</td>
                </tr>
            </tbody>
        </table>
    </div>

    <ol class="tableNote">
      <li>グループ会社の数値は、各社が所有する施設・車両の温室効果ガス排出量です。</li>
      <li>2019年度から電力の排出係数を基礎排出係数から調整後排出係数に変更しました。</li>
      <li>2019年度から集計対象範囲に日本郵便輸送及びトールホールディングを追加しました。</li>
    </ol>

    <div class="Section">
        <p><a href="/sustainability/data/pdf/archive_2018.pdf" title="PDFファイルを表示します" class="Link PDF">2018年以前の実績はコチラ</a>［PDF：261kバイト］</p>
    </div>

    <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>

    <div class="Section Table-Wrapper">
    <p class="cap"><span class="title"><strong>施設原単位</strong></span><span class="unit">（t-CO<sub style="font-size: 80%;">2</sub>/m<sup style="font-size:80%; vertical-align:top;"  class="col05">2</sup>）</span></p>
        <table class="data bordernone">
            <tbody>
                <tr>
                    <td class="Text-Center BG-Gray">&nbsp;</td>
                    <td class="Text-Center BG-Gray">2019年度</td>
                    <td class="Text-Center BG-Gray">2020年度</td>
                </tr>
                <tr>
                    <td class="Text-Center">日本郵政</td>
                    <td class="col05">0.130</td>
                    <td class="col05">0.110</td>
                </tr>
                <tr>
                    <td class="Text-Center">日本郵便</td>
                    <td class="col05">0.051</td>
                    <td class="col05">0.050</td>
                  </tr>
                <tr>
                    <td class="Text-Center">ゆうちょ銀行</td>
                    <td class="col05">0.077</td>
                    <td class="col05">0.063</td>
                </tr>
                <tr>
                    <td class="Text-Center">かんぽ生命保険</td>
                    <td class="col05">0.062</td>
                    <td class="col05">0.061</td>
                </tr>
                <tr>
                    <td class="Text-Center">日本郵便輸送</td>
                    <td class="col05">0.035</td>
                    <td class="col05">0.026</td>
                </tr>
                <tr>
                    <td class="Text-Center col02 red">日本郵政グループ合計</td>
                    <td class="col05 red">0.055</td>
                    <td class="col05 red">0.053</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>

    <p class="cap"><span class="title"><strong>車両原単位</strong></span><span class="unit">（t-CO<sub style="font-size: 80%;">2</sub>/km）</span></p>
    <div class="Table-Wrapper">
        <table class="data bordernone">
            <tbody>
                <tr>
                    <td class="Text-Center BG-Gray">&nbsp;</td>
                    <td class="Text-Center BG-Gray">2019年度</td>
                    <td class="Text-Center BG-Gray">2020年度</td>
                </tr>
                <tr>
                    <td class="Text-Center">日本郵政</td>
                    <td class="col05">0.0</td>
                    <td class="col05">0.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">日本郵便</td>
                    <td class="col05">0.000142</td>
                    <td class="col05">0.000132</td>
                </tr>
                <tr>
                    <td class="Text-Center">ゆうちょ銀行</td>
                    <td class="col05">0.000133</td>
                    <td class="col05">0.000135</td>
                </tr>
                <tr>
                    <td class="Text-Center">かんぽ生命保険</td>
                    <td class="col05">0.000140</td>
                    <td class="col05">0.000124</td>
                </tr>
                <tr>
                    <td class="Text-Center">日本郵便輸送</td>
                    <td class="col05">0.000496</td>
                    <td class="col05">0.000503</td>
                </tr>
                <tr>
                    <td class="Text-Center col02 red">日本郵政グループ合計</td>
                    <td class="col05 red">0.000170</td>
                    <td class="col05 red">0.000161</td>
                </tr>
            </tbody>
        </table>
        <p>※　2019年度よりデータ取得方法等を見直しました。</p>
    </div>

    <div class="Section">
        <p><a href="/sustainability/data/pdf/archive_2018.pdf" title="PDFファイルを表示します" class="Link PDF">2018年以前の実績はコチラ</a>［PDF：261kバイト］</p>
    </div>

    <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>


    <p class="cap"><span class="title"><strong>Scope3実績</strong></span><span class="unit">（t-CO<sub style="font-size: 80%;">2</sub>）</p>
    <div class="Table-Wrapper">
      <table class="data bordernone">
        <tbody>
            <tr>
                <td rowspan="2" class="Text-Center BG-Gray">&nbsp;</td>
                <td rowspan="2" class="Text-Center BG-Gray">2019年度</td>
                <td rowspan="2" class="Text-Center BG-Gray">2020年度</td>
                <td colspan="7" class="Text-Center BG-Gray">2020年度カテゴリ別内訳</td>
            </tr>
            <tr>

                <td class="Text-Center">カテゴリ1（購入した製品・サービス）</td>
                <td class="Text-Center">カテゴリ2（資本財）</td>
                <td class="Text-Center">カテゴリ3（Scope1,2に含まれない燃料及びエネルギー関連活動）</td>
                <td class="Text-Center">カテゴリ6（出張）</td>
                <td class="Text-Center">カテゴリ7（雇用者の通勤）</td>
                <td class="Text-Center">カテゴリ12（販売した製品の廃棄）</td>
                <td class="Text-Center">カテゴリ16（その他）</td>
            </tr>
            <tr>
                <td class="Text-Center">日本郵政</td>
                <td class="col05">14,245.3</td>
                <td class="col05">10,195.1</td>
								<td class="col05">46.2</td>
								<td class="col05">0.0</td>
								<td class="col05">9,306.0</td>
								<td class="col05">131.1</td>
								<td class="col05">711.8</td>
								<td class="col05">0.0</td>
								<td class="col05">0.0</td>
            </tr>
            <tr>
                <td class="Text-Center">日本郵便</td>
                <td class="col05">584,907.9</td>
                <td class="col05">593,253.5</td>
								<td class="col05">347,974.6</td>
								<td class="col05">14,933.4</td>
								<td class="col05">143,965.9</td>
								<td class="col05">10160.9</td>
								<td class="col05">73,888.4</td>
								<td class="col05">2,330.3</td>
								<td class="col05">0.0</td>
            </tr>
            <tr>
                <td class="Text-Center">ゆうちょ銀行</td>
                 <td class="col05">62,208.1</td>
                <td class="col05">69,805.8</td>
								<td class="col05">41,703.7</td>
								<td class="col05">11,860.9</td>
								<td class="col05">6,366.0</td>
								<td class="col05">658.4</td>
								<td class="col05">4,520.2</td>
								<td class="col05">63.9</td>
								<td class="col05">4632.7</td>
           </tr>
            <tr>
                <td class="Text-Center">かんぽ生命保険</td>
                <td class="col05">11,160.6</td>
                <td class="col05">8,654.6</td>
								<td class="col05">2,525.2</td>
								<td class="col05">0.0</td>
								<td class="col05">2,894.6</td>
								<td class="col05">416.9</td>
								<td class="col05">2746.9</td>
								<td class="col05">71.0</td>
								<td class="col05">0.0</td>
            </tr>
            <tr>
                <td class="Text-Center">日本郵便輸送</td>
                <td class="col05">363,842.1</td>
                <td class="col05">365,318.0</td>
								<td class="col05">351,733.2</td>
								<td class="col05">3,573.2</td>
								<td class="col05">8,980.1</td>
								<td class="col05">264.8</td>
								<td class="col05">766.7</td>
								<td class="col05">0.0</td>
								<td class="col05">0.0</td>
            </tr>
            <tr>
                <td class="Text-Center col02">トールホールディングス</td>
                <td class="col05">153,038.4</td>
                <td class="col05">105,893.1</td>
                    <td class="col05">17,224.9</td>
                    <td class="col05">4,861.4</td>
                    <td class="col05">75,894.1</td>
                    <td class="col05">847.3</td>
                    <td class="col05">7,065.4</td>
                    <td class="col05">0.0</td>
                    <td class="col05">0.0</td>
            </tr>
            <tr>
                <td class="Text-Center col02 red">日本郵政グループ合計</td>
                <td class="col05 red">1,189,402.4</td>
                <td class="col05 red">1,153,120.1</td>
								<td class="col05 red">761,207.8</td>
								<td class="col05 red">35,228.9</td>
								<td class="col05 red">247,406.7</td>
								<td class="col05 red">12,479.4</td>
								<td class="col05 red">89,699.4</td>
								<td class="col05 red">2,465.2</td>
								<td class="col05 red">4,632.7</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>


    <p class="cap"><span class="title"><strong>その他の温室効果ガス</strong></span><span class="unit">（t-CO<sub style="font-size: 80%;">2</sub>)</span></p>
    <div class="Table-Wrapper">
        <table>
            <tbody>
                <tr>
                    <td class="BG-Gray"></td>
                    <td class="Text-Center BG-Gray">2019年度</td>
                    <td class="Text-Center BG-Gray">2020年度</td>
                </tr>
                <tr>
                    <td class="Text-Center">HFCs <sup>※</sup></td>
                    <td class="col05">510.5</td>
                    <td class="col05">879.1</td>
                </tr>
                <tr>
                    <td class="Text-Center">PFCs</td>
                    <td class="col05">0.0</td>
                    <td class="col05">0.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">SF6</td>
                    <td class="col05">0.0</td>
                    <td class="col05">0.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">NF3</td>
                    <td class="col05">0.0</td>
                    <td class="col05">0.0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>※　郵便・物流事業における、業務用冷蔵冷凍空調機器（第一種特定製品）の整備の際に排出</p>

    <div class="Section">
        <p><a href="/sustainability/data/pdf/archive_2018.pdf" title="PDFファイルを表示します" class="Link PDF">2018年以前の実績はコチラ</a>［PDF：261kバイト］</p>
    </div>


    <div class="Section Col">
        <p >日本郵政グループでは、2020年度温室効果ガス排出量実績（Scope1，2，3）について、認証基準ISO14064-3による第三者からの、独立検証を受けました。</p>
    </div>
    <div class="Section">
        <p><a href="/sustainability/library/data/pdf/data_03.pdf" title="PDFファイルを表示します" class="Link PDF">検証報告書PDFファイル</a>［PDF：5,547kバイト］</p>
    </div>



    <div class="Pagetoplink"><a href="#Page-Top">このページの先頭へ戻る</a></div>
    <hr class="Hidden">
    <p class="cap"><span class="title"><strong>エネルギー消費量</strong></span><span class="unit">（GJ）</span></p>

    <div class="Table-Wrapper">
        <table class="data bordernone">
            <!--日本郵政グループ合計-->
            <tbody>
                <tr>
                    <td colspan="3" class="BG-Gray col05">&nbsp;</td>
                    <td class="BG-Gray Text-Center">Scope</td>
                    <td class="BG-Gray Text-Center">2019年度</td>
                    <td class="BG-Gray Text-Center">2020年度</td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="11" class="col02 red Text-Center border-bottom-0">日本郵政グループ合計</td>
                    <td class="Text-Center">都市ガス</td>
                    <td rowspan="3" class="Text-Center">Scope1/施設</td>
                    <td class="col05">1,071,037.3</td>
                    <td class="col05">1,165,223.7</td>
                </tr>
                <tr>
                    <td class="Text-Center">LPガス</td>
                    <td class="col05">72,625.6</td>
                    <td class="col05">69,956.8</td>
                </tr>
                <tr>
                    <td class="Text-Center">灯油・軽油・重油</td>
                    <td class="col05">895,195.7</td>
                    <td class="col05">756,006.9</td>
                </tr>
                <tr>
                    <td class="Text-Center">ガソリン</td>
                    <td rowspan="3" class="Text-Center">Scope1/車両・輸送</td>
                    <td class="col05">2,862,129.5</td>
                    <td class="col05">2,560,506.6</td>
                </tr>
                <tr>
                    <td class="Text-Center">軽油</td>
                    <td class="col05">84,907.2</td>
                    <td class="col05">77,105.3</td>
                </tr>
                <tr>
                    <td class="Text-Center">その他燃料</td>
                    <td class="col05">8,325,665.2</td>
                    <td class="col05">7,365,643.6</td>
                </tr>
                <tr>
                    <td class="Text-Center">電気</td>
                    <td rowspan="4" class="Text-Center">Scope2/施設</td>
                    <td class="col05">12,611,068.6</td>
                    <td class="col05">13,113,188.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">冷水</td>
                    <td class="col05">241,776.9</td>
                    <td class="col05">223,651.9</td>
                </tr>
                <tr>
                    <td class="Text-Center">温水</td>
                    <td class="col05">36,915.5</td>
                    <td class="col05">41,334.5</td>
                </tr>
                <tr>
                    <td class="Text-Center">蒸気</td>
                    <td class="col05">122,898.9</td>
                    <td class="col05">133,108.9</td>
                </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">&nbsp;</td>
                    <td class="col05">26,324,220.4</td>
                    <td class="col05">25,505,726.2</td>
                </tr>
            </tbody>

            <tbody>
                <!--日本郵政-->
                <tr>
                    <td rowspan="60" class="col02 red col05 border-top-0"></td>
                    <td rowspan="10" class="Text-Center">日本郵政</td>
                    <td class="Text-Center">都市ガス</td>
                    <td rowspan="3" class="Text-Center">Scope1/施設</td>
                    <td class="col05">72,486.5</td>
                    <td class="col05">61,159.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">LPガス</td>
                    <td class="col05">41,029.1</td>
                    <td class="col05">18,366.2</td>
                </tr>
                <tr>
                    <td class="Text-Center">灯油・軽油・重油</td>
                    <td class="col05">447,594.0</td>
                    <td class="col05">289,922.7</td>
                </tr>
                <tr>
                    <td class="Text-Center">ガソリン</td>
                    <td rowspan="2" class="Text-Center">Scope1/車両</td>
                    <td class="col05">0.0</td>
                    <td class="col05">0.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">軽油</td>
                    <td class="col05">0.0</td>
                    <td class="col05">0.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">電気</td>
                    <td rowspan="4" class="Text-Center">Scope2/施設</td>
                    <td class="col05">755,207.6</td>
                    <td class="col05">558,555.9</td>
                </tr>
                <tr>
                    <td class="Text-Center">冷水</td>
                    <td class="col05">24,324.9</td>
                    <td class="col05">19,115.5</td>
                </tr>
                <tr>
                    <td class="Text-Center">温水</td>
                    <td class="col05">6,266.7</td>
                    <td class="col05">6,847.5</td>
                </tr>
                <tr>
                    <td class="Text-Center">蒸気</td>
                    <td class="col05">25,884.9</td>
                    <td class="col05">21,905.7</td>
                </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">&nbsp;</td>
                    <td class="col05">1,372,793.7</td>
                    <td class="col05">975,872.5</td>
                </tr>

                <!--日本郵便-->
                <tr>
                    <td rowspan="10" class="Text-Center">日本郵便</td>
                    <td class="Text-Center">都市ガス</td>
                    <td rowspan="3" class="Text-Center">Scope1/施設</td>
                    <td class="col05">943,168.2</td>
                    <td class="col05">1,045,494.4</td>
                </tr>
                <tr>
                    <td class="Text-Center">LPガス</td>
                    <td class="col05">31,368.9</td>
                    <td class="col05">31,100.6</td>
                </tr>
                <tr>
                    <td class="Text-Center">灯油・軽油・重油</td>
                    <td class="col05">436,530.2</td>
                    <td class="col05">454,871.8</td>
                </tr>
                <tr>
                    <td class="Text-Center">ガソリン</td>
                    <td rowspan="2" class="Text-Center">Scope1/車両</td>
                    <td class="col05">2,787,981.2</td>
                    <td class="col05">2,513,656.1</td>
                </tr>
                <tr>
                    <td class="Text-Center">軽油</td>
                    <td class="col05">84,817.8</td>
                    <td class="col05">77,058.9</td>
                </tr>
                <tr>
                    <td class="Text-Center">電気</td>
                    <td rowspan="4" class="Text-Center">Scope2/施設</td>
                    <td class="col05">11,132,904.8</td>
                    <td class="col05">11,601,022.4</td>
                </tr>
                <tr>
                    <td class="Text-Center">冷水</td>
                    <td class="col05">155,435.9</td>
                    <td class="col05">138,459.1</td>
                </tr>
                <tr>
                    <td class="Text-Center">温水</td>
                    <td class="col05">14,495.2</td>
                    <td class="col05">14,478.8</td>
                </tr>
                <tr>
                    <td class="Text-Center">蒸気</td>
                    <td class="col05">93,806.7</td>
                    <td class="col05">107,751.3</td>
                </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">&nbsp;</td>
                    <td class="col05">15,680,508.9</td>
                    <td class="col05">15,983,893.3</td>
                </tr>

                <!--ゆうちょ銀行-->
                <tr>
                    <td rowspan="10" class="Text-Center">ゆうちょ銀行</td>
                    <td class="Text-Center">都市ガス</td>
                    <td rowspan="3" class="Text-Center">Scope1/施設</td>
                    <td class="col05">28,643.3</td>
                    <td class="col05">29,428.4</td>
                </tr>
                <tr>
                    <td class="Text-Center">LPガス</td>
                    <td class="col05">227.6</td>
                    <td class="col05">380.2</td>
                </tr>
                <tr>
                    <td class="Text-Center">灯油・軽油・重油</td>
                    <td class="col05">10,427.2</td>
                    <td class="col05">10,411.6</td>
                </tr>
                <tr>
                    <td class="Text-Center">ガソリン</td>
                    <td rowspan="2" class="Text-Center">Scope1/車両</td>
                    <td class="col05">32,491.2</td>
                    <td class="col05">19,307.2</td>
                </tr>
                <tr>
                    <td class="Text-Center">軽油</td>
                    <td class="col05">89.4</td>
                    <td class="col05">46.4</td>
                </tr>
                <tr>
                    <td class="Text-Center">電気</td>
                    <td rowspan="4" class="Text-Center">Scope2/施設</td>
                    <td class="col05">467,564.2</td>
                    <td class="col05">484,297.9</td>
                </tr>
                <tr>
                    <td class="Text-Center">冷水</td>
                    <td class="col05">56,053.2</td>
                    <td class="col05">59,626.1</td>
                </tr>
                <tr>
                    <td class="Text-Center">温水</td>
                    <td class="col05">10,675.4</td>
                    <td class="col05">12,348.7</td>
                </tr>
                <tr>
                    <td class="Text-Center">蒸気</td>
                    <td class="col05">0.0</td>
                    <td class="col05">0.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">&nbsp;</td>
                    <td class="col05">606,171.5</td>
                    <td class="col05">615,846.5</td>
                </tr>

                <!--かんぽ生命保険-->
                <tr>
                    <td rowspan="10" class="Text-Center">かんぽ生命保険</td>
                    <td class="Text-Center">都市ガス</td>
                    <td rowspan="3" class="Text-Center">Scope1/施設</td>
                    <td class="col05">26,739.3</td>
                    <td class="col05">28,601.3</td>
                </tr>
                <tr>
                    <td class="Text-Center">LPガス</td>
                    <td class="col05">0.0</td>
                    <td class="col05">0.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">灯油・軽油・重油</td>
                    <td class="col05">644.3</td>
                    <td class="col05">800.8</td>
                </tr>
                <tr>
                    <td class="Text-Center">ガソリン</td>
                    <td rowspan="2" class="Text-Center">Scope1/車両</td>
                    <td class="col05">41,657.1</td>
                    <td class="col05">24,423.8</td>
                </tr>
                <tr>
                    <td class="Text-Center">軽油</td>
                    <td class="col05">0.0</td>
                    <td class="col05">0.0</td>
                </tr>
                <tr>
                    <td class="Text-Center">電気</td>
                    <td rowspan="4" class="Text-Center">Scope2/施設</td>
                    <td class="col05">255,392</td>
                    <td class="col05">249,401.3</td>
                </tr>
                <tr>
                    <td class="Text-Center">冷水</td>
                    <td class="col05">5,962.9</td>
                    <td class="col05">6,451.2</td>
                </tr>
                <tr>
                    <td class="Text-Center">温水</td>
                    <td class="col05">5,478.2</td>
                    <td class="col05">7,659.5</td>
                </tr>
                <tr>
                    <td class="Text-Center">蒸気</td>
                    <td class="col05">3,207.3</td>
                    <td class="col05">3,451.9</td>
                </tr>
                <tr>
                    <td class="Text-Center">合計</td>
                    <td class="col05">&nbsp;</td>
                    <td class="col05">339,081.1</td>
                    <td class="col05">320,789.8</td>
                </tr>

							<!--日本郵便輸送-->
							<tr>
									<td rowspan="10" class="Text-Center">日本郵便輸送</td>
									<td class="Text-Center">都市ガス</td>
									<td rowspan="3" class="Text-Center">Scope1/施設</td>
									<td class="col05">1,982.0</td>
									<td class="col05">1,793.7</td>
							</tr>
							<tr>
									<td class="Text-Center">LPガス</td>
									<td class="col05">1,371.6</td>
									<td class="col05">1,219.2</td>
							</tr>
							<tr>
									<td class="Text-Center">灯油・軽油・重油</td>
									<td class="col05">4,072.5</td>
									<td class="col05">4,143.9</td>
							</tr>
							<tr>
									<td class="Text-Center">ガソリン</td>
									<td rowspan="2" class="Text-Center">Scope1/車両</td>
									<td class="col05">27,320.9</td>
									<td class="col05">24,656.0</td>
							</tr>
							<tr>
									<td class="Text-Center">軽油</td>
									<td class="col05">841,048.5</td>
									<td class="col05">828,483.9</td>
							</tr>
							<tr>
									<td class="Text-Center">電気</td>
									<td rowspan="4" class="Text-Center">Scope2/施設</td>
									<td class="col05">60,394.7</td>
									<td class="col05">57,638.4</td>
							</tr>
							<tr>
									<td class="Text-Center">冷水</td>
									<td class="col05">0.0</td>
									<td class="col05">0.0</td>
							</tr>
							<tr>
									<td class="Text-Center">温水</td>
									<td class="col05">0.0</td>
									<td class="col05">0.0</td>
							</tr>
							<tr>
									<td class="Text-Center">蒸気</td>
									<td class="col05">0.0</td>
									<td class="col05">0.0</td>
							</tr>
							<tr>
									<td class="Text-Center">合計</td>
									<td class="col05">&nbsp;</td>
									<td class="col05">936,190.2</td>
									<td class="col05">917,935.1</td>
							</tr>

              <!--トールホールディングス-->
              <tr>
                  <td rowspan="10" class="Text-Center">トールホールディングス</td>
                  <td class="Text-Center">都市ガス</td>
                  <td rowspan="2" class="Text-Center">Scope1/施設</td>
                  <td class="col05">480.6</td>
                  <td class="col05">540.5</td>
              </tr>
              <tr>
                  <td class="Text-Center">LPガス</td>
                  <td class="col05">31,641.3</td>
                  <td class="col05">20,109.8</td>
              </tr>
              <tr>
                  <td class="Text-Center">ガソリン</td>
                  <td rowspan="6" class="Text-Center">Scope1/車両</td>
                  <td class="col05">4,267.1</td>
                  <td class="col05">3,119.6</td>
              </tr>
              <tr>
                  <td class="Text-Center">航空ガソリン(Aviation gasoline)</td>
                  <td class="col05">32,652.1</td>
                  <td class="col05">64,953.4</td>
              </tr>
              <tr>
                  <td class="Text-Center">ディーゼル燃料(Diesel/Gas oil)</td>
                  <td class="col05">6,204,097.8</td>
                  <td class="col05">5,401,343.5</td>
              </tr>
              <tr>
                  <td class="Text-Center">ジェット燃料(Aviation kerosene)</td>
                  <td class="col05">988,907.4</td>
                  <td class="col05">939,759.8</td>
              </tr>
              <tr>
                  <td class="Text-Center">圧縮天然ガス（Compressed Natural Gas ）</td>
                  <td class="col05">4,958.9</td>
                  <td class="col05">8.1</td>
              </tr>
              <tr>
                  <td class="Text-Center">重油(Heavy Fuel Oil (used in ships))</td>
                  <td class="col05">1,095,048.9</td>
                  <td class="col05">959,578.8</td>
              </tr>
              <tr>
                  <td class="Text-Center">電気</td>
                  <td class="Text-Center">Scope2/施設</td>
                  <td class="col05">237,441.8</td>
                  <td class="col05">219,910.5</td>
              </tr>
              <tr>
                  <td class="Text-Center">合計</td>
                  <td class="col05">&nbsp;</td>
                  <td class="col05">8,599,495.9</td>
                  <td class="col05">7,609,324.0</td>
              </tr>
            </tbody>
        </table>
    </div>

    <p>※ グループ会社の数値は、各社が所有する施設・車両のエネルギー消費量です。</p>
    <!-- <div class="Pagetoplink mb40"><a href="#Page-Top">このページの先頭へ戻る</a></div> -->



    <!-- <div class="Section Table-Border">
        <h3 id="goal" class="Header">日本郵政グループ温室効果ガス削減・エネルギー消費量削減状況</h3>

        <p>日本郵政グループは、グループ中期経営計画「JPビジョン2025」におけるESG目標として、「2050年カーボンニュートラルの実現を目指す」という超長期の目標と、これを着実に推進するためのマイルストーンとして「2030年度46%削減（対2019年度比）」を掲げ、カーボンニュートラルの実現に向けた取組を推進しています。</p>
        <p>2019年度末までの温室効果ガス削減状況は、対2016年度比▲144,591.4t-CO&#x2082;（▲13.7%）、2019年度末までのエネルギー消費量削減状況は、対2016年度比▲983,070.7GJ（▲5.2%）です。</p>
        <ul>
            <li><a class="Link" href="/sustainability/library/environmental_management/#ghgchallenge"><span>日本郵政グループ温室効果ガス削減目標</span></a></li>
        </ul>
    </div>
    <div class="Section Col2" style="margin-bottom:0;">
        <div class="Grid-Column">
            <p class="col05"><strong>温室効果ガス排出量<br>(10,000t-CO<sub style="font-size: 80%;">2</sub>)</strong></p>
            <div class="Text-Right"></div>
            <div class="Image"><img src="/sustainability/library/data/images/data_img_04.png" alt="温室効果ガス排出量" style="width: 320px;"></div>
        </div>
        <div class="Grid-Column">
            <p class="col05"><strong>エネルギー消費量<br>(1,000,000GJ)</strong></p>
            <div class="Text-Right"></div>
            <div class="Image"><img src="/sustainability/library/data/images/data_img_05.png" alt="エネルギー消費量" style="width: 320px;"></div>
        </div>
    </div> -->
    <div class="Section Table-Border">
      <ul>
        <li><a class="Link" href="/sustainability/environment/">地球と共に</a></li>
      </ul>
    </div>

    <div class="Pagetoplink"><a href="#Page-Top">このページの先頭へ戻る</a></div>
    <hr class="Hidden">

  </div>
  <div class="Section List-General">
    <div class="Section Table-Border">
      <h3 id="resource" class="Header">資源に関するデータ</h3>
    </div>
    <p class="cap"><span class="title"><strong>廃棄物・リサイクル量及びコピー用紙使用量に関するデータ</strong></span><span class="unit">（t）</span></p>
    <div class="Section Table-Border Table-Wrapper">
      <table class="data bordernone">
        <!-- <colgroup>
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <col width="20%">
        </colgroup> -->
        <thead>
          <tr>
            <th class="BG-Gray" scope="col"></th>
            <th class="BG-Gray" scope="col">2016年度</th>
            <th class="BG-Gray" scope="col">2017年度</th>
            <th class="BG-Gray" scope="col">2018年度</th>
            <th class="BG-Gray" scope="col">2019年度</th>
            <th class="BG-Gray" scope="col">2020年度</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td class="col04 left">一般廃棄物排出量</td>
              <td class="envcol">19,220</td>
              <td class="envcol">18,078</td>
              <td class="envcol">26,167</td>
              <td class="envcol">26,212</td>
              <td class="envcol">27,254</td>
          </tr>
          <tr>
              <td class="col04 left">&emsp;内）リサイクル量</td>
              <td class="envcol">10,186</td>
              <td class="envcol">10,191</td>
              <td class="envcol">10,132</td>
              <td class="envcol">7,604</td>
              <td class="envcol">7,699</td>
          </tr>
          <tr>
              <td class="col04 left">産業廃棄物排出量</td>
              <td class="envcol">7,963</td>
              <td class="envcol">8,305</td>
              <td class="envcol">10,468</td>
              <td class="envcol">13,694</td>
              <td class="envcol">11,000</td>
          </tr>
          <tr>
              <td class="col04 left">&emsp;内）リサイクル量</td>
              <td class="envcol">1,385</td>
              <td class="envcol">1,009</td>
              <td class="envcol">1,433</td>
              <td class="envcol">1,558</td>
              <td class="envcol">1,455</td>
          </tr>
          <tr>
              <td class="col04 left">コピー用紙使用量</td>
              <td class="envcol">305</td>
              <td class="envcol">269</td>
              <td class="envcol">236</td>
              <td class="envcol">322</td>
              <td class="envcol">244</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="Section Table-Border">
        <dl>
            <dt>（集計対象範囲）</dt>
            <dd>
                <ul class="Normal">
                    <li><strong>一般廃棄物排出量・産業廃棄物排出量：</strong>主要なグループ会社4社※の主な施設における使用量を対象としています。</li>
                    <li><strong>コピー用紙：</strong>主要なグループ会社4社※本社施設における使用量を対象としています。</li>
                </ul>
            </dd>
        </dl>
        <p>※ 日本郵政株式会社、日本郵便株式会社、株式会社ゆうちょ銀行及び株式会社かんぽ生命保険</p>
    </div>
    <div class="Pagetoplink"><a href="#Page-Top">このページの先頭へ戻る</a></div>

    <div class="Section Table-Border">
      <div class="Table-Wrapper">
        <table class="data bordernone">
            <p class="cap"><span class="title"><strong>水使用量に関するデータ</strong></span><span class="unit">（1,000m<sup style="font-size:80%; vertical-align:top;" >3</sup>）</span></p>
            <!-- <colgroup>
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
            </colgroup> -->
            <thead>
                <tr>
                    <th class="BG-Gray" scope="col"></th>
                    <th class="BG-Gray" scope="col">2016年度</th>
                    <th class="BG-Gray" scope="col">2017年度</th>
                    <th class="BG-Gray" scope="col">2018年度</th>
                    <th class="BG-Gray" scope="col">2019年度</th>
                    <th class="BG-Gray" scope="col">2020年度</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col04 left">上水使用量</td>
                    <td class="envcol">5,392</td>
                    <td class="envcol">5,206</td>
                    <td class="envcol">5,122</td>
                    <td class="envcol">4,787</td>
                    <td class="envcol">3,932</td>
                </tr>
                <tr>
                    <td class="col04 left">下水使用量</td>
                    <td class="envcol">3,744</td>
                    <td class="envcol">3,875</td>
                    <td class="envcol">3,729</td>
                    <td class="envcol">3,579</td>
                    <td class="envcol">3,253</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="Section Table-Border">
        <dl>
            <dt>（集計対象範囲）</dt>
            <dd>
                <ul class="Normal">
                    <li><strong>上水・下水使用量：</strong>主要なグループ会社4社※の主要施設における使用量を対象としています。</li>
                </ul>
            </dd>
        </dl>
        <p>※ 日本郵政株式会社、日本郵便株式会社、株式会社ゆうちょ銀行及び株式会社かんぽ生命保険</p>
    </div>
  </div>
</div>