<div id="title_box3">
  <div id="csr_main_img_movie_sub">
    <h1>インクカートリッジ里帰りプロジェクト</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵便株式会社はプリンターメーカー5社と協力し、使用済みインクカートリッジの共同回収「インクカートリッジ里帰りプロジェクト」を行っています。<br>
このプロジェクトは、家庭などでお使いのインクジェットプリンターの使用済みインクカートリッジを回収し、各プリンターメーカーに戻すもので、回収箱は全国の主要な郵便局3,637局と一部の自治体施設等に設置し、2008年4月の開始から現在までに約2,000万個の回収を行っています（2017年2月末現在）。</p>
<!-- end .Section --></div>

<div class="HomeMovie">
<div class="Section">
<div class="Text-Center">
<script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
<script type="text/javascript">
	jstream_t3.PlayerFactoryOBJ.create({
	b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
	c:"MTI1OA==",
	m:"NTU=",
	s:{
		el:"off",
		fs:"off",
		hp:270,
		il:"off",
		rb:"off",
		sn:"",
		tg:"off",
		wp:480
	}
});
</script>
<!-- end .Text-Center --></div>
<noscript><div>お使いのブラウザのJavaScriptを有効にしていただく必要があります。</div></noscript><!-- end .Section --></div>
<!-- end .HomeMovie --></div>
<div class="SmartPhoneMovie">
<div class="Section">
<div class="Text-Center">
<script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
<script type="text/javascript">
	jstream_t3.PlayerFactoryOBJ.create({
	b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
	c:"MTI1OA==",
	m:"NTU=",
	s:{
		el:"off",
		fs:"off",
		hp:210,
		il:"off",
		rb:"off",
		sn:"",
		tg:"off",
		wp:280
	}
});
</script>
<!-- end .Text-Center --></div>
<noscript><div>お使いのブラウザのJavaScriptを有効にしていただく必要があります。</div></noscript><!-- end .Section --></div>
<!-- end .SmartPhoneMovie --></div>

<!-- end #Contents -->
<div class="Section">
<p>この取組みの結果、2015年度末の累計で、624トンのCO<sub style="font-size: 80%;">2</sub>削減を行いました。これは樹齢40年の杉の木70,500本が1年間に吸収するCO<sub style="font-size: 80%;">2</sub>の量に相当します。</p>
</div>
<div class="Section">
<p>使用済みインクカートリッジの回収箱は、長野県諏訪市にある諏訪郵便局に集められます。諏訪郵便局には多いときで1日に100箱以上の回収箱が到着します。<br>
集まった回収箱はエプソンミズベ湖畔工場に配達し、湖畔工場では郵便局から送られたインクカートリッジの仕分け作業を行っています。仕分け後は各メーカーによって、責任を持って再資源化されます。</p>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>

