<div id="title_box3">
  <div id="csr_main_img_movie_sub">
    <h1>エコプロダクツ2015への出展</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>2015年12月10日から12日まで、東京ビッグサイトで開催された環境イベント「エコプロダクツ2015」に出展した際の模様です。<br /></p>
<!-- end .Section --></div>

<div class="Section">
<link href="/cmn/css/colorbox.css" rel="stylesheet">
<script src="/cmn/js/jquery.colorbox-min.js"></script>

    <div class="movieCol_img">
      <div class="HomeMovie"><a class="iframe_movie" href="MzY.html" title="エコプロダクツ2015への出展">
        <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00001/a0a557bf948f43a0955c22a0845fcd17_115.jpg" alt="エコプロダクツ2015への出展"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"MzY=",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>
    </div>
<!-- end .Section --></div>

<!-- end #Contents -->
<div class="Section">
<p>エコプロダクツ2015への出展模様（テキスト）は以下のページをご覧ください。 <br />
<p><a class="Link" href="/sustainability/topics/2015/index05.html">「エコプロダクツ2015」に出展しました。</a></p>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
