<div id="title_box3">
  <div id="csr_main_img_movie_sub">
    <h1>かんぽ生命「かんぽプラチナライフサービス」</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>かんぽ生命は、「かんぽプラチナライフサービス」として、ご高齢のお客さまのくらしを応援する各種サービスを提供しています。</p>
<p>（注）現在、行っていない取り組みや取り扱っていないサービスが含まれています。</p>
<!-- end .Section --></div>

<div class="Section">
<link href="/cmn/css/colorbox.css" rel="stylesheet">
<script src="/cmn/js/jquery.colorbox-min.js"></script>

    <div class="movieCol_img">
      <div class="HomeMovie"><a class="iframe_movie" href="ODI.html" title="かんぽ生命「かんぽプラチナライフサービス」">
        <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00001/7346db605fef434cbd4a125ea7c87c39_25_11.jpg" alt="かんぽ生命「かんぽプラチナライフサービス」"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"ODI=",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>
    </div>
<!-- end .Section --></div>

<!-- end #Contents -->
<div class="Section">
<p>かんぽプラチナライフサービスの詳細はかんぽ生命のWebサイトをご覧ください。<br>
  <ul>
    <li><a href="http://www.jp-life.japanpost.jp/information/inf_platinumlife.html" class="Link Popup" target="_blank"><span>かんぽプラチナライフサービス</span></a>-かんぽ生命</li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
