<div id="title_box3">
  <div id="csr_main_img_movie_sub">
    <h1>ゆうちょ銀行「金融教育」</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>ゆうちょ銀行は、お金の大切さを学ぶ機会として、小・中学生を対象とした「金融教室」を開催しています。</p>
<!-- end .Section --></div>

<div class="Section">
<link href="/cmn/css/colorbox.css" rel="stylesheet">
<script src="/cmn/js/jquery.colorbox-min.js"></script>

    <div class="movieCol_img">
      <div class="HomeMovie"><a class="iframe_movie" href="ODM.html" title="ゆうちょ銀行「金融教育」">
        <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00001/7027fe7631a54f2e88442c7243235073_25_11.jpg" alt="ゆうちょ銀行「金融教育」"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"ODM=",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>
    </div>
<!-- end .Section --></div>

<!-- end #Contents -->
<div class="Section">
<p>金融教育の詳細はゆうちょ銀行のWebサイトをご覧ください。<br>
  <ul>
    <li><a href="https://www.jp-bank.japanpost.jp/aboutus/csr/action/community/abt_csr_act_cmt_edc.html" class="Link Popup" target="_blank"><span>金融教育</span></a>-ゆうちょ銀行</li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
