<div id="title_box3">
  <div id="csr_main_img_movie_sub">
    <h1>日本郵政グループ サステナブルムービー（バックナンバー）</h1>
  </div>
</div>
<!-- /#title_box-->
<div class="Section">
<p class="Category Lead">日本郵政グループのCSR活動に関する取り組みを動画でご紹介します。</p>
<!-- end .Section --></div>

<link href="/cmn/css/colorbox.css" rel="stylesheet">
<script src="/cmn/js/jquery.colorbox-min.js"></script>

<h3 class="Header"><span>2017年度</span></h3>
<h4 class="ttl_h4">ゆうちょ銀行「金融教育」</h4>
  <div class="utile_box">
    <div class="utile_img">
      <div class="HomeMovie"><a class="iframe_movie" href="ODM.html" title="ゆうちょ銀行「金融教育」">
        <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00001/7027fe7631a54f2e88442c7243235073_25_11.jpg" alt="ゆうちょ銀行「金融教育」"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"ODM=",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>
    </div>
    <div class="utile_txt">
      <p>ゆうちょ銀行では、お金の大切さを学ぶ機会として、小・中学生を対象に「金融教室」を開催しています。</p>
      <dl>
        <dt>動画ページはこちら</dt>
        <dd><a class="Link" href="/sustainability/library/movie/back_number/2017_004.html"><span>金融教育</span></a></dd>
      </dl>
    </div>
  </div>

<h4 class="ttl_h4">かんぽ生命「かんぽプラチナライフサービス」</h4>
  <div class="utile_box">
    <div class="utile_img">
      <div class="HomeMovie"><a class="iframe_movie" href="ODI.html" title="かんぽ生命「かんぽプラチナライフサービス」">
        <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00001/7346db605fef434cbd4a125ea7c87c39_25_11.jpg" alt="かんぽ生命「かんぽプラチナライフサービス」"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"ODI=",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>
    </div>
    <div class="utile_txt">
      <p>かんぽ生命は「かんぽプラチナライフサービス」として、ご高齢のお客さまの暮らしを応援する各種サービスを提供しています。</p>
      <p>（注）現在、行っていない取り組みや取り扱っていないサービスが含まれています。</p>
      <dl>
        <dt>動画ページはこちら</dt>
        <dd><a class="Link" href="/sustainability/library/movie/back_number/2017_003.html"><span>かんぽプラチナライフサービス</span></a></dd>
      </dl>
    </div>
  </div>

<h4 class="ttl_h4">「JP子どもの森づくり運動」の取り組み</h4>
  <div class="utile_box">
    <div class="utile_img">
      <div class="HomeMovie"><a class="iframe_movie" href="NTc.html" title="「JP子どもの森づくり運動」の取り組み">
        <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00001/69c99c00755340308d5745d031945b9d_25_11.jpg" alt="「JP子どもの森づくり運動」の取り組み"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"NTc=",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>
    </div>
    <div class="utile_txt">
      <p>日本郵政グループが特別協賛し、2008年に始まった「JP子どもの森づくり運動」と、2012年に始まった「東北復興グリーンウェイブ」の取り組みをご紹介します。</p>
      <dl>
        <dt>動画ページはこちら</dt>
        <dd><a class="Link" href="/sustainability/library/movie/back_number/2017_001.html"><span>「JP子どもの森づくり運動」の取り組み</span></a></dd>
      </dl>
    </div>
  </div>

<h3 class="Header"><span>2016年度</span></h3>
  <h4 class="ttl_h4">インクカートリッジ里帰りプロジェクト</h4>
  <div class="utile_box">
    <div class="utile_img">
      <div class="HomeMovie"><a class="iframe_movie" href="NTU.html" title="インクカートリッジ里帰りプロジェクト">
        <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00001/9dcc547e992f41648a853b2ef2ad8712_25_11.jpg" alt="インクカートリッジ里帰りプロジェクト"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"NTU=",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>
    </div>
    <div class="utile_txt">
      <p>日本郵便株式会社はプリンターメーカー5社と協力して行っている、使用済みインクカートリッジの共同回収「インクカートリッジ里帰りプロジェクト」で回収したインクカートリッジのリサイクルまでの模様です。</p>
      <dl>
        <dt>動画ページはこちら</dt>
        <dd><a class="Link" href="/sustainability/library/movie/back_number/2016_002.html"><span>インクカートリッジ里帰りプロジェクト</span></a></dd>
      </dl>
    </div>
  </div>

<h3 class="Header"><span>2015年度</span></h3>
  <h4 class="ttl_h4">エコプロダクツ2015への出展</h4>
  <div class="utile_box">
    <div class="utile_img">
      <div class="HomeMovie"><a class="iframe_movie" href="MzY.html" title="エコプロダクツ2015への出展">
        <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00001/a0a557bf948f43a0955c22a0845fcd17_115.jpg" alt="エコプロダクツ2015への出展"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"MzY=",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>
    </div>
    <div class="utile_txt">
      <p>2015年12月10日から12日まで、東京ビッグサイトで開催された環境イベント「エコプロダクツ2015」に出展した際の模様です。</p>
      <dl>
        <dt>動画ページはこちら</dt>
         <dd><a class="Link" href="/sustainability/library/movie/back_number/2016_001.html"><span>エコプロダクツ2015への出展</span></a></dd>
      </dl>
    </div>
  </div>

  <h4 class="ttl_h4">JP子どもの森づくり運動「東北復興グリーンウェイブ」山田町植樹会（2015年5月）</h4>
  <div class="utile_box">
    <div class="utile_img">
      <div class="HomeMovie"><a class="iframe_movie" href="Mjc.html" title="JP子どもの森づくり運動「東北復興グリーンウェイブ」山田町植樹会（2015年5月）">
        <img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00001/6b6fa5c8c05a44dbab8caad590660901_25.00009.jpg" alt="JP子どもの森づくり運動「東北復興グリーンウェイブ」山田町植樹会（2015年5月）"></a></div>
      <div class="SmartPhoneMovie">
        <script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/t3/obj.js"></script>
        <script type="text/javascript">
            jstream_t3.PlayerFactoryOBJ.create({
            b:"eqa883iidf.eq.webcdn.stream.ne.jp/www50/eqa883iidf/jmc_pub/jmc_swf/player/",
            c:"MTI1OA==",
            m:"Mjc=",
            s:{
                el:"off",
                fs:"on",
                hp:180,
                il:"off",
                rb:"off",
                sn:"f,t,l",
                tg:"off",
                wp:320
            }
        });
        </script>
      </div>
    </div>
    <div class="utile_txt">
      <p>2015年5月に岩手県山田町で実施した、JP子どもの森作り運動「東北復興グリーンウェイブ」第2回植樹会の模様です。</p>
      <dl>
        <dt>動画ページはこちら</dt>
         <dd><a class="Link" href="/sustainability/library/movie/back_number/2015_001.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」山田町植樹会（2015年5月22日）</span></a></dd>
      </dl>
    </div>
  </div>

  <h2 class="Header">関連情報</h2>
  <div class="Section List-General">
  <ul>
  <li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
  <li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
  <li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
  </ul>
  </div>
  
