<div id="sdgs" class="sdgs_2019_employee">
  <div class="employee">
  <section class="torikumi_title">
  <div class="pt20 mb20"><img src="/sustainability/sdgs/images/sdgs_employee_title.png" alt="従業員"></div>
  <p>グループの事業活動にかかわるすべての人々の人権を尊重するとともに、<br>安全で働きやすい職場環境の確保と、個々の従業員の自主性や創造性を発揮できる<br>豊かな職場づくりを目指しています。</p>
  </section>
  <section class="torikumi_col" id="02">
    <div class="sp_col2 flex_sb pc_p20 pc_pl40">
      <div class="theme">
      <dl><dt>働き方改革</dt>
      <dd class="sdgs8"><div><span class="goal">目標8</span><span class="title">経済成長と雇用</span></div><p>包摂的かつ持続可能な経済成長及びすべての人々の完全かつ生産的な雇用と働きがいのある人間らしい雇用（ディーセント・ワーク）を促進する</p></dd>
    </dl></div>
      <div class="comment pc_mr30"><p>日本は男女格差が大きい国だって知ってる？ 男女平等の度合いを国別に順位付けすると、144カ国中なんと114位<span class="note">※</span>。性別や年齢、障がいの有無や国籍にかかわらず、誰もが尊厳を持って働ける労働環境の整備がまだまだ必要なの。誰もがいきいきと働けるよう、近年、仕事と生活の調和（ワーク・ライフ・バランス）を実現する多様な働き方の実現や、長時間労働の解消といった「働き方改革」が進められているよ。</p><p class="note mt10">※出典：世界経済フォーラム「The Global Gender Gap Report 2017」</p></div>
    </div>
    <div class="sp_col2 pc_p60 pc_pb30 pc_pt20">
      <div class="pc_mr30 sp_mb20">
        <div class="mb20">
          <div><img src="/sustainability/sdgs/images/employee_ttl_01.png" alt="ダイバーシティの推進"></div>
        </div>
        <p>日本郵政グループでは、多様な価値観を持つ人材がいきいきと働ける職場環境づくりを目指し、「ダイバーシティセミナー」などを通じて、従業員の意識改革・意識向上などに取り組んでおり、2019年4月には、アジア最大級のLGBT関連イベント「東京レインボープライド2019」に協賛し、東京都内で行われたパレードに参加しました。</p>
      </div>
      <div class="imgBox sp_mb20"><img src="/sustainability/sdgs/images/employee_img_01.png" alt="ダイバーシティの推進"></div>
    </div>
    <div class="imgBox_c sp_pt30 sp_pb30"><img src="/sustainability/sdgs/images/sdgs_employee_img_04.png" alt=""></div>
    <div class="sp_col2 pc_p60 pc_pb20 pc_pt20">
      <div class="pc_mr30 mb20">
        <div class="mb20">
          <div><img src="/sustainability/sdgs/images/employee_ttl_02.png" alt="ワークライフバランスの推進"></div>
        </div>
        <p">日本郵政グループは「働き続けられる企業」を目指して、テレワークやサテライトオフィスなど多様な働き方を支援する環境整備を進め、多くの従業員が育児・介護・病気と仕事の両立を実現しています。</p>
      </div>
      <div class="imgBox"><img src="/sustainability/sdgs/images/employee_img_02.png" alt="「プラチナくるみん」認定"></div>
    </div>
    <div class="imgBox_c sp_pt30 sp_pb30"><img src="/sustainability/sdgs/images/sdgs_employee_img_04.png" alt=""></div>
    <div class="sp_col2 pc_p60 pc_pb50 pc_pt20">
      <div class="pc_mr30 mb20">
        <div class="mb20">
          <div><img src="/sustainability/sdgs/images/employee_ttl_03.png" alt="健康経営の推進"></div>
        </div>
        <p>長時間労働の抑制、生活習慣病の予防・改善に向けた保健指導など、従業員の心身の健康保持・増進施策に、会社と従業員が一体となって取り組んでいます。</p>
      </div>
      <div class="imgBox"><img src="/sustainability/sdgs/images/employee_img_03.png" alt="「健康経営優良法人2019」認定"></div>
    </div>
  </section>
  <section class="torikumi_col" id="01">
    <div class="sp_col2 flex_sb pc_p20 pc_pl40 pc_pt00">
      <div class="theme">
      <dl><dt>人材の育成
  </dt>
      <dd class="sdgs8"><div><span class="goal">目標8</span><span class="title">経済成長と雇用</span></div><p>包摂的かつ持続可能な経済成長及びすべての人々の完全かつ生産的な雇用と働きがいのある人間らしい雇用（ディーセント・ワーク）を促進する</p></dd>
    </dl></div>
      <div class="comment pc_mr30"><p>労働は生活の糧を得る手段であると同時に、生きがいや喜びをもたらすもの。だけど現実には、安定した仕事に就けず経済的に自立できない人や、低賃金労働に従事している人も多いわ。貧困を解消し、持続可能な経済成長を実現するには、「ディーセント・ワーク」を実現し、公正な所得の確保や人材育成など、雇用の質を向上させることが必要ね。</p></div>
    </div>
    <div class="sp_col2 pc_p60 pc_pb60 pc_pt00">
      <div class="pc_mr30">
        <div class="mb20">
          <div><img src="/sustainability/sdgs/images/employee_ttl_04.png" alt="人材育成"></div>
        </div>
        <p>キャリアパスに応じた期待役割を果たす人材の育成のため、実際の職場での仕事を通して指導・育成を行う「OJT」などの実施や自己啓発に対する支援を行い、従業員の成長をサポートしています。</p>
      </div>
      <div class="imgBox"><img src="/sustainability/sdgs/images/employee_img_04.png" alt=""></div>
    </div>
  </section>
  <div class="navigationArea_c">
    <div class="nextLink prev"><a href="employee.html" class="torikumi_employee">日本郵政グループの取り組み紹介～人～</a></div>
  </div>
  </div>
</div>


<script>
$(document).ready(function(){
if ($(window).width() < 767) {
  var urlHash = location.hash;
  if(urlHash) {
    $('body,html').stop().scrollTop(0);
    setTimeout(function () {
      scrollToAnker(urlHash) ;
    }, 100);
  }
  function scrollToAnker(hash) {
    var target = $(hash);
    var position = target.offset().top - 100;
    $('body,html').stop().animate({scrollTop:position}, 500);
  }
}
})
</script>