<div id="sdgs" class="sdgs_2019_environment">
  <div class="environment">
  <section class="torikumi_title">
  <div class="pt20 mb20"><img src="/sustainability/sdgs/images/sdgs_environment_title.png" alt="環境"></div>
  <p>地球環境への負荷低減に配慮した<br>事業活動や環境保全活動を積極的に推進しています。</p>
  </section>
  <section class="torikumi_col" id="01">
    <div class="sp_col2 flex_sb pc_p20 pc_pl40 pt00">
      <div class="theme">
      <dl><dt>温室効果ガス排出量の削減</dt>
      <dd class="sdgs13"><div><span class="goal">目標13</span><span class="title">気候変動</span></div><p>気候変動及びその影響を軽減するための緊急対策を講じる</p></dd>
    </dl></div>
      <div class="comment"><p>地球温暖化は、異常気象の増加・甚大化、水不足、作物の生産高の減少、海面水位の上昇など深刻な事態を招くといわれているよ。その主な原因とされる温室効果ガスの排出量は、1990年と比較して50％以上も増加※1しているんだって。既に世界各地で気候変動の影響が出ているの。今すぐ対策をとらないといけないんだ！</p><p class="note mt10">※1 出典：国連開発計画（UNDP）</p></div>
    </div>
    <div class="sp_col2 pc_p60 pc_pb20 pc_pt20">
      <div class="pc_mr30 pc_mb50 sp_mb20">
        <div class="mb20">
          <div><img src="/sustainability/sdgs/images/environment_ttl_01.png" alt="日本郵政グループの2030年度環境目標"></div>
        </div>
        <p>日本郵政グループは、環境負荷を抑制して持続可能な社会を実現するため、事業で排出する温室効果ガスの削減に向けた2030年度グループ目標を設定し、エネルギー使用量の削減などの取り組みを継続的に推進していきます。</p>
      </div>
      <div class="imgBox">
        <img src="/sustainability/sdgs/images/environment_img_01.png" alt="環境Challenge">
      </div>
    </div>
    <div class="imgBox_c sp_pt20 sp_pb20"><img src="/sustainability/sdgs/images/sdgs_environment_img_01.png" alt=""></div>
    <div class="pc_p60 pc_pt10 pc_pb100">
      <div class="mb20">
        <div class="mb20">
          <div><img src="/sustainability/sdgs/images/environment_ttl_02.png" alt="環境に配慮した配達"></div>
        </div>
        <p>電気自動車の導入・拡大や、あらかじめご指定いただいた場所（玄関前、置き配バッグなど）に非対面でお荷物などをお届けする「置き配」サービスの導入などにより、環境負荷の少ない配達に努めています。</p>
      </div>
      <div class="imgBox_c"><img src="/sustainability/sdgs/images/environment_img_02.png" alt="電気自動車の導入・拡大、再配達の削減"></div>
    </div>
  </section>
  <section class="torikumi_col" id="02">
    <div class="sp_col2 flex_sb pc_p20 pc_pl40 pc_pt00">
      <div class="theme">
      <dl><dt>資源の有効利用と廃棄物の削減</dt>
      <dd class="sdgs15"><div><span class="goal">目標15</span><span class="title">陸上資源</span></div><p>陸域生態系の保護、回復、持続可能な利用の推進、持続可能な森林の経営、砂漠化への対処ならびに土地の劣化の阻止・回復及び生物多様性の損失を阻止する</p></dd>
    </dl></div>
      <div class="comment pc_mr20"><p>世界では、2000年から2010年の間に、年平均1,300万ヘクタールの森林が失われたんだって※2。それに動植物の8％が絶滅し、22％が絶滅の危機にあり※3、砂漠化も進行しているんだ。私たち人間の営みは自然の資源の上に成り立つもの。地球上の共通資産である自然と生物多様性の損失を食い止め、持続可能な方法で利用することが必要なんだね。 </p><p class="note mt10">※2 出典：環境省<br>※3 出典：国連開発計画（UNDP）</p></div>
    </div>
    <div class="sp_col2 pc_p60 pc_pb30 pc_pt00">
      <div class="pc_mr30 sp_mb20">
        <div class="mb20">
          <div><img src="/sustainability/sdgs/images/environment_ttl_03.png" alt="TCFDへの賛同"></div>
        </div>
        <p>日本郵政・ゆうちょ銀行・かんぽ生命保険は2019年4月、「TCFD<sup>※</sup>」の提言に賛同しました。提言に基づき、気候変動に関連した情報開示を進めていきます。</p>
      </div>
      <div class="imgBox sp_mb20"><img src="/sustainability/sdgs/images/environment_img_03.png" alt="TCFD"></div>
    </div>
    <div class="imgBox_c sp_pb20 sp_pt20"><img src="/sustainability/sdgs/images/sdgs_environment_img_05.png" alt=""></div>
    <div class="pc_p60 pc_pt10 pc_pb30">
      <div class="mb20">
        <div class="mb20">
          <div><img src="/sustainability/sdgs/images/environment_ttl_04.png" alt="ESG投資"></div>
        </div>
        <p>かんぽ生命保険は、持続可能な社会の形成に貢献すべく、「ESG投資方針」の策定等を通じて、ESG投資へ積極的に取り組んでいます。</p>
      </div>
      <div class="imgBox_c"><img src="/sustainability/sdgs/images/environment_img_04.png" alt="主なESGテーマ型投資※の事例"></div>
    </div>
    <div class="imgBox_c sp_pb20 sp_pt20"><img src="/sustainability/sdgs/images/sdgs_environment_img_05.png" alt=""></div>
    <div class="pc_p60 pc_pt10 pc_pb100">
      <div class="mb20">
        <div class="mb20">
          <div><img src="/sustainability/sdgs/images/environment_ttl_05.png" alt="3Rの推進"></div>
        </div>
        <p>循環型社会の実現に貢献するため、廃棄物の削減（Reduce）、再利用（Reuse）、リサイクル（Recycle）の3Rを推進しています。</p>
      </div>
      <!-- <div class="imgBox_c"><img src="/sustainability/sdgs/images/environment_img_05.png" alt="3R"></div> -->
      <div class="imgBox"><img class="pc_mr20 sp_mb20" src="/sustainability/sdgs/images/environment_img_06.png" alt="紙の使用量削減"><img class="pc_mr20 sp_mb20" src="/sustainability/sdgs/images/environment_img_07.png" alt="ユニフォームのリユース"><img src="/sustainability/sdgs/images/environment_img_08.png" alt="使用済みインクカートリッジの回収"></div>
    </div>
  </section>
  <div class="navigationArea_c">
    <div class="nextLink prev"><a href="environment.html" class="torikumi_environment"></a></div>
  </div>
  </div>
</div>

<script>
$(document).ready(function(){
if ($(window).width() < 767) {
  var urlHash = location.hash;
  if(urlHash) {
    $('body,html').stop().scrollTop(0);
    setTimeout(function () {
      scrollToAnker(urlHash) ;
    }, 100);
  }
  function scrollToAnker(hash) {
    var target = $(hash);
    var position = target.offset().top - 100;
    $('body,html').stop().animate({scrollTop:position}, 500);
  }
}
})
</script>