<div id="sdgs" class="sdgs_2019_society">
  <div class="society">
  <section class="torikumi_title">
  <div class="pc_pt20 mb20"><img src="/sustainability/sdgs/images/sdgs_society_title.png" alt="社会"></div>
  <p>地域社会における課題や要請に耳を傾けながら、<br>事業を通じてそれらに応え、地域社会との持続的な共生に努めています。</p>
  </section>
  <section class="torikumi_col" id="01">
    <div class="sp_col2 flex_sb pc_p20 pc_pl40">
      <div class="theme">
      <dl><dt>地域社会の発展・活性化</dt>
      <dd class="sdgs11"><div><span class="goal">目標11</span><span class="title">持続可能な都市</span></div><p>包摂的で安全かつ強靭（レジリエント）で持続可能な都市及び人間居住を実現する</p></dd>
    </dl></div>
      <div class="comment"><p>都市部では人口集中による過密化が進む一方で、地方都市では高齢化や過疎化が加速しているの。特に地方の活力の維持は深刻な課題のひとつ。どこに住んでいても、誰もが必要なサービスを受けられて、災害に強く安全で持続可能なまちづくりが求められているわ。</p></div>
    </div>
    <div class="pc_p60 pc_pb20 pc_pt00 sp_pb20">
      <div class="pc_mb20 sp_mb20">
        <div class="mb20">
          <div><img src="/sustainability/sdgs/images/society_ttl_01.png" alt="取り組み1　災害復興支援"></div>
        </div>
        <p>大きな災害発生時には、郵便・貯金・保険の非常取扱等を実施しています。また、避難所への配達や車両型郵便局の派遣等により、被災者の皆さまのご不便を少しでも解消するように取り組んでいます。</p>
      </div>
      <div class="imgBox_c"><img src="/sustainability/sdgs/images/society_img_01.png" alt="西日本豪雨（平成30年7月豪雨）での対応"></div>
    </div>
    <div class="imgBox_c sp_pt20 sp_pb20"><img src="/sustainability/sdgs/images/sdgs_society_img_03.png" alt=""></div>
    <div class="pc_p60 pc_pt20 pc_pb70 flex_vali_top">
      <div class="pc_mb20 sp_mb20">
        <div class="mb20">
          <div><img src="/sustainability/sdgs/images/society_ttl_02.png" alt="取り組み2　まちづくりへの貢献"></div>
        </div>
        <p>不動産開発や、過疎地域の駅と郵便局の機能連携などによって、地域住民の利便性の向上やにぎわいの創出に貢献しています。</p>
      </div>
      <div class="imgBox_c sp_pb20"><img src="/sustainability/sdgs/images/society_img_02.png" alt="不動産開発、駅と郵便局の機能連携"></div>
    </div>
  </section>

  <section class="torikumi_col" id="02">
    <div class="sp_col2 flex_sb pc_p20 pc_pl40">
      <div class="theme">
      <dl><dt>次世代育成</dt>
      <dd class="sdgs4"><div><span class="goal">目標4</span><span class="title">教育</span></div><p>すべての人々に包摂的かつ公正な質の高い教育を確保し、生涯学習の機会を促進する</p></dd>
    </dl></div>
      <div class="comment pc_mr40"><p>今、日本の子どもの7人に1人が相対的貧困状態※にあるといわれているの。教育は人々の生活改善には欠かせないもの。家庭の経済状況に左右されることなく、誰もが質の高い教育を受けられることが大切ね。同時に、持続可能な社会づくりに必要な、体系的な思考力やコミュニケーション力などの育成も必要よ。</p><p class="note mt5 sp_mt10">※出典：「平成28年 国民生活基礎調査」（厚生労働省）</p></div>
    </div>
    <div class="sp_col2 pc_p60 pc_pb40 pc_pt20">
      <div class="pc_mr30 sp_mb20">
        <div class="mb20">
          <div><img src="/sustainability/sdgs/images/society_ttl_03.png" alt="取り組み3　学習機会の提供"></div>
        </div>
        <p class="mb40">子どもたちの伝える力やコミュニケーション力の育成を図る「手紙の書き方体験授業」支援のほか、「金融教育」「かんぽの宿職場体験」などを実施し、子どもたちに学習の機会を提供しています。</p>
        <div class="imgBox_c"><img src="/sustainability/sdgs/images/society_img_03.png" alt="金融教育"></div>
      </div>
      <div class="imgBox"><img src="/sustainability/sdgs/images/society_img_04.png" alt="かんぽの宿職場体験"></div>
    </div>
  </section>

  <section class="torikumi_col short" id="03">
    <div class="sp_col2 flex_sb pc_p20 pc_pl40">
      <div class="theme">
      <dl><dt>健康的な暮らしの促進</dt>
      <dd class="sdgs3"><div><span class="goal">目標3</span><span class="title">保健</span></div><p>あらゆる年齢のすべての人々の健康的な生活を確保し、福祉を促進する</p></dd>
    </dl></div>
      <div class="comment mr20"><p>高齢化が進むにつれて、医療や介護サービスを必要とする人は急増すると考えられているの。社会保障費の圧迫を改善するため、何より人々がいきいきと生活するため、健康寿命を延ばそうとする動きがあるのよ。</p></div>
    </div>
    <div class="sp_col2 pc_p60 pc_pb80 pc_pt00">
      <div class="pc_mr30 sp_mb20">
        <div class="mb20">
          <div><img src="/sustainability/sdgs/images/society_ttl_04.png" alt="取り組み4　社会の健康をサポート"></div>
        </div>
        <p class="mb20">健康応援アプリの提供やラジオ体操の普及・推進などによって、「健やかな毎日でありたい」と願う人々の健康的な生活をサポートしています。</p>
        <div class="imgBox"><img src="/sustainability/sdgs/images/society_img_05.png" alt="健康応援アプリ「すこやかんぽ」"></div>
      </div>
      <div class="imgBox"><img src="/sustainability/sdgs/images/society_img_06.png" alt="ラジオ体操の普及・推進"></div>
    </div>
  </section>

  <div class="navigationArea_c">
    <div class="nextLink prev"><a href="/sustainability/sustainability_management/sdgs/society.html" class="torikumi_society"></a></div>
  </div>
  </div>
</div>


<script>
$(document).ready(function(){
if ($(window).width() < 767) {
  var urlHash = location.hash;
  if(urlHash) {
    $('body,html').stop().scrollTop(0);
    setTimeout(function () {
      scrollToAnker(urlHash) ;
    }, 100);
  }
  function scrollToAnker(hash) {
    var target = $(hash);
    var position = target.offset().top - 100;
    $('body,html').stop().animate({scrollTop:position}, 500);
  }
}
})
</script>