<link rel="stylesheet" media="all" href="/sustainability/css/colorbox.css">
<link rel="stylesheet" media="all" href="/sustainability/css/colorbox_extend.css">
<script type="text/javascript" src="/cmn/js/jquery.colorbox-min.js"></script>


<div id="sdgs" class="sdgs_action_post">

  <section class="action_post_sec">
    <div class="action_post_txt">
      <h1><span>チームJP</span><br>私たちのSDGsアクション</h1>
      <h2>～未来のためにできること～</h2>
      <p>日本郵政グループの従業員一人ひとりが<br>仕事や生活の中で行っている<br class="sp-inline">SDGsの取り組みの一部をご紹介します。</p>
    </div>
    <div class="action_post_entrance">
      <p class="action_door"><a href="#2020_nagoya_01" class="sdgs-inline" title=""><img src="/sustainability/sdgs/images/action_door.png" alt="コチラから"></a></p>
      <ul class="action_post_list">
        <!-- 2020名古屋 -->
        <!-- <li class="2020_nagoya_01"><a href="#2020_nagoya_01" class="sdgs-inline" title="2020名古屋1"><img src="/sustainability/sdgs/images/sdgs_point.png" alt=""></a></li> -->

        <!-- 2020福岡 -->
        <li class="2020_fukuoka_01"><a href="#2020_fukuoka_01" class="sdgs-inline" title="2020福岡1"><img src="/sustainability/sdgs/images/sdgs_point.png" alt=""></a></li>
        <!-- 2020近畿 -->
        <li class="2020_kinki_01"><a href="#2020_kinki_01" class="sdgs-inline" title="2020近畿1"><img src="/sustainability/sdgs/images/sdgs_point.png" alt=""></a></li>
        <!-- 2020山口 -->
        <li class="2020_yamaguchi_01"><a href="#2020_yamaguchi_01" class="sdgs-inline" title="2020山口1"><img src="/sustainability/sdgs/images/sdgs_point.png" alt=""></a></li>
        <!-- 2020沖縄 -->
        <li class="2020_okinawa_01"><a href="#2020_okinawa_01" class="sdgs-inline" title="2020沖縄1"><img src="/sustainability/sdgs/images/sdgs_point.png" alt=""></a></li>
        <!-- 2020切手ホルダー -->
        <li class="2020_kitte_01"><a href="#2020_kitte_01" class="sdgs-inline" title="2020沖縄1"><img src="/sustainability/sdgs/images/sdgs_point.png" alt=""></a></li>
        <!-- 2020多治見 -->
        <li class="2020_tajimi_01"><a href="#2020_tajimi_01" class="sdgs-inline" title="2020多治見1"><img src="/sustainability/sdgs/images/sdgs_point.png" alt=""></a></li>
        <!-- 北海道 -->
        <li class="hokkaido_01"><a href="#hokkaido_01" class="sdgs-inline" title="北海道1"><img src="/sustainability/sdgs/images/sdgs_point.png" alt=""></a></li>
        <!-- 東京 -->
        <li class="tokyo_03"><a href="#tokyo_03" class="sdgs-inline" title="東京3"><img src="/sustainability/sdgs/images/sdgs_point.png" alt=""></a></li>
        <!-- 東海 -->
        <li class="tokai_01"><a href="#tokai_01" class="sdgs-inline" title="東海1"><img src="/sustainability/sdgs/images/sdgs_point.png" alt=""></a></li>
        <!-- 近畿 -->
        <li class="kinki_04"><a href="#kinki_04" class="sdgs-inline" title="近畿4"><img src="/sustainability/sdgs/images/sdgs_point.png" alt=""></a></li>
        <!-- 中国 -->
        <li class="chugoku_02"><a href="#chugoku_02" class="sdgs-inline" title="中国2"><img src="/sustainability/sdgs/images/sdgs_point.png" alt=""></a></li>
        <!-- 九州・沖縄 -->
        <li class="kyushu_02"><a href="#kyushu_02" class="sdgs-inline" title="九州・沖縄2"><img src="/sustainability/sdgs/images/sdgs_point.png" alt=""></a></li>
        <li class="kyushu_05"><a href="#kyushu_05" class="sdgs-inline" title="九州・沖縄5"><img src="/sustainability/sdgs/images/sdgs_point.png" alt=""></a></li>
        <li class="kyushu_06"><a href="#kyushu_06" class="sdgs-inline" title="九州・沖縄6"><img src="/sustainability/sdgs/images/sdgs_point.png" alt=""></a></li>
      </ul>      
    </div>
  </section>

  <section style="display: none;">
    <!-- モーダル表示 -->
    <!-- 2020 名古屋 -->
    <div id="2020_nagoya_01" class="modal">
      <h1>リモートによる職場見学の受入</h1>
      <div class="sdgs-icons">
        <p><img src="/sustainability/sdgs/images/sdg_icon_04_ja.png" alt=""></p>
      </div>
      <div class="sdgs-pics">
        <p><img src="/sustainability/sdgs/images/2020_nagoya_01_1.jpg" alt=""></p>
      </div>
      <p class="desc">コロナ禍でも気兼ねなく実施できる職場見学として、<br class="spnone">地元小学校と複数の郵便局をリモートでつないだ郵便局見学を行いました。<br class="spnone">見学時の質問・回答もリアルタイムで行うなど、<br class="spnone">郵便局の仕事を学ぶお手伝いができました。</p>
      <p class="belong">愛知県</p>
      <p class="location">日本郵便　名古屋沢上郵便局</p>  
    </div>
    <!-- 2020 福岡 -->
    <div id="2020_fukuoka_01" class="modal">
      <h1>地域の皆さまの健康増進活動</h1>
      <div class="sdgs-icons">
        <p><img src="/sustainability/sdgs/images/sdg_icon_03_ja.png" alt=""></p>
      </div>
      <div class="sdgs-pics">
        <p><img src="/sustainability/sdgs/images/2020_fukuoka_01_1.jpg" alt=""></p>
      </div>
      <p class="desc">社員向けにがんに関する知識を深める機会をつくり、<br class="spnone">郵便局窓口で「がん検診」の大切さをお客さまにお伝えすることで、<br class="spnone">地域の皆さまの健康増進につなげています。</p>
      <p class="belong">福岡県</p>
      <p class="location">日本郵便　福岡美野島郵便局</p>  
    </div>
    <!-- 2020 近畿 -->
    <div id="2020_kinki_01" class="modal">
      <h1>「いいね！カード」で働くモチベーション向上</h1>
      <div class="sdgs-icons">
        <p><img src="/sustainability/sdgs/images/sdg_icon_08_ja.png" alt=""></p>
      </div>
      <div class="sdgs-pics">
        <p><img src="/sustainability/sdgs/images/2020_kinki_01_1.jpg" alt=""></p>
        <p><img src="/sustainability/sdgs/images/2020_kinki_01_2.jpg" alt=""></p>
      </div>
      <p class="desc">社員同士がお互いを褒める取り組みを実施し、<br class="spnone">褒めた数だけ「いいね！カード」を掲出しています。<br class="spnone">お互いを認め合うことで社員の働きがいを高め、<br class="spnone">よりよいサービスをお客さまに提供できるよう取り組んでいます。</p>
      <p class="belong"></p>
      <p class="location">近畿エリア本部</p>  
    </div>
    <!-- 2020 山口 -->
    <div id="2020_yamaguchi_01" class="modal">
      <h1>ラジオ体操講習会を行いました</h1>
      <div class="sdgs-icons">
        <p><img src="/sustainability/sdgs/images/sdg_icon_03_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_04_ja.png" alt=""></p>
      </div>
      <div class="sdgs-pics">
        <p><img src="/sustainability/sdgs/images/2020_yamaguchi_01_1.jpg" alt=""></p>
      </div>
      <p class="desc">地元の小学校から「運動会前にラジオ体操指導をしてほしい」という依頼を受け、<br class="spnone">ラジオ体操１級指導士の社員が全校児童にわかりやすく指導しました。<br class="spnone">「とてもいい時間になりました。運動会だけでなく、体育の授業でも行っていきます」<br class="spnone">との声をいただきました。</p>
      <p class="belong">山口県</p>
      <p class="location">かんぽ生命保険　山口支店</p>  
    </div>
    <!-- 2020 沖縄 -->
    <div id="2020_okinawa_01" class="modal">
      <h1>沖縄県のSDGsパートナーです</h1>
      <div class="sdgs-icons">
        <p><img src="/sustainability/sdgs/images/sdg_icon_17_ja.png" alt=""></p>
      </div>
      <div class="sdgs-pics">
        <p><img src="/sustainability/sdgs/images/2020_okinawa_01_1.jpg" alt=""></p>
      </div>
      <p class="desc">沖縄県のSDGsパートナーに登録しています。<br class="spnone">郵便局ロビーへのフードボックス設置などに取り組んでいるほか、<br class="spnone">ポスターや情報紙を用いてお客さまや社員へSDGsを広げています。</p>
      <p class="belong">沖縄県</p>
      <p class="location">日本郵便　沖縄支社</p>  
    </div>
    <!-- 2020 切手ホルダー -->
    <div id="2020_kitte_01" class="modal">
      <h1>繰り返し使える切手ホルダー等の配布</h1>
      <div class="sdgs-icons">
        <p><img src="/sustainability/sdgs/images/sdg_icon_12_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_13_ja.png" alt=""></p>
      </div>
      <div class="sdgs-pics">
        <p><img src="/sustainability/sdgs/images/2020_kitte_01_1.jpg" alt=""></p>
        <p><img src="/sustainability/sdgs/images/2020_kitte_01_2.jpg" alt=""></p>
        <p><img src="/sustainability/sdgs/images/2020_kitte_01_3.jpg" alt=""></p>
      </div>
      <p class="desc">オリジナルで作成した切手ホルダーやクリアファイルを<br class="spnone">お客さまにお渡しして繰り返しご利用いただくことで、<br class="spnone">ビニール袋の削減に貢献しています。</p>
      <p class="belong"></p>
      <p class="location">日本郵便　横浜入江郵便局<br>日本郵便　平塚豊田郵便局<br>日本郵便　ひたち野うしく郵便局</p>  
    </div>
    <!-- 2020 切手ホルダー -->
    <div id="2020_tajimi_01" class="modal">
      <h1>てづくりマスクの寄贈</h1>
      <div class="sdgs-icons">
        <p><img src="/sustainability/sdgs/images/sdg_icon_03_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_12_ja.png" alt=""></p>
      </div>
      <div class="sdgs-pics">
        <p><img src="/sustainability/sdgs/images/2020_tajimi_01_1.jpg" alt=""></p>
        <p><img src="/sustainability/sdgs/images/2020_tajimi_01_2.png" alt=""></p>
      </div>
      <p class="desc">郵便局の有志で、多治見市のキャラクター「うながっぱ」の手ぬぐいを使った、<br class="spnone">多治見市ならではのマスクを作成し、<br class="spnone">市長を通じて多治見市社会福祉協議会へ寄贈しました。</p>
      <p class="belong"></p>
      <p class="location">日本郵便　多治見部会</p>  
    </div>
    <!-- 北海道 -->
    <div id="hokkaido_01" class="modal">
      <h1>ペットボトルキャップ等の回収ボックスを設置</h1>
      <div class="sdgs-icons">
        <p><img src="/sustainability/sdgs/images/sdg_icon_01_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_02_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_03_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_12_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_17_ja.png" alt=""></p>
      </div>
      <div class="sdgs-pics">
        <p><img class="spnone" src="/sustainability/sdgs/images/hokkaido_01_1.jpg" alt=""><img class="pcnone" src="/sustainability/sdgs/images/hokkaido_01_1_sp.jpg" alt=""></p>
      </div>
      <p class="desc">手作りの「ころころエコキャップ装置」を郵便局の窓口に置き、<br class="spnone">お客さまに楽しんでもらいながらペットボトルキャップを集めています。<br>集まったキャップはエコキャップ運動団体に回収してもらい、<br class="spnone">リサイクル資源活用やその収益による途上国への医療支援、<br class="spnone">障がい者雇用などにつなげています。</p>
      <p class="belong">北海道</p>
      <p class="location">日本郵便　札幌大通郵便局</p>  
    </div>
    <!-- 東京 -->
    <div id="tokyo_03" class="modal">
      <h1>訪問学習の受け入れ</h1>
      <div class="sdgs-icons">
        <p><img src="/sustainability/sdgs/images/sdg_icon_04_ja.png" alt=""></p>
      </div>
      <div class="sdgs-pics">
        <p><img src="/sustainability/sdgs/images/tokyo_03_1.jpg" alt=""></p>
      </div>
      <p class="desc">学生を対象とした訪問学習を受け入れています。<br>実際の業務を見学していただくことで、<br class="spnone">職業や社会を知るお手伝いをしています。</p>
      <p class="belong">東京都</p>
      <p class="location">かんぽ生命保険　東京事務サービスセンター</p>  
    </div>
    <!-- 東海 -->
    <div id="tokai_01" class="modal">
      <h1>文書を印刷しないペーペーレスの取り組み</h1>
      <div class="sdgs-icons">
        <p><img src="/sustainability/sdgs/images/sdg_icon_15_ja.png" alt=""></p>
      </div>
      <div class="sdgs-pics">
        <p><img src="/sustainability/sdgs/images/tokai_01_1.jpg" alt=""></p>
      </div>
      <p class="desc">原則的に文書を印刷しないペーパーレスの取り組みを2015年から実施しています。<br>パソコンの共有フォルダに従業員別の文書閲覧用ファイルを作成し、<br class="spnone">タイトルをクリックすると文書内容が確認できるようにしています。</p>
      <p class="belong">三重県</p>
      <p class="location">日本郵便　立神郵便局</p>  
    </div>
    <!-- 近畿 -->
    <div id="kinki_04" class="modal">
      <h1>スリランカの子どもたちに綺麗な水を</h1>
      <div class="sdgs-icons">
        <p><img src="/sustainability/sdgs/images/sdg_icon_01_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_02_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_03_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_04_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_05_ja.png" alt=""></p>
      </div>
      <div class="sdgs-pics">
        <p><img src="/sustainability/sdgs/images/kinki_04_1.jpg" alt=""></p>
        <p><img src="/sustainability/sdgs/images/kinki_04_2.jpg" alt=""></p>
        <p><img src="/sustainability/sdgs/images/kinki_04_3.jpg" alt=""></p>
      </div>
      <p class="desc">スリランカに寄付された井戸・トイレ・手洗い場などを、<br class="spnone">NPOを通じて現地で作り上げるお手伝いをしながら、<br class="spnone">衛生状態の改善や安心して教育を受けられる環境づくりに貢献しています。</p>
      <p class="belong">大阪府</p>
      <p class="location">個人（所属 ： 日本郵便　旭新森郵便局）</p>  
    </div>
    <!-- 中国 -->
    <div id="chugoku_02" class="modal">
      <h1>地域食堂（こども食堂）への支援</h1>
      <div class="sdgs-icons">
        <p><img src="/sustainability/sdgs/images/sdg_icon_01_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_02_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_03_ja.png" alt=""></p>
      </div>
      <div class="sdgs-pics">
        <p class="spnone"><img src="/sustainability/sdgs/images/chugoku_02_1.jpg" alt=""></p>
        <p class="spnone"><img src="/sustainability/sdgs/images/chugoku_02_2.jpg" alt=""></p>
        <p class="pcnone"><img src="/sustainability/sdgs/images/chugoku_02_1_sp.jpg" alt=""></p>
      </div>
      <p class="desc">鳥取市が支援する「こども食堂」の取り組みに賛同し、<br class="spnone">会内全ての郵便局（55局）に「フードボックス」を設置。<br>地域の皆さまから家庭で使用見込みのない食品を持ち寄っていただき、<br class="spnone">それらをこども食堂へ寄付する活動を行っています。<br>この取り組みは、全国の郵便局に先駆けて行ったものであり、<br class="spnone">現在は他の地域にも横展開されています。</p>
      <p class="belong">鳥取県</p>
      <p class="location">日本郵便　因幡地区連絡会</p>  
    </div>
    <!-- 九州・沖縄 -->
    <div id="kyushu_02" class="modal">
      <h1>防災マップの作成</h1>
      <div class="sdgs-icons">
        <p><img src="/sustainability/sdgs/images/sdg_icon_11_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_13_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_17_ja.png" alt=""></p>
      </div>
      <div class="sdgs-pics">
        <p class="spnone"><img src="/sustainability/sdgs/images/kyushu_02_1.jpg" alt=""></p>
        <p class="spnone"><img src="/sustainability/sdgs/images/kyushu_02_2.jpg" alt=""></p>
        <p class="pcnone"><img src="/sustainability/sdgs/images/kyushu_02_sp.jpg" alt=""></p>
      </div>
      <p class="desc">平成29年7月九州北部豪雨で多くの簡易郵便局が被災したことをきっかけに、<br class="spnone">九州の簡易郵便局を対象とした防災マップを作成・紹介して、<br class="spnone">防災への意識づけを行いました。</p>
      <p class="belong">福岡県</p>
      <p class="location">日本郵便　福岡県簡易郵便局連合会</p>  
    </div>
    <div id="kyushu_05" class="modal">
      <h1>「グッジョブカード」でコミュニケーション力を向上</h1>
      <div class="sdgs-icons">
        <p><img src="/sustainability/sdgs/images/sdg_icon_08_ja.png" alt=""></p>
      </div>
      <div class="sdgs-pics">
        <p><img class="spnone" src="/sustainability/sdgs/images/kyushu_05_1.jpg" alt=""><img class="pcnone" src="/sustainability/sdgs/images/kyushu_05_1_sp.jpg" alt=""></p>
      </div>
      <p class="desc">「○○さんの応対は、こういうところがいいね！」と<br class="spnone">SV<sup>※</sup>等が気づいた良い点を「グッジョブカード」に書き、<br class="spnone">職場に掲示するとともに本人にも渡しています。<br>「こういう伝え方があるのか」とお互いに参考にしあうことで、<br class="spnone">スタッフ全員が「自身のコミュニケーションの取り方」に<br class="spnone">一層気を配るようになってきたと思います。<br><br><sup>※</sup>SV（スーパーバイザー）<br>お客さまからのお問い合わせに応対するオペレーターのフォロー・モニタリングを行う</p>
      <p class="belong">福岡県</p>
      <p class="location">ゆうちょ銀行　ゆうちょ福岡コールセンター</p>  
    </div>
    <div id="kyushu_06" class="modal">
      <h1>里地里山再生事業</h1>
      <div class="sdgs-icons">
        <p><img src="/sustainability/sdgs/images/sdg_icon_11_ja.png" alt=""></p>
        <p><img src="/sustainability/sdgs/images/sdg_icon_15_ja.png" alt=""></p>
      </div>
      <div class="sdgs-pics">
        <p><img src="/sustainability/sdgs/images/kyushu_06_1.jpg" alt=""></p>
        <p><img src="/sustainability/sdgs/images/kyushu_06_2.jpg" alt=""></p>
        <p><img src="/sustainability/sdgs/images/kyushu_06_3.jpg" alt=""></p>
      </div>
      <p class="desc">NPOを立ち上げ、耕作放棄地解消事業に取り組み、<br class="spnone">借り受けた耕作放棄地でそば畑・ブルーベリー畑・MTBのコースづくりを進めています。<br>また、空き家と田舎暮らし希望者をつなぐ空き家バンク事業も始めています。</p>
      <p class="belong">熊本県</p>
      <p class="location">個人（所属 ： 日本郵便　御船上野郵便局）</p>  
    </div>

  </section>

  <div class="navigationArea_c">
    <div class="nextLink prev"><a href="/sustainability/sustainability_management/sdgs/employee.html" class="torikumi_employee">取り組み紹介～人～</a></div>
    <div class="navi_comment_c"><p>SDGs達成に向けた取り組みが<br>他にも！<br>詳しくは次のページへ！</p></div>
    <div class="nextLink next"><a href="/sustainability/sustainability_management/sdgs/extra.html" class="extra">日本郵政グループ×SDGs</a></div>
  </div>
</div>
  
<script>
$(function() {
  // colorbox実行
  $(".sdgs-inline").colorbox({
    inline:true,
    rel:"slide",
    maxWidth:"100%",
    maxHeight:"100%",
    opacity:0.5,
    fixed:true,
    current:false,
    title:false,
  });
});
</script>
