<div id="sdgs" class="sdgs_employee">
  <div class="employee">
    <div class="employee2020_inner">
    <section class="torikumi_title">
    <div class="employee2020_desc_wrap">
      <div class="employee2020_desc pc_mr30">
        <div class="pt20 mb20"><img src="/sustainability/sdgs/images/sdgs_employee_title.png" alt="従業員"></div>
        <p class="mb20">グループの事業活動にかかわるすべての人々の人権を尊重するとともに、安全で働きやすい職場環境の確保と、個々の従業員の自主性や創造性を発揮できる豊かな職場づくりを目指しています。</p>
      </div>
      <div class="employee2020_human_rights">
        <p>日本郵政グループは、持続可能な社会の実現に向けて、グループの事業活動にかかわるすべての人々の人権尊重が不可欠であるとの認識のもと、2019年4月、「日本郵政グループ人権方針」を制定し、グループ全体で人権尊重の取り組みを推進しています。</p>
      </div>
    </div>
    </section>
    <section class="torikumi_col" id="01">
      <div class="theme_wrap">
        <div class="theme mb10">
          <dl>
            <dt>人材の育成</dt>
            <dd class="sdgs8"><div><span class="goal">目標8</span><span class="title">経済成長と雇用</span></div><p>包摂的かつ持続可能な経済成長及びすべての人々の完全かつ生産的な雇用と働きがいのある人間らしい雇用（ディーセント・ワーク）を促進する</p></dd>
          </dl>
        </div>
        <div class="comment"><p>労働は生活の糧を得る手段であると同時に、生きがいや喜びをもたらすもの。だけど現実には、安定した仕事に就けず経済的に自立できない人や、低賃金労働に従事している人も多いわ。貧困を解消し、持続可能な経済成長を実現するには、「ディーセント・ワーク」を実現し、公正な所得の確保や人材育成など、雇用の質を向上させることが必要ね。</p></div>
      </div>
      <div class="employee2020_torikumi">
        <div class="sp_col2">
          <div class="pc_mr30">
            <div class="imgBox mb20"><img src="/sustainability/sdgs/images/employee2020_ttl1.png" alt="日本郵政グループの取り組み 人材育成"></div>
            <p class="mb10">日本郵政グループの経営理念をより深く理解・浸透させるための研修を行っているほか、お客さま本位のよりよいサービスを提供するためのさまざまな研修を行っています。</p>
            <ul class="employee2020_1_list mb20">
              <li>金融コンサルティングに必要な知識・スキル向上研修</li>
              <li>「かんぽ営業スタンダード」に基づく研修　など</li>
            </ul>
          </div>
          <div class="imgBox mb20"><img src="/sustainability/sdgs/images/employee2020_1_01.png" alt="経営理念ハンドブック"></div>
        </div>
      </div>
    </section>
    <section class="torikumi_col" id="02">
      <div class="theme_wrap">
        <div class="theme">
          <dl>
            <dt>働き方改革</dt>
            <dd class="sdgs8"><div><span class="goal">目標8</span><span class="title">経済成長と雇用</span></div><p>包摂的かつ持続可能な経済成長及びすべての人々の完全かつ生産的な雇用と働きがいのある人間らしい雇用（ディーセント・ワーク）を促進する</p></dd>
          </dl>
        </div>
        <div class="comment"><p>日本は男女格差が大きい国だって知ってる？ 男女平等の度合いを国別に順位付けすると、144カ国中なんと114位<span class="note">※</span>。性別や年齢、障がいの有無や国籍にかかわらず、誰もが尊厳を持って働ける労働環境の整備がまだまだ必要なの。誰もがいきいきと働けるよう、近年、仕事と生活の調和（ワーク・ライフ・バランス）を実現する多様な働き方の実現や、長時間労働の解消といった「働き方改革」が進められているよ。</p><p class="note mt10">※出典：世界経済フォーラム「The Global Gender Gap Report 2017」</p></div>
      </div>
      <div class="employee2020_torikumi">
        <div class="sp_col2 mb20">
          <div class="pc_mr30 sp_mb20">
            <div class="imgBox mb20"><img src="/sustainability/sdgs/images/employee2020_ttl2.png" alt="日本郵政グループの取り組み ワークライフバランスの推進"></div>
            <p>日本郵政グループは「働き続けられる企業」を目指して、テレワークやサテライトオフィスなど多様な働き方を支援する環境整備を進め、多くの従業員が育児・介護・病気と仕事の両立を実現しています。</p>
          </div>
          <div class="imgBox mb20"><img src="/sustainability/sdgs/images/employee2020_2_01.png" alt="「プラチナくるみん」認定"></div>
        </div>
        <div class="mb20">
          <div class="imgBox_c"><img src="/sustainability/sdgs/images/employee2020_2_02.png" alt="仕事と育児の両立セミナー"></div>
        </div>
      </div>
      <div class="imgBox_c sp_pt20 sp_pb20"><img src="/sustainability/sdgs/images/society2020_line.png" alt=""></div>
      <div class="employee2020_torikumi">
        <div class="sp_col2 mb20">
          <div class="pc_mr30 sp_mb20">
            <div class="imgBox mb20"><img src="/sustainability/sdgs/images/employee2020_ttl3.png" alt="日本郵政グループの取り組み ダイバーシティの推進"></div>
            <p>日本郵政グループは多様な価値観を持つ人材がいきいきと働ける職場環境を目指して、従業員の意識改革・モチベーション向上の取り組みなど、積極的にダイバーシティを推進しています。</p>
          </div>
          <div class="imgBox mb20"><img src="/sustainability/sdgs/images/employee2020_3_01.png" alt="「PRIDE指標」で「ゴールド」受賞"></div>
        </div>
        <div class="mb20">
          <div class="imgBox_c"><img src="/sustainability/sdgs/images/employee2020_3_02.png" alt="ゆうちょパパ・ママ応援カード"></div>
        </div>
      </div>
      <div class="imgBox_c sp_pt20 sp_pb20"><img src="/sustainability/sdgs/images/society2020_line.png" alt=""></div>
      <div class="employee2020_torikumi">
        <div class="sp_col2 mb20">
          <div class="imgBox pc_mr30 sp_mb20"><img src="/sustainability/sdgs/images/employee2020_ttl4.png" alt="日本郵政グループの取り組み 健康経営の推進"></div>
          <p>日本郵政グループは多様な価値観を持つ人材がいきいきと働ける職場環境を目指して、従業員の意識改革・モチベーション向上の取り組みなど、積極的にダイバーシティを推進しています。</p>
        </div>
      </div>
    </section>
  </div>
  <div class="Section Link-General">
    <ul>
      <li><a href="/sustainability/sustainability_management/sdgs/2019_employee.html" class="Link">日本郵政グループ・過去の取り組み紹介2019～人～</a></li>
    </ul>
  </div>
  <div class="navigationArea_c">
    <div class="nextLink prev"><a href="environment.html" class="torikumi_environment"></a></div>
    <div class="navi_comment_c"><p>グループの従業員による<br>SDGsアクションを見てみよう！<br>次のページへGO！</p></div>
    <div class="nextLink next"><a href="/sustainability/sustainability_management/sdgs/action_post.html" class="action_post"></a></div>
  </div>
  </div>
</div>


<script>
$(document).ready(function(){
if ($(window).width() < 767) {
  var urlHash = location.hash;
  if(urlHash) {
    $('body,html').stop().scrollTop(0);
    setTimeout(function () {
      scrollToAnker(urlHash) ;
    }, 100);
  }
  function scrollToAnker(hash) {
    var target = $(hash);
    var position = target.offset().top - 100;
    $('body,html').stop().animate({scrollTop:position}, 500);
  }
}
})
</script>