<div id="sdgs" class="sdgs_environment">
  <div class="environment">
  <div class="env2020_inner">
    <section class="torikumi_title">
    <div class="pt20 mb20"><img src="/sustainability/sdgs/images/sdgs_environment_title.png" alt="環境"></div>
    <p>地球環境への負荷低減に配慮した<br>事業活動や環境保全活動を積極的に推進しています。</p>
    </section>

    <section class="torikumi_col" id="01">
      
      <div class="theme_wrap">
        <div class="theme">
        <dl>
          <dt>温室効果ガス排出量の削減</dt>
          <dd class="sdgs13"><div><span class="goal">目標13</span><span class="title">気候変動</span></div><p>気候変動及びその影響を軽減するための緊急対策を講じる</p></dd>
        </dl>
      </div>
      <div class="comment"><p>地球温暖化は、異常気象の増加・甚大化、水不足、作物の生産高の減少、海面水位の上昇など深刻な事態を招くといわれているよ。その主な原因とされる温室効果ガスの排出量は、1990年と比較して50％以上も増加※1しているんだって。既に世界各地で気候変動の影響が出ているの。今すぐ対策をとらないといけないんだ！</p><p class="note mt10">※1 出典：国連開発計画（UNDP）</p></div>
      </div>

      <div class="env2020_torikumi">
        <div class="mb20">
          <div class="sp_col2 mb20">
            <div class="pc_mr30 mb20"><img src="/sustainability/sdgs/images/env2020_ttl1.png" alt="日本郵政グループの温室効果ガス削減に向けた取り組み​"></div>
            <p>日本郵政グループは、環境負荷を抑制して持続可能な社会を実現するため、事業で排出する温室効果ガスの削減に向けた2030年度グループ目標を設定し、エネルギー使用量の削減などの取り組みを継続的に推進していきます。</p>
          </div>
        </div>
        <div class="List-General">
          <ul>
            <li><a href="/sustainability/environmental_management/#ghgchallenge" class="Link">環境マネジメントシステム</a></li>
          </ul>
        </div>
      </div>
      <div class="imgBox_c sp_pt20 sp_pb20"><img src="/sustainability/sdgs/images/society2020_line.png" alt=""></div>
      <div class="env2020_torikumi">
        <div class="mb20">
          <div class="mb20">
            <div class="mb20"><img src="/sustainability/sdgs/images/env2020_ttl2.png" alt="環境に配慮した郵便・物流​"></div>
            <p>EV車両（四輪・二輪）の導入・拡大や、鉄道会社などと連携した貨客混載、受け取りサービスの充実による再配達の削減など、環境負荷の少ない郵便・物流サービスの提供に取り組んでいます。</p>
          </div>
          <div class="imgBox_c"><img src="/sustainability/sdgs/images/env2020_2_01.png" alt="EV車両の導入・拡大、貨客混載、再配達の削減（置き配バッグ「OKIPPA」）"></div>
        </div>
        <div class="List-General">
          <ul>
            <li><a href="/sustainability/environment/logistics.html" class="Link">環境に配慮した郵便・物流</a></li>
          </ul>
        </div>
      </div>
      <div class="imgBox_c sp_pt20 sp_pb20"><img src="/sustainability/sdgs/images/society2020_line.png" alt=""></div>
      <div class="env2020_torikumi">
        <div class="sp_col2 mb20">
          <div class="pc_mr30 mb20">
            <div class="mb20"><img src="/sustainability/sdgs/images/env2020_ttl3.png" alt="環境に配慮した​オフィスビル・商業施設​"></div>
            <p>最新の環境配慮技術を取り入れ、JPタワー、JPタワー名古屋、KITTE博多などで、建築物の環境性能評価システムCASBEEを取得するなど、地球環境への負荷の少ない不動産事業を展開しています。</p>
          </div>
          <div class="imgBox"><img src="/sustainability/sdgs/images/env2020_3_01.png" alt=""></div>
        </div>
      </div>
      <div class="imgBox_c sp_pt20 sp_pb20"><img src="/sustainability/sdgs/images/society2020_line.png" alt=""></div>
      <div class="env2020_torikumi">
        <div class="sp_col2 mb20">
          <div class="pc_mr30 mb20">
            <div class="mb20"><img src="/sustainability/sdgs/images/env2020_ttl4.png" alt="TCFDへの賛同"></div>
            <p>日本郵政・ゆうちょ銀行・かんぽ生命保険は2019年4月、「TCFD※」の提言に賛同しました。提言に基づき、気候変動に関連した情報開示を進めていきます。</p>
          </div>
          <div class="imgBox"><img src="/sustainability/sdgs/images/env2020_4_01.png" alt=""></div>
        </div>
      </div>
    </section>

    <section class="torikumi_col" id="02">
      
      <div class="theme_wrap">
        <div class="theme">
        <dl><dt>資源の有効利用と廃棄物の削減</dt>
        <dd class="sdgs15"><div><span class="goal">目標15</span><span class="title">陸上資源</span></div><p>陸域生態系の保護、回復、持続可能な利用の推進、持続可能な森林の経営、砂漠化への対処ならびに土地の劣化の阻止・回復及び生物多様性の損失を阻止する</p></dd>
      </dl></div>
      <div class="comment"><p>世界では、2000年から2010年の間に、年平均1,300万ヘクタールの森林が失われたんだって※2。それに動植物の8％が絶滅し、22％が絶滅の危機にあり※3、砂漠化も進行しているんだ。私たち人間の営みは自然の資源の上に成り立つもの。地球上の共通資産である自然と生物多様性の損失を食い止め、持続可能な方法で利用することが必要なんだね。</p><p class="note mt10">※2 出典：環境省<br>※3 出典：国連開発計画（UNDP）</p></div>
      </div>
    
      <div class="env2020_torikumi">
        <div class="mb20">
          <div class="imgBox mb20"><img src="/sustainability/sdgs/images/env2020_ttl5.png" alt="ESG投資"></div>
          <p>ゆうちょ銀行およびかんぽ生命保険は、持続可能な社会の形成に貢献するため、ESG投資方針を策定し、ESG投資に積極的に取り組んでいます。</p>
        </div>
        <div class="sp_col2 flex_sa mb20">
          <div class="imgBox sp_mb20"><img src="/sustainability/sdgs/images/env2020_5_01.png" alt="Climate Awareness Bond （気候変動への認知度を高める債券）への投資"></div>
          <div class="imgBox sp_mb20"><img src="/sustainability/sdgs/images/env2020_5_02.png" alt="太陽光発電事業への投資"></div>
        </div>
        <div class="List-General">
          <ul>
            <li><a href="/sustainability/sustainability_management/esg_investment.html" class="Link">ESG投資</a></li>
          </ul>
        </div>
      </div>
      <div class="imgBox_c sp_pt20 sp_pb20"><img src="/sustainability/sdgs/images/society2020_line.png" alt=""></div>
      <div class="env2020_torikumi">
        <div class="sp_col2 mb20">
          <div class="pc_mr30">
            <div class="imgBox mb20"><img src="/sustainability/sdgs/images/env2020_ttl6.png" alt="3Rの推進"></div>
            <p>循環型社会の実現に貢献するため、廃棄物の削減（Reduce）、再利用（Reuse）、リサイクル（Recycle）の3Rを推進しています。</p>
          </div>
          <div class="imgBox sp_mb20"><img src="/sustainability/sdgs/images/env2020_6_01.png" alt="紙の使用量削減"></div>
        </div>
        <div class="imgBox mb20"><img src="/sustainability/sdgs/images/env2020_6_02.png" alt="ユニフォームのリユース"></div>
      </div>
    </section>
  </div>
  <div class="Section Link-General">
    <ul>
      <li><a href="/sustainability/sustainability_management/sdgs/2019_environment.html" class="Link">日本郵政グループ・過去の取り組み紹介2019～環境～</a></li>
    </ul>
  </div>
  <div class="navigationArea_c">
    <div class="nextLink prev"><a href="society.html" class="torikumi_society">取り組み紹介～社会～</a></div>
    <div class="navi_comment_c"><p>日本郵政グループはどんな職場づくりをしているのかな？<br>
  次のページへGO！</p></div>
    <div class="nextLink next"><a href="employee.html" class="torikumi_employee">取り組み紹介～人～</a></div>
  </div>
  </div>
</div>

<script>
$(document).ready(function(){
if ($(window).width() < 767) {
  var urlHash = location.hash;
  if(urlHash) {
    $('body,html').stop().scrollTop(0);
    setTimeout(function () {
      scrollToAnker(urlHash) ;
    }, 100);
  }
  function scrollToAnker(hash) {
    var target = $(hash);
    var position = target.offset().top - 100;
    $('body,html').stop().animate({scrollTop:position}, 500);
  }
}
})
</script>