<div id="sdgs" class="sdgs_extra">
  <div class="extra">
  <div class="extra2020_inner">
    <section class="extra2020_top">
    <div class="extra2020_logo"><img src="/sustainability/sdgs/images/extra2020_logo.png" alt=" 日本郵政グループ×SDGs"></div>
    <p class="extra2020_top_txt">持続可能な社会の実現に向けた、日本郵政グループの取り組みが他にも。</p>
    </section>

    <section class="">
      
      <div class="extra2020_torikumi">
        <div class="sp_col2 mb20">
          <div class="pc_mr30">
            <div class="imgBox mb20"><img src="/sustainability/sdgs/images/extra2020_01_ttl.png" alt="スポーツの普及・発展の支援と健康への貢献"></div>
            <p class="sp_mb20">3×3 バスケットボール日本代表、日本ゴールボール協会、B.LEAGUE、日本車いすテニス協会等への協賛・支援を通じて、各スポーツの普及・発展をサポートしています。<br>
              また、日本郵政グループ女子陸上部は、YouTube公式チャンネルで選手と一緒にエクササイズにチャレンジできるストレッチやトレーニングなどの動画を配信し、皆さまの健康づくりのお手伝いをしています。
            </p>
          </div>
          <div class="imgBox"><img src="/sustainability/sdgs/images/extra2020_01_1.png" alt="YouTubeの「日本郵政グループ女子陸上部」をご覧いただき、是非お試しください。"></div>
        </div>
        <div class="sp_col2 mb20">
          <div class="extra2020_01_div sp_mb20">
            <figure><img src="/sustainability/sdgs/images/extra2020_01_2.png" alt="3x3バスケットボール日本代表等への協賛"></figure>
            <figure><img src="/sustainability/sdgs/images/extra2020_01_3.png" alt="一般社団法人 日本ゴールボール協会への協賛"></figure>
          </div>
          <div class="extra2020_01_div">
            <figure><img src="/sustainability/sdgs/images/extra2020_01_4.png" alt="B.LEAGUEとのパートナー契約の締結"></figure>
            <figure><img src="/sustainability/sdgs/images/extra2020_01_5.png" alt="一般社団法人 日本車いすテニス協会への協賛"></figure>
          </div>
        </div>
        <div class="List-General">
          <ul>
            <li><a href="https://youtu.be/q631YFr-PHc" class="Link Popup"><span>ストレッチ動画の紹介①（鈴木選手、太田選手）</span></a></li>
          </ul>
        </div>
      </div>
      <div class="imgBox_c sp_pt20 sp_pb20"><img src="/sustainability/sdgs/images/society2020_line.png" alt=""></div>
      <div class="extra2020_torikumi">
        <div class="mb20">
          <div class="imgBox mb20"><img src="/sustainability/sdgs/images/extra2020_02_ttl.png" alt="新型コロナウイルス感染症対策への支援（ESG投資）"></div>
          <div class="sp_col2 ">
            <p class="pc_mr30 sp_mb20">かんぽ生命では、持続可能な社会の実現と長期的な投資成果の向上・リスク低減を図るため、ESG投資を推進しています。2020年5月には、新型コロナウイルス感染症対策を支援するため、欧州投資銀行（EIB）が発行する「Sustainability Awareness Bond」と、米州開発銀行(IDB)が発行する「サステナブル・ディベロップメント・ボンド」に投資しました。</p>
            <div class="imgBox"><img src="/sustainability/sdgs/images/extra2020_02_1.png" alt="欧州投資銀行"></div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <div class="navigationArea_c">
    <div class="nextLink prev"><a href="action_post.html" class="action_post">わたしたちのSDGsアクション</a></div>
    <div class="navi_comment_c"><p><a href="/sustainability/library/sdgs/">SDGｓBook</a>でも紹介しているよ</p></div>
    <div class="nextLink next"><a href="/sustainability/sustainability_management/sdgs.html" class="top">SDGsトップ</a></div>
  </div>
  </div>
</div>

<script>
$(document).ready(function(){
if ($(window).width() < 767) {
  var urlHash = location.hash;
  if(urlHash) {
    $('body,html').stop().scrollTop(0);
    setTimeout(function () {
      scrollToAnker(urlHash) ;
    }, 100);
  }
  function scrollToAnker(hash) {
    var target = $(hash);
    var position = target.offset().top - 100;
    $('body,html').stop().animate({scrollTop:position}, 500);
  }
}
})
</script>