<div id="sdgs" class="sdgs_sdgsbook_group">

  <div class="group_1st">
    <h1>日本郵政グループのご紹介</h1>
    <section class="group_1st_top">
      <h2 class="group2020_1st_top_subttl">皆さまの生活に寄り添う日本郵政グループ</h2>
      <p class="group2020_1st_top_txt">
        日本郵政グループの始まりは今から149年前、1871年に創業した郵便事業に端を発します。その後、1875年に郵便貯金事業を、1916年に簡易保険事業をそれぞれ創業し、以来、山間部から離島に至るまで全国津々浦々に存在する約2万4,000局の郵便局を通じて、お客さま一人ひとりに寄り添うサービスをご提供してきました。<br>
        環境に配慮しながら地域社会と共に発展すること、そして私たちの事業に関わるすべての人々がいきいきと豊かに暮らしていける社会を実現すること。それが私たちの目指す姿です。
      </p>
    </section>
    <section class="group_1st_btm">
      <h2 class="group2020_1st_btm_subttl">日本郵政グループのサステナビリティ</h2>
      <p class="group2020_1st_btm_txt">私たち日本郵政グループの日々の事業活動は、商品・サービスをご利用いただくお客さまや地域の皆さま、グループの事業に関わるサプライヤーの皆さま、そしてグループで働くすべての従業員等の支えがあって成り立っています。私たちは、私たちの事業活動を支えてくださるすべての方々に感謝しながら、皆さまの生活の基盤を支えるサービスを地域に分け隔てなく安定してご提供するという、社会インフラとしての役目を着実に果たすとともに、時代とともに変化する課題やニーズを解決する価値（商品・サービス）を創出し、それらを社会に共有することで、持続可能な社会の実現に貢献していきます。</p>
    </section>
  </div>
  <div class="group_2nd">
    <section class="group2020_philosophy">
      <div class="group2020_philosophy_txt">
        <h2 class="group2020_philosophy_ttl">グループ経営理念</h2>
        <p class="group2020_philosophy_p">
          郵政ネットワークの安心、信頼を礎として、<br>
          民間企業としての創造性、効率性を最大限発揮しつつ、<br>
          お客さま本位のサービスを提供し、<br>
          地域のお客さまの生活を支援し、<br>
          お客さまと社員の幸せを目指します。<br>
          また、経営の透明性を自ら求め、規律を守り、<br>
          社会と地域の発展に貢献します。
        </p>
      </div>
      <div class="group2020_philosophy_network"><img src="/sustainability/sdgs/images/group2020_network.png" alt="郵便局ネットワーク"></div>
    </section>
    <section class="group2020_biz">
      <h2 class="group2020_biz_ttl">日本郵政グループの主な事業</h2>
      <div class="group2020_biz_list">
        <div class="group2020_biz_1st"><img src="/sustainability/sdgs/images/group2020_list1.png" alt="日本郵政グループの主な事業1"></div>
        <div class="group2020_biz_2nd"><img src="/sustainability/sdgs/images/group2020_list2.png" alt="日本郵政グループの主な事業2"></div>
      </div>
    </section>
  </div>

    <div class="navigationArea_c">
      <div class="nextLink prev"><a href="../sdgs.html" class="top">SDGsトップ</a></div>
      <div class="navi_comment_c"><p>日本郵政グループの「価値創造<br>プロセス」ってどんなもの？<br>次のページをチェック！</p></div>
      <div class="nextLink next"><a href="sdgsbook_value.html" class="value">価値創造プロセス</a></div>
    </div>
    
</div>
