<div id="sdgs" class="sdgs_sdgsbook_goal">
  <div class="goal2020_wrap">
    <section class="goal2020_esg">
      <div class="goal2020_esg_sep"><img src="/sustainability/sdgs/images/goal2020_esg_sep.png" alt=""></div>
      <div class="goal2020_esg_others"><img src="/sustainability/sdgs/images/goal2020_esg_others.png" alt=""></div>
      <div class="goal2020_5p_wrap">
        <div class="goal2020_5p_txt">
          <h3 class="goal2020_ttl">SDGsを理解するキーワード「5つのP」</h3>
          <div class="goal2020_5p_p">2030年までに持続可能でよりよい世界を目指す国際目標として、2015年9月の国連サミットで採択されたSDGs（持続可能な開発目標）。「誰一人取り残さない」をキーワードに、17の目標で構成されています。SDGsへの理解を深めるため、この17の目標を「5つのP」に分類して考える見方があります。5つのPとは、People（人間）、Prosperity（豊かさ）、Planet（地球）、Peace（平和）、Partnership（パートナーシップ）のこと。世界中の人々が幸せになるためには、貧しさを解決し、健康に、安心して暮らせる豊かな社会をつくり、自然と共存して、争いのない平和な世界を実現すること、そしてそのためには国や企業、地域、家庭などみんなが協力することが重要であることをSDGsは示しているのです。</div>
        </div>
        <div class="goal2020_5p_img"><img src="/sustainability/sdgs/images/goal2020_5p.png" alt="SDGsを理解するキーワード「5つのP」　"></div>
      </div>
      <div class="goal2020_x_wrap">
        <h3 class="goal2020_ttl">日本郵政グループとSDGs</h3>
        <div class="goal2020_x_txt">
          <div class="goal2020_x_p">
            日本郵政グループは、持続可能な社会・未来の創造に貢献していくため、日本郵政グループが優先的に取り組むべき重点課題（マテリアリティ）として「地域社会」「地球環境」「人」の3つを選定し、SDGsの各目標と連動した活動を推進しています。<br>
            2020年は、他企業との連携により地域社会のインフラを支える取り組みや、EV車両の導入・拡大などによるCO2排出量の削減、人材育成・ダイバーシティの推進などを実施しました。今後も持続可能な社会の実現に向けて積極的に取り組んでいきます。
          </div>
          <div class="goal2020_x_img"><img src="/sustainability/sdgs/images/goal2020_x.png" alt="日本郵政グループとSDGs"></div>
        </div>
      </div>
    </section>
  </div>

  <div class="navigationArea_c">
    <div class="nextLink prev"><a href="sdgsbook_value.html" class="value">日本郵政グループのご紹介</a></div>
    <div class="navi_comment_c"><p>日本郵政グループの取り組みを<br>詳しく見てみよう！</p></div>
    <div class="nextLink next"><a href="society.html" class="torikumi_society">日本郵政グループの取り組み紹介～社会～</a></div>
  </div>

</div>
