<div id="sdgs" class="sdgs_sdgsbook_value">

  <section class="value2020_wrap">
    <h1 class="value2020_ttl">日本郵政グループの価値創造プロセス</h1>
    <p class="value2020_txt">「人生100年時代」を安心して、健やかに歩んでいけるように――。<br>日本郵政グループは、 グループ一体となって、皆さまの豊かな生活・人生の実現をサポートする「トータル生活サポート企業グループ」を目指し、事業を通じてお客さまや地域社会などに貢献することにより、グループの持続的な成長と企業価値の創出を図ります。</p>
    <div class="value2020_img"><img src="/sustainability/sdgs/images/value2020_process.png" alt="日本郵政グループの価値創造プロセス"></div>
  </section>


    <div class="navigationArea_c">
      <div class="nextLink prev"><a href="./" class="yusei">日本郵政グループのご紹介</a></div>
      <div class="navi_comment_c"><p>日本郵政グループにとってのSDGsってなんだろう？<br>
    次のページを見てみよう！</p></div>
      <div class="nextLink next"><a href="sdgsbook_goal.html" class="sdgs">日本郵政グループとSDGs</a></div>
    </div>
    
</div>
