<div id="sdgs" class="sdgs_society">
  <div class="society">
    <div class="society2020_inner">
      <section class="torikumi_title">
      <div class="pc_pt30 mb20"><img src="/sustainability/sdgs/images/sdgs_society_title.png" alt="社会"></div>
      <p>地域社会における課題や要請に耳を傾けながら、<br>事業を通じてそれらに応え、地域社会との持続的な共生に努めています。</p>
      </section>
  
      <section class="torikumi_col" id="01">
        <div class="theme_wrap">
          <div class="theme">
            <dl>
              <dt>地域社会の発展・活性化</dt>
              <dd class="sdgs11">
                <div><span class="goal">目標11</span><span class="title">持続可能な都市</span></div>
                <p>包摂的で安全かつ強靭（レジリエント）で持続可能な都市及び人間居住を実現する</p>
              </dd>
            </dl>
          </div>
          <div class="comment"><p>都市部では人口集中による過密化が進む一方で、地方都市では高齢化や過疎化が加速しているの。特に地方の活力の維持は深刻な課題のひとつ。どこに住んでいても、誰もが必要なサービスを受けられて、災害に強く安全で持続可能なまちづくりが求められているわ。</p></div>
        </div>
        <div class="society2020_torikumi">
          <div class="mb20">
            <div class="mb20">
              <div class="imgBox"><img src="/sustainability/sdgs/images/society2020_ttl1.png" alt="日本郵政グループの取り組み1 次世代モビリティを活用した郵便・物流サービス"></div>
            </div>
            <p>労働人口の減少や地方の過疎化、荷物需要の増加に向き合い、将来も安定的で持続可能な郵便・物流サービスを提供するため、ロボット、ドローン、AI等の活用を進めています。</p>
          </div>
          <div class="sp_col2 flex_sb">
            <div class="imgBox_c mb20"><img src="/sustainability/sdgs/images/society2020_1_01.png" alt="配送ロボット、ドローンによる配送実証実験"></div>
            <div class="imgBox_c mb20"><img src="/sustainability/sdgs/images/society2020_1_02.png" alt="AIによる配達ルート自動生成などを活用した配達業務支援システム"></div>
          </div>
          <div class="List-General">
            <ul>
              <li><a href="/sustainability/library/movie/2020_003.html" class="Link">日本郵政グループSDGs Book関連動画①</a></li>
            </ul>
          </div>
        </div>
        <div class="imgBox_c sp_pt20 sp_pb20"><img src="/sustainability/sdgs/images/society2020_line.png" alt=""></div>
        <div class="society2020_torikumi">
          <div class="mb20">
            <div class="mb20">
              <div class="imgBox"><img src="/sustainability/sdgs/images/society2020_ttl2.png" alt="日本郵政グループの取り組み2 パートナーシップで地域社会のインフラを支える"></div>
            </div>
            <p>JR東日本と連携協力した郵便局と駅の機能連携など、他企業とのパ－トナーシップで地域社会のインフラを支える取り組みを行っています。</p>
          </div>
          <div class="sp_col2 flex_sb imgBox_c pb20"><img src="/sustainability/sdgs/images/society2020_2_01.png" alt="江見駅郵便局（千葉県：JR内房線）"><img src="/sustainability/sdgs/images/society2020_2_02.png" alt="JP金融ラボ（東京都：JR立川駅エキュート立川店）"></div>
          <div class="List-General">
            <ul>
              <li><a href="/sustainability/library/movie/2020_004.html" class="Link">日本郵政グループSDGs Book関連動画②</a></li>
            </ul>
          </div>
        </div>
        <div class="imgBox_c sp_pt20 sp_pb20"><img src="/sustainability/sdgs/images/society2020_line.png" alt=""></div>
        <div class="society2020_torikumi">
          <div class="sp_col2">
            <div class="mb20 pc_mr30">
              <div class="mb20">
                <div class="imgBox"><img src="/sustainability/sdgs/images/society2020_ttl3.png" alt="日本郵政グループの取り組み3 キャッシュレスの推進"></div>
              </div>
              <p>ゆうちょ口座からの引き落としでご利用いただけるスマホ決済アプリ「ゆうちょPay」の提供や、郵便局窓口でのクレジットカード・電子マネー・スマホ決済の取扱いなど、キャッシュレスの推進に取り組んでいます。</p>
            </div>
            <div class="imgBox pb20"><img src="/sustainability/sdgs/images/society2020_3_01.png" alt="ゆうちょ銀行 ゆうちょPay公式キャラクターペイレンジャー"></div>
          </div>
          <div class="List-General">
            <ul>
              <li><a href="https://www.jp-bank.japanpost.jp/kojin/sokin/yuchopay/kj_sk_yp_payranger.html" class="Link Popup"><span>ペイレンジャーのアジト</span></a>-ゆうちょ銀行</li>
            </ul>
          </div>
        </div>
      </section>
  
      <section class="torikumi_col" id="02">
        <div class="theme_wrap">
          <div class="theme">
            <dl>
              <dt>次世代育成</dt>
              <dd class="sdgs4"><div><span class="goal">目標4</span><span class="title">教育</span></div><p>すべての人々に包摂的かつ公正な質の高い教育を確保し、生涯学習の機会を促進する</p></dd>
            </dl>
          </div>
          <div class="comment"><p>今、日本の子どもの7人に1人が相対的貧困状態※にあるといわれているの。教育は人々の生活改善には欠かせないもの。家庭の経済状況に左右されることなく、誰もが質の高い教育を受けられることが大切ね。同時に、持続可能な社会づくりに必要な、体系的な思考力やコミュニケーション力などの育成も必要よ。</p><p class="note mt5 sp_mt10">※出典：「平成28年 国民生活基礎調査」（厚生労働省）</p></div>
        </div>
        <div class="society2020_torikumi">
          <div class="mb20">
            <div class="sp_col2 flex_sb">
              <div class="mb20 pc_mr30">
                <div class="imgBox mb20"><img src="/sustainability/sdgs/images/society2020_ttl4.png" alt="取り組み4　学習機会の提供"></div>
                <p class="mb40">小・中学生を対象にお金の大切さや付き合い方を伝える「金融教育」の実施や、Webサイト上で郵便局の仕事が学べる「ゆうびんきょくキッズサイト」により、子供たちに学習の機会を提供しています。</p>
              </div>
              <div class="mb20">
                <div class="imgBox mb20"><img src="/sustainability/sdgs/images/society2020_4_01.png" alt="金融教育"></div>
                <div class="imgBox"><img src="/sustainability/sdgs/images/society2020_4_02.png" alt="ゆうびんきょくキッズサイト"></div>
              </div>
            </div>
            <div class="Link-General">
              <ul>
                <li><a href="/sustainability/library/movie/back_number/2017_004.html" class="Link">金融教育（CSRムービー）</a></li>
                <li><a href="https://www.post.japanpost.jp/kids/" class="Link Popup"><span>ゆうびんきょくキッズサイト</span></a>-日本郵便</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
  
      <section class="torikumi_col" id="03">
        <div class="theme_wrap">
          <div class="theme">
            <dl>
              <dt>健康的な暮らしの促進</dt>
              <dd class="sdgs3"><div><span class="goal">目標3</span><span class="title">保健</span></div><p>あらゆる年齢のすべての人々の健康的な生活を確保し、福祉を促進する</p></dd>
            </dl>
          </div>
          <div class="comment"><p>高齢化が進むにつれて、医療や介護サービスを必要とする人は急増すると考えられているの。社会保障費の圧迫を改善するため、何より人々がいきいきと生活するため、健康寿命を延ばそうとする動きがあるのよ。</p></div>
        </div>
        <div class="society2020_torikumi">
          <div class="mb20">
            <div class="mb20">
              <div class="imgBox mb20"><img src="/sustainability/sdgs/images/society2020_ttl5.png" alt="取り組み5　社会の健康をサポート"></div>
              <p class="mb20">90年以上続いている「ラジオ体操」の普及推進や、健康応援アプリの提供を通じて、健やかな毎日を願う皆さまの健康づくりをサポートしています。</p>
            </div>
            <div class="sp_col2 flex_sa mb20">
              <div class="imgBox sp_mb20"><img src="/sustainability/sdgs/images/society2020_5_01.png" alt="YouTubeの「ラジオ体操チャンネル【かんぽ生命公式】」にて、楽しいラジオ体操動画を多数配信中！"></div>
              <div class="imgBox"><img src="/sustainability/sdgs/images/society2020_5_02.png" alt="健康応援アプリ「すこやかんぽ」"></div></div>
            <div class="Link-General">
              <ul>
                <li><a href="https://www.youtube.com/c/radiotaisou" class="Link Popup"><span>ラジオ体操チャンネル【かんぽ生命公式】</span></a></li>
                <li><a href="https://www.jp-life.japanpost.jp/health/exercise/health-app/kna_index.html?cid=qr_sdg_book" class="Link Popup"><span>かんぽ生命の健康応援アプリ すこやかんぽ</span></a>-かんぽ生命</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
  
    </div>
    <div class="Section Link-General">
      <ul>
        <li><a href="/sustainability/sustainability_management/sdgs/2019_society.html" class="Link">日本郵政グループ・過去の取り組み紹介2019～社会～</a></li>
      </ul>
    </div>
    <div class="navigationArea_c">
      <div class="nextLink prev"><a href="sdgsbook_goal.html" class="sdgs">日本郵政グループとSDGs</a></div>
      <div class="navi_comment_c"><p>日本郵政グループは<br>環境についても取り組んでいます！<br>
    次のページへGO！</p></div>
      <div class="nextLink next"><a href="environment.html" class="torikumi_environment">取り組み紹介～社会～</a></div>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
if ($(window).width() < 767) {
  var urlHash = location.hash;
  if(urlHash) {
    $('body,html').stop().scrollTop(0);
    setTimeout(function () {
      scrollToAnker(urlHash) ;
    }, 100);
  }
  function scrollToAnker(hash) {
    var target = $(hash);
    var position = target.offset().top - 100;
    $('body,html').stop().animate({scrollTop:position}, 500);
  }
}
})
</script>