<div id="title_box">
  <p class="explanation2 title_priority">CSR重点課題</p>
  <div id="csr_main_img_healthy">
      <h1>健康的な暮らしの促進</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/society/images/title_box_sdgs_03.png" alt="3：すべての人に健康と福祉を">
    <img src="/sustainability/society/images/title_box_sdgs_04.png" alt="4：質の高い教育をみんなに">
    <img src="/sustainability/society/images/title_box_sdgs_09.png" alt="9：産業と技術革新の基盤をつくろう">
    <img src="/sustainability/society/images/title_box_sdgs_11.png" alt="11：住み続けられるまちづくりを">
  </p>

</div>
<!-- /#title_box-->

<div class="Section">
  <p><strong>あらゆる年齢の人々が健康的でいきいきと暮らすために</strong><br>
    高齢化が進むにつれて、医療や介護サービスを必要とする人は急増すると考えられています。社会保障費の圧迫を改善するため、何より人々がいきいきと生活するため、健康寿命の延伸が叫ばれています。</p>
  <!-- end .Section -->
</div>

<h2 class="Header" id="drug_store">トピックス：薬局との連携</h2>
<div class="Section">
  <p>新型コロナウイルス感染症の影響により、医療提供体制が急速に変化する中、日本郵便は各薬局と連携し、処方箋医薬品のご自宅への配送等に取り組んでいます。安全かつ迅速な医薬品流通ネットワークの構築を目指し、地域医療を支えてまいります。</p>
</div>
<div class="Section Table-Border">
  <table>
    <colgroup>
      <col style="width: 25%;">
      <col style="width: 75%;">
    </colgroup>
    <thead>
      <tr>
        <th class="BG-Gray Text-Center" scope="col">提携企業</th>
        <th class="BG-Gray Text-Center" scope="col">取り組み</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>株式会社アインホールディングス</td>
        <td>
          <p>下記の実証実験を実施（実施期間：2021年3月16日～同年5月17日）</p>
          <ul class="List-Disc">
            <li>東京都葛飾区内にお住まいの患者さまに対して、対象の薬局（葛飾区内5店舗）において処方箋で受け付けた医薬品を「ゆうパック」で当日中に配送。</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>株式会社スギ薬局</td>
        <td>
          <p>下記の実証実験を実施（実施期間：2021年4月1日～同年9月30日）</p>
          <ul class="List-Disc">
            <li>店舗で処方箋を受け付けた医薬品を「ゆうパック」「ゆうパケット」でご自宅まで配送。</li>
            <li>残薬管理を支援するため、スギ薬局の専用回収キットを用いて、自宅にある残薬をスギ薬局店舗に配送。</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>株式会社トモズ</td>
        <td>
          <ul class="List-Disc">
            <li>日本郵便の通販サイト「郵便局のネットショップ上」に、ドラッグストア専用ページを開設。</li>
          </ul>
          <ul>
            <li><a href="https://www.shop.post.japanpost.jp/shop/pages/drugstore.aspx" class="Link Popup"><span>ドラッグストア｜郵便局のネットショップ</span></a>-日本郵便</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2 class="Header" id="sukoyakanpo">トピックス：健康応援アプリ「すこやかんぽ」</h2>
<div class="Section Col2 TextImageBlock List-General Image-Right">
  <div class="Grid-Column Image">
  <div class="Image Text-Center"><img alt="" src="/sustainability/society/images/society_31.jpg">
  </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text" style="overflow:visible;">
  <div class="Box">
  <p>超長寿社会の到来に伴い、生命保険事業に求められる役割は、病気・ケガで入院などをされた際に保険金をお支払いするという従来型サービスの提供に加え、病気・ケガの予防または健康の増進・維持に資するサービスの提供が求められる時代へと変化しています。</p>
  <p>かんぽ生命保険としても、こうした役割を担うため、健やかで豊かな人生づくりの支援に積極的に取り組んでおり、そのひとつとして、手軽に健康づくりに取り組める健康応援アプリ「すこやかんぽ」を展開し、どなたでもご利用いただける「スタンダードメニュー」と、保険契約者さまと被保険者さまのほか、そのご家族を対象としてより充実したコンテンツを備えた「プレミアムメニュー」をいずれも無料で提供しています。</p>
  <p>2021年7月から10月にかけて実施した、擬人化された細胞たちの姿を描く人気アニメ「はたらく細胞」とのコラボレーションなど、楽しい企画とも絡めながら、今後も歩くことやラジオ体操等、運動習慣の大切さを伝えてまいります。</p>
  <!-- end .Box --></div>
  <ul>
      <li><a href="https://www.jp-life.japanpost.jp/health/exercise/health-app/kna_index.html" class="Link Popup"><span>かんぽ生命の健康応援アプリ「すこやかんぽ」</span></a>-かんぽ生命</li>
  </ul>
  <!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>
  
<h2 class="Header" id="excercise">トピックス：ラジオ体操の普及促進</h2>
<div class="Section">
  <p>
    ラジオ体操は90年以上の歴史があり、「いつでも、どこでも、だれでも」気軽にできる体操として、多くの方に親しまれています。<br />
    みんなの体操は、「ユニバーサルデザイン」という考え方を取り入れて、年齢・性別・障がいの有無を問わず、幅広い人々を対象として楽しく安心してできる体操として考案されました。<br />
    かんぽ生命保険は、地域の皆さまの健康づくりにお役立ていただけるよう、NHK（日本放送協会）およびNPO法人全国ラジオ体操連盟と共同でラジオ体操・みんなの体操の普及促進に努めています。
  </p>
</div>
<div class="Section Col">
  <div class="Grid-Column">
    <div class="Image Text-Center"><img src="/sustainability/society/images/society_09.jpg" alt="夏期巡回ラジオ体操・みんなの体操会／特別巡回ラジオ体操・みんなの体操会"></div>
  </div>
</div>
<h3 class="Header">夏期巡回ラジオ体操・みんなの体操会／特別巡回ラジオ体操・みんなの体操会</h3>
<div class="Section">
  <p>
    毎年7月20日から8月31日までの43日間、全国の会場で「夏期巡回ラジオ体操・みんなの体操会」を開催しています（「1000万人ラジオ体操・みんなの体操祭」の開催日を含みます）。夏休み期間中にラジオ体操をする風景は、日本の夏の風物詩として浸透しています。<br />
    また、毎年4月から10月末の日曜日や祝日を中心に、「特別巡回ラジオ体操・みんなの体操会」を全国の会場で開催しています。</p>
 <p>2020年度は、新型コロナウイルス感染症の影響で中止となった「2020年度巡回ラジオ体操・みんなの体操会」の開催予定地であった自治体にご協力いただき、「デジタル巡回ラジオ体操会」として、各地域におけるラジオ体操動画を制作しました。かんぽ生命保険のラジオ体操チャンネル（YouTube）にて配信しています。</p>
 <p>なお、医療従事者および感染拡大防止に関する活動の支援として、本施策で配信したYouTube動画の再生回数1回につき10円を日本赤十字社に寄附しました。
  </p>
</div>
<div class="Section List-General">
  <ul>
    <li><a href="https://www.jp-life.japanpost.jp/radio/" class="Link Popup"><span>ラジオ体操・みんなの体操の普及促進</span></a>-かんぽ生命保険</li>
    <li><a href="https://www.youtube.com/c/radiotaisou" class="Link Popup"><span>ラジオ体操チャンネル【かんぽ生命公式】</span></a>-かんぽ生命保険</li>
  </ul>
<!-- end .Section --></div>
<div class="Section Col-Border">
  <div class="Grid-Column BG-Gray">
  <div class="Section List-General">
  <p>ラジオ体操の取り組みは、動画でもご紹介しています。</p>
    <ul>
      <li><a class="Link" href="/sustainability/library/movie/2018_004.html"><span>ラジオ体操による健康づくり支援【サステナブルムービー】</span></a></li>
    </ul>
  <!-- end .Section.List-General --></div>
  <!-- end .Grid-Column.BG-Gray --></div>
  <!-- end .Section.Col-Border --></div>


<h2 class="Header" id="hospital">トピックス：逓信病院の取り組み</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img style="width: 240px;" src="/sustainability/society/images/magazine@2x.png" alt="地域医療情報誌">
    </div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵政が運営している逓信病院（ていしんびょういん）では、地域に根差した病院として、地域の診療所や病院と緊密な連携のうえ、良質な医療の提供を行うとともに地域社会に貢献しています。また、地域の皆さまの健康を維持していくうえで参考になる情報を掲載した「病院だより」の発行や健康増進を図るための各種疾病に関する「公開講座」「健康教室」等を開催しています。</p>
    </div>
  </div>
<!-- end .Section --></div>

<h3 class="Header">東京逓信病院が「World's Best Hospitals 2021」に選出</h3>
<div class="Section">
  <p>
    米国週刊誌「Newsweek」による、世界基準の優良な医療機関を評価したランキング「World's Best Hospitals 2021」の日本版に、東京逓信病院が2019年度、2020年度に引き続き3年連続で選出されました。<br />
    このランキングは世界25か国を対象としており、日本国内では163病院が選出されています。
  </p>
</div>
<div class="Section List-General">
  <ul>
    <li><a href="https://www.hospital.japanpost.jp/" class="Link Popup"><span>逓信病院</span></a>-逓信病院</li>
    <li><a href="https://www.hospital.japanpost.jp/tokyo/about/besthospitals/index.html" class="Link Popup"><span>東京逓信病院がWorld's Best Hospitals 2021に選出されました</span></a></li>
  </ul>
  <!-- end .Section -->
</div>

<h2 class="Header">その他の取り組み</h2>
<div class="Section">
  <p>日本郵政グループは、誰もが安心して暮らせる、持続可能な社会のためにさまざまな取り組みを行っています。</p>
</div>
<div class="Section List-General">
  <ul class="link_others_list">
    <li class="link_others_item"><a href="/sustainability/society/healthy_living/others.html#watch" class="Link"><span>みまもりサービス</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/healthy_living/others.html#ending" class="Link"><span>終活紹介サービス</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/healthy_living/others.html#plutinum" class="Link"><span>かんぽプラチナライフサービス</span></a></li>
    <li class="link_others_item"><a href="/sustainability/society/healthy_living/others.html#bath" class="Link"><span>乳がんの手術をした人などが周りを気にせず入浴できる「入浴着」の無料レンタル（かんぽの宿）</span></a></li>
  </ul>
  <p><a href="/sustainability/society/healthy_living/others.html" class="btn--others-init"><span>その他の取り組み</span></a></p>
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
