<div id="title_box">
  <p class="explanation2 title_priority">CSR重点課題</p>
  <div id="csr_main_img_healthy">
      <h1>健康的な暮らしの促進：その他の取り組み</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/society/images/title_box_sdgs_03.png" alt="3：すべての人に健康と福祉を">
    <img src="/sustainability/society/images/title_box_sdgs_04.png" alt="4：質の高い教育をみんなに">
    <img src="/sustainability/society/images/title_box_sdgs_09.png" alt="9：産業と技術革新の基盤をつくろう">
    <img src="/sustainability/society/images/title_box_sdgs_11.png" alt="11：住み続けられるまちづくりを">
  </p>
</div>
<!-- /#title_box-->

<h2 class="Header" id="watch">みまもりサービス</h2>
<div class="Section Col2 TextImageBlock List-General Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img src="/sustainability/society/images/society_17.jpg" alt="みまもりサービス"></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵便は、地域と郵便局のつながりを大切にし、共に発展することを目的として、2017年10月から全国約2万か所の郵便局で、「郵便局のみまもりサービス」を提供しています。</p>
    </div>
  </div>
  <ul>
      <li><a href="https://www.post.japanpost.jp/life/mimamori/" class="Link Popup"><span>郵便局のみまもりサービス</span></a>-日本郵便</li>
  </ul>
  <!-- end .Section -->
</div>

<h2 class="Header" id="ending">終活紹介サービス</h2>
<div class="Section List-General">
  <div class="Grid-Column Text">
    <p>日本郵便は、お客さま一人ひとりの終活等に関するニーズに応じて事業者を紹介するサービスを提供しています。<br />
      2021年5月時点では、北海道内および東京都内の郵便局をご利用のお客さまに、相続、供養関係、民間介護施設案内、不用品整理、自分史作成、家族写真出張撮影、身元保証等の事業者をご紹介しています。</p>
  </div>
  <ul>
      <li><a href="https://www.post.japanpost.jp/life/inheriting/" class="Link Popup"><span>終活紹介サービス</span></a>-日本郵便</li>
  </ul>
  <!-- end .Section -->
</div>

<h2 class="Header" id="plutinum">かんぽプラチナライフサービス</h2>
<div class="Section List-General">
  <div class="Grid-Column Text">
    <p>かんぽ生命保険は、すべてのお客さまとの接点をご高齢のお客さまの目線で業務改革し、安心感、信頼感のある「ご高齢のお客さまに優しい」サービスをご提供することで、今後ますます進展する超高齢社会において、お客さまに、より一層の信頼をいただけるよう取り組んでいます。<br>「かんぽプラチナライフサービス」では、ご高齢のお客さまニーズに対応した商品・サービスなどあらゆる領域においてサービスの向上を図り、高齢者に優しいビジネスモデルを構築してまいります。</p>
  </div>
  <!-- end .Section -->
</div>
<div class="Section List-General">
  <ul>
      <li><a class="Link Popup" href="https://www.jp-life.japanpost.jp/inf_platinumlife.html"><span>かんぽプラチナライフサービス</span></a> - かんぽ生命保険</li>
  </ul>
  <!-- end .Section -->
</div>

<h2 class="Header" id="bath">乳がん等の手術をした人などが周りを気にせず入浴できる「入浴着」の無料レンタル（かんぽの宿）</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
      <img style="width: 240px;" src="/sustainability/society/images/society_20.png" alt="乳がん等の手術をした人などが周りをを気にせず入浴できる「入浴着」の無料レンタル（かんぽの宿）">
    </div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵政が運営している温泉ホテル「かんぽの宿」では、2021年3月8日より、全国33か所すべての施設において、乳がん等の手術を受けた人にも温泉を楽しんでいただくために、専用の「入浴着」の無料レンタルを開始しました。</p>
      <p>これは、「病気になる前と同じように子ども、家族、友達と一緒に温泉に入りたい」と思う乳がん等の手術を受けたことがある方とご家族の願いに応えたいとの思いで、実施することとしました。今後は、毎月19日を「ピンクの日」として、セルフチェックおよび定期健診を促進する活動を行います。</p>
    </div>
  </div>
  <!-- end .Section --></div>
<div class="Section List-General">
  <ul>
      <li><a href="https://www.kanponoyado.japanpost.jp/special/pinkribbon/index.html" class="Link Popup"><span>乳がん等の手術をした方が周りを気にせず入浴できる「入浴着」（かんぽの宿）</span></a></li>
      <li><a href="https://www.pinkribbonfestival.jp/pink_day/" class="Link Popup"><span>ピンクの日</span></a> -ピンクリボンフェスティバル運営委員会</li>
  </ul>
  <!-- end .Section -->
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
