<div id="title_box">
  <p class="explanation2 title_priority">CSR重点課題</p>
  <div id="csr_main_img_report">
      <h1>温室効果ガス排出量の削減</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/environment/images/title_box_sdgs_12.png" alt="12：つくる責任つかう責任">
    <img src="/sustainability/environment/images/title_box_sdgs_13.png" alt="13：気候変動に具体的な対策を">
    <img src="/sustainability/environment/images/title_box_sdgs_15.png" alt="15：陸の豊かさも守ろう">
  </p>
</div>

<div class="Section">
  <h4><strong>地球温暖化を防止するために</strong></h4>
  <p>地球温暖化は、海面上昇、熱波や干ばつ、豪雨や洪水の増加など、さまざまな影響や被害をもたらし、それらは既に世界各地で現れ始めています。地球温暖化を食い止めるため、地球温暖化の最大の原因とされる温室効果ガスの排出量の削減に、国際社会が協力して取り組んでいくことが求められています。</p>
</div>

<h2 class="Header" id="charge">トピックス：他企業とのパートナーシップによるカーボンニュートラル化の推進</h2>
<div class="Section Col">
  <p>2021年4月に、日本郵政株式会社、日本郵便株式会社および東京電力ホールディングス株式会社は、カーボンニュートラル化の推進に向けた取り組みを協働で進めていく戦略的提携を合意しました。<br />日本郵政グループ、東京電力グループ双方の経営資源やノウハウを活用し、郵便局自身はもちろん、地域のカーボンニュートラル化の後押しに関して、具体的には以下の取組を協働で推進します。</p>

  <ol class="mb20">
    <li class="ind1em">①集配用車両のEV導入に合わせて設置する充電設備の一部を地域の企業・お客さまにも提供し、EV充電インフラの整備に貢献</li>
    <li class="ind1em">②郵便局への太陽光発電導入や再生可能エネルギーへの切り替えを効率的に進める</li>
    <li class="ind1em">③自治体と連携し、EVを動く蓄電池として活用することで、災害時におけるレジリエンス強化に寄与　など</li>
  </ol>

  <p>2021年11月10日（水）から小山郵便局（栃木県）、11月18日（木）から沼津郵便局（静岡県）で実証実験を開始し、その結果を踏まえて今後のさらなる展開を検討してまいります。</p>
  
  <div class="Grid-Column">
    <div class="Image Text-Center">
      <figure><img src="/sustainability/environment/images/env_12.png" alt="郵便局に設置する充電設備等を活用した地域のカーボンニュートラル化の推進" style="max-width: 100%;"></figure>
    </div>
  </div>
</div>

<h2 class="Header" id="ev">トピックス：EV車両の導入・拡大</h2>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="集配用のEV四輪車" src="/sustainability/environment/images/logi_img_01.jpg">
</div>
<div class="Image Text-Center">
<img alt="集配用のEV二輪車" src="/sustainability/environment/images/logi_img_02.jpg">
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵便は、全国の郵便局で郵便物や荷物の配送にはEV四輪車・EV二輪車、郵便局間の輸送にはハイブリッド車および天然ガス車（CNG、LPG）を活用し、CO₂の排出を抑えています。</p>
<p>また、比較的小さな荷物の配達には四輪車よりCO₂排出量の少ない二輪車を活用しているほか、都市部を中心に電動アシスト付自転車を約2,000台配備し、環境負荷の少ない配達に努めています。</p>
<p>2020年度までに東京都を中心とした近距離エリアにおいて、郵便物や荷物の配送時に使用する軽四輪自動車1,500台および郵便配達で使用する自動二輪車等2,200台をガソリン車からEV車両へ切り替え済みですが、今後は2025年度までに軽四輪車約12,000台、自動二輪車等約21,000台をEV車両へ切り替えることにより、さらなる環境負荷の低減を目指します。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h3 class="Header">EV車両導入・拡大への取り組み</h3>
<div class="Section Grid-Table">
  <div class="Table-Wrapper">
    <table class="env_ev_tbl">
      <tr>
        <th>2008年度</th>
        <td>EV四輪車の実証実験を開始</td>
      </tr>
      <tr>
        <th>2013年度</th>
        <td>EV四輪車10台を試行的に導入</td>
      </tr>
      <tr>
        <th>2014年度</th>
        <td>EV四輪車62台切り替え</td>
      </tr>
      <tr>
        <th>2017年度</th>
        <td>本田技研工業株式会社と、環境に配慮したEV二輪車を用いた配達業務の実証実験などについての協業を開始</td>
      </tr>
      <tr>
        <th>2019年度</th>
        <td>EV四輪車400台およびEV二輪車200台をガソリン車から切り替え</td>
      </tr>
      <tr>
        <th>2020年度</th>
        <td>EV四輪車1,100台およびEV二輪車2,038台をガソリン車から切り替え</td>
      </tr>
      <tr>
        <th>～2025年度</th>
        <td>EV四輪車約12,000台およびEV二輪車約21,000台をガソリン車から切り替え予定</td>
      </tr>
    </table>
  </div>
</div>

<h2 class="Header" id="real_estate">トピックス：環境に配慮した不動産事業</h2>
<div class="Section List-General">
  <p>日本郵政グループは、最新の環境配慮技術を取り入れながら、全国各地で不動産事業を行っています。2012年のＪＰタワー（東京）の竣工に続いて、2016年4月までに札幌、大宮、名古屋、博多でオフィスビル・商業施設が竣工しました。</p>
  <p>不動産事業では、省エネルギー機器の導入や、光・風・水など自然エネルギーの利用によって建物自体の環境性能を高めるだけでなく、屋上や壁面の緑化などを通じて周辺の豊かな環境づくりも大切にしています。そして、地球環境の保全とともに、不動産開発にあたっては地震や水害などの災害対策や事業継続計画（BCP）といった社会課題に対応する施策を高いレベルで追求しています。</p>

  <ul>
    <li><a href="https://www.post.japanpost.jp/about/csr/nature.html#building" class="Link Popup"><span>環境に配慮したオフィスビル・商業施設の建設</span></a> -日本郵便</li>
  </ul>
</div>

<h2 class="Header" id="forest">トピックス：JP子どもの森づくり運動</h2>
<div class="Section List-General">
  <p>日本郵政グループは、2008年から、NPO法人子どもの森づくり推進ネットワークが取り組む森づくり体験プログラムに賛同し、「JP子どもの森づくり運動」の名称のもと、全国の幼稚園・保育園・こども園の園児の森づくり体験活動を支援しています。</p>

  <ul>
    <li><a class="Link" href="/sustainability/environment/kodomono_mori/"><span>JP子どもの森づくり運動</span></a></li>
    <li><a class="Link" href="/sustainability/library/movie/back_number/2017_001.html"><span>「JP子どもの森づくり運動」の取り組み【サステナブルムービー】</span></a></li>
</ul>
</div>

<h2 class="Header">その他の取り組み</h2>
<div class="Section">
  <p>日本郵政グループは、誰もが安心して暮らせる、持続可能な社会のためにさまざまな取り組みを行っています。</p>
</div>
<div class="Section List-General">
  <ul class="link_others_list">
    <li class="link_others_item"><a href="/sustainability/environment/greenhouse_gas/others.html#modalshift" class="Link"><span>モーダルシフトの推進</span></a></li>
    <li class="link_others_item"><a href="/sustainability/environment/greenhouse_gas/others.html#mixdeliver" class="Link"><span>貨客混載</span></a></li>
    <li class="link_others_item"><a href="/sustainability/environment/greenhouse_gas/others.html#superful" class="Link"><span>スーパーフルトレーラを活用した共同幹線輸送</span></a></li>
    <li class="link_others_item"><a href="/sustainability/environment/greenhouse_gas/others.html#redeliver" class="Link"><span>再配達削減の取り組み</span></a></li>
    <li class="link_others_item"><a href="/sustainability/environment/greenhouse_gas/others.html#safedriving" class="Link"><span>環境と安全に配慮した運転</span></a></li>
    <li class="link_others_item"><a href="/sustainability/environment/greenhouse_gas/others.html#solar" class="Link"><span>太陽光発電による売電事業の実施</span></a></li>
    <li class="link_others_item"><a href="/sustainability/environment/greenhouse_gas/others.html#server" class="Link"><span>サーバ集約による消費電力（CO₂排出量）の削減</span></a></li>
    <li class="link_others_item"><a href="/sustainability/environment/greenhouse_gas/others.html#ev" class="Link"><span>かんぽの宿でのEV充電器の設置</span></a></li>
    <li class="link_others_item"><a href="/sustainability/environment/greenhouse_gas/others.html#village" class="Link"><span>JP里山コミュニケーション</span></a></li>
  </ul>
  <p><a href="/sustainability/environment/greenhouse_gas/others.html" class="btn--others-init"><span>その他の取り組み</span></a></p>
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
