<div id="title_box">
  <p class="explanation2 title_priority">CSR重点課題</p>
  <div id="csr_main_img_ghg">
      <h1>温室効果ガス排出量の削減：その他の取り組み</h1>
  </div>
  <p class="explanation2 title_box_sdgs">
    <img src="/sustainability/environment/images/title_box_sdgs_12.png" alt="12：つくる責任つかう責任">
    <img src="/sustainability/environment/images/title_box_sdgs_13.png" alt="13：気候変動に具体的な対策を">
    <img src="/sustainability/environment/images/title_box_sdgs_15.png" alt="15：陸の豊かさも守ろう">
  </p>
</div>

<h2 id=modalshift class="Header"><span>モーダルシフトの推進</span></h2>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="31フィートコンテナ車両" src="/sustainability/environment/images/index02_img_02.jpg" style="width: 300px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵便は、長距離輸送におけるトラックドライバー不足を見据え、トラックによる郵便物などの輸送を、地球に優しく大量輸送が可能な鉄道または海運に転換するモーダルシフトに取り組んでいます。<br>2017年度のモーダルシフト積載量は、鉄道で204.9千t、海運で24.9千tです。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 id=mixdeliver class="Header"><span>貨客混載</span></h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center">
    <img alt="貨客混載" src="/sustainability/environment/images/env_03.jpg" style="max-width: 271px" />
    </div>
  <!-- end .Grid-Column.Image --></div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>路線バスや鉄道会社等と連携し、バスや鉄道車両で郵便物などの輸送を行う「貨客混載」の取り組みを進めることで、CO₂排出量の削減につなげています。</p>
      <p>宮崎県西都市と児湯郡西米良村の間では、宮崎交通の路線バスによりヤマト運輸株式会社と日本郵便の荷物を貨客混載で共同輸送しています。また西米良村では、村営バスにより上記2社に佐川急便株式会社を加えた3社の荷物や、郵便ポストから収集した郵便物の貨客混載輸送を行っています。</p>
    </div>
  </div>
</div>

<div class="Section Table-Border">
<div class="Table-Wrapper">
  <table>
    <colgr>
      <col>
      <col>
      <col>
    </colgr>
    <thead>
      <tr>
        <th class="BG-Gray Text-Center">都道府県</th>
        <th class="BG-Gray Text-Center">事業者等</th>
        <th class="BG-Gray Text-Center">実施区間等</th>        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class=" Text-Center">秋田県</td>
        <td>羽後交通株式会社（路線バス）</td>
        <td>象潟郵便局～本荘郵便局間</td>
      </tr>
      <tr>
        <td class=" Text-Center Text-Middle" rowspan="2">宮崎県</td>
        <td>宮崎交通株式会社（路線バス）</td>
        <td>村所郵便局～西都郵便局間</td>
      </tr>
      <tr>
        <td>西米良村（コミュニティバス）</td>
        <td>村所郵便局～小川地区配達員間</td>
      </tr>
      <tr>
        <td class=" Text-Center">兵庫県</td>
        <td>株式会社ウエスト神姫（路線バス）</td>
        <td>播磨山崎郵便局～千種郵便局間</td>
      </tr>
      <tr>
        <td class=" Text-Center">岐阜県</td>
        <td>明知鉄道株式会社（鉄道）</td>
        <td>恵那郵便局～明智郵便局間</td>
      </tr>
      <tr>
        <td class=" Text-Center">北海道</td>
        <td>士別軌道株式会社（路線バス）</td>
        <td>士別郵便局～朝日郵便局間</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- end .Section --></div>

<h2 id=superful class="Header"><span>スーパーフルトレーラを活用した共同幹線輸送</span></h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Image Text-Center"><img alt="スーパーフルトレーラ" src="/sustainability/environment/images/index02_img_04.jpg" style="width: 350px;"></div>
    <div class="Image Text-Center"><img style="max-width: 350px;" src="/sustainability/environment/images/superful.jpg" alt=""></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>一般社団法人全国物流ネットワーク協会と西濃運輸株式会社、日本通運株式会社、ヤマト運輸株式会社、日本郵便の4社は、全長25メートルの連結トラック「スーパーフルトレーラ25」（SF25）による共同輸送を行っています。</p>
      <p>全長25メートルの連結トラックは、車両の最長制限が21メートルから25メートルに緩和されたことにより、運行が可能になりました。<br>この取り組みでは、異なる事業者のトレーラを連結し、事業者の枠を超えた共同輸送を行っており、日本郵便が運行するSF25は、2019年4月から、関東―関西間で平日毎日往復1便を運行しています。1台で従来のトラック2台分の荷物を運ぶことができるため、運行する車両台数が削減され、CO₂排出量の削減につながります。</p>
      <p>2019年12月、この取り組みが持続可能な物流体系の構築に功績があったとして、第18回グリーン物流パートナーシップ会議<sup>※</sup>優良事業者表彰特別賞を受賞しました。</p>
      <p>※グリーン物流パートナーシップ会議<br>
        物流分野におけるCO₂排出削減に向け、荷主企業と物流事業者が連携した取り組みを拡大するため、2005年4月に経済産業省、国土交通省および産業界が主催となり設立した会議体。<br>本会議では、持続可能な物流体系の構築に特に顕著な功績があった優良な取り組みに対して、経済産業省、国土交通省それぞれから表彰されます。</p>
    </div>
  </div>
<!-- end .Section --></div>

<h2 id=redeliver class="Header"><span>再配達削減の取り組み</span></h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <div class="Text-Center"><img src="/sustainability/environment/images/env_04.jpg" alt="再配達削減の取り組み" style="width: 305px;"></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵便は、お客さまが「身近で差し出し、身近で受け取り」ができるよう、ゆうパックのサービス改善を進めており、より便利にゆうパックをご利用いただけるようにすることで、再配達を減らし、CO₂排出量の削減に努めています。</p>
    </div>
  </div>
</div>
<div class="Section Table-Border">
  <div class="Table-Wrapper">
    <table>
      <colgroup>
        <col style="width: 25%;">
        <col style="width: 75%;">
      </colgroup>
      <thead>
        <tr>
          <th class="BG-Gray Text-Center" scope="col"></th>
          <th class="BG-Gray Text-Center" scope="col">サービス概要</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>e受取アシスト</td>
          <td><p>メールやLINEで「お届け予定日時」やご不在連絡をお知らせする「ｅお届け通知」と、お知らせからご都合に合わせたお受け取り方法を選択できる「ｅ受取チョイス」により、お客さまの荷物のお受け取りをアシストするサービスです。</p>
            <a href="https://www.post.japanpost.jp/service/e_assist/index.html" class="Link Popup"><span>e受取アシスト</span></a>
          </td>
        </tr>
        <tr>
          <td>置き配</td>
          <td><p>あらかじめご指定いただいた場所（玄関前、置き配バッグ、宅配ボックス、車庫、物置など）に非対面で荷物などをお届けするサービスです。</p>
            <a href="https://www.post.japanpost.jp/service/okihai/" class="Link Popup"><span>置き配</span></a>
          </td>
        </tr>
        <tr>
          <td>はこぽす</td>
          <td><p>荷物や郵便物を、郵便局などに設置されたロッカーで受け取りまたは差し出すことができるサービスです。</p>
            <a href="https://www.post.japanpost.jp/service/hakopost/" class="Link Popup"><span>はこぽす</span></a>
          </td>
        </tr>
        <tr>
          <td>コンビニ・郵便局窓口受取</td>
          <td><p>ライフスタイルに合わせて、全国のコンビニエンスストアや郵便局で荷物のお受け取りができます。</p>
            <a href="https://www.post.japanpost.jp/service/uketori/index.html" class="Link Popup">コンビニ・郵便局窓口受取サービス<span></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<!-- end .Section.Table-Border --></div>

<h2 id=safedriving class="Header"><span>環境と安全に配慮した運転</span></h2>
<div class="Section">
<p>日本郵政グループは、環境に配慮した穏やかな運転を実施し、交通事故を防止するとともに、車両燃料使用量の減少により、CO₂排出量の削減を図っています。</p>
<p>日本郵便は、エンジンブレーキの活用、乗車前に行う車両の点検（タイヤの空気圧チェックによる燃費悪化防止）、アイドリングストップなど環境と安全に配慮した運転を「エコ安全ドライブ」と称し、推進しています。</p>
<!-- end .Section --></div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.post.japanpost.jp/about/csr/nature.html#reduction" class="Link Popup"><span>温室効果ガス排出量の削減</span></a>-日本郵便</li>
  </ul>
<!-- end .Section --></div>

<h2 id="solar" class="Header">太陽光発電による売電事業の実施</h2>
<div class="Section">
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵便は、再生可能エネルギー導入の推進およびCO₂排出量の削減による地球環境の保全に取り組むため、2014年から太陽光発電による売電事業を実施しており、2021年3月現在、全国35か所の郵便局の屋上に太陽光発電システムを設置し、発電により得られた電力を電力会社に販売しています。</p>
    </div>
  </div>
<ul>
<li><a href="https://www.post.japanpost.jp/about/csr/nature.html#solar" class="Link Popup"><span>太陽光発電による売電事業の実施</span></a>-日本郵便</li>
</ul>
</div>

<h2 id="server" class="Header">サーバ集約による消費電力（CO₂排出量）の削減</h2>
<div class="Section List-General">
<p>日本郵政グループは、これまで拠点ごとに設置していた業務システム用サーバを2020年1月から2021年3月にかけてクラウドに集約します。<br>これにより、サーバの稼働で使用する電気量は、集約前と比較して年間90,000GJの削減、CO₂排出量に換算すると年間約3,000tの削減（90%削減）となる見込みです。</p>
</div>

<h2 id="ev" class="Header break">かんぽの宿でのEV充電器の設置</h2>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="" src="/sustainability/environment/images/index_img_03.jpg" style="width: 300px">
<p class="Caption">かんぽの宿に設置されたEV充電器</p>
</div>
</div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵政が運営するかんぽの宿では、全国26宿にEV車両、プラグインハイブリッド車（PHEV）に対応した充電器を設置しています。<br>
  ご宿泊・ご入浴等でお越しの際、ご滞在中にしっかり充電できるので、電気自動車（EV）でのご旅行も安心です。</p>
<div class="Section List-General">
<ul>
<li><a href="https://www.kanponoyado.japanpost.jp/ev/index.html" class="Link Popup"><span>電気自動車（EV）充電器設置のご案内</span></a>-かんぽの宿</li>
</ul>
</div>
</div>
</div>
</div>

<h2 id="village" class="Header">JP里山コミュニケーション</h2>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
  <div class="Image Text-Center">
  <img alt="" src="/sustainability/environment/images/env_06.jpg" style="width: 301px">
  </div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>日本郵政グループは、2018年から「JP里山コミュニケーション」と称して、東京都八王子市内の長期未整備緑地において、整備活動を行っています。</p>
    </div>
  </div>
</div>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/environment/satoyama/"><span>JP里山コミュニケーション</span></a></li>
</ul>
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
