<div id="title_box3">
  <div id="csr_main_img_kids2_sub">
    <h1>「JP子どもの森づくり運動」参加園（北陸・東海・近畿）</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政グループが特別協賛している「JP子どもの森づくり運動」に参加している北陸・東海・近畿エリアの幼稚園・保育園をご紹介します。</p>
<!-- end .Section --></div>

<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index04_img_01.jpg" width="240" height="160" />
<p class="Caption">富山県　やまむろ保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index04_img_02.jpg" width="240" height="160" />
<p class="Caption">石川県　平和こども園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index04_img_03.jpg" width="240" height="160" />
<p class="Caption">石川県　とりやのの保育園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>

<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index04_img_04.jpg" width="240" height="160" />
<p class="Caption">福井県　大野幼稚園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index04_img_05.jpg" width="240" height="160" />
<p class="Caption">岐阜県　浄心子どもの城</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index04_img_06.jpg" width="240" height="160" />
<p class="Caption">静岡県　エンゼル保育園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>

<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index04_img_07.jpg" width="240" height="160" />
<p class="Caption">愛知県　柏井保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index04_img_08.jpg" width="240" height="160" />
<p class="Caption">三重県　ほうりん認定こども園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index04_img_09.jpg" width="240" height="160" />
<p class="Caption">滋賀県　崇徳保育園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>

<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index04_img_10.jpg" width="240" height="160" />
<p class="Caption">滋賀県　浜大津保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index04_img_11.jpg" width="240" height="160" />
<p class="Caption">京都府　ときわ幼稚園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index04_img_12.jpg" width="240" height="160" />
<p class="Caption">大阪府　木の実キッズキャンパス</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>


<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index04_img_13.jpg" width="240" height="160" />
<p class="Caption">兵庫県　同朋にこにこ園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index04_img_14.jpg" width="240" height="160" />
<p class="Caption">奈良県　やまと幼稚園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index04_img_15.jpg" width="240" height="160" />
<p class="Caption">和歌山県　あわ保育園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>

<div class="Section">
<p>[2017年7月現在]</p>
<!-- end .Section --></div>
<div class="Pagetoplink"><a href="#Page-Top">このページの先頭へ戻る</a></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/">CSR</a></li>
<li><a class="Link" href="/csr/kids/">JP子どもの森づくり運動</a></li>
<li><a class="Link" href="/csr/kids/activity/">「JP子どもの森づくり運動」の取り組み</a></li>
</ul>
<!-- end .Section.List-General --></div>