<div id="title_box3">
  <div id="csr_main_img_kids2_sub">
    <h1>「JP子どもの森づくり運動」参加園（中国・四国）</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政グループが特別協賛している「JP子どもの森づくり運動」に参加している中国・四国エリアの幼稚園・保育園をご紹介します。</p>
<!-- end .Section --></div>

<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index05_img_01.jpg" width="240" height="160" />
<p class="Caption">鳥取県　赤碕保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index05_img_02.jpg" width="240" height="160" />
<p class="Caption">島根県　ちどり保育所</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index05_img_03.jpg" width="240" height="160" />
<p class="Caption">岡山県　操南保育園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>

<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index05_img_04.jpg" width="240" height="160" />
<p class="Caption">広島県　保育所みのり愛児園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index05_img_05.jpg" width="240" height="160" />
<p class="Caption">山口県　清和保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index05_img_06.jpg" width="240" height="160" />
<p class="Caption">徳島県　南佐古保育園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>

<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index05_img_07.jpg" width="240" height="160" />
<p class="Caption">香川県　観音寺中部保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index05_img_08.jpg" width="240" height="160" />
<p class="Caption">愛媛県　小富士保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index05_img_09.jpg" width="240" height="160" />
<p class="Caption">高知県　あおい保育園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>

<div class="Section">
<p>[2017年6月現在]</p>
<!-- end .Section --></div>
<div class="Pagetoplink"><a href="#Page-Top">このページの先頭へ戻る</a></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/">CSR</a></li>
    <li><a class="Link" href="/csr/kids/">JP子どもの森づくり運動</a></li>
    <li><a class="Link" href="/csr/kids/activity/">「JP子どもの森づくり運動」の取り組み</a></li>
  </ul>
<!-- end .Section.List-General --></div>