<div id="title_box3">
  <div id="csr_main_img_kids2_sub">
    <h1>「JP子どもの森づくり運動」参加園（関東・甲信越）</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政グループが特別協賛している「JP子どもの森づくり運動」に参加している関東・甲信越エリアの幼稚園・保育園をご紹介します。</p>
<!-- end .Section --></div>

<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index03_img_01.jpg" width="240" height="160" />
<p class="Caption">茨城県　聖徳保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index03_img_02.jpg" width="240" height="160" />
<p class="Caption">栃木県　高根沢第二保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index03_img_03.jpg" width="240" height="160" />
<p class="Caption">群馬県　木の実保育園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>

<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index03_img_04.jpg" width="240" height="160" />
<p class="Caption">埼玉県　児玉保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index03_img_05.jpg" width="240" height="160" />
<p class="Caption">千葉県　今井保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index03_img_06.jpg" width="240" height="160" />
<p class="Caption">東京都　清心幼稚園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>

<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index03_img_07.jpg" width="240" height="160" />
<p class="Caption">東京都　中目黒駅前保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index03_img_08.jpg" width="240" height="160" />
<p class="Caption">東京都　東京ゆりかご幼稚園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index03_img_09.jpg" width="240" height="160" />
<p class="Caption">東京都　春明保育園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>

<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index03_img_10.jpg" width="240" height="160" />
<p class="Caption">神奈川県　みんなのとっぽ保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index03_img_11.jpg" width="240" height="160" />
<p class="Caption">新潟県　竹野町保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index03_img_12.jpg" width="240" height="160" />
<p class="Caption">山梨県　甲府みなみ幼稚園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>

<div class="Section">
<p>[2017年6月現在]</p>
<!-- end .Section --></div>
<div class="Pagetoplink"><a href="#Page-Top">このページの先頭へ戻る</a></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/">CSR</a></li>
    <li><a class="Link" href="/csr/kids/">JP子どもの森づくり運動</a></li>
    <li><a class="Link" href="/csr/kids/activity/">「JP子どもの森づくり運動」の取り組み</a></li>
  </ul>
<!-- end .Section.List-General --></div>