<div id="title_box3">
  <div id="csr_main_img_kids2_sub">
    <h1>「JP子どもの森づくり運動」参加園（北海道・東北）</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政グループが特別協賛している「JP子どもの森づくり運動」に参加している北海道・東北エリアの幼稚園・保育園をご紹介します。</p>
<!-- end .Section --></div>

<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index02_img_01.jpg" width="240" height="160" />
<p class="Caption">北海道　三和新琴似保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index02_img_02.jpg" width="240" height="160" />
<p class="Caption">青森県　八ッ橋保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index02_img_03.jpg" width="240" height="160" />
<p class="Caption">岩手県　駒形こどもの杜</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>

<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index02_img_04.jpg" width="240" height="160" />
<p class="Caption">宮城県　バンビの森保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index02_img_05.jpg" width="240" height="160" />
<p class="Caption">秋田県　湯沢保育園</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index02_img_06.jpg" width="240" height="160" />
<p class="Caption">山形県　三瀬保育園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>

<div class="Section Col3">
<div class="Grid-Column">
<div class="Image"><img alt="" src="/sustainability/kids/activity/images/index02_img_07.jpg" width="240" height="160" />
<p class="Caption">福島県　田島保育園</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col3 --></div>

<div class="Section">
<p>[2017年6月現在]</p>
<!-- end .Section --></div>
<div class="Pagetoplink"><a href="#Page-Top">このページの先頭へ戻る</a></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/">CSR</a></li>
    <li><a class="Link" href="/csr/kids/">JP子どもの森づくり運動</a></li>
    <li><a class="Link" href="/csr/kids/activity/">「JP子どもの森づくり運動」の取り組み</a></li>
  </ul>
<!-- end .Section.List-General --></div>