<div id="title_box">
  <div id="csr_main_img_kids2">
    <h1>「JP子どもの森づくり運動」の参加園</h1>
  </div>
  <p class="explanation2">日本郵政グループが特別協賛している「JP子どもの森づくり運動」に参加している全国の幼稚園・保育園をご紹介します。</p>
</div>
<!-- /#title_box-->

<div class="Section">
<p>「JP子どもの森づくり運動」は2008年に始まり、1年目の秋には全国15都道府県の参加園で種拾い・園庭のプランターへの種植え活動が行われました。沖縄県については、気候・地域特性を勘案して、2009年の夏に、マングローブ（ヤエヤマヒルギなど）の種植え活動が実施されました。また、2009年秋には新規で29都県の参加園が活動を実施するなど、取り組みは全国に広がりました。2010年7月には、全国47都道府県の参加園ネットワークが完成し、参加園は順次増えています。</p>
<p>2008年に開始した参加園では、活動3年目となる2010年から植樹活動が開始され、毎年順次、全国各地で植樹活動が行われています。</p>
<!-- end .Section --></div>

<h2 class="Header"><span>「JP子どもの森づくり運動」参加園</span></h2>
<div class="Section">
<p>「JP子どもの森づくり運動」に参加している全国各地の幼稚園・保育園をご紹介します（2017年6月現在）。</p>
<!-- end .Section --></div>

<div id="csr-map-area">
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center forest-child ">
<img alt="「JP子どもの森づくり運動」活動実施場所" src="/sustainability/kids/activity/images/forest-child.png" />
<!-- end .Image.Text-Center --></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>
<div class="Section List-Horizontal">
<ul>
<li><span style="color: #53ac34;">■</span>緑：2008年度開始</li>
<li><span style="color: #b5ff86;">■</span>薄緑：2009年度開始</li>
<li><span style="color: #ff0;">■</span>黄色：2010年度開始</li>
</ul>
<p class="Text-Small">※参考：沖縄県は実施園の交替があり、2010年度の参加開始としています。</p>
<!-- .Section.List-Horizontal --></div>

<div id="map-btn-area">
<ul>
	<li><a href="/csr/kids/activity/index02.html">北海道・東北エリアの<br class="s-none">幼稚園・保育園</a></li>
	<li><a href="/csr/kids/activity/index03.html">関東・甲信越エリアの<br class="s-none">幼稚園・保育園</a></li>
	<li><a href="/csr/kids/activity/index04.html">北陸・東海・近畿エリアの<br class="s-none">幼稚園・保育園</a></li>
	<li><a href="/csr/kids/activity/index05.html">中国・四国エリアの<br class="s-none">幼稚園・保育園</a></li>
	<li><a href="/csr/kids/activity/index06.html">九州・沖縄エリアの<br class="s-none">幼稚園・保育園</a></li>
</ul>
</div>
<!-- end .csr-map-area --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/kids/"><span>JP子どもの森づくり運動</span></a></li>
    <li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
  </ul>
<!-- end .Section --></div>
