<div id="title_box">
  <div id="csr_main_img_case">
    <h1>グループCSRの取り組み概要</h1>
  </div>
  <p class="explanation2">日本郵政グループが取り組んでいる社会貢献および環境に関する取り組みをご紹介します。</p>
</div>
<!-- /#title_box-->

<h2 id="2010_01" class="Header"><span>社会・環境レポート</span></h2>
<h3 class="Header"><span>2016年度（平成28年度）</span></h3>
<div class="Section List-General">
<dl>
<dt>2016年度版の一括ダウンロード</dt>
<dd>
<p><a href="/sustainability/case/2016/pdf/all.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループ　社会・環境レポート2016</span></a>［PDF：17,649kバイト］</p>
</dd>
</dl>
<dl>
<dt>2016年度版の分割ダウンロード、2015年度（平成27年度）以前の社会・環境レポート</dt>
<dd>
<p><a href="/csr/case/report/" class="Link"><span>日本郵政グループ　社会・環境レポート</span></a></p>
</dd>
</dl>
<!-- end .Section.List-General --></div>

<h2 class="Header"><span>日本郵政グループ CSRムービー</span></h2>

<h3 class="Header"><span>2017年度（平成29年度）</span></h3>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/case/movie/2017_001.html"><span>「JP子どもの森づくり運動」の取り組み</span></a></li>
</ul>
<!-- end .Section.List-General --></div>

<h3 class="Header"><span>2016年度（平成28年度）</span></h3>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/case/movie/2016_002.html"><span>インクカートリッジ里帰りプロジェクト</span></a></li>
</ul>
<!-- end .Section.List-General --></div>

<h3 class="Header"><span>2015年度（平成27年度）</span></h3>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/case/movie/2016_001.html"><span>エコプロダクツ2015への出展</span></a></li>
</ul>
<ul>
<li><a class="Link" href="/csr/case/movie/2015_001.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」山田町植樹会（2015年5月22日）</span></a></li>
</ul>
<!-- end .Section.List-General --></div>
<h2 class="Header"><span>日本郵政グループディスクロージャー誌（CSR関係部分抜粋）</span></h2>
<div class="Section List-General">
<ul>
<li><a href="/sustainability/case/pdf/case_csr2013.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループのCSR 2013</span></a>［PDF：1,163kバイト］</li>
<li><a href="/sustainability/case/pdf/case_csr2012.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループのCSR 2012</span></a>［PDF：1,214kバイト］</li>
<li><a href="/sustainability/case/pdf/case_csr2011.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループのCSR 2011</span></a>［PDF：794kバイト］</li>
<li><a href="/sustainability/case/pdf/case_csr2010.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループのCSR 2010</span></a>［PDF：842kバイト］</li>
<li><a href="/sustainability/case/pdf/case_csr2009.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループのCSR 2009</span></a>［PDF：2,062kバイト］</li>
<li><a href="/sustainability/case/pdf/case_csr2008.pdf" title="PDFファイルを表示します" class="Link PDF"><span>日本郵政グループのCSR 2008</span></a>［PDF：952kバイト］</li>
</ul>
<!-- end .Section.List-General --></div>
<h2 class="Header"><span>旧日本郵政公社　環境報告書</span></h2>
<div class="Section List-General">
<p>日本郵政グループの前身、旧日本郵政公社の環境報告書をご覧いただけます。</p>
<ul>
<li><a class="Link" href="/group/past/csr_report/"><span>旧日本郵政公社　環境報告書</span></a></li>
</ul>
<!-- end .Section.List-General --></div>
<div class="Section Link-Plugin">
<p class="Banner"><a href="http://get.adobe.com/jp/reader/" title="別ウィンドウで表示します" target="_blank"><img src="/cmn/images/plugin_acrobat.gif" alt="Adobe Readerのダウンロード" height="33" width="112" /></a></p>
<p class="Caution">※ 注意：このサービスをご利用になるにはAdobe Reader（無料）が必要です。お持ちでない方は左のボタンをクリックしてダウンロードしてください。</p>
<!-- end .Section.Link-Plugin --></div>