<div id="data_index">
  <div id="title_box">
      <div id="csr_main_img_report">
          <h1>ESGデータ集（ガバナンス）</h1>
      </div>
  </div>
  <!-- /#title_box-->

  <div class="Section">
      <p class="Category Lead">日本郵政グループのESG関連の実績データをまとめています。</p>

      <div class="mod-tab pure-g mb50">
        <a href="/sustainability/library/data/" class="mod-tab-item-sus bottom-u-layer pure-u-md-1-2 pure-u-1-3">環境</a>
        <a href="/sustainability/library/data/social/" class="mod-tab-item-sus bottom-u-layer bottom-md-layer pure-u-md-1-2 pure-u-1-3">社会</a>
        <span class="mod-tab-item-sus bottom-u-layer pure-u-md-1-2 pure-u-1-3 is-active">ガバナンス</span>
      </div>
      
      <div class="List-Horizontal">
          <ul>
              <li><a class="Link Inner" href="#organization">構成（機関・役員）に関するデータ</a></li>
              <li><a class="Link Inner" href="#compensation">報酬に関するデータ</a></li>
          </ul>
          <!-- end .Section.List-Horizontal -->
      </div>
      <!-- end .Section -->
  </div>

  <h2 id="governance" class="Header">ガバナンスに関するデータ</h2>

  <h3 id="organization" class="Header">構成（機関・役員）に関するデータ</h3>

  <div class="Section">
    <p class="cap"><span class="title"><strong>1.機関設計</strong></span></p>
    <p>日本郵政株式会社は、以下の観点から「指名委員会等設置会社」を選択しております。</p>

    <ol class="List">
      <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">1.</span><div class="MkrItem__Body">経営の基本方針の策定等の特に重要な意思決定及び監督とその決定に基づく業務執行とを分離し、経営の機動性を高めるとともに、取締役会によるグループの経営監督体制を構築する。</div></li>
      <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">2.</span><div class="MkrItem__Body">独立役員を中心とした取締役会並びに指名委員会、報酬委員会及び監査委員会の３委員会の機能発揮により、社外の視点を経営に十分に活用するとともに、経営の意思決定の透明性及び公正性を確保する。</div></li>
      <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">3.</span><div class="MkrItem__Body">すべてのステークホルダーのみなさまに対して、適切に説明責任を果たし得るコーポレートガバナンス体制を実現する。</div></li>
    </ol>
  </div>

  <div class="Section Table-Border">
    <p class="cap"><span class="title"><strong>2.役員構成（日本郵政株式会社）</strong></span></p>
    <p class="cap"><span class="title"><strong>取締役会・各委員会の開催・出席状況</strong></span><span class="unit">各年度3月末時点</span></p>

      <div class="Table-Wrapper">
        <table class="data">
            <!-- <colgroup>
                <col width="13%">
                <col width="2%">
                <col width="17%">
                <col width="8%">
            </colgroup>
            <colgroup>
                <col width="12%">
                <col width="12%">
                <col width="12%">
                <col width="12%">
                <col width="12%">
            </colgroup> -->
            <thead>
              <tr>
                  <th class="BG-Gray" scope="col"><span>項目</span></th>
                  <th class="BG-Gray" scope="col"><span>内訳</span></th>
                  <th class="BG-Gray" scope="col"><span>2018</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2019</span><span>年度</span></th>
                  <th class="BG-Gray" scope="col"><span>2020</span><span>年度</span></th>
              </tr>
            </thead>
            <tr>
                <td class="col01" rowspan="6">取締役数（人）</td>
                <td class="col04">全体</td>
                <td class="col05">15</td>
                <td class="col06">13</td>
                <td class="col07">13</td>
            </tr>
            <tr>
                <td class="col04">社内</td>
                <td class="col05">6</td>
                <td class="col06">4</td>
                <td class="col07">4</td>
            </tr>
            <tr>
                <td class="col04">社外</td>
                <td class="col05">9</td>
                <td class="col06">9</td>
                <td class="col07">9</td>
            </tr>
            <tr>
                <td class="col04">男性</td>
                <td class="col05">12</td>
                <td class="col06">10</td>
                <td class="col07">10</td>
            </tr>
            <tr>
                <td class="col04">女性</td>
                <td class="col05">3</td>
                <td class="col06">3</td>
                <td class="col07">3</td>
            </tr>
            <tr>
                <td class="col04">外国人役員</td>
                <td class="col05">1</td>
                <td class="col06">1</td>
                <td class="col07">1</td>
            </tr>
            <tr>
                <td class="col01">取締役会の開催回数</td>
                <td class="col04">回</td>
                <td class="col05">12</td>
                <td class="col06">17</td>
                <td class="col07">14</td>
            </tr>
            <tr>
                <td class="col01">取締役会への出席率</td>
                <td class="col04">平均</td>
                <td class="col06">97%</td>
                <td class="col07">99%</td>
                <td class="col08">99%</td>
            </tr>
            <tr>
                <td class="col03" rowspan="5">監査委員会委員数（人）</td>
                <td class="col04">全体</td>
                <td class="col05">5</td>
                <td class="col06">3</td>
                <td class="col07">3</td>
            </tr>
            <tr>
                <td class="col04">社内</td>
                <td class="col05">1</td>
                <td class="col06">0</td>
                <td class="col07">0</td>
            </tr>
                <td class="col04">社外</td>
                <td class="col05">4</td>
                <td class="col06">3</td>
                <td class="col07">3</td>
            </tr>
            <tr>
                <td class="col04">男性</td>
                <td class="col05">3</td>
                <td class="col06">2</td>
                <td class="col07">2</td>
            </tr>
            <tr>
                <td class="col04">女性</td>
                <td class="col05">2</td>
                <td class="col06">1</td>
                <td class="col07">1</td>
            </tr>
            <tr>
                <td class="col01">監査委員会の開催回数</td>
                <td class="col04">回</td>
                <td class="col06">20</td>
                <td class="col07">28</td>
                <td class="col08">20</td>
            </tr>
            <tr>
                <td class="col01">監査委員会への出席率</td>
                <td class="col04">平均</td>
                <td class="col06">99%</td>
                <td class="col06">99%</td>
                <td class="col06">100%</td>
            </tr>
            <tr>
                <td class="col03" rowspan="5">指名委員会委員数（人）</td>
                <td class="col04">全体</td>
                <td class="col05">3</td>
                <td class="col06">4</td>
                <td class="col07">4</td>
            </tr>
            <tr>
                <td class="col04">社内</td>
                <td class="col05">1</td>
                <td class="col05">1</td>
                <td class="col05">1</td>
            </tr>
            <tr>
                <td class="col04">社外</td>
                <td class="col05">2</td>
                <td class="col06">3</td>
                <td class="col07">3</td>
            </tr>
            <tr>
                <td class="col04">男性</td>
                <td class="col05">3</td>
                <td class="col05">3</td>
                <td class="col05">3</td>
            </tr>
            <tr>
                <td class="col04">女性</td>
                <td class="col05">0</td>
                <td class="col05">0</td>
                <td class="col05">0</td>
            </tr>
            <tr>
                <td class="col01">指名委員会の開催回数</td>
                <td class="col04">回</td>
                <td class="col06">3</td>
                <td class="col07">4</td>
                <td class="col08">2</td>
            </tr>
            <tr>
                <td class="col01">指名委員会への出席率</td>
                <td class="col04">平均</td>
                <td class="col05">100%</td>
                <td class="col05">100%</td>
                <td class="col05">100%</td>
            </tr>
            <tr>
                <td class="col01" rowspan="5">報酬委員会委員数</td>
                <td class="col04">全体</td>
                <td class="col06">3</td>
                <td class="col06">3</td>
                <td class="col06">3</td>
            </tr>
            <tr>
                <td class="col04">社内</td>
                <td class="col05">1</td>
                <td class="col05">1</td>
                <td class="col05">1</td>
            </tr>
            <tr>
                <td class="col04">社外</td>
                <td class="col05">2</td>
                <td class="col05">2</td>
                <td class="col05">2</td>
            </tr>
            <tr>
                <td class="col04">男性</td>
                <td class="col05">3</td>
                <td class="col06">3</td>
                <td class="col07">3</td>
            </tr>
            <tr>
                <td class="col04">女性</td>
                <td class="col05">0</td>
                <td class="col06">0</td>
                <td class="col07">0</td>
            </tr>
            <tr>
                <td class="col01">報酬委員会の開催回数</td>
                <td class="col04">回</td>
                <td class="col06">3</td>
                <td class="col07">8</td>
                <td class="col08">6</td>
            </tr>
            <tr>
                <td class="col01">報酬委員会への出席率</td>
                <td class="col04">平均</td>
                <td class="col06">100%</td>
                <td class="col06">100%</td>
                <td class="col06">100%</td>
            </tr>
            <tr>
                <td class="col01" rowspan="3">執行役員数（人）<br>※取締役との兼務者を除く</td>
                <td class="col04">全体</td>
                <td class="col06">29</td>
                <td class="col07">28</td>
                <td class="col08">30</td>
            </tr>
            <tr>
                <td class="col04">男性</td>
                <td class="col05">27</td>
                <td class="col06">25</td>
                <td class="col07">28</td>
            </tr>
            <tr>
                <td class="col04">女性</td>
                <td class="col05">2</td>
                <td class="col06">3</td>
                <td class="col07">2</td>
        </table>
      </div>
      <!-- end 従業員数・非正規社員比率 -->
      <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>
  </div>

  <h3 id="compensation" class="Header">報酬に関するデータ</h3>

  <div class="Section Table-Border List-General">
    <p class="cap"><span class="title"><strong>1.役員報酬制度</strong></span></p>

    <p>日本郵政（株）の取締役及び執行役の報酬等につきましては、報酬委員会が以下のとおり「取締役及び執行役の個人別の報酬等の内容に係る決定に関する方針」を定めており、当該方針に則って報酬等の額を決定しております。</p>

    <p class="mb00"><strong>報酬体系</strong></p>

    <ol class="List">
      <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">1.</span><div class="MkrItem__Body">取締役と執行役を兼務する場合は、執行役としての報酬を支給します。</div></li>
      <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">2.</span><div class="MkrItem__Body">当社の取締役が受ける報酬については、経営等に対する責任の範囲・大きさを踏まえ、職責に応じた確定金額報酬を支給するものとします。</div></li>
      <li class="MkrItem MkrItem--TxtMkr"><span class="TxtMkr">3.</span><div class="MkrItem__Body">当社の執行役が受ける報酬については、職責に応じた基本報酬（確定金額報酬）及び業績連動型の株式報酬を支給するものとし、持続的な成長に向けた健全なインセンティブとして機能する仕組みとします。</div></li>
    </ol>

    <p>また、当社の取締役又は執行役であってグループ会社の取締役、監査役、執行役又は執行役員を兼職する場合は、当該取締役又は執行役が主たる業務執行を行う会社においてその報酬を支給します。</p>

    <p><strong>業績連動型報酬に係る指標、当該指標を選択した理由及び当該業績連動報酬の額の決定方法</strong><br>
    執行役に対して支給する業績連動型の株式報酬については、執行役の職責に応じた基本ポイント及び職務の遂行状況等に基づく個人評価ポイントに、当事業年度の会社業績（経営計画の達成状況等）に応じて変動する係数を乗じて、付与ポイントを算定しております。執行役の個人評価については、当該執行役が担当する業務における成果、取組状況等を個別に評価して決定しております。<br>会社業績に係る指標については、経営の達成度について総合的な判断を可能とするため、複数の異なるカテゴリーから指標を設定することとし、日本郵政（株）の事業形態・内容に適したものとして、収益性指標である「親会社株主に帰属する連結当期純利益」、効率性指標である「連結経常利益率」及び株主還元指標である「1株当たり配当額」をその指標としております。<br>なお、業績連動報酬とそれ以外の報酬等の支払割合の決定方針は定めておりません。</p>

    <div class="Table-Wrapper">
      <table class="data">
          <tbody>
            <tr>
                <th class="BG-Gray" scope="col"><span>会社業績に係る指標</span></th>
                <th class="BG-Gray" scope="col"><span>目標</span></th>
                <th class="BG-Gray" scope="col"><span>2020年度実績</span></th>
            </tr>
            <tr>
                <td class="col04">親会社株主に帰属する連結当期純利益</td>
                <td class="col04">280,000百万円以上</td>
                <td class="col04">418,238百万円</td>
            </tr>
            <tr>
                <td class="col04">連結経常利益率</td>
                <td class="col04">4.606%以上</td>
                <td class="col04">7.800%</td>
            </tr>
            <tr>
                <td class="col04">1株当たり配当額</td>
                <td class="col04">50円以上</td>
                <td class="col04">50円</td>
            </tr>
          </tbody>
      </table>
    </div>

  </div>

  <div class="Section Table-Border">
    <p class="cap"><span class="title"><strong>役員区分ごとの報酬等の総額、報酬等の種類別の総額及び対象となる役員の員数</strong></span></p>
      <div class="Table-Wrapper">
        <table class="data">
          <thead>
            <tr>
                <th class="BG-Gray" scope="col" rowspan="2">役員区分</th>
                <th class="BG-Gray" scope="col" rowspan="2"><span>報酬等</span><span>の総額</span><br>（百万円）</th>
                <th class="BG-Gray" scope="col" colspan="3">報酬等の種類別の総額（百万円）</th>
                <th class="BG-Gray" scope="col" rowspan="2">対象となる役員の員数（人）</th>
            </tr>
            <tr>
                <th class="BG-Gray"><span>固定</span><span>報酬</span></th>
                <th class="BG-Gray">業績連動報酬等</th>
                <th class="BG-Gray">非金銭報酬等</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td class="col04"><span>取締役</span><span>（社外取締役を除く）</span></td>
                <td class="col04">5</td>
                <td class="col04">5</td>
                <td class="col04">－</td>
                <td class="col04">－</td>
                <td class="col04">1</td>
            </tr>
            <tr>
                <td class="col04">執行役</td>
                <td class="col04">683</td>
                <td class="col04">581</td>
                <td class="col04">101</td>
                <td class="col04">－</td>
                <td class="col04">29</td>
            </tr>
            <tr>
                <td class="col04">社外役員</td>
                <td class="col04">79</td>
                <td class="col04">79</td>
                <td class="col04">－</td>
                <td class="col04">－</td>
                <td class="col04">11</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ol class="tableNote">
        <li>取締役と執行役の兼務者に対しては、取締役としての報酬等は支給しておりません。</li>
        <li>取締役３名は、主要な連結子会社の取締役及び執行役(員)を兼務しており、主要な連結子会社に属し専ら主要な連結子会社の業務執行を行った期間について、当社取締役としての報酬等は支給しておりません。なお、主要な連結子会社から受け取る３名の報酬総額は101百万円となります。</li>
        <li>執行役11名は、主要な連結子会社の取締役又は執行役(員)を兼務し、うち9名は主要な連結子会社に属し専ら主要な連結子会社の業務執行を行った期間について、当社執行役としての報酬等は支給しておりません。なお、主要な連結子会社から受け取る9名の報酬総額は200百万円となります。</li>
        <li>業績連動報酬等には、当事業年度に費用計上した金額を記載しております。なお、当社では原則として、毎年度事業年度末において、当該事業年度に発生したと見込まれる金額を引当金として費用計上し、退任時（給付時）等に当該引当金を取り崩す処理を行っております。</li>
        <li>当社は、非金銭報酬等として執行役に対して本制度に基づき株式報酬を交付しております。当該株式報酬については業績連動報酬等に含めております。</li>
        <li>役員退職慰労金、役員賞与の支給はありません。</li>
      </ol>
    <!-- <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div> -->
  </div>


  <!-- <div class="Section Table-Border">
      <p class="cap"><span class="title"><strong>2.株式数（2021年3月31日　現在）<sup style="font-size:80%; vertical-align:top;">（※1）</sup></strong></span></p>
          <div class="Table-Wrapper">
          <table class="data">
              <tbody>
                <tr>
                    <th class="BG-Gray" scope="row">発行可能株式総数</th>
                    <td class="col04" >18,000,000,000株</td>
                </tr>
                <tr>
                    <th class="BG-Gray" scope="row">発行済株式数</th>
                    <td class="col04" >4,500,000,000株</td>
                </tr>
                <tr>
                    <th class="BG-Gray" scope="row">株主数</th>
                    <td class="col04" >649,010名</td>
              </tbody>

          </table>
          </div>
      <div class="Pagetoplink mb20"><a href="#Page-Top">このページの先頭へ戻る</a></div>
  </div>


  <div class="Section Table-Border">
    <p class="cap"><span class="title"><strong>3.大株主の状況（2020年3月31日　現在）</strong></span></p>
    <div class="Table-Wrapper">
      <table class="data">
          <tbody>
            <tr>
                <th rowspan="2" class="BG-Gray" scope="row">株主の氏名または名称</th>
                <th colspan="2" scope="row">当社への出資状況</th>
            </tr>
            <tr>
                <th scope="row">持株数</th>
                <th scope="row">持株比率</th>
            </tr>
            <tr>
                <td class="BG-Gray" scope="row">財務大臣</td>
                <td class="col05" >2,559,524,700株</td>
                <td class="col05" >63.29%</td>
            </tr>
            <tr>
                <td class="BG-Gray" scope="row">日本マスタートラスト信託銀行株式会社（信託口）</td>
                <td class="col05" >128,837,500株</td>
                <td class="col05" >3.18%</td>
            </tr>
            <tr>
                <td class="BG-Gray" scope="row">日本郵政社員持株会</td>
                <td class="col05" >78,472,100株</td>
                <td class="col05" >1.94%</td>
            </tr>
            <tr>
                <td class="BG-Gray" scope="row">株式会社日本カストディ銀行（信託口）</td>
                <td class="col05" >63,100,800株</td>
                <td class="col05" >1.56%</td>
            </tr>
            <tr>
                <td class="BG-Gray" scope="row">STATE STREET BANK WEST CLIENT － TREATY 505234</td>
                <td class="col05" >35,110,729株</td>
                <td class="col05" >0.86%</td>
            </tr>
            <tr>
                <td class="BG-Gray" scope="row">株式会社日本カストディ銀行（信託口5）</td>
                <td class="col05" >22,168,200株</td>
                <td class="col05" >0.54%</td>
            </tr>
            <tr>
                <td class="BG-Gray" scope="row">株式会社日本カストディ銀行（信託口6）</td>
                <td class="col05" >19,650,600株</td>
                <td class="col05" >0.48%</td>
            </tr>
            <tr>
                <td class="BG-Gray" scope="row">株式会社日本カストディ銀行（信託口1）</td>
                <td class="col05" >17,632,800株</td>
                <td class="col05" >0.43%</td>
            </tr>
            <tr>
                <td class="BG-Gray" scope="row">JP MORGAN CHASE BANK 385771</td>
                <td class="col05" >17,460,232株</td>
                <td class="col05" >0.43%</td>
            </tr>
            <tr>
                <td class="BG-Gray" scope="row">STATE STREET BANK AND TRUST COMPANY　505103</td>
                <td class="col05" >17,459,036株</td>
                <td class="col05" >0.43%</td>
            </tr>
          </tbody>
      </table>
    </div>
    <ol class="tableNote">
      <li>当社は自己株式として456,139,201株を所有しておりますが、上記大株主からは除外しております。</li>
      <li>取締役３名は、主要な連結子会社の取締役及び執行役(員)持株比率につきましては、発行済株式総数から自己株式を控除して計算しております｡</li>
    </ol>
  </div>

  <div class="Section">
    <p class="cap"><span class="title"><strong>4.新株予約権等に関する事項</strong></span></p>
    <p>該当事項はありません。</p>
  </div> -->

</div>