<h2 id="yuucho" class="Header"><strong>ゆうちょ銀行におけるその他のダイバーシティ推進に係る取組</strong></h2>
<h3 class="Header"><strong>ダイバーシティ推進月間</strong></h3>
<div class="Section">
  <p>社員個々の多様性を認識し、意識改革・行動変容につなげるため、ダイバーシティに集中的に取り組む「ダイバーシティ推進月間」を設けています。2020年度には、前年度の取り組みで醸成した意識を行動に反映させるべく、情報紙を活用した勉強会や「テレワーク・マネジメント」に関するeラーニング講座を開講し、管理職への視聴推奨などを実施しました。</p>
</div>

<h4 class="Header ml10"><strong>イクボスの養成</strong></h4>
<div class="Section">
  <div class="Grid-Column">
    <p>社員一人ひとりが働きがい・生きがいを感じられる職場を実現するには、「イクボス」※の存在が不可欠と考え、ゆうちょイクボス4か条を基軸として「ゆうちょイクボス」の養成に取り組んでいます。2017年度には、代表執行役社長をはじめ、各組織の長が「ゆうちょイクボス宣言」を行いました。2018年度以降は「イクボス」の対象を全管理者に拡大し、「ゆうちょイクボス宣言」、「ダイバーシティ（イクボス）研修」、「ゆうちょイクボス検定」を行い、養成を強化しています。「ゆうちょイクボス宣言」については、その内容を部下全員に口頭で伝えると宣言するともに、社員が閲覧できる場所に掲示しています。</p>
    <div class="Text-Indent">
      <p class="Caption">※職場で共に働く部下・スタッフのワーク・ライフ・バランス（仕事と生活の両立）を考え、部下のキャリアと人生を応援しながら、組織の業績も結果を出しつつ、自らも仕事と私生活を楽しむことができる上司（経営者・管理者）のことです。</p>
    </div>
  </div>
</div>

<div class="Section">
  <div class="workstyle_diversity_ikuboss-box">
    <div class="workstyle_diversity_ikuboss-ttl"><strong>ゆうちょイクボス4か条</strong></div>
    <div class="workstyle_diversity_ikuboss-list">
      <div>
        <ul class="List-Disc">
          <li>私は、部下社員の「仕事」と「生活」との両立や、キャリアと人生を応援します。</li>
          <li>私は、自分自身と家族の人生も大切にします。</li>
          <li>私は、職場の同僚とのコミュニケーションを密にし、助け合います。</li>
          <li>私は、職場全体のチーム力を上げ、目標を達成します。</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="Section">
  <div class="workstyle_diversity_ikuboss-box">
    <div class="workstyle_diversity_ikuboss-ttl"><strong>ゆうちょイクボス宣言(2021年度)</strong></div>
    <div class="workstyle_diversity_ikuboss-list">
      <ul class="List-Disc">
        <li>新しい働き方・柔軟な働き方を拡充し、社員一人ひとりが自主・自律的に成長・挑戦できる環境整備に全力で取り組みます。</li>
        <li>すべての社員がダイバーシティへの理解を深め、対話によってお互いに理解しあえる働きやすい職場づくりを推進します。</li>
        <li>育児休業100%取得の推進はもちろん、すべての社員がライフイベントを通じた「人間的成長」の機会を得られるよう応援します。</li>
      </ul>

      <p class="Text-Right">2021年5月20日<br />株式会社ゆうちょ銀行<br />取締役兼代表執行役社長<br />池田　憲人</p>
    </div>
  </div>
</div>

<h4 class="ml10"><strong>ダイバーシティ（イクボス）研修</strong></h4>
<div class="Section Col">
  <div class="Grid-Column">
    <p>当行のダイバーシティ推進方針や施策、制度について学び、「イクボス」の役割や重要性・必要性を理解する目的で、2017年度から管理職向けにダイバーシティ（イクボス）研修を実施しています。2020年度は、株式会社URUU 代表取締役　江上広行氏を講師に迎え、オンラインで実施しました。2020年度の受講者数は約250人となっています。<br />
      また、管理職以外にも階層別にダイバーシティ研修を実施するなど、ダイバーシティを理解する社員の輪の拡大に取り組んでいます。</p>
  </div>
  <div class="Grid-Column">
    <figure class="Image Text-Center">
      <img src="/sustainability/human/images/human_09.jpg" alt="2020年度のダイバーシティ（イクボス）研修">
      <figcaption class="mt05">2020年度のダイバーシティ（イクボス）研修</figcaption>
    </figure>
  </div>
</div>

<h4 class="ml10"><strong>ゆうちょイクボス検定</strong></h4>
<div class="Section">
  <div class="Grid-Column">
    <p>2018年度から、管理職に対し、イクボスとして必要な知識や考え方を問う「ゆうちょイクボス検定」を実施し、全管理職の合格に向け、取り組んでいます。2020年度の合格者数は約2,200人（合格率約99%）となっています。</p>
  </div>
</div>

<h3 class="Header">ワーク・ライフ・バランスを支援する施策</h3>
<div class="Section Col2 TextImageBlock Image-Right">
  <div class="Grid-Column Image">
    <figure class="Image Text-Center"><img src="/sustainability/human/images/yuucho.png" alt="ゆうちょパパ・ママ応援カード"></figure>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>ゆうちょ銀行では、男性育児休業取得者の体験談やインタビューを社内広報誌に掲載するなど、男性の育児休業の取得を推奨しています。<br>また、職場全体でフォローを行うために、「ゆうちょパパ・ママ応援カード」を上司から交付するなど、環境づくりに取り組んでいます。 </p>
    </div>
  </div>
<!-- end .Section --></div>


<!-- <hr class="demarcation">
<div class="associated_info">
  <dl>
    <dt>グループ各社の取り組み</dt>
    <dd><a href="http://www.post.japanpost.jp/about/diversity/" class="Link Popup" target="_blank"><span>ダイバーシティ推進の取り組み</span></a>-日本郵便</dd>
    <dd><a href="https://www.jp-bank.japanpost.jp/aboutus/csr/action/diversity/abt_csr_act_ds_index.html" class="Link Popup"  target="_blank"><span>ダイバーシティ・マネジメントの推進</span></a>-ゆうちょ銀行</dd>
    <dd><a href="https://www.jp-life.japanpost.jp/aboutus/csr/diversity/activities.html" class="Link Popup"  target="_blank"><span>ダイバーシティの推進</span></a>-かんぽ生命</dd>
  </dl>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/human/"><span>人と共に</span></a></li>
  </ul>
</div> -->
