<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div id="title_box">
  <div id="csr_main_img_feature">
    <h1>特集<br />東日本大震災復興 10年の歩み</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
  <h4><strong>東日本大震災から10年、復興への歩みと災害等への対応</strong></h4>
  <p>2011年3月11日、東日本大震災の発生から10年が経ちました。<br />日本郵政グループは、復旧・復興に取り組むとともに、新たな大規模災害や新型コロナウイルス感染症などの困難にグループ一丸となって立ち向かっています。</p>
</div>

<h2 class="Header">東日本大震災復興10年動画のリリース</h2>
<div class="Section Col2 Image-Right TextImageBlock List-General">
  <div class="Grid-Column Image Text-Center">
    <div class="feat_movie_image Image"><img src="https://ssl-cache.stream.ne.jp/www50/eqa883iidf/jmc_pub/thumbnail/00003/53ed9cebda9e4363bacbdb7c722a4447_25_11.jpg" alt="日本郵政グループ　東日本大震災から10年、復興への歩み" style="width: 300px;"></div>
  </div>
  <div class="Grid-Column Text">
    <div class="Box">
      <p>東日本大震災当時の日本郵政グループ社員の取り組みを紹介する動画「日本郵政グループ 東日本大震災から10年、復興の歩み」を制作し、放映しています。</p>
      <div class="Text-Indent">
        <p class="Caption">※本動画には、一部に津波など震災当時の映像等が含まれます。</p>
      </div>
    </div>
  </div>
  <ul>
    <li><a href="/sustainability/library/movie/2021_001.html" class="Link"><span>日本郵政グループ　東日本大震災から10年、復興への歩み</span></a></li>
  </ul>
</div>

<div class="Section feat_nav_link">
  <div class="feat_nav">
    <ul class="feat_nav_list">
      <li class="feat_nav_item">
        <a href="#">震災時の取り組み<i class="fas fa-angle-down feat_nav_icon"></i></a>
        <div class="feat_nav_drop">
          <ul>
            <li class="feat_nav_drop_item"><a href="#refuge"><i class="fas fa-angle-right feat_nav_drop_icon"></i>避難所や仮設住宅への配達を実施</a></li>
            <li class="feat_nav_drop_item"><a href="#kanpo"><i class="fas fa-angle-right feat_nav_drop_icon"></i>かんぽの宿や逓信病院を一時避難所として開放</a></li>
            <li class="feat_nav_drop_item"><a href="#vehiecle"><i class="fas fa-angle-right feat_nav_drop_icon"></i>車両型郵便局による臨時サービスの提供</a></li>
          </ul>
        </div>
      </li>
      <li class="feat_nav_item">
        <a href="#">復興・復旧に向けて<i class="fas fa-angle-down feat_nav_icon"></i></a>
        <div class="feat_nav_drop">
          <ul>
            <li class="feat_nav_drop_item"><a href="#rebuild"><i class="fas fa-angle-right feat_nav_drop_icon"></i>被災した郵便局の再建</a></li>
            <li class="feat_nav_drop_item"><a href="#forest"><i class="fas fa-angle-right feat_nav_drop_icon"></i>JP子どもの森づくり運動　東北復興グリーンウェイブ</a></li>
            <li class="feat_nav_drop_item"><a href="#project"><i class="fas fa-angle-right feat_nav_drop_icon"></i>東日本大震災復興10年プロジェクト</a></li>
            <li class="feat_nav_drop_item"><a href="#think"><i class="fas fa-angle-right feat_nav_drop_icon"></i>大災害を考える日</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="List-General">
    <ul>
      <li><a href="/sustainability/society/infection.html" class="Link"><span>新型コロナウイルスへの対応</span></a></li>
      <li><a href="/sustainability/society/disaster_response.html" class="Link"><span>その他災害への対応</span></a></li>
    </ul>
  </div>
</div>

<div class="Section feat_heading_area">
  <h2 class="feat_heading_head">震災時の対応</h2>
  <p class="feat_heading_txt">被災地の社員たちは自らも被災者でありながら、お客さま・地域のためにできることを各々で考え、自分たちで出来得る限りのサービス提供に努めました。</p>
</div>

<h2 class="Header" id="refuge">避難所や仮設住宅への配達を実施</h2>
<div class="Section Col">
  <p>電話やパソコンといった通信網が遮断されている中で、唯一の通信手段である「郵便」を一刻も早くお客さまにお届けするため、早いところでは震災の2日後から郵便配達を再開しました。普段の配達で築いた地域とのネットワーク等を活かしながら、自治体と連携してお客さまの避難先の把握に努め、避難所や仮設住宅への配達を行いました。</p>
  
  <div class="feat_pics_wrap">
    <figure class="feat_pic feat_pic_01"><img src="/sustainability/images/feat_01.jpg" alt="避難所をまわり、お客さまの避難先を確かめながら配達を実施"><figcaption>避難所をまわり、お客さまの避難先を確かめながら配達を実施</figcaption></figure>
    <figure class="feat_pic feat_pic_02"><img src="/sustainability/images/feat_02.jpg" alt="仮設住宅への配達"><figcaption>仮設住宅への配達</figcaption></figure>
  </div>
</div>

<div class="Section Col2 Col-Border TextImageBlock Image-Left">
  <div class="Grid-Column BG-Gray">
    <div class="SubSection">
      <div class="Grid-Column Image">
        <div class="Image Text-Center">
          <img src="/sustainability/images/feat_user.png" alt="（当時）宮城県内の郵便局社員">
          <p class="feat_comment_cap Caption">宮城県内の郵便局社員（当時）</p>
        </div>
      </div>
      <div class="Grid-Column Text">
        <h4 class="feat_comment_ttl"><strong>可能な限りお客さまに郵便を届けたかった</strong></h4>
        <p>連絡がつく社員を集め、業務再開に向けて動きました。津波でバイクも軽自動車もすべて水没して使えるものがなかったので、全国の郵便局から配達車両等が支援されるまでは、自転車や徒歩で配達を行っていました。地割れや地盤沈下、大量の瓦礫によって道路が寸断された場所もあり、配達業務は困難を極めましたが、可能な限り、お客さまに郵便をお届けすることに尽力しました。郵便を受け取ったお客さまからは「自分も大変なときにありがとう」と多くの感謝の声をいただきました。</p>
      </div>
    </div>
  </div>
</div>

<div class="Section">
  <h4 class="feat_voice_ttl"><i class="fas fa-envelope-open-text feat_voice-icon"></i>震災当時、お客さまから寄せられた感謝の声</h4>
  <div class="feat_voive_txt">地震発生の30分前に、山田局のポストにハガキを投函しました。その帰り道に地震が起き、津波が発生しました。「ポストに入れたハガキはもうダメだろう」と諦めていました。<br />先日、ハガキの宛先である友人から、ハガキが届いたとの知らせがありました。津波で濡れたハガキを乾かして、「遅くなりました」のメモも添付されていたとのこと。多分、宮古局の方が対応してくださったのであろうと思い、ペンをとりました。<br />社員の皆さまも被災され、大変な思いをされている中、届けてくださったことに心からお礼申し上げます。ありがとうございました。まだまだ大変な日々が続くかと思います。どうぞお体に気をつけて復興に向けて進まれますよう。私もいずれ山田町に戻り、皆さまと共に歩いていきたいと思います。</div>
</div>

<h2 class="Header" id="kanpo">かんぽの宿や逓信病院を一時避難場所として開放</h2>
<div class="Section Col">
  <p>震災発生後、かんぽの宿を開放し、被災されたお客さまや警察関係者等の被災地支援団体を受け入れ、入浴を無料で提供しました。<br />
    また、逓信病院ではロビーを避難場所として開放。震災の翌日から無料健康相談窓口も開設し、被災された地域住民の皆さまからの相談に応じました。
  </p>

  <div class="feat_pics_wrap">
    <figure class="feat_pic"><img src="/sustainability/images/feat_04.jpg" alt="避難所で炊き出しを実施"><figcaption>避難所で炊き出しを実施</figcaption></figure>
    <figure class="feat_pic"><img src="/sustainability/images/feat_05.jpg" alt="仙台逓信病院"><figcaption>仙台逓信病院を開放<br />※仙台逓信病院は2015年4月に売却されています</figcaption></figure>
  </div>
</div>

<div class="Section Col2 Col-Border TextImageBlock Image-Left">
  <div class="Grid-Column BG-Gray">
    <div class="SubSection">
      <div class="Grid-Column Image">
        <div class="Image Text-Center">
          <img src="/sustainability/images/feat_user.png" alt="仙台逓信病院の看護師（当時）">
          <p class="feat_comment_cap Caption">仙台逓信病院の看護師（当時）</p>
        </div>
      </div>
      <div class="Grid-Column Text">
        <h4 class="feat_comment_ttl"><strong>被災した皆さまに必要な支援を</strong></h4>
        <p>大規模停電が発生し、街から明かりが消えた中、自家発電設備を備えていた当院には、近隣から多くの地域住民の皆さまが避難されました。ホールや外来の前の長椅子に被災者の皆さまが滞在し、中には2週間ほど滞在した方もいらっしゃいました。避難されている皆さまには病院の毛布などをお渡しするとともに、震災翌日から保健師、看護師による無料健康相談窓口を開設したところ、1日に20人以上の方々から相談を受けました。</p>
      </div>
    </div>
  </div>
</div>

<h2 class="Header" id="vehiecle">車両型郵便局による臨時サービスの提供</h2>
<div class="Section Col">
  <p>被害が大きい地域の避難所には車両型郵便局を派遣し、通常貯金の預入・払出し・送金等、郵便物・ゆうパックの引受、ゆうちょ銀行・かんぽ生命保険の各種ご相談等のサービスを提供しました。郵便局のサービス以外にも、今後の生活や健康への不安を抱えており、時には30分以上お話しされていくお客さまもいらっしゃいましたが、地域に寄り添う郵便局の重要な役割として、真摯にお話を伺いました。</p>
  <div class="Grid-Column">
    <figure class="Text-Center feat_pic_single">
      <img src="/sustainability/images/feat_07.jpg" alt="車両型郵便局"><br />
      <figcaption>車両型郵便局</figcaption>
    </figure>
  </div>
</div>

<div class="Section feat_heading_area">
  <h2 class="feat_heading_head">復興・復旧に向けて</h2>
  <p class="feat_heading_txt">被災した郵便局と被災地域の1日も早い復興・復旧に向けて、取り組んでいます。</p>
</div>

<h2 class="Header" id="rebuild">被災した郵便局の再建</h2>
<div class="Section Col">
  <p>太平洋沿岸部の郵便局は津波により、その多くが建物に被害を受け、また、福島県では原子力発電所事故の影響により、震災直後は683の郵便局が休止に追い込まれました。その後、仮設店舗の設置や店舗の復旧に取り組み、多くの郵便局が営業再開を果たしました。</p>
</div>

<div class="Section Col">
  <div class="feat_pics_wrap">
    <figure class="feat_pic">
      <img src="/sustainability/images/feat_08.png" alt="休止した郵便局数">
    </figure>
    <figure class="feat_pic">
      <img src="/sustainability/images/feat_09.jpg" alt="再建した被災地の郵便局">
      <figcaption>再建した被災地の郵便局</figcaption>
    </figure>
  </div>
</div>

<div class="Section Col2 Col-Border TextImageBlock Image-Left">
  <div class="Grid-Column BG-Gray">
    <div class="SubSection">
      <div class="Grid-Column Image">
        <div class="Image Text-Center">
          <img src="/sustainability/images/feat_user.png" alt="（当時）郵便局（株）　東北支社　社員">
          <p class="feat_comment_cap Caption">郵便局株式会社<br />東北支社　社員<br />（当時）</p>
        </div>
      </div>
      <div class="Grid-Column Text">
        <h4 class="feat_comment_ttl"><strong>安心・信頼の拠点として地域の復興に貢献</strong></h4>
        <p>震災を通じて、郵便局が地域の皆さまから重要な生活インフラとして捉えられているということを強く感じました。震災から10年経ちましたが、まだ再開できていない郵便局もあります。一日でも早く本設郵便局で営業を再開し、「安心・信頼の拠点」として育っていくことが、地域の復興につながっていくものと考えています。</p>
      </div>
    </div>
  </div>
</div>

<div class="Section">
  <h4 class="feat_voice_ttl"><i class="fas fa-envelope-open-text feat_voice-icon"></i>震災当時、お客さまから寄せられた感謝の声</h4>
  <div class="feat_voive_txt">
    <h4 class="feat_comment_ttl"><strong>郵便局が存在しているだけで心強い</strong></h4>
    <p class="mb00">地元の人たちにとっては、郵便局さんが自分たちのすぐそばにあるというだけで心強いと思います。震災後、自身の店を再開させたときも、地元の皆さまからそのように言ってもらいました。ましてやインフラを担う郵便局さんの再開は、それだけで地域の人々の安心につながると思います。</p>
  </div>
</div>

<h2 class="Header" id="forest">JP子どもの森づくり運動　東北復興グリーンウェイブ</h2>
<div class="Section">
  <div class="Grid-Column">
    <p>東北の緑の復興への願いを込めて被災地にどんぐりの苗を植える「JP子どもの森づくり運動 東北復興グリーンウェイブ」 <sup>※</sup>は、2012年の活動開始以来、多くの園に参加いただき、被災地の復興支援に貢献するとともに、子どもたちに森づくりを通じて自然体験の機会を提供してきました。<br />2017年3月には、国連生物多様性の10年日本委員会（UNDB-J）の連携事業として認定され、また2020年4月には、公益社団法人こども環境学会による「2019（第15回）こども環境学会賞」の「活動賞」を受賞しました。</p>
    <div class="Text-Indent">
      <p class="Caption">※この活動では、東日本大震災の被災地の園児が拾ったどんぐりを、全国保育園・幼稚園・こども国際園の園児が育て、3年目に大きくなった苗木を郵便のネットワークを利用して被災地に送り、5月22日のグリーンウェイブの日（国連が定める国際生物多様性の日）に被災地に植えています。</p>
    </div>
  </div>
</div>

<div class="Section">
  <div class="feat_pics_wrap">
    <figure class="feat_pic"><img src="/sustainability/images/feat_12.jpg" alt="育てたどんぐりの苗を郵便ネットワークで被災地へ"><figcaption>育てたどんぐりの苗を郵便ネットワークで被災地へ</figcaption></figure>
    <figure class="feat_pic"><img src="/sustainability/images/feat_13.jpg" alt="届いたどんぐりの苗を植樹する子どもたち"><figcaption>届いたどんぐりの苗を植樹する子どもたち</figcaption></figure>
  </div>
</div>

<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="国連生物多様性の10年日本委員会（UNDB-J）の連携事業ロゴマーク" src="/sustainability/environment/images/logo-undb_jap.jpg">
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>この事業は「国連生物多様性の10年日本委員会（UNDB-J）」が推奨する事業として認定を受けています。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
</div>

<div class="Section List-General">
  <ul>
    <li><a href="/sustainability/environment/kodomono_mori/green_wave.html" class="Link"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
  </ul>
</div>

<h2 class="Header" id="project">東日本大震災復興10年プロジェクト</h2>
<div class="Section">
  <p>東日本大震災から10年の節目を迎えるにあたり、震災の記憶を風化させず、社員一人ひとりの防災意識を高め、社員と郵便局を守ることを目的に、「東日本大震災復興10年プロジェクト」を立ち上げ、震災の「教訓」を未来につなげていくためのさまざまな施策を実施しました。</p>
</div>

<h3 class="mb00 ml10">＜施策＞</h3>
<div class="Section Col-Border">
<div class="Grid-Column">
  <ul class="ml20 List-Disc">
    <li>震災・復興10年記録冊子・DVD「つなごう未来へ」の作成</li>
    <li>日本郵政グループ仙台ビル内に「東日本大震災アーカイブ施設」を設置</li>
    <li>全社員を対象とした災害対応に係る「机上演習」の実施（毎月11日の「大震災を考える日」にディスカッションを実施）</li>
    <li>社員の命を守る防災意識醸成のための、「講演会」を開催</li>
    <li>日本郵政グループ「東日本大震災追悼式」の挙行</li>
  </ul>
</div>
</div>

<div class="Section">
  <div class="feat_pics_wrap">
    <figure class="feat_pic feat_pic_15"><img src="/sustainability/images/feat_15.jpg" alt="震災・復興10年記録冊子・DVD「つなごう未来へ」"><figcaption>震災・復興10年記録冊子・DVD「つなごう未来へ」</figcaption></figure>
    <figure class="feat_pic feat_pic_16"><img src="/sustainability/images/feat_16.jpg" alt="日本郵政グループ仙台ビル内「東日本大震災アーカイブ施設」"><figcaption>日本郵政グループ仙台ビル内<br />「東日本大震災アーカイブ施設」</figcaption></figure>
  </div>
</div>

<h3 class="Header" id="think">大震災を考える日</h3>
<div class="Section">
  <p>東日本大震災では、日本郵政グループ全体で62名の社員が犠牲、行方不明となりました。この災害の記憶を風化させないために、2012年7月以降、毎月11日を「大震災を考える日」とし、日本郵政グループ仙台ビル内および東北支社エリア内の全郵便局において、朝礼などで防災に関することを周知し、災害に対する知識を深めています。</p>

  <div class="Grid-Column">
    <figure class="Text-Center feat_pic_single">
      <img src="/sustainability/images/feat_17.jpg" alt="大震災を考える日　社員向け周知資料（毎月発行）"><br />
      <figcaption>大震災を考える日　社員向け周知資料（毎月発行）</figcaption>
    </figure>
  </div>
</div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
