<div id="title_box3">
  <div id="csr_main_img">
    <h1>トップメッセージ</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center">
  <img src="/sustainability/images/message_img_13.png" alt="日本郵政社長写真">
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>

<div class="Section">
<p class="Text-Large"><strong>日本郵政グループは、お客さまと地域を支え、持続可能な社会の実現へ貢献します。</strong></p>
<p>日本郵政グループは、2021年4月20日に1871年（明治4年）の創業から150年の節目を迎えました。「日本近代郵便の父」と呼ばれる前島密が、「縁の下の力持ちになることを厭うな。人のためによかれと願う心を常に持てよ」との信条に基づき開始したわが国の郵政事業は、明治、大正、昭和、平成そして令和と、それぞれの時代において、地域の皆さまと共に地域社会の発展を支えてまいりました。</p>
<p>そして同年5月14日には新たなグループ中期経営計画「JPビジョン2025」を発表いたしました。150年培ってきた「人に寄り添うおもてなしのサービス」に「便利・安心のデジタル技術」を組み合わせることで、郵便局ネットワークを進化させます。この新しい郵便局ネットワークへさまざまな企業さまや地域コミュニティの参加と協業を促すことで、地域で必要とされるサービスを生み出し、地域とお客さまを支える共創プラットフォームとなることを目指します。急速に変わる社会において、ひとりも取り残さないという想いで、地域社会と日本のすべてのお客さまに便利、安心・安全、快適をお届けいたします。</p>
<p>甚大な被害をもたらした東日本大震災から10年という月日が経ちました。この10年、さまざまな災害が起こり、現在も新型コロナウイルスの流行という世界的な困難に見舞われています。こうした状況下において、自分たちに何ができるか、地域やお客さまのために何をすればいいのかを考え、行動していくことで、当グループが社会から求められる重要な責任を果たしてまいります。これからも地域とお客さまを支える共創プラットフォームとして、地域の持続可能な成長を後押しすることにより、持続可能な社会の実現に貢献いたします。</p>
<!-- end .Section --></div>

<div class="Section Col2 TextImageBlock Image-Right">
<p class="Text-Right">2021年11月<br>日本郵政株式会社<br>取締役兼代表執行役社長<br><img class="mt10" alt="増田　寛也" src="/sustainability/images/message_img_14.png"></p>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<h2 class="Header">日本郵政グループ各社のトップメッセージ</h2>
<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image Text-Center">
<img alt="日本郵便社長" src="/sustainability/images/message_img_07.jpg" class="sp_w80"/>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text" style="overflow:visible;">
<div class="Box message_child_company-txt">
<p>私ども日本郵便では、全国津々浦々の郵便局を通じて、地域に寄り添い、国民生活のインフラとして、郵便、貯金、保険のユニバーサルサービスをはじめとするさまざまな商品・サービスを提供しています。提供するサービスそのものが、SDGs(持続可能な開発目標)における&ldquo;誰一人取り残さない&rdquo;の精神に通ずると理解しております。</p>
<p>東日本大震災から10年が経ち、近年では、新型コロナウイルス感染症や大規模災害の発生など、不透明かつ深刻な状況が増している中、安全を第一に業務運営に取り組んでいます。とりわけ、環境問題をはじめとしたESGへの取り組みは待ったなしであり、特に脱炭素社会の実現に向けては、多くの施設や車両を有する当社の役割は大きく、カーボンニュートラルを後押しする取り組みを行ってまいります。</p>
<p>かんぽ生命保険商品の不適正募集などでは、関係の皆さまに多大な不利益とご迷惑をおかけしました。郵政事業創業150年の節目にあたり、全社員一丸となり、創業の原点に立ち返って信頼回復に努めるとともに、組織風土改革にも取り組み、お客さま本位の業務運営を行ってまいります。</p>
<p>これからも郵便局ネットワークを活用し、自治体や企業等の皆さまとも連携し、人生100年時代の「一生」を支え、日本全国の「地域社会」を支えることにより、持続的な成長と企業価値の創出を図ってまいります。</p>
<!-- end .Box --></div>
<p class="Text-Right">日本郵便株式会社<br>代表取締役社長兼執行役員社長</p>
<figure class="Text-Right"><img src="/sustainability/images/message_img_16.png" alt="衣川 和秀"></figure>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image Text-Center">
<img alt="ゆうちょ銀行社長" src="/sustainability/images/message_img_08.jpg" class="sp_w80"/>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text" style="overflow:visible;">
<div class="Box message_child_company-txt">
<p>ゆうちょ銀行は、2021年5月に公表した中期経営計画で、「お客さまと社員の幸せを目指し、社会と地域の発展に貢献する」という存在意義にあらためて立ち返り、4つの重点課題と目標KPI<sup>※</sup>を設定しました。</p>
<p>お客さまに対しては、邦銀随一の顧客基盤と日本全国に広がるネットワークを活かして、安心・安全な金融サービスを提供していきます。また、「信頼を深め、金融革新に挑戦」をスローガンに、高品質なシステム基盤を備えた「地域の金融プラットフォーム」となることで地域経済発展への貢献を目指します。環境への取り組みとしては、2050年カーボンニュートラル実現に向けて、CO&#x2082;排出量を2030年度までに46%削減(2019年度比)することを目標として設定しました。今後、使用電力をCO&#x2082;排出係数の低いものへと切り替えていくほか、本邦最大級の資金基盤を活かしてESGテーマ型投資を拡大していきます。そして、代表執行役社長直轄の「サービス向上委員会」を中心に継続的に組織風土改革に取り組むことで「お客さま本位の業務運営」を強化するとともに、働き方改革とガバナンスの高度化にもつなげていきます。</p>
<p>当行は、さまざまな社会課題の解決に向けた取り組みを加速し、持続可能な社会の実現に貢献するとともに、ステークホルダーの皆さまの声に耳を傾け、「最も身近で信頼される銀行」であり続けます。</p>
<ul>
  <li class="Caption ind1em mb10">※Key Performance Indicator：重要業績評価指標</li>
</ul>
<!-- end .Box --></div>
<p class="Text-Right">株式会社ゆうちょ銀行<br>取締役兼代表執行役社長</p>
<figure class="Text-Right"><img src="/sustainability/images/message_img_09.png" alt="池田 憲人"></figure>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section Col2 TextImageBlock Image-Left">
<div class="Grid-Column Image Text-Center">
  <img src="/sustainability/images/message_img_15.jpg" alt="かんぽ生命保険社長" class="sp_w80">
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text" style="overflow:visible;">
<div class="Box message_child_company-txt">
<p>かんぽ生命保険の前身である簡易生命保険事業は、1916年（大正5年）に、「簡易な手続きで、国民の基礎的生活手段を保障する」という思いを持って誕生しました。当社では、こうした創業時からの「社会課題の解決への貢献」という思いを引き継ぎ、それから100年以上、保険を通して人々の生活を支える役割を果たしてまいりました。</p>
<p>当社が今年度発表した中期経営計画（2021年度～2025年度）では、「お客さまから信頼され、選ばれ続けることで、お客さまの人生を保険の力でお守りする」ことが私たちの社会的使命であることを明確にしました。この社会的使命を果たし、社会の課題解決に貢献することにより、当社の持続的な成長とSDGsの実現を目指すことをサステナビリティ方針として定めております。この方針に則り、お客さまや株主の皆さま、地域の皆さまなど、さまざまなステークホルダーの皆さまお一人おひとりの思いやご意見を受け止め、持続的な企業価値の向上と、さまざまな事業活動を通じた社会課題解決への貢献に向けた取り組みを進めてまいります。</p>
<p>最後になりますが、この度の新型コロナウイルスの影響を受けられた皆さまには、心よりお見舞い申し上げます。このコロナ禍のもとにおいても、各種保険金の支払いや非常取扱いなど、引き続き、生命保険会社としての社会的使命をしっかり果たしてまいります。</p>
<!-- end .Box --></div>
<p class="Text-Right">株式会社かんぽ生命保険<br>取締役兼代表執行役社長</p>
<figure class="Text-Right"><img src="/sustainability/images/message_img_12.png" alt="千田 哲也"></figure>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/sustainability/library/report/"><span>日本郵政グループ サステナビリティレポート</span></a></li>
  </ul>
<!-- end .Section --></div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>
