<div class="Section">
<p class="Text-Right">2016年6月13日</p>
<p>日本郵政グループは、環境省が主催する環境イベント「エコライフ・フェア2016」にブース出展しました。今回は、「地球がすき。未来がたのしみ。」をテーマに、6月4日（土曜日）と5日（日曜日）の2日間、代々木公園（東京都渋谷区）で開催されました。同イベントには、多くの企業やNPO等が参加し、2日間で約3万人の方々にご来場いただきました。</p>
<p>日本郵政グループブースでは、グループの環境に関する取り組み（年賀寄附金、ＪＰ子どもの森づくり運動「東北復興グリーンウェイブ」、電気自動車の使用など）をパネル展示したほか、間伐材のはがきを使ったワークショップを開催しました。</p>
<p>ワークショップでは、間伐材を使用したはがきに、シールや千代紙を思い思いの形に切り抜き、それを貼り付けて、あて名を書き、ブース内に設置した「ぽすくまポスト」に差し出す体験を行いました。「ぽすくまポスト」には2日間で合計261通が差し出され、渋谷郵便局の風景印を押して、あて先に届けられました。</p>
<p>ブースにお立ち寄りいただきました皆さま、そして、ワークショップにご参加いただきました皆さま、ありがとうございました。多くの皆さまに、グループの環境の取り組みをご理解いただき、ワークショップで使用した間伐材で作ったはがきを通じて、環境保全の取り組みなどにもご興味を持っていただけたようです。<br>
なお、5日には、丸川環境大臣が当ブースを訪れ、ワークショップの様子などを熱心にご覧になりました。
</p>
<p>今後も、日本郵政グループは、環境保全の取り組みを、グループを挙げて推進して参ります。</p>
<!-- end .Section --></div>

<h2 class="Header"><span>日本郵政グループブースの様子</span></h2>
<div class="Section Col2">
<div class="Grid-Column">
<div class="Image"><img src="/sustainability/topics/images/2016_002_img_01.jpg" alt="" height="240" width="320">
<p class="Caption">ワークショップの様子</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column">
<div class="Image"><img src="/sustainability/topics/images/2016_002_img_02.jpg" alt="" height="240" width="320">
<p class="Caption">はがきを「ぽすくまポスト」に差し出しました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
