<p class="Category Lead">日本郵政グループは、東京ビッグサイト（東京都江東区）で2016年12月8日（木曜日）から10日（土曜日）まで開催される国内最大級の環境展示会「エコプロ2016」に出展します。</p>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="エコプロダクツ2016会場イメージ" src="/sustainability/images/eco2016_01.jpg" width="760" height="380" />
<p class="Caption">エコプロ2016会場に日本郵政グループが出展するブースのイメージ</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>

<h2 class="Header"><span>1　エコプロ2016の概要</span></h2>
<div class="Section Table-Dot">
<table><caption class="Hidden">エコプロ2016の概要</caption><colgroup> <col style="width: 20%;" /> <col style="width: 80%;" /> </colgroup>
<tbody>

<tr><th scope="row">開催日時</th>
<td>2016年12月8日（木曜日）から10日（土曜日）<br>
8日（木曜日）および9日（金曜日）は10時から18時まで、10日（土曜日）は10時から17時まで</td>
</tr>

<tr><th scope="row">開催場所</th>
<td>東京ビッグサイト　東ホール（日本郵政グループのブース位置：東6ホール「6-032」）</td>
</tr>
<tr><th scope="row">入場料</th>
<td>無料（登録制）</td>
<tr><th scope="row">公式Webサイト</th>
<td>エコプロ2016の詳細や入場登録については、公式Webサイトをご覧ください。<br>
<div class="Image"><a href="http://eco-pro.com/2016/" title="別ウィンドウで表示します" target="_blank"><img src="/sustainability/images/eco-pro2016_banner.png" alt="エコプロ2016公式Webサイト" width="234" height="60"></a>
</div>
</td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>


<h2 class="Header"><span>2　日本郵政グループの出展内容</span></h2>
<div class="Section">
<p>郵便ポストをイメージしたブースで、日本郵政グループの環境への取り組みを、パネルや映像、実物展示でわかりやすくご紹介するほか、はがきを題材にしたワークショップを開催します。また、郵便局の臨時出張所を併設し、年賀はがきや記念切手を販売します。</p>
<!-- end .Section --></div>

<h2 class="Header"><span>3　日本郵政グループの主な展示物</span></h2>
<h3 class="Header"><span>1．実証実験中の超小型電気自動車</span></h3>
<div class="Section">
<p>2015年6月から、愛知県名古屋市内の郵便局4局で集配業務に導入し、実証実験を行なっている、超小型電気自動車「コムス」を展示します。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="" src="/sustainability/images/eco2016_022.jpg" width="500" height="296" />
<p class="Caption">超小型電気自動車「コムス」</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>

<h3 class="Header"><span>2．宅配ロッカー「はこぽす」</span></h3>
<div class="Section">
<p>郵便局や駅、スーパーなどで荷物の受け取りを差し出しができ、CO<sub>2</sub>削減の観点からも注目される宅配ロッカー「はこぽす」を展示し、デモンストレーションを行います。</p>
<!-- end .Section --></div>

<h3 class="Header"><span>3．「インクカートリッジ里帰りプロジェクト」回収箱</span></h3>
<div class="Section">
<p>全国の主要郵便局3,639局（2016年10月末現在）に設置している「インクカートリッジ里帰りプロジェクト」の回収箱を設置し、使用済みインクカートリッジの回収を行ないます。期間中、インクカートリッジをお持ちいただいた方には粗品を差し上げます。<br>※回収するインクカートリッジは本プロジェクトに加盟するプリンタメーカー5社（ブラザー、キヤノン、デル、エプソン、日本HP）の純正品に限ります。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="" src="/sustainability/images/eco2016_03.jpg" width="408" height="504" />
<p class="Caption">インクカートリッジ回収箱</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>
<div class="Section">
<p>インクカートリッジ里帰りプロジェクトについては、公式Webサイトをご覧ください。<br /> <a class="Link Popup" title="別ウィンドウで表示します" href="http://www.inksatogaeri.jp/"><span>インクカートリッジ里帰りプロジェクト公式Webサイト</span></a></p>
<!-- end .Section --></div>

<h2 class="Header"><span>4　ワークショップの開催</span></h2>
<div class="Section">
<p>間伐材を使用したはがきを使用したワークショップを期間中毎日開催します（参加費は無料です）。ワークショップで作成して、ポストに差し入れると、エコプロのキャラクター「エコぴょん」、ＪＰ子どもの森づくり運動のマスコット、日本郵便のキャラクター「ぽすくま」を日替わりでデザインした小型記念日付印を押印して、お届けします。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="" src="/sustainability/images/eco2016_04.jpg" width="500" height="296" />
<p class="Caption">昨年のワークショップの様子</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>