<div class="Section">
<p class="Text-Right">2016年12月21日</p>
<p>日本郵政グループは、日本最大級の環境展示会「エコプロ2016」に出展しました。今年の「エコプロ2016」は、「持続可能な社会の実現に向けて」をテーマに、12月8日（木曜日）から10日（土曜日）の3日間、東京ビッグサイトで開催されました。同展には、705社・団体が参加し、開催期間中、児童・学生、環境に関係する業務に携わる方など約16万7千人の方々がご来場されました。</p>
<!-- end .Section --></div>
<h2 class="Header"><span>郵便ポストをイメージしたブースで皆さまをお迎えしました</span></h2>
<div class="Section">
<p>今回、日本郵政グループは郵便ポストをイメージしたブースを設置し、グループの環境に関する取り組み（ＪＰ子どもの森づくり運動「東北復興グリーンウェイブ」、年賀寄附金など）についてパネルで紹介しました。<br>
そして、郵便物の集荷や配達に使用するために、名古屋市内の郵便局4局で実証実験中の超小型電気自動車「コムス」の展示と、郵便局や駅、コンビニエンスストアなどで荷物の受け取りと差し出しができ、CO<sub style="font-size: 80%;">2</sub>削減の観点からも注目される宅配ロッカー「はこぽす」のデモンストレーションを行いました。<br>
そのほかにも、ブース内では全国の主要郵便局3,639局（2016年10月末現在）に設置している、「インクカートリッジ里帰りプロジェクト」の回収箱を設置し、使用済みインクカートリッジの回収を行ったほか、毎日、日本郵便のキャラクター「ぽすくま」がお出迎えし、多くの来場者の皆さまに喜んでいただきました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2016_11.jpg" />
<p class="Caption">郵便ポストをイメージしたブース</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2016_12.jpg" />
<p class="Caption">超小型電気自動車を展示</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2016_13.jpg" />
<p class="Caption">「はこぽす」コーナーでの取材の様子</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2016_14.jpg" />
<p class="Caption">使用済みインクカートリッジを回収</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2016_15.jpg" />
<p class="Caption">展示パネルをヒントにクイズラリーに挑戦</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2016_16.jpg" />
<p class="Caption">ぽすくまが皆さまをお出迎え</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h2 class="Header"><span>ワークショップを開催しました</span></h2>
<div class="Section">
<p>期間中、青少年ペンフレンドクラブの講師による「はがき」のワークショップを開催しました。参加された方には、間伐材で作ったはがきに思い思いの文章や絵を描き、ブース内に設置した特製のポストに入れていただきました。<br>
入れていただいたはがきには、エコプロのキャラクター「エコぴょん」や、「ぽすくま」など日替わりのデザインをあしらった記念印を押印し、あて先にお届けしました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2016_17.jpg" />
<p class="Caption">ワークショップの様子1</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2016_18.jpg" />
<p class="Caption">ワークショップの様子2</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h2 class="Header"><span>ご来場のお礼と今後に向けて</span></h2>
<div class="Section">
<p>日本郵政グループのブースには、3日間で、約6千人を超える方々にご訪問いただきました。ブースにお立ち寄りいただきました皆さま、ワークショップにご参加いただきました皆さま、本当にありがとうございました。<br>
多くの皆さまに、展示内容を通じて、日本郵政グループの環境への取り組みをご理解いただき、また、ワークショップで使用した間伐材で作ったはがきを通じて、環境保全の取り組みにご興味を持っていただけたと思います。</p>
<p>今後も、日本郵政グループは、CO<sub style="font-size: 80%;">2</sub>削減などの環境保全をはじめとするCSR活動を、グループを挙げて推進して参ります。</p>
<!-- end .Section --></div>
