<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>「エンプロイヤーブランド・リサーチ 2018 ランスタッドアワード」の<br>金融/保険部門で第1位に選ばれました</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政グループ4社（日本郵政株式会社、日本郵便株式会社、株式会社ゆうちょ銀行、株式会社かんぽ生命保険）は、「エンプロイヤーブランド・リサーチ 2018 ランスタッドアワード」において、業界別「金融/保険」部門において、第1位に選ばれました。</p>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="" src="/sustainability/topics/images/2017_004_img_01.jpg" width="450" />
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>
<!-- end .Section --></div>

<h3 class="Header"><span>授賞式の様子</span></h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="授賞式の様子　人事部人材研修育成室長の一木美穂が出席し、日本郵政グループ4社を代表してトロフィーを受け取りました。" src="/sustainability/topics/images/2017_004_img_02.jpg" width="320" /></div>
<p class="Caption Text-Center">日本郵便株式会社 人事部人材研修育成室長 一木美穂</p>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>2018年2月27日（火曜日）に開催された「エンプロイヤーブランド・リサーチ 2018 ランスタッドアワード」授賞式には、日本郵便株式会社 人事部人材研修育成室長の一木美穂が出席し、日本郵政グループ4社を代表してトロフィーを受け取りました。</p>
<p>「エンプロイヤーブランド・リサーチ」は、勤務先として魅力のある企業を世界共通基準で調査し、魅力度の高い企業を表彰するもので、授賞式では全体順位上位10社と業界別（10部門）1位の企業が表彰を受けました。</p>
<p>日本国内での調査は2018年で7回目を迎えますが、日本郵政グループは今回初めて調査対象とされ、ランクインしました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section Col2 TextImageBlock Image-Right --></div>

<h3 class="Header"><span>「エンプロイヤーブランド・リサーチ」について</span></h3>
<div class="Section">
<p>エンプロイヤーブランドは、企業の従業員だけではなく、広く一般の方から見た「就業先としての企業の魅力度」を示し、より有能な人材を採用し、継続的に高い成果を出してもらうための「鍵」となります。「エンプロイヤーブランド・リサーチ」は、企業魅力度（エンプロイヤーブランド）を測る世界規模の調査で、「勤務先としていま最も人材をひきつける魅力のある企業」を選定し、表彰を行うほか、雇用と労働に関する調査と分析を行っています。<br>
調査は、2017年11月から12月にかけて、日本国内で任意に選出された18歳から65歳までの男女約7,000人を対象に、調査対象企業225社（従業員数上位の国内企業180社、外資系企業30社、注目企業15社）に関して実施され、潜在的な就職活動者である社会人・学生を対象としたWebアンケートにより、「その企業を働く場として魅力的に感じるかどうか」という企業イメージを引き出すものです。<br>
「人気企業ランキング」のように、就職活動をしている学生や大都市圏のホワイトカラーを対象とした調査ではなく、また、給与や待遇、財務状態、CSRや環境経営といった特定のトピックスのみに焦点を当てて調査するものでもありません。複数の指標から、自分を生かせる職場を求めているあらゆる人の、企業に対する率直な印象を浮かび上がらせる特徴があるものです。</p>
<!-- end .Section --></div>

<div class="Section List-General">
<ul>
<li>詳しくは、ランスタッド株式会社のWebサイトをご覧ください。</li>
<li><a href="https://www.randstad.co.jp/award/index.html" class="Link Popup" target="_blank"><span>ランスタッドアワード</span></a></li>
</ul>
<!-- end .Section.List-General --></div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/">CSR</a></li>
    <li><a class="Link" href="/csr/topics/">グループCSRのトピックス</a></li>
    <li><a class="Link" href="/csr/human/">人と共に</a></li>
  </ul>
<!-- end .Section --></div>