<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>日本郵政グループは「エコプロ2017」に出展します</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p class="Category Lead">日本郵政グループは、東京ビッグサイト（東京都江東区）で2017年12月7日（木曜日）から9日（土曜日）まで開催される国内最大級の環境展示会「エコプロ2017」に出展します。</p>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="エコプロ2017日本郵政グループブースのイメージ" src="/sustainability/images/eco2017_01.jpg" width="600" height="380" />
<p class="Caption">エコプロ2017会場に日本郵政グループが出展するブースのイメージ</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>
<!-- end .Section --></div>

<div class="Section List-General">
  <ul>
    <li><p>プレスリリース（2017年11月28日）<br /> <a class="Link" href="/pressrelease/jpn/2017/20171128139553.html"><span>日本郵政グループは「エコプロ2017」に出展します</span></a></p></li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header"><span>エコプロ2017の概要</span></h2>
<div class="Section Table-Dot">
<table><caption class="Hidden">エコプロ2017の概要</caption><colgroup> <col style="width: 20%;" /> <col style="width: 80%;" /> </colgroup>
<tbody>

<tr><th scope="row">開催日時</th>
<td>2017年12月7日（木曜日）から9日（土曜日）<br>
10時から17時まで</td>
</tr>

<tr><th scope="row">開催場所</th>
<td>東京ビッグサイト　東ホール（日本郵政グループのブース位置：東5ホール「5-032」）</td>
</tr>
<tr><th scope="row">入場料</th>
<td>無料（登録制）</td>
<tr><th scope="row">公式Webサイト</th>
<td>エコプロ2017の詳細や入場登録については、公式Webサイトをご覧ください。<br>
<div class="Image"><a href="http://eco-pro.com/2017/" title="別ウィンドウで表示します" target="_blank"><img src="/sustainability/images/ecopro2017_bnr.jpg" alt="エコプロ2017公式Webサイト" width="300" height="100"></a>
</div>
</td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>


<h2 class="Header"><span>日本郵政グループの出展内容</span></h2>
<div class="Section">
<p>「手紙」をイメージしたブースで、日本郵政グループの環境への取り組みを、パネルや映像、実物展示でわかりやすくご紹介するほか、はがきを題材にしたワークショップを開催します。また、郵便局の臨時出張所を併設し、年賀はがきや記念切手を販売します。</p>
<!-- end .Section --></div>

<h2 class="Header"><span>日本郵政グループの主な展示物</span></h2>
<h3 class="Header"><span>1．ドローン</span></h3>
<div class="Section">
<p>山間部や郵便局間などでの郵便物・荷物配送の実証実験を行っているドローンを展示します。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="" src="/sustainability/images/eco2017_02.jpg" width="500" />
<p class="Caption">ドローン</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>

<h3 class="Header"><span>2．宅配ロッカー「はこぽす」</span></h3>
<div class="Section">
<p>郵便局や駅、スーパーなどで荷物の受け取りを差し出しができ、CO<sub>2</sub>削減の観点からも注目される宅配ロッカー「はこぽす」を展示し、デモンストレーションを行います。</p>
<!-- end .Section --></div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.post.japanpost.jp/service/hakopost/" class="Link Popup" target="_blank"><span>はこぽす</span></a>-日本郵便</li>
  </ul>
<!-- end .Section --></div>

<h3 class="Header"><span>3．「インクカートリッジ里帰りプロジェクト」回収箱</span></h3>
<div class="Section">
<p>全国の主要郵便局3,639局（2017年11月末現在）に設置している「インクカートリッジ里帰りプロジェクト」の回収箱を設置し、使用済みインクカートリッジの回収を行ないます。期間中、インクカートリッジをお持ちいただいた方には粗品を差し上げます。<br>
※回収するインクカートリッジは本プロジェクトに加盟するプリンタメーカー5社（ブラザー、キヤノン、デル、エプソン、日本HP）の純正品に限ります。</p>
<!-- end .Section --></div>

<div class="Section">
<p>インクカートリッジ里帰りプロジェクトについては、公式Webサイトをご覧ください。<br /> <a class="Link Popup" title="別ウィンドウで表示します" href="http://www.inksatogaeri.jp/"><span>インクカートリッジ里帰りプロジェクト公式Webサイト</span></a></p>
<!-- end .Section --></div>

<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/movie/2016_002.html"><span>インクカートリッジ里帰りプロジェクト</span></a> -日本郵政グループ CSRムービー</li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header"><span>イベントステージでラジオ体操をします</span></h2>
<div class="Section">
<p>日本郵政グループブースの隣では、期間中さまざまなイベントが行われます。最終日12月9日（土曜日）のお昼（11時30分頃）には、イベントステージで「ラジオ体操」を行います。</p>
<!-- end .Section --></div>

<h2 class="Header"><span>ワークショップの開催</span></h2>
<div class="Section">
<p>日本郵便のキャラクター「ぽすくま」のぬり絵がスクリーンで動き出す「紙アプリ（注）」や、間伐材を使用したはがきを使ったワークショップを毎日開催（参加費無料）します。<br>
ワークショップで作成したはがきのほか、ご持参いただいた郵便物（第一種郵便物および第二種郵便物）を会場に設置したポストに差し入れると、日本郵政グループ各社のキャラクターを日替わりでデザインした小型記念日付印を押印して配達します。</p>
<p>注：「紙アプリ」は株式会社リコーの商標で、イベント向けソリューションです。</p>
<!-- end .Section --></div>

<div class="Section">
<p>紙アプリについては、株式会社リコーのWebサイトをご覧ください。<br>
<a href="http://www.ricoh.co.jp/rental/paper_app/" class="Link Popup" target="_blank"><span>紙アプリ</span></a>
 （株式会社リコーのWebサイトが開きます）</p>
<!-- end .Section --></div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/">CSR</a></li>
    <li><a class="Link" href="/csr/topics/">グループCSRのトピックス</a></li>
    <li><a class="Link" href="/csr/movie/">日本郵政グループCSRムービー</a></li>
  </ul>
<!-- end .Section --></div>
