<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>「エコプロ2017」に出展しました</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政グループは、日本最大級の環境展示会「エコプロ2017」に出展しました。「エコプロ2017」は、「地球温暖化対策と環境配慮」「クリーンエネルギーとスマート社会」を2大テーマに掲げ、12月7日（木曜日）から9日（土曜日）の3日間、東京ビッグサイトで開催されました。同展には、616社・団体が参加し、開催期間中、児童・学生、環境に関係する業務に携わる方、ご家族連れの方々など約16万人の方々がご来場されました。</p>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="エコプロダクツ2017日本郵政グループブースのイメージ" src="/sustainability/images/eco2017_03.jpg" width="650" />
<p class="Caption">「手紙」をイメージしたブース</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>
<!-- end .Section --></div>

<h2 class="Header"><span>日本郵政グループブースの展示内容</span></h2>
<div class="Section">
<p>今回、日本郵政グループは「手紙」をイメージしたブースを設置し、山間部や郵便局間などでの郵便物・荷物配送の実証実験を行っているドローンを展示したほか、郵便局や駅、コンビニエンスストアなどで荷物の受け取りと差し出しができ、CO<sub style="font-size: 80%;">2</sub>削減の観点からも注目される宅配ロッカー「はこぽす」の展示・デモンストレーションを行いました。<br>
他にも、グループの環境に関する取り組み（JP子どもの森づくり運動「東北復興グリーンウェイブ」、年賀寄附金など）について、パネルや映像で紹介したり、「インクカートリッジ里帰りプロジェクト」の回収箱（2017年11月末現在、全国の主要郵便局3,639局に設置）をブース内に設置し、使用済みインクカートリッジの回収を行いました。<br>
日本郵政グループのブースでは毎日、日本郵便のキャラクター「ぽすくま」とかんぽ生命の企業キャラクター「かんぽくん」がお出迎えし、ご来場の皆さまに喜んでいただきました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2017_04.jpg" />
<p class="Caption">展示した物流用ドローン</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2017_05.jpg" />
<p class="Caption">かんぽ生命の企業キャラクター「かんぽくん」（左）と<br>
日本郵便のキャラクター「ぽすくま」がお出迎え</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2017_06.jpg" />
<p class="Caption">はこぽすのデモンストレーション</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2017_07.jpg" />
<p class="Caption">インクカートリッジの回収箱と展示パネル</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h2 class="Header"><span>「ぽすくま」が踊りだす「紙アプリ（※）」と、はがき作りのワークショップを開催</span></h2>
<div class="Section">
<p>日本郵便のキャラクター「ぽすくま」のぬり絵がスクリーンで動き出す「紙アプリ（注）」や、間伐材を使用したはがきを使ったワークショップを毎日開催（参加費無料）しました。<br>
はがき作りに参加された方には、間伐材で作ったはがきに思い思いの文章や絵を描いていただき、ワークショップで作成したはがきのほか、ご持参いただいた郵便物（第一種郵便物および第二種郵便物）をブース内に設置した特製のポストに入れていただきました。<br>
差し出していただいた郵便物にはかんぽ生命の企業キャラクター「かんぽくん」（7日）、ゆうちょ銀行の投資信託キャラクター「ますますくん」（8日）、日本郵便のキャラクター「ぽすくま」（9日）のデザインをあしらった記念印を押印し、あて先にお届けしました。</p>
<p>注：「紙アプリ」は株式会社リコーの商標で、イベント向けソリューションです。</p>
<!-- end .Section --></div>
<div class="Section">
<p>紙アプリについては、株式会社リコーのWebサイトをご覧ください。<br>
<a href="http://www.ricoh.co.jp/rental/paper_app/" class="Link Popup" target="_blank"><span>紙アプリ</span></a>
 （株式会社リコーのWebサイトが開きます）</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2017_08.jpg" />
<p class="Caption">たくさんの方にご参加いただいたワークショップ</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2017_09.jpg" />
<p class="Caption">スクリーン上で踊りだすぽすくまで楽しんでいただきました</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h2 class="Header"><span>イベントステージではラジオ体操を実施</span></h2>
<div class="Section">
<p>日本郵政グループブースの隣では、期間中さまざまなイベントが行われました。最終日12月9日（土曜日）のお昼には、「ひびけ田島太鼓 つながろう"どんぐり"の絆 ラジオ体操もやるよ！」と題したイベントステージに日本郵政グループも参加し、第1部では、ご来場いただいたみなさんと一緒に「ラジオ体操」を行いました。<br>
第2部では、全国の保育園、幼稚園、こども園の子どもたちが「東日本大震災」被災地の緑の復興支援活動に取り組む『JP子どもの森づくり運動「東北復興グリーンウェイブ」』の福島での活動を紹介したあと、「東北復興グリーンウェイブ」の活動にも参加している福島県の田島保育園の卒園児「龍巳会」による和太鼓のパフォーマンスや、当日参加の園児たちが和太鼓に合わせて"♪どんぐりえがお"特別バージョンを踊りました。</p>
<!-- end .Section --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="イベントステージ終了後の集合写真" src="/sustainability/images/eco2017_10.jpg" width="650" />
<p class="Caption">イベントステージに参加した皆さん</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>

<h2 class="Header"><span>ご来場のお礼と今後に向けて</span></h2>
<div class="Section">
<p>日本郵政グループのブースには、3日間で、前回の出展時を上回る約7千人を超える方々にご訪問いただきました。ブースにお立ち寄りいただきました皆さま、ワークショップにご参加いただきました皆さま、本当にありがとうございました。<br>
多くの皆さまに、展示内容を通じて、日本郵政グループの環境への取り組みにご興味を持っていただけたと思います。</p>
<p>今後も、日本郵政グループは、CO<sub style="font-size: 80%;">2</sub>削減などの環境保全をはじめとするCSR活動を、グループを挙げて推進して参ります。</p>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/">CSR</a></li>
    <li><a class="Link" href="/csr/topics/">グループCSRのトピックス</a></li>
    <li><a class="Link" href="/csr/movie/">日本郵政グループCSRムービー</a></li>
  </ul>
<!-- end .Section --></div>