<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>「平成30年度東京都スポーツ推進企業」に認定されました</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政株式会社は、東京都オリンピック・パラリンピック準備局による「東京都スポーツ推進企業認定制度」において、弊社が所有する福利厚生施設「高井戸レクリエーションセンター（杉並区）の一般開放」の取り組みが、平成30年度の「東京都スポーツ推進企業」に認定されました。</p>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="" src="/sustainability/topics/images/2018_004_img_01.jpg" width="300" />
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>
<!-- end .Section --></div>

<h3 class="Header"><span>「東京都スポーツ推進企業認定制度」について</span></h3>
<div class="Section">
<p>東京都オリンピック・パラリンピック準備局では、従業員のスポーツ活動の促進に向けた取り組みやスポーツ分野における支援を実施している企業等を「東京都スポーツ推進企業」として認定しています。認定企業のうち、特に社会的な影響や波及効果の大きい取り組みをしている企業等は「東京都スポーツ推進モデル企業」として選定、表彰されます。<br>
平成30年度には266社が「東京都スポーツ推進企業」に認定されました。</p>
<!-- end .Section --></div>
<div class="Section List-General">
<ul>
<li>詳しくは、東京都オリンピック・パラリンピック準備局のWebサイトをご覧ください。</li>
<li><a href="https://www.sports-tokyo.info/company/suishin_2018.html" class="Link Popup"><span>東京都スポーツ推進企業認定制度（30年度）</span></a></li>
</ul>
<!-- end .Section.List-General --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/">日本郵政グループのサステナビリティ</a></li>
    <li><a class="Link" href="/csr/topics/">グループCSRのトピックス</a></li>
    <li><a class="Link" href="/csr/movie/">日本郵政グループCSRムービー</a></li>
  </ul>
<!-- end .Section --></div>