<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>「エコプロ2018」に出展しました</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p class="Category Lead">日本郵政グループは、東京ビッグサイト（東京都江東区）で2018年12月6日（木曜日）から8日（土曜日）まで開催された国内最大級の環境展示会「エコプロ2018」に出展しました。</p>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="エコプロ2018日本郵政グループブースのイメージ" src="/sustainability/images/eco2018_01.jpg" width="600" />
<p class="Caption">エコプロ2018会場に日本郵政グループが出展したブース</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>
<!-- end .Section --></div>

<h2 class="Header"><span>日本郵政グループの出展内容</span></h2>
<div class="Section">
<p>エコプロ 2018 のテーマゾーン「SDGs EXPO 2018」エリアに出展し、日本郵政グループのSDGs 達成に向けた取り組みを、パネルや映像、実物展示でご紹介したほか、次世代育成プログラム体験イベント等を実施しました。</p>
<p>日本郵政グループの取り組みを「社会ゾーン」と「環境ゾーン」に分け、社会ゾーンでは「地域」「健康的な暮らし」「次世代育成」の取り組みを、環境ソーンでは「温室効果ガス排出量の削減」「資源の有効利用と廃棄物の削減」に関する取り組みをご紹介したほか、展示内容に合わせたクイズラリーも行い、多くの方々にご参加いただきました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2018_02.jpg" />
<p class="Caption">ブースの様子（社会ゾーンの説明）</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2018_03.jpg" />
<p class="Caption">ブースの様子（環境ゾーンの説明）</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h2 class="Header"><span>次世代育成プログラム体験イベントの模様</span></h2>
<div class="Section">
<p>次世代育成プログラム体験イベントとして、日本郵便の「おてがみ教室」、ゆうちょ銀行の「金融クイズ」をブース内のステージで実施しました。そのほか、「郵便局のみまもりサービス」「年賀寄附金配分事業」「JP子どもの森づくり運動」のプレゼンテーションも実施し、多くの方に足を止めてご覧いただきました。</p>
<!-- end .Section --></div>

<h3 class="Header"><span>おてがみ教室</span></h3>
<div class="Section">
<p>エコプロ開催期間中、毎日2回ずつ「おてがみ教室」を開催しました。ご参加いただいた皆さんは、思い思いにはがき作成を楽しんでいただきました。「おてがみ教室」で作成したはがきと、ご来場の方が差し出された郵便物には、日本郵便のキャラクター「ぽすくま」のデザインをあしらった記念印を押印して、あて先にお届けしました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2018_04.jpg" />
<p class="Caption">おてがみ教室の様子</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2018_05.jpg" />
<p class="Caption">おてがみ教室の教材</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.schoolpost.jp/" class="Link Popup" target="_blank"><span>手紙の書き方体験授業</span></a>-日本郵便</li>
  </ul>
<!-- end .Section --></div>

<h3 class="Header"><span>金融クイズ</span></h3>
<div class="Section">
<p>12月6日（木曜日）と7日（金曜日）には、ゆうちょ銀行による「金融クイズ」が行われました。お金に関するクイズを5問出題し、ご参加いただいた方に楽しんでいただきました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2018_06.jpg" />
<p class="Caption">金融クイズの様子①</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2018_07.jpg" />
<p class="Caption">金融クイズの様子②</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.jp-bank.japanpost.jp/education/edc_index.html" class="Link Popup" target="_blank"><span>金融教育</span></a>-ゆうちょ銀行</li>
  </ul>
<!-- end .Section --></div>

<h3 class="Header"><span>プレゼンテーション</span></h3>
<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image"><img src="/sustainability/images/eco2018_13.jpg" alt="認定NPO法人 富士山測候所を活用する会によるプレゼンテーションの様子" width="300" /></div>
<p class="Caption">認定NPO法人 富士山測候所を活用する会の方<br>によるプレゼンテーションの様子</p>
<!-- end .Grid-Column.Image --></div>

<div class="Grid-Column Text">
<div class="Box">
<p>ブース内のステージでは、日本郵便の「郵便局のみまもりサービス」や、年賀寄附金配分事業の取り組みのご紹介、2008年から取り組んでいる「JP子どもの森づくり運動」のプレゼンテーションも実施し、多くの方に足を止めて聞いていただきました。</p>
<p>このうち、年賀寄附金配分事業のプレゼンテーションは、日本郵便の担当者から年賀寄附金配分事業の概要を説明した後、2016年度の配分先団体の一つである「特定非営利活動法人 富士山測候所を活用する会」の方から『地球環境観測拠点としての富士山測候所の労力提供型整備事業』の説明が行われ、施設機能維持のための修理や、自然エネルギーを活用した研究活動など、年賀寄附金の助成による成果をわかりやすくお話しいただきました。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>
<div class="Section List-General">
  <ul>
    <li><a href="https://www.post.japanpost.jp/life/mimamori/" class="Link Popup" target="_blank"><span>郵便局のみまもりサービス</span></a>-日本郵便</li>
    <li><a href="https://www.post.japanpost.jp/kifu/" class="Link Popup" target="_blank"><span>年賀寄附金による社会貢献事業助成</span></a>-日本郵便</li>
    <li><a class="Link" href="/csr/kids/"><span>JP子どもの森づくり運動</span></a></li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header"><span>イベントステージ</span></h2>
<div class="Section">
<p>最終日の12月8日（土曜日）には、エコプロ2018の会場内イベントステージで、JP子どもの森づくり運動「東北復興グリーンウェイブ」の音楽プログラムが行われました。</p>
<p>まず最初に、ご来場いただいた皆さんと、日本郵政グループ各社のキャラクターも参加して「ラジオ体操」を行いました。ラジオ体操の後には「JP子どもの森づくり運動」のテーマソングである「♪どんぐりえがお」の作詞を担当した、岩手県山田町の男性保育士の会「男心会（だんしんかい）」副代表の中村雅堂さん、作・編曲の佐久間順平さんによるトークセッション、そして佐久間さんによる生ライブが行われました。<br>
続いて、「JP子どもの森づくり運動」に参加している中目黒駅前保育園（東京都）、今井保育園（千葉県）の園児たちによる合唱の後、参加者全員で「♪どんぐりえがお」を元気に歌って締めくくりました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2018_08.jpg" />
<p class="Caption">みんなでラジオ体操</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2018_09.jpg" />
<p class="Caption">トークセッションの様子</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2018_10.jpg" />
<p class="Caption">佐久間順平さんによる生ライブ</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img alt="" src="/sustainability/images/eco2018_11.jpg" />
<p class="Caption">園児たちによる「♪どんぐりえがお」の大合唱</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="イベントステージに参加した皆さん" src="/sustainability/images/eco2018_12.jpg" width="600" />
<p class="Caption">イベントステージに参加した皆さんで記念撮影</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/">CSR</a></li>
    <li><a class="Link" href="/csr/topics/">グループCSRのトピックス</a></li>
    <li><a class="Link" href="/csr/movie/">日本郵政グループCSRムービー</a></li>
  </ul>
<!-- end .Section --></div>
