<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>「東北復興グリーンウェイブ」記念植樹会を福島県伊達市で開催します</h1>
  </div>
</div>

<div class="Section">
<p>日本郵政グループが特別協賛している『JP子どもの森づくり運動「東北復興グリーンウェイブ」<a href="#Annotation_01">（注1）</a> <a href="#Annotation_02">（注2）</a>』（NPO法人子どもの森づくり推進ネットワーク（子森ネット）が運営）の植樹会が、福島県伊達市の「霊山三育（りょうぜんさんいく）認定こども園」で6月23日（土曜日）に開催されます。</p>
<p>霊山三育認定こども園では、東日本大震災の後、長く園外の活動（自然活動）が制限され、子どもたちに親しまれていた園庭の樹木も除染活動で伐採されてしまいました。そこで、2016年に、子どもたちが自らドングリの苗木を育てて、園庭の緑の再生に取り組むこととなりました。まだ地元の森でドングリを拾える状況ではなかったため、ドングリは「東北復興グリーンウェイブ」の参加園である福島県南会津町の田島保育園から提供されました。</p>
<!-- end .Section --></div>

<h3 class="Header">霊山三育認定こども園　福島のドングリの苗木記念植樹会　開催概要</h3>
<div class="Section Table-Dot">
<table><caption class="Hidden">霊山三育認定こども園での植樹会の概要</caption><colgroup> <col style="width: 20%;" /> <col style="width: 80%;" /> </colgroup>
<tbody>
<tr><th scope="row">開催日時</th>
<td>2018年6月23日（土曜日）10時から11時まで</td>
</tr>
<tr><th scope="row">開催場所</th>
<td>福島県伊達市霊山町掛田字北谷津7-3<br>
霊山三育認定こども園<br>
</td>
</tr>
<tr><th scope="row">主な内容</th>
<td>代表園児による園庭への記念植樹<br>
どんぐりえがおダンス<br>
記念撮影</td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>

<h2 class="Header"><span>霊山三育認定こども園でのこれまでの活動</span></h2>
<h3 class="Header">2016年11月に行なわれたドングリを植える活動</h3>
<div class="Section">
<p>霊山三育認定こども園の園庭の樹木再生活動は、ドングリを苗木に育てることから始まりました。2016年11月19日（土曜日）、園児と保護者約200人が参加してドングリをポットに植える活動が行われました。植えられたドングリは、南会津の田島保育園の子どもたちが地元の森で拾い、提供してくれたものです。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/topics/images/2018_001_img_01.jpg" alt="" />
<p class="Caption">みんなでドングリをポットに植えました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/topics/images/2018_001_img_02.jpg" alt="" />
<p class="Caption">ドングリを植える活動に参加した皆さん</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<h3 class="Header">2017年6月に行なわれた苗木のお披露目会</h3>
<div class="Section">
<p>2017年6月24日（土曜日）、苗木のお披露目会が行われました。お披露目会では、苗木を保護者の方たちにお披露目すると同時に、苗木をもう少し大きく育てるため、大きなポットに植え替える活動が行われました。当日は約50名の子どもたちが、お父さんお母さんに手伝ってもらいながら、芽が出たばかりの苗木をポットに植え替えていました。</p>
<!-- end .Section --></div>
<div class="Section Col2 Image400">
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/topics/images/2018_001_img_03.jpg" alt="" />
<p class="Caption">芽が出た苗を大きなポットに移し替えました</p>
</div>
<!-- end .Grid-Column --></div>
<div class="Grid-Column400">
<div class="Image"><img src="/sustainability/topics/images/2018_001_img_04.jpg" alt="" />
<p class="Caption">苗木のお披露目会に集まった皆さん</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col2 --></div>

<div class="Section Col-Border List-General">
<div class="Grid-Column BG-Gray">
<p>特定非営利活動法人 子どもの森づくり推進ネットワーク</p>
<ul>
<li><a class="Link Popup" title="別ウィンドウで表示します" href="http://www.kodomono-mori.net"><span>http://www.kodomono-mori.net</span></a></li>
</ul>
<!-- end .Grid-Column.BG-Gray --></div>
<!-- end .Section.Col-Border.List-General --></div>

<div class="Section">
<p id="Annotation_01">（注1）
<ol class="List"><li>
<div class="MkrItem__Body">この活動は、東日本大震災の被災地の園児が拾ったドングリを、全国の幼稚園・保育園・こども園に送り、園児が育て、3年目、大きくなったドングリの苗木を、郵便のネットワークを利用して被災地に戻し、5月22日のグリーンウェイブの日に、東北復興の願いを込め、被災地の園児が植えるものです。</div></li></ol></p>

<p id="Annotation_02">（注2）
<ol class="List"><li>
<div class="MkrItem__Body">グリーンウェイブとは、国連が定める「生物多様性の日（5月22日）」に世界各地の青少年がそれぞれの地域で植樹などを行い、地球上に緑の波（グリーンウェイブ）を作る活動です。</div></li></ol>
</p>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/csr/topics/"><span>グループCSRのトピックス</span></a></li>
<li><a class="Link" href="/csr/kids/index02.html"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
</ul>
<!-- end .Section.List-General --></div>