<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>日本郵政グループは「エコプロ2018」に出展します</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p class="Category Lead">日本郵政グループは、東京ビッグサイト（東京都江東区）で2018年12月6日（木曜日）から8日（土曜日）まで開催される国内最大級の環境展示会「エコプロ2018」に出展します。</p>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="エコプロ2018日本郵政グループブースのイメージ" src="/sustainability/images/eco2018_001.jpg" width="600" />
<p class="Caption">エコプロ2018会場に日本郵政グループが出展するブースのイメージ</p>
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>
<!-- end .Section --></div>

<h2 class="Header"><span>エコプロ2018の概要</span></h2>
<div class="Section Table-Dot">
<table><caption class="Hidden">エコプロ2018の概要</caption><colgroup> <col style="width: 20%;" /> <col style="width: 80%;" /> </colgroup>
<tbody>

<tr><th scope="row">開催日時</th>
<td>2018年12月6日（木曜日）から8日（土曜日）<br>
10時から17時まで</td>
</tr>

<tr><th scope="row">開催場所</th>
<td>東京ビッグサイト　東ホール（日本郵政グループのブース位置：東3ホール「3-024」）</td>
</tr>
<tr><th scope="row">入場料</th>
<td>無料（登録制）</td>
<tr><th scope="row">公式Webサイト</th>
<td>エコプロ2018の詳細や入場登録については、公式Webサイトをご覧ください。<br>
<div class="Image"><a href="http://eco-pro.com/2018/" title="別ウィンドウで表示します" target="_blank"><img src="/sustainability/images/ecopro2018_bnr.jpg" alt="エコプロ2018公式Webサイト" width="300" height="100"></a>
</div>
</td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>

<h2 class="Header"><span>日本郵政グループの出展内容</span></h2>
<div class="Section">
<p>エコプロ 2018 のテーマゾーン「SDGs EXPO 2018」エリアに出展し、日本郵政グループのSDGs 達成に向けた取り組みを、パネルや実物展示で分かりやすくご紹介するほか、次世代育成プログラム体験イベント等を実施します。</p>
<!-- end .Section --></div>

<h2 class="Header"><span>イベントスケジュール</span></h2>
<div class="Section">
<p>次世代育成プログラム体験イベントとして、日本郵便からは「おてがみ教室」、ゆうちょ銀行からは「金融クイズ」をブース内で下記の時間帯に実施します。<br>
このほか、「郵便局のみまもりサービス」「年賀寄附金配分事業」「JP子どもの森づくり運動」の説明も実施します。</p>
<!-- end .Section --></div>

<div class="Section Table-Border">
<table id="general">
<colgroup>
<col width="34%">
<col width="22%">
<col width="22%">
<col width="22%">
</colgroup>
<thead>
<tr>
<th class="BG-Gray" scope="col"></th>
<th class="BG-Gray" scope="col">12月6日（木曜日）</th>
<th class="BG-Gray" scope="col">12月7日（金曜日）</th>
<th class="BG-Gray" scope="col">12月8日（土曜日）</th>
</tr>
</thead>
<tbody>
<tr><td class="Text-Left">おてがみ教室</td>
<td>11:00から<br>15:30から</td>
<td>11:00から<br>15:30から</td>
<td>11:30から<br>14:00から</td>
</tr>
<tr><td class="Text-Left">金融クイズ</td>
<td>10:30から<br>13:00から</td>
<td>10:30から<br>13:00から</td>
<td>-</td>
</tr>
<tr><td class="Text-Left">郵便局のみまもりサービス</td>
<td>14:00から</td>
<td>14:30から</td>
<td>13:00から</td>
</tr>
<tr><td class="Text-Left">年賀寄附金配分事業</td>
<td>15:00から</td>
<td>14:00から</td>
<td>-</td>
</tr>
<tr><td class="Text-Left">JP子どもの森づくり運動</td>
<td>-</td>
<td>15:00から</td>
<td>-</td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Border --></div>

<div class="Section List-General">
  <ul>
    <li><a href="https://www.schoolpost.jp/" class="Link Popup" target="_blank"><span>手紙の書き方体験授業</span></a>-日本郵便</li>
    <li><a href="https://www.jp-bank.japanpost.jp/education/edc_index.html" class="Link Popup" target="_blank"><span>金融教育</span></a>-ゆうちょ銀行</li>
    <li><a href="https://www.post.japanpost.jp/life/mimamori/" class="Link Popup" target="_blank"><span>郵便局のみまもりサービス</span></a>-日本郵便</li>
    <li><a href="https://www.post.japanpost.jp/kifu/" class="Link Popup" target="_blank"><span>年賀寄附金による社会貢献事業助成</span></a>-日本郵便</li>
    <li><a class="Link" href="/csr/kids/"><span>JP子どもの森づくり運動</span></a></li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header"><span>イベントステージ</span></h2>
<div class="Section">
<p>エコプロ2018の会場内イベントステージでは、最終日の12月8日（土曜日）に、JP子どもの森づくり運動「東北復興グリーンウェイブ」の音楽プログラムが行われます。活動のテーマソングである「♪どんぐりえがお」の作詞・作曲者によるトークショーやバンドによる生演奏に合わせて園児約60名が「♪どんぐりえがお」を元気に歌います。この時間には来場の皆さんと一緒に「ラジオ体操」も行います。</p>
<!-- end .Section --></div>
<div class="Section">
<p>イベントステージについては、エコプロ2018公式Webサイトをご覧ください。<br> <a class="Link Popup" title="別ウィンドウで表示します" href="http://eco-pro.com/2018/event/001287.html"><span>イベントステージ</span></a>（エコプロ2018のWebサイトが開きます）</p>
<!-- end .Section --></div>

<h2 class="Header"><span>小型記念印の押印</span></h2>
<div class="Section">
<p>「おてがみ教室」で作成いただいたはがきのほか、ご持参いただいた郵便物（第一種郵便物および第二種郵便物）を会場内で差し出しいただくと、エコプロ2018オリジナルの小型記念日付印を押印して配達します。<br>
注　エコプロ会場内での押印および切手・はがきの販売は行いません。</p>
<!-- end .Section --></div>

<div class="Section List-General">
  <ul>
    <li><p>プレスリリース（2018年11月30日）<br> <a class="Link" href="/pressrelease/jpn/2018/20181130144919.html"><span>日本郵政グループは「エコプロ2018」に出展します</span></a></p></li>
  </ul>
<!-- end .Section --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/">CSR</a></li>
    <li><a class="Link" href="/csr/topics/">グループCSRのトピックス</a></li>
    <li><a class="Link" href="/csr/movie/">日本郵政グループCSRムービー</a></li>
  </ul>
<!-- end .Section --></div>
