<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>「エンプロイヤーブランド・リサーチ 2019」の金融/保険部門で<br>2年連続で第1位に選ばれました</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section">
<p>日本郵政グループは、「エンプロイヤーブランド・リサーチ 2019」金融/保険部門において、昨年に引き続き第1位に選ばれ、2019年5月15日（水曜日）にランキング上位企業を対象とした授賞式が開催されました。</p>
<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img alt="" src="/sustainability/topics/images/2019_001_img_01.jpg" width="450" />
</div>
<!-- end .Grid-Column --></div>
<!-- end .Section --></div>
<!-- end .Section --></div>

<h3 class="Header"><span>「エンプロイヤーブランド・リサーチ」について</span></h3>
<div class="Section">
<p>「エンプロイヤーブランド・リサーチ」は、「この企業で働きたい（勤務先）」と思われる「企業の魅力」について、世界共通基準での一般の方向け調査に基づく上位企業の表彰が行われるものです。</p>
<p>日本国内での調査は2019年で8回目を迎えます。</p>
<!-- end .Section --></div>

<div class="Section List-General">
<ul>
<li>詳しくは、ランスタッド株式会社のWebサイトをご覧ください。</li>
<li><a href="https://www.randstad.co.jp/award/index.html" class="Link Popup" target="_blank"><span>ランスタッドアワード</span></a></li>
</ul>
<!-- end .Section.List-General --></div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/"><span>日本郵政グループのサステナビリティ</span></a></li>
    <li><a class="Link" href="/csr/index02.html"><span>日本郵政グループCSR基本方針</span></a></li>
    <li><a class="Link" href="/csr/materiality.html"><span>CSR重点課題（マテリアリティ）</span></a></li>
    <li><a class="Link" href="/csr/human/"><span>人と共に</span></a></li>
  </ul>
<!-- end .Section --></div>