<div id="title_box3">
  <div id="csr_main_img_report_sub">
    <h1>日本郵政本社における LEED-CI（2009年版）ゴールド認証の取得</h1>
  </div>
</div>
<!-- /#title_box-->

<div class="Section Col2 TextImageBlock Image-Right">
<div class="Grid-Column Image">
<div class="Image Text-Center">
<img alt="" src="/sustainability/images/evaluation_img_05.jpg" style="width: 200px" />
</div>
<!-- end .Grid-Column.Image --></div>
<div class="Grid-Column Text">
<div class="Box">
<p>日本郵政は、大手町本社移転に際し、世界レベルの環境性能を備えたオフィススペースの導入に取り組み、米国グリーンビルディング評議会の環境性能評価システム「LEED-CI（Commercial Interiors）」（注）2009年版における各カテゴリー（敷地、節水、エネルギー、材料、室内環境、革新性、地域）において合計62ポイントを獲得し、ゴールド認証を取得しました。「LEED-CI」認証取得としては日本最大級となります。<br>
引き続き、日本郵政グループとして、持続可能な社会の実現に取り組んでまいります。</p>
<p>注　LEEDとは、米国グリーンビルディング評議会（USGBC:US Green Building Council）が開発・運用を行っている、建築物と敷地の環境性能評価システムです。</p>
<!-- end .Box --></div>
<!-- end .Grid-Column.Text --></div>
<!-- end .Section.Col2.TextImageBlock.Image-Right --></div>

<div class="Section Col">
<div class="Grid-Column">
<div class="Image Text-Center"><img width="600" alt="" src="/sustainability/topics/images/2019_003_img_02.jpg">
<p class="Caption">LEED GOLD CERTIFICATION</p></div>
<!-- end .Grid-Column --></div>
<!-- end .Section.Col --></div>

<h3 class="Header"><span>取り組み事例（エネルギー効率の最適化）</span></h3>
<div class="Section">
<p>日本郵政では、エネルギー効率の最適化（照明電力）を目指しオフィススペースの全フロアに先進のLED照明設備を設置しました。このLED照明設備の設置等により、米国空調衛生学会の定める省エネ基準に対して30％以上の省エネ性能を実現しています。</p>
<!-- end .Section --></div>

<div class="Section List-General">
<ul>
<li>USGBC（米国グリーンビルディング協議会）のWebサイトにも掲載されています。</li>
<li>Japan Post Holdings Headquarter Project</li>
</ul>
<!-- end .Section.List-General --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/">日本郵政グループのサステナビリティ</a></li>
    <li><a class="Link" href="/csr/topics/">グループCSRのトピックス</a></li>
    <li><a class="Link" href="/csr/environment/">地球と共に</a></li>
  </ul>
<!-- end .Section --></div>