<div id="title_box3">
  <div id="csr_main_img">
    <h1>グループサステナビリティのトピックス</h1>
  </div>
  <p class="explanation2">日本郵政グループサステナビリティのトピックスをご覧いただけます。</p>
</div>
<!-- /#title_box-->

<h2 class="Header"><span>2020年度</span></h2>
<div class="Section Table-Dot">
<table><caption class="Hidden">2020年度グループサステナビリティのトピックス一覧</caption><colgroup> <col style="width: 25%;" /> <col style="width: 75%;" /> </colgroup>
<tbody>
<tr><th scope="row">2021年2月15日</th>
<td><a href="/csr/movie/">日本郵政グループのSDGsの取り組みをご紹介する動画『日本郵政グループとSDGs（英語版）』を掲載しました</a></td>
</tr>
<tr><th scope="row">2020年11月30日</th>
<td><a href="/csr/sdgs/">日本郵政グループのSDGsをご紹介する『SDGs Book』を掲載しました</a></td>
</tr>
<tr><th scope="row">2020年10月5日</th>
<td><a href="/csr/report/">日本郵政グループサステナビリティレポート2020を掲載しました</a></td>
</tr>
<tr><th scope="row">2020年4月22日</th>
<td><a href="/csr/movie/2020_002.html">日本郵政グループのSDGsの取り組みをご紹介する動画『日本郵政グループとSDGs(Vol.2)』を掲載しました</a></td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>

<h2 class="Header"><span>2019年度</span></h2>
<div class="Section Table-Dot">
<table><caption class="Hidden">2019年度グループCSRのトピックス一覧</caption><colgroup> <col style="width: 25%;" /> <col style="width: 75%;" /> </colgroup>
<tbody>
<tr><th scope="row">2020年1月15日</th>
<td><a href="/csr/movie/2020_001.html">日本郵政グループのSDGsをご紹介する動画『日本郵政グループとSDGs』を掲載しました</a></td>
</tr>
<tr><th scope="row">2019年11月29日</th>
<td><a href="/csr/sdgs.html#book">日本郵政グループのSDGsをご紹介する『SDGs Book』を掲載しました</a></td>
</tr>
<tr><th scope="row">2019年11月29日</th>
<td><a href="/csr/environmental_management/index.html">「環境マネジメントシステム」を掲載しました</a></td>
</tr>
<tr><th scope="row">2019年10月31日</th>
<td><a href="/csr/report/">日本郵政グループCSRレポート2019を掲載しました</a></td>
</tr>
<tr><th scope="row">2019年7月17日</th>
<td><a href="/csr/society/estate.html">ＪＰタワー商業施設「ＫＩＴＴＥ」館内と東京駅地下通路における高精度音声ナビゲーション実証実験の実施</a></td>
</tr>
<tr><th scope="row">2019年6月28日</th>
<td><a href="/csr/data/index.html">ESGデータ集「雇用に関するデータ」を更新しました</a></td>
</tr>
<tr><th scope="row">2019年6月10日</th>
<td><a href="/csr/topics/2019_002.html">「エンプロイヤーブランド・リサーチ 2019 ランスタッドアワード」の金融/保険部門で2年連続で第1位に選ばれました</a></td>
</tr>
<tr><th scope="row">2019年6月6日</th>
<td><a href="/csr/kids/report19.html">東北復興グリーンウェイブの植樹会が開催されました</a></td>
</tr>
<tr><th scope="row">2019年5月31日</th>
<td><a href="/csr/kids/report18.html">東北復興グリーンウェイブ植樹会に向けて「見送る会」を開催しました</a></td>
</tr>
<tr><th scope="row">2019年5月30日</th>
<td><a href="/csr/satoyama/report02.html">「JP里山コミュニケーション」活動レポート（2019年5月）を追加しました</a></td>
</tr>
<tr><th scope="row">2019年5月17日</th>
<td><a href="/csr/topics/2019_001.html">岩手県宮古市と福島県伊達市で「東北復興グリーンウェイブ」植樹会を開催します</a></td>
</tr>
<tr><th scope="row">2019年4月26日</th>
<td><a href="/csr/environment/">エネルギー消費量削減目標・削減計画（プロセス型目標）を掲載しました</a></td>
</tr>
<tr><th scope="row">2019年4月22日</th>
<td><a href="/pressrelease/jpn/2019/20190422147012.html" target="_blank">気候関連財務情報開示タスクフォース（TCFD）提言への賛同表明</a></td>
</tr>
<tr><th scope="row">2019年4月1日</th>
<td><a href="/csr/human_rights.html">日本郵政グループ人権方針を掲載しました</a></td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>

<h2 class="Header"><span>2018年度</span></h2>
<div class="Section Table-Dot">
<table><caption class="Hidden">2018年度グループCSRのトピックス一覧</caption><colgroup> <col style="width: 25%;" /> <col style="width: 75%;" /> </colgroup>
<tbody>
<tr><th scope="row">2019年3月8日</th>
<td><a href="/csr/movie/2018_004.html">日本郵政グループ CSRムービーに『ラジオ体操による健康づくり支援』を追加しました</a></td>
</tr>
<tr><th scope="row">2019年3月7日</th>
<td><a href="/csr/movie/2018_003.html">日本郵政グループ CSRムービーに『ゆうちょ銀行の地域コミュニケーション』を追加しました</a></td>
</tr>
<tr><th scope="row">2019年1月31日</th>
<td><a href="/csr/web_report/index.html">日本郵政グループ CSRレポート2018（HTML版）を追加しました</a></td>
</tr>
<tr><th scope="row">2018年12月25日</th>
<td><a href="/csr/topics/2018_004.html">「平成30年度東京都スポーツ推進企業」に認定されました</a></td>
</tr>
<tr><th scope="row">2018年12月21日</th>
<td><a href="/csr/topics/2018_003.html">「エコプロ2018」出展の様子を掲載しました</a></td>
</tr>
<tr><th scope="row">2018年11月30日</th>
<td><a href="/csr/topics/2018_002.html">日本郵政グループは「エコプロ2018」に出展します</a></td>
</tr>
<tr><th scope="row">2018年11月30日</th>
<td><a href="/csr/report/index.html">日本郵政グループ CSRレポート2018を掲載しました</a></td>
</tr>
<tr><th scope="row">2018年11月5日</th>
<td><a href="/csr/report/sdgsbook.html">日本郵政グループのSDGs達成に向けた取り組みをご紹介する「SDGs Book」を掲載しました</a></td>
</tr>
<tr><th scope="row">2018年10月31日</th>
<td><a href="/csr/satoyama/report01.html">「JP里山コミュニケーション」活動レポート（2018年10月）を追加しました</a></td>
</tr>
<tr><th scope="row">2018年9月28日</th>
<td><a href="/csr/esg.html">ESGナビゲーションを追加しました</a></td>
</tr>
<tr><th scope="row">2018年9月28日</th>
<td><a href="/csr/data/">ESGデータ集を追加しました</a></td>
</tr>
<tr><th scope="row">2018年9月10日</th>
<td><a href="/csr/movie/2018_002.html">日本郵政グループ CSRムービーに『くらしを支える郵便局のネットワーク～御蔵島篇～』を追加しました</a></td>
</tr>
<tr><th scope="row">2018年6月29日</th>
<td><a href="/csr/kids/report17.html">福島県伊達市で植樹会が開催されました</a></td>
</tr>
<tr><th scope="row">2018年6月14日</th>
<td><a href="/csr/topics/2018_001.html">「東北復興グリーンウェイブ」記念植樹会を福島県伊達市で開催します</a></td>
</tr>
<tr><th scope="row">2018年6月8日</th>
<td><a href="/csr/movie/2018_001.html">日本郵政グループ CSRムービーに『くらしを支える郵便局のネットワーク』を追加しました</a></td>
</tr>
<tr><th scope="row">2018年5月29日</th>
<td><a href="/csr/kids/report16.html">岩手県宮古市と山田町で植樹会が開催されました</a></td>
</tr>
<tr><th scope="row">2018年5月28日</th>
<td><a href="/csr/materiality.html">日本郵政グループのCSR重点課題（マテリアリティ）を追加しました</a></td>
</tr>
<tr><th scope="row">2018年5月16日</th>
<td><a href="/csr/kids/report15.html">岩手県山田町での植樹会に向けて「苗木を見送る会」を各地で開催</a></td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>

<h2 class="Header"><span>2017年度</span></h2>
<div class="Section Table-Dot">
<table><caption class="Hidden">2017年度グループCSRのトピックス一覧</caption><colgroup> <col style="width: 25%;" /> <col style="width: 75%;" /> </colgroup>
<tbody>
<tr><th scope="row">2018年3月29日</th>
<td><a href="/csr/movie/2017_004.html">日本郵政グループ CSRムービーに『ゆうちょ銀行「金融教育」』を追加しました</a></td>
</tr>
<tr><th scope="row">2018年3月27日</th>
<td><a href="/csr/movie/2017_003.html">日本郵政グループ CSRムービーに『かんぽ生命「かんぽプラチナライフサービス」』を追加しました</a><br />（注）現在、行っていない取り組みや取り扱っていないサービスが含まれています。</td>
</tr>
<tr><th scope="row">2018年3月16日</th>
<td><a href="/csr/kids/report14.html">JP子どもの森づくり運動「東北復興グリーンウェイブ」を運営しているNPO法人がUNDB-Jのオフィシャル・パートナーに任命されました</a></td>
</tr>
<tr><th scope="row">2018年3月7日</th>
<td><a href="/csr/topics/2017_004.html">日本郵政グループは「エンプロイヤーブランド・リサーチ 2018 ランスタッドアワード」の金融/保険部門で一位に選ばれました</a></td>
</tr>
<tr><th scope="row">2018年2月27日</th>
<td><a href="/csr/kids/report13.html">JP子どもの森づくり運動10周年全国集会を開催しました</a></td>
</tr>
<tr><th scope="row">2018年2月2日</th>
<td><a href="/csr/kids/report12.html">東北のドングリの苗畑に食害防止のフェンスを作りました</a></td>
</tr>
<tr><th scope="row">2017年12月20日</th>
<td><a href="/csr/report/index.html">日本郵政グループ CSRレポート2017を掲載しました</a></td>
</tr>
<tr><th scope="row">2017年12月13日</th>
<td><a href="/csr/topics/2017_002.html">「エコプロ2017」出展の様子を掲載しました</a></td>
</tr>
<tr><th scope="row">2017年12月1日</th>
<td><a href="/csr/topics/2017_001.html">日本郵政グループは「エコプロ2017」に出展します</a></td>
</tr>
<tr><th scope="row">2017年9月25日</th>
<td><a href="/csr/kids/report11.html">JP子どもの森づくり運動「東北復興グリーンウェイブ」が国連生物多様性の10年日本委員会（UNDB-J））から連携事業の認定証を授与されました</a></td>
</tr>
<tr><th scope="row">2017年9月13日</th>
<td><a href="/csr/kids/report10.html">「JP子どもの森づくり運動」ナツオワ（夏の終わり）キャンプ2017の模様を掲載しました</a></td>
</tr>
<tr><th scope="row">2017年8月18日</th>
<td><a href="/csr/environment/cool_choice.html">日本郵政株式会社はCOOL CHOICE（クールチョイス）に賛同しています</a></td>
</tr>
<tr><th scope="row">2017年7月31日</th>
<td><a href="/csr/web_report/">日本郵政グループ 社会・環境レポート（HTML版）を追加しました</a></td>
</tr>
<tr><th scope="row">2017年7月7日</th>
<td><a href="/csr/movie/2017_001.html">日本郵政グループ CSRムービーに『「JP子ども森づくり運動」の取り組み』を追加しました</a></td>
</tr>
<tr><th scope="row">2017年7月4日</th>
<td><a href="/csr/kids/activity/">JP子どもの森づくり運動に参加している全国の幼稚園・保育園・こども園の情報を更新しました</a></td>
</tr>
<tr><th scope="row">2017年5月24日</th>
<td><a href="/csr/kids/report09.html">JP子どもの森づくり運動「東北復興グリーンウェイブ」第4回植樹会が開催されました</a></td>
</tr>
<tr><th scope="row">2017年5月18日</th>
<td><a href="/csr/kids/report08.html">JP子どもの森づくり運動「東北復興グリーンウェイブ」苗木を見送る会を各地で開催しました</a></td>
</tr>
<tr><th scope="row">2017年4月27日</th>
<td><a href="/csr/kids/report07.html">JP子どもの森づくり運動「東北復興グリーンウェイブ」ドングリの苗木植え替え活動を行いました</a></td>
</tr>
<tr><th scope="row">2017年4月5日</th>
<td><a href="/csr/movie/2016_002.html">日本郵政グループ CSRムービーに「インクカートリッジ里帰りプロジェクト」を追加しました</a></td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>

<h2 class="Header"><span>2016年度</span></h2>
<div class="Section Table-Dot">
<table><caption class="Hidden">2016年度グループCSRのトピックス一覧</caption><colgroup> <col style="width: 25%;" /> <col style="width: 75%;" /> </colgroup>
<tbody>
<tr><th scope="row">2016年12月21日</th>
<td><a href="/csr/topics/2016_004.html">「エコプロ2016」に出展しました</a></td>
</tr>
<tr><th scope="row">2016年12月16日</th>
<td><a href="/csr/report/">社会・環境レポート 2016年度（平成28年度）版を掲載しました</a></td>
</tr>
<tr><th scope="row">2016年11月28日</th>
<td><a href="/csr/topics/2016_003.html">日本郵政グループは「エコプロ2016」に出展します</a></td>
</tr>
<tr><th scope="row">2016年6月13日</th>
<td><a href="/csr/topics/2016_002.html">「エコライフ・フェア2016」に出展しました</a></td>
</tr>
<tr><th scope="row">2016年6月10日</th>
<td><a href="/csr/kids/report06.html">JP子どもの森づくり運動「東北復興グリーンウェイブ」第3回植樹会が開催されました</a></td>
</tr>
<tr><th scope="row">2016年6月1日</th>
<td><a href="/csr/topics/2016_001.html">「エコライフ・フェア2016」に出展します</a></td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>
<h2 class="Header"><span>2015年度</span></h2>
<div class="Section Table-Dot">
<table><caption class="Hidden">2015年度グループCSRのトピックス一覧</caption><colgroup> <col style="width: 25%;" /> <col style="width: 75%;" /> </colgroup>
<tbody>
<tr><th scope="row">2016年2月26日</th>
<td><a href="/csr/movie/2016_001.html">日本郵政グループ CSRムービーに「エコプロダクツ2015への出展」を追加しました</a></td>
</tr>
<tr><th scope="row">2015年12月21日</th>
<td><a href="/csr/topics/2015/index05.html">「エコプロダクツ2015」に出展しました</a></td>
</tr>
<tr><th scope="row">2015年12月17日</th>
<td><a href="/csr/report/">日本郵政グループ 社会・環境レポート2015を掲載しました</a></td>
</tr>
<tr><th scope="row">2015年12月4日</th>
<td><a href="/csr/topics/2015/index04.html">「エコプロダクツ2015」に出展します</a></td>
</tr>
<tr><th scope="row">2015年7月13日</th>
<td><a href="/csr/movie/">日本郵政グループ CSR動画ムービーを公開しました</a></td>
</tr>
<tr><th scope="row">2015年6月11日</th>
<td><a href="/csr/topics/2015/index03.html">「エコライフ・フェア2015」に出展しました</a></td>
</tr>
<tr><th scope="row">2015年6月2日</th>
<td><a href="/csr/topics/2015/index02.html">「エコライフ・フェア2015」に出展します</a></td>
</tr>
<tr><th scope="row">2015年5月29日</th>
<td><a href="/csr/kids/report05.html">JP子どもの森づくり運動「東北復興グリーンウェイブ」第2回植樹会が開催されました</a></td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>
<h2 class="Header"><span>2014年度</span></h2>
<div class="Section Table-Dot">
<table><caption class="Hidden">2014年度グループCSRのトピックス一覧</caption><colgroup> <col style="width: 25%;" /> <col style="width: 75%;" /> </colgroup>
<tbody>
<tr><th scope="row">2015年2月16日</th>
<td><a href="/csr/topics/2015/index.html">「ゆうせいチャレンジドアート展」を3月13日（金曜日）まで開催しています</a></td>
</tr>
<tr><th scope="row">2014年12月22日</th>
<td><a href="/csr/topics/2014/index02.html">「エコプロダクツ2014」に出展しました</a></td>
</tr>
<tr><th scope="row">2014年11月25日</th>
<td><a href="/csr/kids/report04.html">第3回いきものにぎわい企業活動コンテストで国土緑化推進機構理事長賞を受賞しました</a></td>
</tr>
<tr><th scope="row">2014年5月30日</th>
<td><a href="/csr/kids/report03.html">JP子どもの森づくり運動「東北復興グリーンウェイブ」第1回植樹会が開催されました</a></td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>
<h2 class="Header"><span>2013年度</span></h2>
<div class="Section Table-Dot">
<table><caption class="Hidden">2013年度グループCSRのトピックス一覧</caption><colgroup> <col style="width: 25%;" /> <col style="width: 75%;" /> </colgroup>
<tbody>
<tr><th scope="row">2014年2月3日</th>
<td><a href="2014">「みんなで体験活動ワールド」に出展しました</a></td>
</tr>
<tr><th scope="row">2013年12月16日</th>
<td>
<p><a href="/csr/topics/2013">「エコプロダクツ2013」に出展しました</a><br /> ※ワークショップでまいていただいたドングリの状況が、運営協力いただいた団体（NPO法人　子どもの森づくり推進ネットワーク）のWebサイトに掲載されました。</p>
<p><a href="http://kodomono-mori.net/" title="別ウィンドウで表示します" class="Link Popup"><span>NPO法人　子どもの森づくり推進ネットワーク</span></a></p>
</td>
</tr>
</tbody>
</table>
<!-- end .Section.Table-Dot --></div>

<h2 class="Header">関連情報</h2>
<div class="Section List-General">
  <ul>
    <li><a class="Link" href="/csr/">日本郵政グループのサステナビリティ</a></li>
    <li><a class="Link" href="/csr/movie/">日本郵政グループCSRムービー</a></li>
    <li><a class="Link" href="/csr/kids/">JP子どもの森づくり運動</a></li>
  </ul>
<!-- end .Section.List-General --></div>
