<div id="title_box">
  <div id="csr_main_img_position">
    <h1>ESGナビゲーション</h1>
  </div>
</div>
<!-- /#title_box-->

<p class="Category Lead">日本郵政グループの持続的な成長と中長期的な企業価値の創出のため、ソーシャルカンパニーとして、E（環境）・S（社会）・G（ガバナンス）課題について、重要な課題であると認識し、その解決に向け取り組んでいます。</p>

<div class="Section List-General">
  <ul>
    <li><a class="Link Inner" href="#sec01">サステナビリティ・マネジメント（全般）</a></li>
    <li><a class="Link Inner" href="#sec02">E:環境（環境マネジメントシステム／気候変動／汚染と資源／水の使用／生物多様性）</a></li>
    <li><a class="Link Inner" href="#sec03">S:社会（人権／顧客に対する責任／サプライチェーン／雇用／労働基準／健康・安全／コミュニティ投資／責任投資）</a></li>
    <li><a class="Link Inner" href="#sec04">G:ガバナンス（コーポレートガバナンス／コンプライアンス／リスク管理／情報セキュリティ／消費者課題／情報開示／投資家とのコミュニケーション）</a></li>
    <li><a class="Link Inner" href="#sec05">メディアライブラリ</a></li>
  </ul>
<!-- end .Section.List-General --></div>

<h2 class="Header" id="sec01">サステナビリティ・マネジメント（全般）</h2>
<div class="Section List-General">
  <ul class="EsgNavi-List">
    <!--<li><a href="xxxxx" class="Link"><span>トップメッセージ</span></a></li>-->
    <li><a href="/sustainability/sustainability_management/policy.html#policy" class="Link"><span>日本郵政グループサステナビリティ基本方針</span></a></li>
    <li><a href="/sustainability/sustainability_management/policy.html#promote" class="Link"><span>日本郵政グループサステナビリティ推進体制</span></a></li>
    <li><a href="/sustainability/sustainability_management/materiality.html" class="Link"><span>日本郵政グループCSR重点課題（マテリアリティ）</span></a></li>
    <li><a href="/sustainability/sustainability_management/initiative.html" class="Link"><span>イニシアチブへの参画</span></a></li>
    <li><a href="/sustainability/sustainability_management/sdgs.html" class="Link"><span>SDGs達成に向けた取り組み</span></a></li>
    <li><a href="/sustainability/sustainability_management/targets.html" class="Link"><span>サステナビリティ経営の推進</span></a></li>
    <li><a href="/sustainability/sustainability_management/engagement.html" class="Link"><span>ステークホルダーエンゲージメント</span></a></li>
    <li><a href="/sustainability/library/evaluation/" class="Link"><span>外部からの評価等</span></a></li>
  </ul>
</div>

<h2 class="Header" id="sec02">E: 環境（環境マネジメントシステム／気候変動／汚染と資源／水の使用／生物多様性）</h2>
<div class="Section List-General">
  <h3 class="Header">環境マネジメントシステム</h3>
  <ul class="EsgNavi-List">
    <li><a href="/sustainability/environmental_management/#policy" class="Link"><span>具体的な推進方針</span></a></li>
    <li><a href="/sustainability/environmental_management/#system" class="Link"><span>環境マネジメント体制</span></a></li>
    <li><a href="/sustainability/environmental_management/#ghgchallenge" class="Link"><span>目標・計画・コスト</span></a></li>
    <li><a href="/sustainability/sustainability_management/initiative.html#tcfddisclosures" class="Link"><span>外部と協働した取り組み（TCFD提言・COOL CHOICEへの賛同）</span></a></li>
  </ul>
  <h3 class="Header">気候変動</h3>
  <ul class="EsgNavi-List">
    <li><a href="/sustainability/library/data/#emissions" class="Link"><span>温室効果ガス排出量・エネルギー消費量</span></a></li>
    <!-- <li><a href="/sustainability/data/#goal" class="Link"><span>目標に対する進捗状況</span></a></li> -->
    </ul>
    <h3 class="Header">汚染と資源／水の使用</h3>
  <ul class="EsgNavi-List">
    <li><a href="/sustainability/library/data/#resource" class="Link"><span>廃棄物排出量・リサイクル量・コピー用紙使用量・水使用量</span></a></li>
    </ul>
    <h3 class="Header">生物多様性</h3>
    <ul class="EsgNavi-List">
    <li><a href="/sustainability/environment/kodomono_mori/green_wave.html" class="Link"><span>JP子どもの森づくり運動「東北復興グリーンウェイブ」</span></a></li>
    </ul>
    <h3 class="Header">サステナビリティ活動</h3>
    <ul class="EsgNavi-List">
      <li><a href="/sustainability/environment/" class="Link"><span>地球と共に</span></a></li>
    </ul>
</div>

<h2 class="Header" id="sec03">S: 社会（人権／顧客に対する責任／サプライチェーン／雇用／労働基準／健康・安全／コミュニティ投資／責任投資）</h2>
<div class="Section List-General">
  <h3 class="Header">人権</h3>
  <ul class="EsgNavi-List">
    <li><a href="/sustainability/sustainability_management/human_rights.html" class="Link"><span>日本郵政グループ人権方針</span></a></li>
  </ul>
  <h3 class="Header">顧客に対する責任</h3>
  <ul class="EsgNavi-List">
    <li><a href="/corporate/fiduciary/" class="Link"><span>お客さま本位の業務運営に関する基本方針</span></a></li>
  </ul>
  <h3 class="Header">サプライチェーン</h3>
  <ul class="EsgNavi-List">
    <li><a href="/procurement/index03.html" class="Link"><span>日本郵政グループの調達活動に関する考え方</span></a></li>
    <li><a href="/procurement/pdf/procurement_guideline.pdf" class="Link PDF"><span>日本郵政グループCSR調達ガイドライン</span></a></li>
  </ul>
  <h3 class="Header">雇用</h3>
  <ul class="EsgNavi-List">
    <li><a href="/sustainability/library/data/social/#employee" class="Link"><span>従業員数・非正規社員比率・採用数・新卒社員定着率</span></a></li>
  </ul>
  <h3 class="Header">労働基準</h3>
  <ul class="EsgNavi-List">
    <li><a href="/sustainability/library/data/social/#women" class="Link"><span>女性管理職比率・女性社員比率・有給休暇取得率等</span></a></li>
    <li><a href="/sustainability/library/data/social/#work" class="Link"><span>育児休業・介護休業・時間外労働削減状況</span></a></li>
    <li><a href="https://www.tollgroup.com/about/social-responsibility/people"class="Link Popup"><span>トールホールディングスにおけるコミットメント</span></a></li>
  </ul>
  <h3 class="Header">健康・安全</h3>
 <ul class="EsgNavi-List">
    <li><a href="/sustainability/library/data/social/#safety" class="Link"><span>労働災害発生状況</span></a></li>
    <li><a href="/sustainability/library/data/social/#transport" class="Link"><span>運輸にかかる安全研修の実施</span></a></li>
    <li><a href="/ir/library/disclosure/2021/pdf/26.pdf" class="Link PDF"><span>運輸安全に係る目標・実績</span></a></li>
  </ul>
  <h3 class="Header">コミュニティ投資</h3>
  <ul class="EsgNavi-List">
  <li><a href="/sustainability/environment/kodomono_mori/" class="Link"><span>JP子どもの森づくり運動</span></a></li>
  <li><a href="/sustainability/environment/satoyama/" class="Link"><span>JP里山コミュニケーション</span></a></li>
  <li><a href="/sustainability/society/local_communities/#fund" class="Link"><span>地域活性化ファンドへの参加</span></a></li>
  <li><a href="/sustainability/environment/resources/#eco" class="Link"><span>環境保全団体への寄附「ゆうちょ エコ・コミュニケーション」</span></a></li>
  <li><a href="/sustainability/environment/resources/#paperless" class="Link"><span>「ご契約のしおり・約款」のWeb閲覧提供による環境保全への貢献</span></a></li>
  </ul>
  <h3 class="Header">責任投資</h3>
  <ul class="EsgNavi-List">
    <li><b>国連責任投資原則(PRI)への署名（かんぽ生命保険）</b><a href="https://www.jp-life.japanpost.jp/news/archives/pdf/20171027osirase.pdf" class="Link PDF"><span>国連責任投資原則への署名</span></a></li>
    <li><a href="https://reporting.unpri.org/surveys/PRI-reporting-framework-2019/9E0AC195-E173-42AC-B5F4-DBE95EA7D428/79894dbc337a40828d895f9402aa63de/html/2/?lang=jp&a=1"class="Link Popup"><span>PRI Transparency Report 2019</span></a></li>
    <li><b>ESG投資とスチュワードシップ・コードへの対応（かんぽ生命保険）</b><a href="https://www.jp-life.japanpost.jp/aboutus/csr/responsible_investment/" class="Link Popup"><span>ESG投資とスチュワードシップコードへの対応</span></a></li>
    <li><b>集団的エンゲージメント活動（かんぽ生命保険）</b><a href="http://www.seiho.or.jp/info/news/2018/20181130.html" class="Link Popup"><span>スチュワードシップ活動ワーキング・グループ参加会社による集団的エンゲージメントの実施</span></a>
      <br>※一般社団法人生命保険協会のサイト</li>
    <li><b>ESG投資への取り組み</b></li>
    <li><a href="https://www.jp-bank.japanpost.jp/sustainability/environment/esg/investment/index.html" class="Link Popup"><span>ESG投資方針</span></a>-ゆうちょ銀行</li>
    <li><a href="https://www.jp-life.japanpost.jp/aboutus/csr/responsible_investment/esg.html" class="Link Popup"><span>ESG投資方針</span></a>-かんぽ生命保険</li>
  </ul>
  <h3 class="Header">サステナビリティ活動</h3>
  <ul class="EsgNavi-List">
    <li><a href="/sustainability/society/" class="Link"><span>地域社会と共に</span></a></li>
    <li><a href="/sustainability/human/" class="Link"><span>人と共に</span></a></li>
  </ul>
</div>

<h2 class="Header" id="sec04">G:ガバナンス（コーポレートガバナンス／コンプライアンス／リスク管理／情報セキュリティ／消費者課題／情報開示／投資家とのコミュニケーション）</h2>
<div class="Section List-General">
  <h3 class="Header">コーポレートガバナンス（グループ・ガバナンス）</h3>
  <ul class="EsgNavi-List">
    <li><a href="/corporate/management/philosophy.html" class="Link"><span>グループ経営理念・経営方針</span></a></li>
    <li><a href="/corporate/management/governance/index02.html" class="Link"><span>コーポレートガバナンスに関する基本的な考え方</span></a></li>
    <li><a href="/corporate/management/governance/" class="Link"><span>コーポレートガバナンス体制の概要</span></a></li>
    <li><a href="/ir/library/disclosure/2021/pdf/19.pdf" class="Link PDF"><span>各会議体の概要及び取締役会等の運営状況</span></a></li>
    <li><a href="/ir/library/disclosure/2021/pdf/19.pdf" class="Link PDF"><span>取締役の報酬制度</span></a></li>
    <li><a href="/group/governance/pdf/02_06.pdf" class="Link PDF"><span>取締役の選任方針</span></a></li>
    <li><a href="/corporate/about/officers/index06.html" class="Link"><span>取締役の略歴</span></a></li>
    <li><a href="/sustainability/library/data/social/#women" class="Link"><span>女性役員比率等</span></a></li>
    <li><a href="/ir/stock/meetings/" class="Link"><span>株主総会（報告事項、決議事項、議決権行使の結果報告書）</span></a></li>
    <li><a href="/group/governance/pdf/02_02.pdf" class="Link PDF"><span>内部統制システムに関する基本的な考え方</span></a></li>
  </ul>
  <h3 class="Header">コンプライアンス</h3>
  <ul class="EsgNavi-List">
    <li><a href="/ir/strategy/index11.html" class="Link"><span>グループのコンプライアンス態勢</span></a></li>
    <li><a href="/ir/strategy/index11.html" class="Link"><span>グループ各社のコンプライアンス態勢</span></a></li>
    <li><a href="/ir/strategy/index11.html" class="Link"><span>マネー・ローンダリング及びテロ資⾦供与対策への取り組み</span></a></li>
    <li><a href="/ir/strategy/index11.html" class="Link"><span>内部通報制度</span></a></li>
    <li><a href="/corporate/control/privacy.html#Groupprivacy" class="Link"><span>グループ・プライバシーポリシー</span></a></li>
    <li><a href="/corporate/control/declaration.html" class="Link"><span>反社会的勢力との関係遮断について</span></a></li>
  </ul>
  <h3 class="Header">リスク管理</h3>
  <ul class="EsgNavi-List">
    <li><a href="/ir/strategy/index12.html" class="Link"><span>グループのリスク管理態勢</span></a></li>
    <li><a href="/ir/strategy/index12.html" class="Link"><span>グループ各社のリスク管理態勢</span></a></li>
    <li><a href="/ir/strategy/index06.html" class="Link"><span>事業等のリスク</span></a></li>
  </ul>
  <h3 class="Header">情報セキュリティ</h3>
  <ul class="EsgNavi-List">
    <li><a href="/corporate/values/securitydeclaration.html" class="Link"><span>情報セキュリティ宣言</span></a></li>
  </ul>
  <h3 class="Header">消費者課題</h3>
  <ul class="EsgNavi-List">
    <li><a href="/corporate/fiduciary/" class="Link"><span>お客さま本位の業務運営に関する基本方針</span></a></li>
    <li><a href="/corporate/control/coi.html" class="Link"><span>日本郵政グループにおける利益相反管理方針</span></a></li>
  </ul>
  <h3 class="Header">情報開示</h3>
  <ul class="EsgNavi-List">
    <li><a href="/ir/policy/" class="Link"><span>ディスクロージャーポリシー</span></a></li>
    <li><a href="/ir/" class="Link"><span>株主・投資家のみなさまへ</span></a></li>
    <li><a href="/sustainability/library/data/" class="Link"><span>ESGデータ集</span></a></li>
  </ul>
  <h3 class="Header">投資家とのコミュニケーション</h3>
  <ul class="EsgNavi-List">
    <li><a href="/ir/library/presentation/" class="Link"><span>プレゼンテーション・説明会</span></a></li>
    <li><a href="/ir/investor/" class="Link"><span>個人投資家のみなさまへ</span></a></li>
  </ul>
</div>

<h2 class="Header" id="sec05">メディアライブラリ</h2>
<div class="Section List-General">
  <ul class="EsgNavi-List">
    <li><a href="/ir/library/disclosure/" class="Link"><span>統合報告書・ディスクロージャー誌</span></a></li>
    <li><a href="/sustainability/library/report/" class="Link"><span>日本郵政グループ サステナビリティレポート</span></a></li>
    <li><a href="/sustainability/library/sdgs/" class="Link"><span>SDGs Book</span></a></li>
    <li><a href="/sustainability/library/movie/" class="Link"><span>サステナブルムービー</span></a></li>
  </ul>
</div>


<h2 class="Header">関連情報</h2>
<div class="Section List-General">
<ul>
<li><a class="Link" href="/sustainability/"><span>日本郵政グループのサステナビリティ</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/policy.html"><span>日本郵政グループの方針・考え方・体制</span></a></li>
<li><a class="Link" href="/sustainability/sustainability_management/materiality.html"><span>日本郵政グループのCSR重点課題（マテリアリティ）</span></a></li>
</ul>
</div>

